[2021-12-20 16:59] mcannamela commented on #1462
Here's a twist:
[code]

[code]

[code]

dialect spark3
sqlfluff, version 0.9.0
Python 3.8.12

It correctly realizes that table alias `t` is unused, then the fix removes the column aliases as well, which are used.

Is this actually a separate issue?

[2021-12-20 18:40] kevinmarsh opened #2146 "Postgres - Parsing failure for function names starting with _"
## Expected Behaviour

Similar to issue #1742, in Postgres the function's `name` in a `CREATE FUNCTION...` can start with an underscore

## Observed Behaviour

[code]

## Steps to Reproduce

[code]

## Dialect

Postgres

## Version

[code]

[2021-12-20 18:49] jpy-git commented on #2146
@kevinmarsh, makes sense looks like the PR #1765 that resolved #1742 didn't update the `FunctionNameIdentifierSegment`: https://github.com/sqlfluff/sqlfluff/blob/1ad0cebb1ddf72b65725b23bee59568523065523/src/sqlfluff/dialects/dialect_ansi.py#L296

Should be a fairly quick fix to override the ANSI `FunctionNameIdentifierSegment` in Postgres in the same way that #1765 did for `ParameterNameSegment`.

[2021-12-21 11:58] tunetheweb opened #2150 "L057 incompatible with BigQuery"
In L057 we added a rule to check for non-alphanumeric characters in identifiers.

Either the parser, or this rule needs some tweaking for BigQuery.

Most dialects create parse trees like this for table references:

[code]

So rule L057 makes sense.

For BigQuery table_references are enclosed in a backticks and can also have a star at the end, either way this is parsed as a single identifier:

[cod

[2021-12-21 12:23] jpy-git commented on #2150
@tunetheweb I'm pretty sure the quotes already get stripped in the rule so it'll just be the star. I think the approach is just allow alphanumeric + star for bigquery 👍

Is it just the star that's extra?

[2021-12-21 12:23] tunetheweb commented on #2150
Actually it looks like it does handle the back ticks as quotes, so it's just the star that's the problem.

[2021-12-21 12:23] tunetheweb commented on #2150
Jinx!

[2021-12-21 12:36] ciklista commented on #2140
I assume that this is very similar, if not the same problem as https://github.com/sqlfluff/sqlfluff/issues/2113

[2021-12-21 12:37] tunetheweb commented on #2150
It's also the dots in the table references. PR coming up...

[2021-12-21 13:04] #1805 closed

[2021-12-21 13:46] aa0910 commented on #1953
@jpy-git the version upgrade for sqlfluff did not resolve this issue. Did anything work for you regarding this issue? Appreciate any help!

[2021-12-21 13:49] mcannamela commented on #2134
Is this still the correct issue to follow/contribute under for "don't fix what you can't parse", or is there a separate one?

It's burned me a few times now that `fix` bravely rearranges the code when it would be better to cowardly refuse to touch the file at all. Sometimes it corrupts the query so that it won't execute, but other times the query still runs by chance, which is worse.

The context

[2021-12-21 14:04] jpy-git commented on #2134
@mcannamela, the two main places to consider are:
1) Where we apply fixes to the parse tree over multiple iterations: https://github.com/sqlfluff/sqlfluff/blob/9010e41b3b063bfc5b5a2411261d07a66234aec5/src/sqlfluff/core/linter/linter.py#L419
That's where fixes get applied to the parse tree and can cause the parse tree issues described above.
2) Where we persist the fixed tree into a string (that th

[2021-12-21 14:13] mcannamela opened #2152 "VALUES clause fails to parse in spark3"
## Expected Behaviour
`VALUES` clauses should parse, and correctly identify the subsequent literals.

## Observed Behaviour
Parsing succeeds with one record and no alias, but treats it as a function call: `...VALUES (...);`
Parsing fails when using an alias: `...VALUES (...) as (...);`
Parsing fails when using multiple records: `...VALUES (...), (...)...(...);`

## Steps to Reproduce
See this exam

[2021-12-21 14:20] kdw2126 opened #2153 "SQLFluff cannot parse valid "UNPIVOT INCLUDE NULLS" syntax in BigQuery dialect"
## Expected Behaviour
Queries can include UNPIVOT INCLUDE NULLS or UNPIVOT EXCLUDE NULLS along with UNPIVOT when using BigQuery as a dialect, because these commands are included [in the official BigQuery syntax](https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax#unpivot_operator).

## Observed Behaviour
When I run `sqlfluff lint```, I get the parsing error: "Found unparsabl

[2021-12-21 15:05] #2153 closed

[2021-12-21 15:40] #2150 closed

[2021-12-21 15:43] barrywhart commented on #2134
If we want to prevent SQLFluff from modifying code that won't parse, all we need to do is change [this line](https://github.com/sqlfluff/sqlfluff/blob/main/src/sqlfluff/core/rules/base.py#L268) to `False`:

[code]

There are currently 4 rules which already specify `False` for this. We could remove those lines to tidy things up:
[code]

[2021-12-21 15:47] mcannamela commented on #2134
^^ That would be my lazy/dumb-guy approach

I'm not sure I followed how discarding fixes _within_ unparseable segments is adequate. Once you fail to parse some piece of the file, can you really be guaranteed to correctly parse (or fix) anything after that? Or do I misunderstand @jpy-git and your intended change is to discard any fixes subsequent to a parse error?

I'm confused because these seem l

[2021-12-21 15:53] jpy-git commented on #2134
@barrywhart, why isn't `_works_on_unparsable = False` the default in BaseRule?
What are the situations in which we want to try and mess with unparseable segments?
Feel like those should be the exceptions not the default.

Also note that `_works_on_unparsable = False` is not enough to prevent all parsing related lint issues.
e.g. in the original unparseable query in this issue it would parse to:
![

[2021-12-21 16:23] barrywhart commented on #2134
It's been set to `True` for as long as I remember. @alanmcruickshank  may know why. My guess is, in the early days of the project, the emphasis was on trying to be useful, but now the project is more popular, we're starting to shift towards safety. (I agree with this shift.)

Thanks for the info about how the flag works -- I didn't know it only applies to specific unparseable areas of the code

[2021-12-21 16:37] jpers36 opened #2160 "L003 not working as expected for multi-line statements"
I would expect that L003 does not remove hanging indents altogether, although it might standardize them.

## Expected Behaviour

The following statement is unchanged, or at least retains a hanging indent of some sort.

[code]

## Observed Behaviour

[code]

## Steps to Reproduce

Lint the above

## Dialect

tsql

## Version

sqlfluff: latest main
Python 3.9.7

## Configuration

default for this te

[2021-12-21 17:01] jpy-git commented on #2134
@barrywhart @alanmcruickshank I've raised a PR #2161 to set `_works_on_unparsable = False` by default. That should fix the majority of situations.

It still wouldn't fix the situation I mentioned [here](https://github.com/sqlfluff/sqlfluff/issues/2134#issuecomment-998894057) but to fix that I would actually suggest a stricter approach to handling parsing/templating errors when applying fixes.
Cons

[2021-12-21 17:03] jpy-git commented on #2134
mypy is similar:
- raises type errors for parseable:
![image](https://user-images.githubusercontent.com/80432516/146969721-0a5d5588-826a-40dc-9c31-888de42b31f9.png)
- only raises syntax (parse) error for unparseable:
![image](https://user-images.githubusercontent.com/80432516/146969785-8f8f7910-c405-44a7-844f-d0a5afabeb51.png)

[2021-12-21 17:05] jpy-git commented on #2134
and again for flake8:
- parseable raises lint errors:
![image](https://user-images.githubusercontent.com/80432516/146970001-d9b7a92a-4623-410b-ae28-9ad93497a25d.png)
- unparseable only raises a syntax error:
![image](https://user-images.githubusercontent.com/80432516/146970082-61bcb2d5-b1b0-4613-a34d-ce6fc22545e4.png)

[2021-12-21 17:06] jpy-git commented on #2134
Think those set a pretty strong precedent for adopting the strict approach for both `sqlfluff lint` and `sqlfluff fix`

[2021-12-21 17:14] tunetheweb commented on #2134
I'm not as convinced @jpy-git 😁 Especially for `lint`.

I just worry that unparsable sections are far too common for SQLFluff at the moment and this would exclude a lot of lintable (and potentially fixable) errors in files because of one line of syntax that we haven't added yet.

I'd be willing to bet all those examples don't get daily issues on unparsable, like we do.

But on `fix` I could be mor

[2021-12-21 17:39] barrywhart commented on #2134
I'm okay allowing fixes to unparsable code, but would prefer that the default behavior would _not_ do that. I'd rather people see and complain about dialect issues than to have their SQL corrupted. In other words, "fail safe" is the default behavior.

My rationale is that the more popular the project becomes, the larger the percentage of less technical users becomes, e.g. data scientists, analysts

[2021-12-21 18:02] mcannamela commented on #2134
As a user, +1 to @barrywhart 's sentiment

This tool is excellent and it will save me much more time if it just explodes when it can't parse 2 out of 20 files rather than send me backtracking through my commit history to find the place where it made an unsafe change, especially since it could leave me with valid but wrong SQL. I can easily address failures I know about by hand, and shunt the time-

[2021-12-21 19:12] #2146 closed

[2021-12-21 19:19] wong-codaio opened #2164 "Snowflake: Parse create table statement with `organization` as column causes unparsable exception"
Snowflake: Using `organization` as column name in a `CREATE TABLE` statement causes runtime exception when parsing.

## Expected Behaviour

SQLFluff parse runs without issues.

## Observed Behaviour

Unparsable section found:
[code]

## Steps to Reproduce

1. Create a file with the following content:
[code]
2. Run `sqlfluff parse <file> --dialect snowflake`

## Dialect

Snowflake

## Version

SQLF

[2021-12-21 19:26] tunetheweb commented on #2164
Organization is a semi-reserved word in Snowflake https://docs.snowflake.com/en/sql-reference/reserved-keywords.html

But we don't really have that concept in SQLFluff so have it down as a full reserved word, meaning it can't be used in a column name.

Since the reservation seems kind of light:

we should probably just removed it from our reserved word list and pretend it isn\t a reserved word at

[2021-12-21 19:33] wong-codaio commented on #2164
Right - Should the failure be triggered by a linting rule, rather than failing parsing?

[2021-12-21 19:36] tunetheweb commented on #2164
Checking of reserved words currently happens as part of parsing. It's basically invalid SQL that can't be parsed if you use a reserved word.

It's a good question if if _should_ just accept this as part of parsing, and have a separate linting rule to ensure reserved words aren't used as identifiers,  but that's not the way it currently works.

[2021-12-21 19:48] jpy-git commented on #2164
Just put it as a non_reserved_keyword

[2021-12-21 20:26] jpy-git commented on #2134
@barrywhart So just to be clear, so we can make this actionable:
- You agree with me that we should raise an error for any parsing/templating errors in a file and not apply fixing in the style of black/mypy/flake8?
- If we want to aim for less technical users, then why add an option to fix unparsable code? Users will find a way to enable it and start creating issues that we'll still have to suppor

[2021-12-21 20:32] jpy-git commented on #2134
yamllint:
parseable: raises lints
![image](https://user-images.githubusercontent.com/80432516/146993711-92f3bfb0-d462-4ed5-a3f3-6611f0f20af1.png)
unparseable: only syntax error
![image](https://user-images.githubusercontent.com/80432516/146993804-c093098b-0eb0-497c-b357-2db96f3a34e9.png)

[2021-12-21 21:15] alanmcruickshank opened #2165 "Using `pivot` as a CTE name raises unparsable error"
## Expected Behaviour

This completely valid snowflake query should parse fine:

[code]

## Observed Behaviour

`sqlfluff lint` raises:

[code]

...however if the query is changed to...

[code]

...then no issues is raised.

This leads to the conclusion that the classification of `pivot` as a keyword is being a little over-zealous at the moment.

## Dialect

Snowflake dialect.

## Version

Confirm

[2021-12-21 21:31] juhoautio commented on #2134
Coming back to the point about how black ensures "deterministic changes or nothing" (https://github.com/sqlfluff/sqlfluff/issues/2134#issuecomment-997205602), I happened to come across the source. It's pretty readable in the source code itself:
https://github.com/psf/black/blob/7c94ed61a55f8ae0c60737cbc6cfee3b5066ce11/src/black/__init__.py#L1348-L1361

As an example of hitting that in real life, h

[2021-12-21 21:55] juhoautio commented on #2104
I just noticed that there's some overlapping doc in https://github.com/sqlfluff/sqlfluff/blob/main/test/fixtures/dialects/README.md and that is maybe also a bit outdated. Should that README.md be deleted maybe? On the other hand it could be nice to get rid of the wiki entirely so that developers can find all these instructions in the local repo without having to visit the wiki separately.

\+ One

[2021-12-21 22:09] tunetheweb commented on #2134
So it looks like black gets everything in one pass. So a if a second pass produces a different result then it's an error. Nice and simple.

SQLFluff takes a slightly different approach (and not saying this is the right or wrong one btw), as discussed above, where certain rules deliberately do not do the full fix (e.g. just slot a new word in without worrying about whitespace, as another rule will

[2021-12-21 22:14] tunetheweb commented on #2104
I think a README is expected of any open source project, but I also think a wiki can be nice for longer form howtos, with a clickable Table of Contents and inline images that a README isn’t the best for (particularly when read in a code editor).

So while there is indeed some overlap my preference is to keep both, but cross link them.

[2021-12-21 22:21] juhoautio commented on #2134
Just want to clarify that I wasn't necessarily saying that. I don't think I'm educated enough to form an actual opinion, at least at the current stage of SQLFluff. Maybe it depends on the level of coverage for dialects and so on. But sure, in an ideal situation eventually I would warmly welcome fully deterministic behavior :)

Right, so with just 10% additional cost to the execution time, SQLFluff

[2021-12-21 22:30] juhoautio commented on #2104
Hmm.. did you comment considering the README at the root of the repo? I wasn't suggesting to remove that. I meant the README.md in the dialects subfolder.

Anyway my suggestion would be to do one of these:
1. Delete https://github.com/sqlfluff/sqlfluff/blob/main/test/fixtures/dialects/README.md, add to wiki if there is something worth keeping
2. Get rid of the wiki & move those docs to the repo. I

[2021-12-21 22:54] barrywhart commented on #2134
Yes.

I'm okay without this. I was mainly making the point that, if this capability is valuable, we could make it optional rather than removing it completely. At this time, I'm +1 for removing it completely but open to discussion.

Same, I think.

[2021-12-21 22:59] barrywhart commented on #2134
About the "10 vs 11" discussion, that value is configurable, and you can make it as high as you want. We've had a few rules which were dumb, like they'd move some code one line at a time, and if it needed to move 20 lines, that would require 20 passes.

I found and updated one such rule. There _may_ be others. I would say that as a long-term goal, we try and avoid creating rules like that, and fix

[2021-12-21 23:12] barrywhart commented on #2134
@jpy-git: Much earlier in the discussion, [you asked about the behavior of L006, L031, and L016 ](https://github.com/sqlfluff/sqlfluff/issues/2134#issuecomment-997195047)on a particular query. Should we create a separate issue for that? This discussion bounced around a lot, and I couldn't quite follow it all without 🤯.

[2021-12-21 23:25] juhoautio opened #2168 "New dialect: AWS Athena"
Is there interest in adding a dialect for [AWS Athena](https://docs.aws.amazon.com/athena/latest/ug/ddl-sql-reference.html)?

As a workaround one can get somewhere by applying hive dialect on Athena queries, but it's not perfect.

So, probably a lot of code could be borrowed from hive dialect implementation.

For DML queries Athena dialect is basically a subset of Presto. But SQLFluff doesn't curr

[2021-12-22 06:04] rsampaths16 opened #2169 "[L027] Not working properly when identifier aliases with same name"
It works as expected for the following minimal SQL query
[code]

It works as expected for the following minimal SQL query
[code]

It doesn't work as expected for the following minimal SQL query when the alias name is same as the identifier
[code]

## Expected Behaviour
[code]

## Observed Behaviour
[code]

## Steps to Reproduce
Copy the samples to scripts and trigger `sqlfluff lint buggy.sql`

##

[2021-12-22 06:25] rsampaths16 commented on #2169
Potential root cause: resolves to false on unqualified identifier having same name in column aliases
https://github.com/sqlfluff/sqlfluff/blob/5d1d578358fd6f3dfc5bc00cc1f774c0961e7c44/src/sqlfluff/rules/L027.py#L47-L53

[2021-12-22 07:57] NiklasMolin commented on #2145
@tunetheweb really sorry. Guessing you closed it because I manage to create it without the description. Adding it now, could we reopen? Or did you have another reason for closing it?

[2021-12-22 07:58] tunetheweb commented on #2145
Nope that was reason. Thought it had been opened in error to be honest!

[2021-12-22 08:55] BorePlusPlus commented on #1927
I can pinpoint this to commit related to Snowflake dialect improvements (https://github.com/sqlfluff/sqlfluff/pull/1737). If I install a version that doesn't include this code (e.g. 0.7.1), queries parse without a problem.

After it, if I use `account` as a table name or alias, unparsable section errors are raised.

[2021-12-22 15:37] mcannamela commented on #2152
Hm, suspicious comment [here](https://github.com/sqlfluff/sqlfluff/blob/c540632c654d719b4f5507f6925b398716bcb42b/src/sqlfluff/dialects/dialect_ansi.py#L1852), though I confess I'm not sure I understand what it's getting at.

But the definition of `ValuesClauseSegment` looks right to my untrained eye.

[2021-12-22 16:34] BorePlusPlus commented on #2165
I think there may have been some issues introduced at the last improvement of Snowflake dialect. I am experiencing similar issues when using `account` as a name and it gets picked up as a keyword. See: https://github.com/sqlfluff/sqlfluff/issues/1927

On the other hand, I just saw that you say you have the issue with `0.7.0` as well. In my case downgrading to `0.7.1` (version prior to Snowflake di

[2021-12-22 16:41] BorePlusPlus commented on #2164
There seems to be a few issues regarding reserved words in Snowflake lately. For example #1927 and #2165

[2021-12-22 16:47] jpy-git commented on #2164
@BorePlusPlus that's because Snowflake doesn't have a well defined list of Reserved vs Non-reserved keywords (https://docs.snowflake.com/en/sql-reference/reserved-keywords.html) so they were likely initially conservatively placed in reserved_keywords.

If you're interested in contributing you can fix this very easily by moving the responsible words from `snowflake_reserved_keywords` to `snowflake_

[2021-12-22 17:55] mcannamela commented on #2152
I have it partly working with changes [here](https://github.com/mcannamela/sqlfluff/blob/7607a1cc8c5255e1b6c8a46b711f5dcd129a5a48/src/sqlfluff/dialects/dialect_spark3.py#L787), with CI [here](https://github.com/mcannamela/sqlfluff/actions/runs/1612455382).

[code]
parses correctly
[code]

fails, for reasons I don't understand.

[2021-12-22 23:02] jpy-git commented on #2169
Ahh yep think I see the problem there, will pull together a PR

[2021-12-23 03:14] deanja commented on #2140
Thanks for spotting that.  Will close this - it might be useful as a test case.

[2021-12-23 03:14] #2140 closed

[2021-12-23 03:44] ifitis23 opened #2178 "Test Phase"
## Expected Behaviour

## Observed Behaviour

## Steps to Reproduce

## Dialect

## Version
Include the output of `sqlfluff --version` along with your Python version.
If you are using dbt then please additionally include the dbt version.

## Configuration
[code]

[2021-12-23 13:18] BorePlusPlus commented on #2164
I see you already started a task @jpy-git, but hit an obstacle. I'd like to help, but not sure how.

[2021-12-23 13:26] jpy-git commented on #2178
@ifitis23 this makes no sense?

Closing

[2021-12-23 13:26] #2178 closed

[2021-12-23 14:32] juhoautio opened #2180 "Document how tests are organized"
As a contributor I would like to find a high level doc about how the tests are organized.

For dialects there is already some helpful documentation in the [Contributing Dialect Changes wiki page](https://github.com/sqlfluff/sqlfluff/wiki/Contributing-Dialect-Changes#adding-test-cases-for-your-changes).

Other than that, the big picture is missing. Is it worth documenting that for contributors? I t

[2021-12-23 16:38] tdstark opened #2186 "ALTER GROUP statements are unparsable"
The following statement is unparsable:
`ALTER GROUP test_group ADD USER "test.user";`

## Expected Behaviour
The aforementioned statement should be parsable.

## Observed Behaviour
The aforementioned statement is not parsable.

## Steps to Reproduce

## Dialect
ANSI/Redshift

## Version
`0.9.0`

## Configuration
Default configuration

[2021-12-23 16:43] jpy-git commented on #2186
@tdstark when I originally made the PR to add this statement the docs weren't very clear as to whether or not the user/groups could be quoted: https://docs.aws.amazon.com/redshift/latest/dg/r_ALTER_GROUP.html

Could you quickly confirm for me if the group name can also be quoted please?
[code]

[2021-12-23 17:07] tdstark commented on #2186
I ran a quick test and users and groups can both be quoted. I think it's as easy as changing `NakedIdentifierSegment` to `ObjectReferenceSegment`.

[2021-12-23 17:09] jpy-git commented on #2186
@tdstark makes sense, you want to take it? (happy to do it if not 😄)

[2021-12-23 17:09] tdstark commented on #2186
I've got it!

[2021-12-23 17:22] jpy-git commented on #2168
Sounds cool, the more dialects the merrier 👍

@barrywhart @tunetheweb out of curiosity do we have threshold of syntax coverage for adding a new dialect to the project?
i.e. doesn't make sense to merge a new dialect in if it only has 2 statements added since users would likely get confused that it doesn't match the actual syntax, but obviously its also unreasonable to expect everything in the initi

[2021-12-23 18:32] barrywhart commented on #2168
I'm not aware of anything. Perhaps we could merge the PR but not add the dialect to the docs.

[2021-12-23 21:06] jpy-git commented on #2186
This was fixed by @tdstark s PR #2188 💪

Closing

[2021-12-23 21:06] #2186 closed

[2021-12-24 19:26] jpy-git commented on #1997
Assigning this to myself as I need to do a general tidy up of the multi-character operators to fix @swanderz issue above plus a similar issue I'm encountering building out the MySQL expressions.

Will add the operator spacing fix to L039

[2021-12-25 23:42] barrywhart commented on #1808
Following up the JSONPath idea mentioned earlier, I found a package called `awesome-pattern-matching` and updated one rule (`L041`) to use it. It seems promising enough that I included it in the PR mentioned earlier (#2126). I suggest we try using it for some other rules (new or existing) to see how good a fit it is. If we find a similar package we like better, it shouldn't be too hard to switch.

[2021-12-26 10:14] tunetheweb commented on #2168
My personal preference is to get started even with one statement. Adding a dialect is a bit more intimidating than adding a statement. Once it's added, even with only a little difference than a current dialect, I think it's more likely we'll get some more contributions. So no minimum for me — quite the reverse, I'd rather contributors did NOT hold up adding until they felt they had enough.

[2021-12-26 12:44] jpy-git commented on #2168
makes sense, was just checking 👍

[2021-12-26 13:53] #2164 closed

[2021-12-26 13:53] #2165 closed

[2021-12-26 14:17] tlfbrito commented on #2113
I've this issue when using `is_incremental` from DBT

[2021-12-26 14:30] #2169 closed

[2021-12-26 16:26] jpers36 opened #2199 "TSQL PREDICT functionality"
## Expected Behaviour

TSQL parses PREDICT statements:

https://docs.microsoft.com/en-us/sql/t-sql/queries/predict-transact-sql?view=sql-server-ver15

## Observed Behaviour

I have not tested, but I see no reference to PREDICT in the TSQL codebase.  The ANSI segment MLTableExpressionSegment seems to be comparable.

## Dialect

TSQL

[2021-12-26 16:29] jpers36 opened #2200 "TSQL: dialect-specific FunctionContentsGrammar"
## Expected Behaviour

TSQL has a dialect-specific FunctionContentsGrammar.

## Observed Behaviour

TSQL relies on an ANSI-defined grammar which does not fully represent TSQL's functionality.

## Dialect

TSQL

[2021-12-26 16:32] jpers36 opened #2201 "TSQL: dialect-specific AlterTableStatementSegment"
## Expected Behaviour

TSQL has a dialect-specific AlterTableStatementSegment which correctly represents the dialect's functionality.

## Observed Behaviour

TSQL relies on an ANSI-specific segment which does not fully represent TSQL functionality.

## Dialect

TSQL

[2021-12-27 16:29] barrywhart commented on #1799
Nested `CASE` statements could be used as an alternative to `AND`, e.g.:
[code]

[2021-12-27 17:55] landier opened #2202 "Failing with no violation found but templating errors"
SQLFluff is failing without finding any violation nor fixing any file but finds `templating error`. What are those?

## Expected Behaviour
Since SQLFluff is not touching the file I'm running `pre-commit run --files` against, I would not expect it to fail.

## Observed Behaviour
[code]

## Steps to Reproduce
Given a file like this one:
[code]

## Dialect
Snowflake

## Version
Sqlfluff pre-commit ho

[2021-12-27 18:04] tunetheweb commented on #2202
Run `sqfluff lint` on the file and it’ll show the templating lines it’s struggling with.

However I would guess the issue is that you seem to be using dbt, but have not set the templater from the default of `jinja` to `dbt` in your config.

[2021-12-28 01:59] 808sAndBR commented on #2117
I have dug into this a good bit today and have narrowed it down to being an issue with how the reordering works from Rule LO34. (I have added an example in the issue description where this can be triggered without having parenthesis in the macro)

As far as I can tell, lines with macros have something where they override changes that would be applied to their compiled versions, however LO34's reor

[2021-12-28 09:59] landier commented on #2202
Thanks. Sorry for the dumb question, I do not use sqlfluff directly but only via the pre-commit hook.

Indeed the `sqlfluff lint` told me more and it's actually failing because of DBT stuff in the Jinja template:
[code]

Unfortunately, I can't switch to the DBT templater, it's too tigthly coupled with a local DBT. That breaks our setup.

Thanks again!

[2021-12-28 09:59] #2202 closed

[2021-12-28 15:14] aa0910 commented on #2117
thank you @808sAndBR which version of dbt are you using? I am using the latest 1.0.0 and sqlfluff does not seem to run with it.

[2021-12-28 15:14] tdstark opened #2204 "Redshift cannot parse `CREATE TABLE AS` Statement"
The following query is unparsable:
[code]
This is due to the fact that `DISTKEY` and `SORTKEY` are not part of the `CREATE TABLE AS` statement in Postgres. This will need to be built out in Redshift.

## Expected Behaviour
The query ought to be parsable.

## Observed Behaviour
The query is not parsable.

## Steps to Reproduce
Run `sqlfluff lint file.sql` with the above query.

## Dialect
Redshift

[2021-12-28 16:37] ahladkyi-spd opened #2206 "Parsing errors for snowflake syntax"
Getting parsing errors on snowflake queries

[code]

## Expected Behaviour
No errors, since it is a valid syntax

## Observed Behaviour
[code]

## Steps to Reproduce
`sqlfluff lint --dialect snowflake --ignore linting`
## Dialect
snowflake

## Version
sqlfluff version
0.9.0

## Configuration
default

[2021-12-28 17:18] aa0910 commented on #2065
@tekumara I updated my dbt version to 1.0.0 and am facing the same error as noted by you [here](https://pythonissues.com/issues/1841837#). Wanted to checkin if there is a solution to this? My sqlfluff version is 0.9.0. Appreciate any help. Thank you

[2021-12-28 20:44] aa0910 commented on #2117
@808sAndBR thanks a lot for looking into this. This workaround works well for me as well.

[2021-12-28 21:50] jpers36 opened #2209 "L006/TSQL: rule wants to split certain compound comparison operators"
This is caused by #1965.

## Expected Behaviour

L006 does not flag/fix the following code:

[code]

## Observed Behaviour

L006 changes the code to
[code]

## Dialect

tsql

## Version

latest main

[2021-12-28 21:51] jpers36 commented on #2209
@jpy-git would #2197 fix this?

[2021-12-28 21:54] jpy-git commented on #2209
@jpers36 yeah that'll be fixed by that PR. Should have some time to finish it off later this week 👍

[2021-12-29 13:11] #2204 closed

[2021-12-29 13:30] hugohjerten commented on #2113
Experiencing the same error when running with setup described below. Like @tlfbrito mentioned, the error is triggered when the model being linted contains the macro `is_incremental`.

[code]

[2021-12-29 16:53] jpy-git commented on #2032
Reopening as this still doesn't seem to include all of the SQL files

[2021-12-29 17:00] jpy-git commented on #2032
In addition to the vendored fix I added in the previous PR, Linguist also filters out non `programming` languages from its statistics: https://github.com/github/linguist/blob/master/docs/overrides.md#detectable

According to those docs we can override this with: `*.sql linguist-language=SQL linguist-detectable` in `.gitattributes`.
Annoyingly I can't test it locally as the `github-linguist` shell

[2021-12-29 17:21] #2032 closed

[2021-12-29 18:21] jpy-git commented on #2032
Yay looks good now 😎
![image](https://user-images.githubusercontent.com/80432516/147692111-2bd430db-8520-401c-a5a8-3fc3f18d15b6.png)

[2021-12-29 19:05] kdw2126 commented on #2113
I'm also experiencing this issue on a DBT 1.0.0 set-up w/ SQLFluff 0.9.0 on OS X.

[2021-12-29 22:07] barrywhart commented on #2066
@jpy-git: Have you created the related issue yet? Wondering if we can close this one.

[2021-12-30 13:14] kostek-pl commented on #2113
I can also confirm this issue
dbt 1.0.0, sqlfluff 0.9.0, sqlfluff-templater-dbt 0.9.0

Problem occurs when {% if is_incremental() %} is used in model - then dbt needs to set up a connection to a database in order to check if condition should be applied or not.

[2021-12-30 17:09] alanmcruickshank commented on #361
I like that idea - we'd have to be a little careful on how we set the defaults so that they're dialect aware - but that feels like a nice suggestion on how to implement this.

[2021-12-30 17:10] nialloriordan commented on #2113
Converting the templater from `dbt` to `jinja` is a temporary fix.

[2021-12-30 19:10] barrywhart commented on #1799
I've got a preliminary implementation of this rule in a [branch](https://github.com/barrywhart/sqlfluff/tree/bhart-issue_1799_simplify_nested_cases). It builds on some unmerged work (PR #2126), so this new rule won't be completed until that other PR reviewed and merged.

The approach I took for implementing it is to look for `CASE`/`ELSE` where the thing inside the `ELSE` is itself a `CASE` statem

[2021-12-31 21:42] barrywhart commented on #2117
SQLFluff tries to avoid making changes inside templated code. The existing logic works well for rules that fix code "in place". It can make mistakes with fixes that move code around.

IIUC, the policy is based on whether the "anchor" segment of a fix is inside a templated region. We may need to look at expanding this, e.g. to look at all the segments touched by a fix, not just the anchors. This is

[2021-12-31 21:45] #2066 closed

[2021-12-31 21:50] barrywhart commented on #2046
Another update: we decided not to change the parser, but the work in PR #2126, once it is merged, will provide nicer ways of working with collections of segments and raw/templated slices, and that's what is needed to fix this issue. (To be clear, it's possible to fix it now, but it'll be much easier then.)

[2021-12-31 21:54] barrywhart commented on #1952
I think there was some discussion on another issue that L034 can cause issues like this. I suspect this is a duplicate of that issue. If you haven't already, try disabling that rule for now. Eventually, SQLFluff should do a better job of ignoring fixes that touch templated code.

[2021-12-31 22:03] barrywhart commented on #1701
No response received. Cannot reproduce. Closing.

[2021-12-31 22:03] #1701 closed

[2021-12-31 22:05] barrywhart commented on #1265
No answers from OP. Closing.

[2021-12-31 22:05] #1265 closed

[2021-12-31 22:06] barrywhart commented on #1165
No response from OP. Closing.

[2021-12-31 22:06] #1165 closed

[2021-12-31 22:11] barrywhart commented on #714
I think this has been addressed.

[2021-12-31 22:11] #714 closed

[2022-01-01 10:54] klyusba opened #2219 "New Dialect: Vertica"
Vertica is popular enterprise-level DBMS with columnar storage. Vertica has simple dialect with a few features over ANSI SQL.
Thanks

[2022-01-01 14:11] barrywhart commented on #2117
Note this is a core SQLFluff issue, not specific to the dbt templater. I reproduced the first issue today using the jinja templater:
[code]

`.sqlfluff`:
[code]

[2022-01-01 15:12] barrywhart commented on #2117
Heh, I think there are several bugs here. I made some improvements to the "does this touch templated code" check, but there are still issues. I think L034 may be "seeing" the newline in the macro definition and doing something weird. Very cool bug! I'll do my best to find and solve all the issues here, but it may take a few days. 😅

[2022-01-01 15:13] #2000 closed

[2022-01-01 19:17] barrywhart opened #2221 "Evaluate use of awesome-pattern-matching package to simplify rule writing"
Related to/part of #1808

As discussed in #1808, some rules might be easier to write if we had a pattern-matching capability.

Python 3.10 adds a built-in pattern matching feature , and there is a backport (although the backport looks new and kind of unofficial). From my evaluation, the built-in pattern matching is okay but not as powerful as I'd hoped, e.g. it doesn't support patterns with both l

[2022-01-01 19:19] barrywhart commented on #2221
In evaluating the package, I created a new extension class that's useful for patterns that span multiple levels (i.e. segments and their children). Pasting that code here for safekeeping:
[code]

[2022-01-01 19:20] barrywhart commented on #2221
Prototype -- rewrite of rule L017 using the package:
[code]

[2022-01-01 19:21] barrywhart commented on #2221
Prototype -- rewrite of rule L041 using the package:
[code]

[2022-01-01 19:24] barrywhart commented on #2221
Prototype -- rewrite of rule L049 using the package:
[code]

[2022-01-01 19:24] barrywhart commented on #2221
Prototype -- rewrite of rule L052 using the package:
[code]

[2022-01-01 19:26] barrywhart commented on #2221
Prototype -- initial version of the rule described in #1799 using the package (not fully functional, but a cool example of a pattern that spans parse tree levels):
[code]

[2022-01-01 19:43] barrywhart commented on #2221
Here's a section I'd initially added to `rules.rst` before we decided to defer using this package:
[code]

[2022-01-01 20:25] #2209 closed

[2022-01-02 01:04] jpy-git commented on #2102
Looks like there's not much interest in this and as described above we don't think this is needed so closing

[2022-01-02 01:04] #2102 closed

[2022-01-03 11:47] wong-codaio commented on #2206
@jpy-git @tunetheweb - Have been thinking about how to fix the `ALTER TABLE MYTABLE RENAME COLUMN MYCOLUMN1 TO MYCOLUMN2;` reported here - Wanted to get you guys' thoughts on the approach before I go in.

tl;dr Start implement a Snowflake-specific AlterTableStatement, mirror after grammar defined in [Snowflake's doc](https://docs.snowflake.com/en/sql-reference/sql/alter-table.html)

**Context**
1.

[2022-01-03 12:41] tunetheweb commented on #2206
Sounds good to me. Only ask is that if only implementing some of the grammar then add a TODO comment to explain that.

[2022-01-03 14:04] tunetheweb commented on #2219
Alway happy to take on new dialects @klyusba but IMHO these are best added by people who use that dialect, understand its differences, and have access to an instance to check syntax. Would you be up for submitting a PR to add this dialect? You could base it on #1453 where we added SQLite with only a small change from ANSI. Then you can grow the dialect as needs be in future PRs.

[2022-01-03 14:18] tdstark opened #2224 "MySQL: Dialect cannot parse `INTERVAL -30 DAYS`"
## Expected Behaviour
The following statement ought to be parsable:
[code]

## Observed Behaviour
The statement is not parsable and it throws the following error:
`Found unparsable section: ', | INTERVAL -30 DAY'`

## Steps to Reproduce
Lint the statement using `sqlfluff lint test.sql --dialect=mysql`

## Dialect
`mysql`

## Version
`0.9.0`

## Configuration
Default

[2022-01-03 14:38] jacopofar opened #2225 "Confusing config path behavior"
I'm not sure whether this is a documentation issue or a bug.

I'm trying to parse a query using a custom config with some placeholders defined. I want to do it programmatically but for the moment I try to get it to work as a CLI operation.

I want to use SQLFluff to parse SQL files from other projects, so it's essential for me to specify a configuration for the whole "scanning project" and not dif

[2022-01-03 15:08] #1799 closed

[2022-01-03 21:56] #2117 closed

[2022-01-03 22:32] tdstark opened #2228 "Checks for Data Type Capitalization"
Currently, the following query is not flagged as problematic by SQLFluff:
[code]

This ought to be flagged as problematic due to capitalization inconsistency.

[2022-01-03 22:39] barrywhart commented on #1952
@aa0910: You didn't provide the definition of the `get_geo()` macro, so we can't reproduce this, but this issue looks similar to #2117, which was fixed today in GitHub (PR #2220) and is expected to be released this week. Can you please test and see if it addresses this issue as well?

[2022-01-03 22:40] barrywhart commented on #1952
Probably a duplicate of #2117, as noted above.

[2022-01-03 22:54] barrywhart commented on #1953
@aa0910: I am having technical issues and am unable to reproduce this on my system (M1 Mac, Python 3.9, dbt 1.0.0).

Can you please provide complete logging output from the failure? That will help us track down the issue. (You can enable logging output by adding the option `-vvvv` to your `sqlfluff lint` or `sqlfluff fix` command.

[2022-01-03 22:55] barrywhart commented on #2117
@808sAndBR, @aa0910: This is fixed now. We're planning a new release in the next couple of days which will include the fix.

[2022-01-03 23:57] aa0910 commented on #1952
@barrywhart thank you for looking into this. Yes, disabling L034 worked fine for me as well in my code.

[2022-01-04 00:25] barrywhart commented on #1952
I was actually asking if the PR _fixes_ the issue (so you wouldn't have to disable L034 anymore). You can test this now by using the code in the `main` branch on GitHub, or wait and test the upcoming release later this week.

[2022-01-04 01:07] tinder-albertyue commented on #2145
Attempted to add the `create external table` parsing over at https://github.com/sqlfluff/sqlfluff/pull/2229

[2022-01-04 02:03] barrywhart commented on #1952
Pretty sure this is a duplicate of #2117. Please reopen or create a new issue if this is not the case.

[2022-01-04 02:03] #1952 closed

[2022-01-04 02:04] barrywhart commented on #2056
Looks like a duplicate of #2117, which was fixed today.

[2022-01-04 02:04] #2056 closed

[2022-01-04 02:13] barrywhart commented on #2051
Interesting issue. I agree that L031 will need changes, but let's try and think about a more general, long-term fix.

My thoughts: when a rule is copying content from one place to another, this should be captured as part of the LintFix object somehow. With this information, we can enhance the logic added in #2117  to prevent copying content out of a templated area.

This could be adding position i

[2022-01-04 13:08] hugohjerten commented on #2113
@nialloriordan True! However, when switching to `jinja` I'm experiencing an issue that seems to have been encountered before (see https://github.com/sqlfluff/sqlfluff/issues/335), namely when a custom macro includes a reference to another macro and `SQLFluff` doesn't recognise that...  Which is supposedly solved by the `dbt` templater🤦 (see https://github.com/sqlfluff/sqlfluff/pull/508).

For exam

[2022-01-04 14:24] nialloriordan commented on #2113
@hugohjerten yes you're right the `dbt` templater is very useful and hopefully, this issue will be fixed shortly 😢  I had the same issue as you and the only short term solution I had was to add my custom macro to `sqlfluff:templater:jinja:macros` until the dbt template is fixed.

For example, If I had a custom macro named `my_custom_labels` and a boolean parameter `output_schema` I could manually

[2022-01-04 14:30] jan-benisek opened #2232 "L10 rule in pyproject.toml is ignored"
## Expected Behaviour

So I am configuring the linter using `pyproject.toml`. I want all key words UPPERCASE.
[code]
When I run lint and fix
[code]

on this file:
[code]

I expect this:
[code]

## Observed Behaviour
The linter gives no warning about rule L10
[code]

And this is the result
[code]

**IF** I use `.sqlfluff` with this:
[code]
everything works as it should

## Steps to Reproduce
See ab

[2022-01-04 14:38] nialloriordan commented on #2113
It looks like [this issue](https://github.com/sqlfluff/sqlfluff/issues/2113) is being addressed in [this PR](https://github.com/sqlfluff/sqlfluff/pull/2230) if you want to track progress.

[2022-01-04 16:23] barrywhart commented on #365
@NiallRees, @alanmcruickshank: This is the rule we were discussing in the meeting.

[2022-01-04 16:56] jpy-git commented on #2232
Pretty sure for `pyproject.toml` you should be using:
[code]

the `tool.` prefix is standard for `pyproject.toml` and there's also a note on it in the docs: https://docs.sqlfluff.com/en/stable/configuration.html

[2022-01-04 20:14] #2228 closed

[2022-01-04 23:24] #1909 closed

[2022-01-04 23:45] 808sAndBR commented on #2117
@barrywhart This is awesome!! Thanks so much for digging into this and getting it sorted out ❤️

[2022-01-05 00:21] #2051 closed

[2022-01-05 01:28] barrywhart commented on #2064
@ianepreston: I'm getting parse errors from this query. Are you seeing these as well? If I add parentheses around the `ON` clauses, it parses okay:
[code]

With the parse errors fixed, I get the following result from running `sqlfluff fix`, which I think is correct.
[code]

I agree this is a bug, just wanted to confirm you're seeing the parse error, also thinking this may be a lower priority issue

[2022-01-05 01:31] Ben-A-Canva opened #2235 "Syntax error when using DBT Jinja variable with Snowflake + DBT"
When linting a file containing the following section of code, the sqlfluff slicer includes the `alternate_code` segment which breaks the dbt compile run.

[code]
The generated SQL is:
[code]
Resulting in ```SQL compilation error: syntax error line 3 at position 21 unexpected '659'.``` In Snowflake's query history.

From debugging, i've found that the templater slicer is adding in the `alternate_co

[2022-01-05 02:04] barrywhart commented on #1462
@mcannamela: That looks like a separate issue, because this one is talking about nested `SELECT` queries.

[2022-01-05 05:37] jan-benisek commented on #2232
That worked, thanks!
The documentation is not very clear in this regard. Otherwise great job, starting to really like the library.

[2022-01-05 05:37] #2232 closed

[2022-01-05 08:54] tunetheweb commented on #2232
Any suggestions on how to make the documentation clearer @jan-benisek ?

[2022-01-05 09:55] jan-benisek commented on #2232
@tunetheweb
Firstly, I want to say they this is a great tool, the documentation is already better than average and I know that supporting open source is a tough work. I do not criticise, only trying to help you.

I do not know whether this is possible (and it is probably late), but having the same syntax (dots and "tools") for `.sqlfluff` and `pyproject.toml` would be great.

It would be nice to r

[2022-01-05 10:18] imjamesku opened #2237 "Postgres dialect: parse error for "on delete" and "on update" in column constraint"
## Expected Behaviour
Sqlfluff parses column constraints with "on delete" and "on update" clause.

## Observed Behaviour
Sqlfluff throws a parse error
[code]

## Steps to Reproduce
Parse this file:
[code]

## Dialect
postgres
## Version
sqlfluff, version 0.9.0

## Configuration
[code]

[2022-01-05 11:07] tunetheweb commented on #2232
Wow lot there! 😀 I was hoping there was a simple thing we could do to make the toml set up more obvious, but seems like there's some deeper concerns here!

Yup, get that, whatever we can do to improve is good for everyone

I think it is covered here: https://docs.sqlfluff.com/en/stable/configuration.html#default-configuration as @jpy-git stated. And it has some examples - though not the full confi

[2022-01-05 11:28] #2109 closed

[2022-01-05 16:37] NiallRees commented on #2113
It is - thanks Niall!

[2022-01-05 18:36] jpy-git commented on #2235
@barrywhart may be of interest on your current corruption fix tear 😄

[2022-01-05 18:40] jpy-git commented on #2206
@wong-codaio a very sensible plan 👍

[2022-01-05 18:54] barrywhart commented on #2235
This seems to be the part that causes the failure:
[code]

I'm thinking this area of the code isn't handling the case where a `{% set %}` block uses template substitution.

[2022-01-05 18:56] tunetheweb commented on #2235
I was thinking it was more to do with #2236 and referencing an inset variable in the mean time?

[2022-01-05 19:13] barrywhart commented on #2235
This particular Jinja macro is using `target`, but the failure here would happen regardless of what's inside the `{{ }}`. So the user may also be facing #2236, but there's definitely a bug in the template-related components.

I was just looking into the templating aspect. This may be a tricky bug, or it may be a really easy one. I'll create a PR with an experimental change for the user to try. Tha

[2022-01-05 19:19] barrywhart commented on #2235
@Ben-A-Canva: I took a quick look at this issue, and I  _may_ have a fix for it. Could you test out this PR? #2240

It makes some changes to the underlying templating components of SQLFluff.

Let me know if it fixes your issue. If it _doesn't_ fix your issue, can you provide a more complete test case? For now, I'm testing with the following model file:
[code]

And it renders as:
[code]

which does

[2022-01-05 22:12] barrywhart commented on #2235
After further testing, my quick fix attempt is flawed. I'm digging further into it. A more complete test case would still be helpful. 💯

[2022-01-05 23:00] Ben-A-Canva commented on #2235
Hi Barry, thanks for taking a look at this so quickly :) I tested out that PR but I'm still getting the hex numbers :(
After a bit more debugging i think the issue might stem from the `run_query` macro. Here's a test case that fails for me:
[code]

If i comment out the line with `run_query` everything seems to work. It also seems like `select max...` is run twice in snowflake. The first time corre

[2022-01-06 00:05] barrywhart commented on #2235
I think there are two issues here:
* Incorrect handling when a `{% set %}` block contains a `{{ }}` block, which is this line of your test case: `  from snowflake_db.{{ target.target_name }}__raw._test_table`.
* In order to "understand" the structure of a Jinja or dbt template, SQLFluff needs to build and execute an alternate version of the template (with the hex values you've noticed).

The first

[2022-01-06 00:17] barrywhart commented on #2235
I wonder if there's a way to configure things so during SQLFluff linting, you use different config values than in production. I'm thinking your model file, when run in "lint mode", would execute differently, skipping the steps that don't work in SQLFluff, e.g. `run_query()`.

[2022-01-06 08:23] jan-benisek commented on #2232
Agree, no need to repeat. Once place with example is more than enough. The point I have, and will iterate on it later, is that I am missing full description of what are all the possible values in the config and to which group they belong.

Exactly, not obvious and you cannot search for it anywhere on the docs. Search through code base is probably not an option if I need a quick fix.
I think that t

[2022-01-06 08:23] jan-benisek commented on #2232
Agree, no need to repeat. Once place with example is more than enough. The point I have, and will iterate on it later, is that I am missing full description of what are all the possible values in the config and to which group they belong.

Exactly, not obvious and you cannot search for it anywhere on the docs. Search through code base is probably not an option if I need a quick fix.
I think that t

[2022-01-06 14:48] NiallRees opened #2244 "Suppress dbt logs and warnings when using --format github-annotation"
Sometimes, running:
[code]

Can result in the first couple of output lines being logs which break the annotations, for example:
[code]

## Version
dbt 1.0.0, SQLFLuff 0.9.0

[2022-01-06 16:09] barrywhart commented on #811
Hi @pwildenhain -- I'm looking at this now. Sorry for the long delay!

Questions about core list:
* Not sure about including L028 as a core rule. In places I've worked, it's common to add them only if they become ambiguous. (I think this is how analysts and data scientists would want to work.)
* I wouldn't include L052, since most of our users use dbt, and this practice is not a good fit for dbt.

[2022-01-06 17:05] mcannamela commented on #1462
thanks, i'll raise it as such

[2022-01-06 18:11] barrywhart commented on #1077
I have a PR with a possible fix for this.

In addition to the changes in the PR, it requires a slight change to the macro that calls another macro. You must add a Jinja `from ... import` directive, as described in the post below.

https://stackoverflow.com/questions/19002290/how-to-use-macros-in-a-included-file/45024799

For example, in the example GitHub repo linked in the description, I had to a

[2022-01-06 20:23] rileyrunnoe commented on #2064
The bigquery dialect is also showing this error where the alias resolution becomes incorrect.

An aliased table in the overall selection but without a specific reference to that alias is removed, but the alias reference in the subquery still remains. This results in invalid bigquery sql.

Unfixed SQL:
[code]

"Fixed" SQL:
[code]

[2022-01-06 22:31] ianepreston commented on #2064
@barrywhart Thanks for following up. I do get a parse error as well if I run sqlfluff.parse on the statement:

[code]

Not to derail the topic, but should sqlfluff ensure it can parse a statement before it fixes it? Or at least issue a warning if it can't? I didn't think to run parse before running fix so I didn't get any error or warning that there might be issues.

Thanks very much.

[2022-01-06 22:41] barrywhart commented on #2064
Yes, I think we are planning to change that. Often, applying fixes to SQL that won't parse does something useful, but overall it's too risky, and this is a good example of why. There's some recent discussion about it here: https://github.com/sqlfluff/sqlfluff/issues/2134

[2022-01-06 23:05] barrywhart opened #2247 "Need a standard process for creating ".yml" test files (e.g. for Jinja templater tests)"
The code itself looks something like this, similar if not identical to that in `test/generate_parse_fixture_yml.py`.
[code]

To clarify, the script mentioned above creates `.yml` files for the familiar dialect tests under `test/fixtures/dialects/`. We need a similar, easy way to create the files in `test/fixtures/templater` (i.e. the ones for the Jinja templater tests).

[2022-01-06 23:24] #1077 closed

[2022-01-06 23:43] ianepreston commented on #2064
You're way ahead of me. Thanks for the response!

[2022-01-07 00:06] NiallRees commented on #2113
I'm having to pause work on the linked PR for a few days. If anyone would like to continue the development, please feel free!

[2022-01-07 00:44] jpy-git commented on #2113
Following up on @NiallRees' point, I believe he's addressed the underlying issue but there's some complications around building out the corresponding test cases atm.

What would be really helpful from some of the people on this thread who have experienced this issue would be if you could test out his branch and confirm here if it fixes the issue for you?

You can install sqlfluff from his branch t

[2022-01-07 01:31] barrywhart opened #2248 "Create a Docker Compose environment to help SQLFluff developers run the dbt templater tests locally"
PR #2230 updates the dbt tests to require a Postgres server and a database connection.

This is currently not possible on M1 Macs due to the inavailability of the `psycopg2` database driver package not yet being available. Even on other platforms, requiring a database to be set up can be onerous -- what if you can't get the right version? Or what if you already have Postgres installed and are usin

[2022-01-07 01:34] barrywhart commented on #2248
I have a messy but working Docker Compose dev environment set up for my local SQLFluff development. I'm happy to work on this ticket or share the files I have so far. (Not uploading them now, because it's kind of a big, sprawling mess that would need some tidying before sharing.)

[2022-01-07 06:52] cwcartmell opened #2249 "Fixing files using the dbt_utils.surrogate_key function results in compiled code being inserted into model definitions"
I noticed this issue while formatting a much more complex query than the one presented here. In different queries that I managed to get to display the same problem the offending line was not necessarily always directly after the jinja that it's compiled from. It also doesn't appear to matter what error is discovered and fixed. I used an indentation error in this example, but other ones seem to do

[2022-01-07 11:48] hugohjerten commented on #2113
@jpy-git I can install `sqlfluff` at that specific revision, but installing the plugin `sqlfluff-templater-dbt` (which is pretty vital for testing the PR) at that revision is proving difficult... 🙈

[2022-01-07 11:55] jpy-git commented on #2113
@hugohjerten yeah you're right, my suggestion above only installs the main package sorry 😅 Let me see if there's a way to specify to install from a git subdirectory as well

[2022-01-07 12:03] jpy-git commented on #2113
@hugohjerten please see my updated `pip install` command to install sqlfluff-templater-dbt [here](https://github.com/sqlfluff/sqlfluff/issues/2113#issuecomment-1007049580) 👍

[2022-01-07 12:10] hugohjerten commented on #2113
I managed to try it out, and it worked for me! @jpy-git when using poetry, I did it in [another way](https://github.com/sqlfluff/sqlfluff/pull/2230#issuecomment-1007357009) :)

[2022-01-07 12:26] jpy-git commented on #2235
@barrywhart does #2240 close this?

[2022-01-07 12:28] jpy-git commented on #2249
Thanks for raising this @cwcartmell!

@barrywhart has being doing a lot of work to fix similar issues since the last release so I wonder if this has already been fixed? Looks similar to #1952 and #2056. Maybe another test case to look at 😄

[2022-01-07 12:32] jpy-git commented on #2248
Thanks @barrywhart would def be great to get this setup 😄 Feel free to create a draft PR when you're happy with sharing your starting point and we can take a look 👍

[2022-01-07 12:38] barrywhart commented on #2249
Yes, this should be fixed in the next release. If you want to confirm before the release, you can test with the latest code in `main`.

[2022-01-07 12:43] barrywhart commented on #2235
@jpy-git: This is the issue I mentioned yesterday where there are two things happening. See this [comment](https://github.com/sqlfluff/sqlfluff/issues/2235#issuecomment-1006174928) above for more details. My PR fixes the first thing. The second thing is not fixed, and really can't be fixed with the current design of `JinjaTracer`. My advice would either be to use flags to skip the problematic code

[2022-01-07 12:43] #2235 closed

[2022-01-07 13:15] barrywhart commented on #2249
I'm going to go ahead and close this. Please let us know if the next release doesn't fix it. (I think it'll be coming out in the next week or so.)

[2022-01-07 13:15] #2249 closed

[2022-01-07 13:38] mcannamela opened #2251 "L025 incorrectly removes column aliases"
First mentioned in https://github.com/sqlfluff/sqlfluff/issues/1462

## Expected Behaviour
When a column or table alias is used in a query, it should not be removed.

## Observed Behaviour
When column aliases are used but table aliases are not (e.g. `select a, b from t1 t2(a,b)`), the fix for L025 removes both the table and column aliases, corrupting the query.

## Steps to Reproduce
test_fix.sql:

[2022-01-07 15:43] wrborigin opened #2253 "dbt running from sqlfluff can't find profile"
## Expected Behaviour

Running sqlfluff should work.

## Observed Behaviour

When running sqlfluff, I get this error:

[code]

but if I run dbt itself from the same shell, it works:

[code]

## Steps to Reproduce

This happens when I run sqlfluff in Jenkins. I was not able to reproduce this on my local machine, which is pretty strange.

Previous version (using dbt 0.21.0 and sqlfluff 0.7.0) worked

[2022-01-07 19:41] jpy-git commented on #2248
Going to keep this open so we can add to ideas/improvements to this as we test out the new environment 👍

[2022-01-07 22:05] dcastillo-tab commented on #1970
I have the exact same error. It's not able to find any macros. Using version 0.9.0.

[2022-01-08 00:05] #2113 closed

[2022-01-08 14:12] tunetheweb commented on #1422
Note @pwildenhain documented the steps here: https://github.com/sqlfluff/sqlfluff/blob/main/CONTRIBUTING.md#release-checklist, which is a great step, but still would be good to automate this more.

[2022-01-08 17:57] #1975 closed

[2022-01-08 20:37] dlawrences opened #2261 "dbt linting encounters RuntimeError related to builtin.sql file"
I am trying to run the dbt linter (sqlfluff-templater-dbt) inside a CI process. While attempting to lint, the linter runs into an error that I haven't been able to circumvent.

## Expected Behaviour

[code]

completes successfully.

## Observed Behaviour

[code]

## Steps to Reproduce

The repository has the following structure:

[code]

sqlfluff is run inside a poetry python environment with the

[2022-01-09 06:05] grawlinson opened #2262 "distutils deprecation warning"
[code]

3.12 will be released shortly, it will be best to switch out sooner rather than later.

[2022-01-09 14:13] jpy-git commented on #2262
@grawlinson we're not using distutils so this has nothing to do with sqlfluff.

As the warning clearly states you are the one using `setup.py` to install the package.
Since I remember you posting previously about your unofficial AUR package I've looked and that is indeed the case:
![image](https://user-images.githubusercontent.com/80432516/148685688-104ae6d6-ff30-4904-829c-04053498333d.png)
https:

[2022-01-09 14:19] jpy-git commented on #2262
CLOSING: As I mentioned in #2112 your AUR package is not officially supported by us so you should be able to work through these things yourself.

[2022-01-09 14:19] #2262 closed

[2022-01-09 15:49] skykasko commented on #2029
Closing as I can no longer reproduce any of the parsing errors mentioned in this issue when running SQLFluff 0.9.1. My best guess would be this was resolved in https://github.com/sqlfluff/sqlfluff/pull/2124, though I'm not sure.

[2022-01-09 15:49] #2029 closed

[2022-01-09 20:26] wong-codaio opened #2265 "L026: Rule incorrectly flag column does not exist in `FROM` clause in an UPDATE statement."
## Expected Behaviour

L026 should not fail when a subquery in an UPDATE statement references a column from the UPDATE target.

## Observed Behaviour

L026 failed due to reference was not found in the FROM clause with the following error printed (When using `sample.sql` content below)

[code]

## Steps to Reproduce

1. Create `sample.sql` with the content below
[code]
2. Run SQLFluff by `sqlfluff

[2022-01-09 20:55] jpy-git opened #2266 "Underscores in doc examples"
Not sure what's introduced this but there's underscores in the rules reference doc examples?
![image](https://user-images.githubusercontent.com/80432516/148700612-b896f049-6773-4ecf-a907-773a94fb027a.png)

[2022-01-09 20:59] tunetheweb commented on #2266
I don’t see them in Safari on my phone. Can you try a different browsers/incognito mode?

[2022-01-09 21:02] jpy-git commented on #2266
@tunetheweb so that first image is using Brave Browser. I have dark mode on so the underscores stand out.

If I use Safari (without dark mode) the underscores are also still there (more obvious when you highlight):
![image](https://user-images.githubusercontent.com/80432516/148700876-f941d6b1-7220-4888-a74d-cd1356d043df.png)

[2022-01-09 21:03] jpy-git commented on #2266
I can also see them on Chrome on my phone

[2022-01-09 21:05] tunetheweb commented on #2266
Interesting. Can you flick through through the versions in the bottom right widget to see when it was introduced?

[2022-01-09 21:07] tunetheweb commented on #2266
Looks like 0.9.1 to me. Can just make them out with an extreme zoom in.

[2022-01-09 21:08] jpy-git commented on #2266
Yeah 0.9.0 looks fine to me
![image](https://user-images.githubusercontent.com/80432516/148701007-8930b1fa-505f-4e5c-80c3-3335df86e99b.png)

[2022-01-09 21:14] jpy-git commented on #2266
This bit of the docs is handled by autodoc so looking at potential PRs:
#2241 - Updated just the docstring in `src/sqlfluff/core/rules/__init__.py` so doesn't seem likely.
#2234 - Seems a bit more likely, but I do remember building the docs and not seeing anything weird 🤔

[2022-01-09 21:16] jpy-git commented on #2266
Although given that it also affects all the autodoc code blocks, not just the  rule ones, maybe there's been some update to one of the Sphinx dependencies that's not working right
![image](https://user-images.githubusercontent.com/80432516/148701259-4a1ce8c8-b0d5-45ba-b294-6521ab6ccb25.png)

[2022-01-09 21:17] tunetheweb commented on #2266
It's coming from pygments style sheet:

![image](https://user-images.githubusercontent.com/10931297/148701317-ff39b4b6-2dde-4b19-987b-00d419f02dc8.png)

Not familiar with this library though but trying to figure it out...

[2022-01-09 21:21] tunetheweb commented on #2266
Found it: looks like it's fixed already in 2.11.2: https://github.com/pygments/pygments/issues/2020

Any of the @sqlfluff/sqlfluff-maintainers know if it's possible to restart/redeploy the docs.sqlfuff.com site without a release?

[2022-01-09 22:26] wong-codaio commented on #2206
@jpy-git @tunetheweb - FYI: Part 1: https://github.com/sqlfluff/sqlfluff/pull/2267

[2022-01-09 22:41] wong-codaio opened #2268 "L052: Auto-fix appended extra `semicolon` in `CREATE TABLE` statement when `multiline_newline` is `True`"
## Expected Behaviour

* Auto-fix of L052 should move `;` at the end of `CREATE TABLE` statement to the next line when `multiline_newline = True`.

## Observed Behaviour

* Auto-fix printed the following when `sqlfluff fix` is executed:
[code]
* Auto-fix for L052 did not move `;` to the next line.
* Auto-fix for L052 appended multiple `;` after the `CREATE TABLE` statement.

## Steps to Reproduce

[2022-01-09 23:55] barrywhart commented on #1462
Detailed design for a fix.
[code]

[2022-01-09 23:59] barrywhart commented on #2064
@rileyrunnoe: I think your comment is a separate issue: see #1462. The distinction is:
* This issue is talking about when SQLFluff **replaces** aliases with the actual table name in a `JOIN`.
* Issue #1462 talks about when SQLFluff **removes** what it thinks are unused aliases.

If this sounds correct to you, can you please add or move your example to #1462 instead?

[2022-01-10 12:49] tdstark opened #2269 "Slow parsing/linting performance for a large INSERT query"
## Expected Behaviour
The following query takes 20-35 minutes to lint using the Redshift dialect depending on the machine it's running on:
[code]
The values portion is multiplied by approximately 1100 lines

## Observed Behaviour
The following query takes 20-35 minutes to run using the Redshift dialect. Given other discussions on Slack, I suspect that this is a problem for all dialects.

## Steps

[2022-01-10 13:54] afreickmann commented on #2269
I assume that parsing the many elements is slowing down the process. When I replace the quotes and unnecessary commas in the query, the speed of processing changes from 7min to 3min. Removing the huge concats completely changes processing time to 1 minute, but this might be just because of reducing lines => fixing symptom, not root cause.
Would be great, if this could be increased to a reasonable

[2022-01-10 14:08] pempey opened #2270 "For templated regions, L003 complains that indentation is wrong, even though the raw (pre-template expansion) code looks correctly indented"
## Expected Behaviour

The indentation after a templated area would behave in a way that is visually similar to other lines.

## Observed Behaviour

When a column in a query is templated and then aliased with a single space after the templated area an L003 error is raised unless there is a full indentation after the templated area.

## Steps to Reproduce

Using the dbt templator and the included m

[2022-01-10 14:35] rileyrunnoe commented on #1462
The bigquery dialect is also showing this error where the alias resolution becomes incorrect.

An aliased table in the overall selection but without a specific reference to that alias is removed, but the alias reference in the subquery still remains. This results in invalid bigquery sql.

Unfixed SQL:

[code]
"Fixed" SQL:

[code]

Commented here as opposed to https://github.com/sqlfluff/sqlfluff/i

[2022-01-10 16:38] barrywhart commented on #1462
@rileyrunnoe, @BI-MarcB, @adam-tokarski, @sti0: I have a PR for L025 which fixes this issue: #2273.

[2022-01-10 16:45] barrywhart commented on #2134
@jpy-git: Would it be reasonable to rename this issue as "'sqlfluff fix' should not make changes if the file has parsing or templating errors"?

[2022-01-10 16:47] barrywhart commented on #2064
The TL;DR for this issue is, "sqlfluff fix' should not make changes if the file has parsing or templating errors". I'm going to close it because my understanding is that this is a duplicate of #2134 (see [this comment](https://github.com/sqlfluff/sqlfluff/issues/2134#issuecomment-1009099928) where I suggest changing the title of the issue to reflect what I think is the conclusion of the loonnnggg

[2022-01-10 16:47] #2064 closed

[2022-01-10 16:51] barrywhart commented on #2261
@dlawrences: Can you provide a more direct example of the issue to help us reproduce it? The info provided is helpful, but it's more of a high-level description than an example: e.g. the directory structure, and CI action are not something a maintainer can directly use to reproduce the problem. It's more like they'd be trying to _recreate_ the problem, which we try to avoid doing, due to the amoun

[2022-01-10 16:55] barrywhart commented on #2251
@mcannamela: I'm not familiar with Spark. Can you provide a reference (e.g. a URL) explaining what this line means or does?
[code]

At present, SQLFluff is parsing it as an alias, which is why L025 is trying to analyze it. In order to fix this, it would be helpful to understand if `t` should be parsed as an alias or something else.

Are you aware of any other dialects of SQL which support a simila

[2022-01-10 17:09] ryan-fitch-data opened #2275 "Remove dependency of including the entire file path to dbt model(s)"
In the dbt templater process() function, the filename parameter notes 'path to dbt model(s)'. To enhance the user experience, I suggest replacing the need to include the model's path with simply the model's name instead.

I tried to create custom logic to derive the path using the `dbt ls --select --path` command but a more efficient approach would certainly be more ideal.

[2022-01-10 17:10] barrywhart commented on #2030
We've had similar challenges with BigQuery in the past. See the function `sqlfluff.dialects.dialect_bigquery.ColumnReferenceSegment.extract_possible_references()`. It overrides a base-class function in the ANSI dialect to deal with some of the ambiguities of BigQuery syntax. I think we may be able to leverage or tweak this function (or possibly apply a similar technique elsewhere in the BigQuery d

[2022-01-10 17:25] R7L208 commented on #1936
This behavior is unique to Delta Lake File format and it's API. Should this be handled as a new dialect (delta-lake, which would inherit from Spark3) or be included within SparkSQL? In the scenario DeltaLake is not installed on the spark cluster, this command would fail.

[2022-01-10 17:26] R7L208 commented on #1936
I can create an issue for Delta Lake dialect, which I think makes the most sense to address this, in my opinion, if that's an acceptable approach

[2022-01-10 17:30] R7L208 commented on #1934
@barrywhart - I can take this if you want to assign it to me

[2022-01-10 17:34] R7L208 commented on #1932
Related to issue #2152 and PR to address it ( #2245 )

[2022-01-10 18:09] barrywhart commented on #1934
Done!

[2022-01-10 18:24] tunetheweb commented on #2269
@WittierDinosaur since you did the last optimisation work, do you have any capacity to look at this?

[2022-01-10 18:29] tunetheweb commented on #2269
This was the PR that magically fixed a SELECT statement of mine with thousands of `UNION`'s of very similar SQL: https://github.com/sqlfluff/sqlfluff/pull/1744

But how that magically made it better is beyond me! 😁

[2022-01-10 18:49] #1462 closed

[2022-01-10 21:10] barrywhart commented on #2275
For backward compatibility, I think we still want to support the old behavior of passing the path, but this could be a new behavior.

These are some CLI interface questions I suggest thinking about first:
* dbt is just one potential templater option. Users can also use the Jinja templater, the Python templater, or the placeholder templater. It sounds like this feature might be specific to dbt. How

[2022-01-10 21:13] barrywhart commented on #2168
If I understand correctly, AWS Athena basically _is_ Presto, so if we do this, I recommend calling the dialect `presto` rather than `athena`.

[2022-01-10 21:23] barrywhart commented on #2270
Sample linter output from this query:
[code]

IIUC, the concern is that SQLFluff says the indentation is wrong, but it must (?) be looking at line 3 indentation strangely, perhaps by combining the 2-space indent on line 3 (`COALESCE()`...) with the 4-space indent of line 9.

Intuitively, L003 here should look at the raw code (prior to template expansion) and check that indentation, not the post-te

[2022-01-10 21:27] barrywhart commented on #2268
@jpy-git: Interested in looking at this one? It relates to L052, which you added recently.

[2022-01-10 21:28] barrywhart commented on #2253
@NiallRees, any ideas about this?

[2022-01-10 21:33] barrywhart commented on #2046
This issue can be worked on now. I suggest trying to use the new classes and functions in `sqlfluff.core.rules.functional`, which should provide more convenient access & conversions from the parser segments to the related raw and/or templated file slices.

[2022-01-10 21:35] barrywhart commented on #2012
In the [two examples provided above](https://github.com/sqlfluff/sqlfluff/issues/2012#issuecomment-986036996) by @tunetheweb, I think the first is called "hanging indent". while the second is a more conventional indent. This is similar to a common thing in, say, Python, where it is common to indent code two ways:
[code]

[2022-01-10 21:39] barrywhart commented on #2012
Before attempting to "fix" this, we should review and understand the hanging indent behavior and define what we're looking to change, e.g. _remove_ hanging indent? Or _limit_ the situations where L003 will consider it? E.g., maybe only for situations where the section is bracketed (i.e. parentheses)? Or something else?

Tagging @NiallRees for awareness, as he is thinking about the future direction

[2022-01-10 21:41] barrywhart commented on #2008
This may be easier to address now that @jpy-git has made some improvements in how other multi-character operators are parsed in TSQL: #2197.

[2022-01-11 01:01] kdw2126 opened #2281 "L010: SQLFluff 0.9.1 capitalizes columns named date when used as parameters in DATE_ADD"
## Expected Behaviour
When run on a SQL file containing a line like DATE_ADD(date, INTERVAL 5 YEAR), SQLFluff should not prompt or change date to be capitalized because it is a variable name, not a SQL keyword, in this context.

## Observed Behavior
Starting in SQLFluff 0.9.1, for this function (and possibly others) DATE is treated like an SQL keyword rather than a column name.

## Steps to Reprod

[2022-01-11 11:29] WittierDinosaur commented on #2269
So, the issue is that both `Delimited` and `Bracketed` are very expensive in terms of performance. I have a branch where I'm working on dealing with Delimited, but it's a rabbit hole, ad i haven't quite resolved all of the issues yet. Also been relatively offline recently, because i've been focusing on work things. I'll push the branch tonight for visibility

[2022-01-11 11:37] BeWe11 commented on #2113
Sorry to reply on a closed issue, but I'm still getting errors when using dbts `star` macro with sqlfluff==0.9.1 and sqlfluff-templater-dbt==0.9.1 (a similar issue was linked here as a duplicate https://github.com/sqlfluff/sqlfluff/issues/2140).

The error is
[code]
and only occurs on files that include the `star` macro.

I'd appreciate any shared experiences on this issue, I wan't to avoid creati

[2022-01-11 12:17] jpy-git commented on #2281
Good spot!

I think this is a parsing issue rather than an issue with L010.

If you parse with a more obvious column name
e.g.
[code]
the function looks like:
[code]

whereas when you parse with the column called `date` (also `datetime`) it gives:
[code]

[2022-01-11 12:17] #1934 closed

[2022-01-11 12:23] jpy-git commented on #2281
So `date` is being interpreted as a `date_part` rather than a `column_reference` and therefore it gets capitalised. (Introduced in #2167).

A PR should be looking at fixing the function grammar to make `date` parse as a `column_reference` in this context

[2022-01-11 12:29] jpy-git commented on #2281
Interestingly `date` already parses as a `column_reference` is set to ANSI and therefore this error doesn't occur. So this must be bigquery specific

[2022-01-11 13:14] noppaz commented on #2113
Also seeing this after the original bug disappeared in 0.9.1. From my looks at it, it's not a specific file that fails - rather the length of the linting that does it. I.e., when running `sqlfluff lint` it will fail with `connection already closed` on some_file.sql, but running `sqlfluff lint some_file.sql` still works.

[2022-01-11 13:37] barrywhart commented on #2113
@BeWe11, @noppaz: Can one of you create a new issue? Please provide an example to reproduce the problem if possible.

[2022-01-11 13:44] #2030 closed

[2022-01-11 13:57] R7L208 commented on #1932
@tunetheweb I would be interested in picking this one up but would not plan to address all the potential VALUE clauses in @2152, rather just focus on the required for an initial, basic `INSER OVERWRITE table_identified VALUES ...` syntax.

Let me know if that works.

[2022-01-11 14:13] tunetheweb commented on #2281
Noticed this myself. Raised fix in #2283.

[2022-01-11 14:54] tunetheweb commented on #387
@ericxiao251 not sure if you still recall this, but this is causing issues due to some recent changes in SQLFluff and wanted to check this one with you again:

`EXTRACT(DATE FROM gmv.order_created_at) AS order_dt` is not value BigQuery and I get this:

![image](https://user-images.githubusercontent.com/10931297/148965599-9d96ed06-963f-479e-a7b6-38f318709f63.png)

Also https://cloud.google.com/bigq

[2022-01-11 15:02] dlawrences commented on #2261
Thanks for pointing this out, @barrywhart. I managed to get it over the board fortunately, it seems it was a mix of:
- how the lint command was executed
- the configuration of .sqlfluffignore **and where it was placed**
- making sure that all the artifacts of the dbt project were following the actual version of dbt being used (dbt v1 renamed some folders etc which were not consistent across the pr

[2022-01-11 15:18] #1833 closed

[2022-01-11 16:10] barrywhart commented on #2261
@dlawrences: I'm going to close this issue, since you've gotten past your initial problem. Can you take a look at the discussion on this issue to see if it's a duplicate of your `.sqlfluffignore` question? #556

[2022-01-11 16:10] #2261 closed

[2022-01-11 16:11] barrywhart commented on #1191
This looks like a possible duplicate of #556. Can you let us know, @scrambldchannel?

[2022-01-11 16:57] scrambldchannel commented on #1191
Ah, it does look suspiciously like a duplicate, sorry for not noticing this in the first place :shrug:

[2022-01-11 16:57] #1191 closed

[2022-01-11 17:00] R7L208 opened #2284 "How to handle File Frameworks for Data Lakes that extend SQL Grammar"
A handful of new file formats offer an API that extends SQL grammar to provide ACID transactions on a Data Lake.

The three main projects are [Delta Lake](https://delta.io/), [Apache Hudi](https://hudi.apache.org/), and [Apache Iceberg](https://iceberg.apache.org/).

All of the dialects these projects support are listed here, even if they are not currently supported by SQLFluff.

- Delta Lake Dial

[2022-01-11 17:10] R7L208 commented on #2284
Related to #1936 and #602

[2022-01-11 17:53] barrywhart commented on #1191
@scrambldchannel: No worries! I often don't notice duplicates myself until I'm scanning through the backlog. Appreciate you double checking!

[2022-01-11 18:20] tunetheweb opened #2286 "Do we need the Implementation section of the Rules doc page?"
## URL or Command Line Option with the issue being reported

https://docs.sqlfluff.com/en/stable/rules.html#implementation

## Issue/Suggested Improvement

The Implementation section seems to list a lot of the internals of the rules. It's wedged between the rules themselves, and the information on how to ignore certain rules - both of which are more aimed at end users than SQLFluff rules developer

[2022-01-11 18:20] barrywhart commented on #2270
I think this issue can be fixed using a similar technique as the fix for #2046, i.e. translating the templated spaces back to raw code when computing the existing indentation. The coding will probably be trickier, though, because L003 (the rule involved in _this_ issue is pretty large and complex) compared to L009 (the rule in the other issue).

[2022-01-11 18:48] tomasfarias opened #2287 "Missing configuration documentation in rule L054"
Despite having a configuration keyword (`group_by_and_order_by_style`), Rule L054 is missing configuration documentation whereas other rules, like L057, do have it.

## URL or Command Line Option with the issue being reported

https://docs.sqlfluff.com/en/stable/rules.html#sqlfluff.core.rules.Rule_L054

## Issue/Suggested Improvement

Seems like the issue would be fixed by decorating [`Rule_L054`]

[2022-01-11 19:05] tunetheweb commented on #2287
Yup it's exactly that - good spot. Adding that fixes it:

![image](https://user-images.githubusercontent.com/10931297/149005405-12ffaa50-82a5-40f0-a2bb-f949f2151565.png)

Wanna open a PR?

I wonder if there's some test we could put in to flag this in future?

It should be doing it **across** them too. See this test case for example:

https://github.com/sqlfluff/sqlfluff/blob/faf16d06ecf6ba0d19cb5a

[2022-01-11 19:32] tomasfarias commented on #2287
Just opened a quick PR.

Perhaps we can:
* If the class has a non-empty `config_keywords`:
  * Check `class.__doc__` for the existence of a `"* Configuration"` substring.
  * Check `class.__doc__` for the existence of a substring for each config keyword.
  * Fail test if any of the previous 2 checks failed, pass otherwise.
* If empty `config_keywords`: pass.

I didn't express myself correctly, yes

[2022-01-11 19:48] #2287 closed

[2022-01-11 19:52] juhoautio commented on #2168
I would say that Athena deserves its own dialect.

As it reads in [SQL Reference for Amazon Athena](https://docs.aws.amazon.com/athena/latest/ug/ddl-sql-reference.html):

So Athena dialect would share a lot with Presto dialect, but not everything. It also shares a lot with Hive.

[2022-01-11 21:25] R7L208 opened #2289 "SQLFluff adds whitespace before Typed Date Literal"
[code]

## Expected Behaviour
Lint and Fix should not flag that an extra whitespace is needed between `DATE` and the string literal (`'2019-01-02'`)
## Observed Behaviour
fix changes the code to the below which breaks the typed date literal

[code]
## Steps to Reproduce
Run SQLFluff lint/fix on code segment provided above.

## Dialect
spark3

## Version
Include the output of `sqlfluff --version` a

[2022-01-11 21:36] R7L208 commented on #2289
Will update Steps to Reproduce but for now code is in draft pr #2290

[2022-01-12 02:17] r0fls opened #2292 "Support Oracle Dialect"
This is a feature request to support the Oracle SQL dialect

[2022-01-12 08:43] fdw opened #2295 "TSQL exec call replaces = with IS when parameter is set to null"
The formatting for stored procedures produces invalid SQL if one parameter is set to `null`.

[code]

## Expected Behaviour
Ideally, the code would be formatted (#1861). Otherwise, it should be left as-is.

## Observed Behaviour
`@param2`'s `=` is replaced by `IS`, which is not valid TSQL anymore:
[code]

## Steps to Reproduce
see above

## Dialect
TSQL

## Version
`sqlfluff, version 0.9.1`

## Co

[2022-01-12 09:01] juhoautio opened #2296 "Hive does not recognise INTEGER type"
## Expected Behaviour

When placeholders are successfully configured, I expect both `fix` and `lint` to succeed.

## Observed Behaviour

I encountered a case where the presence of placeholders causes `lint` to fail with PRS error and exit code 65. For the same file `fix` succeeds with exit code 0.

## Steps to Reproduce

`lint_placeholders.sql`:
[code]

[code]

That is as expected.

[code]

That i

[2022-01-12 09:41] tunetheweb commented on #2296
This has nothing to do with the Placeholder templater. The same thing fails without any placeholders.

If you change `INTEGER` to `INT` it works.

This is because `INTEGER` is not set up in our Hive keywords file, only INT:
https://github.com/sqlfluff/sqlfluff/blob/7ffea4670c384f575dd7a59ed31da0b93ae8f800/src/sqlfluff/dialects/dialect_hive_keywords.py#L59

It looks to me from the Hive [source code

[2022-01-12 10:24] tomasfarias commented on #2253
I'm running a very similar setup to @wrborigin: Running `sqlfluff` v0.9.1, with dbt-core==1 and dbt templater, in Jenkins, while setting a custom `DBT_PROFILE_DIR`, causes a RuntimeError. The only difference I see from the logs is I'm running Python3.9.

I was able to workaround the issue by moving my `profiles.yml` to the default `~/.dbt/profiles.yml` just before running sqlfluff, and un-setting

[2022-01-12 10:38] noppaz opened #2297 "dbt utils connection errors on 0.9.1"
After upgrading to 0.9.1 to solve https://github.com/sqlfluff/sqlfluff/issues/2113 I'm seeing a new error with dbt models using dbt-utils macros.

During linting, error `connection already closed` occurs. At least one other person is experiencing this (see above issue).

<details>
<summary>Full error output</summary>
<br />

[code]
</details>

## Steps to Reproduce
Create a model with something li

[2022-01-12 11:27] tomasfarias commented on #2253
I've been digging a bit into this issue and think it may be a bug with dbt when uppercase characters are used in `DBT_PROFILES_DIR`, as the path is converted to lowercase [here](https://github.com/dbt-labs/dbt-core/blob/main/core/dbt/flags.py#L141), but the lowercase path does not exist, so an empty profile is returned!

Example:
[code]

This would explain my situation as my Jenkins variable conta

[2022-01-12 13:27] barrywhart commented on #2046
Reopening because my initial PR didn't handle the case of adding a missing newline to the end of the file if the last code in the file is templated code -- this is turning up some bugs in the core linter that need to be addressed.

[2022-01-12 13:59] #624 closed

[2022-01-12 14:53] leoch20 commented on #1927
We still have this issue after upgrading dbt to `1.0.0` and sqlfluff to `0.9.1`.
For example, a query containing more than one `order by 1` throws this error for only one of them (The all have the same formatting).

[code]

[2022-01-12 14:58] rpr-ableton opened #2299 "REDSHIFT: certain reserved words can be used as object names without double quotes"
## Expected Behaviour

[code]
is a valid statement in Redshift and should be parsed successfully (even though this is contrary to AWS official documentation https://docs.aws.amazon.com/redshift/latest/dg/r_pg_keywords.html ).

This is the complete list of reserved words that can be used as object names without double quotes:
ARRAY
AUTO
AVRO
BACKUP
BZIP2
CASE_INSENSITIVE
CASE_SENSITIVE
COMPOUND
DEF

[2022-01-12 17:54] christopherridley commented on #1582
Doesn't seem like L003 makes sense to me here. L003 is great to make sure the column names are aligned appropriately. L039 to ignore additional whitespace directly before the "AS" only between "SELECT" and "FROM" would be ideal here I believe. That would give people the flexibility to align the column aliases or not if they wish.

[2022-01-12 20:10] juhoautio commented on #2296
Wow, thanks a lot! I somehow thought `lint` passed when I was not using any placeholder, but I made some mistake there. Sorry for a misleading description!

I can work on a PR to add INTEGER in hive dialect. I can also check if there are any other missing data type aliases.

[2022-01-12 20:11] juhoautio commented on #2296
As a side question in general: does it make sense that `fix -f` can return exit code 0 even though there is actually a PRS error happening? Why is it ignored by `fix -f` here?

[2022-01-12 20:35] tunetheweb commented on #2296
It probably doesn't. Could you raise a separate issue for that as probably should alert for it.

The reason it does is because it doesn't find anything to fix:

[code]

It is however flagged as a linting error and if you assume `fix` is basically `lint` + `fix` (as many do if they `fix` in a pre-commit for example), then NOT alerting for this seems wrong.

I checked and unfixable errors (e.g. rule

[2022-01-12 20:56] wrborigin commented on #2253
Yeah, unsetting `DBT_PROFILES_DIR` and copying the `profiles.yml` to `~/.dbt` fixed the for me as well. My path(s) have no uppercase letter, so I'm not sure it is the same issue?

[2022-01-12 21:43] barrywhart commented on #2270
Simple test case that produces the same issue, works with the Jinja templater, and requires no `.sqlfluff` configuration file:
[code]

[2022-01-12 23:11] tomasfarias commented on #2253
You may try running something similar to my interactive session and try out your path as there is also some [path normalization](https://github.com/dbt-labs/dbt-core/blob/main/core/dbt/flags.py#L160) going on that could be affecting your final `PROFILES_DIR` value.

Regardless, I'm glad the workaround worked, and perhaps both issues may be solved by reading the user config from `flags.PROFILES_DIR

[2022-01-12 23:29] barrywhart commented on #2270
This code computes the leading spaces as well, and seems more robust, since it uses the slicing functions directly, rather than trusting that `.lstrip()` will stop in the correct place.

[code]

Running this on the example correctly extracts the first 4 spaces, then stops:
[code]

[2022-01-13 01:38] tinder-albertyue commented on #2244
my workaround was to add `sed -i '/^\[/!d' annotations.json` to the git actions command to delete the extra lines from dbt that were not part of the annotations beginning with `[`

[2022-01-13 05:42] dlawrences commented on #2261
Yes, seems to be a general aspect of how `.sqlfluffignore` is used to identify files/directories to be ignored based on where the command is also executed and the target of the command.

[2022-01-13 10:56] ahladkyi-spd opened #2301 "Linting throws "IndexError: list index out of range" on a valid syntax, snowflake 0.9.1"
In version 0.9.1, linting valid snowflake sql files started throwing exceptions. Smallest snippet to reproduce is

[code]
Adding `noqa` comments or `--ignore linting` doesn't help. Also this seems to happen on a complete different expressions too, but I assume it's the same bug.

## Expected Behaviour
No errors

## Observed Behaviour
[code]

## Steps to Reproduce
`sqlfluff lint test.sql   --dialec

[2022-01-13 14:35] jan-benisek opened #2302 ""Connection already closed" when running SQLFluff on folder with .sql files in dbt"
## Expected Behaviour
Fixing all `.sql` files

## Observed Behaviour
`sqlfluff fix --force --dialect 'redshift' foo/bar/ab_tests`

Get an error during processing of a folder with many sql files. Always crashes on one single file.
Note that all other files in other folders are working.
[code]

## Steps to Reproduce
This is a dbt project using `dbt` templater

## Dialect

## Version
sqlfluff, versio

[2022-01-13 14:45] andrewpblee opened #2303 "Extend formatting to include dbt config block at top of model file"
From thread on SQLFluff slack: https://sqlfluff.slack.com/archives/C01GX4L213J/p1641991547059300

When using SQLFluff with dbt, it appears that sqlfluff ignores or does not lint the config block, a jinja tag at the top of dbt models that include metadata regarding the model (schema name, materialisation type etc.)

Given that this is in the same file as the sql for a model, it would be very useful

[2022-01-13 15:31] jpy-git commented on #2303
@tunetheweb FYI this is going to be very difficult for us to format atm, this is the config block that renders to an empty string and doesn't get included in the parse tree.

(do like the idea though)

[2022-01-13 15:34] jpy-git commented on #2302
Hi @jan-benisek, this looks like a duplicate of #2297 so will close this in favour of that issue

[2022-01-13 15:36] jpy-git commented on #2302
Since it fails on a specific file, could you share on the other issue what is different in that file vs the others. #2297 and #2140 seem to suggest it's the presence of `dbt-utils` macros?

[2022-01-13 15:37] #2302 closed

[2022-01-13 16:03] #2046 closed

[2022-01-13 16:03] jpy-git commented on #2301
@chwiese could you look at re-splitting stage_path out as before please?

[2022-01-13 16:14] tunetheweb commented on #2303
Yeah but could look at the raw, pre-templated, code. Like `L046` does.

[2022-01-13 16:21] ahladkyi-spd commented on #2301
I'm also having this exception on a syntax without stage_path, snippet:
[code]
output
[code]
parse output
[code]

[2022-01-13 16:32] barrywhart commented on #2297
If that error message is correct, it sounds like a connection was opened, and then closed for some reason. I wonder if you could add print statements or breakpoints to the dbt snowflake connector to determine when the connection is being closed. If we knew _when_ or _why_ the connection was being closed, that could go a long way towards determining how to _fix_ the problem.

[2022-01-13 18:27] samLozier commented on #1970
I was able to bypass this error by specifying the models file directly. I'm not sure why this worked, but it did:

[code]
Prior to the current version the non working command was correctly linting my project.

[2022-01-13 18:48] samLozier commented on #2297
I had a few minutes to look into this error when it came up on my system today. Looking through my stack trace, the only place I see lines referenced that are :

A. Specific to sqlfluff
B. Reference a database connection
C. New

is here:     https://github.com/sqlfluff/sqlfluff/blob/43b0fc29f26194f8812a40ed6e55af57c8240da0/plugins/sqlfluff-templater-dbt/sqlfluff_templater_dbt/templater.py#L457

I

[2022-01-13 21:17] mcannamela commented on #2251
yes, it is an alias, have a look at https://spark.apache.org/docs/3.2.0/sql-ref-syntax-qry-select-inline-table.html#parameters

i just checked and this syntax also works in postgres, for instance try:
[code]

however in spark you can omit the `t`; that fails in postgres

[2022-01-13 21:34] barrywhart commented on #2251
Thanks! It would probably be good to include that URL (https://spark.apache.org/docs/3.2.0/sql-ref-syntax-qry-select-inline-table.html) in the eventual fix. Maintainers may not be familiar with some of the dialects, so I think it's helpful to provide that context.

[2022-01-13 22:15] barrywhart commented on #2301
This line in `dialect_ansi.py` is failing:
[code]

It fails because in Snowflake, `iter_raw_references()` no longer returns anything. It's looking for descendant segments of type `identifier` and not finding any:
[code]

And that's because the `TableReferenceSegment` has only a single descendant, a `CodeSegment`:
[code]

[2022-01-13 22:20] barrywhart commented on #2301
@chwiese: Would you be wiling to look into this? It seems like it's related to your recently merged PR, #2250.

[2022-01-13 22:23] barrywhart commented on #2301
0.9.0:
[code]

0.9.1:
[code]

[2022-01-13 22:26] barrywhart commented on #2286
I agree with moving it to a different page for developers, not users.

[2022-01-13 22:28] barrywhart commented on #2289
Are you saying that the bug only occurs with new code that's in a PR?

[2022-01-13 22:30] R7L208 commented on #2289
No, this occurs even if PR is not merged but a test case to replicate is here.

[2022-01-13 22:40] barrywhart commented on #2295
Using your test SQL and `.sqlfluff` with 0.9.1, I get a parse error:
[code]

Can you double check that this is the correct example?

[2022-01-13 22:43] barrywhart commented on #2289
Using your test SQL, I'm getting a parse error. 🤔
[code]

[2022-01-14 06:43] chwiese commented on #2301
@jpy-git, @barrywhart: I will have a look over  the weekend.

[2022-01-14 06:45] fdw commented on #2295
I checked the example again, and found something interesting, but I never got an error. The `.sqlfluff` file is exactly as shown, and I made sure to update `sqlfluff` again to the latest version.

Regarding my findings: The pseudo-function-name `function` was a bad idea, as it is parsed differently.
Using these examples
[code]
I would expect all of them to be formatted quite correctly.

However, t

[2022-01-14 07:25] fdw commented on #2295
Extending my last experiment, it's getting weirder:

Input:
[code]

Output:
[code]

Seems to me that `=` is replaced for all parameters up to the `null`, but no further.

[2022-01-14 11:58] #1292 closed

[2022-01-14 12:19] jan-benisek opened #2306 "Wrong commas in select after applying "sqlfluff fix""
## Expected Behaviour
I expect that this should not change much, maybe `tabs`/`spaces`, but this is otherwise a valid `SELECT`.
[code]

## Observed Behaviour
After `sqlfluff fix --force --dialect 'redshift' foo/bar.sql` the commas get messed up.

[code]

## Steps to Reproduce
`sqlfluff fix --force --dialect 'redshift' foo/bar.sql`

## Dialect
Redshift

## Version
sqlfluff, version 0.9.1
Python 3.8

[2022-01-14 12:35] barrywhart commented on #2301
Thanks!

[2022-01-14 12:43] #2281 closed

[2022-01-14 14:05] #2295 closed

[2022-01-14 14:18] #2268 closed

[2022-01-14 14:29] R7L208 opened #2309 "Spark3: Unparsable section when `WHERE` predicate literal is wrapped in double-quotes"
The below code produces an `unparsable section` in spark3 dialect.

[code]

However, if double-quotes are changed to single-quotes, it parses correct in spark3.

[code]

Similarly if `sqlfluff lint` is run with `ansi` dialect, it produces correct output with either double- or single-quotes.

[code]

## Expected Behaviour

[code]

## Observed Behaviour

[code]

## Steps to Reproduce
[code]

## Dial

[2022-01-14 21:14] barrywhart commented on #2053
When I run `sqlfluff lint` with the dbt templater, I often see messages like the following:
[code]

These messages seem like they may be relevant to this issue. Is there something about how SQLFluff invokes dbt that blocks "partial parsing"?

[2022-01-14 21:15] barrywhart commented on #713
I tested the example just now using the latest `main`, and there were no lint issues reported. We've made a **lot** of changes (progress!) in the past year to make linting templated code smarter. I'm going to close this.
[code]

[2022-01-14 21:15] #713 closed

[2022-01-15 01:17] gnilrets commented on #2297
Finally got around to testing with 0.9.1 using the same method I originally reported in #2113.  I'm getting the same `connection already closed` error too.

[2022-01-15 17:49] jpy-git commented on #2309
This makes sense, the reason ANSI parses is for that dialect (and several other dialects) double quotes are for quoted identifiers, which means in your example it's referring to a column called "John Smith" rather than the quoted literal string that you intend.
![image](https://user-images.githubusercontent.com/80432516/149632187-a804411b-fac3-4d52-8b32-278d24949329.png)
In Spark quoted identifier

[2022-01-15 18:08] jpy-git commented on #2309
Noticed that spark3 inherits from hive and both these dialects allow single or double quotes. However the way they're currently being handled means that this issue also impacts all quoted literals inherited from ansi that aren't overwritten within these dialects. Will fix this also

[2022-01-15 19:17] jpy-git commented on #2306
Hi @jan-benisek,

This is because you're SQL statement doesn't parse in SQLFluff (you can see if you run `sqlfluff parse --dialect redshift foo/bar.sql`). Specifically this is because `TABLE` is a reserved keyword, are you sure that `TABLE` (unquoted) is actually a valid column name?
If it is then we can just move it to unreserved keywords 😄

(@barrywhart another example of why we shouldn't be att

[2022-01-15 19:41] jpy-git commented on #2237
N.B. this also applies to MySQL so best to add in ANSI

[2022-01-15 20:11] barrywhart commented on #2306
@jpy-git: +1 for disabling that behavior. If nobody addresses it before then, let's discuss in the next maintainer's meeting (February 1st).

[2022-01-15 20:18] #2309 closed

[2022-01-15 20:39] #2299 closed

[2022-01-15 20:53] kayman-mk opened #2313 "Add example to parse one file in test/fixtures/dialects/..."
## URL or Command Line Option with the issue being reported
https://github.com/sqlfluff/sqlfluff/blob/main/CONTRIBUTING.md

## Issue/Suggested Improvement
Would be nice to have an example in the CONTRIBUTING.md on how to parse a single file of the test fixture sql. This would make my life a little bit easier as it is much faster than to generate all test fixtures and check the corresponding yml fi

[2022-01-15 20:56] tunetheweb commented on #2313
As the test files are write in SQL just run it like you would a normal SQL file instead of through an test suite command:

[code]

Add a `—dialect` option if not ansi.

Note this will NOT generate the yml file but will tell you if it parsed or not and allow you to check the parse tree.

[2022-01-15 20:58] tunetheweb commented on #2306
I’m OK with disabling `fix`. Do not think we should disable `lint` though.

[2022-01-15 21:01] R7L208 commented on #2309
Thank you @jpy-git!

[2022-01-15 21:01] kayman-mk commented on #2313
@tunetheweb But this will use the installed version of Sqlfluff and not the one I changed locally, won't it?

[2022-01-15 21:05] tunetheweb commented on #2313
If you “activate’ you local venv it will use that. Though someone’s just raised #2314 to suggest that is done differently when using tox so keep an eye on that issue if doing that. Wasn’t aware it was different myself.

[2022-01-15 21:09] kayman-mk commented on #2313
Oh no, things can be so simple. Thanks!
#2314 was created by me ;-)

[2022-01-15 21:09] #2313 closed

[2022-01-15 21:10] tunetheweb commented on #2313
Oops. Shouldn’t answer issues on my phone! 😁

[2022-01-16 11:17] chwiese opened #2319 "L044 throws assertion exception"
I'm also having this exception on a syntax without stage_path, snippet:
[code]
output
[code]
parse output
[code]

_Originally posted by @ahladkyi-spd in https://github.com/sqlfluff/sqlfluff/issues/2301#issuecomment-1012292979_

@barrywhart This issue started with #1991 , if you checkout to d5f14735784dc099ef6ce6529a9e6c58c4287c68, the query lints without throwing an exception. When you checkout to

[2022-01-16 11:18] chwiese commented on #2301
@ahladkyi-spd [this](https://github.com/sqlfluff/sqlfluff/issues/2301#issuecomment-1012292979) is a separate issue, for which I have created #2319 .

[2022-01-16 13:17] barrywhart commented on #2319
Good detective work! I'll take a look.

[2022-01-16 14:11] barrywhart commented on #2319
@chwiese: I have a PR for this now: #2321.

[2022-01-16 14:29] jpy-git opened #2322 "`AnySetOf` grammar"
I know this has been talked about before in PRs so making an issue to formally track.

In many grammars there's a common situation where we have to denote several options that can be specified in any order but they cannot be specified more than once.

Our general approach to this in the project has been denote this using `AnyNumberOf` as this allows for the different orderings:
[code]
However, the

[2022-01-16 15:23] #2319 closed

[2022-01-16 15:56] garystafford opened #2323 "ModuleNotFoundError: No module named 'click.shell_completion'"
## Expected Behaviour

## Observed Behaviour
`pip install sqlfluff==0.9.0`
`sqlfluff --help`
`sqlfluff --version`
`python3 -m sqlfluff lint --dialect redshift --ignore parsing,templating dags/sql_redshift/ --format github-annotation`

All commands are working as expected with no errors.

`pip install sqlfluff==0.9.1`
`sqlfluff --help`
`sqlfluff --version`
`python3 -m sqlfluff lint --dialect redshi

[2022-01-16 16:47] jpy-git commented on #2323
Hi @garystafford, this is likely because the version of `click` you have installed is older than `8.0` so is missing that `click.shell_completion` module that we use. When you updated SQLFluff it didn't update the required click version since we weren't aware of this at the time and didn't place the constraint on the click requirement.

We had a PR the other day (#2271) to ensure that on subsequen

[2022-01-16 16:57] jpy-git commented on #2322
Gonna assign this to myself and take a look 😄

[2022-01-16 17:10] jpy-git commented on #2286
Agree it can be moved 👍

[2022-01-16 17:16] jpy-git commented on #2322
Okay I've built this out in jpy-git/sqlfluff#6. I'm using my work in #2315 as the test case so if we can merge that in first then I'll move the `AnySetOf` PR into the main repo 👍

[2022-01-16 17:44] #2301 closed

[2022-01-16 20:59] jpy-git commented on #1997
Realise this unintentionally got closed by the PR to fix comparison operator grammar. Reopening to address the actual rule fix! 😄

[2022-01-16 21:16] barrywhart commented on #2265
Currently, rule L026 does not support nested `SELECT`s, which is basically what we have here (`SELECT` nested inside an `UPDATE`.) I'm thinking we may want to:
* Rewrite this and possibly other similar rules such as its base class rule, L020, to use `SelectCrawler`
* Update `SelectCrawler` to support `UPDATE` statements as well as `SELECT`s

NOTE: We recently rewrote L025 in much the same way. See

[2022-01-16 22:27] #2237 closed

[2022-01-16 22:30] jpy-git commented on #548
This would be handy to have so I've extended L039 to account for this.
I currently have another PR affecting L039 in review atm so will push the PR for this once that's resolved 😄

[2022-01-16 22:33] garystafford commented on #2323
Thanks for the quick feedback, @jpy-git. That worked. I updated `click`, which allowed me to use the latest version of `sqlfluff`: `pip install sqlfluff==0.9.1 click==8.0.3`.

[2022-01-16 22:33] #2323 closed

[2022-01-16 22:35] jpy-git commented on #2323
Fab, glad to hear that and credit to @wong-codaio for pointing out the issue in the first place 😄

[2022-01-16 23:46] jpy-git commented on #2253
@tomasfarias as far as I'm aware the dbt templater is using `flags.PROFILES_DIR`:
https://github.com/sqlfluff/sqlfluff/blob/6815d913ebe2723750ae11f0a0aed2d900a53c6a/plugins/sqlfluff-templater-dbt/sqlfluff_templater_dbt/templater.py#L192-L215

It should get the profile from `flags.PROFILES_DIR` unless specifically overwritten in your sqlfluff config.

If you're interested in taking a look then that

[2022-01-17 05:30] jan-benisek commented on #2306
Yes, it is unfortunately a column name. Is there any way I can fix that?

[2022-01-17 08:52] ChristianHiroz commented on #2053
I was able to reproduce
[code]

Seems to simply need a good

[code]

This will force a full parse at start, then the warning will disappear on the next run. But this does not change anything with the time it take to run multiple models.

[2022-01-17 09:17] andrewpblee commented on #2303
IMO I would want to formatter to focus on the whitespace and the newlines, and I would format like so:
from this
[code]
to this:
[code]

[2022-01-17 09:35] jpy-git commented on #2306
@jan-benisek yeah it's a quick fix if you want to make it. You just need to move `TABLE` in `src/sqlfluff/dialects/dialect_redshift_keywords.py` from the `redshift_reserved_keywords` to the `redshift_unreserved_keywords` (similar PR we did the other day for reference: #2310).

[2022-01-17 09:45] tunetheweb commented on #2306
This could cause a number of other issues though so might not be quite as simple. `TABLE` is kind of an important word in SQL! 😉

However looking [here](https://docs.aws.amazon.com/redshift/latest/dg/r_pg_keywords.html) it says `TABLE` **IS** a reserved word and [according to this](https://docs.aws.amazon.com/redshift/latest/dg/r_names.html) "standard identifiers... must... Not be a reserved SQL k

[2022-01-17 09:53] jpy-git commented on #2306
Yeah I had similar thoughts. No harm in seeing what happens if you move it though, worst case it fails and we close the PR 🤷

Also a lot of those redshift reserved keywords turned out to be unreserved in #2310 (confirmed by @rpr-ableton), so not sure how much I trust the docs 😅

[2022-01-17 09:55] #2206 closed

[2022-01-17 09:58] jpy-git commented on #2206
@wong-codaio FYI this was closed by #2327 since it addressed the bug in this issue, but feel free to reopen or copy step 3 of your `ALTER TABLE` plan to a separate issue if you want :)

[2022-01-17 10:03] rpr-ableton commented on #2306
I wouldn't trust the Redshift official documentation blindly; it's quite often incomplete (if not straight up misleading).

In the tests I ran in #2310 and #2318 , I did not include tests on column names, this might be a different set than for table/schema/function names..?

I can try to dedicate some time later this week, if there's interest, to do more in-depth testing in order to explore all po

[2022-01-17 10:08] jan-benisek commented on #2306
Oh well that's funny, because it is a column name of one of the admin tables
[code]

@tunetheweb I like both of your options to fix it, but that entails going through all the sql queries, and we have a lot. I'd rather that SQLFluff does nothing. Or even better, after `lint` and `fix`, is there a process which checks if this is still a valid code?

Thanks for the feedback, I will see what makes the

[2022-01-17 10:46] tunetheweb commented on #2306
I just moved `TABLE` from reserved to unreserved and test suite still seems to pass. So that is indeed an option.

[2022-01-17 10:52] rpr-ableton commented on #2306
@tunetheweb FWIW both `create temp table table as (select 1);` and `with table as (select 1) select * from table;` fail in Redshift.

That indicates to me that there might be a need to introduce more granularity then just reserved/unreserved? Maybe something similar to what exists in the PG dialect?

[2022-01-17 12:00] jpy-git commented on #2289
@R7L208 So this is valid syntax in Snowflake (and I think postgres too):

![image](https://user-images.githubusercontent.com/80432516/149764886-b38515ca-22f5-4f69-9ccb-d3de9d2288f0.png)

Looking at the Spark3 [docs](https://spark.apache.org/docs/latest/sql-ref-literals.html#datetime-literal) it actually looks like they use spaces between DATE and the date string in their examples so seems like the

[2022-01-17 13:46] R7L208 commented on #2289
Ah, thank you. I missed that in the docs and have only seen it without a space.

Would be a personal preference then but do actually prefer that it follows syntax as in the docs as implemented now, so will be closing the issue

[2022-01-17 13:46] #2289 closed

[2022-01-17 14:06] RRikor opened #2331 ""standard" output format"
I'm having trouble integrating this program into my Neovim. Most of the linters have an output format that looks like `file-path:line:column: message`

There are format option specified, but that does not output similar results. Is there an option/config possibility I missed somewhere to get output like this? If not, this could be a nice enhancement.

[2022-01-17 14:58] #1997 closed

[2022-01-17 16:12] tunetheweb commented on #2306
Postgres has [a number of types](https://github.com/sqlfluff/sqlfluff/blob/main/src/sqlfluff/dialects/dialect_postgres_keywords.py) (`"reserved"`, `"non-reserved"`, `"not-keyword"`, `"reserved-(can-be-function-or-type)"`), but this is for future use (like required here!) and they basically are still reserved or not.

So basically at the moment SQLFluff can't handle semi-reserved words and a keywor

[2022-01-17 21:10] jpy-git commented on #1995
I'd be in favour of this rule too. In general I think it's best practice to avoid using quoted identifiers where possible.

I think this rule should be "Use unquoted identifiers instead of quoted identifiers" with a config option so the user can specify what types of object reference they want to apply to (e.g. all, tables, columns, schemas, etc). Should be pretty easy to apply that config option

[2022-01-17 21:32] jpy-git commented on #1798
@barrywhart @tunetheweb What's your opinion on making this a rule?

- It's pretty similar to L043 but doesn't use COALESCE so should be a separate new rule.
- `GREATEST`/`LEAST` are common but are not in the `ANSI` standard like `COALESCE` so we would need to filter out this fix for some dialects to avoid corrupting code. [This](https://stackoverflow.com/questions/3794451/greatest-and-least-in-sql

[2022-01-17 21:32] tunetheweb commented on #1995
In general I agree, however this is one that could be prone to a lot of false positives meaning many might disable it - at which point it’s reasonable to ask why it’s enabled by default and if it should be an optional rule for more advanced users. Especially with the issues we know of with semi-reserved words discussed recently that SQLFluff doesn’t support yet.

What do you think about one or mor

[2022-01-17 21:42] tunetheweb commented on #1798
I dunno. I can see the argument for it, but given it’s not in ANSI, I can also see the argument for writing more generic code and keeping code more portable. So seems quite an opinionated rule, that many might not agree with.

Perhaps it be an optional config to rule L043 instead? And rename it to “avoid unnecessary CASE statements”. You could check for `COALESCE` replacements or `GREATEST`/`LEAST

[2022-01-17 21:44] jpy-git commented on #1995
@tunetheweb yeah agree it makes sense to add some extra restrictions to reduce false positives 👍

My main question would be:
If we were to go with option 4 then what would be the motivation for also including 2? Why would they need to further filter down alphanumeric + non-reserved identifiers?

[2022-01-17 21:59] tunetheweb commented on #1995
Option 2 is a nice to have for users that like to use some common exception to the rule and don’t want to litter their code with inline ignores. To be honest it something I think many rules could benefit from! For example rule L010 was incorrectly picking up `date` as a keyword for #2281 (since fixed) and it would have been nice to temporarily allow that until 0.9.3 is released. Or similar.

Two p

[2022-01-17 22:34] jpy-git opened #2337 "Warn on unused inline ignores"
This is a nice feature that `mypy` offers via
[code]

The idea is that occasionally when using mypy you can run into a false positive (usually due to some incorrect/incomplete stubs in typeshed) and as a result you can add an inline ignore (`# type: ignore`) to ignore it.

However, over time these issues get fixed and your inline ignore can become redundant. With the flag above mypy will raise a l

[2022-01-17 22:39] tunetheweb commented on #2337
I like it!

One thing to consider is different versions of SQLFluff.

For example I use SQLFluff locally, but for some projects if use it via GitHub Super Linter in CI and that is usually a version or two behind (cause of our frequent release cadence and the fact they only update dependencies once a week or so).

So could get annoying if it warns on something I don’t want to remove yet.

Or maybe

[2022-01-17 22:41] barrywhart commented on #1995
I like the idea for the rule, and the goal of reducing false positives. Is there potentially a way to automatically determine what names **would've** required quoting and only report an issue if this is not the case? (Perhaps looking up the relevant lexer for the current dialect.) If so, that could also reduce the risk of false positives, compared to some of the options discussed here.

[2022-01-17 22:44] barrywhart commented on #1798
I like it. I'm not too concerned about database portability, since in my experience, SQL is almost always written for one database _only_.

[2022-01-17 22:45] jpy-git commented on #2337
@tunetheweb Yeah it's easy enough to have it in either config or as a CLI flag without much extra work. Both use cases are valid.

mypy offers a CLI flag as well for the same reason.
![image](https://user-images.githubusercontent.com/80432516/149844681-203774c4-cdf3-477a-9a15-4f65d6c9dae8.png)

[2022-01-17 22:46] #2322 closed

[2022-01-17 22:46] tunetheweb commented on #1798
Well I meant more programmer portability than database portability cause yes I agree code tends not to move. Then again that’s part of what a linter is for - to enforce best practices on those that might not know them. So maybe it is a good, stand-alone, rule for the dialects that support it.

[2022-01-17 22:55] barrywhart commented on #1798
Yes, I like it in the sense of helping less experienced SQL users. maybe analysts and data scientists.

About `COALESCE()`, we used it frequently at my last job doing data science projects. There may be a data person versus engineer person "divide" here. It may also depend on the situation. IIRC, we would often use it simply to ensure no `NULL` values, e.g. `COALESCE(col, "")`, similar to the old

[2022-01-17 23:03] jpy-git commented on #1798
So do we think make L043 more generic to “avoid unnecessary CASE statements” or a new rule for this? I'm easy either way :)

[2022-01-17 23:06] tunetheweb commented on #1798
Slight preference to expand L043. Seems similar enough to keep together.

But would also be happy with separate rule and maybe that reduces rule complexity and necessary config options.

[2022-01-17 23:07] #548 closed

[2022-01-17 23:09] barrywhart commented on #1798
Ditto.

If we make a separate rule, there's some risk we end up with 5 or 10 similar rules. Also from a branding point of view, having one rule that does all this makes SQLFluff seem a little smarter and more magical. 🎩🪄🐇

[2022-01-17 23:10] jpy-git commented on #1798
Nice, will pick this up tomorrow 😎

[2022-01-18 01:08] barrywhart commented on #2331
One possible workaround: Could you try using `sqlfluff lint --format github-annotation`, then transforming the output (perhaps using `jq`)?

https://stedolan.github.io/jq/manual/

[2022-01-18 01:17] barrywhart commented on #1779
No feedback after 2 1/2 months. Closing.

[2022-01-18 01:17] #1779 closed

[2022-01-18 01:18] barrywhart commented on #1777
No response after 2 1/2 months. Closing.

[2022-01-18 01:18] #1777 closed

[2022-01-18 14:32] sam-watts opened #2339 "For dbt projects, can we automatically install the dbt packages (or eliminate the need)?"
## Expected Behaviour
There should be a way of ignoring `packages.yaml`, as these may not actually be required for linting?
Otherwise, as part of the pre-commit setup, the required packages should be installed. Not sure of the best way of approaching this, as dbt packages are just dbt projects rather than installable python packages.

## Observed Behaviour
[code]
## Dialect
redshift with dbt templ

[2022-01-18 15:21] jpy-git commented on #2306
Actually coming back to this, I was surprised to see that `TABLE` is already an unreserved keyword in ANSI (and has been for the last 2 years). If we were to see issues from moving `TABLE` to unreserved then we would've almost certainly seen it in ANSI.
I personally have no issues moving the Postgres `TABLE` keyword to unreserved, as although it's not strictly unreserved in every situation, I thin

[2022-01-18 15:43] jpy-git commented on #1995
@barrywhart Yeah that's basically option 4 but with the dialect specific lexer.

What I'll do is:
- Identify a `QuotedIdentifierSegment`
- Remove it's quotes and see if it can be matched by the template and anti-template (anti-template is list of reserved keywords) of the corresponding `NakedIdentifierSegment` and if so then it's redundantly quoted and I lint/fix.

In terms of retrieving the `Nake

[2022-01-18 16:30] kdw2126 opened #2340 "L043: Applying sqlfluff fix to certain CASE WHEN statements generates invalid SQL"
## Expected Behaviour
When a CASE WHEN statement is included in SQL, ```sql fix``` should not replace it with invalid SQL that does not run.

Ideally, when the following SQL is included in a file CASE WHEN var IS NULL THEN NULL ELSE var END, SQLFluff should replace it with var.

(I appreciate how insanely silly this syntax example is, but I'm donating my embarrassing code example for the cuse.)

#

[2022-01-18 17:18] tunetheweb commented on #1995
I presume this is missing a NOT?

If so, then SGTM.

Yeah that's probably not needed for this rule if we can filter out the anti-template ones. Still might be good for other rules but will give it some more thought.

[2022-01-18 17:20] jpy-git commented on #1995
@tunetheweb yep you're right 😄 I've finished the rule so will create the PR now 👍

[2022-01-18 17:43] jdsalomon opened #2342 "Parsing: Snowflake time constants interpreted as column references"
When using Snowflake time constants, the parser interprets them as column references.

For the query
`SELECT DATEADD(NANOSECONDS, -1, '2020-01-01')`

## Expected Behaviour
[code]
## Observed Behaviour
[code]

## Steps to Reproduce
Parse this query:
`SELECT DATEADD(NANOSECONDS, -1, '2020-01-01')`

## Dialect
Snowflake

## Version
0.9.1

## Configuration
* dialect = snowflake
* sqlfluff rules: https

[2022-01-18 17:51] tunetheweb commented on #2342
Looks like we need to override the ANSI definition of `DatePartClause` in the snowflake dialect to add the extra keywords Snowflake allows in date calcs to fix this:

[code]

Good first issue if you (or anyone else) wants to submit a PR? Lots of detail here on how to go about it: https://github.com/sqlfluff/sqlfluff/wiki/Contributing-Dialect-Changes

[2022-01-18 18:53] jpy-git commented on #2340
This is L043 rather than L034.

I've got a fix for this that I'm going to split into two parts:
1. Thanks to @barrywhart's recent work improving the CASE statement grammar we can greatly simplify the fix logic in this rule which fixes this issue in the sense that it will correctly form the coalesce statement (as well as generally simplifying the rule logic):
[code]
2. Although this satisfies the o

[2022-01-18 20:34] erevear opened #2344 "ALTER TABLE DROP COLUMN statements in Snowflake fail if dropping multiple columns"
## Expected Behaviour

When running parsing or linting on ALTER TABLE DROP COLUMN statements, properly formatted/written statements that list multiple columns should pass linting and parsing.

## Observed Behaviour

Parsing fails on the second column in the list, but passes if we remove the second and third columns. However, this statement works in Snowflake without issue.

## Steps to Reproduce
E

[2022-01-18 21:19] #1995 closed

[2022-01-18 21:21] RRikor commented on #2331
I'll give something like that a try, thanks!

[2022-01-18 21:21] #2331 closed

[2022-01-18 22:28] juhoautio opened #2345 "fix succeeds even though lint fails with PRS error"
## Expected Behaviour

I assume fix is basically lint + fix (probably many do if they fix in a pre-commit, for example). If that assumption is reasonable, then `fix -f` should fail whenever `lint` would fail.

## Observed Behaviour

It's possible that `fix -f` succeeds when fix doesn't find anything to do, even though there are errors that would cause `lint` to fail.

## Steps to Reproduce

Edit:

[2022-01-18 22:30] juhoautio commented on #2296
@tunetheweb thanks. I filed that as a new issue: "fix succeeds even though lint fails with PRS error", https://github.com/sqlfluff/sqlfluff/issues/2345.

This issue here remains simply about adding missing type aliases to Hive dialect.

[2022-01-19 01:39] #2344 closed

[2022-01-19 02:01] #2286 closed

[2022-01-19 09:43] jpy-git commented on #2342
N.B. all the `datetime units` for Snowflake have already been added
https://github.com/sqlfluff/sqlfluff/blob/8528cf92138804956aaa21324dbf782c9a70d27c/src/sqlfluff/dialects/dialect_snowflake.py#L297-L394

However, as @tunetheweb says it looks like the `DatePartClause` in Snowflake needs updating to match this list, so should be able to copy the `datetime_units` pretty quick.

It's the same in ANSI

[2022-01-19 09:46] jpy-git commented on #651
Going to close this as this is a dbt limitation not sqlfluff and dbt speed has likely improved since this issue was raised (although obvs will still be longer than Jinja, given it connects to a database).

[2022-01-19 09:46] #651 closed

[2022-01-19 11:41] black-body opened #2352 "user rules path"
Hello everyone,
I am not sure is this enhancement or it is already there, if it is sorry for opening this issue.
My question is:
Is there a simple way to include user rules located at the user path using sqlfluff cli.
g.e.
[code]

[2022-01-19 11:45] jpy-git commented on #829
So I've taken a look at this and it's not the SandboxedEnvironement but rather that the Jinja environment needs to be provided with a search path on which to look for these files to import.

Consider this POC:
*./test.sql*
[code]

*./test2.sql*
[code]

*./test.py*
[code]

[2022-01-19 11:48] jpy-git commented on #829
N.B. we already kind of make use of this feature for our current macro support functionality ([docs](https://docs.sqlfluff.com/en/stable/configuration.html#macro-templating), [code](https://github.com/sqlfluff/sqlfluff/blob/c6585107126500719657ea2ad13de3c3920d7af4/src/sqlfluff/core/templaters/jinja.py#L203-L213)) so we'll need to expand this to accomodate these jinja blocks.

[2022-01-19 11:52] jpy-git commented on #829
For those requesting this feature, could you clarify that when you specify `{% include 'file.sql' %}` where are you expecting that `file.sql` to be located (relative to the linted file I assume)?

[2022-01-19 12:01] jpy-git commented on #2352
So the project supports plugins for you to create your own rules: https://docs.sqlfluff.com/en/stable/developingplugins.html
and there's also an example of how you would go about doing that: https://github.com/sqlfluff/sqlfluff/tree/main/plugins/sqlfluff-plugin-example/src

Personally I think adding the `--rulepath` CLI option is more messy than using the already provided plugin method. If you use

[2022-01-19 12:10] jpy-git commented on #1687
I'm going to close this issue.

To summarise above:
- This is not a rule bug, just a personal preference to not use this rule which is easy to turn of via the config.
- I'll add that I'm also in the camp of disabling L031 in my config as, although I agree in principle to promote best practices, I find it adds a lot of noise to the code in practice, especially when you don't have control over colum

[2022-01-19 12:10] #1687 closed

[2022-01-19 12:17] black-body commented on #2352
Yeah I was checking that as well, I was thinking is there a faster way :D as I am not too familiar with plugin development. Anyway I will probably proceed with plugin method for now, Thanks for quick response! I'll close this.

[2022-01-19 12:23] jpy-git commented on #2352
Echo @tunetheweb here, we could def use some improvement on our documentation in this area, so feel free to ping us here or on slack for clarifications and any suggestions/contributions for improving the docs based on your experience would be very helpful 😄

[2022-01-19 12:37] black-body commented on #2352
Sure thing, will do that! Thanks!

[2022-01-19 13:01] #2340 closed

[2022-01-19 13:30] Alex1802 commented on #829
Thanks for looking into this @jpy-git

The use case I was testing when I received this error was the following:

Query1:
`./dags/sql/dml/query1.sql`
[code]

Project structure along these lines:
[code]

The `.sqlfluff` file includes:
[code]

For testing the rendering our team used the render_template.py script to define search paths. The dags, sql and macro paths are specific to our setup but hopin

[2022-01-19 13:31] barrywhart commented on #829
I did some exploratory work on this. The Jinja templater already configures Jinja with a macro/template loader if `load_macros_from_path` is configured:
[code]

However, there's a bug -- we create the Jinja environment **multiple times**, and sometimes the loader is omitted.

The diffs below address that. However, this surfaces another issue: after the template is rendered, I'm seeing a runtime er

[2022-01-19 13:32] jpy-git commented on #1488
So this also affects MySQL, although in mysql it's space or newline separated. Postgres is newline separated only. (I've also checked and verified that Snowflake doesn't allow these space/newline separate string literals)

![image](https://user-images.githubusercontent.com/80432516/150139967-ad418fb3-4161-41dd-8250-399ddf5ac29e.png)

One thing we'll also need to clear up for these dialects first i

[2022-01-19 13:34] jpy-git commented on #829
@barrywhart awesome thanks 👍 Will assign to you to pick up when you get the chance 😄

[2022-01-19 14:56] #2224 closed

[2022-01-19 15:18] jpy-git commented on #1488
An additional refinement is that comments can be placed between the concatenated literals so this will have to be handled via grammar rather than a lexer:
![image](https://user-images.githubusercontent.com/80432516/150159696-e110456c-eff4-477e-8980-0333181caedf.png)

[2022-01-19 16:29] jpy-git commented on #1488
@rpr-ableton Would you be able to do me a quick favour since you have access to redshift?

I've got a fix for postgres and mysql but want to confirm the extent to which redshift supports this, given that it inherits from postgres. Would you be able to run each of these queries and let me know if they're valid in redshift please? 😄
[code]

Maybe also try
[code]
which isn't valid syntax in postgres

[2022-01-19 16:53] rpr-ableton commented on #1488
@jpy-git sure thing! All the statements in your first code block are valid in Redshift.

However `SELECT 'foo'   'bar'` isn't :smile:

[2022-01-19 17:08] jpy-git commented on #1488
Amazing, thanks mate! 😊

[2022-01-19 18:41] robertdefilippi commented on #2339
I'm seeing the same thing on my end, with the same `.pre-commit-config.yaml` file

[code]

[2022-01-19 21:11] barrywhart commented on #1830
As noted by @jpy-git, this is a similar issue as #2265. There's an open PR for that issue (#2336). If we don't address it in that PR, it should be a pretty straightforward enhancement to that fix.

[2022-01-19 21:26] #2265 closed

[2022-01-19 21:57] barrywhart commented on #829
I've got this working in a PR. Just need to add automated tests and it'll be good to go.

[2022-01-19 22:54] tunetheweb commented on #1600
Closing as decided not to include the dbt templater as will need dbt packages installed too so not a good fit for those super/mega linters anyway.

[2022-01-19 22:54] #1600 closed

[2022-01-20 02:40] fawix opened #2357 "OPTIONS with VIEW not recognized in BQ Dialect"
When using `OPTIONS` with `VIEW` it throws an error saying invalid SQL.

This works as expected
[code]

linting output `sqlfluff lint ... `
[code]

This doesn't work as expected:

[code]

Linting output the following:
[code]

Interestingly this works

[code]

linting output
[code]

## Expected Behaviour

Expected the tool to be able to parse views with options.

## Observed Behaviour
Views with op

[2022-01-20 07:37] fdw opened #2358 "Require conditional statements to have begin/end"
Similar to #1750, `if` statements (and maybe `case` too?) should always use `begin` and `end` to make their reach unambiguous.

Anti-Pattern:
[code]

Pattern:
[code]

[2022-01-20 07:55] fdw opened #2360 "begin/end not indented correctly"
## Expected Behaviour
Blocks with `begin` and `end` should be indented exactly `tab_space_size` more than their surrounding block, f.e.

[code]

[code]

## Observed Behaviour
The given SQL (with wrong indentation) is not changed:
[code]

## Steps to Reproduce
1. Have file with `begin`/`end` and incorrect indentation
2. Define `tab_space_size` to a different value.
3. Run `sqlfluff fix`

## Dialect

[2022-01-20 08:04] sti0 opened #2361 "EXASOL: L013 wrong result when using json_extract"
In Exasol we could use the `json_extract()` function to extract multiple values out of a json string. The `emits` clause defines how the values are exposed. In such a case its not possible to use a alias.

## Expected Behaviour
L013 should not raise when using `json_extract()`

## Observed Behaviour
L013 raises.

## Steps to Reproduce
[code]

## Dialect
Exasol

## Version
Include the output of `sq

[2022-01-20 08:15] tunetheweb commented on #2360
Looks to me like `TRY` is not supported yet.

[code]

Now, as raised in #2345 `fix` doesn't warn you of this (but probably should!)

If you try the same with this:

[code]

It correctly flags:

[code]

So do you want to update the title to "`TRY` not supported for T-SQL"?

[2022-01-20 08:16] sti0 opened #2362 "L044 unexpected exception, L045 CTE not used?"
## Expected Behaviour

1. There should be no unexpected exception with L044
2. Both CTE are used. L045 should not raise.

## Observed Behaviour

[code]

## Steps to Reproduce
[code]

## Dialect
Exasol / Ansi

## Version
Include the output of `sqlfluff --version` along with your Python version.
If you are using dbt then please additionally include the dbt version.

sqlfluff v0.9.1
python v3.8.12

#

[2022-01-20 08:26] fdw commented on #2360
You're right, this only happens with `begin try`. However, I thought it should be implemented (#1541 and #2044) :/

[2022-01-20 08:30] tunetheweb commented on #2357
Raised #2359 for this.

[2022-01-20 09:22] tunetheweb commented on #2360
The CATCH part is not optional - should it be?
Currently, without it, SQLFluff can't understand the statement.

This works:

[code]

[code]

[2022-01-20 09:55] sti0 opened #2363 "L041 multiplies DISTINCT"
If `DISTINCT` stands in a single line L041 multiplies the DISTINCT keyword through a unproper fix.

## Expected Behaviour
`DISTINCT` should align behind `SELECT` and should be removed in the single line.

## Observed Behaviour
[code]

## Steps to Reproduce
[code]

## Dialect
Exasol / Ansi

## Version
Include the output of `sqlfluff --version` along with your Python version.
If you are using dbt th

[2022-01-20 11:19] fdw commented on #2360
Again, you're right. Now I'm left wondering which part of the file cannot be parsed :/
Unfortunately, I cannot share it, and it is too long to anonymize. I've tried to run `sqlfluff parse`, but I only get
[code]
Everything in between is only matched to `raw`.

`create or alter procedure` works on its own, however.

Any ideas how I can debug this?

[2022-01-20 11:31] jpy-git commented on #2363
Will take a quick look

[2022-01-20 11:49] tunetheweb commented on #2360
Unfortunately it's just a matter of deleting bits of the query to retry to get a minimal reproducible example.

Going to close this for now as seems to be a parsing issue causing it.

[2022-01-20 11:49] #2360 closed

[2022-01-20 12:53] #2357 closed

[2022-01-20 13:20] fdw opened #2367 "Support raiserror in TSQL"
T-SQL has a [raiserror](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/raiserror-transact-sql?view=sql-server-ver15) statement that doesn't seem to be parsed by `sqlfluff`.

[2022-01-20 13:24] fdw opened #2368 "begin/rollback/commit tran is not supported"
While sqlfluff has no problem parsing `begin transaction` (or `rollback transaction`, `commit transaction`), at least in T-SQL there is also the shorter form `begin tran` (`rollback tran`, `commit tran`) (f.e. https://docs.microsoft.com/en-us/sql/t-sql/language-elements/rollback-transaction-transact-sql?view=sql-server-ver15).

First, it would be nice if `sqlfluff` could parse this, too. Secondly,

[2022-01-20 13:34] fdw opened #2370 "return does not need a parameter"
At least in T-SQL, `return` does not require a parameter: https://docs.microsoft.com/en-us/sql/t-sql/language-elements/return-transact-sql?view=sql-server-ver15

## Expected Behaviour
[code]
can be parsed

## Observed Behaviour
parsing fails

## Steps to Reproduce
1. Use `return` without a paramter somewhere.
2. Run `sqlfluff parse` on it

## Dialect
T-SQL

## Version
[code]

## Configuration
[cod

[2022-01-20 13:43] jpy-git commented on #2370
@fdw if you want to fix this one it should be a very quick PR. Just change `Ref("ExpressionSegment"),` to `Ref("ExpressionSegment", optional=True),` here:
https://github.com/sqlfluff/sqlfluff/blob/d974cdaa1c49090fa1460c10d2b9d9ae69cd5fb8/src/sqlfluff/dialects/dialect_tsql.py#L1443-L1452

[2022-01-20 13:45] tunetheweb commented on #2370
And add a test case 😁

More info: https://github.com/sqlfluff/sqlfluff/wiki/Contributing-Dialect-Changes

[2022-01-20 14:25] tunetheweb commented on #2368
This would be another nice and simple one. Just replace a instances of `"TRANSACTION"` with `OneOf("TRANSACTION","TRANS")`.

Or better yet create a Grammar (`TransactionGrammar`) that has that and use that in place of all current instances of `"TRANSACTION"`. In fact this might be one to add to `dialect_ansi.py` and have every dialect inherit it since I think most dialects support this.

Then a co

[2022-01-20 14:34] #2361 closed

[2022-01-20 14:55] fdw opened #2372 "tsql: Should be able to parse stored procedure declarations with default values for parameters"
At least in T-SQL, you can define default values for a stored procedure's parameters (https://docs.microsoft.com/en-us/sql/relational-databases/stored-procedures/specify-parameters?view=sql-server-ver15#specifying-parameter-data-types). It would be nice if `sqlfluff` could parse and maybe even format them.

[2022-01-20 14:56] fdw commented on #2370
I think I might try my hand at this, when I have some time. Thank you! 🙂

[2022-01-20 15:23] #1830 closed

[2022-01-20 15:36] #1488 closed

[2022-01-20 15:49] jpy-git commented on #829
We're splitting this work in to a couple steps:

- [ ] Add support for Jinja `include` and `from` statements.
- [ ] Allow for multiple user specified macro paths.
- [ ] Update Macro docs to reflect changes.

[2022-01-20 16:11] RishiKumarRay commented on #2370
Can i raise a PR , by just changing it to this as you said Ref("ExpressionSegment", optional=True),? One thing is it compulsory to add test case, Because I won't be able to do it .

[2022-01-20 16:30] jpy-git commented on #2370
@RishiKumarRay adding the test case is compulsory.

[2022-01-20 17:37] alvare16 opened #2375 "Snowflake issue parsing statement with COLUMN as an identifier"
Trying to create a boolean in this way:
` coalesce(a.column like '%"attribute":{"name":"something"%', false) as is_column`

## Expected Behaviour
The expected behavior would be for sqlfluff to lint my model and show me any lint errors that might exist.

## Observed Behaviour
sqlfluff returns a value error like:
`ValueError: unmatched '{' in format spec`

## Steps to Reproduce
Add a '{' characterwh

[2022-01-20 17:55] tunetheweb commented on #2375
It's not the `{`. This works fine for example:

[code]

It's the fact our Snowflake definition doesn't like a column name to be called `column` as that's a reserved word. This works fine:

[code]

The Snowflake [keyword documentation](https://docs.snowflake.com/en/sql-reference/reserved-keywords.html) says this is a reserved word:

![image](https://user-images.githubusercontent.com/10931297/150394

[2022-01-20 18:09] jpy-git commented on #2375
@tunetheweb if it is then it's not fully unreserved:
![image](https://user-images.githubusercontent.com/80432516/150396464-45900673-adc9-4a82-9d3b-5c81d2e0aaea.png)

Sounds like a similar situation to what we had for `TABLE` in postgres the other day: https://github.com/sqlfluff/sqlfluff/issues/2306#issuecomment-1015517744

Happy for them to made unreserved if it doesn't introduce new parsing issu

[2022-01-20 18:13] tunetheweb commented on #2375
Raised this: https://github.com/sqlfluff/sqlfluff/pull/2376 so let's see. It's not reserved in ANSI so doubt it'll cause an issue.

[2022-01-20 18:24] #2375 closed

[2022-01-20 18:45] #2306 closed

[2022-01-20 19:51] barrywhart commented on #2372
Can you provide an example SQL that you'd like SQLFluff to be able to parse?

[2022-01-20 19:55] barrywhart commented on #2339
@robertdefilippi: It sounds you're seeing a different error message, so this is not the same issue. Please open a new issue with more details on the error message(s) and instructions on how to reproduce the issue.

[2022-01-20 19:56] barrywhart commented on #2339
@sam-watts: SQLFluff's dbt templater simply runs dbt to compile the SQL, so it is not possible, as far as I'm aware, to have it ignore `packages.yaml`.

Does anyone have ideas whether this may be possible?

I will leave this open for a while, but unless someone has a brainstorm, this is likely not possible.

[2022-01-20 19:57] #2129 closed

[2022-01-20 19:58] barrywhart commented on #2339
I changed this to an enhancement, as SQLFluff is working as intended. Wouldn't `dbt` commands fail with the same error, i.e. telling you to run `dbt deps`?

[2022-01-20 20:00] fdw commented on #2360
I actually found several problems with the code and have opened issues for them. Thanks for your help! 🙂

[2022-01-20 20:02] fdw commented on #2372
Sure:
[code]

[2022-01-20 20:07] barrywhart commented on #2253
@wrborigin, @tomasfarias: Can one of you provide details instructions (and accompanying files) to reproduce this issue? Without this amount of detail, it's unlikely we can fix the issue (maintainers want to fix bugs, and often don't have time to guess how to reproduce them).

[2022-01-20 20:09] barrywhart commented on #2297
Note to maintainers: Someone should try to reproduce this locally, either on their native machine or in the Docker dev environment.

[2022-01-20 20:26] barrywhart commented on #2362
@sti0: Both these issues occur because of how the `txt` CTE is defined, using `VALUES`, which seems to be an EXASOL-specific feature. In order to handle this, we need to understand what it does. Can you provide a link to some documentation that explains it?

[2022-01-20 20:29] jpy-git opened #2379 "New rule: use long form of keywords"
This rule is a suggestion from Simon Hollywell's "SQL Style Guide" (fairly popular resource): https://www.sqlstyle.guide/#reserved-words

`It is best to avoid the abbreviated keywords and use the full length ones where available (prefer ABSOLUTE to ABS).`

So the rule would detect and replace ABS with ABSOLUTE, INT with INTEGER, TRAN with TRANSACTION, etc...

Not sure whether we have to refactor t

[2022-01-20 20:30] jpy-git commented on #2379
We could have a config option for "always long", "always short", or "consistent"

[2022-01-20 20:32] jpy-git commented on #2368
^ This reminded me of a rule suggestion I'd read a while back and it would make more sense to make a fix for something like this general so I've opened a suggestion for that.

This issue should just address the grammar fix suggested by @tunetheweb above 😄

[2022-01-20 20:36] barrywhart commented on #2297
I was able to reproduce this using the provided example. Will do a bit of investigating.

[2022-01-20 20:36] sti0 commented on #2362
Sadly its not really good mentioned in the [docs](https://docs.exasol.com/sql/select.htm?Highlight=values_table). You could search on that site for `values_table` .

I found another documentation from [AWS databricks](https://docs.databricks.com/sql/language-manual/sql-ref-syntax-qry-select-values.html) or even [Postgres](https://www.postgresql.org/docs/8.2/sql-values.html) which shows the functio

[2022-01-20 20:42] jpy-git opened #2380 "Generalise L056: Forbid use of Hungarian notation"
This rule is a suggestion from Simon Hollywell's "SQL Style Guide" (fairly popular resource): https://www.sqlstyle.guide/#general

In the avoid section:
`Descriptive prefixes or Hungarian notation such as sp_ or tbl_.`

This instantly made me think of our current rule L056: https://docs.sqlfluff.com/en/stable/rules.html#sqlfluff.core.rules.Rule_L056
which is handling quite a specific case when rea

[2022-01-20 20:46] tunetheweb commented on #2380
Sounds good. Might want to consider an option to still allow just `sp_` exclusions (or better yet to define which ones to exclude) to still satisfy the original T-SQL use case for that rule (which was not rated to Hungarian notion but for a different reason).

Also I presume you will only trigger this on CREATE? E.g. creating a table with a Hungarian notion name will trigger it, but not selecting

[2022-01-20 21:04] jpy-git opened #2381 "Double backticks in Lint description"
![image](https://user-images.githubusercontent.com/80432516/150420352-57452c80-ad25-423b-8251-645e541579ad.png)
(n.b. this affects a lot more rules than L051)

This was introduced in #2234 in which docstrings such as
[code]
were replaced with
[code]
so that they appear as code blocks in Sphinx for docs.
![image](https://user-images.githubusercontent.com/80432516/150420294-eb9d3127-db1d-457c-a637-d

[2022-01-20 21:10] barrywhart commented on #2381
Number 2 sounds good to me!

[2022-01-20 21:11] jpy-git commented on #2381
@barrywhart which variation?

[2022-01-20 21:11] jpy-git commented on #2380
No I think it should be all identifiers, if people are using hungarian notation then they'd probably just turn the rule off.

[2022-01-20 21:18] jpy-git commented on #2380
So tbh my gut feeling is the original incarnation is one that we've pulled from docs but not many people are actively making use of (https://github.com/sqlfluff/sqlfluff/issues/1745), I think it's too niche and dialect specific atm to be useful (tbf I wrote the rule as well so my bad lol) 🤷  I think this new approach solves are more common style and also prevents the original issue too (Sort of li

[2022-01-20 21:19] barrywhart commented on #2381
I would replace with single "normal" quotes: ' rather than \`.

The clever approach could be cool for later, but I wouldn't try it now. I can't remember if we already handle detecting whether we're running in a terminal or not, because the techniques for doing bold or colored text don't work well when redirecting output to a file, etc.

[2022-01-20 21:21] jpy-git commented on #2381
Yeah I think it's there's some `isatty` function we use in the formatter, but agree on the simple replace method for now 😄

[2022-01-20 21:45] #1932 closed

[2022-01-20 22:06] barrywhart commented on #2362
Nice, thanks! The "Examples" section of the [Postgres docs page](https://www.postgresql.org/docs/8.2/sql-values.html) you linked is really helpful.

[2022-01-20 22:08] barrywhart commented on #2362
I'm thinking we'll fix this by enhancing the `SelectCrawler` class (which is used in the implementation of both these rules) to interpret `VALUES` clauses approximately like the equivalent `SELECT` query. This could be a medium amount of work, but nothing too tricky, I think.

[2022-01-20 22:11] #2297 closed

[2022-01-20 22:14] tunetheweb commented on #2266
So turns out our default alabaster theme is also setting that, so still seeing this even with pygments 2.11.2. However it's only since pygments started applying the `w` class that this is visible (hence why we didn't see it before).

Will try and raise an issue with alabaster but looks like it's not maintained much anymore so will also raise a PR to override this to fix it short term.

[2022-01-20 22:19] tunetheweb commented on #2266
https://github.com/bitprophet/alabaster/pull/188

[2022-01-20 22:34] black-body commented on #2352
Hi,
I'll just start writing here on what issues I stumbled upon so far in setting up custom rules using plugin.

- Started from this [page](https://docs.sqlfluff.com/en/stable/developingplugins.html)
- I had to do some reading regarding plugins in python, [here](https://packaging.python.org/en/latest/guides/creating-and-discovering-plugins/)
- Did some reading on how to package python file, [here]

[2022-01-20 22:49] robertdefilippi commented on #2339
Hi @barrywhart, sorry for not being more clear. I was highlighting that those commands were run as well, and even then I was still getting the error message.

[code]
I'm getting the same `run dbt deps` but I know I already have from above.

When I run the `lint` command directly sqlfluff works

[code]

What is odd about the error message is

[code]

I'm only seeing this message when `sqlfluff` cal

[2022-01-20 23:00] barrywhart commented on #2339
@robertdefilippi: This is only a guess, but `pre-commit` creates a private Python environment and installs packages there. Perhaps you have different dbt, sqlfluff, and/or sqlfluff-templater-dbt packages installed with pre-commit than in your primary Python environment.

The warning that you're seeing sometimes but not others suggests something along those lines. Overall, it sounds more like an in

[2022-01-20 23:04] #2266 closed

[2022-01-20 23:07] robertdefilippi commented on #2339
Humm yes that does seem like it could be the issue.

When I run `pre-commit` I'm in a virtual environment created with [poetry](https://python-poetry.org/). This is where my `dbt` and `sqlfluff` binaries are installed.

However, I still get the same error message when I'm not in the virtual environment as well.

So, it might be the case `pre-commit` is looking for the binaries in the wrong locatio

[2022-01-20 23:27] barrywhart commented on #2339
@robertdefilippi: I see what you mean, though -- `pre-commit` is complaining, but `sqlfluff lint` is not.

A full example would help us look into this (scripts, files, instructions, etc.). There's a lot of legwork involved in reproducing issues from descriptions, and SQLFluff only has a small number of active contributors. If you can make the maintainers' work easier, your issues are more likely t

[2022-01-20 23:29] barrywhart commented on #2339
@robertdefilippi: `pre-commit` installs all the packages to a different location. It definitely **does not** use your main Python environment

[2022-01-21 01:03] #2381 closed

[2022-01-21 02:09] robertdefilippi commented on #2339
@barrywhart got it, and thanks for all the help!

I'll open an new bug report for this issue with all the scripts, files, instructions, etc. to make everything clearer.

[2022-01-21 02:28] robertdefilippi opened #2390 "sqlfluff-lint requires for `dbt deps` to be run when using `pre-commit`"
## Expected Behaviour

When using `sqlfluff lint` with `pre-commit`, the linter should go through changed files and show the issues with the file. However, an error is being thrown that `dbt deps` needs to be run.

## Observed Behaviour

[code]

However, when running `sqlfluff` without pre-commit, everything works.

[code]

What is odd about the error message from the `pre-commit` is the message o

[2022-01-21 07:12] fdw commented on #2368
So, this change seems easy enough to try, but I still need a pointer.

First, `BEGIN TRAN` and friends seem to be T-SQL-specific, so I'd only add it to `dialect_tsql.py`. Secondly, since `"WORK" ` is already a synonym in some cases, I'd prefer to not add a new Grammar, but use `OneOf`.
Is that reasonable?

Finally, I have no idea where to test this. I looked in `test/dialects`, but there is nothin

[2022-01-21 07:19] fdw commented on #2380
Would this rule also complain if I'm running system procedures in T-SQL, like `sp_rename`? Because I wouldn't want to turn the rule completely off (I don't want Hungarian notation, either), but I also don't want warnings if I can't change the builtin's name :/

[2022-01-21 08:04] tunetheweb commented on #2368
Sure! Happy to help. These sorts of changes are pretty simple for a regular maintainer to add, but would rather spread the knowledge so you can help self-serve in future. Plus you'll likely know a lot more about the dialect you use (I don't use T-SQL for example). So definitely happy to answer any questions to help make that happen!

Sounds good. Though it was more generic, but maybe it isn't. Let

[2022-01-21 08:05] tunetheweb commented on #2380
That's a good shout @fdw .

@jpy-git do think we need to consider how to handle that as otherwise this is a downgrade in functionality for T-SQL users (one of whom requested this rule in the first place!) as they will likely need to turn it off.

[2022-01-21 08:25] fdw commented on #2368
Thanks for that, it's *really* helpful! 🙂

I'll play with it some more, but the problem I see currently is that (at least for T-SQL), "WORK" is not always a valid synonym, but only sometimes (f.e. `ROLLBACK WORK` is fine, but `BEGIN WORK` is not). So, I think I'd have to look into ANSI to see whether `WORK` should be generally supported or not, and then overwrite it almost everywhere, maybe on sta

[2022-01-21 08:44] tunetheweb commented on #2368
Ah ok. See this is why it helps having the dialect users making the change 😁

You’ve two choices:
1. have a `TransactionGrammar` and a `TransactionOrWorkGrammar` and use appropriately in each statement. The T-SQL versions can include `TRANS` shorthand.
2. Just use one and allow `WORK` everywhere and accept that some statements will not be 100% perfectly set up in SQLFluff (as they aren’t right now

[2022-01-21 09:41] jpy-git commented on #2380
No worries, should we just limit to names in create statements and aliases then to avoid system procedures and already named tables?

[2022-01-21 09:55] tunetheweb commented on #2380
That would work I think.

Or have an optional config to also check all identifiers (that T-SQL users shouldn't enable if using system procedures).

Or alternative allow `sp_` for some/all dialects (maybe enabled by default for t-sql?)

[2022-01-21 10:28] jpy-git opened #2391 "New Rule: Ordering of JOIN types"
From Kickstarter style guide: https://gist.github.com/fredbenenson/7bb92718e19138c20591#join

`Begin with INNER JOINs and then list LEFT JOINs, order them semantically, and do not intermingle LEFT JOINs with INNER JOINs unless necessary:`

GOOD:

[code]

BAD:

[code]

Quite like the idea of grouping the join types together.

We'd need to choose an ordering to generalise this further so as a first

[2022-01-21 10:33] jpy-git opened #2392 "New Rule: Use COALESCE over IFNULL or NVL"
From Brooklyn Data co. style guide: https://github.com/brooklyn-data/co/blob/main/sql_style_guide.md#use-coalesce-instead-of-ifnull-or-nvl
[code]

Should be pretty simple to implement

[2022-01-21 10:42] jpy-git opened #2393 "New Rule: Use SELECT DISTINCT instead over grouping by all columns"
From Brooklyn Data co. SQL style guide: https://github.com/brooklyn-data/co/blob/main/sql_style_guide.md#use-select-distinct-instead-of-grouping-by-all-columns

[code]

[code]

Think this entails checking if the number of group by elements matches the number of select clause elements and if so raise then lint and apply fix.

I guess theres always the possibility the user writes some bad sql like b

[2022-01-21 10:49] jpy-git opened #2394 "New Rule: Use multiline comments instead of mulitple lines of single line comments"
From GitLab SQL style guide: https://about.gitlab.com/handbook/business-technology/data-team/platform/sql-style-guide/#commenting

[code]

This is nice because you can easily write and expand multiline comments without having to add the `--` to the start of each line.

This rule would detect if you have multiple consecutive lines of inline comments (on their own line) and replace it with a block c

[2022-01-21 11:01] jpy-git opened #2395 "New Rule: In ON clause of JOIN statement specify source table first and join table second"
From GitLab SQL style guide: https://about.gitlab.com/handbook/business-technology/data-team/platform/sql-style-guide/#joins

`Specify the order of a join with the FROM table first and JOIN table second:`
[code]

More generally put the SOURCE table first and JOIN table second (since the source isn't always necessarily with a FROM clause):
[code]

The motivation is that we already know the JOIN tab

[2022-01-21 11:19] jpy-git opened #2396 "New Rule: Prefer `LOWER(column) LIKE '%match%'` to `column ILIKE '%Match%'`"
From GitLab SQL style guide: https://about.gitlab.com/handbook/business-technology/data-team/platform/sql-style-guide/#general

Prefer `LOWER(column) LIKE '%match%'` to `column ILIKE '%Match%'`. This lowers the chance of stray capital letters leading to an unexpected result

Additionally there are quite a few posts about it being faster performance wise:
- https://til.hashrocket.com/posts/e65bb492

[2022-01-21 11:30] jpy-git opened #2397 "L036: single select target newline option"
This is one I would quite like as its easier to match in the PyCharm sql formatter settings (I don't use it but I set it up a while back to make it easier for my team to use SQLFluff) and I like the consistency. It's also recommended in the Mazar's SQL style guide: https://github.com/mattm/sql-style-guide#put-each-selected-column-on-its-own-line

I'm happy for the current behaviour of L036 to rema

[2022-01-21 11:47] jpy-git opened #2398 "New Rule: Use `!=` over `<>`"
So strictly `!=` isn't ANSI standard whereas `<>` is, however, this is an extremely common style guide suggestion.

- Mazar's: https://github.com/mattm/sql-style-guide#use--over-

Simply because `!=` reads like "not equal" which is closer to how we'd say it out loud.

[code]

- Brooklyn Data co.: https://github.com/brooklyn-data/co/blob/main/sql_style_guide.md#use--instead-of-

`!=` reads like "no

[2022-01-21 12:24] tunetheweb commented on #2368
Change looks good to me from a high level so happy for this approach. Can generalise later if needs be.

[2022-01-21 12:56] barrywhart commented on #2362
Note to self: This is a much simpler test case.
[code]

[2022-01-21 13:47] #2368 closed

[2022-01-21 13:52] barrywhart commented on #2390
Note: Related to #2339.

[2022-01-21 13:53] barrywhart commented on #2394
I have always preferred multiple single-line comments, because it avoids the likelihood that someday, I will forget to close the comment. 🙀

[2022-01-21 13:56] jpy-git commented on #2394
@barrywhart Could be another config option to always use single-line comments?

[2022-01-21 13:59] barrywhart commented on #2394
Sounds good to me! It's funny how much people's opinions differ.

[2022-01-21 14:02] jpy-git commented on #2394
Yeah I went through all the main SQL style guides and picked out the rules that I thought were the most widely applicable that we could use here.
So any further refinements/edge cases/additional options is appreciated so we can flesh them out before working on them 👍

[2022-01-21 14:06] #829 closed

[2022-01-21 14:25] johanjvrens commented on #2362
This is also a valid test case that should pass but gives multiple errors including parsing errors as can be seen from this link: [sqlfluff online](https://online.sqlfluff.com/fluffed?sql=H4sIANvB6mEC_wv3DPFQKFHQSM7PiTfUUQBRRpoKjsEKGrxcCkAQ5ugT6hoMYWuoG1gEeUYYqOsoGOiZGJtaWfmF-roGeTprmOgoGGtq8nIBES9XsKuPq3OIghYvl1uQv69CCQAQwyBKYwAAAA%3D%3D&dialect=postgres)

[code]

[2022-01-21 14:54] barrywhart commented on #2362
@johanjvrens: If it's not parsing, please create a separate issue for that. Thanks.

[2022-01-21 15:46] jpy-git opened #2402 "MySQL: Parse VALUES ROW"
## Expected Behaviour
In MySQL you can specify `VALUES` via the `ROW` function as a substitute for a table like so:
[code]
![image](https://user-images.githubusercontent.com/80432516/150555639-1125a492-3a07-4dc3-bb1c-08bf2baf030a.png)

(N.B. In MySQL you can still parse the standard `VALUES (1,4), (2,5), (3,6)` as part of an insert statement but not as a standalone statement like you can in Postgr

[2022-01-21 15:54] jpy-git commented on #2402
@barrywhart FYI motivation for getting this parsing is that we should consider the MySQL equivalent of the test cases discussed [here](https://github.com/sqlfluff/sqlfluff/pull/2400#discussion_r789718402):
[code]
Since `ROW` groups the entries together by rows rather than columns so would be worth checking if you're still able to infer the number of columns.
![image](https://user-images.githubuser

[2022-01-21 16:35] jpy-git commented on #2362
N.B. @johanjvrens' example is valid Postgres (but not Snowflake)

[2022-01-21 17:15] jpy-git commented on #2362
So on further investigation @johanjvrens' parsing errors are just because the parser doesn't like the shorthand typecast `::NUMERIC(4, 3)` in VALUES atm.

Removing that it parses fine. He is correct that it raises catastrophic erros on L044, pretty much the exact same as this issue. So this isn't just an EXASOL issue.
![image](https://user-images.githubusercontent.com/80432516/150570639-6db3321c-9

[2022-01-21 17:38] tomasfarias commented on #2253
@barrywhart Of course, let me preface by saying that the effort of the maintainers and contributors is much appreciated, thank you!

I'll include here a step by step reproduction of the issue starting from a clean dbt sample project:

1. Start with a clean dbt sample project

[code]

2. Create a profiles directory that contains UPPERCASE letters in the path:
[code]

3. Create a profiles.yml in the

[2022-01-21 17:39] tomasfarias commented on #2253
Forgot to add that I'm not 100% sure if this is the same issue @wrborigin was experiencing as their DBT_PROFILES_DIR did not contain any UPPERCASE characters. But, since the workaround seemed to work for both of us, it may be.

[2022-01-21 20:31] barrywhart opened #2406 "EXASOL: "VALUES" clause with a single record parses incorrectly (but without error) as a function call"
## Expected Behaviour

Both these queries' parse output include a `values_clause`. A correct parse result is important in order to address some of the cases discussed in PR #2400.
[code]

## Observed Behaviour
Partial output from `sqlfluff parse test.sql --dialect exasol`:
[code]

## Steps to Reproduce

## Dialect
exasol
**NOTE:** Some other dialects (Snowflake, Postgres, MySQL, Spark3??) also sup

[2022-01-21 21:32] #2392 closed

[2022-01-21 21:34] jpy-git commented on #2406
@barrywhart good shout, let me try and investigate this as part of #2404

[2022-01-21 21:50] barrywhart commented on #2391
Random observation: Assuming this rule generates fixes, it will reorder code in a manner similar to L034. For a while, we were encountering a **lot** of `sqlfluff fix` issues with L034 and templating. I _think_ we're in excellent shape now and won't see these kinds of issues anymore. 🤞

[2022-01-21 21:54] barrywhart commented on #1970
@tekumara,  @dcastillo-tab, or @samLozier: Are you still seeing this issue in newer versions of `sqlfluff`, `sqlfluff-templater-dbt`, and dbt itself? If so, can you provide a test case?

[2022-01-21 21:55] jpy-git commented on #2391
yeah it'll be a good test! I already have a fairly good idea of how this rule should work so will probably work on this one next 👍

[2022-01-21 21:55] calliewhitee opened #2408 "Can't find dbt_packages file in dbt-core==1.0.0 upgrade"
## Expected Behaviour
Provide results of linting compiled sql files

## Observed Behaviour
[code]

## Steps to Reproduce
pyenv local 3.8.9
mkvirtualenv -p /usr/bin/python3 test_sqlfluff
pip install dbt-core==1.0.0
pip install dbt-snowflake==1.0.0
pip install sqlfluff==0.9.0 (I tried 0.9.1 as well -- same output)
pip install sqlfluff-templater-dbt==0.9.0 (I tried 0.9.1 as well -- same output)
dbt d

[2022-01-21 21:56] jpy-git commented on #2391
Do you agree with my proposed ordering?

[2022-01-21 21:58] barrywhart commented on #1849
@dwallace0723: Can you provide a complete example (models plus config files to reproduce this issue)? As I mentioned earlier, it's not possible to lint an ephemeral model directly, but linting another model that **depends on ** an ephemeral model should work. Above, I think you provided _just_ an ephemeral model.

Thanks!

[2022-01-21 21:59] #2362 closed

[2022-01-21 21:59] barrywhart commented on #1808
@tunetheweb: Do you think this issue has been addressed? I expect (hope) we'll keep making improvements in this area, but I think the new `Segments` class and its brethren have simplified things a good bit.

[2022-01-21 22:03] barrywhart commented on #1097
I wonder if one of these existing open-source tools would work well as an alternative to adding this to SQLFluff:
* https://pmd.github.io/#about
* http://www.harukizaemon.com/simian/

[2022-01-21 22:06] barrywhart commented on #1540
Update to my above comment: I left my previous job, where they were using Dataform. Because of Dataform being written in a different language, this seems like quite a significant project, and I'm not going to be taking it on.

Any volunteers?

[2022-01-21 22:08] barrywhart commented on #815
We attempted to do this awhile back and gave up. AFAIK, there haven't been any other requests for this. Think we should close it?

[2022-01-21 22:10] abalter commented on #815
Hi @barrywhart . By chance, what problems did you run into? I've never done it before myself, but I would try to help if I can. Maybe send me the code you used to try, and I'll see if I can get it to work?

[2022-01-21 22:12] jpy-git commented on #1808
^ I'm +1 on this! I think functional API has been pretty handy so far 👍

[2022-01-21 22:12] barrywhart commented on #464
The recently added class & property `Segments.raw_slices` makes it straightforward to access the original (before template expansion) source code for one or more segments -- this may be helpful for implementing the rule described here.

[2022-01-21 22:14] barrywhart commented on #815
@abalter: See the PR linked above (#956). Someone else did the work, and I don't know what the issues were, but that may provide some clues.

[2022-01-21 22:17] barrywhart commented on #2391
The ordering makes sense to me.

I'm unsure what it means to:

Is that something SQLFluff can detect and/or enforce?

Related: I think someone once proposed a rule to discourage the use of `RIGHT JOIN`, but I can't find it. Was just thinking that's a somewhat related idea to this one.

[2022-01-21 22:29] sti0 opened #2410 "Exasol: Allow quoted identifier for multiple statement types"
Do you know if this can be a quoted identifier in Exasol?

In a lot of other dialects this is possible.
e.g. Postgres:
![image](https://user-images.githubusercontent.com/80432516/150606474-7280abb5-4bdf-428c-b61b-0ef34d746213.png)

Same question applies to all the `DROP` segments with `NakedIdentifierSegment` in this PR?

(also I appreciate you didn't introduce them in this PR, but good opportunit

[2022-01-21 22:30] sti0 commented on #2410
I will look into this

[2022-01-21 23:04] sti0 commented on #2396
Quick note: `ILIKE` is not supported in `Exasol` dialect.

[2022-01-21 23:22] jpy-git commented on #2396
@sti0 thanks! This rule would switch from ILIKE to LOWER so this shouldn't have any risk of corrupting exasol

[2022-01-21 23:28] jpy-git commented on #2391
So I think ordering semantically means order them in terms of importance/relevance to the query logic, which is obviously something SQLFluff can't infer. That's why I'm suggesting we just generalise to ordering by JOIN type (within the same JOIN type they can just be ordered by how the originally appeared) 😄

Yeah I think the forbid `RIGHT JOIN` was one I suggested a while back (will have a look f

[2022-01-21 23:38] calliewhitee commented on #2408
I found a work-around by putting dbt_packages/ in .sqlfluffignore. Probably good practice anyway, but it should probably be automatically excluded.

[2022-01-22 00:24] jpy-git opened #2411 "New Rule: Forbid use of RIGHT JOIN"
This is from the dbt style guide: https://github.com/dbt-labs/corp/blob/master/dbt_style_guide.md#sql-style-guide

`Right joins often indicate that you should change which table you select from and which one you join to.`

This rule would raise a lint suggesting the user should consider refactoring their query to make use of LEFT JOIN instead.

N.B. It is unlikely to be able to create a fix that c

[2022-01-22 00:24] jpy-git commented on #2411
@barrywhart FYI: following on from our discussion [here](https://github.com/sqlfluff/sqlfluff/issues/2391#issuecomment-1018947218)

[2022-01-22 00:39] tekumara commented on #1970
@barrywhart yes this is happening for me in 0.9.1 of sqlfluff + sqlfluff-templater-dbt
I'm not sure if this is what you are after, but here's a repo that reproduces the issue: https://github.com/tekumara/sqlfluff1970

[2022-01-22 00:42] jpy-git commented on #2411
@barrywhart lol no wonder it's familiar, that's already L055! 🤣

[2022-01-22 00:42] #2411 closed

[2022-01-22 05:30] sti0 commented on #2396
Yes. Just a information for you for your journey learning the Exasol dialect 😄

[2022-01-22 08:24] tunetheweb commented on #1808
Yes it's definitely a whole lot better. I still don't think it's quite as simple as adding a dialect for newbies, but that's probably the nature of rules being specific each time. Anyway, I think the improvements allow us to close this issue.

[2022-01-22 08:24] #1808 closed

[2022-01-22 08:25] #2402 closed

[2022-01-22 08:25] #2406 closed

[2022-01-22 08:58] tunetheweb commented on #2397
SGTM!

[2022-01-22 09:05] tunetheweb opened #2415 "Rule L060 could give a specific error message"
At the moment rule L060 flags something like this:

[code]

Since we likely know the wrong word, it might be nice to actually flag that instead of both `IFNULL` and `NVL` - like most of the other rules do.

That is it should flag this:

[code]
 Or this:

[code]

As appropriate.

What do you think @jpy-git ?

[2022-01-22 09:39] rpr-ableton opened #2416 "UPDATE statements are not parsed in Redshift dialect"
## Expected Behaviour
Since Redshift UPDATE syntax is similar to the postgres and ANSI one, it shouldn't error out because it inherits from postgres (which in turns inherits it from ANSI).

I think I'm missing something obvious but since the below statements parse without any error both in ANSI and postgres dialect, I can't cog why it wouldn't when dialect is set to Redshift.

## Observed Behaviou

[2022-01-22 09:58] jpy-git commented on #2415
@tunetheweb Yeah definitely, should be a pretty quick change 😊

[2022-01-22 10:20] tunetheweb commented on #2416
This is due to the fact that `SET` is not a reserved word in Redshift.

Therefore it's allowed to be used as a table alias. So:

[code]

Is read by SQLFluff as:

[code]

And it doesn't understand that.

The easiest answer in this case is to make `SET` reserved and then it'll parse. Though that might not technically be accurate since, according to [the documentation](https://docs.aws.amazon.com/red

[2022-01-22 10:40] rpr-ableton commented on #2416
Ah, true!

Yep, the above statement does work, `SET` doesn't seem reserved in any way :no_mouth:

[2022-01-22 11:14] jpy-git commented on #2416
I've encountered this exact issue recently as well and ended up giving up trying trying to fix it.

It's actually a bit borked in Postgres as well but is currently parsing due to an oversight in how the keywords are defined, SET is both reserved and unreserved (will open a separate issue for that)!

But yes, as @tunetheweb mentioned it did parse when I made `SET` reserved but that then doesn't all

[2022-01-22 11:18] jpy-git commented on #2416
Quick demo of the insanity that is Postgres keywords 🤯
![image](https://user-images.githubusercontent.com/80432516/150636354-a19d6dd6-6e85-427c-8dd0-62df9cc0956b.png)

[2022-01-22 11:22] tunetheweb commented on #2416
I've for a fix. PR coming up.

[2022-01-22 11:25] tunetheweb commented on #2416
https://github.com/sqlfluff/sqlfluff/pull/2417

Think we should revert "SET" back to unreserved for Postgres in that PR too?

[2022-01-22 11:37] jpy-git commented on #2416
@tunetheweb it's because Postgres inherits from ANSI and therefore keeps its keywords
It then updates the set to add its own keywords but never removes the ANSI ones:
![image](https://user-images.githubusercontent.com/80432516/150636906-cc35268d-c384-407d-ac57-f35643667fa8.png)

Postgres keywords are very thorough, so pretty sure we just need to clear the ANSI keywords before we do the updating?
i

[2022-01-22 11:39] tunetheweb commented on #2416
OK will leave that for another time then. Feel free to raise an issue for it so we don't forget if you want.

[2022-01-22 11:43] jpy-git commented on #2416
Yeah I'll test it out now and if it's a more involved change will make an issue 👍

[2022-01-22 11:49] jpy-git commented on #2416
Also the reason I encountered this error initially was I was updating the `EXPLAIN` statement as I recently updated the Postgres one and the Redshift one is different. Going to finish that off once we merge in #2417

[2022-01-22 12:06] #2416 closed

[2022-01-22 12:38] tunetheweb opened #2420 "Code coverage has dropped below 100% (again)"
## Expected Behaviour

PRs should complete with 100% coverage and no loss in coverage.

This makes it easier to identify loss in coverage and avoids rounding errors leading to apparent loss in coverage when this is not due to that PR

`noqa` should be used when we're happy for code not to have coverage to keep us at 100%

## Observed Behaviour

We're at 99.93%

@barrywhart it looks like it was due

[2022-01-22 13:15] #2415 closed

[2022-01-22 14:27] barrywhart commented on #2420
This file is not used anymore. It was essentially replaced by `JinjaTracer`. I had left it in place for some time, worried that `JinjaTracer` may have some big, hidden flaw and we'd need to revive this or fall back to it in some cases. I think I'll just remove it, since this is becoming troublesome. We can dig it out of the git history if we ever need to. Hope not! 🤞

[2022-01-22 14:46] #2420 closed

[2022-01-22 15:52] barrywhart opened #2424 "Improve how "sqlfluff fix" handles parse errors"
Currently, `sqlfluff fix` applies fixes even if there are parse errors. It merely prints a warning and exits with status code `1`.

We should make it "harder" to apply fixes when there are parse errors, because this can easily cause worse problems (i.e. introducing new errors into the SQL code, because rules often don't handle bad code very well, and this is likely to remain the case).

Some ideas

[2022-01-22 15:57] tunetheweb commented on #2424
I think fix the files with no parsing errors, do not fix files with parsing errors (even if some fixes could potentially be applied to parsable bits of the file) and exit non-zero.

[2022-01-22 16:10] chwiese opened #2426 "Add parameter to make subset of AnyNumberOf() or AnySetOf() elements required"
There can be situations where statement parameters can be in arbitrary order, but they are still required. One example would be Snowflakes [CREATE EXTERNAL TABLE](https://docs.snowflake.com/en/sql-reference/sql/create-external-table.html) statement, where `LOCATION` and `FILE_FORMAT` are required, but can be in arbitrary order with the other parameters, which are optional.

A parameter to make an

[2022-01-22 17:44] #2398 closed

[2022-01-22 17:58] mcannamela opened #2427 "Delimited(Element) does not find the largest Element before splitting"
In #2245 I determined that certain legal statements in the spark3 dialect do not parse due to the behavior of `Delimited` [/src/sqlfluff/core/parser/grammar/delimited.py#L20](https://github.com/sqlfluff/sqlfluff/blob/84e61e00f6cfcbd8cd5b7e3f3ca100885f5c12f6/src/sqlfluff/core/parser/grammar/delimited.py#L20).

Essentially, `Delimited(Element)` splits on the first delimiter it finds rather than tryi

[2022-01-22 19:44] jpy-git commented on #2427
This isn't valid postgres syntax FYI
![image](https://user-images.githubusercontent.com/80432516/150653270-4596e9da-57c7-4653-a008-7b9864ada8af.png)

[2022-01-22 19:54] jpy-git opened #2429 "L051 enhancement: Replace implicit joins with INNER JOIN."
This is another anti-pattern that should be fixed by L051.

This is an older SQL syntax (that's deprecated in a couple dialects now) for INNER JOIN:
[code]

L051 should replace this with:
[code]

[2022-01-22 20:12] jpy-git commented on #2424
It's not that rules don't handle unparsable code well due to a flaw in their logic or that they can be improved to, it's that unparsable code is a flat structure and therefore does not follow the same logical segment grouping as a normal tree and therefore a rule cannot be expected to interpret that, nor should it. It's the responsibility of the parser to group the segments not a rule, hence unpar

[2022-01-22 20:13] jpy-git commented on #2424
^ I agree that we shouldn't quit out if only 1 file doesn't parse.
But for my reasoning above, it should be "lint/fix the files with no parsing errors, do not lint/fix files with parsing errors"

[2022-01-22 20:22] jpy-git commented on #2424
@barrywhart I would advise against providing users with an option to force through these unparsable corrupting fixes for their own safety. There's a lot of risk, especially for less technical users, and IMO the responsible thing is for SQLFluff to accept it cannot fix these issues until the parsing is sorted. `--force` should be reserved simply for skipping the question prompt on whether or not th

[2022-01-22 20:42] jpy-git commented on #2429
Bit of complexity in that this is considered a CROSS JOIN:
[code]

![image](https://user-images.githubusercontent.com/80432516/150654719-e8ac344c-497d-47e7-961c-b46c2efae73a.png)

So will have to be it's own rule rather than an extension of L051

[2022-01-22 20:47] #2410 closed

[2022-01-22 21:07] barrywhart commented on #2424
My attempt to summarize some of the above:
* `sqlfluff` should _never_ make fixes to file(s) with parse errors. However, it's fine for it to fix other files in the same run that parsed okay. The terminal output should should alert the user to parse errors.
* In order to avoid users getting stuck or frustrated with `pre-commit`, parse errors should not cause `sqlfluff fix` to exit with an error cod

[2022-01-22 21:27] tunetheweb commented on #2424
I think I’ve mentioned this before but I could be persuaded on not fixing code with parsing errors (which was my suggestion above), as agree there is a high degree of risk for a lot of the rules.

Saying that a lot of rules *could still run in fix mode* either completely safely (L001, L002, L004… etc.), or relatively safely (L015, L023…etc.) even with parse errors in other areas of the same SQL co

[2022-01-22 21:31] barrywhart commented on #2424
@tunetheweb: Note that "returning an error code from lint" is not the same as "not producing useful output from lint". I'm proposing we leave the lint output as is, only changing the exit code.

I'm open to continuing to tweak this behavior down the road. In this discussion, I've mostly been focused on immediate next steps.

The idea you're proposing (applying some rules but not others) could go n

[2022-01-22 21:35] barrywhart commented on #2424
It sounds like it could be useful to make a longer-term plan in this area, defining 2-4 steps or milestones to aim for. By "long term", I'm not necessarily saying a long amount of time, just a direction to go in. Speed and time mostly depends on how busy or motivated we are.

What do y'all think? What would be a good way to draft and collaborate on that? GitHub wiki? Google doc? Something else? On

[2022-01-22 21:38] tunetheweb commented on #2424
I think this is one for the next maintainers meeting. Clearly there are some strong opinions here, and us three have had this conversation at least once before, so let’s talk it out to get broad direction before we plan the steps.

[2022-01-23 03:58] erevear opened #2432 "COPY INTO from a stage in Snowflake throws list index out of range error"
## Expected Behaviour
Running rules 20,27, and 40 should check against the code for related issues and pass/fail based on code. This was the behavior in version 0.9.0
Problem seems related to COPY INTO as this issue doesn't occur on SELECT statements

## Observed Behaviour
Following errors:

L:   1 | P:   1 | L044 | Unexpected exception: list index out of range; Could you
                       |

[2022-01-23 04:17] PLBMR commented on #2018
Looks like bug still exists as of `sqlfluff==0.9.1`:

[code]

I will work on addressing this bug in [this branch](https://github.com/PLBMR/sqlfluff/tree/plbmr-issue_2018_anonymous_function_unparsable_section).

[2022-01-23 09:19] tunetheweb commented on #2432
Good news is that this was fixed in #2320 and now parses correctly in `main` branch. We've working on a 0.9.2 release (probably for Monday) which will include this fix.

[2022-01-23 09:19] #2432 closed

[2022-01-23 14:36] tunetheweb commented on #1793
I've tested this in both the latest version of SQLFluff and BigQuery:

Test | SQLFLuff latest | BigQuery
-- | -- | --
123_data | OK | OK
a_á | Needs to be quoted in backticks | Needs to be quoted in backticks
table 01 | Needs to be quoted in backticks | Needs to be quoted in backticks
ग्राहक | Needs to be quoted in backticks | Needs to be quoted in backticks
00_お客様 | Needs to be quoted in backtick

[2022-01-23 14:36] #1793 closed

[2022-01-23 18:35] #2370 closed

[2022-01-23 18:35] #2372 closed

[2022-01-23 18:48] tunetheweb commented on #1368
I think this is covered by `AnySetOf` added in #2326

[2022-01-23 18:48] #1368 closed

[2022-01-23 18:53] #1847 closed

[2022-01-23 18:53] #1913 closed

[2022-01-23 21:05] NiallRees opened #2436 "Add 'reflow' capability for configurable, black-like deterministic formatting"
# Feature
Same functionality as black, but totally configurable. The 'reflow' command would produce a deterministic output for the same 'code_only' input, regardless of the non-code elements (whitespace, capitalisation, indentation).

## Benefits:
- Fully user configurable code style
- Deterministic output for queries with the same choice and order of code segments
- No need to maintain and create

[2022-01-23 21:14] NiallRees commented on #2408
I'm going to close this as I don't think this is an issue with SQLFluff - the dbt templater relies on selected sql files being model files. I'd recommend using `sqlfluff lint models`, assuming that your models directory is called `models`.

[2022-01-23 21:14] #2408 closed

[2022-01-23 22:32] tunetheweb commented on #2292
Closing as implemented in #2293 (though obviously there will be more improvements to that initial implementation needed).

[2022-01-23 22:32] #2292 closed

[2022-01-23 22:34] tunetheweb commented on #1217
Note Oracle SQL (but not PL/SQL) was implemented in #2293 which will be included in 0.9.2

PL/SQL will be a much bigger effort.

[2022-01-23 22:53] tunetheweb commented on #2160
You need to specify `INDENT` and `DEDENT` in the dialect for grammars you want to index/dedent when used over multiple lines (note these are ignored for single line statements so are only used for multiline statements).

Fixed in #2439

[2022-01-23 23:04] tunetheweb commented on #2135
This should be added to ANSI IMHO as used in most (all?) dialects that have a create index statement. SQLite will then inherit from that.

[2022-01-23 23:38] tunetheweb commented on #2093
This is a duplicate of #2092 and it's the `CREATE PROCEDURE` which is causing the problem rather than any function array arguments for user defined type. It parses fine in the #2441 branch. Closing as duplicate.

[2022-01-23 23:38] #2093 closed

[2022-01-23 23:40] #2135 closed

[2022-01-23 23:53] tunetheweb commented on #1938
This was added to https://docs.sqlfluff.com/en/latest/configuration.html#enabling-and-disabling-rules in #2291

[2022-01-23 23:53] #1938 closed

[2022-01-24 00:00] tunetheweb commented on #1927
The `account` issue was fixed in #2172 included in 0.9.1

I've just checked and this parses:
[code]

Please raise issues with the full SQL (without DBT templates if at all possible) and not just the error message.

[2022-01-24 00:00] #1927 closed

[2022-01-24 00:07] tunetheweb commented on #1861
You need to include INDENT/DEDENT in the grammar.

I've added this to #2439

[2022-01-24 00:27] tunetheweb commented on #1839
Sorry missed this earlier. I'm not the most familiar with rule L003 but do know it's one of the more complicated (if not the most complicated!) ones.

@barrywhart any thoughts here?

[2022-01-24 01:09] barrywhart commented on #1839
Not really. I mean, the "hanging indent" code is identified with comments, so it wouldn't be difficult to locate.

The challenge I've found working on the rule is that there's often not a "separation of concerns" -- the code does a dozen different things, and often the same few lines of code affect several of these. The code has lots of tests, so I'm not too worried someone would break it, just be

[2022-01-24 01:11] tunetheweb commented on #1816
Raised #2443 for this.

@kayman-mk could you raise a separate issue for the `create table` issue with example SQL?

[2022-01-24 01:21] tunetheweb commented on #2012
I'm going to close this as working as intended. There's all sorts of code about hanging indents in L003.

It's possible we should add an option to ignore hanging indents (if which case feel free to reopen if you think we should do this) but at the moment this is working as intended.

[2022-01-24 01:21] #2012 closed

[2022-01-24 03:10] #1868 closed

[2022-01-24 06:54] timvink commented on #1868
Thanks 👍

[2022-01-24 07:31] #2342 closed

[2022-01-24 08:14] fdw opened #2444 "T-SQL: INSERT INTO table EXECUTE"
T-SQL supports the syntax `INSERT INTO <table> EXECUTE <stored_procedure>` to insert the results of a stored procedure into a table.
(https://docs.microsoft.com/en-us/sql/t-sql/statements/insert-transact-sql?view=sql-server-ver15#syntax)

Postgres and MySQL don't seem support it or something similar.

[2022-01-24 08:16] #1861 closed

[2022-01-24 08:18] fdw opened #2445 "T-SQL: Support @@rowcount"
In T-SQL, there are the (undeclared) variables `@@rowcount` and `@@rowcount_big` that `sqlfluff` doesn't yet recognize. (https://docs.microsoft.com/en-us/sql/t-sql/functions/rowcount-transact-sql?view=sql-server-ver15)

[2022-01-24 08:33] #2092 closed

[2022-01-24 10:49] #1816 closed

[2022-01-24 11:00] alanmcruickshank commented on #815
@abalter - the challenge was primarily building the package. At the time that I tried this - not all of our dependencies had conda packages - which made it very hard for the package builder to successfully package the tool.

If you're able to successfully put together the configuration which builds a sqlfluff conda package that would be  a very helpful first step.

[2022-01-24 11:00] tunetheweb commented on #2445
The simplest answer would be to update this regex to allow for one `@`'s or two `@`'s at the beginning:

https://github.com/sqlfluff/sqlfluff/blob/c50b58918759fc2871fbcf7d68b77b1487c42cc4/src/sqlfluff/dialects/dialect_tsql.py#L189-L191

That would mean however that procedures/functions could use double `@`'s for their params which is not valid (I presume?). The other alternative would be to define

[2022-01-24 11:13] #2091 closed

[2022-01-24 11:23] tunetheweb commented on #2444
I _think_ this should be a simple matter of changing this line of `InsertStatementSegment`

https://github.com/sqlfluff/sqlfluff/blob/c8f495f74c06a4daae7c0a9c3e5909e3f61b8d2a/src/sqlfluff/dialects/dialect_tsql.py#L524

to:

[code]

And adding a test case.

[2022-01-24 11:29] tunetheweb commented on #2393
Probably should just include exclude any statements with function calls in the SELECT clause as that's using the reason use GROUPING (e.g. `SELECT col1, COUNT(1) FROM table1 GROUP BY col1`).

[2022-01-24 11:40] fdw opened #2447 "Consistent indent for closing parentheses"
This might be controversial... 😉

Given the function call :
[code]

I quite like the way the closing parentheses are on their own line and indented to match the line with the opening parenthesis.

Another style would be
[code]

I've seen `sqlfluff` produce both, but I'd rather it were consistent (and, ideally, the first style). What do you think?

[2022-01-24 11:43] fdw opened #2448 "T-SQL: Support IDENTITY_INSERT"
The syntax for `identity_insert` is `set identity_insert <table> <on|off>`. This seems to break the parser, as it only expects two parameters, not three (but I wasn't able to check that yet).

[2022-01-24 16:21] sy6sy2 opened #2449 "MySQL ON DELETE CASCADE is not supported on FOREIGN KEYS"
SQLFluff report `L014 | Unquoted identifiers must be consistently lower case.` on the last two lines of this:

[code]

but I don't see any problem about cases here.

## Expected Behaviour

No warning on this.

## Observed Behaviour

L014 warning.

## Steps to Reproduce

Run `sqlfluff lint --dialect mysql` on the given example.

## Dialect

Mysql

## Version

[code]

## Configuration
[code]

macOS

[2022-01-24 16:43] tunetheweb commented on #2449
The is a case of SQLFluff giving out the incorrect error message because it cannot understand the query.

The problem is `FOREIGN` is being flagged as an identifier rather than a keyword:

[code]

Therefore it says some of your identifiers are UPPERCASE and some lowercase, and hence rule L014 flags.

And the reason that it thinks `FOREIGN` is an identifier, rather than a keyword, is because it can

[2022-01-24 18:16] fdw commented on #2444
Thanks very much for the hint 🙂

[2022-01-24 19:27] cherns31 opened #2453 "Remove WINDOW functions clauses from Rule L054"
SQLFluff is saying I’m violating L054, cause I’ve got implicit ORDER BY clauses, but EXPLICIT ones inside ORDER BY of my WINDOW Functions. I'd suggest that Window functions clauses should be excluded from this rule since, although feasible, it's unnatural to use IMPLICIT clauses within them.

[code]

[2022-01-24 19:29] fdw commented on #2367
Do you have any hint how to implement this? So far, I have only found that the keyword already exists, but I don't have any idea where to add it to the grammar.

[2022-01-24 20:27] tunetheweb commented on #2367
This seems to be the basic syntax for a very simple RAISERROR statement:

[code]

And then add `RaiserrorStatementSegment` to `class StatementSegment`.

Might be good to create an `OptionallyQualifiedNumericLiteralSegment` (surprised we haven't got one of those already!) to avoid repeating the `OneOf(Ref("NumericLiteralSegment"), Ref("QualifiedNumericLiteralSegment"))` bit

Then you can expand thi

[2022-01-24 20:50] pempey commented on #2270
So I checked on this fix where I originally identified the issue and it has not been fixed.  My issue was related to the space after the templated region not being consistent.   The original steps to reproduce still product the same error.

[2022-01-24 21:07] barrywhart commented on #2270
Oh -- interesting! There were really two issues here. When I created a simpler test case:
[code]

that produced a similar issue, which I fixed. But as you say, there's a second issue occurring between the templating and the `AS other_id` part. I'll reopen this and look into the second issue. Sorry about that!

[2022-01-24 21:07] #2444 closed

[2022-01-24 21:28] #2448 closed

[2022-01-24 21:43] barrywhart opened #2456 "jinja templater: Defining and using a macro in the same file causes runtime error"
## Expected Behaviour
Successful linting
## Observed Behaviour
Runtime error:
[code]
## Steps to Reproduce
Lint this file:
[code]
## Dialect

## Version

## Configuration
[code]

[2022-01-24 21:43] barrywhart commented on #2456
DIscovered when investigating #2270.

[2022-01-24 21:49] sy6sy2 commented on #2449
Thank you very munch for your answer and the explanation!
Is the `ON DELETE CASCADE` support on the road?

[2022-01-24 22:09] tunetheweb opened #2457 "Rule L026 bug with simple DELETE statements"
## Expected Behaviour

This should give no errors:

[code]

## Observed Behaviour
[code]

## Steps to Reproduce

As per above

## Dialect

Any

## Version

0.9.2

## Configuration

Default

[2022-01-24 22:39] barrywhart commented on #2270
This test case tests for the actual issue (note the added `\n` before `AS other_id`).
[code]

[2022-01-24 23:00] tunetheweb commented on #2449
Added this in #2461

[2022-01-24 23:06] #2457 closed

[2022-01-24 23:31] #2453 closed

[2022-01-24 23:45] #2449 closed

[2022-01-25 00:22] #2296 closed

[2022-01-25 00:22] tunetheweb commented on #2296
Fixed in #2296

[2022-01-25 00:51] #2270 closed

[2022-01-25 02:25] #2445 closed

[2022-01-25 06:38] nvuillam opened #2465 "Support SOQL & SOSL dialects (Salesforce)"
Salesforce's SOQL and SOSL linting and autofixing by sqlfluff would have a huge impact on 3 millions developers in Salesforce ecosystem :)

https://developer.salesforce.com/docs/atlas.en-us.soql_sosl.meta/soql_sosl/sforce_api_calls_soql_sosl_intro.htm

Would you consider supporting them ?

I could contribute obviously :)

Note: most of SOQL / SOSL calls are directly implemented within Apex code (a

[2022-01-25 07:39] fdw opened #2466 "Prefer to break lines at mathematical operators over function calls"
Currently, `sqlfluff` breaks long lines up like this, for example:
[code]

However, I think it would be easier to read if it's broken up at the operators, not at the parameter list:
[code]
(When I manually change it to this formatting, `sqlfluff` accepts it.)
I'd go so far as to say that even between mathematical operators, there should be a preference to break up at `+` over `*`.

What do you thi

[2022-01-25 08:33] tunetheweb opened #2467 "L044 throws exception when final statement has no SELECT"
With this SQL:

[code]

## Expected Behaviour

SQL Lints

## Observed Behaviour

[code]

## Steps to Reproduce

As per above

## Dialect

All

## Version

0.9.2

## Configuration
Default

[2022-01-25 08:44] tunetheweb opened #2469 "L026 and L044 throw exception on Exasol statement"
## Expected Behaviour

This should lint:

[code]

## Observed Behaviour

[code]

## Steps to Reproduce

As per above

## Dialect
exasol

## Version

0.9.2

## Configuration
Default

[2022-01-25 10:18] fdw opened #2472 "T-SQL: CREATE FUNCTION needs parentheses even if there are no parameters"
## Expected Behaviour
[code]
is correct T-SQL and should work.

## Observed Behaviour
`sqlfluff` cannot parse the statement, as it either expect at least one parameter in the parentheses, or no parantheses at all (which is not valid T-SQL).

## Steps to Reproduce
See above

## Dialect
T-SQL

## Version
Latest `sqlfluff` from git
Python 3.10.1

## Configuration
[code]

[2022-01-25 11:01] tunetheweb commented on #2472
Imagine this should be a matter of changing this:

[code]

to something like this:

[code]

[2022-01-25 14:08] mcannamela opened #2475 "LIMIT and ORDER BY for VALUES clauses in spark3"
## Expected Behaviour
In spark3 (and [postgres](https://www.postgresql.org/docs/current/sql-values.html)), `values` clauses can have `limit` and `order by` specifiers, such that the following should parse:
[code]

## Observed Behaviour
These fail to parse because the `limit` and `order by` behavior is not implemented. See e.g. [these failing tests](https://github.com/mcannamela/sqlfluff/blob/dd4d1

[2022-01-25 14:38] barrywhart opened #2477 "Create an automated test or CI check to test SQLFluff on popular dbt packages"
One gap in our automated testing is the lack of a good-sized project with lots of templating.

A partial solution: dbt has a lot of reusable packages (these are SQL/dbt packages, not Python packages). In the same spirit as the recent PR #2473, we should have an automated test or CI check that lints or fixes the **test suites** of some dbt packages. (In effect, their test suites are often very simi

[2022-01-25 15:05] #2469 closed

[2022-01-25 15:59] tunetheweb opened #2478 "T-SQL system statements cause CRITICAL rule errors"
[code]

Bigger list is:

sqlfluff lint --dialect tsql test/fixtures/dialects/tsql/system-variables.sql

## Expected Behaviour

Linting never bombs

## Observed Behaviour

Linting bombs with:

[code]

## Steps to Reproduce
As per above.

## Dialect
tsql

## Version

## Configuration
[code]

[2022-01-25 16:20] tunetheweb commented on #2478
The Parse tree is this:

[code]

Worth noting that the `alias_expression` doesn't have any segments beneath it - it just has a Keyword and a Literal.

This causes a problem with this code:

[code]

Need to handle the `next` when there are no identifiers. PR coming up.

[2022-01-25 21:00] derickl opened #2480 "Postgres Dialect: Support for the COPY statement"
## Expected Behaviour
I would expect that `COPY...TO` and `COPY...FROM` statements are supported by SqlFluff as they are supported by Postgres ([docs](https://www.postgresql.org/docs/13/sql-copy.html))

## Observed Behaviour
[code]

[code]
## Steps to Reproduce
Create `test.sql` with the following query
[code]

## Dialect
Postgres

## Version
sqlfluff 0.9.2
python 3.8.12

## Configuration
Default

[2022-01-25 22:10] tunetheweb opened #2483 "Possible issue with Coverage 6.3"
## Expected Behaviour

CI should run and be reasonably stable

## Observed Behaviour

CI has been very unstable this evening, particularly for python 3.7. Looks like coverage 6.3 was released with some changes here, and did see some coverage error messages. I frooze it at 6.2 in #2479 and CI completed first time, despite not working one any open PRs for ages.

## Steps to Reproduce

Unfreeze cover

[2022-01-25 22:11] tunetheweb commented on #2483
I raised this: https://github.com/nedbat/coveragepy/issues/1310

We'll stay on 6.2 and see if more stable.

If anyone has any idea how to get a minimal repo to give to them then let me know!

[2022-01-25 22:11] #2478 closed

[2022-01-25 22:42] R7L208 opened #2484 "Spark3 Dialect: Support CLUSTER BY in SELECT statement"
## Expected Behaviour
[code]

## Observed Behaviour
[code]

## Steps to Reproduce
[code]

## Dialect
spark3

## Version

[code]

## Configuration
[code]

[2022-01-25 22:43] R7L208 commented on #2484
I'm happy to work on a PR for this but would require some initial direction. Namely the `unexpected exception` and if these should be dialect vs rule changes.

[2022-01-25 22:50] tunetheweb commented on #2484
Looks to me like it’s in the dialect as CLUSTERED rather than CLUSTER. Is that a typo? Or are they different things?

[2022-01-25 23:01] R7L208 commented on #2484
Those are different things. CLUSTERED is used as a parameter when running a CREATE TABLE statement and `CLUSTER` will repartition data in memory as part of a SELECT statement.

https://spark.apache.org/docs/latest/sql-ref-syntax-ddl-create-table-datasource.html#create-datasource-table
https://spark.apache.org/docs/latest/sql-ref-syntax-qry-select-clusterby.html

[2022-01-26 00:10] tunetheweb commented on #2484
Ah sorry. Looked too quickly.

Looks to me like a standard enough dialect improvement. Probably want to implement an override of `SelectStatementSegment` in spark3 dialect and add the new segment in (is it basically the same as `OrderByClauseSegment` as far as syntax is concerned?).

I'd ignore the exception for now. I'm willing to bet once the grammar is sorted, the rule no longer throws that.

S

[2022-01-26 08:42] tunetheweb commented on #2467
Fixed in #2468

[2022-01-26 08:45] tunetheweb commented on #2484
With 0.9.3 including #2468 this no longer throws the unexpected output. Still needs the syntax support to be added though. Changed the title of the issue.

[2022-01-26 08:46] #2467 closed

[2022-01-26 08:50] fdw opened #2487 "T-SQL rule: Make alias style consistent"
I'm not even sure if rules just for one dialect are possible, but if so, the following would be nice:

T-SQL allows an additional style of aliasing, namely
[code]

Currently, it's possible to use both even in the same query. It would be nice if `sqlfluff` could make this consistent (always `as`, always `=`, consistent within the query).

[2022-01-26 08:58] tunetheweb commented on #2487
To me this could be an extension of [L011](https://docs.sqlfluff.com/en/stable/rules.html#sqlfluff.core.rules.Rule_L011) or [L012](https://docs.sqlfluff.com/en/stable/rules.html#sqlfluff.core.rules.Rule_L012). Especially if it forces `as` - then it would just be a matter of recognising and replacing the `=` for t-sql.

An extras step would be to offer the option of preferring (`=`), though as that

[2022-01-26 08:59] tunetheweb commented on #2465
Looks to me like SOQL could be added with relative ease, but would need someone who uses it/understands it to do that if you're up for that?

SQLFluff has a core ANSI dialect that provides the main SQL syntax, then individual dialects can override, or add to that "core" syntax for their own individual tweaks.

So first step would be to add the `soql` dialect with maybe one or two statements where

[2022-01-26 11:03] fdw commented on #2487
Yes, sounds like L012.

However, I have to say I quite like the `=` syntax, so I would maybe want to enforce it with `sqlfluff`. But, as you say, that would make at least the docs more confusing (and likely the code as well).

[2022-01-26 19:27] fdw commented on #2472
I was at first irritated about the *optionally* bracketed as functions in T0SQL must always have parentheses. But it seems that the same class is also used for stored procedures, where the must not be parentheses.

So, I'm wondering whether it makes sense to split that into `FuncionParameterList` and `ProcedureParameterList`, as it currently allows incorrect SQL. What do you think?

[2022-01-26 19:28] tunetheweb commented on #2472
SGTM!

[2022-01-26 20:59] #2472 closed

[2022-01-26 21:37] #2367 closed

[2022-01-26 22:16] R7L208 commented on #602
@tunetheweb - Can you change the label from `new dialect` to `spark3`?

Spark docs have been updated recently. This should be supported in Spark dialect then Databricks (which is SaaS Spark) could inherit it.

https://spark.apache.org/docs/latest/sql-ref-syntax-qry-select-file.html