[2021-11-04 17:18] #1827 closed

[2021-11-04 21:24] sti0 commented on #1810
Makes sense. Any chance to allow reserved keywords as column names (maybe with a explicit setting)? This is in some situations possible (like `DISABLED`) which is a keyword in a specific context but allowed to use as column name.

Otherwise we may consider to move this one to a unreserved keyword.

[2021-11-04 21:46] elfring commented on #1685
:thought_balloon: How will the chances evolve that the following change possibilities can support further constructive development considerations?

[code]

[2021-11-04 22:06] sti0 opened #1830 "Exasol L026 - Fails on SELECT INTO TABLE statement"
In Exasol we could insert data into a table like this:

[code]

## Expected Behaviour
Rule L026 should pass

## Observed Behaviour
Rule was raised
[code]

## Steps to Reproduce
Lint the statement above

## Dialect
exasol

## Version
Include the output of `sqlfluff --version` along with your Python version
sqlfluff 0.7.1
python 3.8.12
## Configuration
default

[2021-11-04 22:26] WittierDinosaur commented on #1487
Addressed in Postgres in #1818

[2021-11-04 22:30] WittierDinosaur opened #1831 "Postgres - can't parse table.*"
Specifically in the context of an expression in a trigger statement.

[code]

This probably wants adding to ANSI - though I can only be certain of Postgres.

[2021-11-04 22:34] tunetheweb commented on #1810
Going to close this issue. I suspect this won't be the last time someone asks about this, so will be good to have this issue to reference.

Could you raise a separate on for that reserved words question? But know it is a bit complicated with SQLFluff as we depend on keywords to match grammar.

[2021-11-04 22:35] #1810 closed

[2021-11-04 23:53] markpolyak commented on #1768
I have a similar issue with postgresql dialect in SQLFluff. Here is a minimal example:

[code]

This is a perfectly legal postgres syntax taken from the official documentation, see first example here: https://www.postgresql.org/docs/9.6/sql-set.html

[2021-11-05 00:01] markpolyak opened #1832 "SET statement not parsed in postgres dialect"
Here is a minimal SQL example:
[code]

## Expected Behaviour
`SET` statement should be parsed, the minimal example is from the postgres [docs](https://www.postgresql.org/docs/9.6/sql-set.html).

## Observed Behaviour
Perfectly valid `SET` statement causes PRS (unparsable section) in SQLFluff.

## Steps to Reproduce
Run in bash:
[code]

## Dialect
`postgres`

## Version
[code]

## Configuration
[co

[2021-11-05 05:22] slve opened #1833 "Cannot parse `select if(true, r, l).* ...`"
[code]
## Expected Behaviour
The query is being parsed without an exception.

## Observed Behaviour
The query cannot be parsed.

## Steps to Reproduce
[code]

## Dialect
Any

## Version
0.7.1

## Configuration
None

## Output
[code]

[2021-11-05 08:26] G3rtjan opened #1834 "Enable quiet mode/no-verbose in CLI for use in pre-commit hook"
There seems to be only an option to increase the level of verbosity when using SQLFluff [CLI](https://docs.sqlfluff.com/en/stable/cli.html), not to limit it further.

It would be great to have an option to further limit the amount of prints when running `sqlfluff fix`, especially in combination with deployment using a pre-commit hook. For example, only print the return status and the number of fix

[2021-11-05 10:25] jacopofar commented on #1216
I'd like to try and implement it, and it seems now the best way is to create a plugin for it. I read the code of the DBT one but is not totally clear to me how it interfaces to SQLFluff (I don't know DBT).

There's a [`process`](https://github.com/sqlfluff/sqlfluff/blob/87197306a417a99aaccae62afacda3ac428f5931/plugins/sqlfluff-templater-dbt/sqlfluff_templater_dbt/templater.py#L434) method to parse

[2021-11-05 12:12] pwildenhain commented on #1216
@jacopofar Have you ever used the pluggy package? That is what we use to manage our plugins -- you can see what we make "pluggable" by checking out the src/sqfluff/core/plugins directory. Right now it's just custom rules and templaters. And then I suggest reading up on pluggy to see how you can plug in the sqlalchemy templater. I can guarantee you won't need anywhere near as much complexity as the

[2021-11-05 15:30] svirs opened #1835 "sqlfluff w/dbt templater attempts to query database when linting any files with is_incremental()"
## Expected Behaviour
No database request expected

## Observed Behaviour
`sqlfluff lint .` results in :
[code]
(using profile with a fake service account)

## Steps to Reproduce
paste:
[code]
into any sql file in a dbt project (comments don't seem to matter)
## Dialect
bigquery w/ dbt templater
## Version
Include the output of `sqlfluff --version` along with your Python version
[code]
## Configur

[2021-11-05 16:07] WittierDinosaur commented on #1833
I think this is related to another issue. It's the .* that is the problem as far as I can tell

[2021-11-05 16:16] #1815 closed

[2021-11-05 17:08] jessie-carta commented on #1835
I'm also running into this issue!

[2021-11-06 06:25] jessealama opened #1836 "Postgres: Lint: DROP TYPE unparsable"
## Minimal SQL

[code]

## Expected Behaviour

No failures reported. `DROP TYPE` is valid Postgres. It's how you kill user-defined data types such as enumerations ([documentation](https://www.postgresql.org/docs/current/sql-droptype.html)).

## Observed Behaviour

[code]

## Dialect

Postgres

## Version

+ Python 3.9.7
+ Sqlfluff 0.7.1

## Configuration

No configuration set, apart from the diale

[2021-11-06 11:09] #1674 closed

[2021-11-06 17:13] danfrankj opened #1839 "Rule L003 and hanging indents"
L003 errors when indenting an expression that breaks over multiple lines within a SELECT. It seems the underlying decision is whether a comma opens a new indent level or not

**Example**

[code]

Argument: This indent style enhances readability so that an expression looks the same no matter where it is and enables us to scan vertically.

**Reproduce by**

[code]

produces
[code]

For reference, th

[2021-11-06 18:29] #1536 closed

[2021-11-07 16:51] tunetheweb opened #1841 "Progress bar issue with lint errors"
@adam-tokarski noticed this today with the progress bar feature.

When you get lint errors, they interspace the progress bar, leaving an old copy of the bar around:

![Screenshot](https://user-images.githubusercontent.com/10931297/140654068-571dcbd1-a70d-4043-984e-b12e4e66838b.png)

It also makes the lints a tiny bit more difficult to read.

Is it possible to delete the progress bar lint before pr

[2021-11-07 17:12] #1814 closed

[2021-11-07 21:52] adam-tokarski commented on #1841
Well, I could say that it gives some view on how it goes and on what step you were when something was reported, but it would be far-fetched I guess :slightly_smiling_face:.

Unfortunately it's because of mixed printing between `tqdm` and `click` as far I can say at this moment.
I'm not sure how to handle this at this moment - the simplest solution would be to not print any lint messages as it happ

[2021-11-07 21:53] adam-tokarski commented on #1841
@tunetheweb could you assign me to that issue?

[2021-11-07 22:18] tunetheweb commented on #1841
Downside of that is that you can't action errors as they happen and have to wait until the end.

[2021-11-07 23:43] tdstark opened #1845 "DISTKEY/SORTKEY are unparseable in Redshift"
## Expected Behaviour
Queries like the following ought to be parsable by the Redshift dialect:
[code]
## Observed Behaviour
The aforementioned query is unparsable. This is likely due to the fact that `DISTKEY` and `SORTKEY` are not part of the Postgres dialect. These will need to be added to the Redshift dialect.

## Dialect
Redshift

## Version
`0.8.0`

## Configuration
Default

[2021-11-07 23:59] skykasko opened #1846 "SQLite: CREATE TRIGGER unparsable"
## Expected Behaviour

SQLFluff is able to parse `CREATE TRIGGER` statements in SQLite.

## Observed Behaviour

`CREATE TRIGGER` statements raise an error like the following:

<samp>Line 1, Position 1: Found unparsable section: 'CREATE
TRIGGER update_customer_address U...'</samp>

## Steps to Reproduce

Run `sqlfluff lint --dialect sqlite` on a file containing the line (taken from the [SQLite docu

[2021-11-08 09:35] WittierDinosaur commented on #1846
Yeah, looks like the syntax for create trigger is a bit different in SQLite. I think - if you want a quick workaround, if you include one of: BEFORE, AFTER, INSTEAD OF, it should parse

[2021-11-08 09:49] tunetheweb commented on #1833
Agree.

This parses fine:

[code]

This is not valid ANSI SQL:

[code]

So it's not "dialect: any". Can you tell us which dialect this is for?

[2021-11-08 09:53] jnicoles1 opened #1847 "linting errors inconsistent in different os environments (windows vs code/linux ec2/gitlab docker)"
we are using latest version of sqlfluff and dbt :
errors on local (windows) are not consistent with ci pipeline ,
in local we don't see any errors but in ci we errors mostly L003 ,
and tested the code on linux machine - and the errors are different than both local and ci.

## Expected Behaviour

## Observed Behaviour
Linting errors on windows and Linux (gitlab ci ) are not consistent
## Steps to R

[2021-11-08 09:58] tunetheweb commented on #1847
I'm afraid there isn't enough information here for us to be able to help. It sounds to me like a file or newline encoding error, rather than necessarily something with SQLFluff. But if we have a minimal, reproducible, example then can look further into it.

[2021-11-08 11:01] fdw commented on #1555
I just tried the test file again with v0.8.1, and the error still persists.

[2021-11-08 11:39] tunetheweb commented on #1555
Seems to work fine for me:

[code]

Can you open a new issue with a minimal, reproducible test case?

[2021-11-08 11:54] skykasko commented on #1846
Thanks @WittierDinosaur, but your workaround does not solve the issue for me. If I add `BEFORE` to the example from the SQLite docs like so:

[code]

Running `sqlfluff lint --dialect sqlite` still results in the error:

<samp>Line 1, Position 1: Found unparsable section: 'CREATE
TRIGGER update_customer_address B...'</samp>

[2021-11-08 12:25] WittierDinosaur commented on #1846
Ah okay - this is actually going to be a very involved change. Right now we terminate statements on the presence of a(n unquoted) semicolon in the statement. That isn't going to fly here, so we'll need to replicate some of the logic we use in t-sql. Most dialects use `EXECUTE PROCEDURE my_func()` to end their trigger statements - would have been far more convenient if SQLite did the same 😂

[2021-11-08 12:47] ahladkyi-spd opened #1848 "Parser error having CASE statement inside UPDATE"
## Expected Behaviour
sqlfluff is able to parse CASE statements inside SET section of an UPDATE statement

## Observed Behaviour
Parsing error
[code]
## Steps to Reproduce
`sqlfluff parse sample.sql`

[code]

## Dialect
I'm using `snowsql`,  but I believe this syntax should be valid for most dialects.

## Version
sqlfluff, version 0.8.1
Python 3.9.2

## Configuration
Reproduced with default config

[2021-11-08 19:52] dwallace0723 opened #1849 "dbt.exceptions.InternalException: Asked to compile <class 'dbt.contracts.graph.compiled.CompiledModelNode'> node, but it has no compiled form"
Looks like we're seeing identical behavior to #1518 , #1613 , and #857 after upgrading sqlfluff to version `0.7.1`. When attempting to run `sqlfluff lint` on our dbt project, we get the following exception:

[code]

## Expected Behaviour
No exceptions.

## Observed Behaviour

[code]

## Steps to Reproduce
`sqlfluff lint` any files in the dbt project.

## Dialect
`snowflake`

## Version
[code]

##

[2021-11-08 20:02] jacopofar commented on #1216
I made a draft of it, https://github.com/jacopofar/sqlfluff/blob/add-sqlalchemy-plugin/plugins/sqlfluff-templater-sqlalchemy/sqlfluff_templater_sqlalchemy/templater.py more tests and maybe docs are needed but I think the logic is mostly there.

I wonder now if it shouldn't rather be a built-in templater instead, since there are no dependencies and SQLAlchemy is quite ubiquous. Similarly I would ad

[2021-11-09 02:33] markpolyak opened #1854 "Parser error caused by quoted identifier in ALTER TABLE ... OWNER TO"
[code]

## Expected Behaviour
It should be possible to use quoted identifiers as a user name in Postgres.

## Observed Behaviour
SQLFluff is unable to parse a valid Postgres query `ALTER TABLE public.test OWNER TO "ID";`. If double quotes around the role name are removed, the query is processed by SQLfluff without error. Unfortunately, `"ID"` and `ID` are two different identifiers in Postgres. The

[2021-11-09 02:49] markpolyak commented on #1854
I assume that `Ref("ParameterNameSegment")` needs to be changed to something that allows quoted identifiers here:
https://github.com/sqlfluff/sqlfluff/blob/b4ce836e4efeb42d5a15245de70e811bb2bd8f5b/src/sqlfluff/dialects/dialect_postgres.py#L1272

Also a new keyword `CURRENT_ROLE ` needs to be added according to the [docs](url):
[code]

I can make a pull request if somebody can guide me on how to fi

[2021-11-09 04:45] markpolyak commented on #1854
The postgres [docs](https://www.postgresql.org/docs/14/database-roles.html) on role names:

So I assume the correct SQLFluff reference should be `OneOf(Ref("ParameterNameSegment"), Ref("QuotedIdentifierSegment"))`

[2021-11-09 05:48] markpolyak opened #1857 "Postgres SEQUENCE NAME property not parsed"
## Expected Behaviour
SQLFluff should parse SQL files generated by `pg_dump`

## Observed Behaviour
Postgres dump utility produces undocumented SQL code for identity sequences. It creates a `SEQUENCE NAME identifier` property, which I was not able to find in the official documentation. SQLFluff fails to parse this construct.

## Steps to Reproduce
Create a file `test.sql` with the following conten

[2021-11-09 06:37] markpolyak opened #1858 "OVERRIDING keyword in postgres INSERT INTO statement is not parsable"
## Expected Behaviour
SQLFluff should be able to parse postgres `INSERT INTO` statements that are valid according to the [docs](https://www.postgresql.org/docs/current/sql-insert.html).

## Observed Behaviour
SQLFluff fails to parse valid postgres statement `INSERT INTO test (id, col1) OVERRIDING SYSTEM VALUE VALUES (1, 'val');`

## Steps to Reproduce
Run in `bash`:
[code]

## Dialect
postgres

##

[2021-11-09 06:41] #1854 closed

[2021-11-09 07:07] fdw commented on #1555
Sorry, that was my mistake - when I explicitely set the `tsql` dialect, it works as expected. Thank you very much!

[2021-11-09 07:27] gimmyxd opened #1859 "postgres dialect does not support `DROP SCHEMA` with `IF EXISTS` or `CASCADE`"
## Parse output
[code]

## Expected Behaviour
As it is supported by Postgres: https://www.postgresql.org/docs/13/sql-dropschema.html
SQL files with `DROP SCHEMA mystuff CASCADE;` are parsed correctly

## Observed Behaviour
`DROP SCHEMA mystuff;` is parsed correctly

## Steps to Reproduce
[code]

## Dialect
[code]

## Version
[code]

## Configuration
[code]

[2021-11-09 07:53] tunetheweb commented on #1859
This is a great first issue for anyone looking to contribute to SQLFluff: https://github.com/sqlfluff/sqlfluff/wiki/Contributing-Dialect-Changes

[2021-11-09 07:55] tunetheweb commented on #1836
This is a great first issue for anyone looking to contribute to SQLFluff: https://github.com/sqlfluff/sqlfluff/wiki/Contributing-Dialect-Changes

[2021-11-09 07:56] tunetheweb commented on #1832
This is a great first issue for anyone looking to contribute to SQLFluff: https://github.com/sqlfluff/sqlfluff/wiki/Contributing-Dialect-Changes

[2021-11-09 07:57] tunetheweb commented on #1830
This is a great first issue for anyone looking to contribute to SQLFluff: https://github.com/sqlfluff/sqlfluff/wiki/Contributing-Dialect-Changes

[2021-11-09 11:35] fdw opened #1861 "Formatting for executing stored procedures"
In T-SQL, a stored procedure can be called with
[code]

I could not find any rule in sqlfluff regarding such formatting. Would it be possible to force indentation for the parameters, for example?

[2021-11-09 11:39] fdw opened #1862 "Formatting rules for subqueries"
Similar to #1861, I would expect sqlfluff to have formatting rules regarding subqueries, for example
[code]

I personally would prefer the subquery to be in a new, indented line, but it's also okay if it's consistently in the same line. Currently, however, there is no alignment whatsoever.

[2021-11-09 13:48] #1783 closed

[2021-11-09 14:58] jdsalomon opened #1864 "Unparseable FROM clause with snowflake dialect"
When running
``echo "SELECT t1.col1 FROM schema.table1 as t1" | python3 -m sqlfluff parse -c --dialect snowflake -``
on version 0.8.1 i get an unparseable error.

## Observed Behaviour
[code]

## Expected Behaviour
[code]

I get this result when running
``echo "SELECT t1.col1 FROM schema.table1 as t1" | python3 -m sqlfluff parse -c -``
hence **without precising the Snowflake dialect**. It works fi

[2021-11-09 15:42] jdsalomon commented on #1864
Just realised that this does not work only when the schema name is _schema_. Maybe this in on purpose?

`echo "SELECT t1.col1 FROM **dim**.table1 as t1" | python3 -m sqlfluff parse -c --dialect snowflake -`

[2021-11-09 17:02] WittierDinosaur commented on #1864
@jdsalomon schema is a reserved keyword in snowflake. If you wanted a schema called schema, you'd have to wrap it in quotes

[2021-11-09 17:41] #1864 closed

[2021-11-09 17:42] jdsalomon commented on #1864
@WittierDinosaur

Thanks for the quick response :)

[2021-11-09 18:44] jpy-git commented on #1857
@tunetheweb I'd like to be assigned this issue please :)

[2021-11-09 18:45] tunetheweb commented on #1857
Go for it!

[2021-11-09 18:45] jpy-git commented on #1857
Thank you :)

[2021-11-09 19:25] jpy-git commented on #1858
@tunetheweb I've got time to pick this one up too

[2021-11-09 19:58] timvink opened #1867 "Parsing error when using reserved keyword"
First of all, thanks for all the effort put into this plugin. Really excited about having a `black`-like linter for `sql` ! I also know it's very hard to catch all edge cases and it can help to report any issues you encounter as a user, so hope this issue helps :)

## Expected Behaviour

I would expect no error, or something about using a reserved keyword when running `sqlfluff lint query.sql`:

[

[2021-11-09 20:04] timvink opened #1868 "L028 Rule fails with declared variables in TSQL dialect"
## Expected Behaviour

This should not give any linting errors:

[code]

## Observed Behaviour

[code]

## Steps to Reproduce

[code]

## Dialect

`tsql`

## Version

`Python 3.9.5`
`sqlfluff, version 0.8.1`

## Configuration

[code]

[2021-11-09 20:17] timvink commented on #1868
Actually, the same situation occurs with rule `L027` as well

[2021-11-09 21:29] WittierDinosaur commented on #1867
So, the thing with this kind of issue, is that that code wouldn't run on your database either. You have to quote reserved keywords to use them. There's an argument to be made that this shouldn't be a parsing error - but technically the SQL language can't parse it either 🤷‍♂️

[2021-11-09 23:18] #1857 closed

[2021-11-10 00:00] pwildenhain commented on #1216
Great work so far 😎

🤔

This thinking makes sense. While it would be tidier to keep all templaters as plug-ins, for maintainability sake it really only matters if they're introducing other dependencies. And the jinja templaters is already built-in anyway

AFAIK this is what we have users do now when using the jinja templater -- define the variables in their .sqlfluff file. So if I'm understanding

[2021-11-10 06:55] timvink commented on #1867
That's fair enough. The list of reserved keywords is quite long and users can make mistakes (I did) -- it helps if the linter tells you what's wrong with your query, not only that it's broken. I thought it was a problem with Sqlfluff.

Closing the issue -- thanks for the explanation!

[2021-11-10 06:55] #1867 closed

[2021-11-10 09:29] tank-pooja opened #1871 "Support Placeholder for SQL"
## Expected Behaviour
It should support generic SQL Queries.

We are using a query like :

SELECT  * FROM users WHERE id = ?;

## Observed Behaviour

Showing Error:  Found unparsable section

## Dialect
Postgres

Include your SQLFluff configuration here
[code]

[2021-11-10 09:53] jacopofar commented on #1216
Great! Then I'll rewrite it as an embedded templater (should be the same logic, just not as a plugin) and write more tests for a PR. Once it's in good shape should be trivial to copy it to another templater for the psycopg parameter style, it is just a different regex, but that would be a separate PR

[2021-11-10 10:47] #1859 closed

[2021-11-10 11:16] jpy-smart commented on #1712
@tunetheweb could I be assigned this one please :)

[2021-11-10 11:23] jpy-git commented on #1712
@tunetheweb could I be assigned this one please :)

[2021-11-10 11:24] #1858 closed

[2021-11-10 13:18] tunetheweb commented on #1712
Sure

We don't really use the assign label that much on this project so feel free to just leave a comment like "I'll look at this one" and then we'll consider it yours!

[2021-11-10 14:26] barrywhart commented on #1849
By chance, are all of your models ephemeral? That's the only explanation I can think of.

If not, can you provide an example for reproducing this issue? Specifically, we need example model files.

[2021-11-10 14:28] barrywhart commented on #1862
Can you provide a full example query? Also, what dialect are you using above?

[2021-11-10 14:29] barrywhart commented on #1871
Is the use of `?` a feature of Postgres itself? A client library? Something else?

[2021-11-10 14:32] fdw commented on #1862
Sure! Here's a fuller example:
[code]

The SQL dialect is T-SQL.

[2021-11-10 14:33] barrywhart commented on #1871
Changed from "bug" to "enhancement" because I'm pretty sure this is not standard Postgres behavior. Rather, it is part of a client library or similar. So this sounds like a request to add a new (albeit simple) templater, not an enhancement to the Postgres dialect.

In fact, `?` is a built-in Postgres operator for working with JSON data. Sometimes this usage collides with the use of `?` as describe

[2021-11-10 14:35] barrywhart commented on #1835
I'm not sure I consider this a bug, exactly. SQLFluff uses dbt to compile your SQL files, and dbt connects to your database when it does that.

Can you configure SQLFluff and dbt to let them connect to a database (real or "dummy") during linting? How would you prefer this to work?

[2021-11-10 14:39] barrywhart commented on #1841
Some brainstorming ideas; please think these through before spending much time -- not guaranteed to work!

Could we use cursor positioning to prevent this? E.g. record the cursor position before printing a lint error, move the cursor, print the error, then move it back? Could it be helpful to use a package like [textual](https://github.com/willmcgugan/textual)?

[2021-11-10 14:42] barrywhart commented on #1833
I agree -- that's an interesting example, and likely not supported by most databases. A bit like metaprogramming, to let you choose the table like that.

[2021-11-10 14:45] barrywhart commented on #1741
I like the idea. I suggest that it should raise a linting error, not a parsing error. For technical reasons, rules don't raise parse errors. Parse errors are generally raised only by the parser, when the SQL does not obey the grammar (i.e. the dialect).

[2021-11-10 14:48] barrywhart commented on #1621
I think this was addressed in #1838.

[2021-11-10 14:48] barrywhart commented on #1621
Confirmed that this is handled now. Closing.

[2021-11-10 14:48] #1621 closed

[2021-11-10 14:52] barrywhart commented on #1571
This was addressed in #1788. Closing this issue.

BTW, 👍🏽 for using the word `pants` in an example. Fun!

👖 forever!

[2021-11-10 14:52] #1571 closed

[2021-11-10 15:25] dwallace0723 commented on #1849
@barrywhart yeah, 37% of our dbt project (~140 dbt models) are ephemeral.

[2021-11-10 15:35] barrywhart commented on #1849
I was wondering if they all were. It should still work if some of them are, *unless* there is a loop somewhere, e.g. models A, B, and C are all ephemeral, and they depend on one another.

We won't be able to fix this without an example. SQLFluff definitely supports ephemeral models in some cases (see the models in [this test directory](https://github.com/sqlfluff/sqlfluff/tree/main/plugins/sqlfluf

[2021-11-10 15:40] dwallace0723 commented on #1849
@barrywhart dbt doesnt allow loops, so this isn't possible.

@barrywhart here is an example of an ephemeral model it fails on:

[code]

[2021-11-10 16:08] andrew-farries opened #1874 "Official Docker image"
I'd love to be able to use SQLFluff for workloads running on Kubernetes. There are a few unofficial SQLFluff images [floating around on Dockerhub](https://hub.docker.com/search?q=sqlfluff&type=image) but nothing official.

Are there plans to maintain an official docker image somewhere? I'd be happy to help with the effort if so.

[2021-11-10 16:16] markpolyak opened #1875 "CURRENT_TIMESTAMP not parsed in postgres INSERT INTO"
[code]
## Expected Behaviour
SQLFluff is able to parse table inserts with current timestamp

## Observed Behaviour
`current_timestamp` in `INSERT INTO ... VALUES` causes SQLFluff to fail

## Steps to Reproduce
Run in bash:
[code]

## Dialect
postgres

## Version
sqlfluff, version 0.8.1
Python 3.7.6

## Configuration
default

[2021-11-10 17:27] adam-tokarski commented on #1136
@andres-lowrie how it's going? Are you still on that?

[2021-11-10 17:30] adam-tokarski commented on #984
@dclong are you able to provide a minimal reproducible example for that? It would allow to be on the same page for all of us.
* please provide example of statement which throws an exception
* do you have any idea how it should look like - especially that "_the sections that it cannot understand_"?

[2021-11-10 17:43] WittierDinosaur commented on #1836
Fixed in #1870

[2021-11-10 17:43] #1836 closed

[2021-11-10 17:48] WittierDinosaur commented on #1874
I'm up for it if there's an appetite. As someone who isn't that up with K8s, and so-so at Docker, can you explain a) the benefit, and b) how big an undertaking it is?

[2021-11-10 18:14] #1875 closed

[2021-11-10 18:31] andres-lowrie commented on #1136
I have the fork up and it's working but not sure if I should just open a PR against this project or not. I think I'll just  open a PR in order to make it easier to see diffs

[2021-11-10 18:55] slve commented on #1833
Hmm, I see, I was not aware of that part, it's BigQuery.
Thanks!

[2021-11-10 21:33] adam-tokarski commented on #1841
I'm afraid it slightly more complicated than that, but thanks to fact that `tqdm` delivers solutions which can be used in such problematic scenarios it's possible to handle it, hopefully. Till now I didn't find other situations that there would be left some progressbar artifacts.

[2021-11-10 21:40] svirs commented on #1835
I think you're right, this is intended behavior though I'm unsure why the is_incremental triggers it (perhaps something else is really doing that, I didn't investigate too deep). Based on this dbt issue that's marked wontfix regarding needing credentials to run compile, I don't see how this can be resolved.
https://github.com/dbt-labs/dbt-core/issues/2239
I'll provide some credentials to my CI/CD

[2021-11-10 21:40] #1835 closed

[2021-11-11 02:25] jdub commented on #1571
Hooray, thanks! 👖

[2021-11-11 05:17] tank-pooja commented on #1871
@barrywhart , Thank you for your reply.
Yes, We are using this client library of Go - https://github.com/jmoiron/sqlx. So, is that possible to have support for `$variable` or `:variable` ?

[2021-11-11 09:39] myschkyna commented on #1621
Awesome @barrywhart. Thanks for updating this ticket.

[2021-11-11 10:11] Gregory108 opened #1881 "Order of application of rules affects computability"
When `SELECT` is uppercase and following `distinct` is lowercase AND the line is long enough to trigger carrying over, SQLFluff puts capitalised `DISTINCT` before carried-over `SELECT`. This breaks SQL syntaxis.

I believe this is due to 3 Rules being applied simultaneously on the source text, rather than sequentially one after another:
1. Rule_L010 (Inconsistent capitalisation of keywords)
2. Rul

[2021-11-11 10:59] WittierDinosaur commented on #1881
Ah - that's weird. Can you make a minimum viable example (ideally without Jinja), and we'll look into it

[2021-11-11 12:55] WittierDinosaur commented on #1845
Fixed by #1855

[2021-11-11 12:55] #1845 closed

[2021-11-11 13:26] #1848 closed

[2021-11-11 14:01] barrywhart commented on #1871
It's possible. As I mentioned above, I think we'd treat this as a new templater. I think it's similar to #1216.

[2021-11-11 16:37] ahladkyi-spd opened #1882 "Parsing errors for COPY INTO commands of snowflake"
Trying to integrate sqlfluff to my project, got various parsing errors for `COPY INTO` commands. Tried to pinpoint them, found 3, maybe there are some additional cases

## Expected Behaviour
No errors parsing this sample
[code]

## Observed Behaviour
Getting parsing errrors
[code]
## Steps to Reproduce
`sqlfluff lint copyinto-sample.sql --ignore linting --dialect snowflake` on sample above

## Dia

[2021-11-11 17:24] andrew-farries commented on #1874
The benefit would be twofold IMO:

[2021-11-11 17:40] andrew-farries commented on #1874
The benefit would be twofold IMO:

* Easier install for people working locally who might not want to install python + dependencies. In that case SQLFluff could be run as a one-shot command, something like:

[code]

  to lint the contents of a `./sql` directory without having to install anything.

* Ability to run SQLFluff as a container inside a Kubernetes pod. I have a Kubernetes application in w

[2021-11-11 19:05] WittierDinosaur commented on #1687
Just to chime in here - I'm not sure I know anyone who thinks aliasing is an antipattern... why does this rule exist?

[2021-11-11 19:10] tunetheweb commented on #1687
Some think we should have short, meaningful, unique table names instead. While that’s of course the ideal, I’m really not convinced it’s realistic in any database of any size…

[2021-11-11 19:14] WittierDinosaur commented on #1687
I think if there's to be rules disabled by default - this rule should definitely be. Like you say, if any sizable database, moreso in any sizable warehouse, this is functionally impossible

[2021-11-11 19:17] WittierDinosaur commented on #1812
I think while we're in Beta we can still change this kind of behaviour, as long as it's announced and in the release notes. Also, separately, we are at 50/ 51 rules now. While we're in Beta, maybe we should start grouping them. eg. C01, C02, for core, D01,D02 for dialect dependant, T01, T02, for templaters, etc

[2021-11-11 19:17] WittierDinosaur commented on #1812
As long as we don't use the LXX namespace, we can also keep back-compatible aliases for them

[2021-11-11 19:24] #1832 closed

[2021-11-11 21:18] #1841 closed

[2021-11-11 22:31] #1712 closed

[2021-11-12 01:12] cristianying opened #1886 "sqlfluff cannot pass extract(dow from date)"
## Expected Behaviour
be able to pass:
extract(dow from date)
## Observed Behaviour
failed to recognize dow as a non field
![image](https://user-images.githubusercontent.com/37324199/141391345-34908f88-ef39-4ef2-b0d7-26dd9f6cfe10.png)

## Steps to Reproduce
try to run sqlfluff on queries that contain extract(dow from date)
## Dialect
snowflake
## Version
Include the output of `sqlfluff --version`

[2021-11-12 02:46] #1882 closed

[2021-11-12 16:35] ahladkyi-spd opened #1888 "CTEs before INSERT or UPDATE throws parsing errors"
Getting parsing errors when defining CTEs before INSERT or UPDATE

## Expected Behaviour
No errors parsing something like
[code]

## Observed Behaviour

[code]

## Steps to Reproduce
`sqlfluff lint with-sample.sql --ignore linting --dialect ansi`
## Dialect
ansi

## Version
sqlfluff, version 0.8.1
Python 3.9.2

## Configuration
default

[2021-11-12 16:57] jpy-git commented on #1888
I'll take a look at this

[2021-11-12 17:12] OTooleMichael commented on #974
Plus one for this issue also. In our DWH setup we have lots of exceptionally long schema & table names  (and need to reference everything by both table and schema) because we have lots of tables (and also a need to logically break those tables apart). `L031` make transform style queries too verbose for us and indeed because our tables are so long can sometimes mean the line length is too long as a

[2021-11-12 19:07] jpy-git opened #1890 ""DBT Plugin Python 3.8 Windows tests" CI failing"
Seems to be `psycopg2-binary` pip install failing, so not code/PR related:
![image](https://user-images.githubusercontent.com/80432516/141521161-ac53cf36-0a5e-447a-97d0-f196a36074b3.png)

[2021-11-12 19:10] jpy-git commented on #1890
Most likely related to this new release:
![image](https://user-images.githubusercontent.com/80432516/141521801-372893e5-72df-437f-9c0e-fbc2d7971ee1.png)

[2021-11-12 19:14] jpy-git commented on #1890
Okay cool this has since been resolved 👍 :
![image](https://user-images.githubusercontent.com/80432516/141522340-2898f104-9ade-4eec-a59a-89e61edfea31.png)

[2021-11-12 19:14] #1890 closed

[2021-11-12 19:22] jpy-git opened #1891 "requires.io shows as "not found""
Not sure who manages this:
![image](https://user-images.githubusercontent.com/80432516/141522865-ce61e5da-7d86-4fdc-9db7-1c4d2294f1ee.png)

Low prio, but nice to fix.

[2021-11-12 21:15] Langes01x opened #1892 "Support view attributes for T-SQL"
## Expected Behaviour
SQLFluff using T-SQL dialect should be able to parse a view creation statement that uses WITH ENCRYPTION or WITH SCHEMABINDING or WITH VIEW_METADATA attributes.

Refer to T-SQL create view syntax documentation here: https://docs.microsoft.com/en-us/sql/t-sql/statements/create-view-transact-sql?view=sql-server-ver15

## Observed Behaviour
SQLFluff fails to parse the statement

[2021-11-13 19:51] tdstark opened #1895 "Redshift Dialect Cannot Parse INSERT INTO Statement"
## Expected Behaviour
SQLFluff ought to be able to parse the following SQL statement using the Redshift dialect:
[code]

## Observed Behaviour
SQLFluff notes that this section is unparsable.

## Steps to Reproduce
Run the aforementioned query.

## Dialect
Redshift

## Version
`0.8.1`

## Configuration
Default

[2021-11-13 21:05] #1892 closed

[2021-11-13 21:05] #1366 closed

[2021-11-13 21:48] barrywhart commented on #1891
Can you explain this in more detail? What is requires.io, what does it mean that it says "requirements not found", and what work would be required to fix it?

[2021-11-13 21:51] barrywhart commented on #1888
* [Postgres docs](https://www.geeksforgeeks.org/postgresql-cte/#:~:text=In%20PostgreSQL%2C%20the%20CTE(Common,the%20execution%20of%20the%20query.)
* [SQL Server (TSQL)](https://www.sqlshack.com/inserts-and-updates-with-ctes-in-sql-server-common-table-expressions/)

[2021-11-13 21:53] barrywhart commented on #1874
@andrew-farries: Do you have interest in creating a PR for this?

[2021-11-13 21:57] barrywhart commented on #1881
I'm testing with:
[code]

[2021-11-13 22:00] tunetheweb commented on #1891
It’s the badge on the main README of this repo.

I looked into it before and saw other complaining and thought it had broken for everyone but found some repos where it worked. Couldn’t figure it out. Thought it might be related to the `main`/`master` change.

Think we should just remove it from the README. It looks poor that it’s broken.

[2021-11-13 22:27] jpy-git commented on #1891
@barrywhart Apologies should have been more clear!
As @tunetheweb says it's one of the badges on the README.

I'm not overly familiar `requires.io` but from what I can see it checks that requirements files are using latest dependency packages, which for us isn't too relevant as we don't have any upper limit on our requirements.

Agree that we should probably just remove the badge as it makes it lo

[2021-11-13 22:36] #1888 closed

[2021-11-13 22:38] tunetheweb commented on #1891
Oh is that why it’s failing? The wildcards in the requirements.txt? That makes sense.

I did ask about this before in https://github.com/sqlfluff/sqlfluff/issues/1317 and due to the fact we offer an API we didn’t want to make our dependencies too strict to impact any dependent projects.

[2021-11-13 22:49] #1819 closed

[2021-11-13 23:02] jpy-git opened #1899 "Statements surrounded by brackets still parse"
If a statement is wrapped in brackets I would expect it to fail to parse. However, the statement still parses fine and throws no error.
e.g.
[code]

## Expected Behaviour
Parse error as invalid SQL.

## Observed Behaviour
![Screen-Recording-2021-11-13-at-22 47 45](https://user-images.githubusercontent.com/80432516/141661478-acaa657a-5a30-4aa7-b415-452db4b5d786.gif)

## Steps to Reproduce
Lint the

[2021-11-13 23:06] #1891 closed

[2021-11-14 02:01] jpy-git commented on #1874
I'd probably do the Dockerfile like:
[code]
to just build the docker image from the master branch so we don't worry about updating the version reference in the Dockerfile.
Runs same way with `docker run -it --rm -v $PWD:/sqlfluff sqlfluff lint test <file>`

Then when we do a release you could have a Github Actions workflow setup like described here https://github.com/docker/build-push-action, but

[2021-11-14 02:04] jpy-git commented on #1874
And also make a second Dockerfile/action that builds and pushes an image with both sqlfluff and the dbt extension installed for those that want to use that

[2021-11-14 15:03] #1216 closed

[2021-11-14 16:04] barrywhart commented on #1881
I reproduced this issue using just two rules. This is my `.sqlfluff` file:
[code]

[2021-11-14 16:06] barrywhart commented on #1881
I reproduced it without using templating:
[code]

[2021-11-14 20:27] barrywhart commented on #1881
@Gregory108: I have a PR that fixes this: #1904. Great bug report, thanks!

[2021-11-14 20:46] barrywhart commented on #1808
See #1881 and the related PR (#1904). The PR has a couple examples of "gray area" rule behavior, things that should be **prevented** or automatically **converted** to valid edits:
* L016 placing newlines in the parse structure where they would never appear normally. This confused L041. The PR "fixes" L041, but a better, deeper fix would be for L016 (and all rules) to guarantee that "fixed" parse t

[2021-11-14 21:09] #1881 closed

[2021-11-14 21:18] barrywhart commented on #1899
I did a quick test with SQLite to confirm that this is flagged as a parse error by the database. (I was initially wondering if this might be valid syntax, since parentheses around a query are often used with nested queries.)

The transcript below has two examples -- the first with a parse error, and the second with a nested query, where the parentheses are legal.
[code]

[2021-11-14 21:19] barrywhart commented on #1871
I think this is addressed by #1887. Can you confirm, @tank-pooja?

[2021-11-14 21:19] #1871 closed

[2021-11-14 22:14] jpy-git commented on #1862
I'd be happy to implement a rule for subqueries that formats them on a new indented line. This approach would work nicely with rule L003 as it would ensure that the subquery segments have correct indentation relative to the outer statement.

So
[code]
becomes
[code]

[2021-11-14 22:22] barrywhart commented on #1862
It sounds good to me. I could see this as a new rule out a new, optional behavior for L003. (Either seems okay from a user perspective. I'm not sure which would be easier to implement.)

[2021-11-14 22:30] jpy-git commented on #1862
I think a new rule would be simplest, let L003 handle indentation only rather than also moving segments vertically. I'll pick this up tomorrow 🚀

[2021-11-15 01:05] Gregory108 commented on #1881
@barrywhart Wow! A super quick and impressive resolution! Thank you so much!

[2021-11-15 01:08] barrywhart commented on #1862
That's my guess, too. If necessary, you can copy or otherwise reuse some code from L003. We have a few other rules which do that.

[2021-11-15 01:12] barrywhart commented on #1833
I also tested this on SQLite. With SQLite, note that it's `IIF()`, not `IF()`. It does not work there, but if I remove the `.*` a similar example **does** work.

[code]

[2021-11-15 01:15] barrywhart commented on #1771
I found the dbt [documentation](https://docs.getdbt.com/docs/building-a-dbt-project/snapshots/#example) on snapshots.

[2021-11-15 01:22] barrywhart commented on #1771
I managed to reproduce this issue with a slightly modified SQL file (added a `target_schema` parameter). Note that the SQL file **must** be in the `snapshots/` directory in order for dbt to successfully compile it.
[code]

[2021-11-15 01:42] barrywhart commented on #1771
I did some preliminary investigation to inspect the output of the dbt compile step -- i.e., in `DbtTemplater.process()`, what is the value of `compiled_sql` before `sqlfluff fix` processes it. The `snapshot` line is **already blank** at that point.

I'm still not sure this explains why it gets lost in the "fix" result, though. After all, SQLFluff preserves other kinds of templating such as `{% if

[2021-11-15 02:07] barrywhart commented on #1881
No problem! You can thank the Atlanta Falcons. Once they fell behind 14-3 today, I needed a distraction. 🤣

[2021-11-15 06:27] tank-pooja commented on #1871
@barrywhart , Yes, that's working. But, it's failing for this :

`L:   7 | P:  15 | L048 | Missing whitespace before '5'`

Here is config

[code]

And Query
[code]

[2021-11-15 06:47] fdw commented on #1862
What is the plan for long subqueries? Can they be broken down according to L003, but with a larger indent?

[2021-11-15 07:33] jpy-git commented on #1862
There's already a rule for line too long so that should handle that

[2021-11-15 12:48] barrywhart commented on #1862
We'll want some tests for that scenario. Idea: Copy several of the existing L003 tests and make the existing query a subquery.

[2021-11-15 13:15] barrywhart commented on #1771
I'm trying to determine where dbt processes and removes the `{% snapshot %}` open and close tags. I'm setting some breakpoints in both SQLFluff and the dbt source code. The 🐇 🕳️ goes pretty deep...

Here's a stack trace where I'm looking now:
[code]

Below, in `dbt.parser.base.parse_node()`, I'm looking at the file contents a couple of different wants. Note that `block.contents` is missing the `{%

[2021-11-15 13:31] barrywhart commented on #1771
dbt has several custom Jinja tags, including the following (possibly others):
* `snapshot`
* `materialization`
* `test`

When Jinja parses one of these custom tags, it creates an instance of dbt's `BlockTag` class, defined [here](https://github.com/dbt-labs/dbt-core/blob/main/core/dbt/clients/_jinja_blocks.py).

In SQLFluff's dbt templater, we monkeypatch Jinja to intercept calls to `jinja2.Enviro

[2021-11-15 13:52] barrywhart commented on #1771
It's not yet clear to me that dbt actually renders a template containing `{% snapshot %}` and other custom tags. I found a class `BlockIterator` in the same file that defines `BlockTag`. That class defines a `find_blocks()` function, beginning with the following lines:
[code]

It appears dbt _may be_ using a similar technique of calling Jinja's `lex()` function to extract tokens from the raw sourc

[2021-11-15 21:21] Langes01x opened #1908 "Drop Function Support"
## Expected Behaviour
SQLFluff using T-SQL (or ANSI) dialect should be able to parse a drop function statement. They support create function statements but not drop function for some reason. Other dialects like Postgre-SQL also seem to be missing this functionality.

Documentation for T-SQL here: https://docs.microsoft.com/en-us/sql/t-sql/statements/drop-function-transact-sql?view=sql-server-ver15

[2021-11-15 22:23] Langes01x opened #1909 "Support table valued functions for T-SQL"
## Expected Behaviour
SQLFluff using T-SQL dialect should be able to parse table valued functions.

Refer to T-SQL create function syntax here: https://docs.microsoft.com/en-us/sql/t-sql/statements/create-function-transact-sql?view=sql-server-ver15

## Observed Behaviour
SQLFluff fails to parse the statement

## Steps to Reproduce
Inline table-valued function example:
`echo create function fn_Test

[2021-11-15 22:38] barrywhart commented on #1462
Quick note: There is a class `SelectCrawler` in `sqlfluff.core.rules.analysis.select_crawler` used by a couple of existing rules. It recursively walks through the queries and subqueries in a file. It could be useful for fixing this bug.

[2021-11-15 22:56] Langes01x opened #1910 "Drop procedure support for T-SQL"
## Expected Behaviour
SQLFluff using T-SQL dialect should be able to parse a drop procedure statement.

Refer to T-SQL syntax here: https://docs.microsoft.com/en-us/sql/t-sql/statements/drop-procedure-transact-sql?view=sql-server-ver15

## Observed Behaviour
SQLFluff fails to parse the statement

## Steps to Reproduce
`echo drop procedure procName| sqlfluff parse -`

[code]

## Dialect
T-SQL

## V

[2021-11-15 23:24] Langes01x opened #1911 "Drop type support"
## Expected Behaviour
SQLFluff using T-SQL (or ANSI) dialect should be able to parse a create type statement. Create type is defined in ANSI but drop type isn't.

Refer to T-SQL syntax here: https://docs.microsoft.com/en-us/sql/t-sql/statements/drop-type-transact-sql?view=sql-server-ver15

## Observed Behaviour
SQLFluff fails to parse the statement

## Steps to Reproduce
`echo drop type typeName|

[2021-11-15 23:34] Langes01x opened #1912 "Support table type creation for T-SQL"
## Expected Behaviour
SQLFluff using T-SQL dialect should be able to parse a table type creation statement.

Refer to T-SQL type creation syntax here: https://docs.microsoft.com/en-us/sql/t-sql/statements/create-type-transact-sql?view=sql-server-ver15

## Observed Behaviour
SQLFluff fails to parse the statement

## Steps to Reproduce
`echo create type tabtype as table(col1 int null)| sqlfluff pars

[2021-11-16 00:29] #1771 closed

[2021-11-16 08:40] tonicebrian opened #1913 "BigQuery parser cannot handle structs within an IF clause"
Working with explicit struct arrays is flagged as PSR.

## Expected Behaviour
Given this valid query in BigQuery:

[code]

## Observed Behaviour
The query fails to parse

[code]

## Steps to Reproduce

## Dialect
Bigquery

## Version
[code]

## Configuration
No configuration

[2021-11-16 11:05] mattssll commented on #1899
it's not letting single queries be inside parenthesis, this should be allowed as it's not a syntax error, it could be a styling/formatting issue perhaps.

[2021-11-16 11:18] mattssll opened #1914 "SORTKEY and DISTKEY can't be parsed nor linted by sqlfluff - 'found unparsable section'"
Linting and parsing issue, when having DISTKEYs and SORTKEYs in redshift. This is a very common feature of redshift and not having this being accepted as valid code is a considerable limitation.

SQL Sample (file.sql):
[code]

## Expected Behaviour
The above should run fine as it's valid syntax, also, this is very common on redshift (to have distkey and sortkeys) and apparently sqlfluff isn't able

[2021-11-16 11:29] tunetheweb commented on #1914
This was fixed in #1855 and will be included in the next release.

@sqlfluff/sqlfluff-maintainers maybe it’s time we started thinking about 0.8.2 soon? Big queue of unreleased items.

[2021-11-16 11:29] #1914 closed

[2021-11-16 12:24] jpy-git commented on #1899
Okay so when I spotted this I was using sqlite as @barrywhart did and we can see that this is a syntax error in that dialect.

I have now tried the same query on Snowflake/MySQL and it seems to not be a syntax error for those dialects so maybe it's not an issue that this is parsing. However, we don't specify OptionallyBracketed around lone select clauses in the grammar, so it would be good to unde

[2021-11-16 14:19] vanAkim opened #1915 "Lint a dbt model gives an undocumented Jinja warning output and blocks fix command"
Linting the following model
[code]
raises the observed behaviour, including a strange and undocumented `WARNING    Jinja lex() skipped non-whitespace: m` line, probably linked underhood to the L003 rule in my case.
Moreover, the `sqfluff fix <model>` command results in a very strange form:
[code]
And that's just the surface, with multiple jinja ref tables within the SQL code, multiples `WARNING

[2021-11-16 15:08] keitherskine commented on #1913
Another example:
[code]
output:
[code]

[2021-11-16 20:18] barrywhart commented on #1915
I tried to reproduce this in two environments:
* Using my typical SQLFluff development environment, with the latest code in `main`
* In a new virtual environment after running `pip install sqlfluff sqlfluff-templater-dbt dbt==0.19.1`

In both cases, the SQL file looks fine:
[code]

Can you provide more info and/or try again in a SQLFluff dev environment with newer code? Doing these things may help

[2021-11-16 21:42] adam-tokarski commented on #1659
@tunetheweb this is duplicate of #1170. AFAIK there is no option to merge these issues, so one of them should be closed probably.

[2021-11-16 21:55] tunetheweb commented on #1659
Thanks. Let’s keep the earlier one open and close this.

Not sure on the answers to your questions though as not really used it played with dark mode.

[2021-11-17 00:15] jpy-git commented on #1911
Will add this now

[2021-11-17 01:34] #1895 closed

[2021-11-17 08:11] fdw opened #1920 "Format nested SQL statements"
I sometimes need to build dynamic SQL queries in SQL, so that I have to define queries first as a variable that will later be executed. For example (in TSQL):
[code]

I'm not even sure this is possible, but if sqlfluff could also parse, check and format the query in `@sql`, that would be quite awesome!

[2021-11-17 10:22] vanAkim commented on #1915
You can find `pip freeze` and `sqlfluff fix ... -vvv` outputs in the following text files:
[pip-freeze-usual.txt](https://github.com/sqlfluff/sqlfluff/files/7553629/pip-freeze-usual.txt)
[fix-verbose.txt](https://github.com/sqlfluff/sqlfluff/files/7553628/fix-verbose.txt)

I also tried the third point you mention and the problem disappear, lint and fix not showing the warning, as well as fixing pr

[2021-11-17 11:10] #1911 closed

[2021-11-17 11:38] #1910 closed

[2021-11-17 12:15] jpy-git commented on #1797
Looking into this, agree it should be a refinement of L043

[2021-11-17 14:55] barrywhart commented on #1915
That's good news about the latest code fixing it! I'll look at the other info if I have time, but we'll probably do a new release soon, so you'll have a fix regardless. 🎉💯

[2021-11-17 18:16] jpy-git commented on #1798
This seems like a specific case of the logic described in #1797, would suggest also adding this case to L043 once the PR for that issue goes through.

[2021-11-17 18:21] jpy-git commented on #1799
Is there ever a situation where nested CASE statements are needed?

Since the CASE statement is effectively an IF/ELIF/ELSE structure you could reduce all nested case statements?
i.e.
[code]
is equivalent to
[code]

So we can make a rule to stop the use of nested case statements and replace them as above.

[2021-11-17 18:31] jpy-git commented on #1812
I like @WittierDinosaur's idea of starting to group rules by the rule name prefix (C01, T03, etc.).

I think if we were to do that then we could adjust the include/exclude rule options in the CLI/config to accept globs (or regex):
e.g.
[code]
to just include core rules
or
[code]
to include all rules except template rules

That way we can ship with all rules enabled in order to encourage more peopl

[2021-11-17 20:58] jpy-git commented on #1754
I think this should maybe be part of the excess whitespace rule

[2021-11-17 21:29] jpy-git commented on #1749
Can definitely make a rule to highlight this as it's a common style guide rule.

I would maybe question if this could be difficult to autofix outside of the simplest case shown above
e.g.
[code]
or
[code]

Maybe just flag the linting error, as it's probably best for the user to reassess their JOINs if they're using right joins.
Happy to apply an autofix in the simple case if you think it best thou

[2021-11-17 21:31] jpers36 commented on #1749
I agree that this would be difficult to auto-fix.  I'm expecting just a linting error.

[2021-11-17 21:34] jpy-git commented on #1741
Good idea!
A clarification would be if one of the statements contains a wildcard we can't determine the number of columns, so let's not raise the lint error in that case as it would already be covered by L044.

[2021-11-17 21:34] jpy-git commented on #1749
Cool I'll pull that together 😄

[2021-11-18 09:25] vanAkim commented on #1915
Awesome, can't wait to get my hands on the new release then ✨
Thank you for your time.

[2021-11-18 09:25] #1915 closed

[2021-11-18 11:12] farfromunique commented on #1642
Redshift dialect support was added in 0.7.0, it seems. Should this issue be closed?

[2021-11-18 12:22] tunetheweb commented on #1642
There were a few items listed in #612 before Redshift was supported. The ones above were not in that initial support (when I closed #612 as we no do support Redshift as you say). So copied to this new issue. Not sure if those specific examples are supported now, and they probably should be individual, more detailed descriptions to be honest.

Let's close and get people to open new issues with more

[2021-11-18 12:22] #1642 closed

[2021-11-18 12:55] tkachenkomaria244 commented on #1284
For example:
I have script (it is already fixed with L003 rule and others):
[code]
but expect to see all keywords in subquery ("from table2 as t2", "group by t2.c1") on the new rows aligned with the first one:
[code]

[2021-11-18 13:09] MarkBird opened #1925 "Add chardet to setup.py installation requirements"
## Expected Behaviour

Able to run sqlfluff after `pip install sqlfluff==0.8.1`

## Observed Behaviour
[code]

## Steps to Reproduce

`pip install sqlfluff==0.8.1` on a system that doesn't have `chardet` installed.

## Version
sqlfluff version 0.8.1
python version 3.6.2

[2021-11-18 13:20] tkachenkomaria244 opened #1926 "TSQL: PRS errors: primary key definition in CREATE TABLE construction with ASC/DESC"
In CREATE TABLE statement primary key with ASC/DESC cause parsing errors in TSQL dialect.
[create-table-transact-sql](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-table-transact-sql?view=sql-server-ver15)

### Example
[code]
or
[code]
### Observed Behaviour
[code]

### Expected Behaviour
No parsing errors

### Dialect
tsql

### Version
SQLFluff 0.8.0, 0.8.1
Python 3.9.6

### Config

[2021-11-18 13:44] leoch20 opened #1927 "Unparsable section with Snowflake dialect and a table named "account""
[code]
## Expected Behaviour
Linting this should not raise any errors

## Observed Behaviour
The following error gets raised
[code]
## Steps to Reproduce
Run `sqlfluff lint filename.sql` having the code above in the file

## Dialect
Snowflake + dbt

## Version
Include the output of `sqlfluff --version` along with your Python version

SQLFluff - `sqlfluff, version 0.8.1`
Python3 - `Python 3.7.10-sl

[2021-11-18 14:07] #1797 closed

[2021-11-18 15:28] jpy-git commented on #1925
Good spot, I'll add this and there's a new release coming soon so hopefully should be able to get it in by then

[2021-11-18 17:34] jpy-git commented on #1582
Feels like this should be an option of L003, either align in multiples of indents from the left hand side of the page (current) or align on as (this proposal)

[2021-11-18 17:39] #1925 closed

[2021-11-18 18:15] jpy-git commented on #1745
Think this would be pretty simple to implement codewise.

@tunetheweb do we have any other examples of rules that apply to a single dialect?

[2021-11-18 18:57] robertdefilippi opened #1929 "Could not run sqlfluff - "Could not find adapter type redshift!""
[code]

## Expected Behaviour

I'm just trying out sqlfluff and I can't get it to run properly.  I know sqlfluff should able to be run Redshift, but it seems to be having a problem when I run Redshift and the dbt template together. I'm unsure how to debug this further because it seems all the paths are set correctly, and it is finding my dbt project and profiles directory correctly.

## Observed B

[2021-11-18 19:17] pwildenhain commented on #811
What if we start out with simply separating "core" from "non-core" rules? And then we could always add more categories as well go along?

I think these should define a core rule:
- Applies to (nearly) all dialects
- Could stop a parsing issue (I’m thinking L019 with comma placement or L026 with missing table references)
- Isn’t too opinionated (I’m thinking our dbt style specific rules — though db

[2021-11-18 19:35] #1748 closed

[2021-11-18 20:19] #1929 closed

[2021-11-18 20:20] robertdefilippi commented on #1929
Closing issue, as I believe the issue is with `dbt` and not `sqlfluff`

[2021-11-18 22:39] anzelpwj opened #1932 "Insert overwrite has some parsing failures in Spark3 dialect"
Finding that a couple of implementations for the `INSERT OVERWRITE` command in Spark3 SQL are not parsing properly.

## Expected Behaviour

From https://spark.apache.org/docs/latest/sql-ref-syntax-dml-insert-overwrite-table.html we see a few different ways to run the `INSERT OVERWRITE` command (`VALUES`, `SELECT`, `TABLE`, and `'FROM`). Some code examples we can take from the docs are as follows:

[2021-11-18 22:48] anzelpwj opened #1933 "Spark3 semi/anti join not parsing optional "left" token"
Spark SQL provides support for `LEFT SEMI JOIN` and `LEFT ANTI JOIN` commands (as equivalent to `SEMI JOIN` and `ANTI JOIN`), but we are not able to parse these at present. Can we please add support for these commands?

## Expected Behaviour

https://spark.apache.org/docs/3.0.0/sql-ref-syntax-qry-select-join.html

Some trial queries from the docs (and then with the left syntax added):

[code]

##

[2021-11-19 02:21] anzelpwj opened #1934 "Add support for REFRESH command in Spark3 dialect"
Spark3 has the `REFRESH` command to invalidate a regenerate cached data and metadata for data sets. You can provide a resource path https://spark.apache.org/docs/latest/sql-ref-syntax-aux-cache-refresh.html or (if using the Hive metastore) a table https://spark.apache.org/docs/latest/sql-ref-syntax-aux-cache-refresh-table.html.

## Expected Behaviour

We should be able to parse these commands prop

[2021-11-19 02:33] anzelpwj opened #1935 "Parsing issues with Spark trim command for both/leading/trailing"
Spark SQL has a `TRIM` function for trimming strings: https://spark.apache.org/docs/3.0.0/api/sql/index.html#trim. I'm running into parsing issues around these (initially prompted by a `BOTH FROM` command).

## Expected Behaviour

From the link above, we have the following example strings (which should all parse):

[code]

## Observed Behaviour

Running each of these into `echo "X" | sqlfluff pars

[2021-11-19 02:41] anzelpwj opened #1936 "Add support for Spark3 merge into syntax"
This is a bit farther afield, but if you are using Delta tables in Spark (e.g. if you're working in Databricks) there is an option to have an upsert command with `MERGE INTO`.
- https://docs.delta.io/latest/delta-update.html#upsert-into-a-table-using-merge
- https://docs.databricks.com/delta/delta-update.html#merge-examples

I'd like to have the ability to parse these commands. This may be a large

[2021-11-19 02:42] davidandreoletti opened #1937 "Postgres: DROP TYPE [IF EXISTS] foo [CASCADE] unsupported"
# Expected Behaviour

The code snippet is parsed successfully.

# Observed Behaviour

PRS error

`PRS	1 / 1	Line 1, Position 1: Found unparsable section: 'DROP TYPE IF EXISTS foo CASCADE'`

# Steps to Reproduce

Parse this with postgres dialect:

`DROP TYPE IF EXISTS foo CASCADE;`

# Configuration

- Command: `echo "DROP TYPE IF EXISTS foo CASCADE" | sqlfluff lint --dialect=postgres -`
- SQLfluff

[2021-11-19 03:11] amardeep commented on #1929
How did you install dbt and sqlfluff?

Sqlfluff imports dbt as a python package - so they both need to be present in same (virtual) environment.

[2021-11-19 04:23] yb66 opened #1938 "How to disable a rule via the config?"
## URL or Command Line Option with the issue being reported

The documentation does not include something like "How to disable a rule". There is [Ignoring line ranges](https://docs.sqlfluff.com/en/stable/rules.html#ignoring-line-ranges) and within the configuration of some rules there are things like `force_enable` but nothing about *how to do that in the config*. Or at least, nothing *obvious* (I

[2021-11-19 06:00] tkachenkomaria244 opened #1939 "L026 rule (ansi) cannot find table/view aliases in the FROM clause with JOINS in subquery"
Rule L026 finds violations in the code below, but actually all aliases exists in FROM statement.
[code]

## Expected Behaviour
no violations of L026

## Observed Behaviour
[code]

Following scripts dosn't give these errors:
[code]

[code]

## Dialect
Dialects = ansi, tsql

## Version
Python 3.9.6
SQLFluff 0.8.1 and earlier.

## Configuration
[code]

[2021-11-19 09:32] jpy-git commented on #1937
@davidandreoletti FYI this has already been fixed in #1870 and will be in release 0.8.2

1st case below is 0.8.1, 2nd is current master:
![image](https://user-images.githubusercontent.com/80432516/142599103-158da6ab-f876-457e-9c62-532286ae5cff.png)

So we can close this issue 👍

[2021-11-19 09:37] #1908 closed

[2021-11-19 09:57] jpy-git commented on #1938
@yb66 this already exists in the configuration section of the documentation:
![image](https://user-images.githubusercontent.com/80432516/142600111-a40a420d-3a5c-4167-ab84-f1f25728812f.png)

I think the `Configuration` page is a sensible place to put it. That section does quite clearly state that the config file is an alternative place to put command line options, so the place to look would be the

[2021-11-19 10:04] tunetheweb commented on #1938
I think a link to that section from the rules page would help make this clearer:

Somewhere around this section: https://docs.sqlfluff.com/en/stable/rules.html#inline-ignoring-errors

[2021-11-19 10:17] jpy-git commented on #1938
@tunetheweb ahh, those `Inline Ignoring Errors` and `Ignoring line ranges` are duplicated in the configuration page.
I can see why this could be confusing to someone looking at the rules page as put those sections there implies you would expect the rest of the config info there.
I would propose remove those two sections from the rules page and then replace it with the link to the `CLI Arguments` s

[2021-11-19 10:34] tunetheweb commented on #1938
Hmmm.... I'm in two minds.

In general I don't like duplicating content (they're bound to get out of sync - as this has shown).

But on the other hand I think it is useful to have this on the rules page. Yes we could link, but it is handy to have it directly there (I certainly use the one on the rules page more as always forget the syntax and usually on that page when I want to implement an inline

[2021-11-19 10:44] tkachenkomaria244 opened #1940 "TSQL: PRS error: statements with COLLATE"
Please add possibility to parse statements where COLLATE is used.
[collations](https://docs.microsoft.com/en-us/sql/t-sql/statements/collations?view=sql-server-ver15)

[code]
## Expected Behaviour
no parsing errors

## Observed Behaviour
[code]

## Dialect
TSQL

## Version
Python 3.9.6
SQLFluff 0.8.1

## Configuration
[code]

[2021-11-19 10:44] #1937 closed

[2021-11-19 11:12] tkachenkomaria244 opened #1941 "TSQL: PRS error: CREATE INDEX with WHERE"
Parsing script with CREATE INDEX statement containing WHERE keyword gives an error.
[create-index-transact-sql](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-index-transact-sql?view=sql-server-ver15)

[code]
## Expected Behaviour
no parsing errors

## Observed Behaviour
[code]
Python 3.9.6
SQLFluff 0.8.1

## Dialect

## Version
Include the output of `sqlfluff --version` along with y

[2021-11-19 11:18] tunetheweb commented on #1920
I'm curious as why you need to format it if you're just passing the SQL to the database? Are you wanting to format your code? What would that look like for above example?

[2021-11-19 11:21] tunetheweb commented on #1933
This is a great first issue for anyone looking to contribute. More details here: https://github.com/sqlfluff/sqlfluff/wiki/Contributing-Dialect-Changes

There is a `JoinKeywords` segment that I'd imagine could easily be set in Spark3 dialect to support this.

[2021-11-19 11:23] tunetheweb commented on #1936
We have #1125 as well which I'd imagine will handle most of this (or at least give us a basis to build this) but no one's picked that up yet.

[2021-11-19 11:25] tunetheweb commented on #1940
Should be easy enough to add to `ColumnConstraintSegment` of `src/sqlfluff/dialects/dialect_tsq.py`

[2021-11-19 11:26] tunetheweb commented on #1941
Postgres has a `IndexParametersSegment` which would be a good place to start this.

[2021-11-19 11:29] jpy-git commented on #1938
Yeah that's fair enough, I have always just defaulted to the `Configuration` page.

In that case I think the template solution in both pages seems a sensible approach.

I think the template section would cover basic examples of:
- including/excluding rules via CLI
- including/excluding rules via config
- ignoring individual lines/line ranges
- changing a config options for a couple rules.

It can

[2021-11-19 11:44] jpy-git commented on #1862
Update:
I've got this rule working fine for the subquery contents but it seems that L003 (or some other rule) is also trying to mess with subquery bracket position which I don't think we want. L003 is a bit of a beast so I'll need to find some time to figure out what's going on there.

[2021-11-19 11:45] #1749 closed

[2021-11-19 12:20] jpy-git commented on #1933
I already did the code for this last night before it was marked "good first issue" sorry, will make the PR!

[2021-11-19 12:28] fdw commented on #1920
The nested SQL is part of a larger SQL file that I need to maintain. I would like to automatically format all these files and have a similar format even for the nested statement so that it's easier to maintain.
Also, it's even harder to find errors in the nested statements, so if sqlfluff could do that, that would be a huge bonus!

[2021-11-19 12:44] barrywhart opened #1943 "Rules should be able to use memory without explicitly returning a LintResult with a memory parameter"
Now that the rules take a `RuleContext` object with a `memory`, it seems annoying and unnecessary to require a rule to return `LintResult(memory=` in order to use the memory feature. Could we simply allow them to modify the `memory` property directly?

[2021-11-19 13:00] #1899 closed

[2021-11-19 13:07] barrywhart commented on #1862
Good luck! I've had some struggles with understanding L003 as well -- it's probably the most complex of the linting rules (at least that I've touched). As you're looking at it, if you have any thoughts on how we could make it easier to work on, that would be 💯.

A few ideas I've had: add docs, examples, or additional unit tests for specific fields or variables such as:
* `hanging_indent`
* `clean_

[2021-11-19 13:27] barrywhart commented on #811
I lean towards including L003 as a core rule, even if it's imperfect, simply because to me, automated formatting (i.e. indentation + line wrapping) is **the** reason I went looking for a SQL linter and got involved with SQLFluff initially. One way I rationalize this is that a rule that only touches whitespace cannot **break** someone's SQL; at worst, the SQL may end up looking weird. I agree we wa

[2021-11-19 14:38] pwildenhain commented on #811
That makes a lot of sense, I could see L003 as core

[2021-11-19 14:46] tunetheweb commented on #811
Broadly agree.

My comments (where I differ from @pwildenhain ) in case you're interested:

**Core**

- L011 (use `AS` in table alias): Disagree with this rule: in all my experience (from a few different RDBMS's) I've never really used `AS` before table aliases, but have before column aliases. Dunno why, but just not SQL convention as I've seen it used.
- L035 (Do not specify `else null` in a case

[2021-11-19 15:00] barrywhart commented on #811
L037 is an intereresting one -- it's opinionated, but it's valuable because it literally surfaces bugs. I suggested and added this after a data job at my former employer had a bug that caused embarrassingly bad data to be surfaced (basically, it was. choosing the **worst possible answer** rather than the **best possible**.  😳)

There are a few other rules like this which I consider more classic "l

[2021-11-19 15:01] barrywhart commented on #811
Linking to a related issue: #812 "Rules whose docs need rationales (or improvements to existing ones)". I suggest we address these two together, at least for core rules. I.e., if we call it a "core" rule, we should make sure there's a clear explanation **why** we believe this.

[2021-11-19 15:04] robertdefilippi commented on #1929
I have `dbt` installed with `brew`, so I can quickly switch between versions. Currently I'm using `0.20.0`

I also have python installed with `pyenv` so I can also switch between versions and environments.

When I installed `sqlfluff` using `pip` it overwrote / took priority over the `brew` version of `dbt` using `0.21.0` instead of the `0.20.0` I'm used to. Because the `0.21.0` version does not c

[2021-11-19 15:11] barrywhart commented on #811
I agree with @tunetheweb that:
* L039 should be core. That _may_ change someday, e.g. if we support river format, but my spidey sense suggests that people who use river format are a vocal minority and not our core user base
* L035 should not be core. In the spirit of "explicit is better than implicit", some people may prefer the **opposite**. If I'm reading code that omits this, I may legitimately

[2021-11-19 15:16] robertdefilippi commented on #1929
If Sqlfluff needs to be in the same environment as dbt, are there any examples of Sqlfluff running from a docker container? Our production run of dbt comes from the official image, so how can I get Sqlfluff to play correctly with that setup?

[2021-11-19 15:35] #1745 closed

[2021-11-19 16:31] amardeep commented on #1929
I am not familiar with python packaging and dependency management. Maybe reopen the bug (and/or discuss on slack) so that others can chime in.

Looking at [setup.py ](https://github.com/sqlfluff/sqlfluff/blob/0.8.1/plugins/sqlfluff-templater-dbt/setup.py#L66) though, it specifies `"dbt-core>=0.17"` - so I guess as long as you install dbt in some environment and install sqlfluff in same environment

[2021-11-19 16:56] tkachenkomaria244 commented on #1926
I'll try to look into this

[2021-11-19 16:57] tkachenkomaria244 commented on #1940
I'll try to look into this

[2021-11-19 16:57] tkachenkomaria244 commented on #1729
I'll try to look into this

[2021-11-19 17:57] jpy-git commented on #1920
@fdw Surely Jinja/dbt is a better approach to creating templated code, and they're already supported by the project?

Using templating is going to be much more readable than string concatenation.

[2021-11-19 18:02] tunetheweb commented on #1920
Plus one to @jpy-git 's suggestion.

I'm still not sure what you expect the formatted SQL to look like?

Like this?:

[code]

[2021-11-19 18:07] fdw commented on #1920
Wish it were so, but I don't have anything available but SQL.
Basically, the task is to write a procedure where the table name is passed as a parameter. In TSQL, there is no other way to do that dynamically apart from the string concatenation here.
I'm not much of a fan, either 😉

My main goal is that it looks identical everywhere. Right now, no-one keeps me from formatting it differently each and

[2021-11-19 18:15] tunetheweb commented on #1920
Well if not using a recognised templater, then the best I can suggest for consistency is somehow extracting the full SQL in a script and calling SQLFluff (either via the Python API on the command line), on the full SQL after variable subsitution and showing an error if it doesn't mean your style guide (e.g. lowercase `select` instead of `SELECT`). Have that part of a commit hook or CI to alert dev

[2021-11-19 18:38] fdw commented on #1920
Fair enough. Then thanks for your time and effort 🙂

[2021-11-19 18:38] #1920 closed

[2021-11-19 23:00] #1933 closed

[2021-11-19 23:26] jpy-git commented on #1874
Gonna take a look at this tomorrow 👍

[2021-11-20 05:46] tkachenkomaria244 commented on #1941
I'm going to look into this

[2021-11-20 21:26] jpy-git commented on #1939
looking into this 👀

[2021-11-21 09:29] davidandreoletti commented on #1937
Super. Thx!

[2021-11-21 15:08] andrew-farries commented on #1874
Sorry for being slow on this.

It looks like @jpy-git has done a better job of it than I would have done anyway 😄 .

[2021-11-21 15:33] barrywhart commented on #1874
@andrew-farries: Don't apologize! It's cool if you want to contribute, but there's no obligation. We're all busy or have different strengths and weaknesses. I contribute mostly because it's fun and I enjoy the community. We used SQLFluff at my last job, but I left a few weeks ago. Take care!!

[2021-11-21 15:37] jpy-git commented on #1874
Absolutely, and would be great to get your input on the PR to check I've covered all bases 😄

[2021-11-21 16:49] aa0910 opened #1952 "sqlfluff fix incorrectly replaces macros"
## Original Code Example

[code]
## Expected Behaviour

Should be well linted and formatted without any addition or deletion from the code

## Observed Behaviour
[code]

## Dialect
bigquery

## Version

Sqlfluff version  - 0.7.1
Python version -  3.9.8

## Configuration

[code]

[2021-11-21 16:59] aa0910 opened #1953 "sqlfluff lint produces expected output but sqlfluff fix produces errors"
Type Error

This probably occurs because of dbt_utils.surrogate_key

Gives the type error for following rules:

TypeError: 'NoneType' object is not iterable

Rules:
L039 - unnecessary whitespace
L044 - unknown number of result columns
L003 - indentation

## Dialect
bigquery

## Version
Sqlfluff version - 0.7.1
Python version - 3.9.8

## Configuration
[code]

[2021-11-21 17:02] tunetheweb commented on #1953
No screenshot is included. Also better to include the actual SQL than a screenshot to save someone having to retype it.

[2021-11-21 17:17] aa0910 commented on #1953
Here is a code that would generate these errors:

One fix for L003 not applied, it will re-cause the same error
One fix for L039 not applied, it will re-cause the same error
Applying rule L044 threw an exception: 'NoneType' object is not iterable
[code]

[2021-11-22 06:34] #1939 closed

[2021-11-22 08:14] tkachenkomaria244 opened #1954 "TSQL: add <table_option> in CREATE TABLE"
TSQL Dialect. Add possibility to parse <table_option> block in CREATE TABLE statement according to [create-table-transact-sql](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-table-transact-sql?view=sql-server-ver15)

[2021-11-22 10:06] #1729 closed

[2021-11-22 10:06] #1926 closed

[2021-11-22 10:06] #1940 closed

[2021-11-22 10:06] #1941 closed

[2021-11-22 19:50] KulykDmytro opened #1959 "noqa is ignored for jinja templated lines"
## Expected Behaviour
Line with `noqa: TMP` should be ignored (despite of evaluation error)

## Observed Behaviour
trying to lint airflow sql-template for AWS Athena query
setting up inline `-- noqa` or `--noqa: TMP` for jinja templated line not silenting templating error (typecasting error due to unable to pass datetime object while linting into template context):
[code]

## Steps to Reproduce
te

[2021-11-23 00:01] jdub opened #1961 "sqlfluff-templater-dbt 0.8.2 not on PyPI?"
Is it possible sqlfluff-templater-dbt 0.8.2 wasn't released to PyPI?

https://pypi.org/search/?q=sqlfluff

[2021-11-23 00:37] tunetheweb commented on #1961
Looks like the build failed: https://github.com/sqlfluff/sqlfluff/runs/4289258071?check_suite_focus=true

Here's an example of the last good run: https://github.com/sqlfluff/sqlfluff/runs/4289258071?check_suite_focus=true

It looks like this time it tried to build sqlfluff, rather than the sqlfluff-templater-dbt and then that failed t upload to PyPi as it wasn't built.

@jpy-git could you have a l

[2021-11-23 00:51] jpy-git commented on #1961
👀

[2021-11-23 09:28] #1961 closed

[2021-11-23 09:30] tunetheweb commented on #1961
That's now been released. Thanks for quick action @jpy-git !

[2021-11-23 10:15] jdub commented on #1961
Hooray, thanks!

[2021-11-23 14:42] #1874 closed

[2021-11-23 14:57] jpy-git commented on #1953
@aa0910 I can see that you're using sqlfluff 0.7.1, I know a lot of work has been done on the dbt templater since then so out of curiosity would you be able to retry with 0.8.2 and confirm if you're still seeing the issue?

[2021-11-23 16:09] WittierDinosaur commented on #714
@alanmcruickshank @barrywhart this is up and running now, correct?

[2021-11-23 16:35] barrywhart commented on #714
There is a "placeholder" templater now. It supports several placeholder syntaxes natively, and you can configure your own as well.

[2021-11-23 20:33] 808sAndBR commented on #1929
I had this issue but was able to resolve it by running `pip install dbt-redshift` in the venv that I am running sqlfluff in. This was unexpected as running `dbt --version` in that environment showed the plugins, but they must be coming from brew since the package was not present in `pip freeze` (although `dbt-core` and `dbt-extractor` were).

There is likely room for doc improvement maybe in the h

[2021-11-24 01:12] KulykDmytro opened #1968 "L032 rule cannot be excluded by configuration"
[code]

## Expected Behaviour
when setting up `L032` in configuration: `exclude_rules`
sqlfluff lint should skip this warning

## Observed Behaviour
while set in configuration
[code]
however inline `--noqa: L032` works as designed (skipping rule)

## Steps to Reproduce

## Dialect
postgres

## Version
0.8.2 + Python 3.9.8

## Configuration
[code]

[2021-11-24 07:43] DawidJanczak commented on #1886
Just to expand a bit this also affects PostgreSQL. An example:
[code]

Sqlfluff output:
[code]

[2021-11-24 09:24] AndriesDraux opened #1969 "PostGRESQL dialect - position function parsing error when table reference is used"
## SQL Query

[code]

## Expected Behaviour

All Finished 📜 🎉!

## Observed Behaviour

L:  33 | P:  91 |  PRS | Line 27, Position 91: Found unparsable section:
                       | '.user_email'

## Steps to Reproduce

no parsing error: position('@randomemail' in user_email) = 0
parsing error: position('@randomemail' in u.user_email) = 0

In the parsing error part; `u` is a table alias defined

[2021-11-24 09:45] tunetheweb commented on #1969
Can you please provide the SQL and SQLFluff config

[2021-11-24 11:00] AndriesDraux commented on #1969
Ok, added, apologies :)

[2021-11-24 11:41] tekumara opened #1970 "RuntimeError: File ...macros/my_macro.sql was not found in dbt project"
## Expected Behaviour

No error

## Observed Behaviour

[code]

## Steps to Reproduce

Create a dbt project with .sql files in _macros/_

## Dialect

Snowflake

## Version

sqlfluff, version 0.8.1

## Configuration
[code]

[2021-11-24 12:01] tunetheweb commented on #1969
Fix submitted in #1971 and should be in next release.

[2021-11-24 12:03] tunetheweb commented on #1968
I can't repeat this. Are you sure your `.sqlfluff` file is being picked up correctly?

[2021-11-24 12:05] tunetheweb commented on #1959
As discussed on slack:

Checking a few versions back your example has never worked.
I think the templating ignoring is pretty basic (it's not included in our documentation).

So this works:

[code]

But think anything beyond that simple use case, it struggles with.

Will leave this issue open to see if it can be improved but for now the best solution is to defined that macro in the config (though

[2021-11-24 13:02] #1969 closed

[2021-11-24 14:23] jpy-git commented on #1812
was looking through old issues and noticed what I described above was also requested in #1445

[2021-11-24 14:52] jpy-git commented on #1244
@tunetheweb @barrywhart I'd be interested in adding this as I also use both MySQL and Snowflake in the same project.

Will add a `--config-file` option to the CLI and `config_file` option to the simple API (#1274). These will default to None, in which case we discover config files via the usual method. If this parameter is specified with a pathlike object I see there being two approaches.

Current

[2021-11-24 15:01] barrywhart commented on #1244
I don't have a strong feeling about this. FWIW, I have used SQLFluff on small to medium projects. I wonder if large (especially dbt) projects may have specialized needs.

Overall, I agree with option 1. If or when more complex needs arise, we can consider how to handle those as well.

[2021-11-24 15:24] jpy-git commented on #1244
@barrywhart actually reading that back the issue is asking for option 3:

- `default_config.cfg` (package default)
- `<custom_config_file>` (global user default)
- `setup.cfg`
- `tox.ini`
- `pep8.ini`
- `.sqlfluff`
- `pyproject.toml`
- Any command line arguments

basically there are multiple separate projects with variations on a default config that is contained in a separate project.
I think this

[2021-11-24 15:26] jpy-git commented on #1244
I'd still lean to 1 for in multiple in project configurations

[2021-11-24 15:30] tunetheweb commented on #1244
I don't understand the reason for allowing overrides. If you have the ability to place a .sqlfluff config file, then you should place one in the top level.

To me the ability to provide a config file is most useful for those that want to store the config file separately for whatever reason. Therefore it should not require overrides IMHO.

On the other hand, if an override file exists maybe it shou

[2021-11-24 15:31] barrywhart commented on #1244
In the case they describe, does the exact order matter? IIUC, they're saying they'd define the high-level config in `<custom_config_file>` and the Jinja variables in the project-specific files. As long as the config files do not touch the **same** settings, order doesn't matter.

I agree that 1 is good for the case you describe, so I'm in favor of 1 as well as 2 or 3.

Think it's worth asking (pos

[2021-11-24 15:37] jpy-git commented on #1244
@tunetheweb that was my thought process for 1 too 👍

@barrywhart I'll create a poll in the slack 👍 Let's keep it simple and say order doesn't matter then so between 1 or 2

[2021-11-24 15:38] barrywhart commented on #1244
Overrides won't be useful for most people, I think. One plausible scenario I can imagine is: you have a large (probably dbt) project written in various styles and levels of SQLFluff compliance. You're gradually cleaning it all up, but it's taking weeks or months, and you want to disable certain rules or use more relaxed settings for directories that have yet to be cleaned up. (I think @alanmcruick

[2021-11-24 18:29] k-aranke commented on #1244
Overrides would be helpful to fix this issue I opened a while back where SQLFluff picks up the wrong dbt config: https://github.com/sqlfluff/sqlfluff/issues/1468.

[2021-11-24 18:35] jpy-git commented on #1244
I guess the nice thing about overrides is that even if someone doesn't want to use them they can just not have sqlfluff config files in the current directory and keep their various sqlfluff configs in a separate folder that they reference via the CLI/API to get the same independent functionality of Option 1

[2021-11-24 18:39] jpy-git commented on #1445
Working on this 👍

[2021-11-24 20:53] #1746 closed

[2021-11-24 22:11] jpy-git opened #1973 "L027 double raised with wildcard"
If you lint this query:
[code]
L027 is raised twice.

N.B. this does not occur if `*` is replaced with `a` so it is specifically the wildcard causing the issue.

## Expected Behaviour
L027 only raised once.

## Observed Behaviour
![image](https://user-images.githubusercontent.com/80432516/143318672-d664122f-dd8b-4d37-9d11-158687594bbb.png)

## Steps to Reproduce
lint the query shown above.

## Dia

[2021-11-24 22:28] jpy-git commented on #1973
Both of these recursive crawls in `get_select_statement_info` are returning the `WildcardIdentifierSegment`:

![image](https://user-images.githubusercontent.com/80432516/143320562-c218b890-dc23-47cc-b372-365dc14241d3.png)

Perhaps the second crawl is unnecessary

[2021-11-24 22:36] jpy-git commented on #1973
Yep wildcard_identifier inherits from object_reference so I'll remove that second crawl

![image](https://user-images.githubusercontent.com/80432516/143321377-acf0094d-2937-4409-9689-9a742b91eb85.png)

![image](https://user-images.githubusercontent.com/80432516/143321180-77fc4aa4-220a-415d-9823-45301d73cd2b.png)

[2021-11-25 13:45] tkachenkomaria244 commented on #1954
I'll take care of it

[2021-11-25 14:14] #1973 closed

[2021-11-25 14:18] ahladkyi-spd opened #1975 "Parsing errors for snowflake's stage path in COPY INTO command"
Getting parsing errors for some COPY INTO scripts due to too strict rules for stage path.

Also not sure if it's connected to this one, but autofixing can uppercase subpath of a stage, potentially breaking query, because s3 has case-sensitive path and filename
`from @public.mys3bucket/subfolder` => `FROM @PUBLIC.MYS3BUCKET/SUBFOLDER`

## Expected Behaviour
Parsing successfully following snippet
[c

[2021-11-25 15:04] matthewsweetsp opened #1977 "Disable rule inline doesn't work for commented sections of code"
## Expected Behaviour

Adding -- noqa: L016 to the end of a commented line should ignore the 'Line too long' rule

## Observed Behaviour

Rule still fails for commented line even with the --noqa addition

## Steps to Reproduce

-- kkajshdkjhndkndansdjkasndjks knasdkasdkjaskjdhkajhdjkadn kahdkahnsjkdhkajdiundueubebd dkldkkljdalsd -- noqa: L016

## Dialect

Snowflake

## Version

SQLFluff v 0.8.2, P

[2021-11-25 18:07] Gregory108 opened #1978 "Nuisance: L052 (require_final_semicolon = True) does not reliably add `;` if L009 is on and EOF line does not exist already"
If:
- Rule 009 is not excluded (default)
- There is no single trailing newline (as rule 009 requires)
- Rule 052 parameter `require_final_semicolon = True` (not default)

Then `sqlfluff fix` adds newline, but does not add a semicolon (`;`).

Related experiments:
- Value of another 052's parameter `semicolon_newline = True/False` does not affect the mechanics
- While ```[sqlfluff] exclude_rules = L

[2021-11-25 18:09] Gregory108 commented on #1808
@barrywhart Hi!
In the newest (0.8.2) version of SQLFluff I found an analogous mistake - [here is the Issue](https://github.com/sqlfluff/sqlfluff/issues/1978#issue-1063840698)

[2021-11-25 18:09] Gregory108 commented on #1978
@barrywhart
May have the same nature as my previous [Issue](https://github.com/sqlfluff/sqlfluff/issues/1881)

[2021-11-25 18:40] jpy-git commented on #1978
Will look into this, not sure it's related to the other issue

[2021-11-25 22:36] jpy-git commented on #1978
cool, I think I've found the fix for this. Similar to @barrywhart's final comment in #1808. Will pull together a PR

[2021-11-26 07:35] aa0910 commented on #1953
Thank you Joseph, just a quick question on the same, how do i updrage my sqlfluff. I tried to upgrade using multiple ways but it still shows my version as 0.7.1. Can you please help me with the command to upgrade. Appreciate your help.

[2021-11-26 09:49] jpy-git commented on #1953
sure thing, @aa0910. The easiest way to upgrade is `pip install --upgrade sqlfluff` (you may need to replace `pip` with whatever you usually use to install things e.g. `pip3` or `python3 -m pip`)

[2021-11-26 10:06] jamiet-msm opened #1981 "Error: "pop from an empty set""
## Expected Behaviour

No runtime error occurs

## Observed Behaviour

Runtime error

[code]

## Steps to Reproduce

Here is the content of the file referred to in the error message (cdm_processing.FctEnergyAppStatusUpdateProcessing.sql):

[code]
Note that the templating used here is terraform templating (https://www.terraform.io/docs/language/functions/templatefile.html)

## Dialect
bigquery

##

[2021-11-26 11:43] tkachenkomaria244 opened #1982 "TSQL: PRS error: add possibility to parse MERGE statement"
Please add possibility to parse MERGE statement in TSQL dialect.
[merge-transact-sql](https://docs.microsoft.com/ru-ru/sql/t-sql/statements/merge-transact-sql?view=sql-server-ver15)

I see MERGE has been implemented already in Exasol and Snowflake dialects of SQLFluff.
But MERGE  was not included in ANSI base dialect for some reason, although MERGE is in ANSI standard:
[Merge_(SQL)](https://en.wik

[2021-11-26 13:52] jpy-git commented on #1981
@jamiet-msm @WittierDinosaur This is a parsing issue rather than the rule logic.

The rule is receiving unparsable sql (at least according to what has been added to the grammar so far). Not sure why unparsable sections get passed to the rules for evaluation, so I will investigate that. Also feels like parse errors should not be ignorable as any subsequent errors triggered by parse error are mislea

[2021-11-26 14:08] WittierDinosaur commented on #1981
Off the top of my head - i imagine there's a limit to the number of . in a column. Parse issues shouldn't make it through the parser - I'll look into it over the weekend

[2021-11-26 14:57] jpy-git commented on #1981
amazing thanks, interestingly the parse error isn't raised for ansi.

![image](https://user-images.githubusercontent.com/80432516/143599127-0dfb0954-58cc-49ab-90db-392e6428b336.png)

[2021-11-26 15:00] WittierDinosaur commented on #1981
I'm a little confused. If you run sqlfluff parse, is there an unparsable section in the parse tree?

[2021-11-26 15:04] jpy-git commented on #1981
within the group by clause when using big query
![image](https://user-images.githubusercontent.com/80432516/143599790-0e1cefc5-23ad-4d0e-9da5-417d04af3093.png)

however, no parse issue for ansi
![image](https://user-images.githubusercontent.com/80432516/143599993-7edfeb96-9f6b-4ede-8b98-9e42169781c2.png)

so probably just need to recreate the column logic from ansi into big query

[2021-11-26 15:09] jpy-git commented on #1981
the rule looks at groupby_clause, which has an unexpected unparsable child segment.
![image](https://user-images.githubusercontent.com/80432516/143600446-70d1fb90-c1ae-4ded-a2ac-96300ffe0716.png)

[2021-11-26 16:21] jacopofar opened #1983 "Pass a configuration programmatically"
The [documentation](https://docs.sqlfluff.com/en/stable/api.html) shows it's possible to run linting and parsing programmatically, but I cannot find a way to pass a configuration when doing it, even after reading the code.

My use case is that I have a few folders with many SQL files containing placeholders that require templating, and want to parse these files without creating config files or gen

[2021-11-26 16:34] jpy-git commented on #1983
Hi @jacopofar, this has already been discussed a lot recently and I've started looking at implementing it.

see #1244 for main discussion and we carried out poll yesterday on how people want the option implemented.

This will be passed as a path rather than a `FluffConfig`. Reasoning being we don't want to expose sqlfluff internals in the simple API.

Think we can close this issue as a duplicate.

[2021-11-26 16:38] #1983 closed

[2021-11-26 16:45] pif opened #1984 "L044: CTE in CTE doesn't pass linter"
## Observed Behaviour
Rule `L044` fails when there's a CTE inside another CTE.

## Steps To Reproduce

Example SQL:
[code]

Linter output:
[code]

[Link](https://online.sqlfluff.com/fluffed?sql=H4sIACUNoWEC_yvPLMlQSFRILFbQ4OVSAIJykEASkgAIFKfmpCaXKBhCRDR5uSAMqLCWQlpRfq5CEi8XWAZVNJGXCwBVidBWZAAAAA%3D%3D&dialect=snowflake) to SQLFluff Online output.

## Expected Behaviour
Linter rule `L044` should `P

[2021-11-26 16:51] jpy-git commented on #1984
@pif Is this valid SQL?

If it is then nested WITH statements would be a definite antipattern.
[code]
should be written
[code]

[2021-11-26 16:59] jpy-git commented on #1968
@KulykDmytro, I've checked too and also don't see this issue

![image](https://user-images.githubusercontent.com/80432516/143612739-dfd5ea96-b3af-4bb3-a6c9-b388e694d948.png)

[2021-11-26 17:11] jpy-git commented on #1977
context around this is that it was a url so can't just split over multiple lines.

![image](https://user-images.githubusercontent.com/80432516/143613119-1cfe1633-e9f3-461c-9de2-f91c4c43503c.png)

[2021-11-26 17:32] jpy-git commented on #1977
*Comparison to flake8*

- Flake8
![image](https://user-images.githubusercontent.com/80432516/143614937-d1560450-f580-48e3-95a6-8475f6b5bcee.png)

- sqlfluff
![image](https://user-images.githubusercontent.com/80432516/143615514-a7caf45c-3fc3-4633-b68d-5e88170c582f.png)

[2021-11-26 17:42] jpy-git commented on #1977
A couple observations:

1. flake8 ignores line length on comment only lines. Think this is a nice default so propose a L016 config option `ignore_comment_only_lines` that defaults to True.
2. flake8 respects the inline ignore on comment lines, whereas sqlfluff does not. I imagine it's because the comment + the inline ignore are treated as 1 comment and therefore the ignore is not recognised. We sh

[2021-11-26 17:51] jamiet-msm commented on #1981
Thx folks. BigQuery allows a column to contains nested data structures (might help to think of it as the column being of type JSON - although that's not what it is) hence the dot notation here is navigating through that hierarchical data structure.

![image](https://user-images.githubusercontent.com/79862277/143617076-8a5e3b0e-7288-4215-ad57-1055297d8c6b.png)

[2021-11-26 18:51] jpy-git commented on #1977
ignore point 1, there's already an option for exactly that in the config. I'm fine with it being False by default 👍

![image](https://user-images.githubusercontent.com/80432516/143621291-fb64cbc5-b2a8-4077-891e-98a9074f6c1c.png)

[2021-11-27 08:28] tunetheweb commented on #1984
I'd also say it's an anti-pattern to use the `select *` within both the real statement and CTE a — even if it does ultimately result in a known number of columns at the end. This is a waste of processing effort when potentially an index could be used (though possible some SQL engines will be clever enough to realise this and optimise the query before execution).

Also, consider the following state

[2021-11-27 09:34] tunetheweb commented on #1981
Multiple dots are handled fine in SQLFluff.

The issue is the `current` part of the objet names, changing that to `current1` allows it to parse and lint fine

`CURRENT` is a [reserved keyword in BigQuery](https://cloud.google.com/bigquery/docs/reference/standard-sql/lexical#reserved_keywords), but there is a [special opt out](https://cloud.google.com/bigquery/docs/reference/standard-sql/lexical) t

[2021-11-27 10:38] jpy-git commented on #1984
@tunetheweb I think I agree with you on L044 trying to do too much at the moment, probably better it just focus on flagging wildcards.

for example why introduce all the extra logic to allow:
[code]
(currently L044 tries to allow for the above)
If it would just be clearer to write
[code]

Trying to account for the one simple exception case above opens us up to having to implement the more complica

[2021-11-27 10:39] jpy-git commented on #1984
Also a rule to say "don't use nested WITH statements"

[2021-11-27 12:16] #1981 closed

[2021-11-27 12:51] #1244 closed

[2021-11-27 13:11] jamiet-msm commented on #1981
Thank you all for the rapid response. Is it fair of me to ask when this might show up in a new tag?

[2021-11-27 13:19] tunetheweb commented on #1981
That's entirely fair, but I don't have a definitive answer for you! 😁

Officially in our [README](https://github.com/sqlfluff/sqlfluff#releases), we say we release once a month and we just released 0.8.3 so could be a few weeks. Unofficially, we have so many people contributing so many great enhancements at the moment that I would expect it to be sooner than that.

[2021-11-27 13:20] tunetheweb commented on #1981
Plus I'm sure no one wants to have a release just before Christmas! So might be good to get one last 2021 release out, well enough before that.

[2021-11-27 13:22] jpy-git commented on #1981
I think @alanmcruickshank mentioned that we might need to make the next release a minor one due to non-backwards compatible changes we're making to tidy up the simple api (#1951). I still think there are some more additional improvements we should make to the API before then, so no need to rush 😄

[2021-11-27 14:21] #1978 closed

[2021-11-27 15:00] #1977 closed

[2021-11-27 16:46] jpy-git commented on #810
@barrywhart see the discussion on #1984 RE: potentially reducing the scope of L044 to just flag the presence wildcards. All these cases can just be included as antipattern/pattern descriptions on that rule.

IMO there aren't really any great uses of wildcard in most situations so best to make L044 generic.

[2021-11-27 16:51] jpy-git commented on #797
I'm going to take a look at adding this as I've got mac and windows users on my team and hate seeing those carriage returns :)

@NiallRees's config option suggestion is definitely the right approach.

[2021-11-27 16:56] #1445 closed

[2021-11-27 17:14] barrywhart commented on #1984
FWIW, I think the extra complexity is worthwhile, as it gives SQL authors the flexibility to write their code however they want, as long as they don't ultimately have an output table with an unknown number of output columns. This issue sounds like a bug, and I'd be happy to look at it -- I wrote the original L044, partly with the deliberate intent to start adding more sophisticated, complex code a

[2021-11-27 17:17] barrywhart commented on #1984
IIRC, this issue arose partly from the fact that SQLFluff probably didn't support nested CTEs at the time L044 was added. (Also, do all dialects support nested CTEs?)

Anyway, I'm 100% in favor of fixing this, very much against reducing functionality of L044 and making it (IMHO) too simplistic and restrictive. I also think this will be a pretty quick fix -- note that L044 already handles recursion

[2021-11-27 17:18] jpy-git commented on #1984
Sounds good to me, we can include this and the UNION case in the list of extra cases in #810 to add to L044 then 👍

I'm going to make a rule regarding the use of nested WITH statements, but would still be good for L044 to handle this case if possible 😄

[2021-11-27 17:20] tunetheweb commented on #1984
Well won't block it if you want to, but personally I disagree. If we're going to have a rule saying best practice is not to output an unknown number of columns then don't see why best practice would allow them within a statement either 🤷‍♂️

Would be interested to see a real query to see where this would make sense in case I'm missing something.

[2021-11-27 17:24] jpy-git commented on #1984
@barrywhart could you possibly add a config option `ignore_wildcards` with options like `["none", "cte", "subquery", "both"]` to L044? It can default to the existing behaviour, but then allows for the best of both worlds for those that don't want any wildcards 😄

[2021-11-27 17:25] barrywhart commented on #1984
Sounds good!  I assigned this one to myself. I've been busy with some personal stuff (plus the Thanksgiving holiday), but hoping to resume work on SQLFluff in the next week or two. 💪🏽

@tunetheweb: It's not absolutely useful/necessary to support this, but remember that data scientists and analysts are not engineers. They will accept a certain set of restrictions, but if something is too restrictiv

[2021-11-27 17:27] barrywhart commented on #1984
@jpy-git: Sure, I'm open to that. As I noted above, the opinion I'm expressing is less "my own" than what I think analysts and data scientists would want. It's a tricky thing, trying to think like someone in another role, but also something I was doing in my day job for the past several years -- I led an ML Platform team, and we didn't get a lot of formal feedback, it was more like being a mission

[2021-11-27 17:28] tunetheweb commented on #1984
I get that, but we offer the option to disable rules so people can configure to their desire if the rules aren't ones they will enforce. Just concerned this will end up with a very complex rule. But maybe I'm overly worrying about a non-issue - let's see what you come up with and then then discuss further then.

[2021-11-27 17:42] jpy-git commented on #1984
@barrywhart definitely appreciate that, I agree the main demographic of SQL users leans towards the Data Science/Analyst side and can see them wanting this feature, so your points are sensible. I think engineers/developers are often going to be using ORMs rather than raw SQL a lot of the time so def worth not overfitting to us 😄

My main concern was one of complexity, but I think we're not yet at

[2021-11-27 17:44] tunetheweb commented on #1984
Don't even start me on those... 🤣

[2021-11-27 17:57] barrywhart commented on #1984
This fix will add very little complexity.

@NiallRees, can you provide some context here? IIRC, when we were initially adding L044, you noted that dbt has some "best practices" that explicitly **suggest** using `SELECT *` in each model file, I think? Sounds like it'd be worthwhile to find that documented somewhere so we can include a link in the rule docs.

[2021-11-27 17:58] pif commented on #1984
Hi all, it's great to see this level of engagement! Happy to provide more context.
First of all, the example in the issue was an attempt to create the minimal, reproducible example.

I stumbled upon that when optimising a complex long SQL file, that has multiple steps of preparing data. The 1st level CTEs are the main building blocks of the logic. Some of these 1st level CTEs have smaller multi-st

[2021-11-27 18:08] tunetheweb commented on #1984
Thanks for the additional context @pif — and most of all, for taking the positives out of above discussion as all too easy to take offence at discussions like this as a personal attack on your issue/code when that is definitely not the intention!

Even if you want rules for the majority of your code base, some of them just won't be enforcable for some queries. Hence why we provide [inline options

[2021-11-27 18:27] pif commented on #1984
@tunetheweb yeap, eventually excluded that rule from the file, once i verified manually that the code generates a finite # of columns.

Just thought I'd share it here, as the rule's source code does a good job recursing through the statements, just didn't handle that case.

[2021-11-28 12:51] barrywhart commented on #1984
I have a PR that fixes the issue: #1991. Overall, it was pretty straightforward -- just adding another case to check for and handle nested CTEs.

[2021-11-28 20:18] Sebastian-Trustpower opened #1995 "Restrict quoted alias"
Would be great have a new rule to restrict/identified quoted aliases for column names.

when a view or table is created using quotes it needs to be referenced exactly with the name it was created respecting upper and lower case. for example, if we create the table

`CREATE TABLE TEST AS SELECT 'aaaaa' AS "column1"`

we can query from this table using

`SELECT "column1" FROM TEST`

but the followin

[2021-11-28 20:31] jpy-git commented on #797
FYI the config option only approach was not appropriate on further investigation (see closed pr) but have a rule based approach will be more robust

[2021-11-28 20:58] barrywhart commented on #1808
Could a filter "language" like JSONPath be useful as way for rules to identify patterns they want to trigger on or take a closer look at? Even if it wouldn't handle everything, I think a more declarative, abstract way to do this would simplify rule writing significantly.

It would be cool to prototype this idea, rewriting a few rules of varying complexity, to see if we like the idea.

* https://me

[2021-11-29 00:18] #1767 closed

[2021-11-29 01:36] #654 closed

[2021-11-29 06:22] tkachenkomaria244 opened #1996 "Placeholder-templating documentation: incorrect example with config group name and param_regex"
For documentation about [placeholder-templating](https://docs.sqlfluff.com/en/stable/configuration.html#placeholder-templating) I suggest the following fixes/improvements:
1. Improvement: it would be usefull to add some statement about nessesity to turn on templating with `templater = placeholder` because it is not obvious for first-time users:
[code]
2. Fix issue: I've got an error (see below) wh

[2021-11-29 10:36] tkachenkomaria244 opened #1997 "Implement fix rule for comparison operators with space inside"
TSQL and Oracle (ANSI dialect) allow having comparison operators written with spaces inside (such as ">  =", "<    =").
Please add a possibility in SQLFluff to fix such cases and remove these whitespaces inside, i.e. to fix from "> =" to ">=".

## Dialect
TSQL, ANSI

[2021-11-29 12:21] jpy-git commented on #1997
@barrywhart
thinking about this PR further, do you think it would be worth introducing a `comparison_operator_reference` segment (like we have for `column_reference`) to better group these space separated comparison operators?

current:
![image](https://user-images.githubusercontent.com/80432516/143864617-7dff3647-018f-4b21-bd2b-803802ddad50.png)

suggested change would be something like:
[code]

[2021-11-29 12:34] jpy-git commented on #1997
Also given that this also applies to oracle it makes sense to move this to ansi

[2021-11-29 12:39] barrywhart commented on #1997
+1 for creating a "grouping" type for comparisons. I wouldn't use the term "reference", though, since that implies it's referring to some external thing such as a table or column. Perhaps `comparison_operator_segment` or `comparison_condition`?

[2021-11-29 14:12] jpy-git commented on #1997
`comparison_operator_segment` makes sense, i think the `comparison_condition` sounds like it implies that the whole expression is included 👍

[2021-11-29 14:17] Hoter11 opened #1998 "Pre-commit documentation with dbt is outdated"
## URL or Command Line Option with the issue being reported
*Additional dependencies* to install when using pre-commit and dbt in documentation:
https://docs.sqlfluff.com/en/stable/production.html#using-pre-commit

## Issue/Suggested Improvement
We tried SQLFluff (version 0.8.2) with pre-commit following the instructions in the documentation. However, we received the following error:
[code]

We ha

[2021-11-29 14:41] barrywhart opened #1999 "L045 should handle nested CTEs"
(I plan to work on this myself, so this is a very abbreviated issue description.)

L045 shares much of its implementation with L044. Both use `SelectCrawler`, and they were not originally designed to handle nested CTEs.

Reference these similar things for L044:
* Issue #1984
* PR #1991

## Expected Behaviour

## Observed Behaviour

## Steps to Reproduce

## Dialect

## Version
Include the output o

[2021-11-29 16:45] Dikootje opened #2000 "Snowflake create view statement results in parse error"
We define the column_list in all of our views and add comments to them. However when running sqlfluff with snowflake dialect we're getting a parse error.

https://docs.snowflake.com/en/sql-reference/sql/create-view.html -> search for column_list

## Expected Behaviour
Parsing the SQL should be no issue

## Observed Behaviour
Console output when running sqlfluff lint .\test.sql --dialect snowflake

[2021-11-29 22:50] jpy-git opened #2001 "Combination of L008 and L019 causes L008 triple count"
## Expected Behaviour
Running `sqlfluff lint` on
[code]
should raise one L008 (Commas should be followed by a single whitespace unless followed by a comment.) and one L019 (Found leading comma. Expected only trailing.).

## Observed Behaviour
L008 is raised 3 times:
![image](https://user-images.githubusercontent.com/80432516/143954771-8f495e53-ce7f-45af-9791-f32dc1c1f778.png)

## Steps to Reproduc

[2021-11-29 23:48] jpy-git commented on #2001
Identified the cause of this, will open a PR

[2021-11-30 09:23] jcarpenter12 commented on #829
@hdemers Did you find a way around this? This is the full error i get when running the lint command

"Unrecoverable failure in Jinja templating: no loader for
 this environment specified. Have you configured your variables?
https://docs.sqlfluff.com/en/latest/configuration.html"

I've tried configuring the jinja templater in the setup.cfg file as outlined on that documentation page but no luck.

[2021-11-30 10:18] tkachenkomaria244 commented on #1982
I can try to add MERGE into TSQL but need an advise about ANSI dialect.
@barrywhart is it needed to add MERGE to ANSi also?

[2021-11-30 11:36] tkachenkomaria244 opened #2006 "TSQL function CONVERT: function in second argument is parsed as data type segment"
Second argument in CONVERT function is parsed as identifier inside <data_type> segment.
Is it possible to make second argument in CONVERT parsed as usual expression/function segments?

(see block [L:  3, P:  3] in the parsing result below.
[code]
)

Previously resolved related issue:
[TSQL function CONVERT- reserved keyword is parsed as column identifier](https://github.com/sqlfluff/sqlfluff/issue

[2021-11-30 11:37] tkachenkomaria244 opened #2007 "TSQL function DATEADD: date type is parsed as column identifier"
TSQL dialect.
There is a bug in dateadd() function parsing. Date type in first argument is parsed as column identifier and this causes violations of L028/L027 during linting.
(see block [L:  3, P:  3] in the parsing result below, should be <date_part> instead of <column_reference>.
[code]
)

Previously resolved related issue:
[TSQL function DATEADD - reserved keyword is parsed as column identifier

[2021-11-30 11:38] tkachenkomaria244 commented on #2007
No sure, but may be it is connected with [TSQL function CONVERT: function in second argument is parsed as data type segment](https://github.com/sqlfluff/sqlfluff/issues/2006) somehow.

[2021-11-30 11:52] tkachenkomaria244 opened #2008 "TSQL: PRS error: compound operators are not parsed"
TSQL dialect.
Compound operators are not parsed.
[compound-operators-transact-sql](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/compound-operators-transact-sql?view=sql-server-ver15)
For example:
+= (Addition Assignment)
[add-equals-transact-sql](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/add-equals-transact-sql?view=sql-server-ver15)

[code]

## Observed Behaviou

[2021-11-30 12:05] tkachenkomaria244 opened #2009 "TSQL: PRS error: multiple GO statements are not parsed"
Please add possibility to have multiple GO statements parsed in the TSQL scripts.

## Expected Behaviour
no parsing errors

## Observed Behaviour
[code]
[code]

## Dialect
TSQL

## Version
Python 3.9
SQLFluff 0.8.2

[2021-11-30 12:26] tkachenkomaria244 opened #2010 "Rules L025 and L028 conflicts one with each other"
Rules L025 and L028 conflicts one with each other:
while L025 removes not used alias L028 requires alias name.
May be some parametrization is possible not not delete no used table alias name with L025?

[code]
## Expected Behaviour
Rule L025 doesn't remove alias name (`tbl`) (suggest to add parameter in the configuration).
Rule L028 require to reference column identifiers (to add 'tbl.` to column

[2021-11-30 13:02] jpy-git commented on #2010
@tkachenkomaria244 this isn't an issue, you've misread L028.

Referring to the documentation it is the *column* that must be fully qualified
![image](https://user-images.githubusercontent.com/80432516/144052057-91d7fa8f-f11b-48ae-9f06-204e44b8c199.png)

[2021-11-30 13:07] jpy-git commented on #2010
So if you lint your query, L028 was always raised

![image](https://user-images.githubusercontent.com/80432516/144052563-7656a047-13a7-4356-bb3c-452049207d51.png)

it's just that L028 isn't autofixable so after you ran `sqlfluff fix` it's still there, but not because it's been caused by any conflicts/bugs. It's doing what you specified in your config.

[2021-11-30 13:17] barrywhart commented on #1982
I think it's okay to add it to TSQL instead.

We can move it to ANSI later if it seems useful to do so.

[2021-11-30 17:04] WittierDinosaur opened #2012 "SQLFluff Fix doesn't always fix indentation on join syntax"
Join indentation isn't properly fixed when over-indented

## Expected Behaviour

[code]

should fix to

[code]

Though removing the newline between the ON and condition isn't necessarily relevant to this bug - this would do:

[code]

## Observed Behaviour

Fix doesn't change the indentation

## Steps to Reproduce

sqlfluff fix with default config

## Dialect

ansi

## Version
0.8.2

## Configurati

[2021-11-30 17:18] WittierDinosaur opened #2013 "L052 - Add option for newline semicolon just for multiline queries"
We use newline'd semicolons, but only for multiline queries. A config option for this would be great.

Eg.
[code]

But also:
[code]

[2021-11-30 17:30] WittierDinosaur opened #2014 "L052 - Same line semicolon snaps it onto comments"
## Expected Behaviour

sqlfluff fix
before:
[code]

after:
[code]

## Observed Behaviour

after:
[code]

## Steps to Reproduce

sqlfluff fix the before block

## Dialect

ansi

## Version
0.8.2

## Configuration
Default - but crucially L052 `semicolon_newline = False`

[2021-11-30 18:39] tkachenkomaria244 commented on #2010
@jpy-git thank you for reply.
In our repo we verify code on pre-commit, hook with fixes runs first and then - linting hook.
I suggest parameterize rule L025 to have possibility to avoid deletion of not-used table alias names.
As we further require adding it with linting rule L028.
It is annoying that existed alias is deleted automatically and after that it is required to be added once again manual

[2021-11-30 18:59] jpy-git commented on #2010
L025 doesn't need to be paramaterised, if you read the rule that's the only thing it does. So if you don't want the rule exclude it?
![image](https://user-images.githubusercontent.com/80432516/144109633-7dbbda31-0260-466a-95b3-426be3fa3ca1.png)

And again L028 is for **columns** not tables, so nothing to do with L025. You have enable the config option
[code]
that says you want the **column** fully

[2021-11-30 19:06] jpy-git commented on #2010
Sounds like you just want to remove the `single_table_references = qualified` lines that you've added to your config

[2021-11-30 19:15] jpy-git commented on #2014
Will take a look, I think I was just snapping to the last non-whitespace/newline so just need to update to also ignore comments

[2021-11-30 19:22] WittierDinosaur commented on #2014
I think there's an is_code property that should help

[2021-11-30 20:54] hdemers commented on #829
@jcarpenter12 No, I did not. It's been a while since I've looked into that issue. I'm not using sqlfluff because of that.

[2021-12-01 01:14] mariugul opened #2015 "Create/Drop Policy Support"
## Expected Behaviour
Should be able to create and drop policies using the PostgreSQL dialect.

`CREATE POLICY name ON table_name []...`
[Create Policy Documentation](https://www.postgresql.org/docs/10/sql-createpolicy.html)

`DROP POLICY [ IF EXISTS ] name ON table_name [ CASCADE | RESTRICT ]`
[Drop Policy Documentation](https://www.postgresql.org/docs/10/sql-droppolicy.html)

**Expected**:
`All

[2021-12-01 02:10] mariugul opened #2016 "Grant Produces Unparsable Section on Multiple Grants"
## Expected Behaviour
Granting priviliges works on single tables or roles but it does not work when you add multiple. For example granting like the below SQL produces "unparsable" output.

[code]

While granting like this does not:

[code]

Additionally, a table or role name with a hyphen produces an PostgreSQL error, but the linter is not able to detect this error. It's produced as "unparsable".

[2021-12-01 02:33] mariugul opened #2017 "Alter Database Unparsable Section"
## Expected Behaviour
Using the postgres [ALTER DATABASE](https://www.postgresql.org/docs/14/sql-alterdatabase.html) should work.

## Observed Behaviour
[code]

## Steps to Reproduce

**alter.sql**:

[code]

[code]

## Dialect
`postgres`

## Version
`sqlfluff, version 0.8.2`
`Python 3.8.10`
`pip 20.0.2`

## Configuration
`--dialtect postgres`

[2021-12-01 02:47] mariugul opened #2018 "Anonymous Function Unparsable Section"
## Expected Behaviour
Using anonymous DO functions does not work. Unparsable section is outputed. These functions are pgsql functions and should be treated just like CREATE FUNCTION where the language is pgsql.

[Documentation](https://www.postgresql.org/docs/14/sql-do.html)

## Observed Behaviour
[code]
## Steps to Reproduce
**do.sql**:
[code]

`sqlfluff lint --dialect postgres do.sql `

## Diale

[2021-12-01 14:07] jpy-git commented on #2013
Where would you propose adding the newline for something like

[code]

[2021-12-01 16:52] #2010 closed

[2021-12-01 17:40] #2014 closed

[2021-12-01 17:40] WittierDinosaur commented on #2013
Under it. It'd just be useful for the multiline gang if there was a config option for snapping inline to single line queries only

[2021-12-01 17:48] jpy-git commented on #2013
makes sense, just checking 😄 Do you know if we have a method of reliably determining the which lines belong to the current query? My first thought would be find the parent StatementSegment and check if it spans multiple lines, but not sure if that also applies to tsql?

[2021-12-01 21:41] jpy-git commented on #2013
@WittierDinosaur got this working well now 👍 On my point above, looking at the grammar I think we should be fine to use the parent StatementSegment for all dialects including tsql. tsql basically just wraps the optionally wraps StatementSegment in begin/end blocks but that doesn't impact this logic.

In terms of config I propose we change the current `semicolon_newline` option to `multiline_newlin

[2021-12-01 23:08] KulykDmytro commented on #1968
sorry for misleading you - there is a typo in query
should be like this at L10:
[code]

[2021-12-01 23:14] #1968 closed

[2021-12-01 23:17] jpy-git commented on #1968
@KulykDmytro No worries, thanks for updating! 😄

[2021-12-02 05:28] aa0910 commented on #1952
Hi @tunetheweb thank you for looking into this. Checking in to see if there is a solution to this issue.

[2021-12-02 10:05] jpy-git commented on #1886
postgres part of this has been done

[2021-12-02 10:10] #2015 closed

[2021-12-02 13:30] jpers36 commented on #1804
This was fixed by #1955 .

[2021-12-02 18:59] jpy-git commented on #1716
got a solution for this, will create a PR:

![image](https://user-images.githubusercontent.com/80432516/144485782-1d045d15-1331-4967-ade0-89c4e85a1ddb.png)

(If you look at the syntax highlighting it looks like vscode can't handle these comment blocks 😛 )

[2021-12-02 19:51] #1886 closed

[2021-12-02 22:37] skykasko opened #2029 "T-SQL: Semi-colon unparseable for various statements"
## Expected Behaviour

SQLFluff should parse [USE][] statements in T-SQL that end with a semicolon.

[USE]: https://docs.microsoft.com/en-us/sql/t-sql/language-elements/use-transact-sql

## Observed Behaviour

[code]

## Steps to Reproduce

Create `use.sql`, taken from the [example][] in the Microsoft documentation:

[code]

Run `sqlfluff lint --dialect tsql use.sql`.

Note that no parsing error i

[2021-12-02 23:06] #1998 closed

[2021-12-02 23:27] #1984 closed

[2021-12-03 01:15] jpy-git commented on #2029
Think this is a bigger issue as something like `DROP SCHEMA sdfa;` also won't parse at the semi-colons. I imagine there are a lot more, especially for grammar inherited from ANSI.

The semi-colon implementation is a bit weird for T-SQL.

For every other dialect the statement terminator `;` is on the same parse depth as the statement segment itself:
![image](https://user-images.githubusercontent.co

[2021-12-03 01:18] jpy-git commented on #2029
Initial thoughts are the BatchSegment T-SQL needs to be treated more similarly to FileSegment in ANSI.

![image](https://user-images.githubusercontent.com/80432516/144528139-d63293ea-8c9f-48c4-b8f8-b49f99689de0.png)
And then remove the random references to DelimiterSegment in the various T-SQL grammars in favour of this one.

[2021-12-03 01:21] jpy-git commented on #2029
I also discussed this recently in #1979 (https://github.com/sqlfluff/sqlfluff/pull/1979#issuecomment-979546395) as making the T-SQL semi-colon logic more consistent would allow me to better refine L052 as well 👍

[2021-12-03 13:20] jamiet-msm opened #2030 "Incorrect reporting of "Alias is never used in SELECT statement""
## Expected Behaviour
sqlfluff shouldn't raise any issues. Its complaining that alias `t` isn't used when in fact it is, its referenced in `TO_JSON_STRING()`

It is valid code
![image](https://user-images.githubusercontent.com/79862277/144639463-5fc8ea87-47d3-4a70-bf29-509a70319a73.png)

## Observed Behaviour

![image](https://user-images.githubusercontent.com/79862277/144609131-7fbccc88-b3aa-4740

[2021-12-03 14:01] skykasko commented on #2029
Thanks for the explanation. It sounds like it may be related to this SQLite bug, which also involves a semicolon at an unexpected depth: <https://github.com/sqlfluff/sqlfluff/issues/1846#issuecomment-963077607>.

[2021-12-03 14:09] lidalei commented on #1793
In BigQuery, "Table name identifiers have additional syntax to support dashes (-) when referenced in FROM and TABLE clauses." [ref](https://cloud.google.com/bigquery/docs/reference/standard-sql/lexical#identifiers).

However, SQLFluff (version 0.8.2, Python 3.8.10) recognizes `-` as an operator. For example,
[code]
will cause two issues:
[code]
A workaround is to quote table names with backtick ``

[2021-12-03 21:49] #1716 closed

[2021-12-03 22:08] jpers36 opened #2032 "Add SQL as a SQLFluff repository language"
Github lists the repository's languages as 99.9% Python, 0.1% Dockerfile.  Is there a way we can get SQL represented?

[2021-12-03 22:14] jpers36 commented on #2029
Since semicolons are optional in TSQL, using Delimited() at the BatchSegment/FileSegment level is a no-go.  At least, I couldn't figure out a way for it to work, so I had to rewrite the dialect from the top level to get any sort of functionality out of it.  This did force me to add optional Delimiter refs at the end of statements. I believe this to be the only solution, but I admit the actual impl

[2021-12-03 22:24] jpy-git commented on #2029
@jpers36 makes sense, maybe it'd be worth exploring a new grammar segment: OptionallyDelimited

Basically any number of the segment optionally with a delimiter between them (sort of a mix between AnyNumberOf and Delimited)?
[code]
allowing
[code]

Worth considering if it's possible 😄

[2021-12-03 22:50] jpy-git commented on #2032
@jpers36 It's an interesting one. The repo language ratio is handled by GitHub using the Linguist Library rather than manually by us. The Linguist repo (https://github.com/github/linguist#my-repository-is-detected-as-the-wrong-language) has some advice on debugging if the language ratio isn't as expected. So that'd be a good place to start if you were interested in investigating? 😄

I guess the ac

[2021-12-03 23:34] derickl opened #2033 "Postgres: SQLFluff failing to parse JSON expressions with #> and #>> operators"
## Expected Behaviour
SQLFluff should parse JSON expressions that use the following operators `#>`, `#>>` in Postgres

## Observed Behaviour

[code]

[code]

## Steps to Reproduce

1. Create sample.sql using the following query
[code]

2. sqlfluff lint --dialect postgres sample.sql
3. sqlfluff parse --dialect postgres -n sample.sql

## Dialect
`postgres`

## Version
`sqlfluff, version 0.8.2 and ma

[2021-12-04 00:23] jpy-git commented on #2032
Not sure if Linguist uses anything more complicated, but a naive check would indicate we should expect ~5% SQL files

![image](https://user-images.githubusercontent.com/80432516/144688821-53139818-e924-4a4c-a003-3bf99a36b152.png)

[2021-12-04 00:39] jpy-git commented on #2032
Investigated a bit further. Linguist has a list of vendored file paths that are not excluded from the statistics and one of those is test/fixtures.

Including this constraint seems to explain why the sql isn't being included
![image](https://user-images.githubusercontent.com/80432516/144689443-b31c1473-fc2c-40e9-82b5-4a94c019d141.png)

Linguist does provide a mechanism to override this default beh

[2021-12-04 00:58] andres-lowrie commented on #1274
don't want to hijack this thread but I think this is the correct place for these comments given the linked issues.

It would be helpful to be able to pass in an argument to the cli to have it override the various directories it looks for config files for something like

[code]

The use-case that I have is that I want to store the config file in a repository and the then run linting in a CI/CD pipe

[2021-12-04 01:14] jpy-git commented on #2033
@derickl Good breakdown on this issue 😄

I can see that the hash comment is set in the ansi dialect (which postgres inherits) but we should overwrite this behaviour for postgres as it doesn't have hash comments. I can also see that the json operators have previously been added to postgres so I'm hoping once we remove the hash comment from postgres this should start parsing.
![image](https://user-i

[2021-12-04 14:07] tunetheweb commented on #2030
That's an interesting bit of SQL there. It's raw to pass a whole result set to a function, which is why I think rule L025 doesn't cater for it.

This works for example and doesn't throw a linting error:

[code]

I'm presuming this is a cut down example, and there's a reason you don't do just that, but could you expand upon it a little more so we can decide if this is something L025 should support

[2021-12-04 14:30] tunetheweb commented on #2012
This is interesting. It doesn't consider this over indented. If you change it to this:

[code]

It will fix it to your original SQL.

Basically it considers the below equally valid indentation:

[code]

[2021-12-04 14:42] #2016 closed

[2021-12-04 16:00] tunetheweb commented on #1952
Sorry I don’t know dbt at all so not looking at this but have classified it for others that know it more to see.

[2021-12-04 19:22] #2033 closed

[2021-12-04 19:53] #2013 closed

[2021-12-05 02:06] tekumara commented on #1970
I mostly care about the SQL for models, not macros, so I've added _macros/_ to _.sqlfluffignore_, which shows a red warning:
[code]

It's quite a prominent message and I thought it was an error at first. Perhaps the warning could be more subtle, or is there some other way to handle this?

[2021-12-05 07:29] bdelamotte commented on #1771
Thank you @barrywhart  for looking into this.

[2021-12-05 14:49] barrywhart commented on #1771
🙏🏽😊

[2021-12-05 16:21] dflss opened #2036 "PostgreSQL: ARRAY not parsed"
## Expected Behaviour
I would expect statements with `ARRAY` to be parsed by sqlfluff, as they are supported by PostgreSQL ([docs](https://www.postgresql.org/docs/9.1/arrays.html)).

## Observed Behaviour
[code]
[code]

## Steps to Reproduce
Create a sql file with the following query:
[code]
## Dialect
PostgreSQL

## Version
sqlfluff, version 0.8.2
Python 3.7.6

[2021-12-05 17:12] tkachenkomaria244 commented on #1982
test code: `with source_data as
				(
					select
						cc_id
						, cc_name
                                                , cc_description

					from
						DW.sch1.tbl1
					where
						e_date_to is null
						and l_id >= dd
						and l_id <= dd
				)
				merge
					DM.sch1.tbl2 dst
				using
					source_data src
				on
					src.cc_id = dst.cc_id
				when
					matched
						then
							update

[2021-12-05 17:27] KulykDmytro commented on #2036
same for `hive` dialect

[2021-12-05 17:44] jpy-git commented on #2030
@tunetheweb this is valid syntax (https://roboquery.com/app/syntax-to-json-string-function-bigquery)

TO_JSON_STRING takes in a result set and returns each row in a combined JSON format.

Parsing the query shows that `t` is being interpreted as a column reference (which is correct for most functions) rather than a table reference. Hence why it triggers L025.
![image](https://user-images.githubuser

[2021-12-05 18:47] derickl opened #2039 "Postgres: Add support for materialized views"
## Expected Behaviour
SQLFluff should be able to parse CREATE, DROP and ALTER MATERIALIZED VIEW statements.
## Observed Behaviour
[code]

[code]
## Steps to Reproduce

1. Create `sample.sql` using the following query
[code]
2. sqlfluff lint --dialect postgres sample.sql
3. sqlfluff parse --dialect postgres -n sample.sql

## Dialect
`postgres`

## Version
`sqlfluff, version 0.8.2 and master`
`Pytho

[2021-12-05 20:18] KulykDmytro opened #2042 "Add `disable-noqa` option to ignore inline noqa"
There is a demand to run ignoring all inline `noqa` and config-level ignores
This will be very usefull to assess project whether code is compatible with newer sqlfluff versions/features (which not worked earlier and led to rule-ignore):
- cli option: `--disable-noqa`
- config option: `disable-noqa = True`

[2021-12-05 20:28] #2001 closed

[2021-12-05 22:32] jpers36 opened #2045 "TSQL: INSERT INTO SELECT functionality"
https://docs.microsoft.com/en-us/sql/t-sql/statements/insert-transact-sql?view=sql-server-ver15

## Expected Behaviour

The following code parses:
[code]

## Observed Behaviour
Code does not parse.

[2021-12-06 03:21] tekumara opened #2046 "dbt - L009: Files must end with a single trailing newline."
## Expected Behaviour
No error

## Observed Behaviour
[code]

## Steps to Reproduce
A dbt model that calls a macro, eg:
[code]

## Dialect
snowflake

## Version
sqlfluff, version 0.8.2
python 3.9

## Configuration
[code]

[2021-12-06 03:59] tekumara opened #2047 "Applying rule L043 threw an Exception"
## Expected Behaviour
No exception

## Observed Behaviour
[code]

## Steps to Reproduce
_models/test.sql_
[code]
## Dialect

## Version
sqlfluff, version 0.8.2
python 3.9

## Configuration

Default out-of-the-box config.

## Notes

This exception isn't thrown by sqlfluff 0.8.1

[2021-12-06 04:25] jdub opened #2048 "dbt v1.0.0"
Sorry, very boring enhancement request… [dbt v1.0.0](https://github.com/dbt-labs/dbt-core/releases/tag/v1.0.0) is out, but sqlfluff-templater-dbt v0.8.2 is not compatible with it.

[code]

[2021-12-06 04:32] tekumara opened #2049 "L034 triggers in queries without wildcards"
## Expected Behaviour
The sql has no wildcards so I wasn't expecting L034

## Observed Behaviour
[code]

## Steps to Reproduce
_test.sql_
[code]
## Dialect

## Version
sqlfluff, version 0.8.2
python 3.9

## Configuration

Default out-of-the-box config.

[2021-12-06 04:43] tekumara opened #2050 "L036 triggers with select targets each on their own line"
## Expected Behaviour
No L036

## Observed Behaviour
[code]

## Steps to Reproduce
_test.sql_
[code]
## Dialect

## Version
sqlfluff, version 0.8.2
python 3.9

## Configuration

Default out-of-the-box config.

[2021-12-06 05:12] tekumara opened #2051 "sqlfluff fix with dbt templater replaces aliases with sources"
## Expected Behaviour

No replacement of aliases with the source, because the source database and schema changes between environments.

## Observed Behaviour
[code]
is replaced with
[code]

However `mydb_dev` is the development database.

## Steps to Reproduce

## Dialect
snowflake

## Version
sqlfluff, version 0.8.2
python 3.9

## Configuration

[code]

[2021-12-06 08:51] jamiet-msm commented on #2030
To expand a little on what @jpy-git said... simply we have a need to supply a resultset as a JSON document to a downstream consumer of that data (the downstream consumer is a Google Cloud Dataflow job - not that that is significant).

[2021-12-06 09:54] jpy-git commented on #2050
@tekumara this is not a bug. "Select targets should be on a new line unless there is only one select target." includes the first select target.

i.e.
[code]

(https://docs.sqlfluff.com/en/stable/rules.html#:~:text=class%20Rule_L036(code%2C%20description%2C%20**kwargs))``

[2021-12-06 09:54] #2050 closed

[2021-12-06 10:00] jpy-git commented on #2049
@tekumara this is not a bug. The rule states "Use wildcards then simple targets before calculations and aggregates in select statements." This means when ordering your columns in this query, simple targets (1, t.id) need to come before the aggregate functions (MIN). (If your query had a wildcard it would come at the start)

i.e.
[code]

(https://docs.sqlfluff.com/en/stable/rules.html#:~:text=class

[2021-12-06 10:00] #2049 closed

[2021-12-06 10:06] jpy-git commented on #2051
@tekumara what lint was being raised by the original query? Helps narrow things down 😄

[2021-12-06 10:22] jpy-git commented on #2047
can confirm that I also see this error, I'll take a look this evening

reformatted to only raise the L043 exception
[code]

[2021-12-06 13:30] #1541 closed

[2021-12-06 13:30] thomasaarholt opened #2053 "Make dbt templater do less"
When I run sqlfluff on my dbt models (currently using dbt 1.0, see #2052) I get a rather large number of warnings relating to other disabled models that have nothing to do with my current model. It would be nice if we used dbt commands that restricted itself to the dbt model that is specified.

[2021-12-06 13:38] thomasaarholt commented on #2053
A quick print statement [around this line](https://github.com/sqlfluff/sqlfluff/blob/86b553d49bab5fa4a0bb6fd775802b308b7a9bdd/plugins/sqlfluff-templater-dbt/sqlfluff_templater_dbt/templater.py#L256) revealed that the culprit is `self.dbt_manifest`. When called (through `self.dbt_manifest.nodes.items()`, it spends a really long time finding all the models in the project.

Perhaps I can adjust my ow

[2021-12-06 14:11] jpy-git commented on #2053
@thomasaarholt
Can you provide additional information around:
- SQLFluff version
- Python version
- Your sqlfluff config
- what command you are running and the output
- Can you be more specific on 'really long time'?
- confirm that you see the same issue even when using dbt <1.0.0 ?

Need to determine if this is a bug or an enhancement 😄

[2021-12-06 15:35] thomasaarholt commented on #2053
Certainly! Apologies for the rather vague measurement of time! Linting takes about 10 times (50 sec) longer than `dbt run` with partial parsing enabled (5 sec).

I can confirm that the amount of time taken by sqlfluff with dbt 0.20.1 is long too (85s), but without loads of warnings.

- sqlfluff, version 0.8.2
- dbt 1.0
- python 3.9

[code]

The following highlights what I was referring to in the p

[2021-12-06 15:37] thomasaarholt commented on #2053
I think what is happening is that sqlfluff is forcing dbt to do a full parse. The big number of warnings output during the sqlfluff call can be ignored, since the same warnings occur with `dbt --no-partial-parse run -m my_model`.

Does sqlfluff _require_ a full parse? If not, it would be great to avoid it.

[2021-12-06 16:16] pwildenhain opened #2055 "Critical error on L043 when there is a coalesce in inside the case statement"
## Expected Behaviour

No critical errors

## Observed Behaviour

`test.sql`
[code]

[code]

## Dialect

ANSI

## Version
Include the output of `sqlfluff --version` along with your Python version

[code]

## Configuration

None

[2021-12-06 16:18] Gregory108 commented on #1978
@jpy-git Cool! Thanks!

[2021-12-06 16:35] jpy-git commented on #2053
Awesome, thanks for elaborating! 😄

Those warnings seem to only occur for dbt 1.0.0, but as you said I think that's separate from the partial parsing.

Looking at the docs it seems like partial parsing is a form of caching as it stores previously parsed files until they are changed (https://docs.getdbt.com/reference/parsing). I'm not a big dbt user myself so can't say for certain if using that wou

[2021-12-06 16:40] jpy-git commented on #2055
@pwildenhain closing as it's a duplicate of #2047. I'm going to take a look at these later today 👍

[2021-12-06 16:40] #2055 closed

[2021-12-06 16:40] jpy-git commented on #2047
Additional test case courtesy of @pwildenhain

[code]

[2021-12-06 17:27] awoehrl opened #2056 "Columns get shuffled and deleted"
## Expected Behaviour
Fixing problems in a jinja-sql dbt file

[code]

## Observed Behaviour
- columns are shuffled
- columns are removed
- dbt macro is extracted and added to the end of the file

[code]

## Steps to Reproduce
Using a sqlfluff fix on the first sql statement on top should trigger some of the problems.

## Dialect
bigquery, dbt

## Version
0.8.2

## Configuration
[code]

[2021-12-06 20:22] #2042 closed

[2021-12-06 20:34] #2047 closed

[2021-12-06 21:52] jpy-git commented on #2048
@jdub given that dbt 1.0.0 is a new major release, the changes to it's API and hence the required changes to sqlfluff-templater-dbt are non-trivial.

To set expectations, we're targeting a new release in the next week and we are likely to pin the dbt dependency at `<1.0.0` for that release whilst we work through the necessary updates to ensure compatibility. But the new dbt version is on the maint

[2021-12-06 21:53] jdub commented on #2048
Yay, thank you!

[2021-12-06 23:00] barrywhart commented on #2056
I'm trying to reproduce the issue, and I'm getting an error about an undefined macro `get_marketing_channel`. Do I need any other configuration or plugins installed in order to produce the issue?
[code]

[2021-12-06 23:44] #2045 closed

[2021-12-07 00:35] jpy-git opened #2062 "Simple API: parse command"
So the purpose of the Simple API is to provide a clear way for users to interact with sqlfluff via code.

In the case of the `lint` and `fix` commands the action of the functions are pretty well defined, however, for the `parse` command we return a ParsedString named tuple.
There's nothing strictly wrong with this per se, but was just wondering if there was a discussion to be had around whether th

[2021-12-07 00:36] jpy-git commented on #2062
@tunetheweb @barrywhart this was one of the things that would be good to clarify before we consider any 1.0.0 release?

[2021-12-07 01:49] danfrankj commented on #1839
@tunetheweb Any hints on where to get started if I wanted to try creating a PR for this?

[2021-12-07 05:41] tank-pooja commented on #1871
@jacopofar , thank you for adding support for a different variable placeholder.

@barrywhart , But, I am still facing issues as mentioned above, regarding whitespace.

[2021-12-07 07:24] tekumara commented on #2046
Yep that's all.

Here's the tail of `sqlfluff parse`:
[code]

Here's the tail of the macro:
[code]

If I remove the newline before `{% endmacro %}` it produces two newlines in the parse, and still errors.

[2021-12-07 08:08] tekumara commented on #2051
[code]

[2021-12-07 08:11] tekumara commented on #2049
Ah gotcha, thanks for the explanation. I read the subject of the sentence as being wildcards, not order of columns in general.

[2021-12-07 08:28] awoehrl commented on #2056
Ah yes, this is a custom macro. I didn't exactly think about how SQLFluff does the linting, but of course it makes sense that it has to unpack everything first.

The example above is a custom sql built on top of the Snowplow DBT package (https://hub.getdbt.com/snowplow/snowplow_web/latest/)

## Custom macro

[code]

## Linter output

[code]

[2021-12-07 08:47] jacopofar commented on #1871
I can reproduce it, I thought the templater was adding whitespaces but I don't see any, and the automated tests are checking for an exact match, so I don't know where's the issue originating.

[2021-12-07 10:02] jpy-git commented on #2046
Makes sense thanks! This is a known issue with the dbt templater.

In Jinja, the template lines are included as placeholders in the parse tree so it's possible to account for those
e.g.
![image](https://user-images.githubusercontent.com/80432516/145007044-7760e2cc-458f-46de-8468-fe1eac22a9f0.png)

However, as you can see from your parse tree, certain dbt templates don't show up in the parse tree.

[2021-12-07 10:09] alanmcruickshank commented on #2053
No discussion of partial parsing yet to my knowledge, but it does sound like we should address this after sorting out dbt 1.0.0.

[2021-12-07 10:21] jpy-git commented on #2051
This makes sense thanks.

So L031 forbids the use of aliases in FROM/JOIN clauses
i.e. instead of
[code]
it suggests you should use
[code]
and provides an autofix to correct this.

What's happening in this case is the same but the table name is a templated variable. So in sqlfluff we initially substitute in the templated variables, evaluate the rules, and then substitute back the templates and we

[2021-12-07 10:26] jpy-git commented on #2051
I've tested this with Jinja and can confirm I see the same thing so this is a general templating issue.

MRE:
*test.sql*
[code]
*.sqlfluff*
[code]

Run `sqlfluff fix test.sql`

![Screen-Recording-2021-12-07-at-10 09 53](https://user-images.githubusercontent.com/80432516/145012009-0586f91b-2bcc-4569-a61d-7210d1f46b6e.gif)

[2021-12-07 10:31] jpy-git commented on #2048
@alanmcruickshank this is the issue for introducing dbt 1.0.0 compatibility to SQLFluff. I've closed #2052 so you can handle this, but there was some initial discussion in there that may be helpful (e.g. adding the relevant tests).  Thanks! 😄

[2021-12-07 10:59] jpy-git commented on #1970
Is the `macros/my_macro.sql` file definitely in the project?

Might be worth searching in your project to see whereabouts you are referencing that file to help diagnose:
If you're on Linux/MacOS you can do `grep -rnw . -e 'my_macro'` to search the directory for files containing the word my_macro.

[2021-12-07 11:04] jpy-git commented on #2056
seems like #1952 is a similar issue.

[2021-12-07 12:50] ChristopherEhmann commented on #1952
Having the same issue with sqlfluff==0.8.2, sqlfluff-templater-dbt==0.8.2 and dbt==0.19.0. Adding `-- noqa` does not resolve this issue.

[2021-12-07 14:23] csimonsson opened #2063 "DBT Plugin: Reference dbt profiles.yml from home directory"
Would it be possible to configure the dbt plugin to read the profile.yml file using the relative path from the home directory to enable all users share the same .sqlfluff file?

Or maybe there is a better way to configure sqlfluff for a team with mixed OS setup, both macos and windows?

[code]

[2021-12-07 14:53] andrewcassidy commented on #829
+1 to this feature and I'm getting this error

[2021-12-07 21:25] tekumara commented on #1970
Yep it's there.

It's being referenced in my _models/_ files.

I also get the error if I try and parse on the file individually:
[code]

[2021-12-07 21:46] ianepreston opened #2064 "Unexpected alias resolution in subqueries - T-SQL"
I noticed this issue when formatting a giant internal query and then comparing its results to the original query led to the formatted query breaking because an alias had been incorrectly replaced with the wrong table. The basic issue as near as I can tell was that the body of the main query aliased a table we'll call table1 as 'a' and then within a subquery a different table we'll call table2 was

[2021-12-07 21:47] tekumara opened #2065 "fix reports different errors from lint when using dbt macros"
## Expected Behaviour

lint reports the same errors as fix, ie: the missing L022

## Observed Behaviour

[code]

## Steps to Reproduce

Create a dbt project with

_macros/generate_nextruns.sql_
[code]

Use the macro in _models/nextruns_invoice.sql_

[code]

## Dialect

snowflake

## Version
sqlfluff, version 0.8.2
installed version: 0.21.1

## Configuration
[code]

[2021-12-07 23:26] jpy-git opened #2066 "Parse tree: Add placeholders to mark template substitutions"
When using Jinja templating the various templating constructs (e.g. if, for loops, etc) are stored in the parse tree as `[META] placeholder`
![image](https://user-images.githubusercontent.com/80432516/145119072-36a5cce9-73d9-49e5-b847-e529c66aa24a.png)

This is very useful when it comes to developing rules as it allows for for us to account for the existence of these in our logic and prevents unin

[2021-12-07 23:57] jpy-git commented on #2066
@barrywhart I was looking through old PRs to see if we've had other occurences of the above issue and came across your PR #1907. The issue you describe and fix within it sounds very similar to these other DBT tags that are being filtered out in the pre-processing step. Would you be able to take a look at this and check whether that fix can be extended to these other tags please? 😄

[2021-12-08 01:07] pwildenhain commented on #811
New (tentative) core rule list:

- L001 - L006
- L008 - L010
- L012 - L026
- L028
- L030
- L033
- L038 - L041
- L045 - L050
- L052
- L054

Tentative "explicit is better than implicit" list
- L015: DISTINCT used with parentheses.
- L021: Ambiguous use of DISTINCT in select statement with GROUP BY.
- L033: UNION [DISTINCT|ALL] is preferred over just UNION.
- L037: Ambiguous ORDER BY
- L044: Query pr

[2021-12-08 01:14] barrywhart commented on #2066
@jpy-git: I'll add it to my list. I've been pretty distracted with job interviews the past month or so, but that's starting to settle down, and I expect I can work on the project next week. (In fact, I was just working today to set up a better development environment -- my new notebook is an M1 Mac, which has some compatibility issues with various dbt dependencies.)

My (very vague, possibly wrong

[2021-12-08 02:54] tekumara opened #2068 "dbt templater does not work with dbt 1.0.0"
## Expected Behaviour

## Observed Behaviour
[code]
## Steps to Reproduce

## Dialect

## Version
sqlfluff 0.8.2
dbt 1.0.0

## Configuration
[code]

[2021-12-08 02:56] tekumara commented on #2068
I think it is now `DEFAULT_PROFILES_DIR` in dbt 1.0.0

[2021-12-08 03:46] barrywhart commented on #2056
@awoehrl: I'm trying to reproduce this issue, but I think there's some missing configuration. I get the following error (see below). Can you tell me what I'm missing, or perhaps (this would be better) provide a zip file with a complete example for reproducing the problem, including all config files, macros, sources, etc.?

[code]

[2021-12-08 10:29] jpy-git commented on #2068
@tekumara closing as it's a duplicate of #2048

[2021-12-08 10:29] #2068 closed

[2021-12-08 12:51] jpy-git commented on #2066
@barrywhart awesome thanks, it's not urgent and likely best to wait until dbt 1.0.0 is working first 😄 But, as you said, with dbt becoming more popular it would be good to get a proper fix for this so just pulling together the relevant info 👍

[2021-12-08 13:10] barrywhart commented on #2046
See this [comment](https://github.com/sqlfluff/sqlfluff/issues/2066#issuecomment-988800699) on #2066 for more details on what's happening. TL;DR: This is actually not a dbt templater issue; addressing issues like this systematically will require a parser change.

[2021-12-08 13:37] barrywhart commented on #2063
From SQLFluff Slack:

Christian Simonson  1 hour ago

Thus, no code change required. PR #2070 updates the documentation to mention that the `profiles_dir` setting is optional.

[2021-12-08 13:41] #2063 closed

[2021-12-08 13:59] jpy-git commented on #2066
So the issues I had in [L050](https://github.com/sqlfluff/sqlfluff/pull/1840#issuecomment-962682902) with that `remove_templated_errors` method is because we would have a parse tree with multiple leading newlines but no reference to a `{{ config(materialized='view') }}` somewhere in there. So the rule would suggest deleting those newline segments.
However, since `{{ config(materialized='view') }}`

[2021-12-08 14:15] jpy-git commented on #2066
My main concern with approach 1 is we're potentially throwing away a lot of changes where we could fix
e.g. L050: we could have 100 newlines and 1 `{{ config(materialized='view') }}` halfway down and we would have to throw away that fix, whereas if we had a placeholder we can just keep the rule logic as `is not whitespace` to find the first non-whitespace (including the config sub).

If we were to

[2021-12-08 15:00] barrywhart commented on #2066
Makes sense. If all goes well, I can start looking at this in the next week or so.

I think the parser change will be easy, the main question is whether it will raise any gotchas. 🤞🏽

[2021-12-08 19:14] derickl opened #2071 "PostgreSQL - Alter Table parsing failure"
## Expected Behaviour

SQLFluff should be able to parse this query
[code]
## Observed Behaviour
[code]

## Steps to Reproduce
1. Save this query to sample.sql

[code]
2. sqlfluff lint --dialect postgres sample.sql
## Dialect
`postgres`

## Version
`0.8.2`, `master`

## Configuration
`N/A - Default`

[2021-12-08 20:07] derickl commented on #2039
Resolved by #2041

[2021-12-08 20:07] #2039 closed

[2021-12-08 20:09] #2071 closed

[2021-12-08 20:26] kayman-mk commented on #1816
The same holds true for the `create table` statement.

[2021-12-09 09:37] tkachenkomaria244 opened #2075 "TSQL: PRS error: multiple statements sql code containing WITH-UPDATE statement"
SQL file with multiple statements inside gives parsing error if one of the statements is "with_compound_statement" with "update_statement" inside.
Although separate "with_compound_statement" with "update_statement" inside is parsed correctly.

## Expected Behaviour
no parsing errors

## Observed Behaviour
SQL file with multiple sql statements is not parsed if one of the statements is contains  ("W

[2021-12-09 13:05] jpy-git commented on #1996
@tkachenkomaria244 Thanks for spotting this, I think you're correct here.

looking in the code `param_regex` should be under:
`[sqlfluff:templater:placeholder]`

and the reason why variant 2 fails but 3 works is because in a config file the quotes are interpreted as literal, so your compiled regex was like r"'\$\{(?P<param_name>[\w_]+)\}'" (with the single quotes included).

Agree the docs are mis

[2021-12-09 14:46] #1996 closed

[2021-12-09 19:04] jpy-git commented on #1274
@andres-lowrie what you describe has already been done and is in the main branch and will be included in the next release this weekend (See #1986 and #2061). I'm also just adding the Simple API option now 👍

[2021-12-09 21:50] #1274 closed

[2021-12-09 22:53] tunetheweb commented on #2062
It’s an interesting question. In general we try to keep the internals away from the Simple API so it has a stable API not subject to most interns changes.

However parse by definition needs to return the parse tree. Well it doesn’t it could just return true or false, but that would really make it very limited. Then again maybe that should be all the Simple API covers?

Have you any suggestions wha

[2021-12-09 23:00] barrywhart commented on #2062
The parser tests use a YAML version of the parse tree, and YAML is basically the same as JSON. I agree we should be returning fairly simple data rather than SQLFluff-specific types. (I didn't know about `parse()`, and now I'm a little bit horrified. 😱)

[2021-12-09 23:12] jpy-git commented on #2062
Yeah I think the JSON suggestion sounds best to me too. As @barrywhart said, I know we have the code to convert the parse tree to yaml and there's also the stringify method as well which encodes the tree for the CLI output. So I think encoding the parse tree into JSON via a similar jsonify method would be ideal. We may already have something similar so I'll check, but if not I don't think it would

[2021-12-09 23:14] tunetheweb commented on #2062
I think we do have a JSON output format from the command line parse option.

[2021-12-09 23:20] jpy-git commented on #2062
I believe the JSON from the command line is only the linting results rather than the parse tree.

[2021-12-09 23:30] tunetheweb commented on #2062
Also available for parse: https://docs.sqlfluff.com/en/stable/cli.html#sqlfluff-parse

[2021-12-09 23:30] jpy-git commented on #2062
Nice, we have this `to_records` method on the tree which I'm pretty sure is perfect right? 😄
![image](https://user-images.githubusercontent.com/80432516/145491784-a17e7c6f-d208-407e-b7e8-08b167a2536d.png)

[2021-12-09 23:31] tunetheweb commented on #2062
Nice!

[2021-12-09 23:33] jpy-git commented on #2062
Will create the PR 👍

[2021-12-10 08:57] sti0 opened #2084 "Exclude Exasol UDF script content from linting"
Currently the Exasol UDF [script content ](https://github.com/sqlfluff/sqlfluff/blob/055fe1ccbd3009b057197fefc75184d7fd0ea1ce/src/sqlfluff/dialects/dialect_exasol.py#L3493) will be linted and the rules are applied to this code.
This doesn't make much sense because the code could be Python, Java, Lua .... and doesn't meet the requirements to be linted correctly.

![image](https://user-images.github

[2021-12-10 10:35] #1982 closed

[2021-12-10 12:48] #2062 closed

[2021-12-10 14:59] #2084 closed

[2021-12-10 15:38] jpers36 opened #2086 "TSQL: Comment parsing issues"
I'm guessing this is related to #2027

## Expected Behaviour

Comments don't cause parsing issues.

## Observed Behaviour

Comments can throw parsing issues.

[code]

Throws:  Found unparsable section: '/**\n**/\n\nselect 1'

[code]

Throws:  Couldn't find closing bracket for opening bracket.

[code]

Throws: Fatal. Unable to lex characters: 0

## Steps to Reproduce

Run parser on above snippets

[2021-12-10 18:45] Dikootje commented on #2000
I had a go at it myself. I'm not programmer by any means. But what I've found so far:

When running sqlfluff parse it seems create view statements are parsed using the create_view_statement from the ansi dialect instead of create_statement specified in the snowflake dialect. Is there anyway to test this by adding some @snowflake.delete decorator removing the type = "create_statement" within the sn

[2021-12-10 22:45] jpy-git commented on #2086
@jpers36 Thanks for flagging this!

couple thoughts from initial tests:
- Still works for correctly for non-tsql. Therefore we can rule out the `regex` package causing any issues.
- can confirm that the following variations work in tsql:
[code]
or
[code]
(same for all those special characters)
- What is actually causing the issue is the closing brackets cause the pattern to not match:
i.e.
[code]

[2021-12-10 22:51] jpy-git commented on #2086
I don't have access to T-SQL atm so could you just verify that a comment like `/* comment **/` is fine for me?

I expect it is, but useful to confirm 😄

[2021-12-10 23:00] jpers36 commented on #2086
Yes, that's a perfectly acceptable comment.

[2021-12-10 23:01] jpy-git commented on #2086
awesome thanks will pull together a fix 👍

[2021-12-11 00:08] derickl opened #2089 "Postgres: Add support for ALTER FUNCTION statements"
## Expected Behaviour
SQLFluff should be able to parse `ALTER FUNCTION` statements

## Observed Behaviour
[code]

## Steps to Reproduce
1. Create `sample.sql` using the following query
[code]
2. sqlfluff lint --dialect postgres -n sample.sql
3. sqlfluff parse --dialect postgres -n sample.sql

## Dialect
`postgres`

## Version
`sqlfluff, version 0.8.2 and master`
`Python 3.8.22`

## Configuration
[

[2021-12-11 06:02] tkachenkomaria244 commented on #2075
this issues is fixed within #2044

[2021-12-11 06:02] #2075 closed

[2021-12-11 09:22] #2048 closed

[2021-12-11 09:52] MikaelCall opened #2091 "Support postgres DROP PROCEDURE IF EXISTS"
## Expected Behaviour

SQLFluff should be able to parse `DROP PROCEDURE IF EXISTS` statements

## Observed Behaviour

[code]

## Steps to Reproduce

[code]

## Dialect

`postgres`

## Version

[code]

## Configuration

[code]

[2021-12-11 09:56] MikaelCall opened #2092 "Add support for CREATE OR REPLACE PROCEDURE statements"
## Expected Behaviour

SQLFluff should be able to parse `CREATE OR REPLACE PROCEDURE` statements

## Observed Behaviour

[code]

## Steps to Reproduce

[code]

## Dialect

`postgres`

## Version

[code]

## Configuration

[code]

[2021-12-11 10:00] MikaelCall opened #2093 "Support postgress functionn array arguments for user defined type"
## Expected Behaviour

SQLFluff should be able to parse a function/procedure argument that is an array of a user defined type.

## Observed Behaviour

[code]

## Steps to Reproduce

[code]

## Dialect

`postgres`

## Version

[code]

## Configuration

[code]

[2021-12-11 12:05] #2089 closed

[2021-12-11 12:56] WittierDinosaur commented on #2012
@tunetheweb Do you consider this a bug? I think at the very least it's inconsistent, and I'm of a mind that it is a bug (as the user select an indentation amount for their config - I don't think it should ignore it in this case)

[2021-12-11 13:00] tunetheweb commented on #2012
Potentially. It's depends on whether you consider "align on table" as zero indentation or incorrect indentation of 10.

I'd be curious as to HOW SQLFluff knows to indent to the table before I answer the question definitively. And maybe there should be a config option (perhaps the default one!) to just use the user space indentation and no other.

[2021-12-11 19:15] derickl opened #2094 "Postgres: Add support for ALTER VIEW statement"
## Expected Behaviour
SQLFluff should be able to parse `ALTER VIEW` statements

## Observed Behaviour
[code]

## Steps to Reproduce
1. Create `sample.sql` using the following query
[code]
2. sqlfluff lint --dialect postgres -n sample.sql
3. sqlfluff parse --dialect postgres -n sample.sql

## Dialect
`postgres`

## Version
`sqlfluff, version 0.8.2 and master`
`Python 3.8.22`

## Configuration
[code

[2021-12-11 20:51] #2086 closed

[2021-12-12 17:37] #2094 closed

[2021-12-12 21:15] jpy-git opened #2102 "Docker: dbt templater plug-in"
As part of release 0.9.0 we are releasing an Official Docker image on DockerHub for SQLFluff.

Initially this will not include the dbt plugin and it's dependencies, therefore, this issue is to be used to facilitate discussions around how to best implement a Docker image including dbt capabilities.

Initial Discussions can be found in #2097.

Main points of discussion are around do we:
a) Have a si

[2021-12-12 21:16] jpy-git commented on #2102
@tunetheweb @barrywhart @alanmcruickshank feel free to add any further thoughts on the dbt templater docker image here

[2021-12-12 21:26] tunetheweb commented on #2102
I think there’s a genuine question as to whether we need a Docket image including the dbt templater at all?

The primary usage of the SQLFluff Docker image is for those that don’t want the the hassle of dealing with a Python environment, as I understand it. For example a T-SQL developer that doesn’t use Python at all, but wants to lint or fix their SQL.

Dbt is a Python package as I understand it.

[2021-12-12 21:45] chwiese opened #2103 "Make Ref()s easy to follow in an IDE by using classes as arguments"
Currently `Ref()` uses a string argument, which makes it somewhat cumbersome to find the class that is being referenced. Using search functionality in the IDE will also find all other Ref()s for that Segment, which can be quite numerous.
If `Ref()` used the actual class object as the argument, then one could use the Go to Definition functionality of the IDE to jump straight to the class being refe

[2021-12-12 21:55] tunetheweb opened #2104 "Wiki suggestions"
This issue is open for people to suggest changes to [our GitHub wiki](https://github.com/sqlfluff/sqlfluff/wiki).

The Wiki is intended to compliment for the usual [CONTRIBUTING.md](https://github.com/sqlfluff/sqlfluff/blob/main/CONTRIBUTING.md) file, the various READMEs in the source code, the comments in the code, and our [official documentation website](https://docs.sqlfluff.com/en/stable/).

T

[2021-12-12 21:56] chwiese opened #2105 "Split dialect files into multiple smaller files"
Currently the bigger dialect files have over 3000 lines of code, which is starting to create issues:

1. It is hard to understand how the Segments fit together. E.g. currently there is a sort of catch-all CREATE statement Segment in the Snowflake dialect, but also a separate CREATE CLONE statement Segment, while some objects have dedicated Segments. That is not obvious at first glance.
2. There do

[2021-12-12 22:06] jpy-git commented on #2102
@tunetheweb I agree the subset of people using SQLFluff + dbt via docker is likely pretty small.

I also think your point on building their own image is valid as well. The purpose of the SQLFluff image atm is to provide a blackbox implementation of SQLFluff for users to use without having to worry about setting up python or to use within containerized setups (e.g. Kubernetes/Fargate).

If someone

[2021-12-12 22:51] jpy-git commented on #2104
First suggestion is we should be using tox for these test cases 😄
![image](https://user-images.githubusercontent.com/80432516/145732606-ace57f83-a74f-4e8b-8ae7-2dfba00fa995.png)
so:
[code]
[code]
[code]
(`-v` verbose already included in tox)

[2021-12-12 23:19] tunetheweb commented on #2104
Go for it!

[2021-12-13 12:19] BorePlusPlus commented on #1927
I am hitting the same issue. It only seems to be impacting some sources, but works for most of them.
I am using sqlfluff 0.8.2 and jinja templater.

[2021-12-13 14:41] barrywhart opened #2108 "Placeholder templater should optionally supply default values for missing parameters"
Capturing some thoughts from a PR (#2107) that we decided was too specific an implementation, but could potentially be re-implemented in a more generic way.

I've fixed some issues as pointed out by @jpy-git, and added some basic support for Postgres data types.

The author of the PR, @danicc097, described his use case:

[code]

==

Here's one high-level thought on how we might design this generic

[2021-12-13 14:57] jpy-git commented on #2108
@barrywhart I think the first idea is the most appropriate as its pretty simple for the user to setup and configure + doesn't require them to change anything about the way they write their sql. I think if they had this enabled and a variable wasn't given one of the specified prefixes then it should still raise the variable not found error rather than trying any fancy substitution assumption to avo

[2021-12-13 16:06] kayman-mk opened #2109 "postgres: Implement explicit datatypes"
## Expected Behaviour
SqlFluff should post an error message if the `create table` statement has a column definition using `datetime` as data type. The Postgres dialect has no such data type.

## Observed Behaviour
No error message shown.

## Steps to Reproduce
Use the following Sql:
[code]

## Dialect
Postgres

## Version
- SqlFluff 0.8.2
- Python 3.9.7

## Configuration
No config at all.

[2021-12-13 16:26] jpy-git commented on #2109
@kayman-mk referring [here](https://github.com/sqlfluff/sqlfluff/blob/8ccb55943d539278840296bcca9a6aad9baec670/src/sqlfluff/dialects/dialect_ansi.py#L299) in `dialect_ansi.py` there are no specific datatypes implemented for any of SQLFluff.

so even something like this will still parse:
![image](https://user-images.githubusercontent.com/80432516/145849595-b55260de-72fc-4b66-a269-48a05f43a73e.png)

[2021-12-13 16:29] jpy-git commented on #2109
Here's a complete list of data types that will need adding: https://www.postgresql.org/docs/14/datatype.html

[2021-12-13 18:58] mcannamela opened #2110 "Delimited identifiers in spark3 do not parse"
Spark SQL uses backticks to quote identifiers (and calls them "delimited"), but Sqlfluff's spark3 dialect fails to parse these (example below).

I believe this is a [straightforward fix](https://github.com/mcannamela/sqlfluff/commit/7d93e3db07d33f546761eff206807317d8674402#diff-d5586dfc7929eaa1d7a0f25e90a12e0e672d6eda58eaed0bd0c7f5e230118f26R123) for most cases (it will still fail if you attempt t

[2021-12-13 19:42] kayman-mk commented on #2109
Oh yes, we should. The ticket is a reminder for me. Had no time to implement it ad hoc.

[2021-12-13 20:52] grawlinson opened #2112 "AUR package: Tests failing in 0.9.0"
Hi! I'm the package maintainer for a sqlfluff [AUR](https://aur.archlinux.org/packages/sqlfluff/) package and the package is currently failing tests due to some changes between 0.8.2 and 0.9.0.

Issue 1:

[code]

This may be because all metadata is now in `setup.cfg` instead of `setup.py`. My workaround was to patch `conftest.py` with `sed -i "s/metadata\.version(\"sqlfluff\")/\"0.9.0\"/" src/sqlf

[2021-12-13 21:23] jpy-git commented on #2112
Tests are passing fine and I've verified that both the package via pip and the docker image are working fine.

I'm not aware of this being officially supported, but seems like a specific issue to your AUR package.

[2021-12-13 22:00] gnilrets opened #2113 "dbt.exceptions.InvalidConnectionException: Runtime Error on 0.9.0"
I'm trying to [upgrade my project](https://github.com/gnilrets/dbt-container-skeleton) to dbt 1.0.0 and SQLFluff 0.9.0.  I can `dbt run` just fine, but when I run SQLFluff, I get a connection error.

Here's the full stacktrace of attempting to lint my project using SQLFluff:
[code]

## Version
[code]

[code]

output of dbt debug:
[code]

## Configuration
[code]

[2021-12-13 22:27] jpy-git commented on #2112
CLOSING: As mentioned above this is not an officially supported package and is not an issue for the main repo. `setup.cfg` is a standard approach for metadata. You should also consider reviewing the changes to the package dependencies in your PKGBUILD to make sure you're not missing any.

[2021-12-13 22:27] #2112 closed

[2021-12-13 22:29] jpy-git commented on #2109
Nice, you can pick this up when you get time 😄

[2021-12-13 22:33] jpy-git commented on #2113
Might be worth testing this outside of the docker environment to confirm if this is a wider issue?

[2021-12-13 23:51] kochalex commented on #2113
I'm getting this one on both OSX and Linux - but it's specific to certain dbt models - I'm not yet sure what is causing it. Like @gnilrets, dbt on it's own seems to work fine.  I'm using poetry on both for managing dependency versions.

One data point: I was able to upgrade my project to sqlfluff 0.9.0 with dbt 0.2.1 and everything appears to work, but then updating to dbt-redshift 1.0 is what cau

[2021-12-13 23:56] gnilrets commented on #2113
Oh!  Mine is only failing when it's trying to [build a model](https://github.com/gnilrets/dbt-container-skeleton/blob/main/dbt/models/marts/core/dim_dates.sql) that uses the dbt date spine macro.  If I remove that macro and insert some dummy data, SQLFluff works fine.

[2021-12-14 07:01] MikaelCall commented on #2091
I've upgraded to 0.9.0 and this still does not parse.

[2021-12-14 07:01] MikaelCall commented on #2092
I've upgraded to 0.9.0 and this still does not parse.

[2021-12-14 07:03] MikaelCall commented on #2093
I've upgraded to 0.9.0 and this still does not parse.

[2021-12-14 10:47] BorePlusPlus commented on #2113
I get the same result when I use [run_query](https://docs.getdbt.com/reference/dbt-jinja-functions/run_query) macro. I understand it needs to be able to connect to the database to be able to fulfil it, but I see no reason why it shouldn't be able to.

Seems to have the same root case - date_spine also [depends on database access](https://github.com/dbt-labs/dbt-utils/blob/73a65562bf3d9b31a1eca0b27

[2021-12-14 11:26] BorePlusPlus commented on #1927
Saw that new version (0.9.0) was released and I tested with it. I tried both jinja and dbt templaters and I still hit the same issue.
I'm using dbt 1.0.0

[2021-12-14 15:17] BorePlusPlus commented on #1927
OK - narrowed it down a bit. In my particular case, the things break when I use a source called `account`. It seems to work otherwise.

[2021-12-14 15:29] Alex1802 commented on #829
+1 same error

[2021-12-14 22:28] LProcopi15 opened #2116 "Rule_L054 Incorrectly Firing"
## Expected Behaviour
Fail if order by or group by mixes implicit and explicit reference.

Documentation for reference:
class Rule_L054(code, description, **kwargs)
Inconsistent column references in GROUP BY/ORDER BY clauses.

Anti-pattern
A mix of implicit and explicit column references are used in a GROUP BY clause.
[code]

## Observed Behaviour
Failing on files where both column references are

[2021-12-14 22:37] jpy-git commented on #2116
@LProcopi15 ahh yes, can see you have:
`order by start_date` which is explicit
and
`group by 1, 2` which is implicit

This is intentional behaviour, the idea of the rule is to be consistent both within and across GROUP BY and ORDER BY clauses.
![image](https://user-images.githubusercontent.com/80432516/146090138-95f39db5-d6cf-4605-9bfd-d38949ac2513.png)
(see [this](https://github.com/sqlfluff/sqlf

[2021-12-14 22:37] jpy-git commented on #2116
So you should either change the order by to positional, or the group by to names to be consistent.

[2021-12-14 22:40] jpy-git commented on #2116
This is how the rule worked in 0.8.2 btw, but I notice you're using snowflake and there was some dodgy grammar naming that was causing the rule to not fully work that we fixed in 0.9.0 (https://github.com/sqlfluff/sqlfluff/pull/2069). So that explains why you're only seeing this raised now 👍

[2021-12-14 22:41] jpy-git commented on #2116
here's the link to where we originally decided on flagging the mix between GROUP BY/ORDER BY: https://github.com/sqlfluff/sqlfluff/pull/1917#discussion_r751650416

[2021-12-15 00:47] blake-enyart commented on #2113
I'm also getting this issue in a model that uses `run_query` macro packaged in another macro that is called by the main model that is causing the issue.

I am using sqlfluff in my pre-commit hooks and was able to get rid of the error with the below configuration:
[code]

When I allow dbt-snowflake to be the latest or upgrade to sqlfluff 0.9.0 and sqlfluff-templater-dbt 0.9.0 then I get a similar s

[2021-12-15 03:43] 808sAndBR opened #2117 "With dbt templater, `sqlfluff fix <file>.sql` will overwrite lines if rule LO34 is triggered"
## Expected Behaviour

`sqlfluff fix <file>.sql` should fix any formatting issues in place.

## Observed Behaviour

`sqlfluff fix <file>.sql` will drop line and overwrite them with the code that is present in the macro, if rule LO34 is triggered and a macro exists in the code. This can occur when the macro contains parenthesis, if there is a `*` on a line other than the first one, or assumably oth

[2021-12-15 04:22] 808sAndBR commented on #2117
Also if helpful, here are the debug logs I get out from passing the build command -vvvv

[code]

In this part it almost seems like its mixing up the templated section and the literal-only section maybe? Still super new to digging into this 🤔

[code]

[2021-12-15 15:23] kunaall21 opened #2118 ""--noqa: PRS" does not work when using sqlfluff lint"
The docs mentioned that a -- noqa: PRS should prevent / ignore PRS failures. But this is not the case. I am trying to ignore the parsing error when defining a struct in bigquery as the closing bracket is on the another line.

## Expected Behaviour
If noqa is set, it should respect this hint as mentioned in the docs.

## Observed Behaviour
L:   5 | P:  17 |  PRS | Couldn't find closing bracket for

[2021-12-15 17:03] #2110 closed

[2021-12-15 18:03] KulykDmytro opened #2119 "Add support for arrays and structs in DECLARE...DEFAULT (bigquery dialect)"
Bigquery dialect currently does not support arrays and structs values in `DEFAULT` section of `DECLARE`
causing `PRS` error
[code]
lining result
[code]
parsing result
[code]

[2021-12-15 18:10] barrywhart commented on #1808
I had a chat with @jpy-git about this. I had looked at L009 and L050 this morning and sketched out the API for a class that could potentially simplify rule development. The inspiration is, rule development often involves lots of iterating and checking various properties of segments, their children, their slices, etc. Can we design a class that in most cases lets you express these common operations

[2021-12-15 22:33] jpy-git commented on #2116
closing as this is correct behaviour

[2021-12-15 22:33] #2116 closed

[2021-12-15 23:48] jpy-git commented on #2103
So after discussing with @barrywhart earlier, I remembered why the grammar uses string references to classes rather than the classes themselves.

The reason is SQL grammar can be recursive in nature. Consider the WITH statement and the SELECT statement. It's totally possible to have something like:
[code]
That is to say, WITH grammar depends on SELECT grammar, which depends on WITH grammar, which

[2021-12-16 00:14] jpy-git commented on #906
@nolanbconaway so I tried this again now and don't see the issue anymore on 0.9.0:
![image](https://user-images.githubusercontent.com/80432516/146284294-0162191e-f2c0-4b6f-87f1-e0265bed151d.png)
Could you confirm if you still see this?

@barrywhart don't think this is related to the other newline issue I mentioned earlier. So will keep investigating that and update on #797.

[2021-12-16 00:21] nolanbconaway commented on #906
Lemme give it a go!

[2021-12-16 01:47] swanderz commented on #1997
TSQL user confirming that as part of migrating to 0.9.0, we now get rule L006 failures for instances of `!=` and `>=` when there's no space between

[code]

[code]

[2021-12-16 02:11] nolanbconaway commented on #906
Looks OK to me!

[code]

[2021-12-16 02:12] #906 closed

[2021-12-16 16:02] jpy-git commented on #2009
This issue also exists for semi-colon separated segments in non-tsql dialects:
This is perfectly valid SQL. It's just that some of the statements are empty.
![image](https://user-images.githubusercontent.com/80432516/146405750-8d0ab2b5-9285-4a04-88ab-a4b842f8a9b4.png)

Same idea holds for these multiple go statements, just with batch rather than statement.

Fix for this is fairly simple so will pu

[2021-12-16 20:15] aa0910 commented on #2117
@808sAndBR Hi and thank you for flagging the root cause. My team identified the issues #1952 and #1953 and we were wondering if there is a workaround this in dbt / sqlfluff that you found yet? Really appreciate it. This is the only thing that is holding us up in deploying sqlfluff in our team.

[2021-12-16 20:16] jpy-git commented on #2103
Closing due to reasons described above, best to remain with our current consistent approach.

[2021-12-16 20:16] #2103 closed

[2021-12-16 20:18] jpy-git commented on #2066
@barrywhart should we close this issue given that we aren't taking this approach going forwards?

[2021-12-16 21:07] barrywhart commented on #2066
@jpy-git: I'm happy to close it.  I wonder, though, do you want to create a similar issue expressed in terms of the new API-based work on issue #1808? Because it definitely seems like something we want to handle or improve on, only the *design* of how to do it has changed.

[2021-12-16 21:10] #2009 closed

[2021-12-16 21:10] jpy-git commented on #2066
Yeah let me create a new issue rephrasing the template detection issue in terms of the API-based approach and will close this one after 👍

[2021-12-16 21:28] barrywhart commented on #1808
Prototype PR: #2126

[2021-12-16 21:38] jpy-git commented on #797
@barrywhart @NiallRees update on where I've got with this rule:

1. Initially tried the config option approach for writing files, which worked fine (#1990). However, the issue with that is that we only write files if we fix at least one error, meaning that if a file had no issues other than inconsistent or wrong line endings we wouldn't re-export it and therefore the newlines don't get fixed. That

[2021-12-16 21:54] barrywhart commented on #797
I'm good with this decision -- why jump through tricky hoops to solve a problem that already has a solution. In principle, I could imagine revisiting this someday, but we have more important challenges for the foreseeable future.

[2021-12-16 23:41] 808sAndBR commented on #2117
@aa0910 I havent figured out a work around or fix yet, but I also have not had a chance to dig in much. We are similarly pretty much ready to use this once we get it sorted out and i'm super excited for this tool so potentially trying to block off some time to dig in more soon if no one with more domain knowledge of the package chimes in with potential causes or work arounds :)

If you figure anyt

[2021-12-17 01:35] samLozier commented on #2113
I'm also getting this issue after trying to upgrade.

[2021-12-17 01:54] nek555 commented on #797
I appreciate that a large effort was made to try to fix this and it's
too bad that this could not be done even with the large effort.

It leaves me with a less than ideal situation.  I work in an environment
where I must use python on Windows, and I'm typically editing with
Notepad++ and checking code in manually (not using CI/CD in our
workstreams).  I'm well aware of dos2unix, but it's not avail

[2021-12-17 04:35] LProcopi15 commented on #2116
@jpy-git ahh thank you! I didn't realize the rule applied to window functions as well! Thanks for letting me know!

[2021-12-17 11:46] #2119 closed

[2021-12-17 11:58] jpy-git commented on #797
@nek555 even if you don't want to use the linked pre-commit hook or dos2unix, you could very easily make a script to do your newline conversions in Python?

It would literally just be reading in the file with normalised unix-newlines and writing it out again:
[code]
(you can wrap this in a CLI or whatever you need and would work fine on Windows)

I think even if we could do the rule based approach

[2021-12-17 11:58] #797 closed

[2021-12-17 13:35] korczis opened #2129 "Example how to setup config to load jinja context from yaml file"
I have yaml file with jinja context and I would like to use it for jinja context.

Is this possible?

Can you show how the config file should like?

From the source code I studied it seems it is not possible now. If not then can this feature be implemented?

[2021-12-17 13:44] aa0910 commented on #2117
@808sAndBR thank you! Yes we are in the same situation. Will get back if we find something and would love to know if you find a solution/ workaround as well. Appreciate it.

[2021-12-17 15:40] jpy-git commented on #2129
So we don't offer yaml as a config file option (https://docs.sqlfluff.com/en/stable/configuration.html). Doesn't make sense to make some custom solution to just load a jinja context from yaml. If this was to be implemented it should be possible to just pass a yaml file into the CLI/API via the config argument (i.e. only if explicitly specified not part of default loading).

Don't think it would be

[2021-12-17 16:03] korczis commented on #2129
I have sql fluff integrated into custom CLI tool, something like DBT but on
steroids.

It includes much more options and SQL files are generated automatically.
There is many variables dependending on CLI switches passed to our tool.

We run sqlfluff lint programmatically from the tool and it is only piece of
SW the user needs to install.

We also render other jinja templates with these context par

[2021-12-17 16:10] korczis commented on #2129
Also dbt, which is optional for our tool, allows the variables and macros
to be stored in separate files.

It is ugly to have the variables for dbt in some standalone file and for
jinja in .sqlfluff config file.

On Fri 17. 12. 2021 at 16:40, Joseph Young ***@***.***> wrote:

--
<warning>
This e-mail is intended for the named recipient(s). It may contain
privileged and/or confidential information.

[2021-12-17 16:11] tunetheweb commented on #2129
The Jinja templates in SQLFluff are intended to be minimal examples to convert the templated "non-SQL" into real SQL that the sQL parser can understand and lint, so the raw templated SQL can be checked to follow linting rules.

They are not intended to be the full range of all the various options that can be passed in (which is presumably why Jinja is being used - to allow different options to be

[2021-12-17 16:11] jpy-git commented on #2129
yeah no worries, just helps to have context.

As I said originally not hard to implement, more about consistency. If we were to offer the yaml file option it would be consistent with the structure of .sqlfluff, just in yaml format.

[2021-12-17 16:12] jpy-git commented on #2129
I'm happy to pick this up given the recent work on custom config paths

[2021-12-17 16:14] tunetheweb commented on #2129
Well can we agree the format here first? Because if it's expected to be in a general, or dbt-specific format (or such like), and you implement it in a sqlfluff.ini style format and that doesn't suite the OP then you'll have wasted your time.

[2021-12-17 16:18] jpy-git commented on #2129
sure, if it matches the sqlfluff.ini format then it's super easy to load in and supply directly to the config and allows for people to supply their whole config (including jinja context) via yaml if they so choose.

[2021-12-17 16:32] jpy-git commented on #2129
yaml format of default config:
[code]

[2021-12-17 16:33] jpy-git commented on #2129
@korczis can you confirm that the above format is fine for you?

[2021-12-17 16:37] nek555 commented on #797
thanks for those great suggestions.  it looks like there are a number of
decent work-arounds to mitigate this issue.
cheers,
Norbert

On 12/17/2021 6:58 AM, Joseph Young wrote:

[2021-12-17 18:31] jpy-git commented on #1645
Hi @CyberShadow, If you're still interested in being able to mock these dbt macros via Jinja, @Tonkonozhenko implemented the ability to do this sort of thing in #1976.

You can find the relevant details on library templating [here](https://docs.sqlfluff.com/en/stable/configuration.html#library-templating)

Basically you can just define a module called `utils` and have a mock function inside called

[2021-12-17 18:31] #1645 closed

[2021-12-17 18:37] jpy-git commented on #984
@tunetheweb given that the API has been switched to JSON output now I think this can be closed?

[2021-12-17 18:43] jpy-git commented on #713
@tjwaterman99 looks like this was likely fixed by @alanmcruickshank a while ago, would you be able to test this again with the latest sqlfluff to confirm that it's no longer an issue?

[2021-12-17 19:20] korczis commented on #2129
Maybe I expressed badly, so let me rephrase.

I have some parameters which are used in my SQL files. I use these parameters at multiple places as jinja params. In my case for example in some generated documentation, examples and as part of [airflow DAGS](https://airflow.apache.org/)

I would like to use these simple parameters also for sqlfluff without need to keep it at multiple places.

For that

[2021-12-17 19:25] korczis commented on #2129
Btw, this is my hacky solution at the moment.

[code]

[2021-12-17 19:42] korczis commented on #2129
And this is my loader which allows my to use `!include` in my YAML files, split the one huge file (actually flat structure, but may different params) into smaller maintainable parts (files).

[code]

[2021-12-17 19:46] korczis commented on #2129
The ultimate thing will be to be able to specify sqlfluff in yaml format with support for !include macro.

That will allow provide most flexible way of configuration talking about splitting into smaller parts, reuse them, do the merging and overrides on more granular level...

[2021-12-17 20:10] barrywhart commented on #2129
@jpy-git, @tunetheweb: Note that SQLFluff already supports config files in [several files](https://docs.sqlfluff.com/en/stable/configuration.html#configuration):
* setup.cfg
* tox.ini
* pep8.ini
* .sqlfluff
* pyproject.toml

[2021-12-17 20:22] jpy-git commented on #2129
@barrywhart Yes but those are all for full configs, which is what I suggested for yaml? The yaml file here is only for Jinja context rather than general.

@korczis can create his pr if he wants

[2021-12-17 21:32] jpy-git commented on #613
@NiallRees @barrywhart just had a look at this and yes L011 on it's own does not consider capitalisation. `AS` is a keyword so makes sense that it should be controlled by the capitalisation policy of L010. If L010 is also on then it works fine since that is the rule that cares about keyword capitalisation.

Obviously we could link L011 to the capitalisation policy of L010 so that it works on it's

[2021-12-17 21:37] jpy-git commented on #613
Personally I'm of the opinion that L010 should be solely responsible for the capitalisation, but in the interest of providing a balanced argument:

I think if we insisted on having sensible AS capitalisation in L011 we can just say "find the first keyword in the parent stack and match it's capitalisation, and if it's not upper or lower then just use upper as default".

So we'd get things like:
[co

[2021-12-18 11:17] juhoautio opened #2134 "Result of `fix` changes on subsequent runs (fix is non-deterministic)"
## Expected Behaviour

Running `sqlfluff fix my_query.sql -f` modifies query format – but running it again on the same file should not make any further changes.

## Observed Behaviour

Summary: The result changes considerably also on the 2nd run. On further runs the result keeps changing with a minor whitespace change.

The behavior is demonstrated in this branch: https://github.com/juhoautio/sqlf

[2021-12-18 11:53] jpy-git commented on #2134
@juhoautio Which dialect is this query for, I get a parsing error on your query at line 46 if I just use ANSI (default)? You should see it if you run `python -m sqlfluff lint my_query.sql`

![image](https://user-images.githubusercontent.com/80432516/146639930-a7675d38-40ca-4983-af27-a8c82e09e458.png)

Not sure if relevant to the actual issue but would be good to clear this up incase it it causing

[2021-12-18 12:06] jpy-git commented on #2134
Actually yes, that repeating whitespace issue is because that line doesn't parse.
If i change the query to something that parses in the ANSI dialect then you don't get the repeating whitespace additions.
![image](https://user-images.githubusercontent.com/80432516/146640349-65867f7c-766a-4ac1-941a-29eda7ee4d37.png)

Rules can't properly handle unparseable sections since they won't follow the same l

[2021-12-18 12:17] juhoautio commented on #2134
This query is primarily for AWS Athena but also works on Presto. Neither of those seem to be supported dialects.

But as I wrote about my expectation:

Is this a valid assumption?

[2021-12-18 12:23] jpy-git commented on #2134
for the "line is too long" lints that get raised twice they are from these two lines:
![image](https://user-images.githubusercontent.com/80432516/146640486-b04789e3-e898-4a71-8a49-741d9a84bba3.png)

Minimum reproducible example:
[code]

Seems like there's multiple fixes (namely L006 and L031) being applied to these two segments that push the line length over the threshold for L016, which doesn't g

[2021-12-18 12:29] jpy-git commented on #2134
@juhoautio well dialects are important since the structure of the sql varies depending on them. ANSI doesn't know how to interpret that specific line, so might as well be a random line of python in there. As explained [here](https://github.com/sqlfluff/sqlfluff/issues/2134#issuecomment-997193220) we should probably not be trying to apply fixes to a section we can't parse.

[2021-12-18 12:31] juhoautio commented on #2134
Sure, I understand that by specifying a dialect it will be possible to do more. But my comment was about how to deal with parsing issues. And as you said:

That's exactly what I was expecting :)

[2021-12-18 12:45] jpy-git commented on #2134
Cool makes sense, I think it would be a sensible approach and hopefully not too tough to implement 👍

As for the line length being highlighted on the second run, I'm pretty sure it's due to an issue (#1304 and #1668 N.B. not the same lint error but related conceptually) with fixes messing up the parse tree. In theory L016 would be picked up in subsequent fix loops and so fixed in a single `sqlfluf

[2021-12-18 12:52] juhoautio commented on #2134
From the supported dialects I think Hive should match best my case example query. Sorry but I'm not sure how to check what counts as valid Hive syntax. How do you determine that in SQLFluff?

With hive I can execute:
[code]

So in that sense Hive at least supports it.

This small example shows that sqlfluff fails to parse a query like that with hive dialect:
[code]

On the other hand this doesn't

[2021-12-18 13:01] jpy-git commented on #2134
yeah so since there are no available parsers for the various SQL dialects we also have to make those as part of this project in order to be able to do any linting/fixing on top of that, so we rely on people contributing to help fill out the complete syntax.

Looks like that syntax hasn't been added to the hive dialect yet so if you were interested in that you should make a separate issue for that

[2021-12-18 13:04] tunetheweb commented on #984
Well either way we've got no feedback so happy to close.

[2021-12-18 13:04] #984 closed

[2021-12-18 13:10] juhoautio commented on #2134
Yes, so the hive dialect deserves its own bug issue about the INTERVAL parsing. I'm not going to work on that missing hive syntax right now, although I hope to contribute in the future. To me it would be more important to add dedicated dialects for Athena/Presto, because using hive dialect as a workaround for those would be a hack.

I brought up the Hive INTERVAL issue here because Athena/Presto s

[2021-12-18 13:15] juhoautio commented on #2134
A general question inspired by black: if black's auto-formatting produces a different result on the 2nd run, black gives up and fails with an error, leaving the problematic file untouched. Is sqlfluff supposed to also work like that? If not, why? In this case it doesn't seem so. I'm talking about an isolated check on top of everything that would be done by SQLFluff itself so that user doesn't need

[2021-12-18 13:24] tunetheweb commented on #2134
I can understand the desire to have that, and it makes sense in many ways. However I have had issues in the past where two runs the settled and so it would be a shame to not have got the benefit of those fixes because it didn’t settled after just one run.

But the downside of that is if it never settles (like in your case) then it’s pointless continuing to change. The problem is finding those case

[2021-12-18 13:37] jpy-git commented on #2134
2 things:

@juhoautio

I don't believe Black remembers what it did in a previous run of `black <file>` (please provide link to relevant code if you feel otherwise), it just get's it right the first time.

@tunetheweb
we're not proposing throwing away any changes. We are proposing a) don't apply fixes to unparsable sections and b) fix the parse tree between iterations so that we catch these extra e

[2021-12-18 13:42] juhoautio commented on #2134
(Thanks a lot for the comments!)

@tunetheweb:

Yes. So it can be left to the user to choose what to do. In the usual case I could imagine doing this:
- Run fix on the file in some kind of forced mode that modifies the file anyway (if this doesn't exist it could be added)
- Add comments to disable sqlfluff on problematic parts of the query or the entire file (is that supported?)
- Commit the chang

[2021-12-18 13:51] juhoautio commented on #2134
@jpy-git:

I don't believe either that black remembers what previous execution of executing `black` did. But my understanding (based on watching the [PyCon 2019 talk](https://www.youtube.com/watch?v=esZLCuWs_2Y) by Łukasz Langa, the author of black) is that internally black always runs the full process twice for this particular reason. It checks that the result doesn't change on the 2nd run. If it

[2021-12-18 13:59] tunetheweb commented on #2134
@juhoautio doesn’t the fact the CI changes it raise the issue to the user in a more obvious way rather ? So they can manually fix the SQL and/or exempt the unstable lines (we do support this btw). Some might argue that is better than just not applying any fixes.

[2021-12-18 14:05] jpy-git commented on #2134
@juhoautio as mentioned in the original [slack response](https://sqlfluff.slack.com/archives/C01GPHR8J0G/p1639763714208900?thread_ts=1639762667.208500&cid=C01GPHR8J0G) that is exactly what SQLFluff does. If the mentioned parse tree issue was fixed then this would start working exactly as both you, me, black, and sqlfluff would expect.

[code]

[2021-12-18 14:06] juhoautio commented on #2134
Ok, in my opinion the issue should be raised already when `sqlfluff fix` is run locally. I actually fail to see how raising it on CI makes it "more obvious" (not sure what you mean by that?)

User should be able to know already in local dev environment that the committed code passes all checks before pushing to remote. First of all that allows avoiding some redundant steps of waiting, debugging, f

[2021-12-18 14:39] juhoautio commented on #2134
Regarding what to do if `fix` is found to not settle – I proposed in https://github.com/sqlfluff/sqlfluff/issues/2134#issuecomment-997204311 that the file would not be touched at all, and an error would be raised. However, maybe a best effort strategy could be more useful in case of sqlfluff: keep the changes from the first round (or even the 2nd) and raise an error. That way user could immediatel

[2021-12-18 14:48] tunetheweb commented on #2134
Agreed. An in general it does. It should be exceptional times when it does not do that, which implies one of the following:

1. **SQLFluff is incredibly busted and unstable.** I do not believe this is the case in general, but there are certainly cases that are not covered (and we want to know about them!)
2. **You are using an unsupported dialect.** Well I'm sorry but if a dialect is not covered t

[2021-12-18 15:19] tunetheweb commented on #2134
I just tested your SQL and it keeps some fixes, AND raises an error, AND ALSO exits with a non-zero status code (indicating an error):

[code]

So does SQLFluff already behave like you would want it to?

[2021-12-18 15:20] barrywhart commented on #2134
I haven't read the entire discussion above, but want to mention there may be an easy partial fix. Each lint rule can specify `_works_on_unparsable = False` so it won't run on files that fail to parse. Perhaps this setting should be applied to one or more of the rules involved here? (Note: This setting is in the Python rule class, not the user `.sqlfluff` file.)

[2021-12-18 15:36] juhoautio commented on #2134
Oh, yes, indeed it does! Sorry! I totally missed the non-zero exit code before.

Just wanted to quickly respond to that.

I'll try to do this next:

P.S. If it's worth mentioning, about "raising an error" I was confused by this being the last line printed, more or less indicating a successful outcome:
[code]

[2021-12-18 15:43] jpy-git commented on #2134
@barrywhart will add this to L048 👍

[2021-12-18 15:51] tunetheweb commented on #2134
I tried it and doesn’t help here 😞

I think there’s something wrong with our parse error detection. See #2118 as another example. It used to work so not sure why it’s not working now.

@juhoautio that might scupper your next step.

[2021-12-18 15:57] juhoautio commented on #2134
Adding these ignore markers on the [problematic line](https://github.com/juhoautio/sqlfluff/blob/bc60c5767245be92b1fc7ff1f5666253e7ea7af5/my_query.sql#L51) fixed the fundamental issue for me:
[code]
Disabling `PRS` wasn't enough to avoid an error because there was this:
[code]
I think that was the actual rule that caused `fix` to modify that line, not the parsing error (correct me if wrong). But p

[2021-12-18 15:59] jpy-git commented on #2134
Thanks @juhoautio, some good discussion and definitely some things for us to take away and investigate from this 👍

[2021-12-18 16:27] juhoautio commented on #2134
Sorry, but I need to still come back to the expectation of raising en error (exit code != 0) if deterministic formatting is not guaranteed. That is not always the case currently.

Based on https://github.com/sqlfluff/sqlfluff/issues/2134#issuecomment-997207320 I expect that after the parse tree bug fix it will be guaranteed and that sounds great :)

But I want to also say that that maybe it's an a

[2021-12-18 16:40] jpy-git commented on #2134
This is the parse tree issue mentioned several times, if you run the sqlfluff command a second time it has no concept of what has previously been done to the query, just reparses and tries to fix. No amount of extra iterations in the first fix run will change the fact that some rules aren't giving a correct parse tree. Because of the differing parse trees both commands see themselves as being corr

[2021-12-18 16:52] barrywhart commented on #2134
Suffice it to say, there are known issues, and we'll address them as we have the time. It's a volunteer project, still quite new. We want perfection, but it'll take time. 💪

[2021-12-18 23:22] nolanbconaway opened #2135 "SQLite Found unparsable section: 'create unique index'"
## Expected Behaviour

Unique indices are valid in SQLite and so fluff oughtta parse em. I found [this issue](https://github.com/sqlfluff/sqlfluff/issues/1322) and it looks to have been resolved, but only for postgres? I could work on this but y'all know I have no idea how the parser works.

## Observed Behaviour

No dice, amigo.

## Steps to Reproduce

https://online.sqlfluff.com/fluffed?sql=H4sI

[2021-12-19 00:07] mrichards42 opened #2136 "CTE with column names is handled incorrectly in lint and fix"
CTEs with column name definitions can be parsed, but linting rules aren't able to handle the column names, and instead seem to treat them as if they were the actual query / table expression. There's some discussion in #345 -- it looks like that issue was about sqlfluff not being able to _parse_ this construction.

## Expected Behaviour

Given the following input (this is cleaned up from the recurs

[2021-12-19 00:47] jpers36 opened #2137 "SQLFluff fails when comparing two identical fixes"
I'm guessing this is due to @jpy-git 's recent linting improvements.  This is coming up in the checks of my most recent PR, #2130.

## Expected Behaviour

PR checks do not fail with a LintFix object attribute error.

## Observed Behaviour

https://github.com/sqlfluff/sqlfluff/runs/4571921276?check_suite_focus=true

[code]

[2021-12-19 01:02] jpy-git commented on #2137
@jpers36 this is not an error. "edit" edit_type has been replaced with "replace" in #2133.

![image](https://user-images.githubusercontent.com/80432516/146659690-02c477d9-9225-4232-9920-4d2ca7311421.png)

Works fine in other main/other branches so not sure why it's causing an issue on your branch. can see in your PR that you're not actually using it so maybe a caching issue. Let me re-run

[2021-12-19 01:32] #2137 closed

[2021-12-19 02:46] jpy-git commented on #2136
coolio can fix this pretty easily 👍

[2021-12-19 07:19] deanja opened #2140 "Runtime error when parsing dbt-utils star macro"
## Expected Behaviour
Can parse and lint when dbt-utils star macro is used. https://github.com/dbt-labs/dbt-utils/blob/0.8.0/README.md#star-source

 Last known good version was  SQLFluff 0.8.2 with dbt 0.21.1 and dbt-utils 0.7.1

## Observed Behaviour
`sqlfluff parse`  (and lint) exits with runtime error (see stack trace end of page)
[code]

`sqlfluff parse` output:
[code]

SQLFluff is able to par

[2021-12-19 15:26] #1754 closed

[2021-12-19 17:06] barrywhart commented on #613
I agree that rules shouldn't try and "embed" the behavior of other rules. I've made a similar argument for formatting (e.g. rule which splits long lines probably shouldn't be responsible for indenting the newly formed line after splitting). This is one reason I'm glad we're making progress on defining a set of "core rules", ones which we expect (although don't _require_ that are always enabled).

[2021-12-19 17:24] jpy-git commented on #613
Nice, glad we're on the same page 😄

[2021-12-19 22:53] #2136 closed

[2021-12-20 06:57] ciklista commented on #2140
I receive the same error when parsing a file using a macro from `dbt-date` (https://github.com/calogica/dbt-date)

My model is

[code]

Dialect is `redshift`.

[2021-12-20 16:53] NiklasMolin opened #2145 "Redshift create external tables and schemas"
## Expected Behaviour
[code]
[code]

## Observed Behaviour
They examples should be parsable

## Steps to Reproduce
Run sqlfluff over any example sql including any of the statements.
## Dialect
redshift
## Version
sqlfluff, version 0.8.2
python 3.7

## Configuration
Default