[2021-01-14 11:00] alanmcruickshank commented on #680
As another thought. We've been thinking about `pluggly` for a while, and defining rules using a plugin architecture might not just be nice for the core rules, but would also make it easier to people to define their own rules and import them at runtime.

[2021-01-14 18:40] cnolanminich opened #681 "dbt templater cannot handle "raw" jinja tags"
## Expected Behaviour

`sqlfluff lint` on SQL files with `{% raw %}` Jinja tags should be able to be linted and fixed.

## Observed Behaviour

## Steps to Reproduce

-- table_ref.sql
[code]

-- test_raw.sql
[code]

## Version
python

dbt --version

sqlfluff -- version

## Configuration
[code]
.sqlfluffignore
[code]

[2021-01-14 18:53] cnolanminich opened #682 "dbt templater stdout print to sqlfluff stdout"
Just started testing the `0.4.0a3` on our primary data project (which we use and ❤️  sqlfluff for! Minus an issue around raw jinja tags, everything is looking excellent.

One UX improvement that would I think help is to pass all dbt stdout into the sqlfluff stdout. That way, a user would know that dbt is "working" on the dbt steps. This is especially nice when the compilation of the models takes a

[2021-01-14 19:13] #419 closed

[2021-01-14 20:17] barrywhart commented on #677
I think you're right , @pwildenhain. I did some work on this rule recently, and it loops over the columns, processing or ignoring segments based on the type. Probably it needs to ignore the `DISTINCT` keyword.

I may have time to look at this in the next week or two, but if anyone wants to grab it, feel free.

[2021-01-14 22:20] barrywhart commented on #677
On further review, I think the rule is behaving correctly. Note the rule enforces two things:
* Single `SELECT` target: Must be on the same line as the `SELECT`
* Multiple `SELECT` targets: Each must be on its own line, separate from the `SELECT`

Therefore, the correct formatting of the test query:
[code]

is:

[code]

If you remove the word `distinct` from the test query, the desired formatting

[2021-01-15 01:37] pwildenhain commented on #677
Ohhh good call out -- I'll test this with multiple select targets and then get back

[2021-01-15 09:28] NiallRees opened #685 "Class OrderByColumnInfo appears in rule docs: https://docs.sqlfluff.com/en/latest/rules.html"
The addition of the class OrderByColumnInfo by #678 has resulted in the class being added to the rule documentation. It should be removed (easiest way is probably to filter the class names by `Rule_` prefix)

[2021-01-15 15:03] barrywhart commented on #677
If it turns out there is a problem, let me know -- I had already partially implemented a fix before realizing the above.

[2021-01-16 12:59] NiallRees commented on #680
Let me know if you've started on this @barrywhart otherwise I'll pick this up in conjunction with fixing https://github.com/sqlfluff/sqlfluff/issues/685?

[2021-01-16 14:55] NiallRees commented on #661
Hi both - would either of you feel confident in having a go at writing a failing test for this issue? It would really help in being able to solve it - I had a go with your first query @drewmcdonald but was unable to reproduce the error.

[2021-01-16 15:10] barrywhart commented on #680
I haven't started on it, unless thinking counts. Feel free to take this one.

[2021-01-16 15:45] NiallRees commented on #680
Ok cool. I'll have a crack this weekend and tag you in the PR when there's a draft ready, would be glad for your thoughts! I'm thinking something similar to what I've done here in terms of auto-discovery: https://github.com/sqlfluff/sqlfluff/blob/master/test/core/rules/rule_test_cases_test.py#L13-L17

[2021-01-16 18:45] barrywhart commented on #680
That approach should work fine. The important thing about auto discovery is that it probably sounds more complex than it is.

[2021-01-17 13:57] MinchoG commented on #661
I was just about to write my code snippet when I compiled it and decided to lint my target/compiled model. I did not mention that I am running dbt via docker where on the container I do not have sqlfluff installed.(When I linted the target/compiled file I received log of rules violations and when I decided to do fix --no-safety I got this error:
[code]

[2021-01-17 14:20] NiallRees commented on #661
This looks like an old version of sqlfluff - can you check?

[2021-01-17 14:23] drewmcdonald commented on #661
Hi @NiallRees -- see the draft PR here for a failing test case: #689

[2021-01-17 15:00] MinchoG commented on #661
sqlfluff, version 0.3.6

[2021-01-17 15:01] NiallRees commented on #661
OK cool. The part that's failing in your stack trace has been totally changed in 0.4.0 - can you try it with 0.4.0a3?

[2021-01-17 15:15] MinchoG commented on #661
Oh LOL
[code]
Thanks a bunch!!!

[2021-01-17 15:33] dmateusp opened #690 "EXASOL: Ambiguous `{{ ... }}` from Jinja vs LUA"
_Originally from @sti0 in #684_

I think if a user was using EXASOL + Jinja, that user would have to [Jinja escape](https://jinja.palletsprojects.com/en/2.11.x/templates/#escaping) the section that includes `{{ ... }}`.

Otherwise do we have the option today of having _no templater_, maybe that is something we want to support ?

[2021-01-17 15:43] sti0 commented on #690
But that will only work if using sqlfluff. If I parse a given LUA script it's not parsable or ended up in a wrong result. I strongly recommend to turn off templating Exasol scripts. As it's lua/ python/java there could be templating code inside.

[2021-01-17 15:48] dmateusp commented on #690
I'm not familiar with EXASOL, but I imagine you could be using Jinja templating for the rest of your EXASOL scripts:

like

[code]

and in your CREATE FUNCTION scripts:
[code]

My understanding of the {% raw %} tag is that it would prevent Jinja from trying to template that section

[2021-01-17 15:53] dmateusp opened #691 "Ignore brackets pairs in script bodies"
_Originally from @sti0 in #684_

This shouldn't be specific to EXASOL, the bracket pair checking should probably be ignoring function bodies

[2021-01-17 15:54] sti0 commented on #690
As I said. This only works if I use sqlfluff / Jinja engine. If I simply like to parse a given script for validating and automatic deployment (which is my use case) than the script don't need Jinja. The script maybe needs to be processed in plain definition in some case with no need to parse it in sqlfluff first.

[2021-01-17 16:00] #635 closed

[2021-01-17 16:21] dmateusp commented on #690
ah yes @sti0 I think we are on the same page. There are two points I wanted to get across on the description of the issue:
* EXASOL users which use Jinja as a templater (not your case), might run into the issue you ran into, and could work around it by using `{% raw %}`
* Not sure we support having "no templating today", but it is worth supporting IMO

[2021-01-17 16:39] sti0 commented on #690
I have nothing to add. That describes the request clearly. Thanks 👍🏻

[2021-01-17 21:05] NiallRees opened #692 "Relative vs absolute imports"
Following on from https://github.com/sqlfluff/sqlfluff/pull/688#discussion_r559233302:

@alanmcruickshank

@me

Any other opinions on this?

[2021-01-17 21:50] alanmcruickshank commented on #692
I've just done some reading and I'm wondering whether @NiallRees is actually on the right side here and we should move to absolute imports as standard?

This appears to suggest absolute imports are preferred: https://www.python.org/dev/peps/pep-0328/#rationale-for-absolute-imports

Anyone know any other guidance on the implication of this decision?

[2021-01-17 22:49] sti0 opened #693 "Optional brackets"
-- Please add any additional labels that are related to the issue before submitting! --
On some case it's possible that a segment or grammar could be within brackets but it don't have to.

One example:

[code]
In such a case it's necessary to define it in the dialect like this:
[code]

I suggest to add a option to `Bracketed` which makes the **brackets** optional (not the whole definition like `op

[2021-01-17 22:55] barrywhart commented on #692
[PEP-8](https://www.python.org/dev/peps/pep-0008/#id23) clearly recommends the use of absolute imports in general. Since PEP-8 is basically the official Python formatting standard, it carries a lot of weight. Here's what it says:

[code]

However, explicit relative imports are an acceptable alternative to absolute imports, especially when dealing with complex package layouts where using absolute i

[2021-01-17 22:59] sti0 commented on #692
Another problem with relative paths is that the maybe run into an `KeyError: "'__name__' not in globals"` error when using [custom multi commands](https://click.palletsprojects.com/en/7.x/commands/#custom-multi-commands) in `click` (which is not the case in this project at the moment).

[2021-01-18 07:58] NiallRees commented on #693
See also https://github.com/sqlfluff/sqlfluff/issues/650

[2021-01-18 09:29] alanmcruickshank commented on #693
This would also be quite an impactful but not-too-difficult issue for a first timer too!

[2021-01-18 09:30] alanmcruickshank commented on #692
I'm sold then. Shall we move to absolute imports as default?

[2021-01-18 10:24] #661 closed

[2021-01-18 10:32] alanmcruickshank commented on #690
This *does* exist. Set your templater to `raw` (either with `--templater=raw` or set `templater = raw` in your config file) and no pre-processing will happen. This isn't used much, so if you looked in the docs and couldn't find it then coudl you suggest where we should make this clearer? I think it's a docs fail here that nobody knows about it 😬

[2021-01-18 13:39] barrywhart commented on #692
Sounds great to me!

[2021-01-18 13:59] drewmcdonald commented on #668
@MinchoG this is fixed in #689 ; will defer to the sqlfluff folks on when it'll be released

[2021-01-18 15:57] #680 closed

[2021-01-18 16:03] NiallRees opened #694 "Rule docs for latest version are broken"
https://docs.sqlfluff.com/en/latest/rules.html

Caused by https://github.com/sqlfluff/sqlfluff/pull/688

The rule classes appear in the docs when I build them locally, but aren't in prod!

[2021-01-18 16:04] NiallRees commented on #694
If anyone can confirm they're seeing the same thing locally that would be helpful - just to rule out some kind of caching issue

[2021-01-18 16:29] NiallRees commented on #694
Would you mind checking out the readthedocs build dash @alanmcruickshank ? https://stackoverflow.com/questions/29246562/sphinx-automodule-works-offline-but-not-through-readthedocs-org

[2021-01-18 22:55] barrywhart commented on #694
@NiallRees: I ran `make html` locally, and the generated `rules.html` looks correct to me. It's a pretty long file, and I confirm that I see the newest rule class (`Rule_L037`) in it. I'm happy to upload the actual file if that would be helpful.

[2021-01-20 06:02] Aeolun opened #695 "OFFSET not recognized"
When trying to lint a query with `OFFSET` in, the linter cannot parse it.

## Expected Behaviour

[code]

## Observed Behaviour

[code]

## Steps to Reproduce

See above.

## Version

[code]

## Configuration
[code]

[2021-01-20 09:34] nvuillam opened #697 "Single CLI command for lint & fix"
Usually, linters have a --fix option, that auto-apply fixes after linting.
I see that for sqlfluff is it separated into 2 distinct commands: `sqlfluff lint` and `sqlfluff fix`

- Is there a way to lint & fix in the same sqlfluff CLI command ?
- If not, would it be possible to implement it ?

It would help a lot for sqlfluff [Mega-Linter](https://nvuillam.github.io/mega-linter/descriptors/sql_sqlfl

[2021-01-20 11:03] MartinNowak opened #698 "Named WINDOW clause not recognized (BigQuery)"
## Expected Behaviour

Proper parsing of [WINDOW clauses](https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax?hl=en#window_clause).

## Observed Behaviour

[code]

## Steps to Reproduce

[code]

## Version
sqlfluff, version 0.3.6
Python 3.8.7

## Configuration
No additional/default config.

[2021-01-20 13:46] #538 closed

[2021-01-20 13:48] NiallRees opened #699 "Create abstraction and pattern for parsing tests"
Does anyone else feel like the current parsing test pattern isn't as complete as it could be? I'd love an easy way to assert a string against a nested set of segments in an easy way, like you get from `sqlfluff parse`. Any ideas?

--edit https://github.com/sqlfluff/sqlfluff/blob/master/test/core/dialects/snowflake_test.py#L15

[2021-01-20 13:59] barrywhart commented on #699
Can you post a URL to a test using the current pattern? Not sure I know what you're referring to.

[2021-01-20 14:15] NiallRees commented on #699
Ah sorry - this is what I'm referring to: https://github.com/sqlfluff/sqlfluff/blob/master/test/core/dialects/snowflake_test.py#L15

[2021-01-21 16:23] thisiscab opened #704 "Weird macro expansion with DBT templater when running `sqlfluff fix`"
## Expected Behaviour

I'd expect `sqlfluff` to not expand my macros / duplicate my columns when running `sqlfluff fix`.

## Observed Behaviour

I'm not sure how to best explain this, so let me try by giving examples;

We have the following CTE:

[code]

When running the `sqlfluff fix` the output of the CTE is the following:

[code]

Please do note that:

* `reported_at` gets duplicated, one is my

[2021-01-21 23:02] NiallRees commented on #694
Resolved by #703

[2021-01-21 23:02] #694 closed

[2021-01-22 14:33] pwildenhain opened #706 "Consider using find_packages in setup.py or pyproject.toml/setup.cfg"
See discussion in #703 for more information

[2021-01-22 16:49] #540 closed

[2021-01-23 19:15] josephzidell opened #709 "`CREATE EXTENSION` fails linter"
-- If this is a parsing or linting issue, please include a minimal SQL example which reproduces the issue, along with the `sqlfluff parse` output, `sqlfluff lint` output and `sqlfluff fix` output when relevant. Finally, please add any labels that are related to the issue before submitting so that it can be addressed easily! --

# SQL
[code]

## `sqlfluff parse`
<details>

    === [ext.sql] ===

[2021-01-24 04:31] tjwaterman99 opened #710 "Unrecoverable failure in Jinja templating: 'dbt_utils' is undefined"
I'm trying to run sqlfluff on a dbt model:

[code]

But I received the following error:

[code]

I've found the section about [updating the Jinja templator](https://docs.sqlfluff.com/en/stable/configuration.html#macro-templating) by using `load_macros_from_path` in the `.sqlfluff` file.

So I tried updating my config file by adding the install location of `dbt_util`'s macros directory:

[code]

Bu

[2021-01-24 12:47] tasotasoso opened #711 "Module 'sqlfluff' doesn't have 'lint' like "examples/01_basic_api_usage.py""
I want to try "examples/01_basic_api_usage.py". I just executed the code, I got error.
Can I use sqlfluff as python library like the example? Or it is not recommended?

## Expected Behaviour
<pre>
import sqlfluff

#  -------- LINTING ----------

my_bad_query = "SeLEct  *, 1, blah as  fOO  from myTable"

# Lint the given string and get a list of violations found.
result = sqlfluff.lint(my_bad_query

[2021-01-24 13:04] NiallRees commented on #710
Hi @tjwaterman99 thanks for this - I think your issue will be solved in 0.4.0 (latest pre release currently 0.4.0a3) with the addition of dbt templating. See https://docs.sqlfluff.com/en/latest/configuration.html?highlight=dbt#dbt-project-configuration for guidance and feel free to drop any questions you may have in the Slack workspace, there's an invite link in the readme if you've not joined alr

[2021-01-24 13:04] #710 closed

[2021-01-24 18:06] tjwaterman99 commented on #710
@NiallRees Got it, thank you! I was able to resolve that issue by trying out 0.4.0.a3.

I did still find a few others after upgrading however - I've created some reproducible examples here: https://github.com/tjwaterman99/sqfluff_dbt_errors_examples

The dbt specific ones are related to having a model that is `enabled: false`, as well as linting errors from what I _think_ is the sql that sqlfluff

[2021-01-24 18:19] tjwaterman99 commented on #710
I've also added a github workflow to make it easier to reproduce those:

https://github.com/tjwaterman99/sqfluff_dbt_errors_examples/runs/1757960629

[2021-01-24 18:39] NiallRees commented on #710
Yes please @tjwaterman99 issues for each would be great 🙂

[2021-01-26 01:28] tjwaterman99 opened #712 ""File Not Found" when trying to lint a dbt model that is disabled"
I am trying to lint a dbt model that has been disabled.

## Expected Behaviour

When I lint a dbt model that has `enabled: false`, SQLFluff will parse and validate the SQL.

## Observed Behaviour

SQLFluff raises a "File Not Found" error:

[code]

## Steps to Reproduce

Please see the example project with reproducible steps here: https://github.com/tjwaterman99/sqfluff_dbt_errors_examples.

The mo

[2021-01-26 01:32] tjwaterman99 opened #713 "Trying to lint a dbt model that uses dbt_utils.hash might have unfixable linting errors"
I am trying to lint the following dbt model:

[code]

## Expected Behaviour

When I lint a dbt model that uses dbt_utils.hash, SQLFluff will parse and validate the SQL.

## Observed Behaviour

SQLFluff raises the following linting errors:

[code]

## Steps to Reproduce

Please see the example project with reproducible steps here: https://github.com/tjwaterman99/sqfluff_dbt_errors_examples.

## Ver

[2021-01-26 14:25] tasotasoso commented on #711
I confirmed that this is possible with version 0.4.0a3.

[2021-01-26 14:25] #711 closed

[2021-01-26 17:02] NiallRees commented on #381
Going to close this as believe it is solved by the new dbt templater :)

[2021-01-26 17:02] #381 closed

[2021-01-26 17:34] noahbruegmann commented on #381
I can confirm that we've been testing this on a few different projects now and it seems to be working well. Thanks!

[2021-01-28 10:54] iBalag opened #714 "Is there a way to specify a custom template placeholder?"
Hi,
In our company, we use psycopg2 for dealing with databases. For building SQL queries we use [named arguments](https://www.psycopg.org/docs/usage.html#passing-parameters-to-sql-queries) (like **%(name)s**) and built-in SQL query [formating abilities](https://www.psycopg.org/docs/sql.html#psycopg2.sql.SQL.format). An example of our SQL Template:

[code]
When I try to use sqlfluff linter for chec

[2021-01-28 11:28] barrywhart commented on #357
Resolved by #708

[2021-01-28 11:28] #357 closed

[2021-01-28 13:21] NiallRees opened #715 "dbt templater incompatible with dbt 0.19"
Using SQLFluff 0.4.0a3 with the dbt templater and dbt 0.19 leads to the following error when running `sqlfluff lint`:

[code]

[2021-01-28 14:12] NiallRees commented on #715
For anyone looking for a workaround, I suggest using tox where you can specify a test environment with dbt pinned to an older, working version (0.18.0 being the most recent).

[code]

[2021-01-28 19:15] barrywhart commented on #356
I'm taking an initial look at this and may attempt a fix. Here is `sqlfluff parse` output from the first test query. Based on the indentation, it looks like it's parsing correctly, in the sense that the `alias_expression` is nested inside the `table_expression`, at the same level as the `function` above. So my initial intuition is that this may be a bug in the lint rules rather than the parser. If

[2021-01-28 21:43] will-misslin opened #716 "Add Support for Alternate File Types/Extensions"
It would be awesome if sqlfluff could support configuring a list of file types/extensions to be considered by the `lint` and `fix` commands. Ideally, the configuration could be done in the `.sqlfluff` file.

One example would be Jinja2 files that are templated SQL statements. Using the convention of `.sql.j2	 for the file extension would allow these files to be targeted for formatting along side `

[2021-01-28 23:34] will-misslin opened #717 "[Postgres Dialect] Late Binding Views Treated as Alias"
## Expected Behaviour

Using Postgres, a late-binding view includes a `with` statement at the conclusion of the

[code]

## Observed Behaviour

Using `sqlfluff fix` on this triggers L003 (missing indent) and L011 (missing explicit aliasing)

[code]

This isn't valid SQL and this line should not be indented.

## Version
Include the output of `sqlfluff --version` along with your Python version

`sql

[2021-01-29 04:52] ackintosh opened #718 "[Postgres Dialect] `PRIMARY KEY` keyword treated as identifiers"
## Expected Behaviour

[code]

Linting the DDL statement would be success.

## Observed Behaviour

Unfortunately linting is failed. I would guess that `PRIMARY KEY` was not treated as keyword. 🤔

[code]

If we change the DDL statement as below, linting will success.

[code]

## Steps to Reproduce

Run lint with the DDL statement I've posted first on this.

## Version
Include the output of `sqlfluf

[2021-01-29 14:32] GeoffTK commented on #653
I am seeing the same thing when using this test
[code]

I first noticed it in a lot of my sql files and then tried to use this simple example and still get an error.

This looks like it is specifically an error in 0.4.0a3, and works in 3.

[2021-01-30 20:57] #699 closed

[2021-01-30 21:05] barrywhart commented on #356
On the other hand, a similar-looking query against a table (rather than a function) looks a bit different.

Query:
[code]

Partial parse output:
[code]

I think the solution is going to involve looking at the left-hand side of the `AS` to determine what is being aliased, but I'm not sure what the "filter" should be. Is *any* function on the LHS of an `AS` under a `FROM` going to return a column, n

[2021-01-30 21:15] #718 closed

[2021-01-30 21:26] NiallRees commented on #712
Hi @tjwaterman99, this is a duplicate of https://github.com/sqlfluff/sqlfluff/issues/644 so I'm going to close :)

[2021-01-30 21:26] #712 closed

[2021-01-30 21:28] NiallRees commented on #695
Resolved by https://github.com/sqlfluff/sqlfluff/pull/702

[2021-01-30 21:28] #695 closed

[2021-01-30 21:30] barrywhart commented on #356
Some helpful excerpts from the BigQuery query syntax [documentation](https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax) and my notes relating the docs to this issue.

Together, these two statements read a big ambiguously. Does `UNNEST` return a _table_ or an `ARRAY`?

Oh, it returns a **value table**. What's that? And the alias for it is a **range variable**. What's that?

[2021-01-30 21:36] barrywhart commented on #356
[IBM DB2](https://www.ibm.com/support/producthub/db2/docs/content/SSEPGG_11.5.0/com.ibm.db2.luw.sql.ref.doc/doc/r0055064.html) supports a very similar syntax, where `UNNEST()` appears in the `FROM` clause, flattening an array into a table.

Postgres also has an [`UNNEST()` function](https://www.postgresql.org/docs/9.2/functions-array.html), but AFAICT, it only appears in the list of columns under

[2021-01-30 21:46] barrywhart commented on #356
Postgres [UDFs can return tables](https://www.postgresqltutorial.com/plpgsql-function-returns-a-table/). Hence, seeing a function in the `FROM` list of a query doesn't necessarily mean that function is returning a column.

[2021-01-30 21:49] barrywhart commented on #356
Proposal: Core SQLFluff rules should be designed to interpret functions in the `FROM` list as returning tables, unless the function name appears in a list of ["value table" functions](https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax#value_tables) (to use BigQuery's terminology).

This design would address the bug in a fairly generic way, albeit by requiring rules to know

[2021-01-31 08:27] ackintosh commented on #718
@sti0 Thanks for the fix! I'm looking forward to it to be released. ✨

[2021-01-31 13:33] #690 closed

[2021-01-31 13:33] #691 closed

[2021-01-31 16:02] barrywhart commented on #356
Fixed in #722

[2021-01-31 16:02] #356 closed

[2021-01-31 20:21] barrywhart commented on #247
I tested this again using the latest code in `master`. The output looks good enough to me now. Closing this issue.
[code]

[2021-01-31 20:21] #247 closed

[2021-01-31 20:22] barrywhart commented on #239
I tested this again today and got a runtime error:
[code]

I'll investigate.

[2021-01-31 20:28] barrywhart commented on #239
I'm not completely sure, but I think the failure occurred because the rule assumed the `FROM` clause contained a table. The test query for this issue is querying from a function instead.

[2021-01-31 20:30] barrywhart commented on #239
After tweaking the code to avoid the runtime error above, the query parses fine, and the output looks pretty good:
[code]

If my fix tests out okay, I'll create a PR for it and close this issue.

[2021-01-31 20:44] barrywhart commented on #528
I tested this again, and it no longer reports an L014 violation.  I think it was resolved by #708. Closing.

[2021-01-31 20:44] #528 closed

[2021-01-31 22:23] #717 closed

[2021-02-01 11:11] iBalag commented on #714
I found how to disable parsing and lexing issues with --ignore flag:

`sqlfluff lint test.sql --ignore parsing,lexing`

It looks like a temporary solution for now.

[2021-02-01 19:47] pwildenhain commented on #470
🔔 Any interest in a Feb meetup? I feel like 0.4.0 is in a good place, and there is a bunch of compelling stuff to start working on for 0.5.0

[2021-02-01 19:51] NiallRees commented on #470
Yes @pwildenhain! I'll put a calendar invite for same day and time as last one next week!

[2021-02-01 21:43] nolanbconaway commented on #470
Excellent idea! thx for the legwork @NiallRees

[2021-02-02 13:45] barrywhart commented on #667
Doing some reading about this... `IGNORE NULLS` and some related syntax is only applicable to the `ARRAY_AGG()` function. For a first implementation, I'm inclined to try and add it to the general expression syntax rather than adding a special  case for this one function. I believe this is similar in spirit to other pragmatic decisions we've made in order to limit the number of special cases we add

[2021-02-02 13:54] barrywhart commented on #667
Maybe add it to dialect_bigquery here?

[code]

[2021-02-02 14:00] philipherrmann commented on #667
May be just the remark that I have used `IGNORE NULLS` successfully with a few other functions as well. At least it is valid BQ syntax for `FIST_VALUE` and `LAST_VALUE`, but apparently also for some other navigation functions (https://cloud.google.com/bigquery/docs/reference/standard-sql/navigation_functions).

[2021-02-02 14:06] barrywhart commented on #667
Thanks, @philipherrmann, that is very helpful info!

I just created a PR for this issue: #727. Would you like to test it?

[2021-02-02 14:14] barrywhart commented on #698
BigQuery [docs](https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax) on named windows

Syntax (from the same page). Named windows may be added to the end of a `SELECT`, following the optional `WHERE`, `GROUP BY`, and `HAVING`:
[code]

[2021-02-02 19:41] #239 closed

[2021-02-02 20:27] NiallRees commented on #653
Yup these are both resolved by https://github.com/sqlfluff/sqlfluff/issues/653

[2021-02-02 20:27] #653 closed

[2021-02-03 03:25] barrywhart commented on #698
@MartinNowak: I have a draft PR which I believe adds parsing support for named windows. Would you like to test or review it? #728

[2021-02-03 07:32] MartinNowak commented on #698
Will give it a try.

[2021-02-03 13:30] barrywhart commented on #698
I made some fixes this morning and marked the PR ready for review. 🤞🏽

[2021-02-03 13:34] barrywhart commented on #677
Tentatively tagged this as "invalid" , pending feedback from @pwildenhain.

[2021-02-03 13:39] barrywhart commented on #519
Can this issue be closed?

[2021-02-03 13:51] #519 closed

[2021-02-03 15:40] pwildenhain commented on #677
I think this is still a bug since this query:
[code]

produces this output
[code]

[2021-02-03 16:15] barrywhart commented on #677
Makes sense. Thanks for clarifying!

[2021-02-03 17:10] #527 closed

[2021-02-03 18:29] #667 closed

[2021-02-03 22:30] NiallRees opened #730 "Enforce accompanying .yml for all .sql parsing fixtures"
Off the back of https://github.com/sqlfluff/sqlfluff/pull/729, should we add a test to ensure that all `.sql` parse test fixtures have an associated `.yml` file?

[2021-02-04 13:09] davehowell commented on #398
@pwildenhain I am seeing this same error. I will do some more testing, in the meantime this is my setup for repro:

* MacOS 10.15.7
* Python 3.8.7
* SQLFluff 0.3.6
* I'm running it on a dbt project.

[code]

Output from `sqlfluff parse test.sql -vv`
[code]

Contents of `test.sql` file:

[code]

[2021-02-04 13:16] pwildenhain commented on #398
Interesting! Would you mind trying with the pre release version? `pip install sqlfluff --pre`

[2021-02-04 13:16] davehowell commented on #398
Follow up, I found that wrapping the comment in _jinja_ comment markers makes the linting succeed, so I can use that as a workaround. I'll check the pre release now.

[2021-02-04 13:23] davehowell commented on #398
Tried with the pre, different error, and it happens twice for the same rule in the same code-path:

[code]

[2021-02-05 22:46] jitsumi opened #731 "Crash when parsing mysql query with union of subquery having group/order by and used in join"
## Expected Behaviour
Parse correctly the valid mysql query
(check https://dev.mysql.com/doc/refman/8.0/en/union.html section `ORDER BY and LIMIT in Unions`)

## Observed Behaviour
Crash with command `sqlfluff parse --dialect mysql file.sql`:
[code]

## Steps to Reproduce
parse the following mysql sql query (with `--dialect mysql`)
`sqlfluff parse --dialect mysql file.sql`
[code]

## Version
sqlfl

[2021-02-07 15:05] #698 closed

[2021-02-07 18:23] barrywhart commented on #677
@pwildenhain: What version or git commit were you using when you saw the lint failure [above](https://github.com/sqlfluff/sqlfluff/issues/677#issuecomment-772603054)? I tried it on two recent commits and am not seeing any lint warnings:
* `509312f187d9af7bc4ba7e96aa81732ff1eb88a2` (January 31)
* `53fa134877fd5d8f886065d9c51bd233895e6d84` (February 7)

[2021-02-08 09:02] ackintosh opened #733 "[Postgres] unparseable error on `character varying` type"
-- If this is a parsing or linting issue, please include a minimal SQL example which reproduces the issue, along with the `sqlfluff parse` output, `sqlfluff lint` output and `sqlfluff fix` output when relevant. Finally, please add any labels that are related to the issue before submitting so that it can be addressed easily! --

## Expected Behaviour

[code]

Linting the DDL statement would be succ

[2021-02-09 17:10] GeoffTK opened #734 "sqlfluff fix uses incorrect indentation for `USING` keyword"
-- If this is a parsing or linting issue, please include a minimal SQL example which reproduces the issue, along with the `sqlfluff parse` output, `sqlfluff lint` output and `sqlfluff fix` output when relevant. Finally, please add any labels that are related to the issue before submitting so that it can be addressed easily! --
`sqlfluff fix` seems to indent the `USING` keyword three levels deep.

[2021-02-09 17:45] GeoffTK opened #735 "Falsely identifying lint errors on L011, L025, L029 on WINDOW queries."
-- If this is a parsing or linting issue, please include a minimal SQL example which reproduces the issue, along with the `sqlfluff parse` output, `sqlfluff lint` output and `sqlfluff fix` output when relevant. Finally, please add any labels that are related to the issue before submitting so that it can be addressed easily! --
Running sqlfluff lint on the following results in errors when it should

[2021-02-09 17:46] GeoffTK commented on #735
Even worse is the `sqlfluff fix` command adds in `AS` in a few places that breaks the SQL.

[2021-02-09 18:02] alanmcruickshank commented on #681
I think I know what's causing this, and there are a few aspects.

1. The slicing code needs to know how to handle "raw" and "endraw". This involves the slicing code in `sqlfluff.core.templaters.jinja.py`. However in reviewing that now I _think_ this patch of code is actually fine.
2. We need to make sure that anything _between_ the `raw` and `endraw` tags is not parsed as templated code. This one

[2021-02-09 20:29] pwildenhain commented on #677
Ah ok -- I was testing on the latest alpha release, but after testing on the most recent `master` commit, this error mesage went away.

Thanks Barry!

[2021-02-09 20:29] #677 closed

[2021-02-09 21:02] pwildenhain commented on #681
@alanmcruickshank See https://github.com/sqlfluff/sqlfluff/pull/737 for a failing test case. If you see what needs to be done, and would like someone else to work on it, feel free to tag me 👍🏻

[2021-02-09 21:04] barrywhart commented on #735
The parse issue is because SQLFluff currently requires parentheses after `OVER`. I'll try and confirm this syntax is legit, but I think it is because the BigQuery editor didn't complain.

@GeoffTK: In case it matters, what database are you using?

In other words, with added parentheses, it parses cleanly.
[code]

[2021-02-09 21:08] barrywhart commented on #735
I see the mistake -- this was an oversight in my earlier PR. For example, in BigQuery, unnamed _window specifications_ require parentheses, but references to _named windows_ do not.

https://cloud.google.com/bigquery/docs/reference/standard-sql/analytic-function-concepts

I'll create a PR to address this, and will also look into the "false positive" lint warnings.

[2021-02-09 21:42] barrywhart commented on #735
@GeoffTK: This issue should be addressed by #738, if you'd like to test it.

[2021-02-10 14:06] #735 closed

[2021-02-10 16:18] SpokeyWheeler opened #740 "Cockroach SQL not parsing?"
Apologies for dropping out of the blue with this, but we actually use Cockroach. Given that you apparently used Cockroach's documentation for the base ANSI dialect, I'm kind of surprised that a lot of our SQL fails parsing. Specifically:

[code]

Also, these (and many other, similar CREATE INDEXes) fail to parse, and I've no idea why:
[code]

I'm not a Python programmer, so I'm afraid I can't real

[2021-02-10 21:05] barrywhart commented on #404
Mind if I take a look at this one, @nolanbconaway?

[2021-02-10 21:05] nolanbconaway commented on #404
Please!

[2021-02-10 21:22] barrywhart commented on #404
Great! If you're interested some time, I'd be happy to schedule an hour to pair program on an issue (Zoom screen share or something like that). Maybe that could be step 1 towards the "new contributor" docs you suggested. If you're interested, ping me on Slack and we'll set something up.

[2021-02-10 21:23] nolanbconaway commented on #404
That's really nice of you! I'll take you up on it when i get some more bandwidth

[2021-02-10 21:33] barrywhart commented on #404
And if it helps, I'm usually pretty confused at the start of issues like this! The inheritance across several of the rules is a bit confusing. I also think it would be 💯 to add type hints to more of the code, especially the areas where new contributors are likely to land. Type hints can make it a lot easier to understand existing code. I think on this particular issue, I'll likely spend 80% of the

[2021-02-11 00:51] barrywhart commented on #730
Related: I have created a [pre-commit hook](https://gist.github.com/barrywhart/868446ba70e47ea792c2a6475b6aaa47) which creates the `.yml` file automatically.

[2021-02-11 00:53] barrywhart commented on #731
I tested this with the latest code in `master` as of today (commit `79767aae39768b5e9c5b8b6cf50f0a589bc075a4`), and it parses okay. So I believe the issue is fixed.

[2021-02-11 01:16] barrywhart commented on #692
I found a simple command-line tool that converts relative imports to absolute imports.

https://stackoverflow.com/questions/27549291/convert-all-relative-imports-to-absolute-automatically-in-python

I'm trying it out now. If it works well, I will create a PR.

[2021-02-11 01:37] barrywhart commented on #692
Well, I created a PR, and all the tests are failing. I reasoned that maybe some imports need to remain relative, so I ran it on just the rules, then just one of the rules, then on the dialect files. In every case, I'm getting lots of failures.

I may or may not have time to pursue this. For now, I will leave open the draft PR I created: #744, in case someone else is interested.

[2021-02-11 09:36] davehowell commented on #643
@barrywhart I am wondering about rule L003 and its description vs what it actually does.

Under the join, as you alluded to, it enforces that `ON` is indented from the `JOIN` in the previous line, and that any further `AND` conditions are further indented. I suppose the language "not consistent with" is ambiguous here.

I note there's a separate rule about join indentation, but that only affects t

[2021-02-11 16:10] barrywhart opened #746 "Add a fix routine to L036: Select targets should be on a new line unless there is only one select target"
The idea arose from this [Slack thread](https://sqlfluff.slack.com/archives/C01GX4L213J/p1613017651043300).

[2021-02-11 20:29] #404 closed

[2021-02-11 20:38] dmateusp commented on #740
Welcome to the project @SpokeyWheeler 👋

What we call the "ANSI" dialect is actually a "base" implementation of a dialect that contains common logic of actual platform specific dialects. (It's not strictly ANSI).

Thank you for the example queries, the simple answer is that we did not get to it yet :), sqlfluff defines its own parsing logic so we progressively implement more and more logic to cove

[2021-02-11 22:11] barrywhart commented on #643
Some thoughts on the previous comment...

My understanding of `sqlfluff fix` is that it's doing two things:
* Applying fixes from those rules that implement fixes. By rules, I mean [these](https://docs.sqlfluff.com/en/stable/rules.html).
* Besides the individual rules, the core of SQLFluff includes an indentation algorithm (described [here](https://docs.sqlfluff.com/en/stable/indentation.html)) wh

[2021-02-12 00:06] seancron commented on #643
<details>
  <summary>Here's my .sqlfluff file:</summary>

[code]
</details>

Yes, when I replace the `source` macro with a hardcoded table name, the indentation under `0.4.0a3` is the same as described above.

I did a bit more playing around, and I suspect that it has to do with how `sqlfluff` handles CTEs. For the following input on `0.4.3a`:

[code]

this is the output of `sqlfluff fix`:

[code]

[2021-02-12 01:00] SpokeyWheeler commented on #740
I had a crack at some this using Python 3.9 - everything passed except for mypy, which is failing on a file I didn't touch?

[code]

[2021-02-12 14:14] cnolanminich commented on #641
came across this issue, and here is an example that reproduces this error (this is on `sqlfluff 0.4.0` alpha but it's the same behavior).

The SQL is ugly but it's something I've come across within my org several times.

[code]

[2021-02-12 18:18] alanmcruickshank commented on #44
I'm going to close this issue. It's been open for a long time - and I think given the current state of the project this isn't going to be as useful as I'd thought.

[2021-02-12 18:18] #44 closed

[2021-02-12 18:37] alanmcruickshank commented on #333
We should do exactly that 😄

[2021-02-12 18:37] #333 closed

[2021-02-12 19:20] alanmcruickshank commented on #365
Thanks for the extra intel @joellabes . I think your assessment of what *should ideally* happen is spot on.

The current reflow logic looks for potential indent points within the existing parse structure. At the moment we don't inject any around operators like `and` or `<`. To address this properly would probably need a bit of a rethink of the parsing of expressions, at the very least to distingui

[2021-02-12 19:25] alanmcruickshank commented on #488
@pwildenhain I'm considering closing this issue because of the success of your quest! https://codecov.io/gh/sqlfluff/sqlfluff

Code coverage is now ~96% across the codebase which is a pretty good place for us to be.

[2021-02-12 20:10] pwildenhain commented on #488
Agreed! It was a noble quest indeed ⚔️

[2021-02-12 20:10] #488 closed

[2021-02-12 20:51] barrywhart commented on #641
@cnolanminich: Thanks for the example SQL. Can you provide a stack trace for the error you're getting? I think there may be more than one issue resulting in `RecursionError`. Your SQL query looks like one in this other issue, #669. Note the difference between the stack traces there and here...
* This one has a bunch of `_split_uniques` calls in the stack.
* The other issue has a bunch of `wrapped_

[2021-02-12 23:34] #598 closed

[2021-02-12 23:36] #593 closed

[2021-02-13 00:47] alanmcruickshank commented on #607
Thanks for posting this @Sherm4nLC . I *think* this should be possible to fix 👍 . I'll have a play with the lexer....

[2021-02-13 11:09] #362 closed

[2021-02-13 11:30] #502 closed

[2021-02-13 11:59] #681 closed

[2021-02-13 14:48] barrywhart commented on #734
I ran a related test, using this SQL (same as above, but omitting the word `INNER`):

[code]

The result was:
[code]

I'm not familiar with the details of the indentation algorithm, although the basics are documented [here](https://docs.sqlfluff.com/en/stable/indentation.html). Maybe it's aligning `USING` with the end of the `JOIN` or `INNER JOIN`? @alanmcruickshank, can you please clarify if this

[2021-02-13 18:09] alanmcruickshank commented on #630
I'm having real trouble recreating this error locally, but I think it's because the `union_relations` macro requires a database to query and so my test examples aren't compiling at all.

To debug this could someone confirm the error with a relatively simple query, then post both the sql file *and the compiled version of the file* which is created with `dbt compile`. With those two sets of sql I'll

[2021-02-13 22:56] alanmcruickshank commented on #470
Any last calls for 0.4.0? @sqlfluff/sqlfluff-maintainers

I won't do the release today as planned (getting late my time), but I'll tidy up any remaining docs and a changelog during tomorrow. If there's anything still floating which we feel really needs to get in before the release then shout now 😄 .

I expect I'll release late morning UTC, assuming nothing else big comes up, but should have some t

[2021-02-13 22:57] nolanbconaway commented on #470
I am so amped on this release!

[2021-02-13 22:58] #607 closed

[2021-02-13 23:05] NiallRees commented on #470
This if poss! https://github.com/sqlfluff/sqlfluff/pull/603

[2021-02-14 01:30] #692 closed

[2021-02-14 13:41] SpokeyWheeler opened #759 "If I wanted to add custom rules..."
... should I add them in the "std" directory, with a different prefix? Or should I put them in a separate directory?

What happens if I want to make "private" rules that I don't want to contribute?

Apologies for what are probably more dumb questions.

[2021-02-14 14:35] barrywhart commented on #759
There's a PR underway which will let you add rules in your own separate Python package.

 #705

In the meantime, I guess you could fork the repo or just drop new rule files in the std directory after installation. There's not really a standard or approved way of doing it at this time.

[2021-02-14 15:11] #600 closed

[2021-02-14 15:21] #470 closed

[2021-02-14 15:23] NiallRees commented on #668
This is now released in 0.4.0 :)

[2021-02-14 15:23] #668 closed

[2021-02-14 15:34] NiallRees commented on #629
I've just tested this query and it seems to now parse fine in 0.4.0. If that's still not the case for you let me know and we can work it out!

[2021-02-14 15:34] #629 closed

[2021-02-14 16:32] nolanbconaway opened #761 "Lint API breaks if no violations"
Just a quick test of the new API reveals an edge case we did not consider!

[code]

This is on the brand new 0.4.0, and is due to this line in simple.py: https://github.com/sqlfluff/sqlfluff/blob/9f3bcdc91037157a2ea4ae988ff04922eea66b21/src/sqlfluff/api/simple.py#L36

When there are no errors, the records is an empty list and thus accessing [0] is a problem. I will fix this!

[2021-02-14 17:41] #761 closed

[2021-02-14 18:39] dmateusp opened #764 "Update sqlfluff version placeholder in example plugin to first release including #705"
More of a note to self!

This [install_requires](https://github.com/sqlfluff/sqlfluff/pull/705/files#diff-0ab7043f471d48de4c9b3e3aec77c0cc1e3884f1e15d366a017004675cd3ed56R13) line in the example plugin will need to point to the first release that includes the pluggy work (#705)

[2021-02-14 18:43] barrywhart commented on #643
This reminds me a bit of #734, where I'm wondering if this behavior could be by design --maybe the indentation is dynamic, like a "hanging indent" rather than a fixed number of characters. @alanmcruickshank, can you clarify the intended behavior? Since people are logging issues about, I'm thinking that if the behavior **is** intentional, we ought to update the [documentation](https://docs.sqlfluff

[2021-02-14 20:18] barrywhart opened #765 "Consider updating "Development Status" from "Alpha" to "Beta"?"
In `setup.py`, the project status is set to `"Development Status :: 3 - Alpha"`. With the 0.4.0 release, I think we're approaching a certain level of completeness and stability. Should we change this to "Beta" for the next big release? Some things to consider (probably not a complete list):
* Parsing stability, especially for the more popular dialects
* API stability: How likely are we to make bre

[2021-02-14 20:31] barrywhart commented on #685
I don't see `OrderByColumnInfo` anymore in the latest docs. Has this been fixed, @NiallRees?

[2021-02-14 20:38] barrywhart commented on #627
I'm no longer able to reproduce this issue in 0.4.0. Closing it since I'm the one who created it.

[2021-02-14 20:38] #627 closed

[2021-02-14 20:58] barrywhart commented on #290
It looks like PyCharm supports running external formatters. See the [docs for Black](https://black.readthedocs.io/en/stable/editor_integration.html#pycharm-intellij-idea). It sounds like the same thing would work for PyCharm.

[2021-02-15 10:37] #706 closed

[2021-02-15 15:40] DavidJohnQuinlan opened #768 "[snowflake] TRANSIENT command not parsing"
Hi all,

Just wanted to say I am a big fan of the project.

## Observed Behaviour
I am having a parsing issue related to a snowflake SQL query. Please see the query below:

[code]

This query obtains the following parsing error when running the `sqlfluff lint` command:

[code]
After some further investigation I believe the issue is related to the `TRANSIENT` command not being parsed.

## Version

[2021-02-15 15:56] barrywhart commented on #746
@dorzey, @pwildenhain, @alanmcruickshank: In looking over the current implementation of rule L036, I noticed a possible oversight. The description of the rule states that "select targets should be on a new line unless there is only one select target". A couple of test cases include:

Fail:
[code]

Pass:
[code]

I was a bit surprised to see  that this also passes:
[code]

As well as this:
[code]

S

[2021-02-15 17:10] barrywhart opened #770 "In rule tests, fail if a rule that is not "@document_fix_compatible" returns "fixes""
Some of the rules (for example, [L002](https://github.com/sqlfluff/sqlfluff/blob/master/src/sqlfluff/core/rules/std/L002.py#L51L58)) support fixes but do not use "@document_fix_compatible". I think we want **all** fixable rules to be noted as such in the documentation.

We can enforce this by having the tests (probably `test/core/rules/rule_test_cases_test.py::test__rule_test_case`) report failure

[2021-02-15 22:27] #770 closed

[2021-02-15 22:32] aaronsteers opened #775 "Ignore unparseable DML/DDL in script files"
Caveat: I recognize that script files are not the primary target for SQLFLuff but I think it would be good to see if we can gracefully handle such files.

Could we add a rule where we do not try to parse DML/DDL commands such as `ALTER`, `CREATE`, `USE`, and `DESCRIBE`?

As of today, these each throw an `unparsable section` error. While I don't want to stop parsing errors from being thrown on SELE

[2021-02-16 08:36] #730 closed

[2021-02-16 17:04] #709 closed

[2021-02-16 22:14] JasonGluck opened #778 "Update L033 to enforce explicit UNION ALL or UNION DISTINCT"
Was discussing this issue with @nolanbconaway, who raised in #general in slack. [Slack Discussion](https://sqlfluff.slack.com/archives/C01GPHR8J0G/p1613511556030200)

In its current state, L033 will not allow a simple `UNION`. This is problematic as `UNION` eliminates duplicates while `UNION ALL` does not.

Instead of enforcing a `UNION ALL` in the place of `UNION`, enforce an explicit `UNION ALL`

[2021-02-17 14:42] barrywhart commented on #380
Design notes:
* Rule L018 analyzes occurrences of `with_compound_statement`.
* Rule L020 looks at tables and columns in a query.
* Rule L036 detects use of `wildcard_expression` (i.e. passing through all columns from upstream table(s)).

Make sure we detect not only `SELECT *` but also `SELECT t.*`.

[2021-02-17 16:03] barrywhart commented on #380
@NiallRees: I updated the issue summary based on your suggestion and hope to start work on this in the next few days. Overall, I like your idea better than the original one.

After thinking about it more, I think there is still some value in the original idea. Why? We're really talking about two different concerns:
* "Indeterminate number of columns in the final query" is a **modeling** issue, bec

[2021-02-17 18:19] #318 closed

[2021-02-18 01:59] dwallace0723 opened #780 "Linting Error: AttributeError: 'NoneType' object has no attribute 'strip'"
We get this error for ~10-20 different dbt models within our repository. The exception says to report it as an issue.

**Example Compiled SQL:**

[code]

**sqlfluff output:**
[code]

## Version
`0.4.0`

## Configuration
[code]

[2021-02-19 18:19] alanmcruickshank commented on #289
I'm going to close this issue - I think the main things we wanted to hit with the first version have been hit with 0.4.0. Further development should probably be part of a new issue 👍

[2021-02-19 18:19] #289 closed

[2021-02-19 18:21] alanmcruickshank commented on #299
@barrywhart - with the merge of #751 - are you happy for me to close this issue? I realize it's not a feature that's enabled by default and I'm wondering whether we have sufficient documentation to indicate that it's an option. If not then I'm wondering what else we should put in place so that it's clear.

If you think we're good - feel free to just close this issue 😄

[2021-02-19 18:23] alanmcruickshank commented on #315
I'm going to close this issue, given it's not had much activity since and the ability is now there to configure or disable this rule.

[2021-02-19 18:23] #315 closed

[2021-02-19 18:24] hazedav commented on #643
I'm experiencing similar behavior (--version 0.4.0) with L003 as it pertains to the snowflake dialect:
[code]

It thinks the `FROM` line needs to be indented.
[code]

Running with `postgres` dialect works as expected:
[code]

If I update my statement to:
[code]

The error goes away for snowflake:
[code]

But appears for postgres:
[code]

Please advise.

[2021-02-19 18:24] aaronsteers commented on #299
I didn't see #751 prior to now, but for my part at least, I think that's perfect for my use cases. 👍

Thanks very much!

[2021-02-19 18:41] alanmcruickshank commented on #342
This was addressed in #772 . I'm going to close this issue.

[2021-02-19 18:41] #342 closed

[2021-02-19 18:44] alanmcruickshank commented on #345
This was addressed in #684. I'm going to close this issue.

[2021-02-19 18:44] #345 closed

[2021-02-19 19:04] alanmcruickshank commented on #545
Do you think that #782 addresses this enough. That PR is designed to address #89, but I realise comes close to this.

[2021-02-19 19:07] NiallRees commented on #545
Just added a comment on the PR 👍

[2021-02-19 19:14] barrywhart commented on #299
Seems good to me! Closing.

[2021-02-19 19:14] #299 closed

[2021-02-19 19:16] alanmcruickshank commented on #654
I think this issue also address #372 which talks explicitly about this issue with UTF-8-BOM.

I think going for option 1 & 3 is a good idea. That means:
- Being able to configure in the CLI and in the config file, the encoding to use when writing files. The config file part of this is easy. Adding it to the CLI is more work, but similar functionality exists for a couple of other config options alr

[2021-02-19 19:17] alanmcruickshank commented on #372
I'm going to close this issue as it's effectively a duplicate of #654 - and that issue is slightly broader in scope. Any further discussion on this topic should happen there.

[2021-02-19 19:17] #372 closed

[2021-02-19 19:45] alanmcruickshank commented on #780
Thanks @dwallace0723 - I've just tested your compiled query and I'm having trouble replicated the error on my side.

Could you run sqlfluff in one of the more verbose logging modes (by adding `-vvvvv` to the command)? The output will be *very long* so you don't need to paste all of it. The useful lines will be very near the end, maybe post the last 100 lines or so.

The error is coming from one of

[2021-02-19 19:46] #89 closed

[2021-02-19 19:46] alanmcruickshank commented on #545
I'm going to close this now that #782 is merged. I think the configurable elements of it solve this issue.

[2021-02-19 19:46] #545 closed

[2021-02-19 20:15] #341 closed

[2021-02-19 20:15] #343 closed

[2021-02-19 20:59] alanmcruickshank commented on #715
@NiallRees - I can definitely confirm I'm experiencing this too. Any suggestions on how we handle this? Do we need to raise a big report with the dbt folks?

[2021-02-19 21:02] alanmcruickshank commented on #731
Agreed. I believe this is fixed with the now released 0.4.0. I'm going to close this issue.

@jitsumi - if this query still isn't parsing for you with 0.4.0 then can you reopen this issue?

[2021-02-19 21:02] #731 closed

[2021-02-19 21:04] alanmcruickshank commented on #644
I believe this was fixes in #712

[2021-02-19 21:04] #644 closed

[2021-02-19 21:09] barrywhart opened #784 "Enhance rule L036 to put all columns on separate lines if any of them are"
The current description is ambiguous, but after discussion, we decided to update the rule and keep the description at least _similar_ to what it is currently.. See discussion on #769.

[2021-02-19 21:09] alanmcruickshank commented on #649
I can confirm that the same error is raised with the very minimal query:

[code]

This is because sqlfluff isn't parsing `case` here as it believes it to be a reserved keyword. @SunainaL what dialect are you using? I wonder if we need to do something a little more careful with reserved keywords.

[2021-02-19 21:12] alanmcruickshank commented on #641
Great example query @cnolanminich  - I can replicate the issue on my machine. I'll pick this one up, I think it's going to involve some fairly deep surgery in the new source mapping code.

[2021-02-19 21:15] alanmcruickshank commented on #765
Apart from plugins I'm not expecting any more major architecture changes any time soon. That means that serious bugs should either already be occurring or we're relatively safe.

Of the bugs already raised, I think we need to solve #780, #715, #669 & #641 first - but then I'd be happy to move the project to `beta`.

On the API - I think that might be in more alpha status but lets revisit whether t

[2021-02-19 21:36] NiallRees commented on #715
I think first step is to add a version check in the dbt templater so we explicitly handle this rather than the current dbt 'invocation_id' error. They must have changed the methods in dbt 0.19.0, and as dbt only officially support interaction through the cli I think it's on us rather than them to resolve. Hopefully shouldn't be too complicated to overcome though. I'll investigate this weekend.

[2021-02-19 22:13] dwallace0723 commented on #780
@alanmcruickshank sure thing! Going to actually use a more succinct query that sqlfluff is choking on as an example moving forward. We've updated a few configurations since I've first posted this, so I will post those as well:

**Pre-Compiled SQL:**
[code]

**Compiled SQL:**
[code]

**Command:**
[code]

**Output:**
[sqlfluff_output.txt](https://github.com/sqlfluff/sqlfluff/files/6013228/sqlfluff_o

[2021-02-20 02:57] seancron commented on #643
My issue was also with the Snowflake dialect.

[2021-02-20 11:27] alanmcruickshank commented on #780
Ok this was a tough one but a great bug report. In the process of trying to recreate this error I flushed out a few other bugs in the process. I'll put more detail in the PR but I think I've solved this one.

[2021-02-20 11:38] alanmcruickshank commented on #682
@cnolanminich - would you expect this to a be a default regardless of the current verbosity or something that would only show if someone wanted to view logs? i.e. with `-v`.

Currently we've tried to mimic `flake8` such that in the default config nothing is output if there are no issues. I would be tempted to to either show the dbt logs if the verbosity level is high - or perhaps if there was an e

[2021-02-20 12:16] alanmcruickshank commented on #643
Looking at the errors people are getting (thanks @seancron @davehowell @hazedav ), I don't think this should be intentional - I think this is a bug, and I'm guess a bug with the `snowflake` dialect given where the bug reports are coming from. I think the indentation in the original query posted by @seancron is correct.

[2021-02-20 12:21] alanmcruickshank commented on #643
If I compare the output of `sqlfluff parse` for the `ansi` and `snowflake` dialects I think I can see the problem. Snowflake is skipping `dedent` segments after `FROM` clauses.

`sqlfluff parse test2.sql --dialect ansi`

[code]

`sqlfluff parse test2.sql --dialect snowflake`

[code]

[2021-02-20 12:25] alanmcruickshank commented on #643
Yep - found the issue. This should be an easy fix - I'll make a test case to catch it too.

[2021-02-20 12:45] alanmcruickshank commented on #768
This would be a great issue for any newcomers. The `snowflake` dialect gets the `CREATE TABLE` segment from the `ansi` dialect. To add this in we should just at an optional `TRANSIENT` keyword to `CreateTableStatementSegment` in `dialect_ansi.py`.

[2021-02-20 12:50] alanmcruickshank commented on #740
@SpokeyWheeler - good work on #748 ! Welcome to the team 😄

Are there any other elements still not parsing in your codebase?

[2021-02-20 13:03] alanmcruickshank commented on #734
Yeah this is a bug. `L003` is generating a fix with five spaces rather than the expected four on the `USING` line. The fix for the `*` in the first line is as expected. This feels like a great case for some test driven development.

[2021-02-20 13:07] alanmcruickshank commented on #714
Thanks for raising the issue @iBalag . I notice you've got dbapi style templating in your query (e.g. `%(startDate)s`) *and* you've got some other templating (`{dynamicFilter}`).

What are you use to generate the other templating?

Making an alternate templating engine to handle the `%` fields would be relatively straightforward, but at the moment we don't have support for multiple different kinds

[2021-02-20 15:11] alanmcruickshank commented on #599
I wonder whether #643 is causing this to appear more than it should 🤔

[2021-02-20 16:00] NiallRees commented on #715
Ok this is weird. I was having some issues with my python environment so totally uninstalled python and reinstalled (pyenv). I'm now using the latest commit on master with dbt 0.19.0 without issue!

[2021-02-20 16:03] barrywhart commented on #715
On rare occasions, I've wondered if I may have a corrupt "compiled" Python file sitting around. Recently, I helped somebody with a wacky pre-commit issue (unrelated to SQLFluff) that went away after we forced pre-commit to re-download all the hook tools. 😬

[2021-02-20 17:41] alanmcruickshank commented on #612
I'm thinking it might be worth adding a `redshift` dialect now, even if it adds no additional functionality over the `postgres` dialect, just so we've got a starting point. Is anyone aware of Redshift specific functionality which isn't in the postgres dialect already? If there is then we should add the important bits now, otherwise it would just be a straight dependency with no additional features

[2021-02-20 17:43] alanmcruickshank commented on #775
I think most of the `CREATE` statements have reasonable coverage, but I agree we shouldn't try and lint all of the other statements precisely. We should be specific enough to be useful and then use some of the more liberal grammar elements (like `GreedyUntil` or `Anything`) to allow some reasonable flexibility within that.

@aaronsteers - have you got a few examples for us to work with?

[2021-02-20 17:47] #643 closed

[2021-02-21 15:09] alanmcruickshank opened #793 "More intelligent dialect inheritance"
At the moment, the only way to have dialect inheritance is to _replace_ particular segments with new definitions. This _works_ but leads to a lot of boilerplate, and lots of boilerplate leads to issues like #643 .

This issue is to implement more intelligent `super()` like functionality to do better dialect inheritance.

Ideas so far (ft. @barrywhart ):
- Similar to the super() feature with classe

[2021-02-21 15:47] NiallRees commented on #715
I'm going to close this as we've proved in the above pr that it isn't true and I'm no longer getting the error in my environment. There may be something else going on here but it's out of scope of this issue

[2021-02-21 15:47] #715 closed

[2021-02-21 17:04] dmateusp commented on #715
I'm not totally clear on the conclusion, are we saying sqlfluff is actually compatible with dbt0.19 ?

[2021-02-21 17:15] dmateusp opened #794 "Provide a template to plugin developers"
I wonder if it may be easier for folks to develop plugins if we provided the example plugin as a separate "GitHub Template Repository" that they could fork, maybe with some templating to replace the word "example", etc.

https://github.blog/2019-06-06-generate-new-repositories-with-repository-templates/
https://rclayton.silvrback.com/templatizing-github-template-repos

_Originally posted by @barry

[2021-02-21 17:23] dmateusp opened #795 "What does `_target_elems` do? A few rules define that property but only L010 seems to use it"
What does `_target_elems` do? I see it in several of the rules, but I can't find any core code or documentation referencing it. 🤔

_Originally posted by @barrywhart in https://github.com/sqlfluff/sqlfluff/pull/705#discussion_r579691841_

[2021-02-21 17:42] NiallRees commented on #715
Yep - https://github.com/sqlfluff/sqlfluff/pull/789

[2021-02-21 19:18] DavidJohnQuinlan commented on #768
Thanks Alan, I will give it a go.

[2021-02-21 20:01] #746 closed

[2021-02-21 21:50] barrywhart opened #796 "Rule: Warn if a query has unused CTEs"
_Originally posted by @NiallRees in https://github.com/sqlfluff/sqlfluff/issues/380#issuecomment-703273699_

This rule can likely reuse the `SelectInfo` class added for another rule (see #779).

[2021-02-22 04:43] rbetzler commented on #531
Mind if I give this one a try? I've seen it out in the wild quite a bit lol

[2021-02-22 09:30] dmateusp commented on #531
That'd be great @rbetzler thanks :) I've seen your commit and it seems you're already on the right track, but let us know if you need any help

[2021-02-22 10:40] SpokeyWheeler commented on #740
Possibly! 😇

[2021-02-23 04:17] rbetzler commented on #531
Could I get a quick look at 0b88499d1320ea8f346a0ff015d7604bac5db556? Given this is my first attempt, I don't want to spam anyone with a bad initial PR lol

If it looks ok, or if it's easier for you all, I can open a PR against upstream. Just let me know what's the preferred process.

That said, I think I've got the basics on (a) returning an error and (b) providing fixes. I ran a few tests on my

[2021-02-23 07:01] nek555 opened #797 "Feature request: Enable use of unix-style line endings when running sqlfluff fix command on Windows"
In our environment, we use Windows PCs for development, but the company standard is that SQL files have unix-style line endings (LF).  We use bash under WSL a lot, and set Windows editors to use LF only.  However, the only python we have available is on Windows. When running sqlfluff fix under python on Windows, the file gets changed from LF to Windows-style line endings CRLF.

I understand that t

[2021-02-23 09:04] #164 closed

[2021-02-23 09:15] dmateusp commented on #531
@rbetzler it's not spam! Just go ahead an open the PR ^^, then we can have a discussion there.

You documented + tested the rule so I'd say it's a 🥇 first go

[2021-02-23 16:30] pwildenhain opened #799 "L019 (trailing vs leading commas) fix doesn't flow around inline comments"
## Expected Behaviour

Inline comments should be taken into consideration when fixing leading to trailing

## Observed Behaviour

The fix incorrectly places a comma _after_ the inline comment, instead of after the field and _before_ the comment

## Steps to Reproduce

`test.sql`
[code]

[code]

fixed `test.sql`
[code]

## Version
Include the output of `sqlfluff --version` along with your Python ve

[2021-02-23 18:09] kgpayne opened #801 "API .get_tables_references() Snowflake Dialect Bug"
## Expected Behaviour
[code]

## Observed Behaviour
SQLFluff throws an ```AttributeError: 'StatementSegment' object has no attribute 'get_table_references'```

## Steps to Reproduce
parsed = sqlfluff.parse("select * from my_schema.my_table", dialect="snowflake")
external_tables = parsed.tree.get_table_references()
print(external_tables)

## Version
sqlfluff 0.4.0, tested with py36, py37, py38, py3

[2021-02-23 18:17] qbatten opened #802 "New Slack link?"
Any chance we could get a new Slack invite link again? Looks like the one in the README & Docs has expired. (As a sidenote, this is basically a re-up of #656.)

If you wanted to create a link that never expires, I believe you can do that via the "Edit link settings" button in the Slack UI! [Here's a link to the relevant Slack doc](https://slack.com/help/articles/201330256-Invite-new-members-to-you

[2021-02-23 19:06] jankatins commented on #531
I also flag this in code reviews, but the logic is actually different if the condition can produce a NULL... Eg when in the initial examples the n is NULL.

[2021-02-24 10:45] kgpayne opened #805 "Expose supported dialects for import"
As a developer using SQLFluff in other projects, it would be helpful to have a list of supported dialects available for import.

Currently I maintain a list of dialects inferred from the project source:

[code]

It would be great to replace this with:

[code]

[2021-02-24 11:22] SpokeyWheeler commented on #740
I'm trying to get all our SQL together so I can run it all through SQLFluff and see what else fails

[2021-02-24 13:19] nolanbconaway commented on #805
This is also what's done in sqlfluff-online! https://github.com/sqlfluff/sqlfluff-online/blob/master/src/app/config.py

[2021-02-24 20:33] alanmcruickshank commented on #801
I think this is solved

[2021-02-24 20:33] #801 closed

[2021-02-24 20:36] alanmcruickshank commented on #795
It defines which types of segments L010 and any rules that inherit from it are looking for.

https://github.com/sqlfluff/sqlfluff/blob/master/src/sqlfluff/core/rules/std/L010.py#L57

L012, L012, L014, L030 & L040 all define it, but they all inherit the same linting logic from L010.

[2021-02-24 21:01] barrywhart commented on #795
Thanks! Could it be worth adding a comment about it in the places where it is used? No big deal, but I was halfway convinced it must be a core feature for rules which I couldn't find the source for. 🤦‍♂️

[2021-02-25 05:07] panasenco commented on #644
@alanmcruickshank The other issue was closed because it was a duplicate of this one. There was no fix and I'm still experiencing the same bug when using sqlfluff from the GitHub master branch. Please reopen...

[2021-02-25 08:56] SUNNUWORKS commented on #649
@alanmcruickshank , I am working on Redshift, and so using `dialect = postgres`.

[2021-02-25 09:53] SUNNUWORKS commented on #649
Also, I have tried restructuring `landing.case` to many styles for the Fluff linter to run and compile properly, as below which still fails,
`landing.[case] cs` , `[landing].[case] cs` and `[landing].[case] AS cs`

[2021-02-25 11:48] #780 closed

[2021-02-25 11:59] NiallRees opened #808 "Add testing for docs in CI"
Let's add some testing on the actual sphinx output?

[2021-02-25 12:24] barrywhart opened #810 "New rule (or enhancement to "SELECT *" rule): Warn if inputs to UNION or INTERSECT have unpredictable input columns/order"
This Stack Overflow post describes a SQL anti-pattern: SQL UNION or INTERSECT require the inputs to have the same columns in the same order. If one or more of the inputs uses `SELECT *`, this is prone to breakage or misbehavior.

https://dba.stackexchange.com/questions/14373/perform-union-all-regardless-of-column-order-in-the-two-joined-tables

Enhance the rule developed for #380 or develop a new,

[2021-02-25 13:16] #805 closed

[2021-02-25 13:30] barrywhart opened #811 "Group or tag the core rules to make bulk enabling/disabling of rules a possibility"
Overall, the growing number of core rules in SQLFluff is a great thing, because it catches more issues. However, many users don't want to simply enable all the rules. For example:
* Some of the rules may not be universally accepted as the one best way.
* Some rules make bigger changes than others. Even when the changes are good, bigger code changes are harder to review, and users may want to make

[2021-02-25 13:35] barrywhart opened #812 "Rules whose docs need rationales (or improvements to existing ones)"
A few rules seem to lack a clear rationale or explanation why they are part of SQLFluff or why SQLFluff considers them "recommended practices". It's important to be clear, because if someone finds a rule annoying, they may want to just disable it. That's fine if they understand the pros and cons of the rule. SQLFluff owes them a description of the pros; if it's unclear, they shouldn't have to go a

[2021-02-25 15:15] cnolanminich commented on #682
I think as dbt gets faster and faster at parsing (a major focus of that project), this will become less of a frustrating UX for sqlfluff. So I think having it as `-v` option would work perfectly

[2021-02-25 16:01] barrywhart opened #813 "Add automated testing to verify correctness of lint fixes"
As the number of SQLFluff rules with automated fixes increases, it becomes more and more important that these fixes **never, ever break or change the behavior** of existing code.

Here's a possible approach. Each rule has a `.yml` file with test cases, including the expected fix.
* For each test with a `fix_string`, introspect the "before" query to deduce a SQL schema that this query can actually

[2021-02-25 17:30] kunagpal opened #814 "Error linting MySQL create table statements"
## Expected Behaviour
The MySQL schema is parsed correctly, with lint issues pointed out where applicable.

## Observed Behaviour
Parsing fails, even with explicit `--dialect` and `--templater` settings.

## Steps to Reproduce
### Schema
[code]

### Options
[code]

### Lint output
[code]

### Parse output
[code]

### Fix output
[code]

## Version
sqlfluff, version 0.4.0

## Configuration
[code]

[2021-02-25 19:33] abalter opened #815 "Please create conda package!"
Please create conda package in conda-forge channel.

[2021-02-25 19:37] alanmcruickshank commented on #815
@abalter - I'm curious. most conda pacakages are first available on pypi, and in my experience I usually use conda where binaries are involved - but as sqlfluff is pure-python I wasn't expecting people to want a conda package. Can you elaborate a bit more on your use case on why a conda package is preferable to pypi?

[2021-02-25 19:41] abalter commented on #815
Conda _started_ as a way to install python packages on pypi. But it grew into a universal package manager. Python keeps all the versions of your various software (R, python, java, c, node, ...) harmonized. It also allows you to export environment specifications so you can build the same environment elsewhere. Conda also tracks pip installs.

Conda is really just pip++, and I'm hoping everything in

[2021-02-25 19:46] RubidiumBlade opened #816 "Snowflake- Unparsable section due to 'CREATE SECURE VIEW...'"
-- If this is a parsing or linting issue, please include a minimal SQL example which reproduces the issue, along with the `sqlfluff parse` output, `sqlfluff lint` output and `sqlfluff fix` output when relevant. Finally, please add any labels that are related to the issue before submitting so that it can be addressed easily! --

## Expected Behaviour
Snowflake supports using the `SECURE` option whe

[2021-02-25 19:48] abalter commented on #815
Information:

https://stackoverflow.com/questions/54834579/specific-reasons-to-favor-pip-vs-conda-when-installing-python-packages

https://www.anaconda.com/blog/understanding-conda-and-pip

https://towardsdatascience.com/pipenv-vs-conda-for-data-scientists-b9a372faf9d9

https://www.earthdatascience.org/courses/intro-to-earth-data-science/python-code-fundamentals/use-python-packages/introduction-to

[2021-02-25 20:20] alanmcruickshank commented on #815
@abalter - do you have any documentation on how to publish a conda package? I'm not familiar with the process. If it's relatively straightforward then I would be happy to add it to our standard release pipeline.

[2021-02-25 21:08] abalter commented on #815
I think these are good docs. I would love to take this on myself, but my life simply has no room for rabbit holes at this time.

Building conda packages from scratch — conda-build 3.21.4+2.gfa451287.dirty documentation
https://docs.conda.io/projects/conda-build/en/latest/user-guide/tutorials/build-pkgs.html

Conda-build recipes — conda-build 3.21.4+2.gfa451287.dirty documentation
https://docs.cond

[2021-02-26 09:09] jnoynaert opened #818 "sqlfluff[dbt] on official python 3.8 image only works with dbt==0.18"
Relates to #789, #715.

Maybe not a truly sqlfluff problem, but worth noting that if you start fresh with the official `python:3.8` or `python:3.8-buster` images, sqlfluff essentially refuses to install with dbt 19.0.

I'd bet a decent number of sqlfluff users are using the python:3.8 image or an equivalent environment.

[code]

[code]
alternatively, though:

[code]

[2021-02-26 18:55] SpokeyWheeler commented on #740
Oh boy. There's a LOT.

[2021-02-27 00:48] panasenco opened #820 "Add PascalCase capitalisation_policy"
[L014](https://docs.sqlfluff.com/en/stable/rules.html#sqlfluff.core.rules.std.Rule_L014) (Inconsistent capitalisation of unquoted identifiers) needs a PascalCase capitalisation_policy option, implemented as follows:

- Unquoted identifier does not contain non-alphanumeric characters
- Unquoted identifier begins with a capital letter

[2021-02-27 01:02] panasenco opened #821 "L014 needs only_aliases configuration options like L029 has"
[L014](https://docs.sqlfluff.com/en/stable/rules.html#sqlfluff.core.rules.std.Rule_L014) (Inconsistent capitalisation of unquoted identifiers) needs an `only_alises` (True/False) configuration option like [L029](https://docs.sqlfluff.com/en/stable/rules.html#sqlfluff.core.rules.std.Rule_L029) already has that would make the rule apply only to aliases.

The reason for this is because we can't alway

[2021-02-27 10:27] alanmcruickshank commented on #820
This sounds doable. We have the added benefit that implementing it in L010 will also get the other capitalisation rules too.

I don't know a feasible way of detecting words *within* an identifier so that would mean:
- `PascalCase` would pass
- `Pascalcase` would pass
- `pascalCase` would fail and be corrected to `Pascalcase`
- `PasCalCaSe` would pass
- `PAscalcase` would pass
- `PASCALCASE` would

[2021-02-27 13:14] barrywhart commented on #820
I agree -- detecting words within an identifier would involve a lot of guesswork by the implementer and/or the SQLFluff runtime. Some potential ideas that might help a bit:
* Embed a human-language dictionary. Cons: 1. Often a portion of a word is also a word, e.g. "Begin" or "BegIn". I suppose you could have it pick the *longest* words whenever there's ambiguity. 2. Many technical words won't be

[2021-02-28 16:53] alanmcruickshank commented on #765
The last of these bugs now has a PR in place. I suggest we move to beta in the next release. I'll add that to the PR.

[2021-02-28 17:00] alanmcruickshank commented on #808
The rule docs are now fixed (thanks to #817). I agree that some testing on the sphinx docs makes a lot of sense though. I've update the issue to be an enhancement as a result.

[2021-02-28 18:03] dmateusp commented on #808
The [Great Expectations project](https://github.com/great-expectations/great_expectations) does something quite nice:

For each PR they generate docs on CI and these are available to see for reviewers.

Check [my PR](https://github.com/great-expectations/great_expectations/pull/1662), if you see the details of CI there's a [link to the docs](https://great-expectations--1662.org.readthedocs.build/e

[2021-02-28 22:11] #641 closed

[2021-02-28 22:11] #669 closed

[2021-03-01 05:21] nek555 opened #823 "[bigquery] CREATE TEMP TABLE AS is unparsable"
in BigQuery dialect, CREATE OR REPLACE TEMP TABLE AS SELECT ... statement is unparsable, while the same statement without TEMP is parsable.

## Expected Behaviour
Expected CTAS with TEMP table statement to be parsable

## Observed Behaviour
CTAS with TEMP table statement is not parsable

## Steps to Reproduce
See attached files sqlfluff_unparsable_test.sql and sqlfluff_parsable_test.sql
Outputs fr

[2021-03-01 05:22] nek555 commented on #823
Same behavior is seen with TEMPORARY instead of TEMP  or with CREATE OR REPLACE instead of CREATE

[2021-03-01 11:56] NiallRees commented on #797
I think the answer to this is just a config option to specify line endings when writing files, with options of maybe `system default`, LF and CRLF?

[2021-03-01 12:15] iBalag commented on #714
@alanmcruickshank Just a custom python parser which parses GET request params (`api.example.com/users?name='John'&age=18`) to SQL code (with SQL injection checking) - `name = 'John' AND age = 18`. Not a perfect solution, I know :)

[2021-03-01 12:58] #765 closed

[2021-03-01 13:26] #716 closed

[2021-03-01 15:13] emily-hawkins opened #827 "ANSI dialect can't parse expression with "AND NOT", e.g. "SELECT a AND NOT i.b FROM i""
-- If this is a parsing or linting issue, please include a minimal SQL example which reproduces the issue, along with the `sqlfluff parse` output, `sqlfluff lint` output and `sqlfluff fix` output when relevant. Finally, please add any labels that are related to the issue before submitting so that it can be addressed easily! --

## Expected Behaviour
this is the part of the query it's saying is mis

[2021-03-01 16:11] emily-hawkins opened #828 "Lex error, unable to parse regex"
-- If this is a parsing or linting issue, please include a minimal SQL example which reproduces the issue, along with the `sqlfluff parse` output, `sqlfluff lint` output and `sqlfluff fix` output when relevant. Finally, please add any labels that are related to the issue before submitting so that it can be addressed easily! --

## Expected Behaviour
no error

## Observed Behaviour
[code]
and
[code

[2021-03-01 16:21] hdemers opened #829 "Are there plans to support Jinja `include` and `from` statements?"
Currently, when trying to lint an sql file with one of these jinja statements:

[code]
or
[code]
it will fail with the message: "no loader for this environment specified".

Unless I'm missing something, this seems to be caused by the use of a SandboxedEnvironment with, as the message says, no loader to load either _my_macros.sql_ or _file.sql_.

Are there any plans to support these? Or maybe I'm d

[2021-03-01 17:21] panasenco commented on #820
Agreed, @alanmcruickshank.

I think you meant `pascal_case` would fail and be corrected to `PascalCase`. If so, agreed.

Additionally, `PASCAL_CASE` would fail and be converted to `PascalCase`.

I don't think there's a need to detect words within identifiers, @barrywhart. Sane people will either separate their words with underscores or use PascalCase. Someone who names their identifiers `runonsame

[2021-03-01 17:28] OJFord commented on #610
It was master at the time (via `rev: master` in the pre-commit hook). No `.sqlfluff`, `tox.ini`:
[code]

It was just a first pass to try to add SQL linting to an existing project, but unfortunately hit quite a few errors, this seemed to be most common from what I recall. I'll hopefully have another stab at it soon.

[2021-03-01 17:45] OJFord commented on #610
I just tried again with v0.4.1 - what's odd to me is that fix succeeds (after four iterations before no diff) but lint fails, even on the same files... How can it fail to parse - or even lex in some cases - and yet the fixer can modify it fine (the output looks sensible)?

`COMMENT ON VIEW name IS 'comment';` is one that fails 'PRS' with `sqlfluff-lint`, but the file is reformatted no problem.

Th

[2021-03-01 18:11] barrywhart commented on #610
About the parsing errors, when SQLFluff parser is not an "all or nothing" thing. It generates a partial "best effort" parse tree even when it can't parse everything. Some but not all of the rules/fixes are configured to run when the parse fails. Generally, these are the simpler rules that look at small parts of the SQL.

[2021-03-01 18:13] barrywhart commented on #610
Thanks for the updated report. Knowing the version should help us reproduce and fix this.

[2021-03-01 18:51] giselamorrone opened #830 "Not recognizing missing ";""
-- If this is a parsing or linting issue, please include a minimal SQL example which reproduces the issue, along with the `sqlfluff parse` output, `sqlfluff lint` output and `sqlfluff fix` output when relevant. Finally, please add any labels that are related to the issue before submitting so that it can be addressed easily! --

## Expected Behaviour
Get an error when there is a missing **;**

**te

[2021-03-01 19:05] mdimercurio opened #831 "Templated jinja is not ignored"
When trying to use macros from a package, sqlfluff returns an error when these should be skipped because of the `ignore_templated_areas` parameter.

## Expected Behaviour

`dbt_utils` macros should be ignored in the lint command.

## Observed Behaviour

`sqlfluff lint` output

[code]
-- If this is a parsing or linting issue, please include a minimal SQL example which reproduces the issue, along wi

[2021-03-01 19:28] NiallRees commented on #831
Hey @mdimercurio! So this is actually the expected behaviour. ignore_templated_areas just means that linting errors directly attributable to a templates section are not raised. The best way to overcome the error you're seeing is with the dbt templater 🙂 I'm going to close this issue if ok 👍

[2021-03-01 20:33] mdimercurio commented on #831
Hi @NiallRees, I opened this issue after discussing it on [Slack here](https://sqlfluff.slack.com/archives/C01GX4L213J/p1614473146020900). When using the dbt templater, I'm getting a lot of failures due to jinja adding line breaks and trailing spaces. Is there a solution to resolve that if I should use the dbt templater?

[2021-03-01 21:10] osvenskan commented on #347
Perhaps this should be its own issue, but it would be nice to support Postgres  dollar quoting which is a pretty common technique for delimiting function definitions --
[code]

https://www.postgresql.org/docs/current/sql-syntax-lexical.html#SQL-SYNTAX-DOLLAR-QUOTING

[2021-03-01 21:22] greg-finley opened #832 "Snowflake "flatten" keyword capitalisation"
`sqlfluff lint my-file.sql --dialect snowflake --rules L009,L010,L011,L019 --ignore parsing`

`LATERAL flatten (input => quiz_metadata:responses) AS response`

## Expected Behaviour
Complain that `flatten` is not capitalised.

## Observed Behaviour
With the new version of sqlfluff, it only complained about `LATERAL` not `flatten`.

## Version
[code]

[2021-03-01 21:25] jankatins commented on #347
We use that '$$' quoting extensively, also as $anychars$<here the string>$anychars$" to make it even easier to do stuff like

[code]
(didn't check if this compiles, but the quote/dollar pattern is what we use...)

[2021-03-01 21:26] jnoynaert commented on #818
Works if you start from ubuntu:20.04, aside from throwing the following incompatibility errors (I haven't actually tested the functionality):

[code]

[2021-03-01 21:44] pwildenhain commented on #831
The `dbt` templater should ignore the lint errors like Nial said, so this would still be a relevant issue. Can you post what the output looks like when you set `templater = dbt`?

[2021-03-01 22:28] mdimercurio commented on #831
here is an example of my issue with the templater:
[code]

[code]

[2021-03-01 22:41] dwallace0723 opened #833 "Critical Linting Error - L003"
Came across this `CRITICAL` error when linting our dbt project. Details below:

[code]

#### Verbose Output:
[sqlfluff_out.txt](https://github.com/sqlfluff/sqlfluff/files/6064863/sqlfluff_out.txt)

#### Version
[code]

#### Configuration
[code]

#### SQL
[code]

#### Compiled SQL
[code]

[2021-03-01 23:55] jnoynaert commented on #818
Okay, seems to do with the version of pip packaged with certain images? At this point I have a working build pipeline s I'm probably done digging.

This works (still with the above incompatibility errors):

[code]
This does *not* work:
[code]

[2021-03-02 00:18] dwallace0723 commented on #818
We are also experiencing this issue. `python:3.8.6-slim-buster` image.

[2021-03-02 01:49] barrywhart opened #835 "BigQuery parsing error with "<" or ">" operator in a CTE"
Query:
[code]

Much simpler query with same issue:
[code]

I strongly believe this bug is related to the changes in #325, where we changed the scanner/parser to support BigQuery UDFs and the related angle bracket syntax. Why do I think this?
* If I pull out the CTE as a standalone query, it parses okay.
* If I change the `>` to `<`, I get a different error: `L:   1 | P:  31 |  PRS | Couldn't find

[2021-03-02 17:59] will-misslin opened #837 "Enforce indent_unit rule on all files"
-- Please add any additional labels that are related to the issue before submitting! --
The `.sqlfluff` config section for `[sqlfluff:rules]` contains an `indent_unit` option which allows for selection of `space` or `tab` for indenting. While this rule appears to be followed for lines modified by sqlfluff, it would be awesome if this rule could also be checked and enforced for existing files that

[2021-03-03 06:39] nek555 commented on #797
A config option would be perfect.  For completeness, may as well include CR for Classic Mac, although probably not use much any more.

[2021-03-03 22:33] barrywhart opened #839 "Lint rules should have access to the file path of the file being linted"
I'm working on an organization-specific rule (a plug-in) and realized that it could be very useful for rules to have access to the path of the file that is currently being linted.

Context: The SQL files in our projects fall into two categories, similar to dbt:
* Model files (These create output tables)
* Pre- or post-conditions (These enforce constraints on the data but do not create output table

[2021-03-04 14:33] cnolanminich commented on #601
I can't tell if this is related, or if it's even a sqlfluff bug, but I'll post it here in case others will experience something similar.

We are getting ready to use the dbt templater for our CI. Our CI runs on an on-prem Jenkins server (that is itself running as a Docker container). Our (non-dbt) templater has been working 💯  👌  for months now.

I upgraded the the Docker image we use to use the `

[2021-03-04 15:08] barrywhart opened #840 "Rename BaseCrawler class as BaseRule to be clearer, avoid confusion with analysis helper classes, e.g. SelectCrawler"
Discussed here:
https://github.com/sqlfluff/sqlfluff/pull/779#pullrequestreview-604167034

[2021-03-04 15:54] daniel-murray opened #842 "Parse error with regex (dbt)"
-- If this is a parsing or linting issue, please include a minimal SQL example which reproduces the issue, along with the `sqlfluff parse` output, `sqlfluff lint` output and `sqlfluff fix` output when relevant. Finally, please add any labels that are related to the issue before submitting so that it can be addressed easily! --

I'm getting an unexpected parsing error.

Here's a snippet of the code

[2021-03-04 19:02] angelcontreras-zebra opened #844 "Error running sqlfluff lint with templater = dbt"
## Error

anyone tried to run use `templater = dbt` in the `.sqlfluff` file and got this error?

[code]

## Expected Behaviour
show the normal ident error that i need to fix.

## Observed Behaviour
Only if i use: `templater = dbt` in the .sqlfluff file.

## Steps to Reproduce
Witht the specified Configuration just need to run the below code and you will get the error:
[code]

## Version
sqlfluff,

[2021-03-04 21:30] barrywhart opened #845 "L016 reports "Line is too long" AFTER template expansion"
## Expected Behaviour

No lint warnings.

## Observed Behaviour

Note the position (122). This line is only 53 characters long, pre-templating.
[code]

## Steps to Reproduce

## Version
SQLFluff version 0.4.1
Python version 3.7.3

## Configuration
[code]

Query:
[code]

[2021-03-04 21:50] barrywhart opened #846 "Parse error when using "UNION DISTINCT" or "UNION ALL""
## Expected Behaviour

Successful parse of this query:
[code]

## Observed Behaviour

[code]

NOTE: It works if I remove the `ALL`, so I think using the optional qualifiers `ALL` or `DISTINCT` is triggering the issue.
## Steps to Reproduce

## Version
SQLFluff version 0.4.1
Python version 3.7.3

## Configuration

No `.sqlfluff` file present

[2021-03-05 01:23] hazedav commented on #784
FWIW I'm a +1 for this...

[2021-03-05 09:00] SuperBo opened #847 "Whitespace token is_whitespace is False"
I expect segment.is_whitespace of a Whitespace token is True, however, it is set to False.

## Expected Behaviour
segment.is_whitespace return True

## Observed Behaviour
segment.is_whitespace return False
## Steps to Reproduce

## Version
Include the output of `sqlfluff --version` along with your Python version

## Configuration
[code]

[2021-03-05 18:19] dwallace0723 opened #848 "Postgres fix failure"
Getting the following error when attempting to run `sqlfluff fix` on model files contained within my dbt project:

[code]

#### Version
[code]

#### Configuration
[code]

Uncompiled SQL:
[code]

#### Compiled SQL
[code]

#### Parse Output
[code]

#### Command
`$ sqlfluff fix models/dw_r_coupons.sql --rules L010 -vvvvv`

#### Output
[sqlfluff_verbose_output.txt](https://github.com/sqlfluff/sqlfluff

[2021-03-10 09:15] reubster commented on #647
I think I'm experiencing this. I'm using vscode and it works correctly when I switch the line ending on the file to LF, but messes up when I set the file line ending to CRLF.

Start:

[code]

Fix all with file set to CRLF

[code]

Fix all with file set to LF

[code]

[2021-03-10 13:35] SUNNUWORKS commented on #649
Closing the ticket by resolving case table name to be quoted in SQL script.
Replace `landing.case` to `landing."case"` and it works like a charm.

[2021-03-10 13:35] #649 closed

[2021-03-10 14:06] SUNNUWORKS opened #849 "Parsing Error : Unable to parse DEFAULT in postgreSQL dialect"
I am using postgreSQL dialect and for the following SQL script, I'am executing linting from sqlfluff, which fails
[code]
Executing the following command results into failure
`sqlfluff lint .\redshift\landingTables\shift.sql`
with the following output,
[code]

SQL fluff parse output for the same snippet is as follows,
[code]

## Expected Behaviour
The SQL script should PASS the lining check as it's

[2021-03-10 21:56] emily-hawkins opened #850 "Warnings are not being handled correctly with --format json"
-- If this is a parsing or linting issue, please include a minimal SQL example which reproduces the issue, along with the `sqlfluff parse` output, `sqlfluff lint` output and `sqlfluff fix` output when relevant. Finally, please add any labels that are related to the issue before submitting so that it can be addressed easily! --

## Expected Behaviour
warnings should print to stderr and not stdout

[2021-03-10 22:47] barrywhart commented on #850
@emily-hawkins: I created a PR which I believe fixes the issue. Are you able to test it?

[2021-03-11 06:55] SuperBo opened #852 "Grammar issue: If a query uses UNION, the ORDER BY should apply to the whole result set, not the last query"
`
SELECT City FROM Customers
UNION
SELECT City FROM Suppliers
ORDER BY City
`

## Expected Behaviour
*orderby_clause* should be in the right under *set_expression*.

## Observed Behaviour
*orderby_clause* is two level under *set_expression*, under the last *select_statement*

the output should be the same as following query as mentioned here https://dev.mysql.com/doc/refman/8.0/en/union.html

`
(S

[2021-03-11 09:46] dmateusp opened #853 "Rule: consistent syntax for COUNT(*) / COUNT(1) -> COUNT ALL"
I came across this post on LinkedIn: https://www.linkedin.com/posts/eczachly_dataengineering-activity-6775447325725769728-EhK3 advocating to always use `COUNT(1)` vs `COUNT(*)`.

My personal opinion, not that it matters in the context of implementation of the rule, is that both syntaxes are a way to say "COUNT all rows in this query". In many (most?) cases it seems like the engine optimizers just

[2021-03-11 09:47] dmateusp commented on #853
If you're reading that issue too fast I actually pressed "enter" by mistake so I'm not done writing it up ^^

[2021-03-11 16:47] atgmello opened #854 "Fix command mangles file when jinja comment is present"
## Expected Behaviour
Correctly fix trailing commas from input file.

Input file `stg_payments.sql`:
[code]

`sqlfluff fix` command line output:
[code]

Expected `stg_payments.sql` output:
[code]

## Observed Behaviour
Actual output:

[code]

## Steps to Reproduce
`sqlfluff fix stg_payments.sql`

## Version
qlffluff: 0.4.1
dbt: 0.19.0
python: 3.7.10

## Configuration
Tested with both
[code]
and
[c

[2021-03-11 16:57] atgmello commented on #854
A few minutes after posting this and playing with the above SQL a bit more, I was able to pinpointed the real issue. `sqlfluff` actually has no problems with Jinja comments of the form `{# ... #}`.

It does, however, get lost with the pattern `{#- ... #}` from above. Removing the dash at the beginning of the comment stops `sqlfluff` from breaking.
This SQL file is straight from dbt's [Jaffle Shop]

[2021-03-12 06:34] barrachri opened #855 "[BigQuery] Found unparsable section: 'UPDATE\n"
Hi there!

I am running sqlfluff on a BigQuery update query and the linter throws an `unparsable section` error.

## lint

[code]
## parse

[code]

## Expected Behaviour

No errors

## Observed Behaviour
[code]

## Steps to Reproduce

[code]

## Version
Include the output of `sqlfluff --version` along with your Python version

## Configuration
[code]

[2021-03-12 07:01] barrachri opened #856 "[BigQuery] Couldn't find closing bracket for opening bracket."
Hi there!

I am running sqlfluff on a BigQuery update query and the linter throws a `Couldn't find closing bracket for opening bracket.
` error.

## lint

[code]

## Expected Behaviour

No errors

## Observed Behaviour
[code]

## Steps to Reproduce

[code]

## Version
Include the output of `sqlfluff --version` along with your Python version

## Configuration
[code]

[2021-03-12 13:01] barrywhart commented on #856
I think this is the same as #835. The BigQuery dialect has issues parsing queries with `<` or `>` inside parentheses.

I have a PR, #836, which addresses that issue.

[2021-03-12 13:17] barrywhart commented on #855
I think this issue is the result of two missing grammar features:
* Support for aliases in `UPDATE` statements (`AS tttd`). This [section of the docs](https://cloud.google.com/bigquery/docs/reference/standard-sql/dml-syntax#update_examples) has an example. This syntax is also supported by [Postgres](https://www.postgresql.org/docs/9.1/sql-update.html).
* Support for [`FROM` clause in `UPDATE` stat

[2021-03-12 22:09] GClunies opened #857 "Unable to lint Ephemeral model - Errors with "dbt.exceptions.InternalException: Asked to compile ... node, but it has no compiled form""
## Expected Behaviour
If I try to run `sqlfluff lint .` to lint the entire `dbt` project, I expect to get the linted output with the style violations and line numbers. I do not expect Python related stacktrace errors.

## Observed Behaviour
If I try to run `sqlfluff lint .` on the entire `dbt` project, I get errors for some models (34 models error like this out of 663 total).
[code]

I would not e

[2021-03-13 15:42] dmateusp commented on #839
makes total sense, thanks for the context

[2021-03-13 15:44] dmateusp commented on #839
Would you mind sharing a small snippet of how you're using the file name inside the rule just as reference for folks trying to do this in their own rules in the future?

[2021-03-13 16:58] barrywhart commented on #839
Here's an example:
[code]

[2021-03-13 16:58] #839 closed

[2021-03-13 17:24] #380 closed

[2021-03-13 17:24] #796 closed

[2021-03-13 18:58] #835 closed

[2021-03-13 22:43] GClunies opened #861 "dbt-templater doesn't respect trailing newline when exclude_rules = L009"
## Expected Behaviour
If `exclude_rules = L009` is included in the `.sqlfluff` config when using `templater = dbt` , then any trailing newlines that are found at the end of a source dbt SQL model should be left as is when running `sqlfluff fix my_dbt_model.sql`. If no trailing newline exists, do nothing.

## Observed Behaviour
When `exclude_rules = L009` is included it the `.sqlfluff` config and u

[2021-03-14 10:07] dmateusp opened #862 "No variable introspection on test failure"
Since I refactored the test helper code to live in the `testing` module, we lost variable introspection. On rule test case failure we are not getting the string that failed anymore but just `AssertionError`.

The same issue as https://stackoverflow.com/questions/53001496/pytest-assertion-doesnt-show-differences-on-assertionerror

[2021-03-14 13:42] #850 closed

[2021-03-14 15:59] #816 closed

[2021-03-14 16:57] barrywhart commented on #862
Can you give an example of how to reproduce this? FWIW, I added a line to make something in `grammar_test.py` fail, and the failure output looks okay to me:

[code]

[2021-03-14 17:09] barrywhart commented on #856
I tested and reproduced this on the latest `master` as of 2021-03-14. I believe the issue is that SQLFluff's grammar for `CREATE TABLE AS` is not supporting CTEs. If I remove the CTE, it parses okay. I pasted the test query into the BigQuery web editor, and it parses okay, so I agree this is a bug.

I'll see if I can narrow down the issue with a smaller query or something specific about the gramma

[2021-03-14 17:21] barrywhart commented on #856
Updates:
It also fails with (apparently) the same error if `dialect = ansi`

This simplified version of the query also fails to parse:
[code]

Moving the CTE to a nested query works:
[code]

The ANSI grammar _appears_ to support this syntax:
* `CREATE TABLE AS` can be [followed by a `SelectableGrammar`](https://github.com/sqlfluff/sqlfluff/blob/master/src/sqlfluff/core/dialects/dialect_ansi.py#L18

[2021-03-14 17:26] barrywhart commented on #856
I found the problem! I noticed that if I remove the parentheses around the query, it parses:
[code]

The issue is that `CREATE TABLE AS SELECT` needs to allow parentheses. A basic `SELECT` (no CTE) works because (I think) you're allowed to surround a query with parentheses, like with nested queries.

Question: With `CREATE TABLE AS SELECT`, are parentheses *required* or *optional*?

[2021-03-14 17:29] dmateusp commented on #862
Is that helpful? https://github.com/sqlfluff/sqlfluff/pull/863/files#diff-ead5e89d7e5ab1974668fadf5d27df3da43cb2f63acf1a29977476a7ec6f8c12R49

We moved some testing logic into `sqlfluff.testing` to make it available to plugin tests, those helpers were not giving variable introspection detail anymore (a "naked" AssertionError instead), I added a test that checks that we do not break it in the futur

[2021-03-14 17:29] barrywhart commented on #856
Answer: `CREATE TABLE AS SELECT` should _not_ require parentheses, but they are permitted.

https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language#query_statement

[2021-03-14 17:42] barrywhart commented on #856
Note that this is related to #650: "Are we optionally bracketing where we should be, and should we add an OptionallyBracketed segment?"

[2021-03-14 18:55] barrywhart commented on #862
I see the PR now, so no worries. I wanted to get enough info in case someone else worked on it. 👍

[2021-03-14 20:47] barrywhart commented on #852
In other words, with a `UNION` query, the `ORDER BY` applies to the entire result set, not the last query.

https://stackoverflow.com/questions/4715820/how-to-order-by-with-union-in-sql

@SuperBo: I agree that the query is being parsed incorrectly. Can you explain how this is affecting your use of SQLFluff? That will help us to determine the priority of this issue.

[2021-03-14 20:57] barrywhart commented on #847
To triage this issue, I searched the SQLFluff code to find all uses of `is_whitespace`. This is the only one I found:
[code]

@alanmcruickshank: What's the purpose of `is_whitespace`?

I see that long ago (2019), there was a class `WhitespaceSegment` (also a `NewlineSegment`). Now it's not a class -- instead, it'd defined in `src/sqlfluff/core/rules/base.py`.

[2021-03-14 21:35] barrywhart commented on #846
This parse error occurs because the `SELECT`s do not contain a `FROM`. This is valid SQL and is mainly used to "generate" data. The test query returns a result set containing the values `0` and `1` without requiring a table to exist.

[2021-03-14 21:45] barrywhart commented on #846
I've tinkered with this for 30 minutes or more, and I'm not making any progress getting it to parse. It seems that the parser is getting confused determining the end of the first `SELECT` if it doesn't contain a `FROM` **and** we use `UNION ALL` or `UNION DISTINCT`, but plain old `UNION` is fine. Any ideas, @dmateusp or @alanmcruickshank?

This is a good query to experiment with:
[code]

You'll se

[2021-03-14 22:10] barrywhart commented on #827
Can you provide an entire query which demonstrates the problem? It can be a "toy" query, but having a complete query makes it much easier for us to reproduce and fix problems. Thanks!

[2021-03-14 22:13] barrywhart commented on #823
The issue does not provide a full SQL statement. I used this statement to try and reproduce the issue:
[code]

I tested this against 3 versions of SQLFluff:
* 0.3.6: Fails
* 0.4.1: Fails
* `master`, as of 2021-03-14: Works.

So I expect this will work in the next release, which I think will be 0.4.2 or 0.5.0.

[2021-03-14 22:16] barrywhart commented on #759
The PR mentioned above has been merged, addressing #164. I think this issue is a duplicate of that one. Leaving open for now in case there are questions.

[2021-03-14 22:17] #795 closed

[2021-03-14 22:21] barrywhart commented on #740
@SpokeyWheeler: I have a suggestion now that your initial PR (#748) was merged. This is currently a very broad issue open lacking examples of the things that fail. I think it will work better to close this issue and open individual issues for each kind of parse error you find. This will make it easier for other people to help fix the issues, and it'll be easier to track the progress of this work.

[2021-03-14 22:24] barrywhart commented on #685
Closing this, as I think it's been fixed (possibly accidentally, e.g. when we split the rules into individual files).

[2021-03-14 22:24] #685 closed

[2021-03-14 22:30] barrywhart commented on #546
This rule is somewhat related to [`L044`](https://github.com/sqlfluff/sqlfluff/blob/master/src/sqlfluff/core/rules/std/L044.py). It could (and probably should) be a separate rule, but I'm mentioning this as a reference because `L044` also examines how queries use `SELECT *`.

[2021-03-14 22:34] barrywhart commented on #347
I'll change the title of this issue to reflect the new goal.

[2021-03-14 22:38] nek555 commented on #823
There were SQL examples in the attached zip file. I should have put the SQL into the issue as well.  My example is almost identical to the example that you came up with.  I'll try the next release soon.   Thank you!

[2021-03-14 23:07] NiallRees commented on #685
Yep thank you @barrywhart 👍

[2021-03-15 16:03] emily-hawkins commented on #827
sure, here the whole query. the snippit i added in the description shows where the problem is occurring in the query.

[code]

[2021-03-15 20:31] barrywhart commented on #827
Thanks @emily-hawkins! I took your test query and was able to reproduce the problem.

I gradually removed parts of the query to find a minimal example. Here's what I learned:
* This is a an issue in SQLFluff's parsing. SQLFluff is not understanding the `something AND NOT something_else` syntax.
* The same issue occurs in the base ANSI dialect, so the issue is not specific to Snowflake.
* You're se

[2021-03-15 20:43] barrywhart commented on #827
@emily-hawkins: As a workaround, if you add parentheses, it will parse correctly, i.e. replace this:
`NOT i.is_excluded_upc`

with `(NOT i.is_excluded_upc)`

[2021-03-15 20:50] emily-hawkins commented on #827
thanks for the tip!

[2021-03-15 21:32] barrywhart commented on #827
I've reviewed the ANSI grammar and identified an areas of potential focus for fixing the bug.

Around line 1241:
[code]

Here, I've changed `"NOT"` to `Ref.keyword("NOT", optional=True)`. With this change, the query parses, but the parse looks incorrect. Notice that `NOT` is parsed as a `column_reference`.

[code]

[2021-03-15 23:09] #802 closed

[2021-03-16 16:53] cjonesy opened #869 "[BigQuery] Subquery with where clause causing: Couldn't find closing bracket for opening bracket."
When running SQLFluff against a query containing subqueries I get `Couldn't find closing bracket for opening bracket.`. If I remove the `where` clause in the subquery then it will parse the query without erroring.

**Example query that does not parse:**
[code]

**SQLFluff Output (with where clause):**
[code]

**Example query that does parse:**
[code]

**SQLFluff Output (without where clause):**
[c

[2021-03-16 17:23] cjonesy commented on #869
I just realized that this works in master, it was fixed after his commit: https://github.com/sqlfluff/sqlfluff/commit/993e7f4daf5a0b6b7c73b3405332f964ef121f25

Closing this out since it is no longer a bug!

[2021-03-16 17:23] #869 closed

[2021-03-16 19:08] barrywhart commented on #869
🎉

[2021-03-17 14:52] osvenskan opened #871 "CROSS JOIN confuses parser?"
## Expected Behaviour
SQLFluff should recognize the alias `foo`

## Observed Behaviour

The alias `foo` isn't recognized. When I remove the `CROSS JOIN`, SQLFluff no longer emits L026 for `foo`.

[code]

## Steps to Reproduce
`sqlfluff lint test.sql` with default config

Contents of `test.sql` --
[code]

## Version
[code]

## Configuration
I don't have a config file; I'm using the default config f

[2021-03-17 15:02] osvenskan commented on #871
When I downgrade to 0.4.0, linting the same file doesn't emit L026 for `foo`, so perhaps this is a regression in 0.4.1?

[code]

[2021-03-18 09:08] NiallRees commented on #844
Hi @angelcontreras-zebra your stacktrace shows that you're using python 3.9 - dbt does not currently support 3.9. Going to close this for now.

[2021-03-18 09:08] #844 closed

[2021-03-18 10:15] barrachri commented on #856
Thanks @barrywhart, I'll modify the query 👍

[2021-03-18 13:04] pwildenhain opened #873 "Add "enable" and "disable" syntax to noqa to allow rules disabling across multiple lines"
See the `pylint` docs for an example: https://docs.pylint.org/en/1.6.0/faq.html#is-it-possible-to-locally-disable-a-particular-message

[2021-03-18 13:12] barrywhart commented on #856
@barrachri: I'm sorry -- that message about parentheses was for me (the person working on a fix), not for you. But yes, removing the parentheses should serve as a workaround until the fix is merged and released (PR #864).

[2021-03-19 09:48] ThierryGrb opened #874 "Parsing issue for NOT without parenthesis"
## Expected Behaviour
No error raised.

## Observed Behaviour
When not in parenthesis, the `NOT` condition is not parsed correctly.

It results in parsing error and/or rule errors (due to a wrong parsing).

[code]

## Steps to Reproduce
In `test.sql`:
[code]

Run `sqlfluff lint test.sql`.

Remarks :
- with `SELECT TRUE AND (NOT FALSE)` there is no parsing error.
- with `SELECT TRUE AND NOT FALSE`

[2021-03-19 10:58] #862 closed

[2021-03-19 12:51] barrywhart commented on #874
I think this is a duplicate of #827

[2021-03-19 19:14] barrywhart opened #876 "Clean up AliasedTableReferenceSegment grammar"
This is a tech debt issue; nothing of concern to users.

In working on #865, Niall and I noticed something a bit odd about `AliasedTableReferenceSegment`. In order to add support for using table aliases in `UPDATE` statements, I had changed `UpdateStatementSegment` from:

[code]

to:

[code]

This worked, and all tests (new and old) passed because the match grammar for `AliasedTableReferenceSegmen

[2021-03-19 19:15] barrywhart commented on #876
@NiallRees: I created this after our discussion. How does this look?

[2021-03-19 19:16] NiallRees commented on #876
Nice @barrywhart . I think that the real solve here is in your last question, and that `AliasedTableReferenceSegment` should only match on aliased tables references per its title.

[2021-03-19 20:12] #856 closed

[2021-03-19 21:01] #855 closed

[2021-03-20 23:19] DavidJohnQuinlan opened #878 "Snowflake schema object double-dot notation parsing error"
## Expected Behaviour

In Snowflake a fully-qualified schema object (table, view, file format etc.) has the form:

`<database_name>.<schema_name>.<object_name>`

However, this can be tedious to write, therefore, it is possible to exclude the `schema_name` and use the following syntax in a query:

`<database_name>..<object_name>`

The two dots indicate that the schema name is not specified. The PUB

[2021-03-20 23:28] alanmcruickshank commented on #852
Agreed that we should change the parse structure to default to the order by and limit clauses in the outer structure.

Snowflake agrees: https://docs.snowflake.com/en/sql-reference/operators-query.html

This also makes me wonder whether:
- if an order by and limit clause are provided in the first of the two queries, are they just ignored or does it raise a syntax error?
- if any ORDER BY within a

[2021-03-20 23:29] alanmcruickshank commented on #840
Yes. The fact that it's called a crawler is a historic artifact when I thought that the crawlers and rules might be separate. Given they're not, this makes total sense.

[2021-03-21 01:27] barrywhart commented on #852
Re:

I tested this on BigQuery and got a syntax error "Expected end of input".
[code]

This query also reports a syntax error, in spite of the `LIMIT` clause (which surprises me).
[code]

Adding parentheses around the first query does *not* report a syntax error:
[code]

[2021-03-21 01:45] barrywhart commented on #871
Below is a partial parse tree for the test query in 0.4.1.
[code]

Here is the same area of the parse tree for the same query in version 0.4.0:
[code]

Note that in 0.4.1, `JOIN table2` is nested **underneath** the `CROSS JOIN`, while in 0.4.0, they were at the same level of the parse tree. So I agree, this is a regression, and I think the nesting explains why the `foo` alias is not "visible" to t

[2021-03-21 11:26] #827 closed

[2021-03-21 14:03] #840 closed

[2021-03-22 01:54] #846 closed

[2021-03-22 02:13] SuperBo commented on #852
Dear @barrywhart : I am building a SQL AST parser that based on sqlfluff parsed tree. Then if the parse tree is incorrect, my AST will also be.

[2021-03-22 06:49] barrachri opened #881 "[BigQuery] Found unparsable section: 'CREATE TEMPORARY TABLE"
Hi there!

Might be connected to https://github.com/sqlfluff/sqlfluff/issues/856

## lint

[code]

## Expected Behaviour

No errors

## Observed Behaviour
[code]

## Steps to Reproduce

[code]

## Version
Include the output of `sqlfluff --version` along with your Python version

sqlfluff, version 0.4.1

## Configuration
[code]

[2021-03-22 06:53] barrachri commented on #881
Similar to https://github.com/sqlfluff/sqlfluff/issues/823

[2021-03-22 06:59] barrachri commented on #881
It seems to be fixed on master.

[2021-03-22 06:59] #881 closed

[2021-03-22 14:03] alanmcruickshank commented on #871
this was much harder than expected but I think I've resolved it. PR coming shortly. @barrywhart - I'd love your review on it.

[2021-03-22 19:18] alanmcruickshank commented on #832
Thanks @greg-finley , this is because `LATERAL` is parsed as a keyword and `FLATTEN` as a function name. The former has it's capitalisation linted using `L010` and the latter has it's capitalisation linted using `Rule_L030`.

The default configuration for both of those is `consistent`, so `LATERAL` will be influenced by `SELECT` and `FLATTEN` will be influenced by other functions you're using.

I

[2021-03-22 19:31] greg-finley commented on #832
I didn't realize the distinction. I think we can enable L030 too. Thanks for the explanation!

[2021-03-22 19:35] #832 closed

[2021-03-22 22:14] digia commented on #435
Hey @alanmcruickshank, I do have a usecase for an Oracle dialect. I'd be open to giving the implementation a go, would love any pointers you could provide, first time in this realm.

[2021-03-22 22:45] felipecrs commented on #435
FYI, the best alternative I found was https://felipezorzo.com.br/zpa/ with the [zpa-cli](https://github.com/felipebz/zpa-cli). The rules present there could help as inspiration.

[2021-03-23 16:19] alanmcruickshank commented on #847
Once #866 is merged I'll pick up the rest of this which relates to some of the lexer objects.

[2021-03-23 16:26] alanmcruickshank commented on #818
Thanks @pvonglehn . I'm assuming that at present we won't attempt to fix this within SQLFluff, as it looks like an upstream issue with pip. The recommended workaround is to specify the dbt version at the same time:

[code]

If anyone has suggestions on things we can do to mitigate or solve this within the project then I'm all ears.

[2021-03-23 16:29] alanmcruickshank commented on #595
Based on the lack of activity on this issue I'm going to close it for now. We can always re-open it at a later date if we need to.

[2021-03-23 16:29] #595 closed

[2021-03-24 10:53] #847 closed

[2021-03-24 10:55] barrywhart commented on #734
I did some investigation of this (my first time looking in detail at L003). If the input file has the `USING` line indented by a multiple of 4 spaces (0, 4, 8), the output is correct. If it's not, L003 applies a "hanging" indent (aligning `USING` with the table name on the previous line) rather than forcing it to the expected indent.

This happens because the `USING` line is not considered a `clea

[2021-03-24 11:20] barrywhart commented on #734
As an experiment, I split the `JOIN` across lines to see how `sqlfluff fix` indents it.

Before:
[code]

After:
[code]

This looks wild! I think it's doing a hanging indent, aligning `bar` with `foo` two lines above. (I didn't dig into the code to confirm this.)

[2021-03-24 11:50] alanmcruickshank commented on #542
There are a few big changes which mean that I think we should publish 0.5.0 as the next release:

- #825: Extracts dialects out. This isn't a breaking change in itself, but it does introduce a breaking change to the API with the renaming of `sqlfluff.dialects()` and `sqlfluff.rules()` (although they were only introduced in #809 so it shouldn't cause too much pain). The scale of the change to the c

[2021-03-24 11:52] alanmcruickshank commented on #874
Yes. I can confirm that on current master (ed4e0561feb754ed984b3ca2ca6cf77331b0edaf) this is resolved. 👍

[2021-03-24 11:52] #874 closed

[2021-03-24 12:05] alanmcruickshank commented on #830
Hi @giselamorrone . Thanks for posting your query, this flags up a few issues.
- SQLFluff is flagging the missing `;` however prehaps in an unexpected way. When it says `L:  18 | P:  34 |  PRS | Found unparsable section: '\n\nINSERT INTO data.final_table\n (` it's saying that it can't parse what comes after the place where there actually should be a `;`. This means the issue is being found - albei

[2021-03-24 12:28] NiallRees commented on #542
I'm going to attempt https://github.com/sqlfluff/sqlfluff/issues/464 this week too. Have an idea about how we can implement it in a relatively straightforward way.

[2021-03-24 16:47] barrywhart commented on #830
About recovering from the error, this is something I vaguely remember from my compiler class oh so many years ago: https://en.m.wikipedia.org/wiki/Burke–Fisher_error_repair

I found it by searching for "parser repair token", so there may be other similar ideas, more detail, etc.

[2021-03-24 17:07] #871 closed

[2021-03-24 19:18] alanmcruickshank commented on #542
@NiallRees - I realise I said I would have a go at #586 a while back. I assume that would be a helpful stub to work from?

[2021-03-24 20:11] NiallRees commented on #542
The idea I currently have means we won't need to understand the jinja, and we can go off compiled SQL. That said I think there are potentially two sources of overlap though in #464 and #586:

- The rules will need to to raise an error even though the anchor segment is templated.
- We should extend the current linting rule yml test cases to support jinja

[2021-03-24 21:00] shawnohare opened #889 "On macos: Respect XDG base dirs."
Apropos to #405, a large number of developer tools (especially those with a cli) respect XDG base dirs in both macos and linux. Those that insist on using `~/Library` on macos are outliers, as it creates unnecessary headaches for anyone that (a) maintains their own user configurations and / or (b) frequently switches between macos and linux.

Can `sqlfluff` at least first look for configuration in

[2021-03-24 21:14] shawnohare opened #890 "Look for project configuration in pyproject.toml."
A growing number of Python tools look for project-specific configuration in the `[tool.{app}]` section of the `pyproject.toml` file. It would be convenient if `sqlfluff` also inspected this section, especially for Python projects that use `poetry` as a build backend and thus do not rely on `setup.cfg` or potentially any of the other files currently inspected.

[2021-03-24 21:42] #793 closed

[2021-03-24 21:42] #814 closed

[2021-03-24 22:02] #820 closed

[2021-03-24 22:02] #821 closed

[2021-03-24 22:45] barrywhart commented on #876
@alanmcruickshank: That makes sense to me.

[2021-03-24 22:47] barrywhart commented on #853
@dmateusp: I assigned this issue to you, since you've been working on a PR for it.

[2021-03-24 22:51] barrywhart commented on #542
#833 looks like a good bug to fix: An unexpected case in L003 (auto indent) causing a runtime error.

[2021-03-24 22:55] barrywhart commented on #759
I'm going to close this issue. Feel free to ask questions in SQLFluff Slack or open another issue.

[2021-03-24 22:55] #759 closed

[2021-03-24 22:56] barrywhart commented on #764
@dmateusp: Does this need to happen for the upcoming 0.5.0 release?

[2021-03-24 22:57] barrywhart commented on #693
Closing this now -- see the linked PR.

[2021-03-24 22:57] #693 closed

[2021-03-24 23:03] barrywhart commented on #531
@dmateusp: Can this issue be closed? I see that a PR which mentions it (#798) was merged a few weeks ago.

[2021-03-24 23:04] barrywhart commented on #464
This sounds similar to #546, although that issue talks about `SELECT *` as the **last** query in a file. Are these two related?

[2021-03-25 12:49] pwildenhain commented on #542
I would also like to see issues like #845 and #831 addressed. If no one feels like they have time to pick it them up I can try to find time to dive in to the templating stuff 😬😅

[2021-03-25 13:52] alanmcruickshank commented on #833
@dwallace0723 - In #888 I've just removed this error because I don't think it's relevant anymore. That should hopefully solve the `CRITICAL` error, however it does make me wonder that SQLFluff might be attempting a more unusual fix. Would you mind checking out that branch (or just installing from `master` after it's merged) to see whether a) you're still getting an error (I hope you're not) and b)

[2021-03-25 13:59] alanmcruickshank commented on #542
So I think #833 might already be solved. I've posted on that thread to confirm.

- I'll pick up #586 and #831 which I think have some overlap and will need more than just some extra rule logic.
- @NiallRees is going to pick up #464 . Could you also handle getting #868 sorted and merged? I think you and @dmateusp have been the main reviewers so far.
- I think #845 could be an interesting one for @p

[2021-03-25 14:00] alanmcruickshank commented on #542
Anyone fancy taking on #201? It's an oldie - but it looks like we've got enough clarity on it to make progress now.

[2021-03-25 16:57] pwildenhain commented on #201
@alanmcruickshank I'll take a stab at this 👍🏻 probably will just involve thinking about a good UI first before thinking about how to technically implement it.

[2021-03-25 16:58] pwildenhain commented on #542
@alanmcruickshank I've taken #845. Should I wait until you've addressed #586 and #831 before tackling that?

[2021-03-25 20:10] alanmcruickshank commented on #542
Check out my pr for #586 (#892). It might be a good starting point for #845.

[2021-03-25 22:40] roblevy opened #893 "Add parsing support for Postgres "EXPLAIN" statement"
The first example from the [Postgres EXPLAIN docs](https://www.postgresql.org/docs/12/sql-explain.html#examples) is:

[code]

## Expected Behaviour

[code]

## Observed Behaviour

[code]

## Steps to Reproduce

[code]

## Version

sqlfluff: 0.4.1
Python: 3.8.6

## Configuration

No configuration file.

[2021-03-26 08:19] majcher opened #894 "CASE WHEN and IFNULL support"
[code]

## Expected Behaviour
- `CASE WHEN` parses properly
- `IFNULL` parses properly - it's an alias for `COALESCE`

## Observed Behaviour
Parsing errors (see above)

## Steps to Reproduce
(see above)

## Version
Include the output of `sqlfluff --version` along with your Python version
[code]

## Configuration
No config file, just CLI args.

[2021-03-26 08:34] alanmcruickshank commented on #831
@mdimercurio I've been digging into this issue. I've fixed some elements of it in #892 , namely that the line numbers here are still referring to the file _post templating_ rather than _pre templating_, and that we're not linting the jinja tags.

Now if I lint the same query:
[code]
I get:
[code]

- The L046 ones are new and are due to the whitespace around the `{{prop}}` and `{{ col}}` tags.
- Th

[2021-03-26 10:36] #734 closed

[2021-03-26 10:41] SuperBo opened #895 "BigQuery: hyphen symbol (-) in table project name in BigQuery"
In Big Query, we can query a table named "project-a.database.a" in which, project-a is project name. However, sqlfluff get parse error with these tables.

[code]

## Expected Behaviour

No parse error

## Observed Behaviour

[sqlfluff.core.errors.SQLParseError("Found unparsable section: '-a.database.a'")]

## Steps to Reproduce
[code]

## Version
Include the output of `sqlfluff --version` along wi

[2021-03-26 10:42] alanmcruickshank commented on #895
ooh - I didn't realize this was possible. Are you aware of any other dialects which allow hyphens in table or schema names?

[2021-03-26 10:44] alanmcruickshank commented on #895
for clarity, how would the following be parsed?

``` SELECT project-a.database.a.my_col FROM project-a.database.a```

Is that selecting `my_col` from `project-a.database.a` or is it performing a subtraction operation between `project` and `a.database.a.my_col`?

[2021-03-26 10:48] SuperBo commented on #895
@alanmcruickshank : I only use BigQuery so I can't tell about other use cases, sorry :D.

When I tried your latter query, BigQuery tell me this error: `Unrecognized name: project at [1:8]`. So I think, hyphen only valid in table name expresions.

[2021-03-26 10:53] SuperBo commented on #895
When investigating more, I found that BigQuery only support `table.col` and `col` in select columns. `database.table.col` will raise errors.

[2021-03-26 10:53] alanmcruickshank commented on #895
Thanks for checking this. Supporting that syntax could be quite tricky 🤔 .

As a workaround in the meantime, if you quote the reference (i.e. `"project-a"`) then it should _parse_. You might need to add a `noqa` statement to the line so that you don't get inconsistent quoting errors.

[2021-03-26 10:55] alanmcruickshank commented on #895
I wonder whether this should be a linting rule anyway? _overqualified_ references seem like they would hinder understanding even in the dialects that do support them.

[2021-03-26 11:00] alanmcruickshank commented on #893
@roblevy , thanks for the Issue report! We might have to implement this seperately for different dialects, each one seems to have a slightly different syntax. So that we cover your use case, which dialects are you most likely to use?

Docs for reference:
- mysql: https://dev.mysql.com/doc/refman/5.7/en/explain.html
- postgres: https://www.postgresql.org/docs/9.1/sql-explain.html
- snowflake https:

[2021-03-26 11:02] alanmcruickshank commented on #890
@shawnohare this is a great idea. Do you know what the best practice precedence is between `pyproject.toml` and other files like `tox.ini` and `setup.cfg`? I'd love to make sure that SQLFluff is consistent with other tools in how it handles that.

[2021-03-26 11:02] alanmcruickshank commented on #890
This would also be a great first issue for anyone new to the project if people want to have a go! (It might even be a one line change 😄 )

[2021-03-26 11:04] SuperBo commented on #895
Yeah, I can confirm with you that BigQuery will parse this as a subtraction between `project` and `a.database.a.my_col`. Then it will fail because name error `Unrecognized name: project`.

In this case, can we only fix the parsing rule of table reference in FromClause?

[2021-03-26 12:19] barrywhart commented on #894
The specific parse error mentioned in this issue ("Found unexpected end bracket") may have already been addressed in #836.

[2021-03-26 12:21] barrywhart commented on #894
This query parses successfully in the latest master branch. The upcoming release (0.5.0, I think, but possibly 0.4.2) will contain this fix.

[2021-03-26 12:21] #894 closed

[2021-03-26 12:25] majcher commented on #894
@barrywhart will you be able to have the 0.4.2 released anytime soon? The latest in pip atm is 0.4.1.

[2021-03-26 12:27] barrywhart commented on #895
I can confirm that our BigQuery SQL always uses backquotes around table names, and that parses fine in BigQuery. It's only because of this issue that I learned the quotes aren't always required. I can probably pick up this ticket after my current one. I think this we should try and address this for 0.5.0. It's easy to work around, but I have a passion for squashing parse errors, since they tend to

[2021-03-26 13:43] barrachri commented on #895
👋

similar issue, but extended to functions.

[code]

[code]

[2021-03-26 13:44] barrachri commented on #895
[code]

[2021-03-26 13:45] barrachri commented on #895
The syntax should be correct: https://cloud.google.com/bigquery/docs/reference/standard-sql/functions-and-operators#calling_persistent_user-defined_functions_udfs

[2021-03-26 13:55] alanmcruickshank commented on #890
The way to do this for anyone wanting to pick up this issue would be to add the filename in [load_config_at_path](https://github.com/sqlfluff/sqlfluff/blob/f4931633a6e398e198b14008e7092bf63760efee/src/sqlfluff/core/config.py#L239) and probably also extend [_get_config_elems_from_file](https://github.com/sqlfluff/sqlfluff/blob/f4931633a6e398e198b14008e7092bf63760efee/src/sqlfluff/core/config.py#L14

[2021-03-26 14:00] alanmcruickshank commented on #830
I think given the performance constraints of python, I don't know if we should do the full version of _Burke Fisher_ but I could totally imagine that for some grammars we provide a limited form of it.

If all we did in this case was that the `Delimited` grammar tried to reinsert a delimiter at various points to get things to parse then that would already provide much more helpful feedback here.

S

[2021-03-26 16:27] alanmcruickshank opened #897 "Refactor Position Markers"
Putting together #892 has reminded my what state the position marker code is in.

Position markers are the primitives which allow us to keep track of where in a file we are, and in the "enriched" version, also where in the source file we are.

This is one of the oldest parts of the codebase, and was also significantly disrupted when adding in the source mapping code in the last major release.

Cur

[2021-03-26 16:30] alanmcruickshank commented on #854
If nothing else we should increase test coverage for the `{#- ... #}` syntax and equivalents. For example it probably won't work with the `L046` rule I just put together for linting whitespace within jinja tags.

That might also highlight more issues with the parsing code too. Thanks for the bug report!

[2021-03-26 17:46] barrywhart commented on #894
@majcher: That would be a question for @alanmcruickshank. I think it'll be released in the next two weeks or so.

[2021-03-26 18:10] pvonglehn commented on #601
I've made a first attempt at resolving this issue (Having the project in another directory - not yet having multiple project directories)

Would be happy for any feedback.

https://github.com/sqlfluff/sqlfluff/pull/898

[2021-03-26 18:10] pvonglehn commented on #601
I've made a first attempt at resolving this issue (Having the project in another directory - not yet having multiple project directories)

Would be happy for any feedback.

https://github.com/sqlfluff/sqlfluff/pull/898

[2021-03-26 19:25] barrywhart commented on #201
Should this work interact with `noqa` comments? For example, on a certain line or a certain section of code, I want to disable warnings or errors.

Note there is some work currently underway involving `noqa`, so any work for this issue touching that code should probably wait until PR #891 is merged (resolves issue #873).

[2021-03-26 19:27] barrywhart commented on #201
This issue _potentially_ interacts with #811 as well, in the sense that "error" and "warning" might be considered tags. Just mentioning this for context; I am 💯 with focusing on this first and considering #811 for a future release.

[2021-03-26 22:14] barrywhart commented on #895
@barrachri: When I paste your query into the BigQuery editor, I get a syntax error:
[code]

Can you double check that BigQuery is okay with your query, and also open a separate issue for this? Even if the issues are similar, they are likely to involve changes to different parts of the BigQuery dialect. Thanks!

[2021-03-26 22:59] barrywhart commented on #895
@alanmcruickshank, @dmateusp: I started looking at how to fix this and quickly became blocked. IIUC, it seems there is something about the lexer that is not allowing identifiers to lex with hyphens. See the small diff below -- this is not a proposed solution; this is just initial exploration.

[code]

See the change to `NakedIdentifierSegment`: I've updated it so the only possible identifier is `a

[2021-03-27 02:55] SuperBo opened #900 "BigQuery: False error of enclosing bracket"
example query
[code]

This query is parsed fine when using dialect 'mysql' but got error when using 'bigquery' dialect.

## Expected Behaviour
No parse error

## Observed Behaviour
`SQLParseError("Found unexpected end bracket!, was expecting one of: [<OneOf: [<Ref: DotSegment>, <Sequence: [<Ref: DotSegment>]>]>, <OneOf: [<Ref: OnKeywordSegment>, <Ref: AsKeywordSegment>, <Ref: UsingKeywordSegment>,

[2021-03-27 11:10] roblevy commented on #893
Hi Alan,

Thanks for responding so quickly! We're using Postgres over here...

Thanks
Rob

On Fri, 26 Mar 2021, 11:01 Alan Cruickshank, ***@***.***>
wrote:

[2021-03-27 14:25] barrywhart commented on #900
I think this BigQuery bug is fixed in the master branch and the fix will be included in the upcoming release.

[2021-03-27 16:29] dmateusp commented on #895
@barrywhart I gave it a try and it seems like your regex was not working because we're treating `-` as a special character in the lexer, here's a change that makes it parse:

[code]

This isn't a solution, I imagine we would need to change the NakedIdentifierSegment to allow an identifier that optionally includes a MinusSegment

[2021-03-27 17:03] dmateusp commented on #531
Yes! it should have been closed already, closing it now

[2021-03-27 17:03] #531 closed

[2021-03-27 17:04] dmateusp commented on #764
@barrywhart I think it does, AFAIK no minor release includes the plugin work right?

[2021-03-27 17:21] barrywhart commented on #764
I think you're right. 👍

[2021-03-27 18:00] barrywhart commented on #900
Confirmed. This is fixed in `master`.

[2021-03-27 18:00] #900 closed

[2021-03-27 19:49] Tiross opened #901 "Support procedures/functions"
Hello,

I just try SQLFluff and use it over my MySQL scheme and I was a little sad that it does not parse MySQL routines.

Example :
[code]

SQLFluff reports 2 `PSR` and 3 `LXR`.

[code]

[Online Fluff](http://sqlfluff-online.herokuapp.com/fluffed?sql=H4sIAEyIX2AC_z2PXQuCMBiF7wf7D--FYAUFXUfQ2l5tMD-ak-jOYUKCKOjs9zejujucA885R6CSiTSoIQgooYRrZAYh06AxV4wjCIxk6vMjhG3vmrG33XaemjE8hd1Q2-45TC6EXGccRakRqrhx

[2021-03-27 20:12] barrywhart commented on #901
SQLFluff does have support for BigQuery and Postgres functions, so it should be possible to support them for MySQL as well.

Can you please create a separate issue for `USE my_db`? It's easier to track and address issues if each one is a distinct bug or enhancement. Thanks!

[2021-03-27 20:13] Tiross commented on #901
Yep, no prob.

Thanks

[2021-03-27 20:29] Tiross opened #902 "Support of MySQL database selection"
Hello,

As I use many MySQL procedures, I used to stored them in SQL file in order to import them into my server when needed.

Every files start with the 2 same lines

[code]

These 2 lines cause a `PSR` error, SQLFluff does not parse `USE my_db`.

[code]

[Online fluff](http://sqlfluff-online.herokuapp.com/fluffed?sql=H4sIAFKVX2AC_wsNdlXIrYxPSbLm5QIAhvctiwwAAAA%3D&dialect=mysql)

Is it possible t

[2021-03-27 20:33] barrywhart commented on #895
Thanks, @NiallRees -- that was a big help. I wasn't aware of the `code` regex, which I guess was blocking hyphens from ever making it to the `NakedIdentifierSegment` regex.

I have some ideas that I'm exploring and will put up a PR or patch, depending on how promising it looks. As Alan pointed out, we likely need two different flavors of segment for BigQuery:
* One following `FROM` which allows na

[2021-03-28 13:01] fernandobrito commented on #802
This has been closed, but isn't the link in the README and latest docs still broken?

[2021-03-28 16:07] barrywhart commented on #895
I did some experimenting with the UDF example in this issue. Based on the following, I don't think BigQuery parses hyphenated "naked" project names correctly.

Query:
[code]

Running this query results in the error:
[code]

Apparently, each part of the hyphenated name is being parsed separately. If I change the query to quote the project name, i.e.:
[code]

I get a different error (because the pro

[2021-03-28 17:02] qbatten commented on #802
Yep, link still doesn't work, as far as I can tell.

Hope they take a look at this again, I'd love to join the Slack and I believe the solution I suggested will fix the issue where the link expires every month.

[2021-03-28 18:20] fernandobrito commented on #802
@qbatten I was able to find a link that works by going to the #tools-sqlfluff channel in the dbt Slack community. You can use it: https://join.slack.com/t/sqlfluff/shared_invite/zt-o1f4x0e8-pZzarAIlQmKj_6ZwD16w0g

[2021-03-28 21:48] nolanbconaway opened #906 "Carriage returns add extra characters to fix results?"
This is a weird one y'all. Maybe someone who knows more about string encoding knows what's going on?

This bug was surfaced to me by some users of sqlfluff-online:

![image](https://user-images.githubusercontent.com/1770896/112768906-58cfcf80-8fec-11eb-9490-0e73e2ee7bfd.png)

Notice the extra "urns" at the end of the fixed sql. How did that get there?

Towards remedying the situation, I isolated t

[2021-03-28 22:16] barrywhart commented on #542
#610 would be another good one to look at. It's been open since December, and it's a case where the automated lint "fix" actually **breaks** existing code.

[2021-03-29 14:58] giselamorrone commented on #830
@alanmcruickshank are there any plans to include this, and also BEGIN TRANSACTION and END TRANSACTION ?

[2021-03-29 20:31] #610 closed

[2021-03-29 23:22] #778 closed

[2021-03-30 14:58] fernandobrito opened #910 "Lint output is referencing line and character positions from the compiled file"
When I run `sqlfluff lint` on a file using the dbt templater, the results are referencing the line numbers from the compiled file, and not from the source file.

## Observed Behaviour

On the left hand side you can see my original source file and on the right hand side the compiled file.

![image](https://user-images.githubusercontent.com/196840/113009267-14713a80-9178-11eb-9a6e-8f391ee00607.png)

[2021-03-30 15:08] fernandobrito commented on #910
Moving here some of my findings that I posted on [Slack](https://sqlfluff.slack.com/archives/C01GX4L213J/p1616938160015700).

When [format_violation()](https://github.com/sqlfluff/sqlfluff/blob/959f216249afb7ab3829875f00234aca89b03f1c/src/sqlfluff/cli/formatters.py#L50) is called to format the output, there's a call to [violation.get_info_tuple()](https://github.com/sqlfluff/sqlfluff/blob/959f2162

[2021-03-30 15:13] fernandobrito commented on #910
Or actually, all `line_no()`, `line_pos()` and `char_pos()` will call [self.pos_marker()](https://github.com/sqlfluff/sqlfluff/blob/959f216249afb7ab3829875f00234aca89b03f1c/src/sqlfluff/core/errors.py#L81). Should this method maybe return `self.segment.pos_marker.source_pos_marker` if that's available?

[2021-03-31 11:11] barrachri opened #911 "[BigQuery] Using functions from other projects"
Hi there!

I've tested these 2 different ways of calling _remote_ functions and both worked inside the BigQuery editor.

[code]

## Expected Behaviour

No errors.

## Observed Behaviour

[code]

## Steps to Reproduce

## Version

[code]

## Configuration
[code]

[2021-03-31 11:13] barrachri commented on #895
Thanks @barrywhart, I opened a new issue: https://github.com/sqlfluff/sqlfluff/issues/911

BTW, sqlfluff is pretty cool!

[2021-03-31 13:57] barrywhart commented on #895
Thanks for the kind words, @barrachri! I started working on the project because it's useful, but most of the work I do now is because it's fun. 🎉

[2021-04-01 11:31] ralsina opened #913 "Postgres dialect doesn't support UPDATE FROM"
When linting this SQL:

[code]

## Expected Behaviour

It should parse, since it's valid syntax:

![image](https://user-images.githubusercontent.com/1579/113288067-d59ccb00-92c4-11eb-85a7-7c1716009c88.png)

## Observed Behaviour

Doesn't parse.

[code]

## Steps to Reproduce

Put that SQL in a file, lint it :-)

## Version
Include the output of `sqlfluff --version` along with your Python version

[2021-04-01 12:53] mihama commented on #857
I am seeing very similar errors, and noticed something that might help shed some light on the error: for me, the errors occur only for dbt models for which the materialization is set to `ephemeral`. It does not matter if I apply that materialization inline through `{{ config(materialized = 'ephemeral') }}` or if I make it part of the `dbt_project.yml`: anytime materialization is set to ephemeral,

[2021-04-01 13:15] barrywhart commented on #913
This is a duplicate of #855, which is fixed in `master` and will be in the next release. I tested the `UPDATE` statement above, and it parses correctly now.

[code]

[2021-04-01 13:15] #913 closed

[2021-04-01 22:43] shawnohare commented on #890
I honestly do not know if there’s necessarily a best practice around this. Here’s the order that `isort` uses: https://pycqa.github.io/isort/docs/configuration/config_files/ Personally I find this order to be pretty reasonable.

In my personal experience, many of the tools I’ve used which support `pyproject.toml` use this file exclusively unless they were created before this file became standard,

[2021-04-02 15:50] wong-codaio opened #915 "Linting `CREATE TABLE` statement failed due to `KeyError: None` exception"
*tl;dr* Running `lint` on a basic `CREATE TABLE` statement fails due to `KeyError: None` exception. Disabling L044 and L045 can mitigate the issue.

## Sample SQL
[code]

## Expected Behaviour
Linting should pass, as it's a simple `CREATE TABLE` statement.

## Observed Behaviour
L044 and L045 failed due to `KeyError: None` exception.

## Steps to Reproduce
1. Checkout & run `sqlfluff` based on `or

[2021-04-02 20:35] pwildenhain opened #916 "L034 should report the warning on the earlier, more complex select target"
@pwildenhain: Thanks for looking at this. I am seeing the same behavior. I think the reason for this is that the "noqa" filter applies based on where the line rule **reports** the error. Notice that the two L034 errors are reported at "L: 7" and L: 10", the lines with `field3` and `field4`.

if you look at the implementation of L034, you'll see why -- it reports the warning when it finds a **simpl

[2021-04-02 21:01] pwildenhain commented on #811
I like this idea! I think having "tags" as a concept for our rules could open up some interesting doors. To start, I don't think all rules need a tag -- we could start simple like the `capitalisation` and `unnecessary` groups for instance.

🤔 Do you think we could abstract tags out to the config level? Something like
[code]

This has the added benefit of letting users define their own groups.

[2021-04-02 21:51] barrywhart commented on #811
Yes, I could see having both built-in tags as well as user-defined tags. I definitely haven't thought through this idea in detail, but it seems promising. (I think it was Daniel or Niall who suggested it originally; I can't remember for sure.)

[2021-04-02 21:53] #873 closed

[2021-04-02 22:13] barrywhart commented on #915
I see that these are bugs in L044 and L045, two similar rules that I added after the 0.4.1 release. Both of these rules are intended to apply to `SELECT` queries with CTEs. For a `CREATE TABLE` statement, the rules should be dormant (i.e. not even looking at the SQL).

[2021-04-02 22:14] barrywhart commented on #915
I'm not working the week of April 5-9, so if someone else wants to take this issue, that would be great. Otherwise, I can probably look at it the week of the 12th. I think it'll be a pretty simple fix.

[2021-04-03 15:50] barrywhart commented on #915
Ok, I have a PR up that fixes this: #917

[2021-04-03 18:36] barrywhart commented on #906
My intuition is that somewhere, SQLFluff is tracking the location of elements within the SQL as byte offsets from the start, but carriage returns are getting accidentally removed so the offsets are incorrect. I would look for a place where the SQL is being read or written using a file-like object, as that's where these things often happen.

[2021-04-03 21:07] #876 closed

[2021-04-03 21:21] #915 closed

[2021-04-04 11:32] alanmcruickshank commented on #830
The Transaction commands are merged (#887) so will be in the next release. As for the better error reporting, I haven't started it so it probably won't be in the next release. I think I know how we'd do it however, so it shouldn't be years away.

My outline spec for _Burke Fisher_ would be to target the following two grammar elements (if someone else wants to pick this up):
- For `Delimited`: if w

[2021-04-04 12:14] #586 closed

[2021-04-04 23:03] #878 closed

[2021-04-04 23:40] #853 closed

[2021-04-05 00:04] barrywhart commented on #906
Running the CLI example in verbose mode yields some apparent clues near the end of the output.
[code]

I see several odd-looking things...

Here, `source` is truncated:
[code]

Similarly, `source_str` is truncated here:
[code]

And this is apparently where the extraneous `e` at the end of the fixed query comes from:
[code]

I'm not familiar with this area of the code, but hopefully this provides s

[2021-04-05 05:47] franloza opened #920 "dbt_utils.date_spine is raising a parsing error when using dbt-spark package"
## Expected Behaviour
No parsing errors.

## Observed Behaviour

`L:  23 | P:  37 |  PRS | Found unparsable section: ' union all select 1'`

## Steps to Reproduce

1.  Add the following dependency to `packages.yml`:
[code]
2. Run `dbt deps`
3. Add the following model `spine.sql` to `models` folder:
[code]
4. Run `sqlfluff lint models/spine.sql`

## Version
`sqlfluff, version 0.4.1`

## Configurati

[2021-04-05 08:43] #916 closed

[2021-04-05 10:40] #895 closed

[2021-04-05 12:26] alanmcruickshank opened #922 "Release timeline for 0.6.0"
Following on from #542 - this tracks any discussion for larger and breaking changes to be introduced in the next version. I've not included a github project board at this stage because we didn't use it very much for 0.5.0.

As of writing, most of the planned changes appear to be incremental, however the next big items could be:
- Severity levels: #201
- More advanced template ignoring #831
- Missi

[2021-04-05 12:27] alanmcruickshank commented on #542
I'm going to close this now we've released 0.5.0, we've closed of _most_ of these issues and the remaining ones can probably come out as minor releases.

[2021-04-05 12:27] #542 closed

[2021-04-05 12:29] alanmcruickshank commented on #697
@nvuillam can you give an example of what you mean? The current `fix` command includes a linting step and so can be called by itself. What features would we need to add to the current `fix` command to fulfil this use case?

[2021-04-05 15:25] barrywhart commented on #852
@alanmcruickshank: Do you have thoughts on how to implement this? I'm not that familiar with how to force precedence with parsing rules. Is this potentially similar to the recent work to change the parsing structure of `JOIN` clauses.

[2021-04-05 15:28] #823 closed

[2021-04-05 15:31] barrywhart commented on #650
Should we close this? We now have `OptionallyBracketed`, although there are likely places where it could/should be used but isn't.

[2021-04-05 15:32] barrywhart commented on #642
We might want to call it `--parallel` in case we decided use processes instead.

[2021-04-05 15:34] barrywhart commented on #613
@NiallRees and @alanmcruickshank: This issue is another example where multiple rules work together/depend on one another.

[2021-04-05 16:17] alanmcruickshank commented on #833
@dwallace0723 - The changes I referred to above are now released as part of 0.5.0. Could you report in on how this is now behaving with the new release? I wonder whether it might be attempting something strange which I'd love to fix if it is.

[2021-04-05 16:25] alanmcruickshank commented on #910
@fernandobrito - can you test this with the new release which has just come out (0.5.0)? I think I might have fixed some of this - but would love to check which bits I have and haven't.

My guess is that I haven't yet fixed the `Line over-indented compared to line #XXX` part, but I'm hoping that's the only issue left.

[2021-04-05 16:35] alanmcruickshank commented on #813
I agree we need something like this, but I'd assumed we would do something a little different. What do you think of this approach?

1. Pre `fix` we generate a parse tree of the existing query.
2. Post `fix` we generate a parse tree of the new query.
3. These trees are then compared in a "fuzzy" way to make sure they're "equivalent". Settling on these equivalence rules would probably be the tricky

[2021-04-05 16:39] alanmcruickshank commented on #852
I'll pick this one up. I've got a few ideas.

[2021-04-05 17:02] barrywhart commented on #813
Both approaches are valid. I think they'll have differing strengths. Comparing parse trees will be great for checking rules that mainly reformat code.

I have a thought that certain fixes may be subject to causing subtle differences in behavior. For example, there was recently a rule added which replaces unnecessary CASE statements with simple Boolean expressions. That's essentially a rewrite of t

[2021-04-05 17:03] alanmcruickshank commented on #650
I've found *one* location which I think this applies to but everything else is good. Will make PR.

[2021-04-05 17:23] nvuillam commented on #697
If fix includes also what does a lint, it's ok for what I need, thanks :)

[2021-04-05 18:28] fernandobrito commented on #910
Awesome, I confirm that 0.5.0 behaves as I expect (line numbers refer to source code), but as you mentioned, the line number in the violation messages still refers to the row number in the compiled file.

Thanks for the fix and update! I'm very excited to start plugging sqlfluff into my CI workflow 🤩
I guess I can close this issue?

![image](https://user-images.githubusercontent.com/196840/1136103

[2021-04-05 18:28] #910 closed

[2021-04-05 18:46] barrywhart commented on #911
I'll start looking at this today. With any luck, it'll be easy. I was delaying work on this until the PR for the similar issue #895 was merged.

[2021-04-05 19:08] #650 closed

[2021-04-05 19:09] alanmcruickshank commented on #360
I've started a solution for this one, gives me an opportunity to refactor L006 at the same time, because it *should* be a drop in replacement for this (and unfortunately it's not 😒 ).

[2021-04-06 14:38] barrywhart commented on #842
Could this be related to #828?

[2021-04-06 14:45] osvenskan opened #926 ""space" not a reserved word in Postgres"
The following SQL generates `L029 | Keywords should not be used as identifiers` due to the use of the alias `space`.

[code]

`space` has no special status under Postgres: https://www.postgresql.org/docs/current/sql-keywords-appendix.html

I can submit a PR to silence L029 for `space` in the Postgres dialect, but first I wanted to make sure that doing so would be viewed as an enhancement. 🙂

[2021-04-06 14:49] barrywhart commented on #926
We had a similar discussion in #315. I think we eventually decided not to change L029 because users can configure their desired behavior in `.sqlfluff`. If that's not documented, it might be good to do so -- that could help avoid future confusion others.

[2021-04-06 15:01] osvenskan commented on #926
It'd be great if we can silence the comments about `space` simply via altering `.sqlfluff`. I can't see how to use the config to disable L029 for a single value, though. Any pointers?

[2021-04-06 15:12] barrywhart commented on #926
Ah yes, in the discussion on the earlier issue (which I had opened), I decided I was happy to simply disable L029 completely. Do you see value in enabling the rule but excluding certain values? If so, that would be an enhancement.

[2021-04-06 15:20] osvenskan commented on #926
I see value for us. We use `space` frequently, and without this enhancement we'd have to either add lots of `noqa`s or disable L029 completely, neither of which is appealing. Thanks for the context. I'll work on a PR. I'm pretty sure it's a one line change.

[2021-04-06 18:17] dwallace0723 commented on #833
Thanks for the update @alanmcruickshank! Will test this out today or tomorrow and report back 👍

[2021-04-06 22:38] dwallace0723 commented on #833
@alanmcruickshank I can confirm that the error is no longer raised on the model in question. Here are the proposed fixes now:

[code]

[2021-04-06 23:29] dwallace0723 opened #930 "L044: Max Recursion Depth"
Came across this `CRITICAL` error when linting a few models in our dbt project using sqlfluff `0.5.0`:

#### Steps to reproduce:
[code]

#### SQLFluff Verbose Output
[sqlfluff_verbose_out.txt](https://github.com/sqlfluff/sqlfluff/files/6268014/sqlfluff_verbose_out.txt)

#### Version

[code]

#### Configuration
[code]

#### SQL

[code]

#### Compiled SQL

[code]

[2021-04-06 23:39] dwallace0723 opened #931 "SQLFluff fails when dbt model is disabled"
if a dbt model is disabled (i.e. has configuration of `enabled = false`) sqlfluff will fail with the following internal error:

[code]

This error seems a little misleading. Additionally, I'm curious about the design decision to not lint dbt models that are disabled.

## Expected Behaviour
For sqlfluff to be able to lint disabled models. Or at least have a more helpful error message.

## Steps to

[2021-04-07 00:40] alanmcruickshank commented on #828
I thought this was the regex strings, but I think it's just that we don't have the `~` operator set up properly. PR is live. Thanks for the great bug report @emily-hawkins !

[2021-04-07 00:41] alanmcruickshank commented on #842
I thought this was the regex strings, but I think it's just that we don't have the `~` operator set up properly. PR is live. Thanks for the great bug report @daniel-murray  !

[2021-04-07 00:53] #828 closed

[2021-04-07 12:33] #852 closed

[2021-04-07 12:59] #360 closed

[2021-04-07 16:15] alanmcruickshank commented on #833
Excellent. If you just run `sqlfluff fix models/content/products/products_daily_fanout.sql --rules L003` to limit it to L003 and then apply the fixes, does the file look acceptable or is there any questionable re-indentation applied?

[2021-04-07 16:16] alanmcruickshank commented on #697
Awesome. I'm going to close this issue for now 👍

[2021-04-07 16:16] #697 closed

[2021-04-07 16:22] alanmcruickshank commented on #620
I'm going to close this issue because it hasn't come up again recently and I think we're getting to a more stable place with our rules estate.

[2021-04-07 16:22] #620 closed

[2021-04-07 16:24] alanmcruickshank commented on #599
Now that this is silenced with #885 I'm going to close this issue.

[2021-04-07 16:24] #599 closed

[2021-04-07 22:06] alanmcruickshank commented on #931
@dwallace0723 - I'm pretty sure in this case, a disabled model isn't compiled. The `dbt` templater uses the dbt compiler internally to process the file before linting. If it's never compiled then the templater won't be able to find it to lint it.

I'm tempted to say that the solution here is a clearer error message which says the user will either need to enable the model, or use a different templa

[2021-04-07 22:11] alanmcruickshank commented on #930
Great bug report, thanks! This looks very interesting. Do I correctly understand that this is only happening on this model?

@barrywhart , you worked on this rule relatively recently - reckon you could take a look at how to avoid the infinite recursion? I can see the recursion in here https://github.com/sqlfluff/sqlfluff/blob/master/src/sqlfluff/core/rules/std/L044.py#L106 but I'm not sure on the

[2021-04-07 23:11] sgoley opened #937 "Bug in L031: Inappropriate fix applied when reference is templated."
When trying to use autofix linting errors, sqlfluff replaces model references with the compiled table reference.

### Expected Behaviour
dbt model refs shouldn't be replaced by their compiled values by the `fix` command.

### Observed Behaviour

When running `sqlfluff fix` on model, all dbt refs and aliases are replaced with compiled versions.

New model contents:
[code]

### Steps to Reproduce

P

[2021-04-08 01:02] barrywhart commented on #930
I think it'll be a very simple fix. OTOH, that SQL looks like it couldn't do anything useful. Is there a more realistic, useful query that it's based on, @dwallace0723?

[2021-04-08 01:07] dwallace0723 commented on #930
@barrywhart Happy to provide additional information as needed, but I'm not totally sure what you're implying here since this is indeed a real production query that gets run via dbt. OOC, why would it matter if the query doesn't seem "realistic"? Is the rule checking how realistic the query is?

[2021-04-08 01:19] dwallace0723 commented on #930
@barrywhart here is another SQL query where this rule is choking:

**SQL**
[code]

**Compiled SQL**
[code]

[2021-04-08 01:22] dwallace0723 commented on #931
@alanmcruickshank what are your thoughts on just skipping disabled dbt models and displaying a message saying the file/model was skipped or couldnt be found? dbt does something similar when trying to run disabled models:

[code]

[2021-04-08 01:31] barrywhart commented on #930
The rule shouldn't have infinite recursion. My confusion is that the test query queries itself, so I was wondering what this actually does when you run it. I have a PR up now -- could you test this and see if it addresses the problems you're seeing?

[2021-04-08 01:33] dwallace0723 commented on #930
@barrywhart no, it doesn't. Take another look at the compiled SQL:

[code]

This is perfectly valid SQL and runs just fine.

[2021-04-08 01:38] barrywhart commented on #930
I think L044 has a more subtle bug that is not addressed by my PR. I think it is mistakenly interpreting `ANALYTICS_DWALLACE.PUBLIC_intermediate.hubspot__engagement_calls` as if it were the same as the CTE `hubspot__engagement_calls`. It thinks the CTE is querying itself, when it is actually querying an external table. I'll take a closer look at this.

The current PR avoids the infinite recursion

[2021-04-08 01:53] barrywhart commented on #930
Ok, I think I have a full fix now, handling both _actual_ recursive CTEs as well as the other bug, which was making the mistake described above.

Until the fix is available, I believe you can work around this issue by changing the CTE name so it doesn't match the base table name of the underlying table it's querying from.

[2021-04-08 11:09] #547 closed

[2021-04-08 11:18] alanmcruickshank commented on #937
This looks like a malfunction of L031: `Avoid using aliases in join condition`. Thanks for the bug report!

I don't think that L031 should flag if the main table reference is a templated field. i.e.

[code]

@sgoley - you might want to deactivate L031 for now using `--exclude` or your config file. We'll get this fixed soon.

[2021-04-08 16:05] plazar opened #939 "Comma is removed when fixing query with multiple CTEs"
When fixing a query with multiple CTEs I find that the comma separating them is occasionally removed, resulting in invalid SQL. I'm using `dialect = snowflake` and a simple example query is:

[code]

I've done some detective work and the comma is removed only when I set `comma_style=leading` for rule L019.

Interestingly, if I manually replace the jinja macro `{{ source('schema', 'table') }}` with

[2021-04-08 16:56] pwildenhain commented on #939
🤔 Weird -- I'm currently working on comma stuff in #934 so I'll take this on and hopefully solve it in that issue

[2021-04-09 09:39] #930 closed

[2021-04-09 10:05] #926 closed

[2021-04-09 18:23] rnorberg opened #943 "L048 applies to IN list"
Rule [`L048`](https://github.com/sqlfluff/sqlfluff/blob/master/src/sqlfluff/core/rules/std/L048.py) results in a linting failure on the following query, which is (in my opinion) formatted correctly:

[code]

Here's a quick way to reproduce the error in bash<sup>[1](#footnote1)</sup>.

[code]

[code]

## Expected behavior

I expect running `sqlfluff lint` on the query above to return with exit code

[2021-04-09 18:31] rnorberg commented on #943
@alanmcruickshank sorry to crap on your sweet, brand new feature :(

I see you [added L048](https://github.com/sqlfluff/sqlfluff/commit/1e83332f2741d14bea8d142a4abeeb539f6b983b#diff-f5858c90d6ed606375d0d6e6dff094014cf326890133bf4facf85fc1970e6f32) just a couple days ago and @barrywhart reviewed [the PR](https://github.com/sqlfluff/sqlfluff/pull/929).

I wanted to let you know about this while it's

[2021-04-09 19:16] rnorberg opened #944 "L045 false positive when CTE used in WHERE clause"
Rule [`L045`](https://github.com/sqlfluff/sqlfluff/blob/master/src/sqlfluff/core/rules/std/L045.py) incorrectly raises an exception when a CTE is used in a correlated subquery in the `WHERE` clause. Here's an example of one such query that results in this false positive:

[code]

## Expected Behaviour

I expect running `sqlfluff lint` on the query above to return with exit code 0 (no linting failu

[2021-04-10 11:43] barrywhart commented on #944
I'll take a look at this.

[2021-04-10 17:23] alanmcruickshank opened #946 "Resolve whitespace interdependencies between rules."
This issue tracks the conversation initially raised in #905 and #934 . Several rules move around sections of code, and either end up recreating sections of L003, or they disregard configuration and let L003 pick up the pieces.

My intent so far has been the latter, in the interest of keeping dependencies clean, *however* I think we need to revisit what the rules are here because it leads to a few

[2021-04-10 17:26] #645 closed

[2021-04-10 17:56] #944 closed

[2021-04-10 18:20] #799 closed

[2021-04-10 19:07] #784 closed

[2021-04-10 19:14] alanmcruickshank commented on #946
While I was pondering this, I had a potentially neat idea on how to implement option 2 without adding a load of extra cruft to rules which want to edit code. We could add an additional kwarg to `LintFix` called `reflow`. It defaults to `False` but if set to `True` it would reflow all the whitespace _within the segment where the fix was applied_.

We might have to deal with a few edge cases, but I

[2021-04-10 19:31] alanmcruickshank commented on #842
This was fixed with #932

[2021-04-10 19:31] #842 closed

[2021-04-10 20:18] pwildenhain commented on #946
`reflow` sounds neat, I'm up to see what that looks like 💪🏻 I agree that option 2 is most desirable and sustainable

[2021-04-10 21:03] barrywhart commented on #946
I like 1 or 2. 2 is definitely better if we can figure out how to do it and do it well. I like the `reflow` idea because it appears to sidestep my biggest worry: that if lots of rules are **explicitly** doing their own formatting, even if they're using the same code, could cause conflicts or other issues when multiple rules are touching the same area of SQL.

One way to think of `reflow` is that i

[2021-04-10 22:33] alanmcruickshank commented on #943
Great catch, you're totally right, I'll get a fix out in the next fees days. Welcome to the project!

[2021-04-10 23:06] alanmcruickshank commented on #943
@rnorberg fix PR is ready, will be released in the next 24 hrs.

[2021-04-11 00:54] rnorberg commented on #943
Y'all are awesome!!! Thank you so much!

[2021-04-11 08:12] #943 closed

[2021-04-11 10:53] dmateusp commented on #931
With the PR I opened, here's the new behavior:

[code]

[2021-04-11 12:25] dmateusp commented on #920
hey @franloza thank you for reporting the issue!

I started looking into the issue and found that `dbt_utils.date_spine` actually accesses the Data Warehouse at compile time to generate the query.

`date_spine` is also [not supported on Postgres](https://github.com/fishtown-analytics/dbt-utils/blob/366caaef6ec4609f7d3a358c935fa1dfaa0041e4/README.md#cross-database) so adding an integration test wou

[2021-04-11 12:39] dmateusp commented on #902
hi @Tiross, thanks for raising the issue!

I'm going to take that on, I'd like to also support the variations from Snowflake:

https://docs.snowflake.com/en/sql-reference/sql/use.html

[code]

[2021-04-11 12:52] dmateusp commented on #902
Actually we already have logic to support the Snowflake USE statements, so I'm going to extract it into our base (ANSI) dialect

[2021-04-11 15:04] dmateusp commented on #893
@alanmcruickshank I ended up implementing the MySQL flavor as ANSI (it's the simplest case), and separately implemented a Snowflake and Postgres version, with Postgres being the most complicated (I actually had to spin up a Postgres on Docker to wrap my head around what's valid there)

https://github.com/sqlfluff/sqlfluff/pull/951

[2021-04-11 15:21] dmateusp commented on #889
Since we use `appdirs` to resolve those directories, this `appdirs` [issue](https://github.com/ActiveState/appdirs/issues/78) is the source of the problem. We could try going with [this patch](https://github.com/ActiveState/appdirs/issues/78#issuecomment-366947045).

[2021-04-11 17:53] dmateusp commented on #857
@GClunies Could you check if the models you see with errors are "ephemeral" so we know if we're dealing with multiple issues here?

Thanks for sharing @mihama

[2021-04-11 19:38] GClunies commented on #857
@dmateusp

This comes up for us when:
- Model has no `{{ config() }}` or materialization set at all (please don't ask why we have this 😆).
- Model has `materialized='ephemeral'`

[2021-04-12 07:19] franloza commented on #920
Hey @dmateusp , thanks for taking a look!. We're using [dbt-spark](https://github.com/fishtown-analytics/dbt-spark) package to create models in Databricks (Delta lake).
<details><summary>Compiled code</summary>
<p>

[code]

</p>
</details>

[2021-04-12 07:31] franloza commented on #920
If I run the linter on the compiled code using the jinja template,  I get the error too:
`sqlfluff lint --templater jinja --disregard-sqlfluffignores --rules L002  spine.sql`
[code]

[2021-04-12 18:21] #893 closed

[2021-04-12 19:59] #902 closed

[2021-04-12 20:14] dmateusp commented on #857
Oh I see :) we actually also do not specify `{{ config() }}` sometimes, then the default is picked up from `dbt_project.yml` or just default, do you mind verifying for one of these models that has nothing set, that it is being materialized as `ephemeral` too?

Just want to check that this issue only applies to "ephemeral" models, which I think would make sense since they're pulled into a CTE as fa

[2021-04-12 21:00] GClunies commented on #857
HA! Totally forgot about looking at `dbt_project.yml` 🤦🏽

It looks like ALL of these models are `ephemeral` on our end too ✅

[2021-04-12 23:47] dwallace0723 commented on #833
@alanmcruickshank oof - here are the results of `sqlfluff fix models/content/products/products_daily_fanout.sql --rules L003`:

[code]

Not sure if you can tell from that snippet, but this results in the entire model being placed within jinja comments:

<img width="618" alt="Screen Shot 2021-04-12 at 4 46 38 PM" src="https://user-images.githubusercontent.com/20053731/114476218-b1879680-9bae-11eb-8

[2021-04-13 08:33] dmateusp commented on #857
@GClunies thanks for checking :) I updated the issue title

[2021-04-13 08:45] #931 closed

[2021-04-13 08:56] foundinblank opened #961 "L003 adding indents between macro & column alias (AS)"
## Expected Behaviour

We're still trialing SQLFluff and have only one active rule turned on: L003. We added a new field to a series of models, all defined by a macro. See below for example.

[code]

The macro this calls on is defined below, and the indenting of this looks appropriate.
[code]

## Observed Behaviour

`sqlfluff lint` throws an `Indentation not consistent with line xx` error. When ru

[2021-04-13 11:17] #861 closed

[2021-04-13 18:01] dclong opened #962 "Improve the performance of sqlfluff"
I know that there has been effort to improve the performance of sqlfluff. However, sqlfluff still runs extremely slow. For example, I have a SQL file (containing about 3000 lines of code after formatted using sqlfluff) and it takes about 1 hour to lint it and close to 3 hours to run `sqlfluff fix` on it.

[2021-04-13 18:06] dclong commented on #645
I installed sqlfluff from the master branch but I don't see a progress bar when running sqlfluff fix.

[2021-04-13 18:29] barrywhart commented on #962
This is more of a question or suggestion than a solution, but have we tried running a big SQLFluff job using PyPy rather than CPython? For CPU-bound applications, PyPy is often 5-7x faster. I've used it on a handful of projects over the past several years. Sometimes there are compatibility issues, but that's gotten much better recently.

https://www.pypy.org/

[2021-04-13 20:19] GClunies opened #963 "sqlfluff error - CRITICAL [L045] Applying rule L045 threw an Exception: maximum recursion depth exceeded in comparison"
## Expected Behaviour
No `CRITICAL   [L045] Applying rule L045 threw an Exception: maximum recursion depth exceeded in comparison` error is thrown.

## Observed Behaviour
`CRITICAL   [L045] Applying rule L045 threw an Exception: maximum recursion depth exceeded in comparison` error is thrown.

stack trace:
[code]

**dbt model SQL _before_ linting**
[code]

**dbt model SQL _after_ linting** - Not s

[2021-04-13 20:25] barrywhart commented on #963
Can you provide a SQL file that produces the issue?

[2021-04-13 21:56] GClunies commented on #963
Updated with more detail @barrywhart . The UPPER-CASING in the "fixed" SQL seems really fishy to me 🐟 . Have you seen this before?

[2021-04-13 22:28] barrywhart commented on #963
Thanks, I'll take a look at the recursion error. I'm not that familiar with the case-fixing rules, but:
* IIRC, it is designed to auto-detect the intended capitalization behavior.
* This behavior was redesigned in a recent release.

Can you create a separate issue for that?

[2021-04-13 22:35] barrywhart commented on #963
Looking over the file, I have a hunch that rule L045 is recursing because the query uses `{{ this }}`. Still looking...

[2021-04-13 22:40] barrywhart commented on #963
I'm not familiar with dbt, and I'm having trouble creating a valid dbt_project.yml file. Could you provide that for me? Thanks!

[2021-04-13 23:03] barrywhart commented on #963
I think I've reproduced the issue without using dbt. Either this query:
[code]

or this:

[code]

I'll work on getting these queries to process correctly, then ask you (@GClunies) to confirm that it addresses your issue as well.

[2021-04-14 00:08] barrywhart commented on #963
@GClunies: I have a PR with a probable fix if you'd like to test it: #964

[2021-04-14 00:51] robertdefilippi opened #965 "Running sqlfluff lint raises ModuleNotFoundError: No module named 'dbt.exceptions'"
## Expected Behaviour

When I run `sqlfluff lint` on a file or folder, I would expect the issues with my file to be sent back to me.

## Observed Behaviour

When I run `$ sqlfluff lint . ` or  `$ sqlfluff lint path/to/file.sql`  or  `$ sqlfluff lint path/to/folder` I get the error message below:

[code]

[code]

However I get this message with _all_ files and folders, so I don't know if it a probl

[2021-04-14 09:16] alanmcruickshank commented on #965
This is very strange. It implies that sqlfluff can't find dbt 🤔 .

Rather than running `dbt --version`, can you run `pip list` to see what versions of `sqlfluff` and `dbt` it finds? If my theory is right then while you can call `dbt` as a command, you won't find it in `pip list`.

If that's the case then you might not have dbt installed in your current virtual environment. If that is the case I wo

[2021-04-14 09:19] #963 closed

[2021-04-14 09:29] dmateusp commented on #962
@dclong would it be possible for you to remove any sensitive information from that 3000 line SQL file and submit it to that issue? (I know it's a big ask, it's a lot of SQL!)

Then we could do some profiling using your query directly

[2021-04-14 13:13] robertdefilippi commented on #965
So I don't have dbt installed using `pip` I have it installed using homebrew. Is there a way to point sqlfluff to that version ... or must I have it installed with pip?

[code]

[2021-04-14 15:52] GClunies opened #966 "L014 linting and fixing "Inconsistent capitalisation of unquoted identifiers" that do not exist"
## Expected Behaviour
If the SQL has _consistent_ unquoted identifiers that matches the policy in the `.sqlfluff` config, for example:
[code]
Then  `sqlfluff` should not throw any `L014 | Inconsistent capitalisation of unquoted identifiers` errors and should not apply any `L014` "fixes" (since they do not exist).

## Observed Behaviour
1. `sqlfluff lint sl_web_spot_pages.sql` is finding `L014 | In

[2021-04-14 15:55] GClunies commented on #966
@barrywhart This is the UPPER-CASING issue I brought up in #963. Not quite sure if this id a bug or if something is off in my `.sqlfluff` config?

[2021-04-14 19:06] barrywhart commented on #966
Thanks!  I'm not familiar with this area of the code, but someone will probably look at this soon.

[2021-04-15 01:03] upretip opened #967 "[L016] Applying rule L016 threw an Exception: tuple index out of range"
No errors during `sqlfluff parse` only error during `lint` and `fix`
I do not have a sql script that I can share (hopefully I can create a script that i can share). However the detail is as follows:

- Had CTE (with blocks and alias)
- Long sql statements (select, where, order by, etc.)
- Sql selected one column per line

## Expected Behaviour
`L:  1 | P: 177 | L016 | Line is too long`
## Observed

[2021-04-15 12:51] StijnZanders opened #968 "[BigQuery] Jinja for loop failing to parse"
A simple Jinja loop with BigQuery fails to parse using sqlfluff 0.5.2, last working for this is version 0.3.6

## Expected Behaviour
No errors

## Observed Behaviour

[code]

## Steps to Reproduce

SQL File:
[code]

## Version
[code]
## Configuration
[code]

[2021-04-15 15:01] barrywhart commented on #966
@panasenco: Could this behavior be related to your recent awesome work in PR #838? If so, are you potentially interested in investigating this issue?

Also tagging @dmateusp and @alanmcruickshank, who reviewed the PR.

I could possibly look at this next week, but wanted to first check with folks who may be more familiar with this area.

[2021-04-15 16:40] panasenco commented on #966
Sure @barrywhart , I'll take a look at this right now.

[2021-04-15 17:06] panasenco commented on #966
The first strange thing I'm seeing is that #838 replaced `capitalisation_policy` with `extended_capitalisation_policy` for rule L014, so that config should have raised errors. Continuing to investigate...

[2021-04-15 17:10] alanmcruickshank commented on #962
Thanks @dclong . As options for what we do here:
- As suggested by @barrywhart , I've just checked and sqlfluff does run out of the box on pypy (using `pypy -m sqlfluff ...`). I haven't gone deep into functionality but everything looks good so far. On your large project I would definitely be interested on the performance gains you see there.
- In the last release (`0.5.2`) there were some logging

[2021-04-15 21:41] barrywhart commented on #968
This looks like it may be the same underlying issue as #630. If so, that could be really helpful, as @alanmcruickshank mentioned he was having trouble reproducing that issue himself.

I'll take a quick look at this -- if I can reproduce it, it _may_ be easy to fix. 🤞🏽

[2021-04-15 21:45] barrywhart commented on #968
Reproduced the error myself. Here are the local variables for the call that crashes:
[code]

[2021-04-15 21:49] barrywhart commented on #968
The function that's failing, `_split_uniques_coalesce_rest()`, is pretty complex and unfamiliar to me. I think with this easy-to-reproduce test case, it should be possible to make progress on it. @alanmcruickshank, think you'd be up for taking a look at this? My name is all over the `git blame` for the file `src/sqlfluff/core/templaters/python.py`,, but I suspect that was a DOS/Unix line ending ch

[2021-04-16 05:41] panasenco commented on #966
I can confirm now that the issue was that the config used `capitalisation_policy` instead of `extended_capitalisation_policy`. That's totally my fault as I should have made outdated configs throw an error.

<details>
<summary>The fixed file produced with `extended_capitalisation_policy`</summary>

[code]

</details>

I will take a little time to fix this properly this time and open a new PR with t

[2021-04-16 12:40] GClunies commented on #966
Thanks @panasenco for solving this one! I tested with `extended_capitalisation_policy` and it's linting just like you show in your comment above. ✅

[2021-04-16 14:01] foundinblank commented on #417
Hi - we use SparkSQL so we'd definitely be interested in any work you've done so far with a dialect for Hive/Spark SQL. Found this issue via this Slack thread: https://sqlfluff.slack.com/archives/C01GPHR8J0G/p1618571344021200

[2021-04-16 14:06] GClunies opened #972 "L043 - sqlfluff fix returns broken coalesce statement."
## Expected Behaviour
When `sqlfluff fix` applies a fix based on [L043](https://docs.sqlfluff.com/en/latest/rules.html?highlight=ignore#sqlfluff.core.rules.Rule_L043), the end result should be something like:
![image](https://user-images.githubusercontent.com/28986302/115073403-24de2080-9ead-11eb-8413-76e456a62669.png)

## Observed Behaviour
Instead, for some of the `case` statements that are fixe

[2021-04-16 14:09] barrywhart commented on #972
A question about "sometimes": can you tell if the behavior is consistent? That is, for a given input SQL, does SQLFluff **always** or **never** include the `coalesce()`? Also, could you add your succeeding and failing SQL examples as text comments? That will make it easier for someone to reproduce the issue.

[2021-04-16 14:13] wissamimad opened #973 "Join statement indent"
Hello all!,i'm new to the sqlfluff and trying to make this work on my dbt code
below is sample of a left join on multiple keys and every time i run the sqlfluff fix i get a different indentation on the conditions and if put all the condition on the same line it doesn't break line on the "and" example (on cte1.cid = cte2.cid and cte1.sid = cte2.sid and cte1.customer = cte2.customer) it stays the sa

[2021-04-16 14:15] barrywhart commented on #973
Thanks for creating the issue. Could you please SQL example as a text comment here? That will make it easier for someone to reproduce the issue. Also, can you provide your `.sqlfluff` file as well?

[2021-04-16 14:49] wissamimad commented on #973
{{
    config(
        materialized='incremental',
        dist='even'
    )
}}

    select
        cte1.cid,
        cte1.sid,
        cte1.customer

    from cte1
    left join cte2
        on cte1.cid = cte2.cid and cte1.sid = cte2.sid and cte1.customer = cte2.customer
    left join cte3
        on cte1.cid = cte3.cid and
            cte1.sid = cte3.sid and
            cte1.customer = cte3.cust

[2021-04-16 15:34] GClunies commented on #972
Sure thing @barrywhart, I am linting/fixing our entire dbt-repo at the moment so I will post the next occurrence when this happens (the others are already fixed manually and commited).

When I do run into it, I will `sqlfluff fix` multiples times to ensure the behaviour is consistent on the same input model.

[2021-04-16 15:35] dclong commented on #962
I tried to run sqlfluff using PyPy. Linting was about 2 times faster however `sqlfluff fix` was even slower. I will try using `--bench` to see which part takes the most time.

Unfortunately, I couldn't post the SQL code here but I will try to anonymize it and post the anonymized version later.

[2021-04-16 15:44] fernandobrito opened #974 "Add a config to L031 (avoid table aliases in from clauses and join conditions) for minimum length"
👋  This is our first week using sqlfluff in our organization and we are very excited! Thanks a lot for the project 🙌 .

In our dbt project, our team tends to use very long model names, for example: `app_open_session_15_minutes`, `audit_log_events_by_email`, `braze_campaign_analytics`, and we allow the use of aliases when joining models (for the tables above, some aliases that we could tolerate: `_

[2021-04-16 15:57] fernandobrito opened #975 "Add rule identifier to the diff_cover output"
We just started using sqlfluff in our organization, and our first streamlined usage is through the `diff_cover` plugin, which is used to write a comment on the PR:

![image](https://user-images.githubusercontent.com/196840/115050974-997c8380-9edc-11eb-86d1-2c59fdbc3291.png)

Since we are just getting started, there will be a lot of tweaking of rules as we use it "in the wild". Something that would

[2021-04-16 19:06] GClunies commented on #972
@barrywhart
1. Updated with a consistent example with SQL before and after fix.
2. Regarding "sometimes", if I use the same input SQL, I get a consistent unexpected fix. I've added this to the description.

[2021-04-16 20:05] GClunies commented on #972
Here is an example of a model that returned the _expected_ `coalesce()` when fixing L043.

<details>
<summary>Example dbt model BEFORE running "sqlfluff fix"</summary>
<p>

[code]
</p>
</details>

<details>
<summary>Example dbt model BEFORE running "sqlfluff fix"</summary>
<p>

[code]
</p>
</details>

[2021-04-16 20:48] tomasfarias opened #976 "NoQaDirective line number affected by rendered Jinja2 trailing whitespace"
Jinja2 trailing whitespace causes `NoQaDirective`s to be instantiated with different line numbers compared to where they are defined in a SQL file. This can cause `--noqa` comments to be ignored and errors to be incorrectly reported when running `sqlfluff lint`.

I tried to dig around the code, but I'm still not too familiar with the internals of `sqlfluff`. It appears to me that `--noqa` comments

[2021-04-16 20:53] tomasfarias commented on #976
This seems to also affect other rules, not just L016. L016 just happened to be the one I was seeing this behavior with:
[code]
[code]

[2021-04-16 21:01] barrywhart commented on #976
Yes, it's probably universal across rules. @alanmcruickshank, I recall some past issues with pre- versus post-templating file positions. Any thoughts on how/where we might go about fixing this? 🙏🏽

[2021-04-16 23:28] dclong opened #977 "[Question]: Is it possible to control keyword/identifier cases when running `sqlfluff fix`?"
For example,
I'd like to use upper cases for keywords.
I wonder whether there's a way to control cases for keywords, identifiers, etc.

[2021-04-16 23:31] #977 closed

[2021-04-17 09:45] fernandobrito commented on #975
I guess the same question also applies to character positions (why they are not displayed).

For reference, the documentation states it clearly on https://docs.sqlfluff.com/en/latest/production.html#adding-diff-quality-to-your-builds (but doesn't give the reason)

[2021-04-17 13:51] barrywhart commented on #975
The reason character position is not included is that diff-quality formats the messages, not SQLFluff. I think we could include the rule identifier in the error string -- that seems like a good idea. I'll work on this.

[2021-04-17 15:08] barrywhart commented on #974
This sounds reasonable to me. In our organization, we've been disabling this rule because it seemed too strict.

Somewhere in the backlog, I had created an issue about documenting the rationale for all the rules, especially for ones like this that may be a little more subjective.

Any thoughts, @sqlfluff/sqlfluff-maintainers?

[2021-04-17 16:36] barrywhart commented on #967
@upretip: I created a PR (#980) which should avoid the run-time "tuple index out of range" error. Since I don't have a way to reproduce the error you're seeing, could you please test this change and tell me what you see? It's possible this is:
* A true fix
* A change that avoids the runtime error but the resulting SQL still has "line too long" issues
* Something else

[2021-04-17 16:45] fernandobrito commented on #975
That was a quick response and action. Thanks a lot!

[2021-04-17 16:55] barrywhart commented on #972
I found a simpler test case to reproduce this issue. Simply run `sqlfluff fix test.sql --rules L043` on the following SQL file:
[code]

[2021-04-17 16:58] barrywhart commented on #972
Interestingly, blank lines seem to be significant. If I remove **any** of the three blank lines in the example above, the resulting SQL contains `not coalesce(`. But with those blank lines present, it does not.

[2021-04-17 17:06] barrywhart commented on #972
I'm tinkering with this and may have found the issue. In the list of fixes below, note that the `case` is the target of **two** fixes:
* Delete
* Edit

This seems wrong, and would definitely explain why the `coalesce(` is missing from the final SQL. I'll do some more investigation to see if I can determine why.

[code]

[2021-04-17 18:18] #972 closed

[2021-04-17 18:45] #975 closed

[2021-04-17 19:11] #976 closed

[2021-04-17 19:17] barrywhart commented on #975
@fernandobrito: No problem! It's a quiet Saturday waiting for my kid to finish an online competition. 🙏🏽

[2021-04-18 12:42] barrywhart commented on #962
I found a way to use native Python profiling, rather than the SQLFluff profliing. This provides a more detailed, function-call-level view of the running time without having to share confidential SQL files.

@dclong: In the project directory where you normally run the `sqlfluff` command, create a new file `sqlfluff_cli.py` with the following contents:
[code]

Then run this command (replacing `sql/u

[2021-04-18 12:44] barrywhart commented on #962
This is the `output.txt` file from linting/profiling `sql/user_stats/user_stats_combined.sql`, a ~150-line SQL file in one of our projects.

[output.txt](https://github.com/sqlfluff/sqlfluff/files/6331241/output.txt)

[2021-04-18 15:41] barrywhart commented on #962
I will take a look at speeding up rules 10 and 14. I won't assign the ticket to myself for now, at least not until we confirm this is the cause of @dclong's slow performance as well.

[2021-04-18 19:16] dclong commented on #962
@barrywhart Please see attached.
[profile.txt](https://github.com/sqlfluff/sqlfluff/files/6332016/profile.txt)

[2021-04-18 19:49] barrywhart commented on #962
Thanks, @dclong! I briefly reviewed the profile you uploaded. There are some similarities to mine, in that L010 and L014 are the slowest rules in each. However, for your file, it appears the parser is the slowest part, rather than the rules.

I created a PR, #983, which significantly speeds up L010 and L014. Feel free to test that if you like. I think you will see a meaningful but not huge improve

[2021-04-18 20:45] barrywhart commented on #962
From an initial look at the parser, tuning it could be a more involved, long-term project. I say this partly because the parser spends its time in a number of `match()` methods which call one another recursively, based on the structure of the grammar and the SQL code. This makes "top down" profiling (look for the method where the most cumulative time is spent) not very productive. Instead, we'd li

[2021-04-18 23:36] pwildenhain commented on #974
I really like this rule because you can read the sql and, if youre familiar with the database, know exactly which fields are being referenced.

That being said we _also_ have very long table names that I wish we could alias sometimes.

What about a config for L031 called `acceptable_aliases` that houses a list of common aliases? So if you have a really long table name that you use repeatedly, you

[2021-04-18 23:58] barrywhart commented on #974
#812 is the issue about documenting rationales.

[2021-04-19 00:48] dclong commented on #962
@dmateusp @alanmcruickshank Attached is the anonymized version of the SQL.
[anynomize.sql.txt](https://github.com/sqlfluff/sqlfluff/files/6332578/anynomize.sql.txt)

[2021-04-19 00:55] dclong opened #984 "More robust parsing API"
`sqlfluff.parse` throws exceptions when it encounters unparsable sections. This makes it inconvenient for users to call `sqlfluff.parse`. Is it possible to add an option to suppress exceptions and return whatever sqlfluff can parse and with the sections that it cannot understand? The command API is such an example but I'm looking for an analogue Python API.

[2021-04-19 05:39] satish-ravi commented on #417
I was finally able to spend some time on this and added a hive dialect with DDL statements (PR #985). Will continue adding other statements in the next couple of weeks.

[2021-04-20 00:02] upretip commented on #967
@barrywhart I installed your code to a fresh venv using
`➜ pip install  git+ssh://git@github.com/barrywhart/sqlfluff.git@bhart-issue_967_L016_tuple_index_out_of_range`

I can confirm that the error is no longer there. No more python trackback.
`sqlfluff --version ==0.5.2`

Here is the terminal output
[code]

Let me know what needs to be done next.

[2021-04-20 00:38] barrywhart commented on #967
@upretip: You can ignore my earlier question -- I hadn't seen your detailed response yet. I need to ask a maintainer to review the PR before merging it.

Thanks for the bug report and for testing this!

[2021-04-20 07:10] NiallRees commented on #946
I've been wondering more about how we can avoid this interdependency issue when it comes to non-code linting (new lines, indentation).

[2021-04-20 07:10] NiallRees commented on #946
Oops, ignore ^

[2021-04-20 16:13] #967 closed

[2021-04-20 22:26] srjonemed opened #986 "Snowflake ALTER Table RENAME unsupported"
-- If this is a parsing or linting issue, please include a minimal SQL example which reproduces the issue, along with the `sqlfluff parse` output, `sqlfluff lint` output and `sqlfluff fix` output when relevant. Finally, please add any labels that are related to the issue before submitting so that it can be addressed easily! --

## Expected Behaviour
sql lint should not break on .sql file containin

[2021-04-22 14:26] #986 closed

[2021-04-23 07:45] defonzie opened #989 "Failing to parse BigQuery array literals"
## Expected Behaviour

No parsing errors for `SELECT [] AS foo` with BigQuery dialect. Should also support an explicit type like `SELECT ARRAY<string>[] AS foo`.

## Observed Behaviour

`Found unparsable section: '[] AS foo'`

## Steps to Reproduce

http://sqlfluff-online.herokuapp.com/fluffed?sql=H4sIAH95gmAC_wt29XF1DlGIjlVwDFZIy88HANgBUWYQAAAA&dialect=bigquery

## Version
0.5.2

## Configuration

[2021-04-23 07:48] defonzie opened #990 "Failing to parse number literals with exponent"
## Expected Behaviour

No parsing errors for `SELECT 1e-9 AS foo` with BigQuery dialect. `1e-9` should be parsed as a number literal.

## Observed Behaviour

`Found unparsable section: '-9 AS foo'`

## Steps to Reproduce

http://sqlfluff-online.herokuapp.com/fluffed?sql=H4sIAG97gmAC_wt29XF1DlEwTNW1VHAMVkjLz-flAgDfCwtlFAAAAA%3D%3D&dialect=bigquery

## Version
0.5.2

## Configuration
[code]

[2021-04-23 07:56] defonzie opened #991 "Failing to parse combination of comparison operators (BigQuery)"
## Expected Behaviour

No parsing errors for `SELECT 1 < 2, 2 > 1` with BigQuery dialect. Note that `SELECT 1 > 2, 2 < 1` works fine, so this seems to be an issue with the bracket/comparison operator distinction.

## Observed Behaviour

`Found unparsable section: ', 2 > 1'`

## Steps to Reproduce

http://sqlfluff-online.herokuapp.com/fluffed?sql=H4sIAG59gmAC_wt29XF1DlEwVLBRMNJRMFKwUzAEAPAOThMTAAAA

[2021-04-23 11:10] NilsSjogrenKivra opened #992 "Thinks UDF in BigQuery is a table/view."
-- If this is a parsing or linting issue, please include a minimal SQL example which reproduces the issue, along with the `sqlfluff parse` output, `sqlfluff lint` output and `sqlfluff fix` output when relevant. Finally, please add any labels that are related to the issue before submitting so that it can be addressed easily! --

## Expected Behaviour

When calling a UDF in BigQuery I'm expecting sq

[2021-04-23 19:19] barrywhart commented on #992
This issue is essentially a duplicate of #911, and there is an existing PR, #925, currently in review, which addresses it. I tested it with that PR, and the output is below.

[code]

[2021-04-23 19:24] barrywhart commented on #991
Agreed -- the angle bracket syntax in BigQuery `ARRAY` and `STRUCT` notation has challenged us several times. I'll take an initial look at this to see if it's an easy fix. If not, I may call on more expert help! @dmateusp @alanmcruickshank

[2021-04-24 11:30] barrywhart commented on #991
@dmateusp or @alanmcruickshank: I ran through this example in the debugger a few times, specifically the `_bracket_sensitive_look_ahead_match` function. I'm struggling to understand why, for two similar queries, one parses and one doesn't.

Parses:
[code]

Won't parse:
[code]

Since the first query parses and the second doesn't, my intuition is that the problem isn't confined to `_bracket_sensitiv

[2021-04-24 15:10] barrywhart commented on #991
After some more "grinding", I think a good solution may involve moving bracket pairs from a dialect-level value to a context-sensitive value. In other words, BigQuery angle brackets will only be allowed in the areas of the dialect that relate to function definition parameters and return types. This will require some dynamic bookkeeping in the parser, but should largely prevent future cases where c

[2021-04-24 20:38] wong-codaio opened #996 "Snowflake: Does not support `SET` command."
Snowflake dialect does not support SQL variables (As defined in [Snowflake's doc](https://docs.snowflake.com/en/sql-reference/sql/set.html).)

Code Sample ([Source](https://docs.snowflake.com/en/sql-reference/sql/set.html#examples)):

[code]

## Expected Behaviour

`SET <var> = <expression>` is parsed.

## Observed Behaviour

Encountered an unparsable error when parsing `SET <var> = <expr>;` state

[2021-04-25 14:40] barrywhart commented on #991
I found a pretty good solution, I think. #997

[2021-04-25 18:18] barrywhart commented on #989
I'll try and look at this one soon. It may interact with issue #991 and the proposed fix, #997.

[2021-04-25 18:22] barrywhart commented on #990
Other dialects probably need this as well, so let's fix this in the ANSI dialect if there are no objections.
* Snowflake [docs](https://docs.snowflake.com/en/sql-reference/data-types-numeric.html#numeric-constants) on floating-point literals and exponents
* Postgres docs [here](https://www.postgresql.org/docs/10/sql-syntax-lexical.html#SQL-SYNTAX-CONSTANTS) (see section 4.1.2.6, "Numeric Constants

[2021-04-25 18:28] barrywhart commented on #989
When we address this issue, I suggest the following extended test case, which tests both string and numeric array types and literal values inside the square brackets.

[code]

[2021-04-25 18:32] barrywhart commented on #989
Interestingly, this works already, so part of the issue may be that **empty** array literals are not supported:
[code]

[2021-04-25 18:59] barrywhart opened #999 "Explicitly typed ARRAY literals in BigQuery parse incorrectly"
Related to #989

## Expected Behaviour

BigQuery `ARRAY` literal parses as a type descriptor and an array literal.

## Observed Behaviour

The words `ARRAY` and `NUMERIC` are parsed as column names, and the angle brackets are parsed as less-than  and greater-than operators.

[code]

## Steps to Reproduce

Run `sqlfluff parse --dialect bigquery test.sql` on the following file:
[code]

## Version
In

[2021-04-25 23:17] #991 closed

[2021-04-26 13:23] #990 closed

[2021-04-26 13:51] #989 closed

[2021-04-26 16:46] defonzie opened #1004 "Failing to parse nested structs (BigQuery)"
## Expected Behaviour

No parsing errors for `SELECT STRUCT(STRUCT(1 AS b) AS a) AS foo` with BigQuery dialect. Using `STRUCT` inside of a function call also fails (e.g. `SELECT ARRAY_AGG(STRUCT(a AS a, b AS b)) FROM foo`).

## Observed Behaviour

`Found unparsable section: ' AS b'`

## Steps to Reproduce

http://sqlfluff-online.herokuapp.com/fluffed?sql=H4sIANTthmAC_wt29XF1DlEIDgkKdQ7RgFKGCo7BCkm

[2021-04-26 16:50] defonzie opened #1005 "Failing to parse expressions inside of interval (BigQuery)"
## Expected Behaviour

No parsing errors for `SELECT DATE_ADD(CURRENT_DATE(), INTERVAL -1+2 DAY)` with BigQuery dialect.

## Observed Behaviour

`Found unparsable section: 'CURRENT_DATE(), INTERVAL -1+2 DAY'`

## Steps to Reproduce

http://sqlfluff-online.herokuapp.com/fluffed?sql=H4sIANXuhmAC_wt29XF1DlFwcQxxjXd0cdFwDg0KcvULiQcJaGjqKHj6hbgGhTn6KOgaahsBlUVqAgAWTZqrMgAAAA%3D%3D&dialect=bigquery

##

[2021-04-26 16:51] barrywhart commented on #1004
Just a thought... this seems similar to the `CAST()` function in SQL, which also uses `AS` syntax inside what otherwise resembles a normal function call.

https://cloud.google.com/bigquery/docs/reference/standard-sql/conversion_functions#cast

[2021-04-26 16:55] defonzie commented on #1004
I think this could be solved by allowing `TypelessStructSegment`  in the `FunctionContentsExpressionGrammar` as well as in the innermost `Sequence` of the `TypelessStructSegment` itself.

[2021-04-26 16:56] defonzie commented on #1005
Maybe the `IntervalExpressionSegment` should accept an arbitrary `ExpressionSegment` and not just literals/functions?

[2021-04-26 17:00] defonzie opened #1006 "Failing to parse ORDER BY multiple fields inside of BigQuery function"
## Expected Behaviour

No parsing errors for `SELECT STRING_AGG(a ORDER BY b, c) FROM foo` with BigQuery dialect. It works fine with just one field though: `SELECT STRING_AGG(a ORDER BY b) FROM foo`

## Observed Behaviour

`Found unparsable section: 'a ORDER BY b, c'`

## Steps to Reproduce

http://sqlfluff-online.herokuapp.com/fluffed?sql=H4sIAD7xhmAC_wt29XF1DlEIDgny9HOPd3R310hU8A9ycQ1ScIpUSNJRSN

[2021-04-26 17:04] defonzie opened #1007 "Failing to parse SELECT ... FROM ... WITH OFFSET (BigQuery)"
## Expected Behaviour

No parsing errors for `SELECT ARRAY(SELECT a FROM foo WITH OFFSET WHERE OFFSET > 1)` with BigQuery dialect.

## Observed Behaviour

`Found unparsable section: ' OFFSET'`

## Steps to Reproduce

http://sqlfluff-online.herokuapp.com/fluffed?sql=H4sIAGryhmAC_wt29XF1DlFwDApyjNQIhnASFdyC_H0V0vLzFcI9QzwU_N3cgl1DFMI9XINcYRw7BUNNXi4Am4m7hT4AAAA%3D&dialect=bigquery

## Version
0.5.2

[2021-04-26 18:15] raphael-riel opened #1008 "Ignore line-no from dbt mismatch linter's violation line-no"
Code:
![image](https://user-images.githubusercontent.com/474697/116128819-5cac4b80-a697-11eb-9746-438b531c1b2a.png)
Violation L029 is at line 32. Also it's ignored at the line-level.

![image](https://user-images.githubusercontent.com/474697/116128911-76e62980-a697-11eb-9ec1-fd5316a019fe.png)

Ignore mask's line-no is off.
![image](https://user-images.githubusercontent.com/474697/116129227-dc3a1a8

[2021-04-26 18:16] raphael-riel commented on #1008
I'm currently trying to figure out what's going on at https://github.com/sqlfluff/sqlfluff/blob/master/src/sqlfluff/core/parser/segments/base.py#L310
That logic would be my first hypothesis for the problem.

[2021-04-26 18:20] barrywhart commented on #1007
Partial parse output to clarify the problem: it's `WITH OFFSET` that's not parsing. The second occurrence of `OFFSET` (`WHERE OFFSET > 1`) **is** parsing successfully.

[code]

[2021-04-26 18:24] barrywhart commented on #1004
@defonzie: It sounds like you have looked at the dialect -- that's great! Do you think you might be interested in working on this issue?

[2021-04-26 19:06] raphael-riel commented on #1008
Ok, found the culprit: Config node written in jinja for specific values in a model.

## Fail
![2021-04-26 at 2 59 PM](https://user-images.githubusercontent.com/474697/116136796-cbda6d80-a6a0-11eb-8ea6-0b7c047f9a0b.png)

## Success
![image](https://user-images.githubusercontent.com/474697/116136824-d4cb3f00-a6a0-11eb-9b22-1dd2a6e25cdb.png)

## SQL to Reproduce

[code]

[2021-04-26 19:08] raphael-riel commented on #1008
## Update/workaround
Putting the jinja-config-call on a single line seems to be a valid workaround:
![image](https://user-images.githubusercontent.com/474697/116137172-37243f80-a6a1-11eb-9ff2-cbcf637a5842.png)

## Fails
[code]

## Works
[code]