[2018-11-15 16:34] airhorns opened #1 "Feature request: autofix lint errors (that can be fixed)"
Similar to `autopep8`, `eslint --fix`, or `rubocop --auto-correct`, it would be amazing if `sqlfluff` was able to fix some of the lint errors it discovered automatically. This is good because it:
 - makes users using `sqlfluff` able to move faster by not having to fix all errors themselves
 - makes rolling out `sqlfluff` to a new codebase faster and less of a speedbump
 - makes the signal to noise

[2018-11-15 16:39] airhorns commented on #1
Also note: for implementation, if this is a desired feature, I am only deeply familiar with rubocop, but the way it works is that each rule (`Cop` in Rubocop lingo`) knows how to correct itself by modifying the AST. I think that's a fine way of modelling the problem. See https://github.com/rubocop-hq/rubocop/blob/master/lib/rubocop/cop/lint/unneeded_cop_disable_directive.rb#L45-L57 for an example.

[2018-11-15 19:21] alanmcruickshank commented on #1
@airhorns - I like this idea! I'm a bit hesitant to do it yet, as the linter is still a little unreliable, but when we're closer to stability that would be relatively easy.

Under the hood, each violation of a rule is tied to a particular chunk of code and so it would be fairly easy to provide some rules to fix it.

[2018-11-19 16:21] alanmcruickshank commented on #1
@airhorns - I've implemented a first pass of this (with only one linting rule implemented for it) in version 0.0.7. Can you have a test and see how you like the features?

https://github.com/alanmcruickshank/sqlfluff/releases/tag/0.0.7

[2018-11-23 09:40] mrshu opened #3 "Feature request: some pre-set options for SQL style guides"
Hi @alanmcruickshank,

Thanks a ton again for taking the time to build `sqlfluff` -- I believe it has the potential to be the [linter that is sorely missing](https://www.reddit.com/r/SQL/comments/8wnysv/is_it_accurate_to_say_that_uniform_code_style_and/)!

I am not sure what are your future plans, but if I may, I'd suggest trying to add rules from a few guidelines -- here are the ones I am familia

[2018-11-25 20:11] alanmcruickshank commented on #3
Hi @mrshu  - totally up for this. I'm about to embark on rebuilding some of the parsing engine to deal with some of these types of rules. Definitely keen to move in this direction.

What I want to have is a modular approach where we have  few default style guide, but people can also plug and play their own style guides as they wish.

[2018-11-26 08:34] mrshu commented on #3
Awesome, thanks a ton @alanmcruickshank!

Let me know if I can be of any help.

[2019-01-09 10:44] sumitkumar1209 opened #6 "Feature Request: File based configuration"
First of all thank you @alanmcruickshank , Really nice work on authoring this project.

I wanted to know what are your plans on putting more rules or making it more configurable via JSON Config as parameter as I would like to use this in our organisation and would hate to have multiple projects to maintain internally.

Mainly around this points in your ToDos
- [ ] Configurable linting
  - [ ] Comm

[2019-09-14 17:36] barrywhart opened #7 "Looking for contributors?"
Are you still developing this project, and are you looking for contributors? I am a data engineer at Mailchimp, and we make extensive use of BigQuery.

A tool like this could be helpful for our team, and we may be able to help with development if you're still planning to work on it.

Please let me know -- thanks!

[2019-09-23 19:37] alanmcruickshank commented on #7
Hi Barry,

Yes I'm still working on it - I've been rewriting the whole project from
the ground up though so I might need to get that live before it can be very
useful. Once that's up I'd love some help developing it.

Once we get to that point I'd love some help with contributors. Can you
raise an issue on the github, with an example query that you'd like to find
some linting errors in? That will

[2019-09-30 19:14] barrywhart opened #8 "Rule: Detect incorrect usage / understanding of DISTINCT"
I often run across code where someone is using `DISTINCT` as if it were a function, when it's actually an option that applies to the whole list of result columns, e.g.:

[code]

In this case, they are going to get all distinct combinations of `a`, `b`, and `c`, not just the distinct values of `a` as they seem to think.

In this case, the suggested corrections are one of:
* Switch to using `GROUP B

[2019-09-30 19:17] barrywhart opened #9 "Rule: Warn if a query uses both DISTINCT and GROUP BY"
Since these two features of SQL behave very similarly, to my knowledge there is no reason to use both in the same query (I have not been able to 100% confirm this.). Even if there are occasional reasons, it's still pretty unusual and worth flagging.

If someone does this, they may be misunderstanding the behavior. The tool should suggest they eliminate `DISTINCT` from the query and do what they ne

[2019-10-02 13:38] barrywhart opened #10 "Rule: If a JOIN uses "ON" but could use "USING", suggest changing it"
In SQL, `USING` provides a more concise syntax for joins where the fields in the two tables have the same names and the fields are being compared for equality (`=`). It is more readable and therefore preferable for style reasons. If a `JOIN` uses `ON` and all the join conditions are like this, suggest switching to `USING`.

For example, a query like this:
[code]

Should suggest changing it to this

[2019-10-02 13:40] barrywhart opened #11 "New rule: When defining a column or table alias, always include the AS keyword"
This is more readable, as it makes the aliasing explicit.

[2019-10-02 13:54] barrywhart opened #12 "Rule: When a query includes a computed column in the SELECT list, warn if no column alias was defined"
This makes the code and the query results more self documenting. It's especially important in some data pipelines, where SQL queries are often stored in new tables even without an explicit `CREATE TABLE AS` statement.

[2019-10-02 14:01] barrywhart opened #13 "Feature Request: Optional Jinja2 pre-processor"
Similar to #1, but for formatting rather than code style. It would be great if the linter could reformat the SQL to follow some common-sense formatting guidelines, primarily around indentation.

Our standard is to place `SELECT`, `FROM`, `JOIN`, and keywords like that at the left, then indent the column list, join conditions, etc. (or place them on the same line as the keyword if it easily fits).

[2019-10-03 21:54] alanmcruickshank commented on #13
@barrywhart - I've roughly planned to go down the route of option 2. I think while loose parsing could be an option, it will just result in so much noise that it's not helpful.

Once I've got the parser playing nicely, I'd like to implement Jinja2 as an optional pre-parsing library.

Can you think of any other templating engines that people are likely to want to use?

[2019-10-03 21:56] alanmcruickshank commented on #12
I think this is a great suggestion. 👍

[2019-10-03 22:01] alanmcruickshank commented on #10
I'd be open to allowing this as an optional rule, but I'm actually leaning toward the default style guide actually leaning away from USING, due to some inconsistencies in how it deals with aliasing of common columns.

For example in the snowflake documentation (https://docs.snowflake.net/manuals/sql-reference/constructs/join.html)

I think that the `USING` keyword can also be misleading in the cas

[2019-10-03 22:02] alanmcruickshank commented on #11
Great idea 👍

[2019-10-03 22:03] alanmcruickshank commented on #9
Great Idea 👍

[2019-10-03 22:06] alanmcruickshank commented on #8
@barrywhart - for this one, I agree that this should be avoided.

I didn't actually realise that your example would actually *parse*. Can you confirm that it does actually run, and on what kind of database? I had initially thought that the parser would flag a syntax error and fail to parse before that code even got to the linter.

If it is valid sql, could you provide a link to the documentation f

[2019-10-04 22:33] barrywhart commented on #13
I don't know if I'd be a good judge about what other templating engines to use, but I think there's a good way to find out: Google BigQuery has a free public data set with PyPI package downloads.

It should be easy to pick a few package names and compare the do download stats, and it may be possible to simply do a package keyword search (I.e. what are the most popular downloads with the keyword "t

[2019-10-04 22:39] barrywhart commented on #10
Interesting! I wonder if that caveat is general or if it could be specific to Snowflake. With BigQuery, it is specifically suggested to avoid using `*` as the projection list because it's a columnar data store, and `*` returns all columns, which is slow and costly (costly because BigQuery bills by the amount of data read).

[2019-10-04 22:48] barrywhart commented on #10
I found a Stack Overflow post about USING vs JOIN. It seems pretty positive about USING. It's discussing older, more traditional databases.

https://stackoverflow.com/questions/11366006/mysql-on-vs-using

[2019-10-04 22:51] barrywhart commented on #10
About the "3 or more table" scenario -- note that a USING is associated to a specific JOIN, so I don't think there's any potential ambiguity to the parser which tables are being referenced.

[2019-10-04 22:54] barrywhart commented on #8
I'll double check on BigQuery. I'm almost certain I've seen things like this in code reviews. I think it basically parses as:

[code]

which is very different than what the developer was probably thinking.

[2019-10-07 14:25] nolanbconaway commented on #7
I love this tool! Please keep me posted when the project is ready for new contributors!

[2019-10-16 11:49] barrywhart commented on #8
Tested on BigQuery. This query returned 17,403 records:
[code]

So did this query:
[code]

This query (which may have bee the intent of using `DISTINCT` with parentheses), returns 72 records:
[code]

If you have a Google account with BigQuery access, you can run these queries [here](https://console.cloud.google.com/bigquery).

[2019-10-29 19:17] alanmcruickshank commented on #6
Hi @sumitkumar1209 - I've just released version 0.1.0 of sqlfluff - I'd love your feedback on it.

As for this issue - I don't expect *new* rules to added at runtime via a JSON config, but I do expect that rules could be turned on and off according to config and some more generic rules might accept some configurable parameters. For example rule L002 at the moment already has a configurable paramet

[2019-10-29 19:19] alanmcruickshank commented on #7
@barrywhart @nolanbconaway  - we're open for business again. I'd love your feedback on the most recent 0.1.0 release and I'd welcome any help in either debugging the new implementation, submitting feature requests or even submitting pull requests now. 😃

I'm going to close this issue now that the doors are open again 👍

[2019-10-29 19:19] #7 closed

[2019-10-29 19:21] alanmcruickshank commented on #3
@mrshu - I'm going to update this to a feature request around having pre-set configuration settings to allow users to choose from a selection of pre-existing style guides rather than always having to go with the default.

Setting expectations I don't think this will be a feature we get to very soon - the initial style guide is still pretty bare bones so not much to choose between - but I would lik

[2019-10-31 08:32] mrshu commented on #3
Sure thing @alanmcruickshank, that makes a lot of sense -- thanks!

[2019-10-31 09:10] mrshu commented on #7
Just came here to say that I also very much appreciate all the work you've put into `sqlfluff` @alanmcruickshank and although we have to use `0.0.7` for now (the `0.1.*` release does not seem to work for us for now -- see some of the issues I've posted), I would be very happy to help!

[2019-10-31 09:17] mrshu opened #22 "Feature request: functions (`DATE()`) and proper `ORDER BY`"
Consider the following query:

[code]

When saved to `a.sql` we can execute `sqlfluff` on it, which results into the following:

[code]

This is unexpected, as the query has no trouble being executed in PrestoDB (that is AWS Athena) for which it was prepared.

Could it be that the quotes (`"`) around column/database names may cause the problem? Or is it the `DATE` function?

Do let me know what I

[2019-10-31 09:42] mrshu opened #23 "Bug: Issues with nested functions (e.g. SPLIT(LOWER(text), ' ') and so on)"
Consider the following query:

[code]

Saving this query to `b.sql` and running `sqlfluff lint -n b.sql` results in the following:

[code]

[2019-10-31 11:04] alanmcruickshank commented on #23
Thanks @mrshu - I've confirmed this bug. Good catch. There's an issue with bracket counting which means it's trying to parse `SPLIT(LOWER(text)` and getting confused that it can't find the final bracket.

We don't have proper function parsing yet - but I'll add your example into the test suite and get it to pass. Thanks for posting such a clear example!

[2019-10-31 11:56] alanmcruickshank commented on #23
More specifically on closer analysis, the `GreedyUntil` grammar doesn't yet implement bracket counting, so it finds the comma after `(text)` and just returns straight away. There's a hacky way of doing this but I'm going to have a think about how to make the bracket counting logic a bit more generic - because I've already implemented it in two separate other grammars.

[2019-10-31 12:00] alanmcruickshank commented on #22
Thanks @mrshu - that's a really helpful issue report. It really helps when people lay things out clearly 😄 .

There are two things here:
1. I haven't yet implemented function calls properly, which means that the parser is getting confused by `DATE(...`.
2. I haven't implemented `ORDER BY` clauses in great detail. They detect but they don't parse properly, and it appears that there's an issue with

[2019-10-31 12:03] alanmcruickshank commented on #7
@mrshu - thanks for being so kind. I'll try and prioritise your issues so I can help you get `0.1.*` into production. If any other issues come up, do bring them up!

[2019-10-31 12:10] barrywhart commented on #7
@alanmcruickshank: I am interested in contributing -- this is an exciting project! We've had some recent re-org at work, and process/code quality tools like this are definitely part of our team's domain (we're an ML Engineering team), but we're supporting several active data science projects as well. I hope to find time for long-term investments like this along with the project work. 💯

[2019-11-10 21:32] #23 closed

[2019-11-10 21:39] #22 closed

[2019-11-10 21:52] alanmcruickshank commented on #22
@mrshu - I've just released 0.1.4 on pypi - can you try it out on your repo and post anything that doesn't work with it. I think I've fixed the two bugs you originally posted.

[2019-11-10 21:55] alanmcruickshank commented on #13
@barrywhart - could you post a couple of example queries here with the jinja2 tags still present. I want to start working on the jinja2 processor soon and I'm curious to see how you're using it.

[2019-11-11 09:28] alanmcruickshank commented on #7
@barrywhart - great to hear that you're keen to get involved. What would be *most* useful right now is to try and get the `0.1.*` version running in the wild as part of your deployment pipeline (or at least as part of your workflow). As you do that I'm sure you'll find a few bugs at this stage - can you post them as issues on github, and we can work together on prioritising them. I'd love to find

[2019-11-11 09:33] alanmcruickshank opened #28 "Feature Request: CLI that updates while running, rather than afterward"
The current CLI looks like it's frozen while linting large directories. It should spit out output as it goes rather than just waiting until the end. Potentially with some options for a progress bar or similar.

[2019-11-11 15:45] barrywhart commented on #13
Here's a typical query. Most of our SQL is only lightly templated -- e.g. table names, filter conditions. I removed some parts of this to keep it small, so it is not a working query but should still be a good example.

[code]

Here's an example using Jinja2 loops. We might do something like this occasionally:
[code]

[2019-11-11 15:59] barrywhart commented on #7
Ok, I added a ticket for this to our backlog. If things work out, I'm hoping to find at least a couple hours a week to work on this tool. Exciting!

[2019-11-11 16:53] #28 closed

[2019-11-11 18:33] alanmcruickshank commented on #13
thanks @barrywhart - thinking about usability here, we're going to need a way of providing dummy variables to jinja2 to enable it to render the template.

For the loops, that's easy: jinja will process them just out of the box, but for your second query, we need a way of providing `NUM_EMBEDDING_COMPONENTS`, `gcp_project`, `dataset`, and `sort_col` to the render context.

I've had a think about ho

[2019-11-11 23:45] barrywhart commented on #13
For number 2, when you say "root", I assume you mean the root of the project or application directory? I think that's a good approach for now. If future users need more flexibility, a couple of ideas come to mind:
* Variation of number 1: For each `.sql` file, sqlfluff should look for a corresponding file with default template parameters. The file extension could be something like `.sqlparams`.
*

[2019-11-12 13:08] barrywhart commented on #13
Have you heard of an open-source tool called `dbt`? Interestingly, it is a Python-based tool for authoring data pipelines in pure SQL. Also, it uses Jinja2 for SQL templating. We may evaluate using it for a future project. It sounds like it is pretty popular, so it would be interesting to see if it currently supports SQL linting. Seems like it would be cool if sqlfluff could automatically pick up

[2019-11-12 22:47] alanmcruickshank commented on #13
We use dbt at tails and I can confirm it's excellent. Honestly, the main
reason for me developing sqlfluff is to lint are increasingly large dbt
repository, and all of it is jinja2 templated.

That's one of my main reasons to bring this feature forward so soon. Dbt
also has a great slack community - feel free to DM me on there if you need
a hand getting set up.

I've just started work on this temp

[2019-11-12 23:34] barrywhart commented on #13
Sure, I'd be happy to.

Sent from my iPhone

[2019-11-14 01:38] alanmcruickshank commented on #6
@sumitkumar1209 - I've added this to the roadmap for 0.2.0 and started working on it. As part of this I'll aim for parity between command line options and configuration options.

For anyone interested, the first implementation of this is going to be *heavily* inspired by [what flake8 does](https://flake8.pycqa.org/en/latest/user/configuration.html#configuration-locations).

[2019-11-14 01:41] alanmcruickshank commented on #11
At the moment I don't think queries which do this will even *parse*. Parsing this successfully will definitely be done before 0.2.0. I anticipate that this *might* be the first implemented rule which is *deactivated* by default, and I'm not sure yet how this fits into how sqlfluff will be *defaultly* opinionated. It seems like a very sensible option however.

[2019-11-14 01:44] alanmcruickshank commented on #13
The skeleton for this is implemented in #31 .

It's not a very useful skeleton yet because I now realise templating is useless without configuration (because we don't have a way to set the values to fill in the gaps yet). This feature now requires #6 to be sorted before it will be fully implemented.

[2019-11-15 18:40] nolanbconaway commented on #3
deserves noting that the DBT style guide is one worth implementing once the project is at this stage!

https://github.com/fishtown-analytics/corp/blob/master/dbt_coding_conventions.md

[2019-11-17 00:17] #6 closed

[2019-11-17 00:19] alanmcruickshank commented on #13
Most of this is now done as part of #32 . The last thing to solve is how to bring macros and functions into that configuration. That's the next item on the agenda for this issue.

[2019-11-17 13:12] alanmcruickshank opened #33 "Make the documentation less awful."
The documentation is now getting to a scale where it doesn't just work in one Markdown file. We need something better, and probably hosted elsewhere (readthedocs or similar).

This is an issue to track that.

[2019-11-19 19:34] #33 closed

[2019-11-20 21:49] alanmcruickshank commented on #13
@barrywhart - I think this is mostly done now. Can you have a look at what I've done? Would love some feedback.

[2019-11-20 21:49] #13 closed

[2019-11-20 22:07] barrywhart opened #37 "Rule: In a JOIN, flag overly complex logic, suggesting to move it to WHERE"
This is a situation that arose recently in some production code.

We have the following join:
[code]

The `ON` is a mixture of what looks like actual join criteria (`s.user_id = content.user_id` and `s.campaign_id = content.campaign_id`) and filtering logic (the `<=` condition).

It would be cool to have a check that detects non-trivial join conditions (anything other than `=`, maybe?) and suggest

[2019-11-20 22:50] alanmcruickshank commented on #37
This is an interesting idea - it hints at perhaps two tiers of linting - one for *warnings* and one for *issues*. Practically where warnings wouldn't cause a _fail_ as such but would still be flagged to users.

In your specific example, there are a couple of criteria for complexity:
- Three consecutive `AND` statements (although I think this is _normal_)
- an inequality, rather than just an equali

[2019-11-20 22:51] alanmcruickshank commented on #37
I wonder if #10 would also come under the heading of a _warning_ rather than an _error_?

[2019-11-20 22:56] alanmcruickshank opened #38 "Rule: Inconsistent capitalisation of keywords"
Either keywords should be uppercase or lowercase -but within a file they should be consistent.

An extension of this rule would be to allow a more specific version to be configured using the new config framework.

[2019-11-20 22:58] alanmcruickshank opened #39 "Enhancement: Structure and Documentation of Rules"
There should be a framework for auto-documentation of rules. Currently they're not documented at all.

[2019-11-20 22:58] alanmcruickshank opened #40 "Adding docstring linting"
Enabling docstring linting (Google style) to make the codebase better documented.

[2019-11-21 18:08] alanmcruickshank commented on #39
As part of this I think the whole *ruleset* construct needs some work, it's really messy at the moment.

[2019-11-21 19:04] barrywhart commented on #37
Yes, I've worked with tools that do both. Another level of flexibility is to have a configuration file. PyLint provides very fine-grained control over:
* In a config file, specify which things to check for
* In the code, special comments that say "please don't report error XXX for this line; I know about it and I'm okay with it"

[Example PyLint config file](https://github.com/kubeflow/examples/bl

[2019-11-21 19:10] barrywhart commented on #37
I don't recall seeing inequalities in joins very often, but it may vary by team/project. The use of arithmetic is also unusual.

I wonder if there are existing code complexity metrics that could be applicable to SQL (or parts of SQL like the join). One possibility is [Halstead metrics](https://en.wikipedia.org/wiki/Halstead_complexity_measures). IIUC, this metric can be evaluated for a single expr

[2019-11-21 19:17] barrywhart opened #41 "sqlfluff fails to install in Python 2.7"
I started looking at integrating sqlfluff into our application today. We use a mixture of Python 2.7 and 3 on our projects, which new projects using Python 3.

I noticed that the package won't install in Python 2.7. It looks like a very simple issue. This is the error:
[code]

[This module has been renamed](https://docs.python.org/2/library/configparser.html) in Python 3.
* Python 2.7: `import Con

[2019-11-21 20:47] barrywhart commented on #13
I read over the docs. I found it a little confusing; I feel like some of the context (like the discussion on this ticket) is missing from the documentation. I think parts of the comment that begins:

could be helpful. Here's my attempt at capturing the key points as bullets (could be written as prose; think of this as a draft or outline).

* Often, real-world SQL is templated to make it flexible.

[2019-11-21 20:50] barrywhart commented on #41
This is not a blocker for me -- I'll try using `sqlfluff` on one of our Python 3 projects.

[2019-11-22 11:10] alanmcruickshank commented on #41
I'm already using the `six` module in quite a few places - great catch for finding this bug. I'm surprised that it hasn't come up in the CI tests but we should totally fix it regardless.

I like the approach of using `from six.moves import configparser` rather than importing it directly or using the `try...except...` approach. @barrywhart, fancy submitting a PR for this?

[2019-11-22 13:28] barrywhart commented on #41
I'll create a PR. I'm very tempted to use the `try/except` technique because `setup.py` is a special case, since it runs before the package is installed. (In order to use `six` in `setup.py`, we'd have to add a `setup_requires` option to `setup.py`, in addition to the current `install_requires`.)

I don't know the current behavior of `pip`, but there have been problems in the past with `pip`'s abi

[2019-11-22 14:23] alanmcruickshank opened #43 "Enhancement: Specifying rules at the command should fail loudly."
At the moment - if someone specifies a rule in the CLI which doesn't actually exist, there is no warning or error. We should at least give some feedback about this.

[2019-11-24 11:26] alanmcruickshank opened #44 "Enhancement: Structure and Documentation of Dialects"
Similar to #39 we should have good documentation of the various grammars. Ideally this should be auto-generated from the grammar itself.

[2019-11-24 11:27] #41 closed

[2019-11-24 21:04] #40 closed

[2019-11-25 18:51] #39 closed

[2019-11-25 18:51] #43 closed

[2019-11-26 14:34] sobolevn opened #48 "Using with python raw sql"
Hi! Thanks a lot for this awesome project!

Is it possible to use it with `python` code and `sql` written as strings inside?
It is pretty sad to know that these strings cannot be linted right now 😞

[2019-11-26 18:01] alanmcruickshank commented on #48
Right now... no - but I'd be interested in working out how we might do that. Any ideas on how we could implement this?

At the moment, my best suggestion is to extract those sql statements out into seperate files when they get to a level of complexity that warrants that. If you definitely want to focus on strings inside files, then check out the sql plugin for flake8: https://github.com/pgjones/fl

[2019-11-26 22:39] alanmcruickshank opened #50 "Bug: The `fix` command is not templating safe"
Running the command below does fix the linting error but it also removes the templating tags and replaces them with the dummy commands.

` sqlfluff fix test\fixtures\templater\jinja_b\jinja.sql --rules L010`

To fix this we need a way that that during the fixing process we compare the templated and un-templated versions to identify where substitutions have been made and either ignore those fixes (

[2019-11-26 22:43] alanmcruickshank opened #51 "Bug: Specifying paths which don't exist fails messily"
When specifying a path which doesn't exist, we get a long traceback response rather than a compact and concise message saying that the path doesn't exist. For example the command:

`sqlfluff lint foo`

We get the output:

[code]

better would be something like:

[code]

[2019-11-27 09:52] alanmcruickshank commented on #13
Resolving this in #47

[2019-11-30 22:24] #50 closed

[2019-11-30 22:30] #38 closed

[2019-11-30 23:31] alanmcruickshank commented on #3
@mrshu @nolanbconaway

I'm moving this issue to the 0.3.0 mileston rather than 0.2.0 (which should be coming out soon). I realised before we start supporting *multiple* potential styles, I need to get sqlfluff to support *one* consistent style first.

The way this will eventually be implemented will be by having some pre-set config files which can be optionally loaded, by some kind of `style` argu

[2019-11-30 23:57] #51 closed

[2019-12-01 16:32] #11 closed

[2019-12-01 16:32] #12 closed

[2019-12-01 17:29] alanmcruickshank commented on #12
@barrywhart - I've just published 0.2.1 which includes this feature (and some other things too). Can you check it out and see how it works?

[2019-12-01 17:30] alanmcruickshank commented on #23
@mrshu - This is live in 0.2.1 now. Can you see if  you're able to upgrade from <0.1 up to 0.2 now?

[2019-12-01 17:38] barrywhart commented on #12
Yes, this sounds great! I'm on holiday this week but return tomorrow. Our team has added a new member recently so I hope to have more time to test and contribute. 🤞

[2019-12-02 15:43] barrywhart opened #59 "Enhancement: Support for BigQuery SQL"
Our data science projects use Google BigQuery. It will be good if this is supported. It's pretty close to standard SQL, I think.

[2019-12-02 16:02] barrywhart opened #60 "Bug: Running "sqlfluff version" on a fresh install throws an error"
I installed `sqlfluff` and ran the `version` and `lint` commands. Both failed, probably due to a missing configuration file. It would be good to report this error in a nicer way.

Here's the result I saw:
[code]

[2019-12-02 16:03] barrywhart commented on #60
I get the same error running the suggested example from the docs:
[code]

[2019-12-02 16:08] barrywhart commented on #60
I did some digging in the source code. I did not have any of these files in my user directory:
`['setup.cfg', 'tox.ini', 'pep8.ini', '.sqlfluff']`. I guess that's why it failed. Maybe there needs to be a default configuration object as a fallback?

[2019-12-02 16:18] barrywhart commented on #60
I found [this page](https://github.com/alanmcruickshank/sqlfluff/blob/master/docs/source/configuration.rst) in the docs, which is intended to include a default configuration file. It looks like something is a bit wrong with how it's including the actual config file, because it's rendering as:

[code]

I do see the filename `sqlfluff/default_config.cfg`, and I'll manually copy that file to `~/.sqlf

[2019-12-02 16:26] barrywhart opened #61 "Enhancement: Implement "UNION ALL" in parser."
Linting this file:
[code]

Fails as follows:
[code]

[2019-12-02 16:27] barrywhart commented on #61
If I remove line 1, leaving this SQL, it works:
[code]

[2019-12-02 16:34] barrywhart commented on #60
Related request: Would it be possible to allow the main configuration file (e.g. `.sqlfluff`) to be located some place other than `~`? In our dev environment, `~` is inside a temporary Docker container and the app repo is mounted at `~/src`. It will be much more convenient to place the config file at `~/src/.sqlfluff` so we don't have to play games with the container's root directory.

[2019-12-02 16:48] barrywhart commented on #12
I'm working on getting sqlfluff integrated into our CI builds -- you may have seen an issue or two I created already.

It looks like it's working, as I see this in the output from one of our SQL files.
[code]

[2019-12-02 16:50] barrywhart commented on #59
As I encounter things that are not being parsed correctly, I'll try and determine if they are "standard" SQL or BigQuery-specific syntax. If standard, I'll create separate tickets. If they are BigQuery, would you prefer I add them as comments to this ticket or also create separate tickets?

[2019-12-02 17:28] alanmcruickshank commented on #48
@sobolevn - I've had a think about this - and essentially, `sqlfluff` is a `sql` linter and not a `python` linter, and so I don't think it makes sense to this tool to be able to parse python files directly. I could see a world where sql scripts extracted from python files by *some other tool*, could then be passed to sqlfluff either on the command line or by importing some interfaces from the `sql

[2019-12-02 17:28] #48 closed

[2019-12-02 17:30] alanmcruickshank commented on #59
Can you post a couple of example queries here that currently fail? I'll assume that they should parse as standard sql until I find something in the syntax that conflicts. If we do find a conflict, then it will be a great excuse to test having multiple dialects, which I haven't found necessary yet.

[2019-12-02 17:31] alanmcruickshank commented on #61
Yep - this isn't surprising. The parser hasn't got any support for `UNION` statements yet. I'll add that into the next release.

[2019-12-02 17:33] barrywhart commented on #59
Sure, I'll provide some examples. I have output for one whole project of ours. I plan to make a pass through it, fixing issues in our SQL and sharing any issues with you. Hopefully today or tomorrow.

[2019-12-02 17:43] alanmcruickshank commented on #60
*On the first thing*
Great catch, yes it's because there aren't default values for those config values. You shouldn't *require* a config file unless you want to change the default config. I'm just pushing a fix now and will release a new version shortly. Once 0.2.2 is out can you test it for this issue?

*On the second thing*
@barrywhart - you can *also* put the main config file in the main direct

[2019-12-02 17:59] alanmcruickshank opened #65 "Enhancement: Logging for config diffs"
When linting large file structures there's a possibility of nested configs which vary from file to file. This is really hard to debug at the moment. For some levels of verbosity, the root config should be printed at the start (in full) and then for each file if their config is any different, the diff (and not the full new config) should also be printed.

[2019-12-02 18:03] alanmcruickshank opened #66 "Rule: Lint indentation within queries."
This could be a big one, but I think we need to start on it before too long. This will also be controversial so need a bit of homework before anyone does any coding.

Want to help? Please post links and examples to good indentation here.

[2019-12-02 18:05] alanmcruickshank opened #67 "Documentation: Auto document templaters, dialects and grammars."
Similar to #44 and #39 this is taken from the old TODO in the `README.md`.

We need to document templaters, dialects and grammars. This should as far as possible be done using sphinx and autodoc so that it stays up to date.

[2019-12-02 18:13] alanmcruickshank commented on #60
@barrywhart - 0.2.2 is live on github and pypi:
https://github.com/alanmcruickshank/sqlfluff/releases/tag/0.2.2
https://pypi.org/project/sqlfluff/

Can you test to see if this issue is fixed?

[2019-12-02 18:30] barrywhart commented on #60
I thought I tried this, but I may have gotten it wrong. When you say "main config file", can that be any of the 4 filenames? I'll try again and capture the steps more carefully.

[2019-12-02 18:56] alanmcruickshank commented on #60
Ah - I think the wording is a little confusing. I also suspect that there's another issue at play here. I've just fixed it in 0.2.3 (also live now).

- You shouldn't need *any* config file to run sqlfluff without raising an error.
- *if you do* want to use a config file to overwrite any values, then sqlfluff will look in the following locations in order, and at each stage any configs found will *p

[2019-12-02 18:59] alanmcruickshank commented on #60
@barrywhart - new release is live again: https://github.com/alanmcruickshank/sqlfluff/releases/tag/0.2.3

Would love it if you could test for the same issue. 😄

[2019-12-02 20:50] barrywhart opened #68 "Unexpected behavior of 'sqlfluff fix' for "Indentation length is not a multiple of 4""
Fixing indentation issues in this file ends up moving the incorrectly indented text left (unindenting it) rather than right (moving it to the indentation I expected).

Input:
[code]

Output:
[code]

Is there a way to have it deduce and apply the correct indentation based on the structure of the query?

Expected output:
[code]

[2019-12-02 21:01] barrywhart commented on #60
I tested 0.2.3 and confirm it works:
* If there's no config file
* If there's a config file in the current directory (and no config file in `~`)

[2019-12-02 21:04] barrywhart commented on #60
I agree it's worth updating the documentation to clarify that files found in later stages patch previous ones, rather than replacing them (as you did above).

I think you want to use the word "override" rather than "overwrite" (IIUC, they mean slightly different things -- the former is more of a logical replacement, while "overwrite" can be interpreted to mean the file is actually being replaced o

[2019-12-02 21:07] barrywhart commented on #59
Failing query:
[code]

This is the output:
[code]

It seems the backquote characters are the issue here. If I remove them, the file is processed with no issues. In many cases (e.g. if the project name contains a `-`), BigQuery SQL *requires* the backquotes.

[2019-12-02 21:18] barrywhart commented on #59
Context: BigQuery SQL supports [array columns](https://cloud.google.com/bigquery/docs/reference/standard-sql/arrays). Square bracket subscripts in queries are breaking. This is a standard SQL feature, e.g.:
* Postgres: https://www.postgresql.org/docs/9.4/arrays.html
* DB2: https://www.ibm.com/support/knowledgecenter/en/SSEPEK_11.0.0/apsg/src/tpc/db2z_arrays.html

Failing query:
[code]

This is the

[2019-12-02 21:28] barrywhart opened #69 "Warn on missing whitespace in CTE declaration"
I'd like to see a warning if there is missing whitespace after the `AS` in a CTE declaration, e.g.:
[code]

[2019-12-02 21:31] barrywhart opened #70 "Enhancement: "IS NULL" and "IS NOT NULL" in query fail to parse"
Query:
[code]

Output:
[code]

[2019-12-02 21:33] barrywhart opened #71 "Enhancement: Add the `NOT IN (SELECT *)` syntax"
Query:
[code]

Output:
[code]

[2019-12-02 21:34] barrywhart commented on #70
`IS NULL` also fails (above example was `IS NOT NULL`).

[code]

[2019-12-02 21:37] alanmcruickshank commented on #70
Good catch, I'll do this one in advance of the next release.

[2019-12-02 21:37] barrywhart opened #73 "Enhancement: Inequality operator fails to parse"
Both versions of the SQL inequality operator fail to parse:
* `<>`
* `!=`

E.g.
[code]

Output:
[code]

[2019-12-02 21:40] barrywhart commented on #59
These are the most common issues I see in our code. I'm still working through the output and will add more examples as I encounter them. From skimming the output, my intuition is that there are ~5-8 issues that, if addressed, would allow BigQuery to work pretty well for us.

I can potentially do some of this work, but I want to do a first pass through all the output first.

[2019-12-02 21:59] barrywhart commented on #70
I found a similar one with inequality comparisons not working -- dunno if the fix is similar. Thanks!!

[2019-12-02 23:00] barrywhart commented on #12
Oh wait, my earlier comment was incorrect -- there I was looking at table aliases.

I tried to test this change, and I'm not seeing the expected behavior. For example, I expected to see a warning for this query:
[code]

[2019-12-03 00:19] barrywhart opened #74 ""Whitespace around operators" check reports the same warning twice"
Query:
[code]

Output:
[code]

Note the warning is correct, but it is reported twice -- apparently once on the operator and once on the second operand.

[2019-12-03 00:25] barrywhart opened #75 "Output for subdirectories and files should be in alphabetical order"
When reviewing output for a large directory structure, I noticed that the files are processed in an sequence that jumps across directories. It would be cool to process in alphabetical order (and depth first, I think?).

Example output (with the actual lint warnings removed, leaving just the filenames):

== [sql/benchmark_summary_queries/constraints/_postcondition_no_nulls.sql] FAIL
== [sql/audienc

[2019-12-03 01:16] barrywhart opened #76 "Enhancement: Support "smart indent" where appropriate"
This is something to think about, not a "do exactly this" issue.

This query produces a warning:
[code]

Output:
[code]

It might be cool to support something like the Python "hanging indent" described [here](https://www.python.org/dev/peps/pep-0008/#fn-hi). I.e. since the second column is indented to align with the first column name, this should be reported as okay (no warning).

There may be oth

[2019-12-03 01:19] barrywhart commented on #76
Another SQL construct where hanging indent inside parentheses makes sense: Analytic functions, e.g.
[code]

[2019-12-03 01:23] barrywhart opened #77 "Bug: "CROSS JOIN" is not parsed correctly"
This query has a cross join. It looks fine to me, yet it produces two warnings. I think `CROSS JOIN` is not recognized, and it thinks `CROSS` is an alias for the `correctly_substituted` table rather than a keyword.

Query:
[code]

Output:
[code]

I suspect

[2019-12-03 01:30] barrywhart opened #78 "Enhancement: "--" comment does not parse correctly if following space is missing (mysql dialect)"
This query generates a parse error. It should probably generate a warning about a missing space after the comment marker.

Query:
[code]

Output:
[code]

[2019-12-03 01:37] barrywhart commented on #59
I have finished a first pass through all the output for the project I'm using to test SQLFluff. I believe if the items on this issue are addressed along with the other ones that I created separate tickets for, BigQuery will be working well enough for our project, and probably for SQLFluff to claim at least basic BigQuery compatibility.

Let me know if I can help addressing some of the issues. Once

[2019-12-03 22:21] barrywhart opened #79 "Bug: SQLFluff needs to include jinja2 in its "install_requires" list in setup.py"
Without this, if I `pip install sqlfluff` and run it, I get an error, e.g.:

[code]

[2019-12-03 22:23] barrywhart commented on #12
@alanmcruickshank: Based on the comment above, can we reopen this issue?

[2019-12-04 13:48] alanmcruickshank commented on #78
This is intentional and based around the mysql dialect where it's not a valid comment unless followed by a space. What dialect are you running this in?

I think this might be the use case for our first split dialect, with mysql being the first outlier.

[2019-12-04 13:50] alanmcruickshank commented on #77
Yep I think your diagnosis is probably accurate, I suspect that it also affects all the other kinds of joins too. Good catch.

I'll add this to the next release.

[2019-12-04 13:54] alanmcruickshank commented on #79
Good catch. This will be in the next release.

[2019-12-04 13:58] alanmcruickshank commented on #76
Yep I think this is a great idea. I'd like to have a lot more around proper linting of indentation, where to indent and where not to. I'd steered clear of getting too deep into it so far, because I realise it might be one of the more controversial parts of the linting rules.

I think for the first step of this, I might put together something in the docs around what I think the indentation rules sh

[2019-12-04 14:05] alanmcruickshank commented on #75
Great idea. This also should be fairly straightforward to implement. All the translation from an ambiguous path into a set of filenames in in the `paths_from_path` method in the `Linter` class. I'm not surprised the ordering is a bit messed up because at the moment it uses python sets under the hood. I think I originally used the `set` object do do any potential deduping, but I'm not sure that's a

[2019-12-04 14:07] alanmcruickshank commented on #74
In this case, it's reporting a missing whitespace *before* the operator *and* a missing whitespace *after* the operator. At the moment that's the intended functionality, but do you think that's confusing for the user?

[2019-12-04 14:07] alanmcruickshank commented on #73
Good catch, I'll add these into the next release.

[2019-12-04 14:13] alanmcruickshank commented on #71
This is less about the nested query operator, but about the implementation of the `NOT IN` syntax. I'll add it to the next release.

[2019-12-04 14:17] alanmcruickshank commented on #68
Yeah this is a bit crufty at the moment. I think you've hit the nail on the head, that we need to deduce the *correct* indentation to do this. At the moment we just dumbly round to the nearest 4.

I think this requires that document outlining the *correct* indentation as I mentioned in #76 .

[2019-12-04 14:22] alanmcruickshank commented on #69
Interesting! I would have said there should be a single whitespace there. I think we've found the first of many contentious issues in sql linting.

I'm tempted in this case to look to formatting guides that already exist. According to the [dbt guidelines](https://github.com/fishtown-analytics/corp/blob/master/dbt_coding_conventions.md#ctes), the recommended format is:

[code]

I'm tempted to agree

[2019-12-04 14:41] barrywhart commented on #69
I agree. I want the space after `AS` too. My wording was weird since I was saying "warn on <<bad behavior, i.e. MISSING whitespace>>" rather than "enforce good behavior, i.e. whitespace is present".

[2019-12-04 17:04] #60 closed

[2019-12-04 17:14] #65 closed

[2019-12-04 17:14] #73 closed

[2019-12-04 17:14] #77 closed

[2019-12-04 17:14] #79 closed

[2019-12-05 01:18] barrywhart commented on #78
I'm using `ansi` dialect.

[2019-12-05 01:20] barrywhart commented on #76
Sure!

Speaking of controversy, we had been using 2-space indent for our SQL. I switched this particular project to 4 as part of testing and adopting SQLFluff. Nobody complained, but I'd be +1 for making the indentation step size configurable.

[2019-12-05 01:22] barrywhart commented on #74
That explanation makes sense. I think it would be reasonable to emit a single message, or perhaps word the two messages differently, e.g.:
* `"Operators should be preceded by a space."`
* `"Operators should be followed by a space."`

[2019-12-05 01:22] barrywhart commented on #75
Sure, I'll give it a try.

[2019-12-06 01:12] barrywhart commented on #75
I fixed it and opened a PR: #81

[2019-12-06 13:01] #75 closed

[2019-12-06 13:22] #74 closed

[2019-12-06 13:41] #70 closed

[2019-12-06 13:51] barrywhart commented on #74
I saw the fix PR for this -- thanks! Maybe someday I can help on some of the parse or autoformatting bits.

This is going to be an incredibly useful package! I'm not aware of any good SQL linters, and providing autoformatting/fixing in the same package is 💯 🎉 .

[2019-12-06 17:55] alanmcruickshank commented on #74
@barrywhart thanks!! What I'd love to do is start getting this into live deployment pipelines for sql code. I'm currently prioritising fixes which will get us there for the projects that I look after. If you work on any projects which this would be valuable for I'd love to start an "in the wild" list to start people seeing how it's being used properly.

[2019-12-06 18:10] barrywhart commented on #74
Yes! I added it to a production project this week (that's where I found the issues), and it now runs for every PR. It doesn't cause builds to fail, but the output is visible in the Jenkins build log. I also added it to a second project that is just getting started -- I expect it to really ramp up after Christmas.

I want to add some tooling to run it and filter the output to the new or modified pa

[2019-12-06 19:47] alanmcruickshank commented on #71
This was closed as part of #83

[2019-12-06 19:47] #71 closed

[2019-12-06 19:52] alanmcruickshank commented on #74
@barrywhart - I like the idea of being able to use the library as part of tooling. I'm not familiar with diff-cover, but I could see two ways of implementing that:
1. We build a load of features into sqlfluff for it to filter it's output based on some input diff file.
2. We expose sqlfluff as a library you can sensibly `import` from, and then you can take the output of sqlfluff and do the filterin

[2019-12-06 19:56] alanmcruickshank opened #84 "Enhancement: Raise issue if table referred to in select is not present."
Quite frequently people write queries that fail because they reference things wrong. sqlfluff won't know what columns are available (probably), but it does know what tables are available.

A query like the one below should fail because the select elements refer to tables `a` and `b` which aren't in the `FROM` statement.
[code]

[2019-12-06 21:10] barrywhart commented on #74
Will do! I'll try and research a bit about diff-cover as well.

[2019-12-06 23:42] barrywhart opened #85 "Enhancement: Have a way to run SQLFluff for a git branch, filtering the output to new or modified areas"
There is a Python package called [`diff-cover`](https://github.com/Bachmann1234/diff_cover) which provides two command-line tools with similar functionality for Python code:
* `diff-cover` for coverage information
* `diff-quality` for code quality

In both cases, the tool runs the underlying command (e.g. pylint, flake8, or coverage) and filters the results to display *only* the output relating to

[2019-12-06 23:44] barrywhart commented on #85
`diff-cover` is still actively developed (8 releases in 2019). I'll take a look at the implementation or for other tools with similar capabilities. Mostly I think it is leveraging underlying git functionality, then parsing the output -- it's probably pretty mechanical and straightforward, but very useful.

[2019-12-06 23:50] barrywhart commented on #85
I found an existing [`diff-cover` issue](https://github.com/Bachmann1234/diff_cover/issues/8) discussing the addition of support for other tools and other languages than Python. I [commented on it](https://github.com/Bachmann1234/diff_cover/issues/8#issuecomment-562785411), asking if they'd consider a PR adding SQLFluff support.

[2019-12-07 00:11] barrywhart commented on #85
Some notes on the design of the `diff-quality` tool, specifically how it supports multiple underlying quality checker tools.
* The class [`QualityReporter`](https://github.com/Bachmann1234/diff_cover/blob/1ad7346982124272d081ef838d2b87589c9e45ca/diff_cover/violationsreporters/base.py#L110) has a constructor parameter called `driver`, which interfaces the core diff quality filtering engine with the

[2019-12-07 19:18] nolanbconaway opened #86 "Bug: fix from stdin thinks "-" is a file"
I was excited to find that stdin input is now accepted for `fix`! I tried it out and found that it is not really:

[code]

I might just try to figure out whats going on here, but worth making an issue to keep track of the bug!

[2019-12-07 19:24] nolanbconaway opened #87 "Bug: fix ValueError: Unexpected capitalisation policy: 'inconsistent'"
I don't even know what is happening here!

[code]

[2019-12-09 11:48] barrywhart opened #89 "Rule: No nested selects within join clauses."
This is a pretty general, high-level quality check. I often see this issue with SQL written by new data scientists or engineers -- they'll deliver a working query, but it's monolithic and 50+ lines long. Even with proper indentation, it's hard to grasp what going on.

When this occurs, SQLFluff should suggest breaking the query into two or more logical chunks, with some of these chunks written as

[2019-12-09 11:52] barrywhart commented on #85
The maintainer of `diff_cover` replied:

I will take this issue if that's okay. Currently, all their integrations are "direct", i.e. the package directly contains code to integrate with the tool (e.g. PyLint). They mention on the issue that ideally this would be done by adding a plugin system. I plan to look at this as well. There is a package called [`pluggy`](https://pypi.org/project/pluggy/) wh

[2019-12-09 17:08] alanmcruickshank commented on #85
I like this option. 👆. I can imagine over time that we might have several different output formats for different use cases, and that the formatting and output should be abstracted away from the linter itself.

That would require:
1. Having a `--format` option as one of the common options for all cli commands, which is also available in the `config` library (which would enable it to be set in confi

[2019-12-09 17:10] alanmcruickshank commented on #86
Thanks for picking this up @nolanbconaway - good catch.

[2019-12-09 17:12] alanmcruickshank commented on #87
I think I know what's going on here... My bad. Good catch.

I'll submit a PR shortly - would you be able to check the functionality on that branch?

[2019-12-09 17:26] barrywhart commented on #85
After posting my earlier comment, I ended up taking a different approach: On the `diff_cover` project, they had discussed letting new tools like SQLFluff integrate as *plugins* rather than having their tool invoke other tools as a separate process.

The plugin approach lets SQLFluff provide its own code that calls directly into the underlying Linter class. See the `SQLFluffViolationReporter` class

[2019-12-09 17:51] alanmcruickshank commented on #89
I like this as an idea. Do you think it's about nested `SELECT` statements here? That would be the easiest to put a rule around: i.e. More than 3 nested select statements raises a linting error.

What I'm not sure about is whether that catches all the cases that you're thinking about. @barrywhart  Anything else you think we might need to do?

[2019-12-09 18:24] barrywhart commented on #89
I'll review some our earlier queries and get back with you. My main memory is the number of physical lines. I don't recall whether it was mostly nesting or something else.

This reminds me of another thing -- I think some queries were JOINing with a nested SELECT for no reason -- the nested query was trivial and they could've simply written it as a JOIN. Once I find some of these queries, I'll sha

[2019-12-09 19:51] barrywhart commented on #89
This is one query I inherited. It's hard to point to any one single area where it is overly complex. It's just... large. 🙂

[code]

[2019-12-09 21:42] barrywhart commented on #89
Query with unnecessary nested SELECTs:
[code]

[2019-12-09 21:45] barrywhart commented on #89
Another query with unnecessary nesting (FWIW, I think it's a later version of the previous one).

Perhaps SQLFluff could detect at least some of these cases automatically. In fact, is there *ever* a reason to `SELECT FROM` a nested `SELECT`? Offhand, I can't think so.

[code]

[2019-12-11 00:23] nolanbconaway commented on #87
Looks good!

[code]

[2019-12-11 00:24] nolanbconaway commented on #87
is it worth adding a test case for this particular item or was this just a silly bug

[2019-12-11 11:21] #61 closed

[2019-12-11 14:30] #87 closed

[2019-12-11 16:34] alanmcruickshank commented on #76
I'll be addressing this as part of #91. Discussion will go there.

[2019-12-11 16:34] alanmcruickshank commented on #68
I'll be addressing this as part of #91. Discussion will go there.

[2019-12-11 16:35] alanmcruickshank commented on #66
I'll be addressing this as part of #91. Discussion will go there.

[2019-12-11 16:41] alanmcruickshank commented on #8
If you try running the first two queries through the `parse` command I think you'll find that in the first example, `DISTINCT` is parsed as a keyword, and in the second example `DISTINCT` is parsed as a function name. If you wanted to have a go at implementing this as a new rule, you could make a rule which flagged whenever `DISTINCT` (or any of it's case sensitive versions) were being used in a s

[2019-12-11 16:48] barrywhart commented on #8
Sounds fun! I'll add this to my queue.

[2019-12-11 23:36] alanmcruickshank opened #95 "Enhancement: Merge segment.name and segment.type."
Quite a low level issue here. Segments have both a `name` and a `type` property. They're becoming increasingly synonymous and I'm no longer convinced it makes sense to have both. I think we should work out how to remove one.

[2019-12-13 18:51] barrywhart opened #96 "Error parsing complex mathematical expression"
Input:
[code]

Output:
[code]

Interestingly, adding whitespace around the operators also fixes the parsing error. I wonder if two adjacent tokens are being mistakenly parsed as a single token when spaces are missing.

Here's the same SQL with spaces (and no parsing error):
[code]

Output:
[code]

I don't know why there's still a warning about needing space around an operator. Can you look into th

[2019-12-13 18:54] barrywhart opened #97 "Enhancement: Support BiqQuery Dialect with table expressions."
This query uses some ARRAY operations. This is BigQuery, but I think the same or similar SQL is valid in Postgres, possibly other databases.

Input:
[code]

Output:
[code]

[2019-12-15 02:17] nolanbconaway opened #99 "Bug: Unexpected L003 fix behavior on python2"
On python3, L003 handles this case as expected:
[code]

But not on python2:

[code]

I have noticed that python2 handles this correctly if there is only one preceding space. any idea what could be going on?

[2019-12-15 16:37] nolanbconaway opened #100 "Option to output lint result as JSON"
I was toying around with creating a vscode linter extension for sqlfluff. The process entails wrapping a `sqlfluff lint` subprocess and parsing its output into the structure expected by vscode's linting API.

It wouldn't be _very_ difficult to process the stdout as a string, but this reveals a possible need for a `--json` option so that the linting results can be machine readable in general. I am

[2019-12-15 20:11] barrywhart commented on #100
I think the internals of this will likely be pretty similar to the new `src/sqlfluff/diff_quality_plugin.py` module in PR #90. That PR implements a plugin for the `diff-quality` linting tool in the Python `diff_cover` package.

[2019-12-15 21:45] nolanbconaway commented on #100
👍 interesting, so maybe this should hold for a sec while we get that merged in?

[2019-12-15 22:55] alanmcruickshank commented on #100
I agree with both of you

@nolanbconaway - do you have a vision of what the structure of the json output would be? I'd love to agree that here before we get too far down the line. I've got a yaml output from the parsing engine which I've recently added and I'd love all the different output formats to be roughly in line with each other.

Great idea 👍

[2019-12-15 22:57] alanmcruickshank commented on #97
@barrywhart - yep I can see why this would fail. This might be something I add specifically into a bigquery dialect. Have you got any other similar table-function style statements I can also use for tests?

[2019-12-15 22:58] alanmcruickshank commented on #96
Sounds like your hunch is very likely. I worry that it might also be related to a change I made in the parsing of negative numbers too. Great to raise this one. I'll pick it up shortly.

[2019-12-16 00:27] nolanbconaway commented on #100
I saw the parser yaml option and we might just be able to convert that to json! In that line of thinking there is no _a priori_ reason why the output ought to be json as opposed to some other format such as yaml.

I haven't thought much about what the structure of the json might be, aside from handling my very narrow use case 😄 . Uncontroversially, I think the output should be informationally iden

[2019-12-16 14:40] barrywhart commented on #97
Sure. Here are a couple of similar ones. I haven't run these through SQLFluff, just providing as examples...

[code]

[code]

[2019-12-16 14:46] barrywhart opened #101 "Bug: SELECT statement without FROM leads to syntax error."
This is using the ANSI dialect.

Input (valid on BigQuery):
[code]

Output:
[code]

I believe there should be no warnings or errors output.

[2019-12-18 11:40] adam-tokarski opened #102 "Enhancement: Support DDL statements (e.g. `DROP`)"
Hi, I'm not sure whether DDL statements are supported, but I've got
[code]

for
[code]

Is there anything I can do with that?
Thanks in advance.

[2019-12-18 19:26] alanmcruickshank commented on #102
Thanks for posting the issue @adam-tokarski .

There isn't any support for DDL statements yet, but I've got a similar use case where I'd like to implement some support for `GRANT` statements.

I'm happy to put together a first pass at some DDL statements. If you could pick 3/4 other DDL statements which others would you want?

[2019-12-18 19:28] alanmcruickshank commented on #101
Thanks @barrywhart . I'll take a look at this one. I don't think it's an issue with the `::type` syntax, from the output it looks like it's getting through that part fine, but then stalling on the `LIMIT` statement. I think this is an issue with supporting queries which don't have a `FROM` clause.

I think this is an easy fix, where I'll just make the `FROM` clause optional like the other elements

[2019-12-18 19:32] alanmcruickshank commented on #99
WIIIIERRRD. No idea. I do all my development in python3 so I'm not surprised that the odd bug has crept in. I'm going to add your exact example to the test suite and see what happens.

[2019-12-18 19:35] nolanbconaway commented on #99
pls do! relatedly, are there plans for python2 eol?

[2019-12-18 19:49] alanmcruickshank commented on #97
I've had a quick look around and I don't think these are part of the ANSI SQL syntax, and they're not present in dialects like mysql either. This is definitely the first use case for seperate dialects. The time has come!

I'll add this to the roadmap for 0.3.0

[2019-12-18 19:51] alanmcruickshank commented on #97
The syntax for that expression is here: https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax#from-clause

I don't know if I'll manage the full syntax in the first go, but I'll aim to support at least the cases that you've posted.

[2019-12-18 20:01] alanmcruickshank commented on #99
I'd love to stop supporting py2, if nothing else it means I can update the `sphinx` dependency and make the badge on the readme stop flagging it as being out of date 😪.

At the moment we're still getting a few py2 downloads: https://pypistats.org/packages/sqlfluff

Based on it not being a massive pain, I'm happy to continue supporting for now, but I'm expecting to see usage of it decline a lot ove

[2019-12-18 20:03] nolanbconaway commented on #99
Lol those py2 downloads might be from me building tox and virtualenvs

[2019-12-18 20:20] alanmcruickshank commented on #99
This is now done btw. Addressed in #103

[2019-12-18 20:20] #99 closed

[2019-12-18 20:46] adam-tokarski commented on #102
All of them :wink:
Frankly, you should start with the most popular ones. But until we will verify that from some statistics (from github for example), we can only guess which one are most common - I bet `DROP` and `CREATE` for tables and views. Maybe additionally `ALTER`? Also would be good to have covered `COMMIT` and `ROLLBACK`.

[2019-12-18 20:47] adam-tokarski commented on #102
Alternatively it would be good to have an option to suppress statement,, to mark them as a ignored somehow.

[2019-12-18 22:05] barrywhart commented on #100
I don't necessarily think this has to wait until the other PR is merged; it's more that this one will probably be similar in some ways.

[2019-12-19 00:10] barrywhart commented on #101
Thanks, sounds great!

By the way, I've been getting compliments from some of the data folks at work who are adopting our tool set. SQLFluff is only one part of it, but it's a really vital one. Thanks for your hard work!

Besides adopting dbt, we are also looking to build some model tracking and dashboarding tools for our data science projects based on SQL. We love Python, but overall, the more we

[2019-12-19 00:11] barrywhart commented on #97
Thanks! Do let me know if I can help in any way.

[2019-12-21 16:17] nolanbconaway commented on #100
I did some digging into what that would require and hit a snag:

The linter prints errors on a per-file basis as it goes along, logging the output at [this line](https://github.com/alanmcruickshank/sqlfluff/blob/master/src/sqlfluff/linter.py#L552). But the JSON payload would need to be constructed across multiple files before being printed. So printing logic would need to be moved out of `Linter`,

[2020-01-02 17:30] alanmcruickshank opened #104 "Feature: Optionally don't return non-zero on parsing errors"
In the short term while the parsing engine isn't complete, it's annoying to fail on parsing errors for large unlinted repositories. There should be a configuration option to only fail on *linting* errors and optionally log, but allow *parsing* errors.

This should be available in config files, but also as a command line argument.

[2020-01-05 20:40] alanmcruickshank opened #105 "Enhancement: Documentation for diff-coverage"
Following on from #85 - @barrywhart, are you able to write some documentation for the diff-coverage plugin you added? Just add a new `rst` file in the `docs/source` folder, and then reference them in an appropriate place in the `index.rst` contents section.

[2020-01-05 21:17] alanmcruickshank commented on #96
Found the issue. The parser was favouring identifiers over functions. That meant it categorised `ACOS` as  an identifier and then got confused about the brackets. I'm pushing up a fix now.

[2020-01-05 21:21] #96 closed

[2020-01-05 21:35] alanmcruickshank commented on #101
Thanks @barrywhart. If your colleagues have any other feedback for the tool tell them to get in touch! Also, if you've got a stack that really works for you, consider writing it up as a blog post. I find articles like that really helpful. 😄

[2020-01-05 21:41] #101 closed

[2020-01-05 23:21] barrywhart commented on #105
Sure, I'll write something up. Are you thinking of usage documentation or something deeper/more technical? I'll start with usage docs and look over the existing docs to get some context. I'll probably get to this in the next couple of days. I hope you had a nice holiday!

[2020-01-06 00:12] barrywhart commented on #101
I'll let them know. I think I'm the most opinionated about these things, but I prefer the word "thoughtful". 😁

Do you have any examples of blog posts like you mention? I'm up for writing something but it'd be really helpful to have an example or two of the genre.

[2020-01-06 13:22] alanmcruickshank commented on #105
I'm thinking entirely usage documentation. Something so that people know how to use the feature.

Bonus points for some technical extras if they're interesting - but I care much more about it being useful for new users.

[2020-01-07 10:25] alanmcruickshank commented on #101
Doesn't need to be this long but here's one of mine: https://lifeat.tails.com/growing-business-analytics-on-a-shoe-string/

[2020-01-08 18:06] alanmcruickshank commented on #102
@barrywhart - do you fancy having a go at this one? I think `COMMIT` and `ROLLBACK` will be really easy, I'd be tempted to do `DROP`, `GRANT` and `REVOKE` after that, and then perhaps `CREATE` and `ALTER` last (as they might be the most complicated).

Don't worry *too much* about exactly how you structure where the definitions go in the dialect definition. I'd probably start with creating somethin

[2020-01-08 18:10] barrywhart commented on #102
Sure, I'll take a look.

[2020-01-10 10:01] alanmcruickshank opened #115 "Enhancement: Deprecating python 2.7 and python 3.4 support"
Currently we support python 2.7 and python 3.4, both of which are past their maintenance horizon: https://python-release-cycle.glitch.me/

This has come up in a few bug previously, and I think the time has come to sunset support for those versions.

Proposal:
- Support for python 2.7 and 3.4 is dropped with a major version upgrade 0.2.x > 0.3.x.
- The 0.2.x branch is still available for use if peo

[2020-01-10 13:25] barrywhart commented on #115
We still have a few projects on Python 2.7, but none of them are using this project, so I think we're fine.

[2020-01-10 14:00] nolanbconaway commented on #115
Sounds good to me! I think its entirely good practice to drop support given that the tool is still in an alpha phase

[2020-01-10 14:05] nolanbconaway commented on #86
This is now fixed given #88 , can be closed!

[2020-01-10 14:13] barrywhart commented on #102
Some things came up at work this week. I'll try and work on this next week. I have worked on parsers in the past, but always using a parser package like yacc or PLY, so I think I'll be okay after some "warm up". 🙂

[2020-01-13 03:46] Doldge commented on #115
issue title is typo'd, say's python3.7 and python3.4 instead of python2.7 and python3.4

[2020-01-13 10:50] alanmcruickshank commented on #115
@Doldge - crap. Right you are 🤦‍♂

[2020-01-14 15:32] #86 closed

[2020-01-14 16:03] alanmcruickshank commented on #115
Closed in #116

[2020-01-14 16:03] #115 closed

[2020-01-14 16:18] #66 closed

[2020-01-14 16:18] #68 closed

[2020-01-14 16:18] #76 closed

[2020-01-14 16:19] alanmcruickshank commented on #85
@barrywhart - is this issue now closed? I think based on #128 I assume that it is.

[2020-01-14 16:20] alanmcruickshank commented on #8
I'm going to close this after the great work on #98

[2020-01-14 16:20] #8 closed

[2020-01-15 16:13] alanmcruickshank commented on #95
On inspection they're actually fulfilling slightly different roles, but there are a few cases where due to a lack of clarity they're being used incorrectly. Instead the goal here should be to clarify how they're used.

[2020-01-15 16:30] #95 closed

[2020-01-16 13:08] barrywhart opened #124 "Bug: Error during 'sqlfluff lint': "NotImplementedError: Don't know what to do with negative indent balance (-1).""
This is an error I saw when running against the `master` branch at commit `4801f884ad87300eca2b66ded7e933feb2d8c34c`.

`test.sql`:
[code]

Result:
[code]

If I remove the `PARTITION BY` line, the error does not occur.

[2020-01-16 13:29] barrywhart opened #125 "Bug: Error during "sqlfluff fix --rules L016": RuntimeError: We shouldn't get here!"
I encountered the error below when running from `master`, commit `4801f884ad87300eca2b66ded7e933feb2d8c34c`.

`test.sql`:
[code]

Results:
[code]

[2020-01-16 13:36] barrywhart commented on #125
Another occurrence of a similar exception:

`test.sql`:
[code]

[2020-01-16 13:47] barrywhart opened #126 "Bug: Error during "sqlfluff fix --rules L016": "ValueError: Unexpected opcode insert for template block!""
`test.sql`:
[code]

Results:
[code]

Contents of `.sqlfluff`:
[code]

[2020-01-16 13:51] barrywhart commented on #126
This file caused another occurrence of a similar error:
[code]

[2020-01-16 13:59] barrywhart opened #127 "Bug: Error during "sqlfluff fix --rules L016": "TypeError: object of type 'NoneType' has no len()""
`test.sql`:
[code]

Results:
[code]

[2020-01-16 14:05] barrywhart opened #128 "Bug: Some comments were deleted when I ran "sqlfluff fix --rules L016""
Entirely removed a comment line that began with `---` rather than `--`:
[code]

Removed several comments, including some that begin with `--`:
[code]

[2020-01-16 23:05] barrywhart commented on #85
Yes. I'll close it.

[2020-01-16 23:05] #85 closed

[2020-01-16 23:07] barrywhart commented on #102
Another pretty busy week, but this is near the top of my list. 🤞 I can start on it tomorrow (Friday) or next week.

[2020-01-17 12:16] alanmcruickshank opened #132 "Bug: Fixing files with templating errors raises Exceptions"
Attempting to fix files with templating errors leads to an exception:

[code]

This should fail more gracefully.

[2020-01-19 02:13] barrywhart commented on #102
@alanmcruickshank: I have a PR that adds `COMMIT`, `ROLLBACK`, and `DROP` support. For `GRANT` and `REVOKE`, I couldn't find an ANSI reference. I did find the [Postgres syntax](https://www.postgresql.org/docs/9.0/sql-grant.html), and it has a lot of variations. Do you have in mind supporting all these variations initially? It's doable, but looks like it could take a fair bit of time. I'll begin by

[2020-01-19 22:58] alanmcruickshank commented on #124
Thanks @barrywhart - this is great feedback for the new indent work I've been doing. The detailed failure case is especially good. I'm already building it into my branch 😄 .

[2020-01-19 23:00] alanmcruickshank commented on #128
@barrywhart - any chance you could post the whole query you're linting (or perhaps a subset which still exhibits the problem)? I'll add it to the test suite.

[2020-01-19 23:00] alanmcruickshank commented on #127
Yep great catch. This is a silly error. It's fixed on my branch, will merge with the fixes to some of the other bugs at the same time.

[2020-01-19 23:02] alanmcruickshank commented on #126
This is a great one. I haven't delved deeply into this one yet, but I will do once I've dealt with the indent ones.

[2020-01-19 23:03] alanmcruickshank commented on #125
This bug is fixed on my branch now. Will merge with some of the other changes. Stupid error on my side 🤦‍♂ .

[2020-01-20 00:56] barrywhart commented on #128
Here's a simplified query which produces the problem.

[code]

[2020-01-20 09:15] alanmcruickshank opened #135 "Enhancement. Set max_line_length from the command line?"
As mentioned in #91 - this would be a useful feature

[2020-01-21 15:15] barrywhart opened #136 "Parse error with CASE statement"
Input:
[code]

Results:
[code]

I'm pretty sure this is valid SQL -- it's from one of our projects and I "spot checked" it by pasting in the BigQuery web UI to confirm it didn't detect any syntax errors.

As a secondary, more minor issue, I'm not sure what the expected indentation is for the table name on line 9. When I split the `FROM` and table names across lines, I indent the table name this wa

[2020-01-21 18:55] #132 closed

[2020-01-21 19:03] alanmcruickshank commented on #127
This is fixed now. That query leads to a different kind of error though, in that it uses array expressions. We can handle that as part of #97 however.

[2020-01-21 19:03] #127 closed

[2020-01-21 19:21] alanmcruickshank commented on #126
This looks like it was also fixed in #133

[2020-01-21 19:21] #126 closed

[2020-01-21 19:23] alanmcruickshank commented on #124
This is fixed in #133

[2020-01-21 19:23] #124 closed

[2020-01-21 19:23] alanmcruickshank commented on #125
Fixed in #133

[2020-01-21 19:23] #125 closed

[2020-01-21 19:28] alanmcruickshank commented on #128
@barrywhart - part of this is fixed - but can you check that the query is valid sql? There's a comma just before the final `SELECT` which is throwing off the parser, and it's getting confused.

[2020-01-21 20:52] alanmcruickshank commented on #102
@barrywhart - thanks for the PR it looks great. I'm happy to support different variations progressively. Let's keep things in the ansi dialect so far as they don't cause conflicts, and let's add new variants of the syntax as they're needed. That way we can get features out faster.

Now that this is merged there are a few projects I want to battle test it against, but I think we're in a pretty good

[2020-01-21 21:25] alanmcruickshank commented on #136
Good catch, silly error on my part there. PR going out now.

[2020-01-21 21:25] #136 closed

[2020-01-21 21:55] barrywhart commented on #128
Oh yes, it's wrong. I started with a working query and trimmed it down a lot but forgot to tidy up afterwards. I'll fix it in a minute...

[2020-01-21 21:58] barrywhart commented on #128
Ok, I removed an extra comma after the `business_size_gender_results` CTE and added a missing one in the column list of that same CTE. Pretty sure it's valid SQL now (once expanded by Jinja2, I mean).

[2020-01-21 22:48] alanmcruickshank commented on #128
If you try it against `master` now, I think it will work. Make sure you set `--dialect bigquery`. If that works, I'll close this issue.

[2020-01-21 23:17] #97 closed

[2020-01-22 01:11] barrywhart commented on #105
I think this ticket can be closed now.

[2020-01-22 01:15] barrywhart opened #142 "Parsing issue: "NOT BETWEEN" does not parse"
Some of our queries use `NOT BETWEEN` (https://www.dofactory.com/sql/where-between). This results in a parsing error.

Input:
[code]

Results:
[code]

[2020-01-22 01:19] barrywhart opened #143 "Parse error with CAST and SAFE_CAST"
Input:
[code]

Results (note the two parse errors):
[code]

[2020-01-22 02:00] barrywhart commented on #143
I found a very similar issue with `EXTRACT()` as well. Listing here because it's a very similar syntax but with a different function.
[code]

Results:
[code]

[2020-01-22 02:02] barrywhart opened #144 "Parse error with "FULL JOIN""
Input:
[code]

Results:
[code]

[2020-01-22 02:07] barrywhart opened #145 "Parse error with parenthesized JOIN condition"
Input:
[code]

Results:
[code]

[2020-01-22 02:11] barrywhart commented on #145
BTW, I think the parse issues I logged tonight, along with the square bracket array one from a few weeks back, make up *all* the remaining parse errors for the first project I started testing SQLFluff with. This is great progress -- very close!

[2020-01-22 02:17] barrywhart opened #146 "Parsing error with LEFT JOIN"
This is a pretty simple query -- not sure what's happening here that is different from other, similar queries.

Input:
[code]

Results:
[code]

[2020-01-22 02:20] barrywhart opened #147 "Parsing error with nested scalar query"
Input:
[code]

Results:
[code]

[2020-01-22 02:25] barrywhart opened #148 "Parse error with DATE_ADD and literal interval"
Input:
[code]

Results:
[code]

[2020-01-22 02:30] barrywhart opened #149 "(Minor) Parse error when column alias used without AS"
Input:
[code]

Results:
[code]

If I add `AS` between `END` and `churn`, the error goes away.

[2020-01-22 02:33] barrywhart commented on #149
Similar issue...

Input:
[code]

Results:
[code]

[2020-01-22 09:48] alanmcruickshank commented on #149
Great example. Will pick this up shortly

[2020-01-22 09:49] alanmcruickshank commented on #148
Great example. I've used this as a test case.

[2020-01-22 09:50] alanmcruickshank commented on #146
I *think* this is actually a duplicate of #145

[2020-01-22 09:51] alanmcruickshank commented on #147
Great example. I'm surprised this one doesn't work. I've made a test case.

[2020-01-22 09:54] alanmcruickshank commented on #142
Great catch. I'm not sure we support `BETWEEN` even yet - but I'll see if we can do `NOT BETWEEN` at the same time.

[2020-01-22 09:55] alanmcruickshank commented on #143
Hmmm this is a harder one. Great catch and great examples. I think I'll do the easier ones you've raised first and then come back to this one.

[2020-01-22 10:17] adam-tokarski commented on #102
Awesome! Thanks for that.

There, I made little test and got
[code]

for `test.sql`:
[code]

which is otherwise rather proper mysql file.

[2020-01-22 11:52] barrywhart opened #150 "Lexing and parsing issues with BigQuery UDFs"
Input:
[code]

Result:
[code]

[2020-01-22 11:54] barrywhart commented on #150
This also fails to parse (where the function definition is in Cloud Storage rather than inline:
[code]

Results:
[code]

[2020-01-22 12:02] barrywhart opened #151 "Question about indentation check (L003)"
This query reports lots of indentation issues, but I think the indentation is along the lines of what you're planning to enforce. Is this the intended behavior? (I think you mentioned recently that query formatting is still a work in progress.)

[code]

Results:
[code]

After running `sqlfluff fix --rules L003` on the file, it looks like this:
[code]

Specifically, I was thinking the lines after `

[2020-01-22 12:13] barrywhart opened #152 "Enhancement: Support BigQuery "FOR SYSTEM_TIME" syntax"
BigQuery has a special syntax that allows queries to access historical versions of a table as of a particular date/time.

Example:
[code]

Currently, attempting to process such a query results in a parse error:
[code]

The syntax for this construct is documented [here](https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax).

[2020-01-22 15:25] barrywhart commented on #102
I'll take an initial look at this to see what are the gaps. A couple things I see right away:
* Our `CREATE TABLE` syntax doesn't support `COMMENT`.
* I don't believe `CREATE VIEW` is supported at all.

[2020-01-22 18:07] barrywhart commented on #102
I looked through the `test.sql` in detail. These are the gaps I see:
* Parsing column types that aren't simply a single word, e.g. `VARCHAR(100)`
* Add support for MySQL `AUTO_INCREMENT` column property
* Add support for MySQL `COMMENT` table and column properties. Reference: https://dev.mysql.com/doc/refman/8.0/en/create-table.html
* Add support for `CREATE VIEW`

I may be able to look at these n

[2020-01-22 19:34] barrywhart commented on #102
I opened a [PR](https://github.com/alanmcruickshank/sqlfluff/pull/154) which addresses all of the above except `CREATE VIEW`. I'll look at that next.

[2020-01-22 20:01] barrywhart commented on #102
Ok, with #154, the `test.sql` above _almost_ parses. There is one parse error which relates to the `JOIN` part of the view. I had to add parentheses around the `JOIN` condition. This is a separate issue, so I didn't want to address it in this PR, because there may already be a separate issue logged for this. Any thoughts, @alanmcruickshank?

So this didn't work:
[code]

But this did:
[code]

[2020-01-27 01:19] #105 closed

[2020-01-31 12:04] Torvaney opened #156 "Load macros from file(s)"
Hi folks, I love this project - it is exactly what I have been looking for.

I was wondering if there's a way to load macros from files. I am using dbt and so when I add a macro, I have been adding it both to `dbt/macros/..` as well as `.sqlluff`'s `[sqlfluff:templater:jinja:macros]` field.

Is there any way to load the `[sqlfluff:templater:jinja:macros]` field from files in `dbt/macros`?

[2020-02-01 23:23] #144 closed

[2020-02-01 23:23] #145 closed

[2020-02-01 23:23] #146 closed

[2020-02-01 23:23] #147 closed

[2020-02-01 23:23] #149 closed

[2020-02-01 23:27] alanmcruickshank commented on #148
This was also fixed in #155

[2020-02-01 23:27] #148 closed

[2020-02-01 23:27] alanmcruickshank commented on #142
This is now closed in #155

[2020-02-01 23:27] #142 closed

[2020-02-02 17:09] #143 closed

[2020-02-02 18:51] alanmcruickshank commented on #156
It should be possible and it's a feature I'd like to support.

There are a few bits of this that might be complicated:
- The path to the macros folder might be variable, how would you expect to supply it? Do you think there should be intelligent guesses?
- Should this be a feature you would expect by default, or one that is one you have to specifically activate?
- Can you post an outline of the fo

[2020-02-04 00:37] barrywhart commented on #102
Can this issue be closed now?

[2020-02-04 12:11] alanmcruickshank commented on #102
Yep I think so! Well done.

[2020-02-04 12:11] #102 closed

[2020-02-04 15:35] barrywhart commented on #102
Thanks, @alanmcruickshank. If there are other issues you'd like me to take on or help with, please let me know.

[2020-02-04 15:37] mrshu opened #159 "Parse error with `JOIN ON`"
Hey @alanmcruickshank,

Kudos on all the new improvements!

I've been trying out version `0.2.4` and it turns out the following SQL file

[code]

finishes with the following error:

[code]

If you could point me to where sqlfluff handles stuff like this, I'd be happy to help with fixing it.

Thanks!

[2020-02-04 15:47] alanmcruickshank commented on #159
thanks @mrshu - are you on the latest release or on the master branch? I think this might be fixed already on master.

[2020-02-04 15:49] mrshu opened #160 "ValueError: Unexpected capitalisation policy: 'inconsistent'"
Running version `0.2.4` (via the `sqlfluff lint` command) on the following file

[code]

results in the following stack trace

[code]

I am not sure whether this is related to #87  or #38, but I am happy to help with debugging this further (or trying out a fix).

Thanks again!

[2020-02-04 15:50] mrshu commented on #159
Sorry, I tried out the `0.2.4` release -- will check the `master` branch right away.

[2020-02-04 15:53] mrshu commented on #160
This seems to be fixed on `master`. Sorry for the noise.

[2020-02-04 15:53] #160 closed

[2020-02-04 15:55] mrshu commented on #159
Thanks @alanmcruickshank -- this does indeed work in `master`.

[2020-02-04 15:55] #159 closed

[2020-02-04 16:02] mrshu opened #161 "Bug: Unparsable statement "online_sales / 1000.0""
Running `sqlfluff lint` (installed from current `master`) on the following query

[code]

results in the following stack trace

[code]

Once again, happy to help debug this some further!

[2020-02-04 21:26] mrshu opened #162 "Bug: Unparsable segment "UNION ALL" in "WITH""
Running `sqlfluff lint` (`master` branch) on the following SQL file

[code]
Results in the following:

[code]

I am not sure whether it is the intention of `sqlfluff` not to support `WITH` statements, but since they are in the standard since [`SQL:1999`](https://modern-sql.com/feature/with),  I believe a query like this one should at least get parsed.

I am happy to help with debugging this furthe

[2020-02-04 21:44] mrshu opened #163 "Bug: Found unparsable segment @L009P001: 'LEFT...'"
Running `sqlfluff lint` (from `master` branch) on the following file

[code]

results in the following output

[code]

Happy to help with further debugging!

[2020-02-04 21:48] mrshu commented on #163
I realize this is close to #146 but there is at least a slight difference here (in the sense that the query is  a bit more complex -- the inner `JOIN` precedes the `LEFT JOIN` here.

[2020-02-05 07:29] mrshu commented on #23
Thanks @alanmcruickshank -- the `0.2` upgrade does seem to resolve this, although there a few other issues I've ran into (I've tried to document them in the issue tracker here).

[2020-02-05 07:31] mrshu commented on #3
Thanks @alanmcruickshank!

Feel free let me know if there are parts of it you could see outside help as being of some use -- I'd be happy to provide some.

[2020-02-05 09:06] mrshu commented on #151
I also ran into the very same issue when trying out `L003` -- it does not seem to play well with the indentation guidelines I happen to try to follow.

@alanmcruickshank it would be great to hear your thoughts here -- the implementation of `L003` does not seem correct (at least from my point of view). Thanks!

[2020-02-05 13:35] barrywhart opened #164 "Enhancement: Allow adding organization-specific SQL rules using a plugin layer."
At Mailchimp, we have certain tables that contain sensitive information. In order to access this information safely, we have a few options:
* Instead of accessing the table directly, use a predefined view that filters out sensitive information
* If using the table directly, use a recommended set of filters, e.g.

[code]

Initially, I think we'd simply check each query individually. In that case, I

[2020-02-06 20:31] guillermo-menjivar commented on #161
I just hit the same issue here - not sure why the CAST function is unparsable

[2020-02-06 21:15] guillermo-menjivar commented on #161
should this not have an additional definition for the cast function https://github.com/alanmcruickshank/sqlfluff/blob/c3b61b33544bf5c9b89651254067715067b3eb78/src/sqlfluff/dialects/dialect_ansi.py#L38
can you correct me @alanmcruickshank

[2020-02-06 21:18] guillermo-menjivar commented on #161
just trying to figure what it takes to compose a PR to get this issue resolved

[2020-02-07 02:31] mrshu commented on #161
@guillermo-menjivar I am afraid that will require setting up a specific segment. Looking at the [list of subexpressions](https://www.cockroachlabs.com/docs/stable/sql-grammar.html#func_expr_common_subexpr) it seems pretty much all of them could benefit from something like this in one way or the other.

[2020-02-09 16:40] alanmcruickshank commented on #161
I think this is fixed on master too - looks like I've left it waaaay to long before publishing a new version. I'll aim to get a release out and then reassess this bug.

[2020-02-09 16:41] alanmcruickshank commented on #151
I agree - it's a bit buggy at the moment. I think this is an excellent example query to test it on 👍

[2020-02-09 20:50] alanmcruickshank commented on #164
Well *that* is a very interesting idea! I'd not thought that far out.

Outputting the query as parsed JSON wouldn't be too hard - but I'm more curious about importing sqlfluff as a library and then extending it. Have you got any more detailed ideas about what that might look like?

[2020-02-09 21:04] barrywhart commented on #164
I think the ideal case is to define SQLFluff as a plugin host, similar to the recent work I did on `diff-quality`. Then other packages could register themselves as defining SQLFluff plugins. Then SQLFluff could easily "discover" those packages and import them. Given the way rules are defined with a decorator, e.g.:

[code]

I think simply having SQLFluff import those libraries would be enough to i

[2020-02-09 23:12] alanmcruickshank commented on #163
Interesting! Good catch. PR for the fix for this will be going live shortly...

[2020-02-09 23:19] alanmcruickshank commented on #162
Good catch. PR coming live shortly.

[2020-02-10 10:28] #162 closed

[2020-02-10 10:29] #163 closed

[2020-02-10 12:42] mrshu commented on #161
@alanmcruickshank I am afraid that is not so -- I've just installed `sqlfluff` using the following

[code]
where 1744583820adb3174e7862549f6621853e8e4a8d is the last commit hash.

Sadly, the result seems to be the same.

[2020-02-10 13:11] mrshu commented on #151
@alanmcruickshank let me know if you'd like some more testing examples -- I've been running `sqlfluff` against a rather large codebase and can provide many more if that would be of help (that is how I came up with all these other issues I've added in the past few days).

[2020-02-10 13:25] mrshu opened #169 "Bug: Found unparsable segment @L007P001: 'HAVING id < 5\n...'"
On current `master` branch the following query

[code]

results in

[code]

The query itself seems to be valid -- see the example here: https://www.db-fiddle.com/f/wH9igpyj9gEwRdHHC5YiX8/0

[2020-02-10 13:35] mrshu opened #170 "Bug: Found unparsable segment @L003P012: "NOT LIKE '%y'...""
On current `master` branch the following query

[code]

results in

[code]

The query itself seems to be valid -- see the example here: https://www.db-fiddle.com/f/eJRXAL3DXrx5UFkj3PP4Y1/0

[2020-02-10 13:43] mrshu opened #171 "Bug: Found unparsable segment @L002P009: '(test.id) AS min_tes...'"
An interesting case with the `MIN` function (running on latest `master` branch):

[code]

gets parsed without issue. When we add a space between `MIN` and `(test.id)`, however, we are met with the following error:

[code]

For completeness, here is what the query in question looks like:

[code]

[2020-02-10 13:58] mrshu opened #172 "Bug: Found unparsable segment in double `CASE`"
On current `master` branch the following query

[code]

results in

[code]

The `L012` validation seems particularly strange.

The query itself seems to be valid -- see the example here: https://www.db-fiddle.com/f/oozY8hhatftr2SnP4S7uwF/0

[2020-02-10 17:40] alanmcruickshank commented on #172
Looks valid to me - something must be up in the parser. Thanks for the test example. I've just added it to the test suite.

[2020-02-10 18:50] alanmcruickshank commented on #171
Is it valid SQL without the space? At the moment the parser will fail to parse it because it thinks functions need to have the brackets straight after the name.

[2020-02-10 19:03] mrshu commented on #171
@alanmcruickshank Running it on this db-fiddle.com (link here: https://www.db-fiddle.com/f/giavySG2eZqxuRa4ESgjyZ/1) suggests that it is -- at the very leas it runs in MySQL 5.7, PostgreSQL 12 and SQLite 3.30.

[2020-02-10 19:10] barrywhart commented on #164
@alanmcruickshank: If it would be helpful in clarifying the proposed approach, I'd be happy to spend a few hours creating a proof of concept. The amount of code and work will be small enough that if it looks like a bad idea, we can replan in another direction.

FWIW, the `pluggy` package I used in `diff-quality` was "spun out" of the popular PyTest test framework. I have used it on two projects no

[2020-02-10 20:32] #151 closed

[2020-02-10 20:33] #170 closed

[2020-02-10 21:37] #161 closed

[2020-02-10 21:37] #172 closed

[2020-02-10 21:40] alanmcruickshank commented on #171
Right you are - it's valid sql on my side. I'll implement this, but also with a linting rule to flag if the space is missing.

[2020-02-10 22:25] #171 closed

[2020-02-10 22:29] #169 closed

[2020-02-10 22:31] alanmcruickshank commented on #128
@barrywhart - can I close this or is it still an issue?

[2020-02-11 18:37] barrywhart commented on #128
I tested this again. While the line is no longer being removed, the behavior is still not what I would have expected.

Input (this file is comments only; no actual SQL):
[code]

Ran:
[code]

Updated version of the file:
[code]

The three hyphens on one line became two separate "comment" lines, one with two hyphens and one with one. I think the latter will be a syntax error, as it's not valid comme

[2020-02-11 19:35] mrshu opened #178 "Bug: Found unparsable segment @L002P007: 'id*1.0/id > 0.8...'"
On latest `master`, linting the following query

[code]

results into the following parsing issue:

[code]

It seems to be valid SQL: https://www.db-fiddle.com/f/vDW3ejhcEAcV2FprHSNaU6/0

Please let me know if I can be of some more help!

[2020-02-11 19:41] mrshu opened #179 "Bug: Found unparsable segment @L001P008: 't.val/t.id...'"
On latest `master`, linting the following query

[code]

results into the following parsing issue:

[code]

It seems to be valid SQL: https://www.db-fiddle.com/f/fVtxCagWabyqZBUhzm2Nva/1

Please let me know if I can be of some more help!

[2020-02-11 19:57] mrshu opened #180 "Question: Strange "Indent expected and not found compared""
When running the `master` on the following

[code]

the result I got was the following:

[code]

but the query that would be acceptable was the following:

[code]

I would personally prefer the first one, as it looks a bit more pleasant to read. Similarly, I honestly do not like the following `after.sql` file (https://github.com/alanmcruickshank/sqlfluff/blob/a54fbe71a016575b2ee7eb588ef899f5464a46

[2020-02-11 21:14] alanmcruickshank commented on #180
Good challenge.

The reason for the current implementation is for the case where there are multiple CTEs in the `WITH` statement. For example:

[code]

The closing bracket after `WITH` in your example query isn't closing the `WITH` statement, it's just closing the definition of `ttt`. One option that might solve this would be to remove the idea of an indent *before* ttt, which would mean the idea

[2020-02-11 21:16] alanmcruickshank commented on #180
Interestingly that would also be consistent with the fishtown analytics guidlines https://github.com/fishtown-analytics/corp/blob/master/dbt_coding_conventions.md#ctes

So I'd be happy to go with that if it works for you?

[2020-02-11 21:22] alanmcruickshank commented on #178
I've added a fix for this to PR #177

[2020-02-11 21:23] alanmcruickshank commented on #179
I've added a fix for this to PR #177

[2020-02-11 21:46] mrshu commented on #180
@alanmcruickshank despite sharing many of the reservations you've outlined, I'd prefer the second one you mentioned as that's what I've been used to for quite some time.

Thanks a ton for considering it!

[2020-02-12 00:02] alanmcruickshank commented on #180
@mrshu - followup question...

at the moment, based on how I've implemented the indentation rules, both:
[code]
and
[code]

... are both valid. Now I quite like your argument for having that closing bracket on the same line as `WITH`, even if technically it's ok in both positions. I'm considering implementing a linting rule which says that although this layout is fine just from a bracketing perspe

[2020-02-12 01:01] alanmcruickshank commented on #180
@mrshu - I've put together a PR to make the changes you've suggested - I think it should end up with results closer to what you initially suggested.

Let me know what you think of the potential for a linting rule in my previous comment. If you think it's a good idea, then I'll add it to the same PR before merging.

[2020-02-12 01:26] alanmcruickshank commented on #128
The pull request above fixes the lexing of comments like that for most dialects. I've also created the mysql dialect which will be the only one (I think?) which shouldn't parse the query above.

As for whether sqlfluff should word wrap comments, I've been pondering this for a while. I think probably not. Sqlfluff should have views on users lay out their sql, but I think probably be less directive

[2020-02-12 09:15] mrshu commented on #180
@alanmcruickshank I personally do think it's a very good idea -- it seems that [Mozilla's SQL style guide](https://docs.telemetry.mozilla.org/concepts/sql_style.html#parentheses) would agree as well (they even use the same example as you do).

Thanks again for considering it!

[2020-02-12 22:40] #128 closed

[2020-02-12 22:41] alanmcruickshank commented on #180
Changes are merged as part of #182, including a linting rule for the indentation of the closing bracket. I'm going to close this issue. Thanks for your input @mrshu !

[2020-02-12 22:42] #180 closed

[2020-02-12 22:43] alanmcruickshank commented on #78
I've fixed this as part of #183 . I'm going to close this issue now.

[2020-02-12 22:43] #78 closed

[2020-02-12 22:44] alanmcruickshank commented on #59
@barrywhart - are you able to take a look at #177 ? I think if it looks good then I'll merge it and release 0.3.0. Thanks for all your help getting to this point!

[2020-02-13 13:28] barrywhart commented on #128
@alanmcruickshank: I tested the fix on the query listed above as well as the original query in our production code. Behavior looks great -- I observed that it made no changes to the file, which is 👍 💯. Thanks!!

[2020-02-13 15:58] #59 closed

[2020-02-14 08:15] #179 closed

[2020-02-14 08:15] #178 closed

[2020-02-15 17:26] #104 closed

[2020-02-16 11:08] Dandandan opened #187 "PRS Error: Found unparsable segment @L001P008: 'a.b.*...'"
SQL query to reproduce:
[code]

[2020-02-16 20:27] alanmcruickshank commented on #187
Thanks @Dandandan . I think things are set up to allow `a.b.c` and `a.c`, but not `a.b.*`. Thanks for raising!

[2020-02-16 21:14] #187 closed

[2020-02-16 21:25] Dandandan commented on #187
Thanks for checking this so quickly! Does the fix also parse any number of nesting though? a.b.c.* a.b.c.d.* , etc?

[2020-02-17 12:09] alanmcruickshank opened #189 "Enhancement: Performance is too slow on long queries"
We've not worked much on performance yet, but on long queries, performance is very slow now.

- We need a way of monitoring performance, maybe through circleci?
- It looks like the algorithm for matching on long segment strings is the main issue, so a way of shortcutting this matching process, perhaps using hashes might help here.

[2020-02-20 19:23] barrywhart opened #193 ""dialect" setting in ".sqlfluff" config file has no effect"
I have a `.sqlfluff` file in the working directory which sets `dialect = bigquery`. Am I doing it correctly?

The output below shows the contents of my `.sqlfluff` file and the sqlfluff output showing that it's running with the ansi dialect unless I specify `--dialect bigquery` on the command line.
[code]

[2020-02-22 16:29] zachvalenta opened #194 "throw error for reserved words"
if I incorrectly use a reserved word in a DDL statement:
[code]

...should sqlfluff throw a lint error? Right now now it doesn't.

[2020-02-23 18:02] nolanbconaway commented on #100
@alanmcruickshank @barrywhart resurrecting this issue!

Is there any general feedback on the JSON output structure proposed above?

[code]

Similarly, I have not kept abreast of the changes in 0.3.x but would imagine printing is still incremental.

We _could_ incrementally print JSON records at a per-file basis, in which each record is printed on a single line like:

[code]

That's not 100% readab

[2020-02-23 22:13] barrywhart commented on #100
The output format looks good to me. One small suggestion: I suggest "path", not "file/path", because I think JSON requires keys to be text only (at least in actual JavaScript).

@alanmcruickshank's opinion is way more important than mine -- it is his project, I'm just a vocal contributor. 😄

[2020-02-23 23:00] nolanbconaway commented on #100
Ah yeah very good point! Really we should have a `"filepath": "path/to/file"` key so that the full path is preserved.

Conveniently, this is what I proposed for the incremental printing scenario. So that's another reason to go that way.

[2020-02-24 15:07] r-hempenstall opened #196 "Bug: Doesn't handle 'do' expressions"
Sqlfluff throws an error when my jinja macros contain `{%- do ... -%}` (https://jinja.palletsprojects.com/en/2.11.x/templates/#expression-statement). This is valid Jinja so I would expect not to.

[code]

[2020-02-27 09:09] #100 closed

[2020-02-27 09:12] alanmcruickshank opened #197 "Consistent yaml and json output on `parse` and `lint`"
@nolanbconaway this would be a great one to follow up from #195 .

The `parse` command has a yaml output option.
The `lint` command now has a json output option.

I think that both should have both yaml and json outputs.

[2020-02-27 09:16] alanmcruickshank commented on #196
Thanks @r-hempenstall , it looks like the `do` tag requires the explicit loading of an extension: https://jinja.palletsprojects.com/en/2.11.x/extensions/#expression-statement

Happy to do so, can you post a sample query here for me to include in the test suite?

[2020-02-27 09:17] alanmcruickshank commented on #194
Thanks @zachvalenta - some reserved words will cause a parsing error at the moment so will get caught, but I suspect that there is a subset of reserved words that don't. Do you have access to a canonical list of reserved words for SQLite?

[2020-02-27 13:50] nolanbconaway commented on #197
👍 Agreed; i'll submit a PR!

[2020-02-28 09:03] r-hempenstall commented on #196
Hey, I apologies, the query is quite contrived so that it doesn't require so much setup but this would be an example of it's use.

[2020-02-28 15:31] zachvalenta commented on #194
Here's an [ANSI list](https://www.sqlstyle.guide/#reserved-keyword-reference).

Most dbms seem to have their own twist on what certain keywords (reserved and non-reserved) mean within their system.

So this is admittedly not a straightforward thing for a linter to deal with :)

`create` though should be reserved across SQLite, Postgres, et al.

[2020-03-05 19:02] barrywhart opened #199 "Indentation for USING not behaving as expected"
Input:
[code]

Result:
[code]

Is this the intended behavior? If I recall correctly, there was an earlier PR to prefer the indentation seen above.

If I change it to this (i.e. indenting the `USING` clause), no warnings are produced:
[code]

[2020-03-06 15:21] barrywhart opened #200 "Bogus capitalization warning involving SAFE_CAST, NULL, and AS"
Input #1 :
[code]

Input #2:
[code]

Either of these files results in a similar warning:
[code]

I'm not sure if the `SAFE_CAST` is important or not, but am including it in case it's a different parsing pattern, etc.

@alanmcruickshank: I'd be happy to work on some tickets if you'd like to suggest any (this one or others)! February was busy for me, but I'm starting to have some discretionary time

[2020-03-08 21:22] alanmcruickshank commented on #200
Very strange! Thanks for raising.

What it's flagging up is that it feels like `age_label` is inconsistently capitalised. However in both of your examples there aren't any other identifiers for it to be inconsistent with!

Do you have a config file at all or are you just running with the stock config (apart from the command line arguments)?

[2020-03-08 21:25] alanmcruickshank commented on #199
I think this *is* the intended behaviour, and it would be the same as with an `ON` clause. The PR you mentioned was a discussion about whether the `JOIN` keyword should be indented relative to the `FROM` keyword (consensus was no), but I think that `ON` and `USING` should be indented from `JOIN`, because they are something that refers to that join.

That being said, this might be another conventio

[2020-03-09 13:13] barrywhart commented on #199
After thinking more about it, I'm growing to like the behavior, although it was initially surprising. I'll see if I can find any opinions on this in either direction, but happy to just close it if you like.

[2020-03-09 13:15] barrywhart commented on #200
I have a configuration file -- I'll post it later.

[2020-03-09 14:38] barrywhart commented on #199
Same level:
* https://knowledgebase.apexsql.com/rules-of-sql-formatting-nesting-and-indenting-sql-statements/

This Stack Overflow [post](https://stackoverflow.com/questions/272210/sql-statement-indentation-good-practice) has a broad mix of opinions.

I'll close this since it was a misunderstanding and I don't have strong feelings either way. There are other areas of greater importance.

[2020-03-09 14:39] #199 closed

[2020-03-09 14:39] barrywhart commented on #200
This is my `.sqlfluff` file:
[code]

[2020-03-10 01:41] nolanbconaway opened #201 "Add severity level for lint violations"
Most linters tag each violation with a severity level. Text editor integrations have settings to surface violations with severity above one or another level. Fluff should have these levels, even if it as much as a warning for a violation and an error for a parse failure!

This could be surfaced to the user in the lint output (as text and/or color?) and in the json/yaml output.

[2020-03-10 12:40] barrywhart opened #202 "New Rule: Should warn if no space following "USING""
Input:
[code]

No warning is produced. I think there should be a warning since the keyword `USING` is being written as if it were a function call. This is somewhat similar to #8, where we added a warning if `DISTINCT` was used with parentheses. Other cases may also arise. Maybe `ON`, for example?

[2020-03-10 13:04] barrywhart opened #203 "Bogus warnings for comment indentation"
Example 1:
[code]

Result:
[code]

Example 2:
[code]

Output:
[code]

I think in both these cases, the comment should align with the code *below*, not above.

[2020-03-10 13:21] barrywhart opened #204 "Bogus indentation warning for nested SELECT"
Input:
[code]

Result:
[code]

I think the closing parenthesis is indented correctly, since it closes the indentation begun on the line `FROM (`. What's the intended indentation style for this situation?

[2020-03-10 13:33] barrywhart opened #205 "Odd SQL parsing error only when using Jinja"
In the example below, if I replace the Jinja templating by pasting the same code directly into the `.sql` file, the error disappears. Very strange.

Input:
[code]

Result:
[code]

`.sqlfluff`:
[code]

[2020-03-11 01:00] barrywhart commented on #205
I think I know the cause -- I believe Jinja is testing the template as HTML and escaping the `<` sign. IIRC, Jinja supports both HTML and raw text templates. SqlFluff should be using text templates.

[2020-03-12 17:09] pwildenhain opened #206 "Fails to parse FROM statement with database, but no schema specified"
We write a lot of SQL that assumes a default schema set for the user. For example:
[code]
However, this fails to parse:
[code]
If I add the schema, it works as expected, the following produces no lint
[code]

Here's a little more info about this type of notation: https://stackoverflow.com/questions/34786049/double-dot-table-qualifier

[2020-03-12 17:31] pwildenhain opened #207 "False postive on spaces around operators when functions are involved"
The linter complains about operators must be preceeeded by a space, but it seems like this criteria is being met?

Input:
[code]
Output:
[code]

This works just fine, if I take the functions away
[code]

[2020-03-15 14:01] ryantuck opened #211 "pip install generates error on MacOS Catalina / python 3.7, no CLI available"
Really excited to try this tool out! Wanted to flag an install issue that others may encounter.

## Error

When running `pip install sqlfluff`, I encounter the following error message:

[code]

### Expected behavior

I would expect this to _just work_ without needing to pass in the `--user` flag or be within a `virtualenv`.

## System config

- MacOS Catalina
- `brew`-installed python 3.7 (no virt

[2020-03-19 12:48] barrywhart opened #212 "Wrong line number in indentation warning"
In the case below, the line number should be 8, not 7. This is pretty confusing because the previous line is a different CTE. (If the query only has one CTE, the warning is for the opening `WITH` line, but I wrote the example this way because it better illustrates the "confusion" factor.)

Input:
[code]

Output:
[code]

[2020-03-19 12:57] barrywhart commented on #212
Another example (same symptom, different query elements):
[code]

Result:
[code]

I think it should say line 8, not 6. In fact, it shouldn't warn at all, as this is also an example of issue #203.

[2020-03-19 13:12] barrywhart commented on #204
Similar -- this query generates no warning, but only after indenting the `)` for the nested `SELECT` to align with the `SELECT`, rather than the opening `(`. I also tried placing the `(` and `)` in column 1, but that also generates a warning.

[code]

[2020-03-25 15:26] pwildenhain commented on #207
I also tried adding spaces around the parentheses (even though looks a little weird to me) but that produced the same lint message:
`test.sql`
[code]

[code]

[2020-03-31 22:14] jonklippenstein-io commented on #207
I've run into the same thing with functions in a where clause when linting some existing models, e.g.:

`SELECT * FROM table WHERE (a = func() OR a = func1())`

From the parser output it looks like FunctionSegment is picking up the whitespace as part of the function itself, rather than leaving it in front of the operator:

[code]

[2020-03-31 23:15] jonklippenstein-io commented on #207
It looks like parser/grammar.py L771-L780 is greedily consuming the whitespace into the Bracketed element since code_only is set to true.  Unfortunately I'm not familiar enough with the parser code to propose a good solution here.

[2020-04-05 11:49] alanmcruickshank commented on #202
Nice - I really like this idea. I think this is probably something that I'm sloppy about at the moment. 👍

[2020-04-05 11:50] alanmcruickshank commented on #201
I like the idea, and this has been brought up before as an idea. For an initial implementation, what do you think the severity levels should be and what kinds of rules do you think should go in each?

[2020-04-05 11:52] alanmcruickshank commented on #203
Agree. Good catch.

[2020-04-05 11:53] alanmcruickshank commented on #204
Agree. I'm not sure how this one is happening though, will need to dive into things a bit more.

[2020-04-05 11:54] alanmcruickshank commented on #205
ha. Great catch! @barrywhart - want to have a go at submitting a PR for this one?

[2020-04-05 11:56] alanmcruickshank commented on #206
Thanks for the post! I wasn't aware of this syntax, I'm happy to support it though :)

[2020-04-05 11:58] alanmcruickshank commented on #207
Thanks @jonklippenstein-io - looks like pretty accurate assessment. I'll have a look at this one, I think I need to revisit what the defaults are for whitespace consumption, or perhaps just mitigate this one in the rule definition.

[2020-04-05 12:02] alanmcruickshank commented on #211
Thanks for reporting the error, this isn't one that I've seen before. It isn't trying to open the file for writing, but it is trying to open the file for reading. I wonder if something is getting confused here with the `__file__` value as a builtin. If I take a look at this, would you be happy to try installing from a branch?

[2020-04-05 12:03] alanmcruickshank commented on #212
I'll take a look at this one.

[2020-04-05 16:24] nolanbconaway commented on #201
The basic levels most linters implement include:

1. Information
2. Warning
3. Error

Those levels feel sufficient to me!

As for assigning rules to levels, my intuition is that most (if not all) of the current rules would be INFO and parse errors would be ERROR.

We could spend a lot of time bikeshedding on which rules should be info vs warn. That decision has to do with how opinionated fluff wan

[2020-04-05 17:16] barrywhart commented on #205
Sure!

[2020-04-05 22:00] #197 closed

[2020-04-07 14:56] #205 closed

[2020-04-07 16:22] alanmcruickshank opened #218 "Inconsistent treatment of whitespace in parsing"
Whitespace is treated inconsistently in parsing and this is causing a headache for applying rules, but also causing bugs like #207 (and perhaps #203 and #204).

What I think *should* happen is that whitespace (or non-code segments more broadly) should never be at the start or end of a segment (except the root, `FileSegment`). This means they should always belong to the parent segment or be within

[2020-04-07 20:02] barrywhart opened #220 ""sqlfluff fix" crash"
This happens with SQLFluff 0.3.1.

Input:
[code]

Result:
[code]

Output:
[code]

[2020-04-07 20:04] barrywhart commented on #220
`.sqlfluff`:
[code]

[2020-04-08 08:55] #193 closed

[2020-04-09 23:20] barrywhart opened #224 ""sqlfluff lint" crashes if there are no files to process"
Running this command with SQLFluff 0.3.1 when the `sql/` directory contains no `.sql` files:
[code]

results in this crash:
[code]

[2020-04-11 18:49] #211 closed

[2020-04-11 18:59] alanmcruickshank commented on #204
Confirmed. This is happening because of how we deal with ambiguous indentation.

Technically the following is the *most indented* version which would be acceptable:

[code]

Note that there's an indent after `FROM` *and* after `(`. It's because of the two possible places for indentation that it's getting confused with the last bracket placement. I think however that the two queries you posted *are

[2020-04-11 19:08] alanmcruickshank commented on #224
Right you are. PR coming up now. 👍

[2020-04-11 19:52] barrywhart commented on #224
BTW, some of the data scientists like SQLFluff and have started asking me to add it to more projects. It's a lot more stable now, but with more projects, I'm still finding some issues. I'll try and log them here next week. I think most are just missing parts of the grammar. Happy to help out with these or other things.

I recently built an application that uses SQLFluff to parse production SQL and

[2020-04-11 19:54] barrywhart commented on #204
Great analysis, thanks! 🙏

[2020-04-12 10:04] #220 closed

[2020-04-12 10:04] #224 closed

[2020-04-12 10:05] #203 closed

[2020-04-12 10:05] #207 closed

[2020-04-12 10:05] #218 closed

[2020-04-12 10:05] #212 closed

[2020-04-12 11:24] alanmcruickshank commented on #204
Haha! I did a load of work on this one, thinking it was a massive issue. I think it's actually due to _closing brackets_ being a special case for indentation which I wasn't handling. PR coming up now.

[2020-04-12 11:24] #204 closed

[2020-04-12 12:06] #206 closed

[2020-04-12 14:02] alanmcruickshank commented on #200
Yep, silly error. The `NULL` in your query was being parsed as an identifier. It is capitalised and so when we reach `age_label`, it is flagged as an issue because it is lowercase. A PR is coming so that `NULL` is correctly parsed as a _keyword_ rather than an _identifier_.

[2020-04-12 14:05] #200 closed

[2020-04-13 14:57] cnolanminich opened #232 "Unexpected indentation rules in the FROM"
❤️  this project! I've been taking it for a spin (with the hopes of using it in our CI pipelines for our SQL transforms).

One unexpected behavior is that subsequent joins are required to be on the same level of indentation as the keywords, *not* the same level of indentation of the preceding table,

test.sql:
[code]
throws

The only way to satisfy that rule is to put the `inner join` on the same

[2020-04-13 21:22] alanmcruickshank commented on #232
@cnolanminich thanks for trying out the project! I'm glad you like it.

We had a discussion about *exactly* this case a few months ago. In the end we sided with the most commonly used style guides at the moment which prefer the latter formulation:
- https://docs.telemetry.mozilla.org/concepts/sql_style.html#joins
- https://github.com/fishtown-analytics/corp/blob/master/dbt_coding_conventions.md

I

[2020-04-13 22:41] cnolanminich commented on #232
Thanks! Tbh it just seemed so apparently right that I’d never bothered to check before.

We do have a big code base (no public style guide at the moment).

I’ll hunt for some good references and see if I can find any).

[2020-04-14 15:01] barrywhart opened #233 "Apparent debugging print output during "sqlfluff fix""
I'm seeing some extraneous output during "sqlfluff fix".  I'm running from the master branch, not a release. Should this be removed? (See the `LexMatch` output below.)

[code]

[2020-04-14 16:07] barrywhart opened #234 "Parser hangs on simple script with leading comma before column expression"
I've run `sqlfluff fix --rules L003,L005` on a couple of our data science projects. In both cases, it prints a count of the number of issues it found and asks if I want it to fix them. In both cases, when I answer yes, it runs for a very long time with no output (other than, in one case, the debugging output I mentioned in #233). I have waited as much as 30 minutes.

I don't know if it's completel

[2020-04-14 16:11] barrywhart commented on #234
If I run it using just L003, it finishes without hanging, so it may either be something about L005 or something about running `sqlfluff fix` with multiple rules.

[2020-04-14 21:53] alanmcruickshank commented on #234
It *could* be just very slow. The step that is really slow is the `parse` step (I think).

Try running `parse` on the same directory and see if it completes in a sensible time.

If it really does just happen with L005 and only on `fix` then can you try running it with `-vvvv` (or some other very high verbosity) to see which file it's hanging on. With large files, parsing is usually the problem but

[2020-04-14 21:58] alanmcruickshank commented on #233
Yes.... they should. Looks like the two print statements in `lexer.py` [L195 and L207].

It looks like from that logging that it's finding parsing errors on some files. If you try running fix on one of those files individually can you check that it currently successfully raises that error. For some reason the templater hasn't templated `{{predict_inputs}}` or `{{model_inputs}}`. If a parsing error

[2020-04-14 23:51] barrywhart commented on #233
Sure, I'll take a look.

Also a general note: We're now using SQLFluff to varying degrees in about a half dozen projects. This is turning up some missing features in the grammar and possibly other issues.

With the fix you made last week, I'm also able to run the "fix" command with some pretty useful results.

So you will probably see a flurry of issues from me, but that's a sign of progress, not

[2020-04-15 08:20] alanmcruickshank commented on #233
Thanks @barrywhart. With all the craziness at the moment I've been finding it hard to spend as much time as I'd like on the project, so knowing that someone else is out there, testing the project and making sure it works is just amazing - and a real help. No need to apologise for raising issues at all!

Personally I'm focussing on the performance issues at the moment (and next to that, how to trac

[2020-04-15 08:42] #196 closed

[2020-04-15 15:23] cnolanminich commented on #232
I found this reference from Baron Schwartz [here](https://www.xaprb.com/blog/2006/04/26/sql-coding-standards/):

[code]
I wouldn't quite call it a "style guide," but it has the major components (and it describes conclusions very close to where my team arrived in our own internal style guide).

I also found this http://www.dpriver.com/pp/sqlformat.htm SQL formatter that follows the JOIN indent conv

[2020-04-15 17:59] pwildenhain commented on #189
From what I've noticed, the parse is _much_ ⚡ faster now than before, even with long queries

[2020-04-15 18:02] pwildenhain opened #236 "Long multi-line comments produce false positive long line lint"
I've downloaded the most recent version from GitHub :octocat: ✔️

Reprex: test.sql
[code]

[code]

Using one-line comments does **not** result in the same warnings

[code]

[2020-04-16 09:00] alanmcruickshank commented on #189
Thanks @pwildenhain - there are some of the larger queries that it still doesn't parse in a reasonable timeframe, which means there's more work to do here. Glad to hear whatever I'm doing is working though!! 😄

[2020-04-16 09:09] alanmcruickshank commented on #232
iiiinteresting. I'm open to a configurable indentation strategy for this, so this could be a feature which you could switch on or off. Thanks for the links!

I think I would build this out like a set of feature flags, probably as a subset of the core config. This particular example would be the `indented_joins` feature, which defaults to `False` but can be set to `True` for people with similar req

[2020-04-16 11:57] cnolanminich commented on #232
That sounds perfect 🚀. Thanks for considering!

[2020-04-16 12:20] cnolanminich commented on #232
My other thought is — perhaps the rules for indentation could be split up? I haven’t looked at whether that’s tractable within the code, but it might be a way to customize the indentation selections

[2020-04-16 22:40] barrywhart opened #238 ""sqlfluff lint" removes all indentation in some cases"
I think this is happening when the grammar is missing the construct being parsed.

Here's one example:
[code]

Resulting SQL file:
[code]

Command and output:
[code]

If I comment out the first line (`CREATE OR REPLACE TABLE  t2 AS`), the remaining `SELECT` is processed correctly.

This might be considered two issues in one:
* Need to augment the grammar in some areas
* If SQLFluff can't parse the

[2020-04-16 22:45] barrywhart commented on #238
Another example, `CREATE TEMP FUNCTION` -- this is a BigQuery SQL UDF.

[code]

The indentation of the function is lost, but the SQL query is correctly updated. Result:
[code]

[2020-04-16 22:51] barrywhart commented on #238
Similar to the previous example, but this is a BigQuery JavaScript UDF.

[code]

In this case, some of the JavaScript indentation is retained, but some is changed:
[code]

[2020-04-16 22:54] barrywhart commented on #238
This example involves BigQuery `CREATE OR REPLACE MODEL`:
[code]

Result:
[code]

[2020-04-16 23:00] barrywhart opened #239 "SQLFluff cannot parse queries that use BigQueryML functions"
Input:
[code]

I ran `sqlfluff fix --rules L003 test.sql`. Output (note the parse error):
[code]

[2020-04-16 23:01] barrywhart commented on #239
BigQuery documentation links:
`ML.CONFUSION_MATRIX`: https://cloud.google.com/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-confusion
Similar functions:
`ML.EVALUATE`: https://cloud.google.com/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-evaluate
`ML.ROC_CURVE`: https://cloud.google.com/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-roc

[2020-04-17 01:12] cnolanminich commented on #232
@alanmcruickshank  🎉  It worked like a charm. I installed from the branch, followed your config, and testing on my simple `test.sql`

[code]

As well as on 2 production SQL queries (with CTEs, etc), and verified that it worked (and that it correctly flagged as lint the non-indented JOINs when I set [sqlfluff:indentation]
indented_joins = True

[2020-04-17 01:33] cnolanminich opened #240 "Add config support for leading commas?"
One request that would put sqlfluff entirely in line with our style guide is if we could use leading commas as a configuration to override L005 — there are plenty of style guides that recommend this, though I think they’re in the minority.

If you’re open to it I can link to the style guides that use leading commas.

Thanks again!

[2020-04-17 07:39] alanmcruickshank commented on #240
Yes, I would like to support this one too. I think I'm on team trailing commas personally but I know that some people aren't.

Links to style guides would be great! They will be especially helpful in seeing exactly how people use then so that they get linted correctly.

[2020-04-17 13:14] dr-1 opened #241 "Bump version of required click module"
requirements.txt currently lists click>=2.0. With sqlfluff 0.3.1 and click 6.7 installed, any sqlfluff CLI command fails for me with this error.
[code]
Upgrading to click 7.1.1 resolved the error for me.

[2020-04-17 13:19] alanmcruickshank commented on #238
Thanks @barrywhart . There are at least two problems here:
1) unparsable queries that we need to sort out in the dialect.
2) indentation linting carries on within unparsable segments, which makes no sense because it won't have enough context to say anything useful.

Both seem relatively fixable.

[2020-04-17 13:39] alanmcruickshank commented on #238
PR coming shortly to address the create table syntax issues and being able to get some rules to avoid unparsable segments. @barrywhart - I think the remaining BigQuery syntax gaps probably each deserve their own issue, or perhaps could be part of #239 if you wanted.

I'm going to focus on the performance issues of the core parser (and also my BigQuery knowledge isn't good enough to know which bits

[2020-04-17 14:27] cnolanminich commented on #240
Here are a few examples:

* [one analyst's personal style guide](https://github.com/haleemur/sql-style-guide)
* [another analyst's style guide](https://gist.github.com/mattmc3/38a85e6a4ca1093816c08d4815fbebfb)
* [another](https://github.com/reidwil/Style_guide)
* [another](https://github.com/jgilfillan/sql_style_guide)
* [story driven SQL](https://storydrivensql.github.io/sql-style-guide/index.htm

[2020-04-17 16:32] barrywhart commented on #238
Sure, I'll take on the BigQuery parts as you suggest, hopefully next week.

[2020-04-17 17:43] alanmcruickshank commented on #236
This is a great issue report, and also flagged up quite a few underlying issues in the handling of multiline comments. Thanks! 🙌

PR coming shortly, would love your feedback in testing the new functionality.

[2020-04-17 17:49] alanmcruickshank commented on #241
Thanks for the heads up!

[2020-04-17 19:22] cnolanminich commented on #240
Installed from `ac/rules`, and tested on production SQL with the config of . Worked like a charm! Made me realize that our style is inconsistent at the moment, linting FTW 🏆 (we are currently mixing leading commas for `select` and trailing in `in()` statements.

[2020-04-17 19:56] #241 closed

[2020-04-17 19:57] #236 closed

[2020-04-17 22:12] barrywhart opened #246 "Add parsing support for BigQuery UDFs (both SQL and JavaScript)"
SQL UDF example, `CREATE TEMP FUNCTION` -- this is a [BigQuery SQL UDF](https://cloud.google.com/bigquery/docs/reference/standard-sql/user-defined-functions).

[code]

The indentation of the function is lost, but the SQL query is correctly updated. Result:
[code]

==

JavaScript example:

This is a [BigQuery JavaScript UDF](https://cloud.google.com/bigquery/docs/reference/standard-sql/user-defined

[2020-04-17 22:13] barrywhart opened #247 "Add parsing support for BigQuery "CREATE OR REPLACE MODEL" and "DROP MODEL""
This issue involves [BigQuery `CREATE OR REPLACE MODEL`](https://cloud.google.com/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-create):
[code]

Result:
[code]

Related: BigQueryML also supports a [`DROP MODEL` statement](https://cloud.google.com/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-drop-model)

[2020-04-17 22:17] barrywhart commented on #238
Ok, I created #246 and #247 to cover the remaining parsing issues above. This, in addition to #239, covers all the parsing limitations I found in the most recent round of testing. I'll work on addressing these -- feel free to assign them to me.  Tentatively, I plan to address them in the following order:
* #247
* #239
* #246

[2020-04-17 22:58] barrywhart commented on #233
This is the output I saw when individually linting one of the files. Is this the behavior you want to see? I wasn't quite sure what you meant by:

It appears to run all the way through and modify the file, but it does report "Failure in Jinja templating" along the way.

[code]

[2020-04-17 23:10] barrywhart commented on #234
Ok, I narrowed down the problem. This simple file seems to cause the parser to hang:
[code]

It seems to be this line that causes it trouble: ` , CASE WHEN rf = 0 THEN 0 ELSE 1 END AS training`, as the following, logically equivalent version of the file parses fine:

[code]

[2020-04-17 23:24] barrywhart opened #249 "Enhancement request: Ability to configure non-string Jinja template parameters"
Some of our Jinja templates take values other than strings as input, e.g.

List of strings:

top_words = ['shop', 'products', 'code']

Integer:

NUM_EMBEDDING_COMPONENTS = 2

Here's a complete example:
`.sqlfluff`:
[code]

`test.sql`:
[code]

The command `sqlfluff lint test.sql` reports a number of errors, some of which seem to be related to values not being treated as the desired type:
[code]

In

[2020-04-18 13:22] alanmcruickshank commented on #238
Awesome. I'm going to close this issue in that case and we can track them seperately.

[2020-04-18 13:22] #238 closed

[2020-04-18 13:46] alanmcruickshank commented on #234
hmmmmmmm. Confirmed. Something is hanging in the `fix` step, although it manages to parse properly the first time. What's wierd is that `fix --rules L003` is fine, and `fix --rules L005` is *also* fine. I wonder if we end up in an infinite regress between the two rules.

[2020-04-18 13:48] alanmcruickshank commented on #234
Yep. That was the problem. I've added something to catch cases like this. Interesting, once we don't let the fixing algorithm go back to a previous state, even if one rules suggest it, one of the other rules corrects accordingly, and the file fix still works. PR coming.

[2020-04-18 13:51] alanmcruickshank commented on #233
Yeah, looks like it.

[2020-04-18 13:56] #249 closed

[2020-04-18 13:56] #234 closed

[2020-04-18 20:25] barrywhart commented on #234
Thanks for the quick fix! This sounds like a "fun" one.

[2020-04-19 10:37] #232 closed

[2020-04-19 10:38] alanmcruickshank commented on #240
Awesome

[2020-04-19 10:43] #240 closed

[2020-04-20 07:44] alanmcruickshank commented on #135
A lot has happened since the first draft of this issue - I'm not sure it's the right thing to focus on now, but if we do then I think think this would mean a more general way to specify configuration (which currently mostly happens in the file) on the command line.

[2020-04-20 07:44] #233 closed

[2020-04-20 09:11] #189 closed

[2020-04-21 17:40] pwildenhain opened #255 "`indented_joins = True` option is not discovered in subdirectories"
## Reprex:
<sup>Windows 10, Python 3.6</sup>
### Set up test project
[code]

### Setup test files:

#### code/.sqlfluff
[code]

#### code/test.sql
[code]

### Linting results

It doesn't respect the `indented_joins` configuration from the parent directory
[code]

But when we move into the `code` directory, it respects the configuration
[code]

### Conclusion

This seems to be isolated to just the

[2020-04-21 21:51] alanmcruickshank opened #256 "Adding newline to file fails in the example in the docs."
Fixing the file:

[code]

succeeds with the command `sqlfluff fix test.sql --rules L003,L009,L010` but no newline is added to the end of the file. Running the command a second time highlights this. This should be a rule which has a fixing routine which works 🤦 .

[2020-04-21 21:52] alanmcruickshank commented on #255
good catch, I'm hoping this should be a simple fix.

[2020-04-22 09:36] alanmcruickshank commented on #255
@pwildenhain , fyi for debugging this kind of thing in future, the verbose option prints out the config files being found:

[code]

Now in this case it looks like it's picking up the config for that folder (see the config diff) section, but for some reason it's not respecting it... 🤔 .

I shall investigate more.

[2020-04-22 09:57] alanmcruickshank commented on #255
Yep 🤦 . This is going to be a one-line PR. There's a point in the chain where the config specific for the file wasn't being passed through. Thanks for finding this one!

[2020-04-22 10:06] #255 closed

[2020-04-22 10:22] Katzmann1983 opened #260 "FileSegment error raised when using tabs"
Hey,
I got the following error:

TypeError: In constructing <class 'sqlfluff.parser.segments_file.FileSegment'>, found an element of the segments tuple which isn't contigious with previous: <whitespace_RawSegment: ([4](1, 2, 2)) '\t'> > <newline_RawSegment: ([4](1, 2, 2)) '\n'>. End pos: [5](1, 2, 3). Prev String: '\t'

By using this input file
/*

*/

Please note that in the comment is an invisib

[2020-04-22 10:35] alanmcruickshank commented on #256
On further testing. This doesn't appear to actually be the case. 🤷

Closing.

[2020-04-22 10:35] #256 closed

[2020-04-22 10:38] alanmcruickshank commented on #260
Confirmed. Thanks for this. I'll take a look.

[2020-04-22 11:09] alanmcruickshank commented on #260
Thanks @Katzmann1983 - problem solved and tests are now in place to catch things like this in future.

[2020-04-22 11:09] #260 closed

[2020-04-22 13:51] Katzmann1983 opened #263 "RuntimeError: Unexpected case, please report bug, inluding the query you are linting!"
On the latest master, the following sql cannot be fixed:
echo -e "SELECT\nCASE\n     WHEN (a < 0) THEN 2\n     ELSE -- comment\n         0 END\nFROM t1" > sample.sql

sqlfluff fix --rules L003 sample.sql

==== finding violations ====
== [runtime_error.sql] FAIL
L:   2 | P:   1 | L003 | Indent expected and not found compared to line #1
L:   3 | P:   6 | L003 | Indentation not hanging or a multiple

[2020-04-22 14:49] Katzmann1983 opened #264 "Add support for DELETE Ansi Statements"
Basic support for queries of the type

DELETE FROM table_name WHERE condition;

is currently missing.

[2020-04-22 17:06] alanmcruickshank commented on #263
Thanks for the bug report. It's due to there being a comment at the line 4, PR coming to address that case.

[2020-04-22 17:09] #263 closed

[2020-04-22 22:16] alanmcruickshank commented on #264
Thanks @Katzmann1983 😃

[2020-04-22 22:16] #264 closed

[2020-04-23 14:21] georgim0 opened #270 "add gitignore like configuration for files we would like to be excluded"
we've managed to do this by wrapping our sqlfluff commands with a list of files that are produced based on a .sqlfluffignore file

we've used a library that is made for this called PathSpec(https://pypi.org/project/pathspec/)

Believe this should be part of the cli as it's important to roll out linting slowly to the whole project

[2020-04-23 16:15] alanmcruickshank commented on #270
Great suggestion @georgim0 ! Do you think it would be more natural to have a `.sqlfluffignore` file, or do you think this should become part of the standard configuration file. I can see upsides of either, but I'm curious as to which you feel is more natural?

[2020-04-24 09:15] georgim0 commented on #270
hmm.. don't feel strongly about it to be honest

i would favour the `.sqlfluffignore` approach so that is consistent with the `.gitignore`/`.dockerignore` convention so you would understand at a glance what's that file about

[2020-04-24 10:39] Katzmann1983 opened #271 "Shorthand casting"
Just saw that the shorthand casting being defined in the Ansi dialect as ShorthandCastSegment is actually not Ansi conform but PostgreSQL specific.

Any ideas about that?

[2020-04-24 14:52] pwildenhain opened #272 "L006 false positive, wants extra whitespace in case statement"
👋 Hey there -- just want to take a second to say thanks for dedicating so much to the project, we've fallen in love 😍 with it where I work (same place as @cnolanminich if you didn't already guess)

It seems like sqlfluff wants more whitespace _before_ the equal sign on line 3 (and adding the extra whitespace silences the lint).

test.sql
[code]
Output
[code]

I believe this is because of the funct

[2020-04-24 16:05] pwildenhain commented on #272
🤦 ANNNDDD the reason it is similar is because I was working with a previous version -- carry on!

[2020-04-24 16:05] #272 closed

[2020-04-25 08:20] alanmcruickshank commented on #271
Interesting. I didn't have access to the original ansi spec to check it. Is there a different syntax for other databases or is it just not available in some dialects?

[2020-04-25 12:50] alanmcruickshank opened #273 "References to linting errors are in the position in the templated file, not in the reference to the raw file."
For example if we have a file such as:

[code]

And lint for something that will happen late in the file:

[code]

The linting error shows as being on line 12, which is true in the templated file, but *not* in the raw file, where the issue is with the `AS` keyword on line 6. This makes it much harder to track down exactly where the error is in the original file.

My suggestion is that while the cu

[2020-04-25 12:52] alanmcruickshank commented on #270
I like that reasoning. Let's go with that.

[2020-04-26 17:23] alanmcruickshank commented on #89
I think your suggestion for #37 is actually a great idea for *this* potential issue. I'm not yet sold on #37 because I think it can be quite useful to have logic in joins, but I'm definitely sold on this one, and using [Halstead Complexity Measures](https://en.wikipedia.org/wiki/Halstead_complexity_measures), sounds like a great idea.

I'm assuming this is just for select statements for now?

[2020-04-26 19:16] barrywhart commented on #89
I agree, #37 is tricky. There are cases where a `JOIN` condition belongs in a `WHERE` instead, but I don't know if it's possible to automatically identify such cases.

Yes, I am just thinking of select statements.

[2020-04-26 20:38] alanmcruickshank opened #275 "Allow inline suppression of certain linting errors."
Similar to flake8, allow single lines to ignore certain rules.

Example:

[code]

The above query should pass even though line 2 violates L006 and L010. On the implementation level, issues should still be picked up, but would then be suppressed by a mask applied to certain lines.

Aim to model on flake8: https://flake8.pycqa.org/en/latest/user/violations.html#in-line-ignoring-errors

[2020-04-28 23:46] alanmcruickshank opened #277 "Upgrades for L020"
This first requires #265 to be merged.

L020 has three upgrade that would be good for it:
1. It should lint references in the other parts of the select expression not just the select clause (where, group by etc...).
2. In the case of a single-table expression, all references should be qualified OR all should be unqualified. Mixing of the two within a single select statement should not be allowed (

[2020-04-29 07:38] Katzmann1983 commented on #194
@alanmcruickshank  First thing, which comes to mind is to add them in the NakedIdentifierSegment _anti_template
I can do that, bby adding a list of these words and dynamically creating the anti_template.
Additionally, the keywords could all be KeywordSegments which are also generated somehow on the fly. Let me know, what you think, and I will give it a try :)

[2020-04-29 22:13] azhard opened #279 "Bigquery improvements: `EXCEPT`, raw strings and binary strings."
I'm currently using the latest version of sqlfluff (0.3.1) and using the diff-cover integration. For the most part it works really well, however even though in my setup.cfg file I have parsing set to be ignored, the diff-quality fails on parsing errors.

When running sqlfluff from the CLI normally, it succeeds so the issue is only present when using it with diff-quality.

[2020-04-30 07:18] Katzmann1983 commented on #271
In Teradata (my employee) it is done for example as (DATE) '2000-01-01'.
I am not aware of it existing in Oracle.

[2020-04-30 09:51] Katzmann1983 commented on #279
Can you give a reproducible example?

[2020-04-30 15:48] azhard commented on #279
I've attached 2 files here, one is my setup.cfg that is in the root directory of my repo and the other is a SQL file located under the following path `models/ds-bi-analytics/bi_reporting/`. I've renamed both files to use a .txt extension so that I can upload them here and note that the SQL file (as well as two others in that directory) I'm using is brand new so it doesn't exist in git on my master

[2020-04-30 17:44] alanmcruickshank commented on #279
I think this is because of the following syntax (line 52 of your example):

[code]

Can you confirm what kind of database this query is designed for? I'm not familiar with that syntax.

[2020-04-30 17:51] azhard commented on #279
It's running against a `bigquery `database. I tried removing the `EXCEPT...` and still got an error for line 72
[code]

My setup.cfg file has `ignore = parsing` set and I think that this is being respected when running `sql lint` myself, however when the linting is done through diff-quality it's still flagging parsing issues as an error.

[2020-04-30 18:27] alanmcruickshank commented on #279
Ah interesting, I think it's the regex string, which hasn't been implemented in the parser either: `r'Dummy'`.

A good test case would be:

[code]

It looks like from a browse of the bigquery docs, that there are also binary strings to content with (like `b'some chars'`). I can see the `EXCEPT` syntax in those docs too, which I can't see in postgres or other dialects.

Thanks for raising this issu

[2020-04-30 18:30] azhard commented on #279
I think those changes make sense from the perspective of fixing the parsing issue, I'm curious though about why the diff-quality is failing even though my sqlfluff settings are setup to ignore parsing errors.

[2020-04-30 18:32] alanmcruickshank commented on #271
I think eventually we should create a postgres dialect and make it the default. Many common database dialects used are close derivatives of that (snowflake & redshift come time mind but probably others too). Teradata can branch directly off the root ansi dialect before all the postgres features are added.

@Katzmann1983 is this causing a bug for you at the moment or is it more that it's an annoyin

[2020-04-30 21:22] alanmcruickshank commented on #279
That *is* interesting. I'll have to check...

[2020-05-01 09:43] alanmcruickshank commented on #279
Yep - it looks like the diff cover plugin isn't respecting the configuration around what violations to ignore. Thanks for raising the issue. I'll have a PR shortly - would be very grateful if you're able to test. In parallel I'll also see if I can get a test case in place for this too. 👍

[2020-05-03 22:38] alanmcruickshank opened #286 "Guide on how to roll out sqlfluff on a new project/team"
Referenced in #265

First:

Then

Starting to use sqlfluff on a new project is probably daunting. There should be a short how-to on how to do it without pissing people off (...too much). This is a placeholder for that.

Anybody who has thoughts on this - feel free to drop comments into here (including you @barrywhart  😄 ).

[2020-05-04 10:05] alanmcruickshank commented on #270
@georgim0 - PR is up. Would love your feedback on it before it gets merged! 😃

[2020-05-04 11:56] alanmcruickshank opened #289 "Make a more sensible public API"
For projects like dbt (https://github.com/fishtown-analytics/dbt) and for suggestions like https://github.com/kgpayne/sqlfluff/issues/1 I think sqlfluff should present some level of reliable public API. This is a placeholder for that.

I think this might be a sensible target for the next major release.

Comments, thoughts and suggestions welcome!

[2020-05-04 15:56] barrywhart commented on #286
About rolling out SQLFluff to the team:
First I just talked about it and added it to one or two projects I was working on myself.
I integrated with the build, so people can see the report, but it doesn't make the build fail.
I made the first few PRs myself (to not burden others with the work) but asked them to review the PRs. Initially, I mostly focused on whitespace changes, which can be easily h

[2020-05-04 20:00] barrywhart opened #290 "Integrate SQLFluff with PyCharm (possibly other IDEs?) as a "Code Style" plugin"
Just a high-level idea for discussion and exploration... (Originally discussed in PR #265.)

If SQLFluff were integrated with an IDE, the IDE could possibly do things like:
* Enforce proper SQL formatting on the fly
* Reformat SQL files (or portions of them) on user request (PyCharm has a "Code / Reformat Code" menu choice

This has some technical details about how PyCharm code style plugins are i

[2020-05-05 07:41] alanmcruickshank commented on #290
Looks very java, any ideas on how we integrate a python program into a java process?

[2020-05-05 13:29] barrywhart commented on #290
Long ago, I used Jython, a version of Python that runs on the JVM. It doesn't support Python 3 (and maybe never will).

There may be other options. I remember pyspark uses some package which bridges Python to Java. Perhaps it or a similar tool can do the reverse (Java to Python).

[2020-05-06 17:01] gammaflauge opened #292 "Feature Request - Add In-line Error Ignoring"
Sometimes rules must be broken...

It would be great if we could add a comment inline to let `sqlfluff` know to ignore a certain rule.

Maybe something like this?
[code]

I pretty much stole that from how [flake8](https://flake8.pycqa.org/en/3.1.1/user/ignoring-errors.html) does it.

🙇‍♂️ thanks for considering!

[2020-05-06 21:09] #194 closed

[2020-05-07 00:07] HassanJaveed84 opened #293 "Bug: Found unparsable segment @L003P037: 'group (order by o_or...'"
Running `sqlfluff lint`  version 0.3.1 on the following sql:
[code]
[code]

[2020-05-07 03:31] azhard opened #294 "Error using diff-quality with deleted files"
When running `diff-quality --violations sqlfluff` pre-commit when I have a file staged that has been deleted I get the following error
[code]

Digging into this a little bit more, the code actually breaks in the sqlfluff linter.py file, specifically in the `paths_from_path` function. It fails on this line because the path doesn't exist locally:
[code]
The OSError that gets raised ends up ultimatel

[2020-05-07 06:50] alanmcruickshank commented on #292
There's a PR for this already #284 . Should be merged this week.

[2020-05-07 06:51] alanmcruickshank commented on #293
What dialect of SQL are you running? That looks a little like Redshift to me, but want to make sure.

[2020-05-07 06:56] alanmcruickshank commented on #294
Unfortunately the diff quality plugin just lints a whole path rather than individual files. You're correct to identify `paths_from_path` as the best point to act here.

One approach would be to allow `paths_from_path` to accept a keyword argument to skip non-existent files (and not raise an exception). The default value for the argument would mean that existing code would function the same way. `l

[2020-05-07 07:00] alanmcruickshank opened #295 "Default behaviour of Bracketed is line OneOf and not Sequence"
The default behaviour of the `Bracketed` grammar with multiple elements is like that of `OneOf` and this is confusing when writing new grammars. It should behave instead like `Sequence` (and support simple shortcuts in the same way).

[2020-05-07 11:06] alanmcruickshank commented on #294
@azhard - actaully thinking about this one. I'd love to do a release of sqlfluff this weekend. Normally I'd give you as much time as you like, but I'm concious that you'd probably prefer this to be in a release soon too.

If you're able to get a PR in before 11am UTC on Saturday, then awesome, and I'll review, merge and release in the next release. Otherwise I'll have a look at this one and do it

[2020-05-07 11:10] alanmcruickshank commented on #293
Looks like it's definitely within [redshift](https://docs.aws.amazon.com/redshift/latest/dg/r_LISTAGG.html), but also part of [postgres](https://www.postgresql.org/docs/current/functions-aggregate.html), so I'm happy to add this to the postgres dialect which has been recently added. I'll put a PR together and this should be in the next release this weekend.

Thanks for reporting it!

[2020-05-07 11:18] alanmcruickshank commented on #273
Update:

Conversation on the pallets projects discord:

If anyone else has any bright ideas - I'm all ears :slight_smile: - otherwise I'll go with an approach similar to the one above.

Looks like we're going to have to do something hacky for this. Outline scope:

- `LintedFile` provides an interface for converting reference positions from _templated space_ to _raw space_.
- Position markers have

[2020-05-07 11:23] HassanJaveed84 commented on #293
@alanmcruickshank we're using snowflake. That example is also from snowflake docs, but you're right it's also part of postgres. However, I have not tested by passing `--dialect snowflake` as it's not in 0.3.1 release. Can we also add it to snowflake dialect ?

[2020-05-07 11:29] HassanJaveed84 commented on #156
We're also facing the same issue. We're using `dbt` and our macros are defined in a `macros` folder. Some are pretty lengthy, so duplicating them in the config is a pain.

[2020-05-07 12:30] alanmcruickshank commented on #156
This should be possible. I don't know if it will be in the next release but I'm up for considering it pretty soon.

[2020-05-07 12:32] alanmcruickshank commented on #293
Yep - the snowflake dialect inherits from the postgres one (and the redshift one will inherit from there if we implement that one too), so by implementing this in the postgres one it should be available for snowflake too.

[2020-05-07 12:48] HassanJaveed84 commented on #293
Great, Thank you!

[2020-05-07 14:12] Torvaney commented on #156
Good questions. I don't have particularly strong opinions. My hunch is that dbt and jinja templating will be used in the minority of cases, in which case, being activated through configuration makes most sense to me. This hunch may be wrong, in which case, defaulting to `./macros/` or checking `./dbt_project.yml` would seem like sane defaults to me.

I have been running sqlfluff with dbt, which li

[2020-05-07 14:47] azhard commented on #294
PR created - happy to incorporate any feedback you have.

[2020-05-07 21:21] #9 closed

[2020-05-07 21:21] #69 closed

[2020-05-07 21:21] #84 closed

[2020-05-07 21:21] #202 closed

[2020-05-07 21:21] #277 closed

[2020-05-07 21:29] #270 closed

[2020-05-07 21:30] #275 closed

[2020-05-07 21:30] #292 closed

[2020-05-07 21:33] #293 closed

[2020-05-07 22:28] #294 closed

[2020-05-07 23:35] HassanJaveed84 opened #299 "comment length greater than max_line_length results in violation"
Using `master` branch
Having this .sqlfluff file
[code]
and this sql file with a comment length > 80
[code]
shows a violation `L:   1 | P:  92 | L016 | Line is too long.`
And if you try to fix it:
[code]

[2020-05-08 02:04] HassanJaveed84 opened #300 "Found unparsable segment @L002P001"
Using master
running `sqlfluff lint` on this sql file
[code]
results in
`L:   2 | P:   1 |  PRS | Found unparsable segment @L002P001: 'FROM table1\nRIGHT JO...'`

[2020-05-08 11:04] #295 closed

[2020-05-08 11:07] alanmcruickshank commented on #300
Confirmed. Thanks for catching that. I'm adding a test case for `RIGHT JOIN` statements now to make sure that doesn't get missed in future.

[2020-05-08 11:09] #152 closed

[2020-05-08 11:09] #279 closed

[2020-05-08 11:10] #300 closed

[2020-05-08 15:27] HassanJaveed84 opened #304 "Are functions not treated as keywords ?"
Not an issue, more like a question. With
[code]
using sqlfluff fix --rules L010 on
[code]
becomes
[code]
Shouldn't `MAX` be also lower cased ?

[2020-05-08 17:59] alanmcruickshank commented on #156
Support for this is coming in a PR shortly, and will be released live this weekend. I'm going to leave this issue open however for feedback (Especially from @Torvaney & @HassanJaveed84).

I'm conscious that I had to make quite a few design decisions in this iteration, some of which I'm not completely sold on yet, so I'd love to hear what the feature is like to work with. Take a look at the tests a

[2020-05-08 20:36] alanmcruickshank commented on #304
At the moment I've got seperate rules for keywords and identifiers. Function names aren't included in either. Easy to add a rule for that though. 😁

You've made it just in time before we do a release too!

[2020-05-08 20:38] alanmcruickshank commented on #299
Yeah, it's a violation, but it's also not currently fixable. I've not implemented a way of correcting that problem.

What I'll do in the mean time is improve the logging around it however.

Do you have ideas about how this kind of issue should be corrected?

[2020-05-08 21:04] #304 closed

[2020-05-09 01:41] barrywhart commented on #290
I looked up the package pyspark uses: py4j. https://www.py4j.org/

I'm not sure it'd be a fit for this, but possibly. I have a bit of experience with Java and Py4j. Maybe I can help look into this later in the year. (My current goal with SQLFluff is to reach a high level of BigQuery compatibility and start using it in all our data science projects.)

[2020-05-09 20:09] alanmcruickshank commented on #299
@HassanJaveed84 - the easy way to fix this one would be to split on any whitespace and make it fit onto as many lines as it needs to to fit.

[2020-05-09 20:11] alanmcruickshank commented on #156
The first version of this is live in release [0.3.2](https://github.com/alanmcruickshank/sqlfluff/releases/tag/0.3.2). What do you guys think? I've tested it a bit, but would appreciate some battle testing.

[2020-05-11 08:14] VQDtdr opened #310 "unparsable section 'ALTER TABLE MODIFY COLUMN'"
Alter table modify column is not accepted by sqlfluff:

Found unparsable section: 'ALTER TABLE `users`\n MODIFY COLUMN\n ...':
[code]

[2020-05-11 11:13] alanmcruickshank commented on #310
Thanks @VQDtdr - PR coming shortly. From your query, it also looks like you're in mysql? Given the way mysql deals with quoting you'll need to make sure your dialect is set.

As part of the PR coming, I've added a warning to make sure that if people haven't set a dialect that they get a warning about that too. 👍

If you're able to test the new feature, I'd love to know whether it meets all your ne

[2020-05-11 11:14] #310 closed

[2020-05-11 11:56] VQDtdr commented on #310
Great, thank you very much! I'm actually missing a bit of documentation about setting the dialect. Can I do that directly from the command line using `--dialect mysql` or should I add it to the config file? Where can I find information about formatting this config file and what should be its location?

[2020-05-11 12:36] HassanJaveed84 commented on #304
Great, thanks!

[2020-05-11 13:26] HassanJaveed84 commented on #156
@alanmcruickshank I'm testing this right now, will get back.
Thank you for this!

[2020-05-11 13:41] alanmcruickshank commented on #310
You can do either of the options that you've suggested.

As for config files: https://docs.sqlfluff.com/en/latest/configuration.html

Feel free to suggest improvements to the docs too if you feel like they're not clear too. Very happy to receive PRs for the docs.

[2020-05-11 14:08] barrywhart opened #313 ""sqlfluff lint" crashes on this parse error"
Input:
[code]

(Note the grammatical error: There is a missing `)` at the end of the query.)

Output:
[code]

[2020-05-11 14:21] barrywhart opened #314 "Spurious warning with nested "SELECT""
Input:
[code]

Output:
[code]

I don't think either of these warnings should be produced, as the nested `SELECT` is independent of the main query. Warnings like this may be appropriate if the nested `SELECT` is a [correlated subquery](https://en.wikipedia.org/wiki/Correlated_subquery) of the outer query.

[2020-05-11 14:27] barrywhart opened #315 "L029 is too strict, e.g. it prevents column aliases like "day", "month", year" -- disable this rule by default or add a new configuration "keyword_allow_list"?"
Input:
[code]

Output:
[code]

I think this is due to the parser not knowing about the `EXTRACT()` function in SQL and its unusual syntax involving the `FROM` keyword. According to [this site](https://www.sqltutorial.org/sql-date-functions/how-to-extract-year-from-date-in-sql/),

It is also supported in [BigQuery](https://cloud.google.com/bigquery/docs/reference/standard-sql/date_functions#extract

[2020-05-11 14:37] barrywhart opened #316 "BigQuery grammar issue: "FOR SYSTEM_TIME AS OF" fails to parse if table is not aliased"
Input:
[code]

Output:
[code]

If I add an alias for the table (e.g. `AS t1`), the file parses and lints without any warnings or errors.

[2020-05-11 17:42] VQDtdr commented on #310
Thank you, I've clearly haven't been looking good enough...

[2020-05-11 18:17] barrywhart opened #317 ""sqlfluff fix" improperly indents comment before "LEFT JOIN""
Input:
[code]

Resulting query from running `sqlfluff fix --rules L003 test.sql`:
[code]

I would like the comment above the `JOIN` to be aligned with the `JOIN` below, not the table name above.

[2020-05-11 18:24] barrywhart opened #318 ""sqlfluff fix" improperly removes indentation of "DISTINCT <column list>" in query"
Input:
[code]

Result when processed with `sqlfluff fix --rules L003 test.sql`:
[code]

I would prefer the line `DISTINCT user_id` to remain indented. I think one contibuting factor to this behavior is the oddity we've discussed elsewhere, that `DISTINCT` is a record-level, not column-level concept. Another reasonable output for `sqlfluff fix` could be to move `DISTINCT` up with the `SELECT, e.g.:

[2020-05-12 02:58] HassanJaveed84 opened #321 "Found unparsable section: ' nulls first'"
At least snowflake and teradata support `order by nulls` expression. (we are using snowflake)
example query
[code]
Error:
`L:   3 | P:  17 |  PRS | Found unparsable section: ' nulls first'`

[2020-05-12 13:03] barrywhart opened #322 "Grammar issue/question: Why are there "G", "K", and "M" keywords?"
In the file `sqlfluff/dialects/ansi_keywords.py`, I noticed three one-letter keywords: G, K, and M. I discovered these when one of our queries aliased a table as the single letter `m`, and it generated a `sqlfluff lint` warning not to use keywords as an alias.

Are there really variants of SQL where these are keywords?

While this was a pretty minor nuisance (renaming the alias), it made me wonder

[2020-05-12 17:32] alanmcruickshank commented on #313
Good catch, fix coming shortly.

[2020-05-12 17:36] alanmcruickshank commented on #314
I think for now this is a bug. I'm going to put in a fix for this one. I'll see if I can sort the potential of correlated subqueries too.... 🤔

[2020-05-12 20:06] alanmcruickshank commented on #314
Yep - fixed, including the correlated subquery case. PR on it's way.

[2020-05-12 20:09] alanmcruickshank commented on #315
From the position of those errors it's taking issue with `day`, `month` and `year` being used as column aliases given they're also keywords. That would also make sense from the error code.

The rule is functioning correctly, but I'm wondering if that rule is too strict. Thoughts?

[2020-05-12 20:16] alanmcruickshank commented on #316
Yep. If you run the `parse` command on the same file you can see that the `FOR` keyword is being taken as an alias:

[code]

This can be solved by making `FOR` a reserved keyword so that it can't be mistaken as an alias. PR coming shortly.

[2020-05-12 20:38] nolanbconaway opened #323 "Fix from stdin writes more than the fixed sql to stdout"
When it was originally written, fixing from stdin printed the fixed sql to stdout and noting else. That way you could do things like

[code]
At least in 0.3.3, a lint result gets printed out, and the fixed string is printed as a python tuple:

[code]

[2020-05-12 20:39] nolanbconaway commented on #323
@alanmcruickshank i am happy to debug this and submit a PR, simply want to confirm that this is not the desired behavior!

[2020-05-12 20:47] alanmcruickshank commented on #317
Agreed. This is a bug.

[2020-05-12 21:44] alanmcruickshank commented on #317
That was tricky. PR coming now.

[2020-05-12 21:50] #313 closed

[2020-05-12 21:50] #314 closed

[2020-05-12 21:50] #316 closed

[2020-05-12 21:50] #317 closed

[2020-05-12 22:45] barrywhart commented on #315
Oh, I see. Yes, from my perspective, it is too strict, especially since (as I'm noticing working on some BigQuery PRs), the list of keywords in SQL is pretty large, especially since it's a mix of keywords in a number of different SQL dialects. I think if databases are okay with SQL like this, `sqlfluff lint` should be as well. It'd be a shame if this rule discouraged someone from choosing a very n

[2020-05-13 09:21] alanmcruickshank commented on #315
I'm thinking back to #3, which is still outstanding, but where we might have some *preset* rule sets for sqlfluff, and disabling this rule might be one of the first sets in there. We could also have some presets for particular style guides in there too.

I think some other linting packages have conflicting or naturally disabled rules which can be enabled if you want them. This might be one of thos

[2020-05-13 09:31] alanmcruickshank commented on #318
While it wasn't my first guess, I really like your last suggestion. Not super easy to implement however 🤔 .

One _possible_ implementation would be to introduce a new meta segment which enforced elements to be on the same line. That would mean with the input query of:

[code]

We would get `L003: No newline allowed between 'DISTINCT' and 'SELECT'`, the fix for which would be to enforce them being

[2020-05-13 09:35] alanmcruickshank commented on #321
Yep, this syntax hasn't been added to the parser yet.

This is a curious one because it's supported in bigquery, snowflake, postgres but not mysql so I'm torn between implementing it in the ansi dialect so that everyone has it , or by implementing it in two places and then mysql correctly raising a parsing error.

I think I'll add it to the ANSI dialect. PR should arrive shortly.

[2020-05-13 09:56] alanmcruickshank commented on #322
Apparently yes: https://www.postgresql.org/docs/8.1/sql-keywords-appendix.html

I like your idea though of rather than having two lists of keywords we have three.

Currently we have:
- `reserved_keywords`: These generate keywords automatically and also actively cannot be identifiers (i.e. the parser will not parse them as identifiers).
- `unreserved_keywords`: There automatically generate keywords

[2020-05-13 09:59] alanmcruickshank commented on #323
I think this is an unexpected side effect of another change. We should probably suppress that output when running from stdin. If you're happy to put together a PR that would be awesome. You'll notice that the return value of some functions has changed since our original PR too.

Could you also put in place a test case for this so that we can catch if it happens again in future?

Thanks!

[2020-05-13 10:07] #321 closed

[2020-05-13 10:13] alanmcruickshank opened #327 "Rules documentation should be much better."
Currently: https://docs.sqlfluff.com/en/latest/rules.html
Could be like this: https://lintlyci.github.io/Flake8Rules/

In particular the inclusion of a pattern and an antipattern. For bonus points, these should be *required* as part of the doclinting checks.

[2020-05-13 10:35] alanmcruickshank commented on #327
This SO answer may be useful for whitespace: https://stackoverflow.com/questions/7034745/how-to-force-whitespace-in-code-block-in-restructuredtext

[2020-05-13 11:57] barrywhart commented on #246
Interesting... I just tried it now, and multi-line, triple quoted strings just worked™️. I thought I'd have to reference a different part of the grammar to support both single and triple quotes. Nice!

[2020-05-13 11:59] barrywhart commented on #322
Adding a third group sounds good to me.

[2020-05-13 12:02] barrywhart commented on #318
Could we consider the various `JOIN` types to be another example of this? In other words, `INNER JOIN`, `LEFT JOIN` etc. should be on the same line in the same way as `SELECT DISTINCT` should be on the same line.

Admittedly, SQL developers don't tend to actually split the `JOIN` syntax across lines in this way, but from a more technical point of view, it seems the same.

Column type declarations

[2020-05-13 12:09] barrywhart commented on #315
Some of PyLint's checks are optional extensions (disabled by default):
https://docs.pylint.org/en/1.6.0/extensions.html

I just realized, this issue may be addressed by #322 (since, as you say, the underlying issue here seems to be that `DAY`, `MONTH`, and `YEAR` are keywords).

[2020-05-13 12:12] barrywhart commented on #290
PyCharm (and most other IDEs) provide a simple way to integrate with external command-line tools. While these docs are for PyLint, which simply makes suggestions (i.e. does not change the file), I bet if the tool *does* change the file, PyCharm will notice this and reload it. It's not quite as "cool" as a true IDE integration, but this can be set up in minutes with most editors, *way* less effort

[2020-05-13 14:37] nolanbconaway commented on #323
Yeah definitely, on the case!

[2020-05-13 16:53] alanmcruickshank commented on #315
Even if this is resolved for date parts, I think it's probably still a valid issue for some other common unreserved keywords. You point on pylint is spot on and I wonder if that's the approach we should take here.

[2020-05-13 17:00] alanmcruickshank commented on #318
*GREAT IDEA*. Totally agree on the linting.

I think the fixing part is easy if there's nothing apart from whitespace between the two keywords. I think we can also set it up to preserve the newline too and just to shift the keyword. i.e.

[code]

gets corrected to

[code]

and not

[code]

Where it gets harder is if there is a comment in between we have a choice, and I'm not sure whether to choose

[2020-05-13 18:33] barrywhart commented on #318
I looked through several of our queries to see if I could find an example to tip the balance one way or another. In the cases where I see this "misuse" or "misplacement" of `DISTINCT`, I didn't find any examples with comments. 😄

I think I lean slightly towards option (b). My reasoning (admittedly weak) is that if the comment applied to the column, they'd have placed the comment _after_ the commen

[2020-05-14 12:44] jml opened #328 "Error parsing "SELECT AS STRUCT" on BigQuery"
[code]

Configuration:

[code]

SQL:

[code]

Result:

[code]

The L012 warning is flat-out wrong. There's no aliasing at all. As a consequence, trying to fix that warning produces spurious SQL code

[code]

Resulting SQL:

[code]

Note the line `select as AS struct *`, which has two errors:

1. It has two `as` keywords in a row
2. The added `AS` keyword is incorrectly upper-cased

Happily, the li

[2020-05-14 16:20] jml opened #329 "Parser fails with "except" (BigQuery)"
[code]

Config:

[code]

The following SQL fails lint checks with a parser error:

[code]

Here's the output:

[code]

Whereas this SQL passes all checks:

[code]

[2020-05-14 17:04] jml opened #330 "Parse error handling "except" in BigQuery queries"
[code]

Config:

[code]

The following SQL fails with a parse error:

[code]

[code]

For reference, https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax is the BigQuery syntax.

I'd suggest looking at #329 in conjunction with this.

[2020-05-15 12:33] alanmcruickshank commented on #329
thanks for an excellent issue report! I'm tempted to make this into a template.

Agreed. This hasn't been implemented but can be easily. Watch this space.

[2020-05-15 12:42] alanmcruickshank commented on #329
Ah - this one is harder than expected. Problem is that `EXCEPT` is both a set operator and a modifier to select....

[2020-05-15 16:19] alanmcruickshank opened #331 "Refactor logging across sqlfluff"
Logging within the rules engine has had a recent upgrade to leverage the python logging library properly. The parser has not had this treatment and is inefficient and inflexible as a result. This issue is to refactor logging in the parsing engine, in particular the use of expressions like:

[code]

[2020-05-15 17:06] alanmcruickshank commented on #330
Wow, this one was much harder to handle that expected. Has highlighted some bugs deep down in the parser which I'm really glad are now out in the open. PR coming shortly.

[2020-05-15 17:26] alanmcruickshank opened #333 "Support dbt var() macro"
As per https://docs.getdbt.com/docs/writing-code-in-dbt/jinja-context/var/.

[2020-05-15 17:30] alanmcruickshank opened #334 "Disable the safeties on `fix`"
We should consider removing the requirement to specify rules on the `fix` command if it's hindering people trying the tool. This feature may just be a relic of when the `fix` routines were less reliable.

@barrywhart - thoughts?

[2020-05-15 17:32] alanmcruickshank commented on #333
Initial implementation suggestion for this would just be to render the name of the `var` as the result. This means we can be independent of what that variable is and still parse *most* queries.

[2020-05-15 19:40] ericxiao251 opened #335 "Macro Templating does not recognize macro in marco file."
We are working with DBT and have some wrapper macros around the core DBT marcos, i.e. `config`.

Example:
`models/examples/my_first_dbt_model/my_first_dbt_model.sql`
[code]

`marcos/shopify_config.sql`
[code]

`.sqlfluff`:
[code]

---

Running `sqlfluff lint models/examples/my_first_dbt_model/my_first_dbt_model.sql -vv`

we get this error:
[code]

[2020-05-15 19:45] barrywhart commented on #334
I like having this as an option, definitely. Otherwise, I end up customizing the "fix" command I run based on the lint output.

It would be cool if the default were to fix everything. You could exclude rules if you want, or if you _include_v rules, you get _only_ those.

[2020-05-16 12:23] barrywhart commented on #334
Maybe `fix` could use the same (or similar) "exclude" setting (in `.sqlfluff`) that `lint`uses.

[2020-05-16 12:28] barrywhart commented on #289
We've been looking at using SQLFluff purely as a SQL parser, to extract table dependency information from the SQL we execute. (This is used to automatically generate diagrams.) For now, we're using regex instead, but hope to use SQLFluff once it has more thorough BigQuery parsing. I'd be happy to share bits of this code or review any proposed API.

[2020-05-16 12:31] barrywhart commented on #150
This is a duplicate of #246. Closing.

[2020-05-16 12:31] #150 closed

[2020-05-16 12:35] barrywhart commented on #201
For the ultimate in flexibility, maybe allow configuring the rules -> level mapping. There could still be defaults, but this would sidestep any big controversy from users with differing opinions.

As I've mentioned elsewhere, we're being careful not to impose too much structure all at once on the data scientists in our organization. I could see gradually becoming more strict over time.

[2020-05-16 12:36] alanmcruickshank commented on #335
That *should* work so this is definitely a bug. Can you post the content of `my_first_dbt_model.sql`? I'll set this up as a test case.

[2020-05-16 12:47] barrywhart opened #337 "Parse error passing an ARRAY to a BigQuery UDF"
I noticed this when working on the function definition issue (#246). I can work on a fix for this once that work is finished and merged.

I'm AFK, but IIRC, if `myfn()` is a UDF taking an `ARRAY<INT64>` parameter, calling it using explicit array syntax fails with a parse error.
[code]

I wonder if other dialects besides BigQuery need this syntax.

I did some quick searches, and apparently Postgres

[2020-05-16 12:58] #323 closed

[2020-05-16 12:58] #328 closed

[2020-05-16 12:58] #329 closed

[2020-05-16 12:58] #330 closed

[2020-05-16 14:09] barrywhart opened #338 "Nested CTEs (WITH statements) fail to parse"
BigQuery (and possibly other SQL dialects) allow `WITH statements to be nested one inside another. Here's an example adapted from one of our projects. This does not parse. If I reorganize the code, placing the nested `raw` CTE at the same level as `clean`, the query parses with no issues.

[code]

[2020-05-16 14:22] alanmcruickshank commented on #338
👍 . I've just done a reorg of this part of the codebase *anyway* so should be easy to add in at the same time.

[2020-05-16 15:47] ericxiao251 commented on #335
I've updated my issue to include the SQL for `my_first_dbt_model` :).

[2020-05-16 19:54] barrywhart opened #339 "Queries using "IN UNNEST()" fail to parse"
This query is valid in BigQuery, possibly other SQL dialects as well.

Input:
[code]

Result:
[code]

[2020-05-16 20:24] barrywhart opened #340 "SELECT queries with a trailing comma in the column list do not parse"
I found this in some computer-generated SQL, where the code generator, for simplicity, places a `,` after every column, rather than using it as a separator.

Input:
[code]

BigQuery parses and executes the above without complaint. SQLFluff fails to parse it:

Result:
[code]

[2020-05-16 21:36] ancoron opened #341 "[postgres] Support for CREATE TYPE"
Please add support for `CREATE TYPE` in PostgreSQL dialect.
* https://www.postgresql.org/docs/current/sql-createtype.html

Simple example:
[code]

[2020-05-16 21:55] ancoron opened #342 "[postgres] Support CREATE SCHEMA"
Please support `CREATE SCHEMA` for the PostgreSQL dialect:
* https://www.postgresql.org/docs/current/sql-createschema.html

Simple failing example:
[code]

Common use-cases:
* logical tenant separation
* [PostgREST](http://postgrest.org/en/v7.0.0/tutorials/tut0.html#step-4-create-database-for-api)

[2020-05-16 22:01] ancoron opened #343 "[postgres] Support schema-qualified column data type"
All objects in PostgreSQL may be schema-qualified to ensure addressing a specific version, should an object with the same name exist in a schema that might be searched first.

In case of column data types, this fails:
[code]
...with:
[code]

[2020-05-16 22:23] ancoron opened #344 "[false-negative] quoted column alias detected as keyword"
The following fails:
[code]
...with:
[code]

[2020-05-16 22:29] ancoron opened #345 "[postgres] Support column definition for WITH queries"
Please support column name definitions in queries using CTE's (common table expressions):
* https://www.postgresql.org/docs/current/sql-select.html#SQL-WITH

The following simple query fails to validate:
[code]

...with:
[code]

[2020-05-16 22:43] ancoron opened #346 "[postgres] Support FILTER clause"
Please support the `FILTER (WHERE ...)` clause on aggregate expressions:
* https://www.postgresql.org/docs/12/sql-expressions.html#SYNTAX-AGGREGATES

Simple failing example:
[code]
...results into:
[code]

[2020-05-16 22:49] ancoron opened #347 "[postgres] Support Postgres dollar quoting ($$)"
Please support parsing of `CREATE FUNCTION` in PostgreSQL dialect:
* https://www.postgresql.org/docs/current/sql-createfunction.html

Simple failing example:
[code]

...results into:
[code]

[2020-05-16 22:53] ancoron opened #348 "[postgres] Support ALTER DEFAULT PRIVILEGES"
Please support `ALTER DEFAULT PRIVILEGES` in the PostgreSQL dialect:
* https://www.postgresql.org/docs/current/sql-alterdefaultprivileges.html

Simple failing example (actually from the [PostgREST docs](http://postgrest.org/en/v7.0.0/schema_structure.html)):
[code]
...results into:
[code]

[2020-05-16 22:55] ancoron opened #349 "[postgres] Support CREATE ROLE"
Please support `CREATE ROLE` in the PostgreSQL dialect:
* https://www.postgresql.org/docs/current/sql-createrole.html

Simple failing example:
[code]
...results into:
[code]

[2020-05-16 23:03] ancoron opened #350 "[postgres] Support more GRANT privileges"
Please support at least the following additional `GRANT` privileges for the PostgreSQL dialect:
* `EXECUTE` (e.g. `ON FUNCTION ...`)
* `USAGE` (e.g. `ON SCHEMA ...`)
* `<role_name> TO <role_specification>`

For more details: https://www.postgresql.org/docs/current/sql-grant.html

Simple examples:
[code]

...results into:
[code]

Examples actually derived from [PostgREST docs](http://postgrest.org/

[2020-05-17 09:39] alanmcruickshank commented on #289
I want to do this too, mostly to help the team avoid circular dependencies. @barrywhart are you able to post the kind of output you get from your regex solution at the moment? Your use case may be a good starting point.

[2020-05-17 13:40] barrywhart commented on #289
Sure! To make sure I understand, you want to see an example record? I'll get that tomorrow. The most important parts are the output table and a list of input tables.

[2020-05-17 14:59] barrywhart commented on #289
I'll just go ahead and share the whole Python module for this -- it includes both the original, SQLFluff-based code (currently commented out), as well as the regex-based code we're using as a workaround.

This code is focused on table dependencies, but now that we've added SQLFluff support for machine-learning models (BigQueryML), I've been thinking whether we might do something similar for ML mod

[2020-05-18 09:46] johansjob opened #351 "Conflict between rule L019 and L022 with leading commas"
**Problem**
When using leading commas you get conflicting behavior between rule L019 and rule L022.
The rule L022 seems to state that the CTE is expected to have a blank line **after** the comma but then this make rule L019 fail due to a trailing comma. Alternatively, L019 can succeed but then L022 fails.

**Example**
Fails with rule L022:
[code]

Fails with rule L019
[code]

**Expected**
The lead

[2020-05-18 10:05] johansjob opened #352 "Unexpected indents for column is accepted"
**Problem**
I _think_ this is a bug. At least to me it is unexpected.
When writing the first column as the same line as the SELECT two alignment options seem to be available when writing the second column on a new line. Either align it with one indent or align with the first column.

**Example**
Option 1:
[code]

Option 2:
[code]

**Expected**
As said, not sure this is a bug. If not it would be gr

[2020-05-18 15:21] jml commented on #334
Hi! I wrote the original comment.

I kind of beat this drum a lot, but I think what might be better is an explicit `fmt` command (like `go fmt`, `terraform fmt`, etc). Then the user expectations are that this will change my code, but only in low-risk ways that won't change semantics.

Then `fix` can be reserved for more avant garde changes.

[2020-05-18 20:54] barrywhart commented on #334
Related to the above, the "black" formatting package for Python code has a clever way to guarantee it doesn't make any unsafe changes: it builds an abstract syntax tree of the code before and after reformatting it, and it verifies that the two are identical.

That could be cool here as well, both for safety and for determining which rules are in the `fmt` versus `fix` category.

For a bit of info

[2020-05-18 23:16] barrywhart commented on #340
@alanmcruickshank: I'm interested in looking at this one. Do you think this will be easy or hard? I was wondering if we could use `Bracketed` followed by an optional `CommaSegment` or whatever it's called. Or is there a better way?

[2020-05-19 00:41] barrywhart commented on #340
Ah, I discovered the `allow_trailing` flag to `Delimited` and submitted a PR to change that. We could do this _just_ for BigQuery if that seems better.

[2020-05-19 08:07] johansjob opened #356 "Rule L025 fails when using BigQuery UNNEST function with alias"
**Problem**
BigQuery's unnest function with alias fails with rule L025, alias is never used.

**Example**
[code]

**Expected**
Successful parsing :)

**Settings**
Version: 0.3.4
Dialect: BigQuery

[2020-05-19 09:20] georgim0 commented on #270
Hi @alanmcruickshank

that looks great! our implementation is almost identical!

the only difference is that we didn't go with multiple .sqlfluffignore files which is a nice feature anyway.

All good. we'll give it a go on our end and let you know if there are any issues!

[2020-05-19 14:09] johansjob commented on #356
Adding another example, the UNNEST breaks rule L027 as well.

[code]

[2020-05-19 14:48] johansjob opened #357 "Rule L028 fails when using keywords in a sql-function in a query containing joins"
**Problem**
When using keywords like 'day', 'month' etc. in a sql-function in a query containing joins.
It treats the keywords like a column name and expects a qualified name.

**Example**
[code]

**Expected**
Keywords should be recognised and not result in an unqualified error.

**Settings**
Version: 0.3.4
Dialect: BigQuery

[2020-05-19 14:55] johansjob opened #358 "Query with a group by containing a SQL-function fails to parse"
**Problem**
Queries with a group by containing a SQL-function fails to parse

**Example**
Coalesce:
[code]
Timestamp_trunc:
[code]

**Expected**
Successful parse :)

**Settings**
Version: 0.3.4
Dialect: BigQuery

[2020-05-19 15:07] johansjob commented on #356
And another one, of course you can do the cross join variant as well..

[code]

[2020-05-19 16:12] johansjob opened #359 "Support "CASE expr WHEN value ..." case statements"
**Problem**
BigQuery (and many other DBs?) support two types of case statements.
https://cloud.google.com/bigquery/docs/reference/standard-sql/conditional_expressions

[code]
and
[code]
Currently sqlfluff only support the later.

**Example**
Shows both type of case statements, the nbr_weekday1 does not parse.
[code]

**Expected**
Both case statements parse successfully :)

**Settings**
Version: 0.

[2020-05-19 21:20] ericxiao251 opened #360 "Lint rule for spaces surrounding apostrophes (')"
Can we have a lint rule that checks for spaces surrounding apostrophes? Following Simon Holywell's SQL Style Guide:

reference: https://www.sqlstyle.guide/#white-space

[2020-05-19 21:24] ericxiao251 opened #361 "Blocklisting SQL vendor specific data types"
Following Simon Holywell's SQL Style Guide, it would be nice to have a lint rule that you can config to check for SQL data types used in the query.

I.e. In BigQuery you can use the keyword `BOOL` or `BOOLEAN` to represent a boolean type, the lint rule could blacklist one of those and enforce only a single keyword.

[2020-05-20 20:28] alanmcruickshank opened #362 "Trailing commas in select statement should raise linting error"
#354 allows parsing of trailing commas in select statements. This is a bigquery feature only (and so technically should raise a *parsing* error), but on balance I think it's more _useful_ that the query parses and then this can be raised as an issue.

I think even in dialects where this is supported, this should be regarded as an anti-pattern. We should have a linting rule which catches this.

[2020-05-20 20:43] alanmcruickshank commented on #361
I like this rule. I think it would be best if sqlfluff could be opinionated about *which* of the available options is preferred too. From my perspective I would find this really useful with snowflake string types where `STRING`, `TEXT`, `CHAR` and `VARCHAR` are all equivalent.

@ericxiao251 do you expect there is enough consensus for us to come up with the preferred options for the main dialects?

[2020-05-20 20:45] alanmcruickshank commented on #360
Agreed.

Not for implementation of this one: rather than looking for the `'` or `"` characters literally, we should look for `StringLiteral` segments which then make sure that things are common between dialects that use different quote characters.

This would also be a great starter rule if anybody wanted to have a go at it.

[2020-05-20 21:08] barrywhart commented on #361
BigQuery may be different in this respect -- it has `STRING` and `BYTES` types, but none of the other types you mention. https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#string_type

I think Mailchimp data scientists would be open to either option for Boolean columns. I do see that the officlal BigQuery [docs](https://cloud.google.com/bigquery/docs/reference/standard-sql/da

[2020-05-20 21:11] alanmcruickshank commented on #359
Agreed.

That syntax is supported in:
- mysql: https://dev.mysql.com/doc/refman/5.7/en/case.html
- postgres: https://www.postgresql.org/docs/7.4/functions-conditional.html
- snowflake: https://docs.snowflake.com/en/sql-reference/functions/case.html

This should be an easy one to add for anyone keen to get a first PR in the parser section of the codebase. Otherwise I'll hoover it up next time I'm d

[2020-05-20 21:15] alanmcruickshank commented on #358
Yep. I'm also suprised that this hasn't come up before come to think of it. Thanks for the examples too @johansjob.

Should be easy to fix, we should just add `ExpressionSegment` as an additional option in `GroupByClauseSegment`. This would be a good first issue for someone, and easy to set up tests for too given the examples above.

[2020-05-20 21:39] alanmcruickshank commented on #357
Good find, thank you for raising this one. This could be a tricky one.

I don't really want to start hard coding function signatures into the parser, but I'm not sure how we can always conclusively know whether to expect a date-part or whether to expect a reference.

Likely any approaches which *don't* involve hard coding specific function signatures will involve some false alarms on either side.

[2020-05-20 21:42] alanmcruickshank commented on #356
Excellent examples. Thanks @johansjob.

I think this is a bug because this *should* work. Looking at `TableExpressionSegment`, there's an optional `AliasExpressionSegment` in there already. I'll need to examine some of the logs to work out what's going on.

[2020-05-20 21:45] alanmcruickshank commented on #352
This isn't bug right now, it's functioning as intended in allowing both normal and hanging indents.

...however...

I also think that your idea of a linting rule to have either:
1. All columns on the same line as select: `SELECT a, b, c FROM my_table`
2. A newline after select and before the first column:
[code]

But to not allow a combination of the two (i.e. both of your example queries would ra

[2020-05-20 21:51] alanmcruickshank commented on #351
Yep. Good catch. This is an oversight in the design of those two rules.

I think that L022 should take into account the comma placement in it's linting. That could lead to backward incompatible configuration changes because we'll have to make the comma strategy a variable common to all rules rather than specifically L022, but I think that's ok.

[2020-05-20 21:56] alanmcruickshank commented on #345
@ancoron - the part that it won't be liking is the `(c_value)` after `tab_data`. It's not expecting to find a bracketed expression there.  In the link your provided I can't see where that syntax is documented. The only additional syntax I could see is the `RECURSIVE` options which I think we should address separately.

The query without that parses as expected:
[code]

[2020-05-20 21:58] #339 closed

[2020-05-20 21:58] #340 closed

[2020-05-20 21:58] alanmcruickshank commented on #350
Agreed. Thanks for the examples too.

The additional base permissions should be very straightforward for this one. We'll need to add some additional segments to handle the roles and role specification but should be fairly straightforward.

[2020-05-20 21:59] alanmcruickshank commented on #349
Yep - `CREATE ROLE` hasn't been touched yet. This needs adding. I think this would be good to tackle at the same time as #350.

[2020-05-20 22:01] alanmcruickshank commented on #343
Interesting! I wasn't aware of this capability.

Are you aware of whether this exists in any other common dialects or whether we should address this as strictly a postgres feature?

(My assumption is most of the other issues you've raised would be part of the root ansi dialect, but this might be the exception).

[2020-05-20 22:03] alanmcruickshank commented on #342
Yep. I think this should actually be implemented as a more general case of `CREATE <object>` which I think could cover `CREATE SCHEMA` but also `CREATE WAREHOUSE` and `CREATE DATABASE` (for snowflake users) and potentially event `CREATE ROLE` , `CREATE USER` or `CREATE GROUP` unless any of them have significant other functionality that we need to add.

[2020-05-20 22:05] alanmcruickshank commented on #341
Yep. Good postgres feature we should add.

We should make sure whatever is added to the postgres dialect for this doesn't filter through to the snowflake dialect which depends on this as this isn't supported there.

[2020-05-20 22:07] alanmcruickshank commented on #344
I don't think this is a bug, it's picking up on your inconsistent capitalisation of `as` on line 2. I wonder if the description should actually read out the keyword that it's complaining about which might improve UX.

@ancoron - thoughts?

[2020-05-20 22:08] alanmcruickshank commented on #346
Yep - this hasn't been implemented yet, but should be straightforward to do as `OVER` clauses have already been implemented and the implementation should be similar.

[2020-05-20 22:09] alanmcruickshank commented on #348
Yep. Needs adding. Makes sense to do as part of one PR with #350 I think too.

[2020-05-20 22:10] alanmcruickshank commented on #347
There's a PR in progress for this one already #325. I'm hoping this should be sorted soon.

[2020-05-21 00:07] barrywhart opened #365 ""sqlfluff fix": Questionable reformatting of long line"
I'm testing `sqlfluff fix --rules L001,L003,L006,L008,L010,L011,L016,L018,L019,L022,L023,L030` on some of our projects.

This was a case where the reformatting seemed a bit ugly, and maybe there's a better way.

Given this original line as input (part of a `WHERE` clause:
[code]

It got reformatted as:
[code]

I think splitting the lines around the `AND` would be much more readable, something like

[2020-05-21 00:10] codigo-ergo-sum opened #366 "Crash on fixing reported errors about "Inconsistent Capitalisation of Unquoted Identifiers" L014"
I have a SQL file which doesn't have consistent capitalization of unquoted identifiers. sqlfluff reports 213 violations of this. But when I run this command `sqlfluff fix fact_daily_moving_forecast.sql --rules L014` I get this error message:

==== fixing violations ====
213 fixable linting violations found
Are you sure you wish to attempt to fix these? [Y/n] ...
Attempting fixes...
Persisting Chan

[2020-05-21 00:10] codigo-ergo-sum commented on #366
I'm a bit hesitant to post the actual full SQL file here but if needed I can send it privately. Let me know if this doesn't give enough information to reproduce the issue.

[2020-05-21 00:18] codigo-ergo-sum opened #367 "BigQuery EXCEPT Keyword should ignore L013 "Column expression without alias. Use explicit `AS` | clause.""
Linting a BigQuery SQL file with a section that looks like this:

[code]

Gives this error:
[code]
But it doesn't really make sense and isn't possible to alias an EXCEPT statement like this, so this rule should probably not trigger rule L013.

[2020-05-21 00:48] barrywhart opened #368 ""sqlfluff fix" is very slow"
I ran `sqlfluff fix --rules L001,L003,L006,L008,L010,L011,L016,L018,L019,L022,L023,L030` on the file provided below. It took about 5 minutes to run. The file is only 250 lines long, so this seems excessive. During the run, I saw many repetitions (about 230, I think?) of the message "WARNING: One fix for L018 not applied, it would re-cause a previously fixed error."

Query:
<details>

[code]

</det

[2020-05-21 09:07] ancoron commented on #345
In the section I linked, the second paragraph:

[2020-05-21 09:57] ancoron commented on #344
Oh, my bad then. I think if I had read better I would have noticed that at position 19 the `as` keyword begins and not `"timestamp"`.

OTOH, for parsing errors it shows the start of the SQL that it's unable to parse, so having the keyword complained about also shown in addition would certainly help identifying it a bit faster for humans.

[2020-05-21 09:57] #344 closed

[2020-05-21 10:20] ancoron commented on #343
AFAICT, this should be possible for any dialect that supports multiple schemas or namespaces inside a single database. At least [SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-table-transact-sql?view=sql-server-ver15) (look for `<data_type>` definition) also supports this.

[2020-05-21 12:47] ericxiao251 commented on #360
I can take a stab at it :).

[2020-05-21 16:38] alanmcruickshank commented on #368
Great example. The fixing routines have definitely not been optimised for speed - and in particular I've already found a few bugs in the past where we end up with infinte loops that never get fixed. Will definitely look into this one.

[2020-05-21 16:40] alanmcruickshank commented on #367
Interesting. I'll definitely take a look at this one. Are you able to provide the whole query, or at least a full select statement that includes this section which this part is found in? Some of the parser bugs depend on the context within which the rule is found so it's really useful to have a full query to test with.

[2020-05-21 16:46] alanmcruickshank commented on #366
If you're happy to send the full sql directly that would be really helpful to debug this.

In particular with that `NotImplementedError`, there are a couple of codepaths that aren't implemented because I didn't know under what circumstances they would actually happen - so it's really useful that you've found one!

Could you send it to alan<at>designingoverload.com? If it's a sensitive query I won'

[2020-05-21 16:50] alanmcruickshank commented on #365
No need to provide the rest of the query here, I think I can see what's going on.

The logic about *where* to put line breaks when reformatting.

I think the ideal scenario here is:
[code]
(because I think it currently prefers operators at the start of lines rather than the ends)

The next shortest case should probably be:
[code]

Beyond that it will probably start to behave a little strangely....

[2020-05-21 17:57] ericxiao251 commented on #361
@alanmcruickshank, my initial thoughts are no, and my answer is based on a preliminary look at the data types in:
* BigQuery [data types link](https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#integer_type)
* Snowflake [data types link](https://docs.snowflake.com/en/sql-reference/data-types-datetime.html)
* Redshift [data types link](https://docs.aws.amazon.com/redshift/late

[2020-05-21 17:58] ericxiao251 commented on #361
@barrywhart that is a fair point, but from looking at other SQL dialects (Presto, Snowflake, Redshift) `BOOLEAN` is more commonly used, so I would argue for using `BOOLEAN` actually.

[2020-05-21 20:49] codigo-ergo-sum commented on #366
Sending SQL now. I think you meant alan@designingoverload.com so sending there. Please don't publish query directly.

[2020-05-21 20:50] codigo-ergo-sum commented on #367
This is the same query as for issue #366 so sending the one query in an e-mail to alan@designingoverload.com so sending there. Please don't publish query directly.

[2020-05-21 21:34] barrywhart commented on #361
I wonder if there's much value in having recommended types across databases. Would it be reasonable to have a list per dialect?

[2020-05-21 21:41] ericxiao251 commented on #361
That's what I am leaning towards as well. If we do come up with a list, it would be a very short list and I don't think there's much value in that.

This would also require some sort of CLI flag to dictate what dialect we are testing against and I am not aware that sqlfluff has that as an option currently?

Would this also deviate from sqlfluff being a "generic sql linter", I am not sure if that w

[2020-05-21 21:58] barrywhart commented on #361
There are necessarily parts of the grammar which are specific to certain databases.

My mental model is that it's a generic core that supports db-specific specializations.

[2020-05-21 22:01] barrywhart commented on #361
Oh yes -- there is a --dialect command-line option, and you can also set it in the .sqlfluff configuration file.

[2020-05-21 22:05] barrywhart commented on #368
Thanks! My goal at some point is to run`sqlfluff fix` automatically on every modified file on every `git` commit (as a pre-commit hook). Speed will be very nice in that case.

[2020-05-22 12:20] barrywhart commented on #365
Thinking a bit about this. When splitting a line, it seems like two criteria are:
* Depth of the parse tree: Prefer splitting lines "higher" in the tree
* Maybe also consider the operators: For example, as you say, square brackets belong together if practical

My first intuition is that bullet 1 is the "main" criteria, but the second can serve as a tiebreaker.

Line splitting is an interesting pro

[2020-05-26 05:16] zvikorn opened #370 "Sqlfluff should give a more helpful error message when run in python 2."
sqlfluff lint test.sql
Traceback (most recent call last):
  File "/usr/bin/sqlfluff", line 11, in <module>
    load_entry_point('sqlfluff==0.3.1', 'console_scripts', 'sqlfluff')()
  File "/usr/lib/python2.7/site-packages/pkg_resources/__init__.py", line 489, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib/python2.7/site-packages/pkg_resources/__

[2020-05-26 08:50] alanmcruickshank commented on #370
Thanks @zvikorn . Looks like you're running on python 2.7. Support for that distribution was dropped when we moved to version 0.3.0 of python. You'll still be able to use earlier versions of sqlfluff before 0.3.0, but a lot of the more recently functionality won't be in there.

Unless you have a compelling reason to use python 2.7, I'd highly recommend upgrading to one of the more recent releases

[2020-05-29 11:21] KimchaC opened #371 "Compatability with dbtutils package."
Hi,

This is an amazing project and I am so excited to have stumbled upon it. My goal is to use this with DBT, but even after reading the documentation I am having trouble setting it up.

## My environment:
- dbt_utils package installed in `./dbt_modules/dbt_utils/macros`
- custom macros in `./macros/`

## If I run it with an empty config file:
[code]

## When I add a config with the macros path:

[2020-05-29 15:16] nevado opened #372 "Support Windows file encoding - UTF-8-BOM (and others)"
Hi,

When using sqlfluff lint on files in Windows that are encoded with UTF-8-BOM, every file starts with two errors because of the BOM character:

Unable to lex characters: ''\uefeff\nCREATE '...'
Found unparsable section: '\uefeff\nCREATE<text>...'

I don't believe there's any way to specify the encoding currently, would you be happy for me to try fixing this as below and submit a PR for it?

-

[2020-05-30 16:51] flpezet opened #374 "Macros are not recognized when there are called in a macro"
In the macro folder:
[code]

In `test.sql`
[code]

Running sqlfluff
[code]

This kind of macros might be an antipattern. But at least we may need to make this error more explicit.

[2020-05-30 17:15] flpezet opened #375 "Support for substring"
Please, could we support the `substring` (ANSI) function?

The following query
[code]
...results into:

[code]

I suppose that there is a ton of ANSI functions we could support. I don't want to be annoying by raising an issue for each unsupported function I use.
Do you have any guidelines on cases that are more important than others? I really want to contribute but I don't want to bring more noise

[2020-05-30 17:30] flpezet opened #376 "[dbt] Tuple index out of range when there is a configuration block"
With dbt, it is possible to change configuration directly in the SQL query.(https://docs.getdbt.com/reference/model-configs#configuring-models)

The following query:
[code]
results into...

[code]

[2020-05-30 17:33] flpezet commented on #374
Oh sorry I'm closing because duplicates #335

[2020-05-30 17:33] #374 closed

[2020-05-31 12:01] flpezet opened #377 "'tuple' object has no attribute 'raw' when reproducing L020"
I tried to reproduce the L020 rule case.

The following:
[code]

... results into:
[code]

[2020-05-31 12:08] flpezet opened #378 "Add mypy in the project ?"
Would you agree if we add progressively [mypy](http://mypy-lang.org/)? Static typing documents well the code.
I'd be glad to do it, it is practical way to dive into the code.