[2020-06-08 19:41] ericxiao251 commented on #335
Hey Alan, do you have an idea when you have time to work on this bug?

[2020-06-09 21:55] barrywhart opened #380 "Rule: Warn if the overall query (i.e. final query, ignoring CTEs) produces an indeterminate number of columns"
Use of `SELECT *` in production queries is generally considered a bad practice, e.g. [this StackOverflow post](https://stackoverflow.com/questions/3639861/why-is-select-considered-harmful). SQLFluff should warn if a query does this.

In our team, we often allow an exception, i.e.`SELECT *` is okay *if* it's reading from a CTE (i.e. another "table" defined elsewhere in the same query), since in tha

[2020-06-10 08:12] olhmr opened #381 "load_macros_from_path should allow exceptions"
### Context
We are working with `dbt` in BigQuery and, as part of that, have created a new materialization strategy to handle some use cases that weren't properly addressed by built-in `dbt` options. This means that we have a macro in our macros folder containing this line:
[code]

### Issue
The `materialization` tag is not recognised, giving this error:
[code]
Clearly, one solution would be to ad

[2020-06-11 23:59] greg-finley opened #382 "Nested WITH is unparseable"
[code]

Snowflake query

[code]

[2020-06-12 05:14] greg-finley commented on #382
I have noticed a few more unparseable patterns in Snowflake. Is it helpful to raise issues for each one, or is this just annoying?

[2020-06-16 16:39] cosoare commented on #371
Also stumbled upon this issue - not really sure how to setup sqlfluff to recognise `dbt_utils`
Can look at putting a fix if this is an issue that needs solving?

[2020-06-16 20:29] azhard opened #384 "Add support for linter to ignore line"
In the same way you can add `# noqa` to a python script to prevent linting for that line, it'd be really handy for the same functionality to be added to sqlfluff.

I think flake8's implementation is particularly nice in that you can specify specific errors you can write `#noqa: E#` or just use `#noqa` to ignore the whole line.

https://flake8.pycqa.org/en/latest/user/violations.html#in-line-ignori

[2020-06-17 18:07] azhard commented on #384
Just realized is already supported with `--noqa`. Going to close this issue.

[2020-06-17 18:07] #384 closed

[2020-06-18 14:39] aburgel commented on #371
I'm running into this issue as well. dbt packages are defined in a jinja variable/namespace (using [import](https://jinja.palletsprojects.com/en/2.11.x/templates/#import) it seems). I don't think there's a way to mirror this given what sqlfluff provides.

For a dbt template containing something like `{{ dbt_utils.surrogate_key('blah') }}`

I've tried:

[code]

`dbt_utils` will be recognized but `s

[2020-06-19 03:15] ericxiao251 opened #387 "SQLFluff does not understand some BIGQUERY timestamp keywords"
[code]

Something like this, it does not understand the `YEAR` date `part`.

reference to the possible date parts: https://cloud.google.com/bigquery/docs/reference/standard-sql/date_functions#extract

<img width="489" alt="Screen Shot 2020-06-18 at 11 15 09 PM" src="https://user-images.githubusercontent.com/9758510/85093213-9845d180-b1b9-11ea-8c1c-5a4b8ec77ca0.png">

[2020-06-23 17:54] ericxiao251 commented on #387
Another example is that it does not understand the keyword `DATE`.

[code]

[2020-06-23 19:41] ericxiao251 opened #389 "SQLFluff does not recognize trailing commas in select statements in BigQuery"
In BigQuery it is legal to have a trailing comma in the last column in a select statement ie.

[code]

in normal ANSII SQL the comma after 3 is illegal, but in BigQuery it is.

when you run sqlfluff against this, you get a "Found unparsable section":
[code]

[2020-06-28 19:50] nolanbconaway opened #390 "Not an issue! Surfacing a sqlfluff webapp to the community"
I wrote a webapp that runs sqlfluff on SQL you paste in a web browser. I think this is likely the most interested group in something like this, so worth sharing. Let me know if there is a better spot for it.

- repo: https://github.com/nolanbconaway/sqlfluff-online
- app: https://sqlfluff-online.herokuapp.com/

Happy to relinquish the heroku app name if it is ever needed for "official" purposes!

[2020-06-29 14:10] alanmcruickshank commented on #390
This is awesome @nolanbconaway - I've not had much time to devote to sqlfluff over the last few weeks - but thanks for putting this together. If you're happy to - I'd love to have a link to this in the readme (feel free to credit yourself and link to your github repo if you like). Want to put a PR together to add that in?

[2020-06-29 14:11] nolanbconaway commented on #390
Sure thing!

[2020-06-29 20:57] justinstern commented on #371
I'm also running into this issue, while attempting to use `{{ dbt_utils.surrogate_key('blah') }}`:

[code]

Tried pointing `.sqlfluff` at my dbt utils directory with:

[code]

but that yields:

[code]

<a name="workaround"></a>
## Workaround

Since the issue appears to be the `dbt_utils.` piece, I do have a bit of a workaround, though I don't love it because I'm basically redefining the `dbt_utils

[2020-07-02 02:37] justinstern opened #392 "Support for Snowflake Qualify clause"
It seems like even with sqlfluff configured with `dialect = snowflake` that it possibly lacks support for the Snowflake [qualify](https://docs.snowflake.com/en/sql-reference/constructs/qualify.html) clause. At least when I use the following (which structure executes correctly in Snowflake):

[code]

linting with sqlfluff yields:

[code]

This is with sqlfluff, version 0.3.4

[2020-07-03 12:24] darrenhaken commented on #100
Is this closed because it's ready for use?
@nolanbconaway did you end up writing a vscode plugin?

[2020-07-03 15:01] nolanbconaway commented on #100
Yes, it is ready! The PR with that functionality was merged some time ago. Enjoy the JSON friend.

[2020-07-23 09:01] Swizz opened #394 "Array type in the postgres dialect"
Hi !

Following #177 , and since Posgres do have [Array Type declaration](https://www.postgresql.org/docs/9.5/arrays.html), that my company use a lot,
I would love to try to add it to the postgres dialect.

Working on the PR would not me a problem for me. But can you give me some clue about how to achieve this  ?

Cheers,

[2020-07-23 09:20] Swizz commented on #394
Nevermind I should have work harder. Your codebase is pretty neat.
Here is what I found in less than 15 minutes of studies.

[code]

---

So now, the given SQL
[code]
will have the following parsed tree :
[code]

[2020-07-23 09:20] #394 closed

[2020-07-23 19:36] pwildenhain opened #395 "False positive with "Unneccessary trailing whitespace" on a simple query"
I'm using the most up-to-date version from `master`

test.sql
[code]

[code]

If I move the field up to the same line as the `select` then it goes away

test.sql
[code]

[2020-07-23 20:00] pwildenhain commented on #395
The last time I used this package was a couple of months ago, and I didn't have this issue -- installed the package from commit 01f17cc and this issue went away. Not sure how helpful that is, but looks like the regression occurred somewhere within the last couple months

[2020-07-23 20:10] pwildenhain commented on #395
NEVERMIND. The trailing whitespace was near the `select` and I didn't notice it

🙇‍♂️ thank you `sqlfluff`

[2020-07-23 20:10] #395 closed

[2020-07-23 20:19] pwildenhain opened #396 "L027 fails when referencing a field created in the select statement"
.sqlfluff
[code]

test.sql
[code]

[code]

Not sure if this isn't ANSI standard, could understand if you don't want to make an exception for it

Sidenote -- is there a way to exclude rules in the `.sqlfluff` config file? I know you can use `sqlfluff lint --exclude_rules`, just hoping to not have to type that out each time

[2020-07-25 14:28] pwildenhain opened #397 "L022 fails on cte with leading comma"
Using the latest version from `master`

.sqlfluff
[code]

test.sql
[code]

[code]

If I remove the leading comma config, and make the comma trailing, then it passes

[2020-07-25 15:39] pwildenhain opened #398 "parser crashes with comment at beginning of file"
Using latest version from `master`

test.sql
[code]

Last part of traceback
[code]

Problem persists even with block `/**/` comment

[2020-07-25 19:47] pwildenhain opened #399 "L013 seems to expect an alias for the `*` when subsequent columns are present"
test.sql

[code]

[code]

The linting passes if I don't include `extra_column` in the `select`

[2020-07-31 20:21] pwildenhain opened #400 "sqlfluff lint complains about unqualified aggregated field in HAVING statement"
test.sql
[code]

[code]
Code | Line / Position | Description
-- | -- | --
L027 | 9 / 5 | Unqualified reference 'metric' found in select with more than one referenced table/view.

[2020-08-03 20:57] #359 closed

[2020-08-03 21:45] #358 closed

[2020-08-04 18:49] nolanbconaway opened #404 "Add fix routine for L025"
[This query](http://sqlfluff-online.herokuapp.com/fluffed?sql=H4sIACarKV8C_ytOzUlNLlHQUkgrys9V0CiGcA0VEosVEjUVikuTCktTiyoBBIbljSYAAAA%3D&dialect=postgres) has two problems:

[code]

It gets fixed as such

[code]

But if you lint the fixed sql, L025 remains!

[code]

The conjunction of these two errors shows that the "real" fix would be [this query](http://sqlfluff-online.herokuapp.com/fluffed?sql=

[2020-08-06 18:35] sethwoodworth opened #405 "On Linux: respect XDG_CONFIG_HOME and don't store config in user's home directory"
The XDG Base Directory standard states that user config files should respect the `XDG_CONFIG_HOME` environment variable, which defaults `$HOME/.config`.

Currently, sqlfluff looks for a user's global config file in `~/.sqlfluff`.  I, like many heavy terminal users, have a *lot* of files in our home directories, and prefer to use the `~/.config` directory whenever possible.

The `.config` dir is on

[2020-08-07 09:20] alanmcruickshank commented on #405
Hi @sethwoodworth - I wasn't aware of that package - looks great!

Yes if you're happy to implement, I'd be very happy to receive a PR on this.

We probably have some existing users who want to keep their config in `~/.sqlfluff`, so I'd love to keep that as an option. You'll see in that the logic for the config files means that they layer on top of each other, so the ordering matters, and I think

[2020-08-07 09:37] alanmcruickshank commented on #404
Great question.

So far I haven't gone as far as removing aliases if they're not used. I wondered whether it was too brutal, but actually, cases like this show that maybe it's more confusing if it's not there.

Would you be happy putting together a PR for this?

[2020-08-07 09:44] alanmcruickshank commented on #400
Darn, I can totally see how this would happen. At the moment L027 doesn't have an exception for column aliases in the select.

The logic at the moment is:
1. Get all the references in the query.
2. Check whether they're qualified or not, ignore them if they are.
3. Check that it's not a reference in a USING statement.
4. Error if there are any left.

I think there should be an added step (probably

[2020-08-07 09:49] alanmcruickshank commented on #399
This is definitely a bug, but I'm curious as to how it happens. I think it must be that there's something fundamental about how the parse tree is structured in the two cases. This one needs more investigation.

Next step here is to run `sqlfluff parse` on each of the two queries and understand why `select * from blah` means that the `*` is not parsed as an expression, but `select *, foo from blah`

[2020-08-07 09:53] alanmcruickshank commented on #398
Wierd. Thanks for raising the issue.

When I test this locally I don't get the same issue. I've tried both:

[code]

and

[code]

with both `sqlfluff lint` and `sqlfluff parse`.

Can you post your config file here? Alternatively run `sqlfluff parse test.sql --vv` so that you get a readout of your config and then paste the whole stacktrace here?

[2020-08-07 09:58] alanmcruickshank commented on #397
Good catch, yes on inspection at the moment `L022` doesn't respect `comma_style`, and it definitely should. The `_eval` function for that rule will need to have a path which checks that. Would you like to put together a PR for this?

You would need to do two this:
1. Introduce an `__init__` function for `L022`, almost identical to the one for `L019` which adds the `comma_style` config into the cla

[2020-08-07 10:02] alanmcruickshank commented on #396
On the sidenote: definitely. You can do something like below in your config file:

[code]

Could you review the config docs and suggest a way of making this clearer in the docs? I suspect quite a few users might not be aware of this.

As for the bug, I think this is actually the same bug as #400. `L027` doesn't have an exception at the moment for previously defined column aliases and it should.

[2020-08-07 11:29] alanmcruickshank commented on #392
Yep, I don't think this has been implemented in the parse yet. I've never actually used the `qualify` clause, very interesting (https://docs.snowflake.com/en/sql-reference/constructs/qualify.html).

This should be very possible.

[2020-08-07 11:31] alanmcruickshank commented on #390
Thanks for this @nolanbconaway - I'm going to close the issue.

Also this made me lol:

[2020-08-07 11:31] #390 closed

[2020-08-07 11:34] alanmcruickshank commented on #389
I thought I had implemented this 🤔 .

`allow_trailing` is definitely there in the dialect: https://github.com/alanmcruickshank/sqlfluff/blob/master/src/sqlfluff/dialects/dialect_ansi.py#L590

What version are you running on?

[2020-08-07 11:37] alanmcruickshank commented on #387
I think I agree with your diagnosis. Thanks for looking into this. 👍

[2020-08-07 11:38] alanmcruickshank commented on #382
@greg-finley - please do raise them, they're definitely helpful!

I thought I had allowed this one, but I'm not sure. Thanks for providing the example query. It's really useful.

[2020-08-07 11:40] alanmcruickshank commented on #378
@flpezet - yes please! I've never really used mypy but I'd love to learn more.

Feel free to add things to the build pipeline and any checks you feel necessary. Some guidance in the `CONTRIBUTING.md` file would also be great.

I'm happy to help on this one too, but I wouldn't know where to start, so if you can get the ball rolling that would be a real help.

[2020-08-07 11:44] alanmcruickshank commented on #377
Great catch. This is a really silly error on my part. PR coming shortly.

[2020-08-07 11:45] alanmcruickshank commented on #380
Interesting! Great idea for a rule. I've never adopted this but I probably should.

Happy to accept PRs on this one.

[2020-08-07 11:47] alanmcruickshank commented on #381
Yeah this is a challenging one. It's becoming increasingly difficult to support a wide set of dbt extensions and macros. I'm considering changing how we support the compiling of templates and actually getting dbt to do the rendering of queries, which would solve a load of these issues.

Any ideas on how we might go about fixing this one?

[2020-08-07 11:49] alanmcruickshank commented on #376
Strange. I can't recreate this error. Can you post your config and version that you're running to get this error?

[2020-08-07 11:50] alanmcruickshank commented on #375
The problem here is the syntax *inside* the function rather than the function name itself. i.e. `a from 'abc'`. Happy to support this as an option however. We've already got a similar exception for `EXTRACT` like functions.

[2020-08-07 11:54] alanmcruickshank commented on #372
Happy for you to have a go at this one!

My preference (I think) would be that we do this as early in the process as possible, so that most functions can rely on a clean utf8 string downstream. Perhaps in the base `RawTemplaterInterface` or even in the file loading routines themselves.

The challenge here is that we'll also have to _re-encode_ the file in the `fix` commands. We'll probably have to

[2020-08-07 13:47] sethwoodworth commented on #405
@alanmcruickshank Wonderful!
I started implementing the feature yesterday, and implemented it as replacing the result of `load_user_config` if the directory exists on the user's system.  My thought was that a user would have one user config, but I remember now looking at the nesting docs that you can have multiple files in the same directory that are apply configs, so I'll be sure to implement the

[2020-08-07 14:03] barrywhart commented on #380
I'll add to my list. I may have some available time in the next few weeks. 🤞

[2020-08-07 15:48] alanmcruickshank commented on #371
Heya guys, thanks all for such detailed bug reports here. I'm aware that this is an issue.

Has anyone had this issue with any other plugins for dbt? Longer term I think sqlfluff needs a better way of rendering dbt queries that doesn't involve just duplicating the dbt plugin logic within sqlfluff.

This feels like one of the biggest issues at the moment which is affecting the most people so I'll t

[2020-08-07 17:33] #377 closed

[2020-08-07 17:45] #375 closed

[2020-08-07 17:47] alanmcruickshank commented on #382
PR for this one is coming. Btw, for what you're trying to do in snowflake with that query you might want to use a generator expression (https://docs.snowflake.com/en/sql-reference/functions-data-generation.html), they would express the same thing that you're doing in a much more compact way.

[2020-08-07 18:03] #382 closed

[2020-08-07 18:03] #370 closed

[2020-08-07 18:06] greg-finley opened #411 "Decimals without leading zeros are unparseable"
[code]

[code]

[2020-08-07 18:09] greg-finley opened #412 "Snowflake `ignore nulls` is unparseable"
[code]

https://docs.snowflake.com/en/sql-reference/functions/first_value.html

```L:   2 | P:  42 |  PRS | Found unparsable section: ' NULLS over (\n ...'```

[2020-08-07 18:21] justinstern commented on #392
@alanmcruickshank thanks for the comment. This isn't something that I've had a chance to try digging into as of yet, so if someone wants to tackle it, that'd be fine. Should I get around to it I'll drop a note here so there's no duplicate effort 😄

[2020-08-07 22:04] nolanbconaway commented on #404
Lol, i knew the day would come in which I would need to learn the internals. I'll take this one!

[2020-08-07 22:17] alanmcruickshank commented on #368
Ok I've picked this one up. I can confirm that your example query runs really really slow - and I've identified why.

After each fixed error, sqlfluff starts again and rescans the file. This means for that the start of the file is assessed for errors many many times in a very inefficient way. I think there are some big speed improvements possible here. I'd like to add that query to the a suite of

[2020-08-07 22:31] alanmcruickshank commented on #368
So we've gone from 5 mins, to much shorter, but it's still quite long. There's something in the "Persisting changes" step which is taking a suprisingly long amount of time. I'm going to sleep on this one and come back to it 🤔 .

Great example query again btw! There are a load of things about how sqlfluff formats this query that I don't agree with. It should help flush out a few bugs.

[2020-08-07 23:51] barrywhart commented on #368
Sure, feel free to add this query to your test suite.

This code came from our data science team. We have more than 10 full-time data scientists, and much of their coding is in SQL. Each project is typically 1,000-3,000 lines of SQL. Once the speed is good, I'm strongly considering running `sqluff fix` automatically prior to any got commit. I'm excited about the code improvements we'll see from th

[2020-08-08 11:44] dmateusp commented on #399
I hit the same issue as above, and your comment @alanmcruickshank lead me to try parsing a "working" statement and a statement that fails with the above bug:

[code]

[code]

while:

[code]

[code]

It doesn't seem like the parser is at fault, (although I'm just discovering the project)

[2020-08-09 21:44] alanmcruickshank commented on #411
Confirmed. Thanks for raising this. PR coming shortly.

[2020-08-09 21:51] alanmcruickshank commented on #412
Confirmed. For some reason, my quick fix for this isn't working. I'll need to do some debugging.

Thanks for raising.

[2020-08-10 08:21] alanmcruickshank commented on #405
Excellent question on testing this.

You're correct that it's not properly tested at the moment. If you feel happy to put together something which mocks `appdirs` then that would be great to get some better test coverage in that part of the codebase. If you feel like covering all of the config loading routines that would be great - otherwise it would still be useful if you put some testing in for

[2020-08-10 08:22] #411 closed

[2020-08-10 08:30] alanmcruickshank commented on #404
@nolanbconaway - feel free to ask any questions you need to as you go.

Some pointers:
- Each rule has an `_eval` function which is called on every segment of the query recursively.
- `_eval` returns a `LintResult` object which contains a selection of things about that linting operation.
- To make *corrections*, a `LintResult` should contain a single (or a list of) `LintFix` objects.
- A `LintFix`

[2020-08-10 08:54] alanmcruickshank commented on #399
Thanks @dmateusp ! Yeah that's what I was expecting it to do. So that makes the original query more puzzling.

Even with the original query it's not being parsed as an expression....

[code]

[2020-08-10 08:57] alanmcruickshank commented on #399
Hold up. Problem solved.

At the moment there's no exception for `*` at all in `Rule_L013`. There is however an exception for *scalar* queries e.g. `SELECT 1`. This means at the moment that `SELECT * FROM blah` is ok because it's being treated as a scalar, and that `SELECT *, foo FROM blah` isn't because it's now got more than one column.

Easy solution. `Rule_L013._eval` now just needs to exclude

[2020-08-10 08:58] alanmcruickshank commented on #399
@dmateusp , @pwildenhain , either of you want to have a go at this one?

The `_eval` function for `Rule_L013` is so far quite compact and so this would be a fairly good entry point into understanding how that part of the codebase works.

[2020-08-10 09:38] alanmcruickshank commented on #397
Btw. This is also a duplicate of #351

[2020-08-10 09:39] alanmcruickshank commented on #351
This has been raised again in #397 . Let's track any conversation there.

[2020-08-10 09:45] dmateusp commented on #399
@alanmcruickshank I'd love to have a look this evening, thank you for the explanation

[2020-08-10 09:48] alanmcruickshank commented on #338
this was fixed in #409

[2020-08-10 09:48] #338 closed

[2020-08-10 10:04] alanmcruickshank commented on #412
Fixed. PR coming

[2020-08-10 10:08] #412 closed

[2020-08-10 22:15] nolanbconaway commented on #404
Thanks a bunch-- thats helpful context. I'll take a look and see what i see.

[2020-08-11 01:44] thomaskwan opened #417 "Questions: Compatibility with Hive, Spark SQL?"
Wonder if anyone is using this project with Hive and Spark SQL? Can users implement their own dialects? I do not see references on how to inject our own rules. Is this possible?

thanks for your time. very good project

[2020-08-11 11:45] alanmcruickshank commented on #417
Hi @thomaskwan - yes we can totally implement new dialects. I don't know if anyone has tried with Spark or Hive, but there's no structural reason that it shouldn't work. Are you able to post a few example queries here to check? One or two simple ones and then one or two complex ones would be great to assess how much work it would be to get full compatability.

As an example, @Katzmann1983 implemen

[2020-08-11 13:50] #399 closed

[2020-08-11 15:14] ericxiao251 commented on #389
DBT SQL:

[code]

DBT run:
[code]

SQLFluff lint run with `-vv`:
[code]

SQLFluff version:
[code]

[2020-08-13 10:35] dmateusp opened #418 "L027 Expects table alias for current_timestamp"
[code]

gives

[code]

I don't think the parser sees the current_timestamp as a function, which is a problem here
[code]

For example in the case of:
[code]

the parsed segment is
[code]

and that does not return a lint error, which is correct

[2020-08-13 19:16] alanmcruickshank commented on #418
Good catch.

At the moment there's not exception for "bare" functions like `current_timestamp` which aren't followed by brackets.

We should probably add another "set" in the parser to allow people to configure these. @dmateusp can you think of any other functions which also don't have brackets after them?

[2020-08-13 21:25] dmateusp commented on #418
I looked for a few more, found this Oracle list of ANSI functions: https://docs.oracle.com/cd/E57185_01/IRWUG/ch12s04s05.html, they have a table with a column which is for "which parameters the functions take" so it's easy to find nullary functions.

We could start with `row_number`, `current_timestamp`, `current_time`, `current_date`.

Interestingly the Snowflake USAGE NOTES for `current_timestam

[2020-08-13 21:39] dmateusp commented on #418
Thought I'd point out as well that Snowflake as some nullary functions like `current_role` which cannot be called without brackets

So we really just need to make an exception for these functions that can be called without brackets

[2020-08-13 21:57] pwildenhain commented on #399
Y'all are too quick on the draw! Would love to contribute in a future issue, thanks for addressing this so quickly 🏋️‍♂️

[2020-08-13 22:13] pwildenhain commented on #397
I'm def willing to take a crack at it 🔧

[2020-08-14 14:14] pwildenhain commented on #400
I'm definitely willing to get my hands dirty, and I'll let you know once I've gotten as far as I can 🤞

[2020-08-14 15:57] pwildenhain commented on #398
Yea, I can check this out 🕵️‍♂️

[2020-08-14 15:59] pwildenhain commented on #396
Sure, I can take a look at the docs -- just so I'm clear, you could specify _all_ CLI options in this way?

[2020-08-17 18:48] barrywhart opened #419 "Warn if "ORDER BY" is used on multiple columns and only *some* columns specify explicit ordering"
We had a bad bug recently in a project where somebody wrote this:

[code]

They thought it meant this:
[code]

But it actually means this:
[code]

Suggestion: SQLFluff should warn that it's "potentially ambiguous" if an `ORDER BY` specifies the order direction `ASC` or `DESC` on _some_ but not _all_ columns. An automatic fix for this would be to have SQLFluff add `ASC` to any columns that didn't s

[2020-08-18 09:53] aydumoulin opened #421 "Parsing JSON and ARRAY accessors in snowflake dialect"
Parsing the following

[code]

Will result in the following errors
[code]

Parsing of item accessors `[n]` as well as bracket `['value']` accessors aren't handled as it seems. It seems that postgres style json-colon accessor is handled.

Here is the configuration file excerpt
[code]
Maybe someone could point me towards were I could start a MR from?

Thanks a lot!

[2020-08-18 09:59] aydumoulin commented on #421
I tried uncommenting this [line](https://github.com/alanmcruickshank/sqlfluff/blob/master/src/sqlfluff/dialects/dialect_snowflake.py#L60) as it seems that `VARIANT` does support [array accessor](https://docs.snowflake.com/en/user-guide/querying-semistructured.html#retrieving-a-single-instance-of-a-repeating-element) in snowflake these days

However the linter stops without any logging 🤔

[2020-08-18 13:10] dmateusp commented on #371
hey, I added a Draft PR as my "dive into the code" exercise, here's my approach:

* Support comma delimited list of directories in Configuration `load_macros_from_path`
* Support new comma delimited list of wildcard patterns to ignore in Configuration `load_macros_exclude_path_patterns`
* Check if macro sub-directories contain dbt_project.yml, in which case, import macros in dictionary `{<project_

[2020-08-18 13:46] pwildenhain opened #423 "Explain .sqlfluff config options more clearly in the config docs"
On the sidenote: definitely. You can do something like below in your config file:

[code]

Could you review the config docs and suggest a way of making this clearer in the docs? I suspect quite a few users might not be aware of this..

_Originally posted by @alanmcruickshank in https://github.com/alanmcruickshank/sqlfluff/issues/396#issuecomment-670439074_

[2020-08-18 16:03] pwildenhain commented on #397
Can you assign me to this issue? It will make it easier to track on my end

[2020-08-18 16:03] pwildenhain commented on #398
Can you assign me to this issue? It will make it easier to track on my end

[2020-08-18 16:03] pwildenhain commented on #423
Can you assign me to this issue? It will make it easier to track on my end

[2020-08-21 14:13] alanmcruickshank opened #425 "L014 Misses some errors in queries with snowflake semi-structured code"
In this query:

[code]

Only the first issue is found when running L014 with the `lower` configuration option. `TO_PHONE_NUMBER` is converted to `to_phone_number` but the latter `FROM_PHONE_NUMBER` is untouched.

[2020-08-27 18:20] nolanbconaway opened #426 "Found unparsable section: ' notnull'"
This query is definitely valid postgres:

[code]

Alas, fluff disagrees!

[code]

For the record:

[code]

[2020-08-28 22:28] aaronsteers commented on #368
@alanmcruickshank - Like @barrywhart I'm seeing some slow performance and wanted to ask a follow-up from the thread above. Based on what you stated about the check restarting when it finds the error, can I therefor expect that after an initial "one-time cleanup" of our repo, that the subsequent executions would be much faster?

Plan is to do a one-time cleanup PR and then put this into production

[2020-08-28 22:35] aaronsteers opened #427 "Option to incrementally save file during "fix""
I'm doing a one-time cleanup of a fairly large repo (200+ sql files). The process is taking a long time. I am watching #368 and I totally understand why it's going to be slow for a large and unkempt repo. I wanted to ask though, since it seems to be holding all edits until the end, is there any plan to save each file, one at a time, rather than waiting until all files are processed?

The nightmare

[2020-08-28 22:41] aaronsteers opened #428 "Rule Suggestion: disallow expression on same line as SELECT (if num_expressions>1)"
Given this example:

[code]

SQLFluff fixes as:

[code]

Whereas I think the best practice should be:

[code]

In other words: `If the number of expressions is greater than one, none of them should share a line with SELECT and all should be indented the standard 4 characters.`

Thoughts? Agree/disagree?

I qualify based on the number of expressions because a case can be made that this:

[code]

..

[2020-08-29 02:22] aaronsteers opened #429 "Rule Config Suggestion: Allow unused aliases for subquery"
Applies to rule **[L025](https://docs.sqlfluff.com/en/latest/rules.html#sqlfluff.rules.std.Rule_L025)** which is `Tables should not be aliased if that alias is not used.`

While I agree (and want to enable this rule) for normal tables, I found this also triggered when the "table" in question was a subquery.

Example which triggers the error:

[code]

In the above example, the rule would impose eit

[2020-08-29 03:00] aaronsteers commented on #429
On further thought and exploration, I think omitting the subquery alias is actually plenty clean and still easily readable. Resolving as a non-issue.

[2020-08-29 03:00] #429 closed

[2020-08-29 04:05] aaronsteers commented on #361
I'm late to this discussion, but I agree strongly with the premise that support for a single explicit preference is generally preferable to ambiguity, and it's preferrable to not have both BOOL and BOOLEAN used in the same codebase (or worse, in the same file).

I actually want to propose another possible guiding principle here, which could be:

* prefer ANSI types and formulas when those are func

[2020-08-29 04:20] aaronsteers commented on #299
Hi there. Was browsing through the tickets list and found this, which was of interest to me because I was dealing today with a URL in one of our comments which was about 50 or 60 characters long. I was able to resolve this by breaking the comment into two lines, with the URL on it's own line, but there of course can be URLs which are by themselves too long to fit under the line length.

I wonder i

[2020-08-29 04:27] aaronsteers commented on #201
I would love to see just two levels:

- warning - In the IDE it deserves a squiggle, but it generally wouldn't fail a CI/CD build.
- error - It gets a squiggle AND it fails a CI/CD build.

I would rather _not_ have "information" messages since at a certain point they become just "spam" or "noise" that the developer ignores.

Importantly, taking #29 for example, which is regarding comment length ov

[2020-08-29 04:38] aaronsteers commented on #201
I think a good guiding rule could be reducing severity when there could be legitimate stylistic exceptions. I [raised] (and then subsequenty closed) #429, which was that [L025](https://docs.sqlfluff.com/en/latest/rules.html#sqlfluff.rules.std.Rule_L025) seems counter-intuitive to me when applied to subqueries. That's one where the impact on readability can sometimes go either way - for instance, w

[2020-08-29 04:48] aaronsteers commented on #89
In regards to recommending CTEs based on complexity, what about a rule to recommend a CTE for any subqueries that are not the first relation in the FROM clause.

Essentially, this is okay:

[code]

But this is not:

[code]

The logic is that whatever comes first in your query _should_ be the thing primarily determining its granularity. But once we begin our joins, the extra verbosity discourages r

[2020-08-29 04:55] aaronsteers commented on #37
Does this only apply to inner joins? I'm wary about this change as it applies to outer joins - since there are many valid reasons to have a complex join clause condition. The fix I generally recommend is to (when possible) modify the upstream table(s) so that they can be joined on 2 or 3 columns, max. But again, that generally requires modifying the upstream table and may not be a sign of a poor q

[2020-08-29 05:01] aaronsteers commented on #10
I used to recommend using `USING` but then ran into a problem where a column after being referenced in USING was no longer available using either of the two table's aliases. For instance, `tbl_a.key_col` and `tbl_a.key_col` were both invalid, and you could only access the value by referencing `key_col` alone with no prefix - which is then problematic because it conflicts with other linter rules re

[2020-08-29 05:06] aaronsteers commented on #362
@alanmcruickshank - I'm new to the science and practice behind linting but this looks like a good first issue and I'd love the opportunity to contribute if you think this would be a good one to hand off.

If so - and if it would be helpful to start up a PR on this one - do you have any guidance on specific rules that might be similar-enough to this one that I could adapt without having to build co

[2020-08-30 12:38] barrywhart commented on #37
Thanks for the thoughts! This idea is definitely more of a general brainstorming/"what might we do here" kind of thing, and I think I was thinking mainly of inner joins.

This also reminds me of another issue I created about supporting custom rules using plugins. Having that ability could be great for experimenting with new times before adding them to SQLFluff itself. I think it will often take so

[2020-08-30 19:43] #396 closed

[2020-08-30 19:43] #400 closed

[2020-08-30 19:47] #418 closed

[2020-08-30 19:56] alanmcruickshank opened #430 "Make the BareFunctionSegment dialect configurable"
This is an additional improvement on top of #424 . If someone wants to pick this up, please read the backstory of this feature there.

The `BareFunctionSegment` is currently defined in the ANSI dialect thus:

[code]

This works perfectly if all bare functions are the same in every dialect, but doesn't support dialect configuration very well.

Similar functionality has already been implemented with

[2020-08-30 20:04] alanmcruickshank commented on #428
I'm open to this as a rule, with a few potential exceptions.

- If there is only a single column in the select, then the rule does not apply (as per your last example), this would be similar to the logic of L013, which allows `SELECT 1 FROM blah` without an alias for the column.
- Your first example actually has a hanging indent, and I think these should still be allowed, although perhaps this sho

[2020-08-30 20:16] alanmcruickshank commented on #426
Interesting! I wasn't familiar with that syntax.

Yes it is valid in postgres (https://www.postgresql.org/docs/9.2/sql-syntax-lexical.html#SQL-SYNTAX-OPERATORS), but not in mysql (https://dev.mysql.com/doc/refman/5.7/en/non-typed-operators.html) or snowflake (https://docs.snowflake.com/en/sql-reference/operators-logical.html). Interestingly isn't also not supported in Redshift (https://docs.aws.am

[2020-08-30 20:27] alanmcruickshank commented on #427
Interesting. I hadn't thought of this, but yes something might be possible.

In particular, at the moment we first *lint* all the files, then present the user with a list of fixable errors, which are then applied individually. If during that second phase there was a bad error, then all of the files up to that point would have been saved, but I can imagine that during the *first* phase, it could be

[2020-08-30 20:30] alanmcruickshank commented on #421
Thanks for putting together such a clear Issue! :)

Would you like to put together a PR for this @aydumoulin ? Some more test queries which cover this kind of syntax would be really useful.

[2020-08-30 20:33] alanmcruickshank commented on #419
one hundred times yes, this would be a GREAT rule! 💯

I think taking inspiration from `Rule_L020` would be a good start to this one, although I think this rule could be much simpler that L020.

Who wants to take this?

[2020-08-30 20:36] alanmcruickshank commented on #89
@aaronsteers I like your suggestion! I think there might be other potential rules that could also be useful here, but your suggestion would be a really good starting point, 👍

[2020-08-30 20:38] alanmcruickshank commented on #164
I think implementing a [pluggly](https://pypi.org/project/pluggy/) style plugin layer for sqlfluff would be awesome to add custom rules. We would totally use that at tails too for some dependency checks.

[2020-08-30 20:40] aaronsteers commented on #428
Yes, totally agree with you on all points. Personally, I don't prefer the hanging indent but I recognize that both can have merit.

And yes, sounds like we're on the same page that expressions should either all be left-aligned to the (by default) four character indent - which forces the first expression onto it's own line - or else subsequent expressions should share the hanging indent start point

[2020-08-30 20:51] alanmcruickshank commented on #3
@mrshu @nolanbconaway [and anyone else for that matter]

Could both of you provide some examples or your internal style guides?

I'm thinking there are four approaches I'd like to go with here:
1. The sqlfluff defaults. There should be only one set of these, and so far I've tried to tread a fairly mainstream path, taking a lot of inspiration from the dbt style guide (among others). This isn't very

[2020-08-30 20:59] alanmcruickshank commented on #37
- I love the plugin idea, which I think is covered in #164 .
- Comments to ignore errors on specific lines was added in #284

Based on this and what @aaronsteers has added, I'm tempted to close this issue unless anyone has particularly strong feelings?

[2020-08-30 21:02] #67 closed

[2020-08-30 21:03] #135 closed

[2020-08-30 21:11] alanmcruickshank commented on #201
I think then for a first iteration of this we should have:
1. Two levels of issue: ERROR and WARNING. The defaults for these should be set on the rule definitions themselves. I agree with @aaronsteers point about not having an INFO level. Seems sensible to avoid it for now, but we could already reconsider at a later stage. I'd love the two levels to be constants that ultimately map to integers, si

[2020-08-30 21:16] #271 closed

[2020-08-30 22:10] aydumoulin commented on #421
I would like to try that if I manage to devote time to it. Indeed adding tests is a must.

By the way you've done great work with this parser.

[2020-09-02 00:18] calvingiles opened #433 "sqlfluff fail to parse () within REPLACE() block"
What happens:

[code]

What should happen:

It should pass. This specific SQL is valid, and using () within a replace is common.

Notes:

You can actually reproduce the case with `SELECT * REPLACE ((1) AS foo)`, but without a FROM makes this invalid.

[2020-09-02 18:39] aydumoulin commented on #392
I made this working locally. However I am struggling with the test suite in master so I did not feel like issuing a MR

I patched `src/sqlfluff/dialects/dialect_snowflake.py`

[2020-09-03 23:36] gajus opened #434 "Error: no such option: --no-safety"
It is described in the documentation, but it does not seem to be available.

[code]

https://docs.sqlfluff.com/en/latest/cli.html#sqlfluff-fix

[2020-09-04 19:58] felipecrs opened #435 "What dialects sqlfluff supports?"
I can't find the list of supported dialects in the documentation. I wonder if this supports Oracle for example.

[2020-09-11 20:42] greg-finley commented on #435
https://github.com/alanmcruickshank/sqlfluff/tree/master/src/sqlfluff/dialects

[2020-09-11 20:55] felipecrs commented on #435
Thank you so much. Perhaps the available options should be included in the `--help`?

[2020-09-17 17:01] barrywhart commented on #368
@alanmcruickshank, any updates on this? I am working to carve out some time in my work for tooling needs like this. If you have some improvements, it could be cool for you to push those to the repo. Maybe (🤞) I will be able to help finish this work.

[2020-09-23 11:26] alanmcruickshank commented on #327
I think this has been improved a lot, so I'm going to close it.

[2020-09-23 11:26] #327 closed

[2020-09-23 11:28] alanmcruickshank commented on #435
Thanks for bringing this up @felipecrs . Yeah I think this can be much better - I've just done a mini review of it. PR coming shortly, both with some documentation and an additional command to the cli.

Would you want to have a go at implementing an Oracle dialect? I'm happy to provide some pointers if you like.

[2020-09-23 15:35] felipecrs commented on #435
This is awesome @alanmcruickshank!

Not really... I have no experience with Oracle or PL/SQL itself. Otherwise I would surely help! I was just looking for it because I wanted to add a linter for some Oracle SQL files in my project's CI.

[2020-09-23 16:16] alanmcruickshank commented on #435
Can you try linting them on the `ansi` dialect and see what happens. If they don't use any advanced functions, it might work ok. I'm curious to see how it handles them. If you get parsing errors with the `ansi` dialects, try the `postgres` dialect. If neither work, then post the example queries here and we can see whether it's an easy fix to support them.

[2020-09-23 16:58] alanmcruickshank commented on #435
@felipecrs @greg-finley - would either of you be able to review my PR? https://github.com/alanmcruickshank/sqlfluff/pull/437

[2020-09-23 17:03] alanmcruickshank commented on #434
@gajus - the docs are unfortunately more live than the project! It's coming :).

The work is done, and it will be released in the next version. Keep an eye out for 0.3.6.

[2020-09-23 17:14] alanmcruickshank commented on #433
Thanks for raising this bug @calvingiles . This is really strange, and I can't see immediately why it's happening. I'll investigate more.

[2020-09-23 18:28] alanmcruickshank commented on #433
EXCELLENT BUG REPORT @calvingiles 💯 💯 💯

Debugging this led to quite a deep issue with some of the performance improvements that I've been working on. Solving it not only solves your bug but should also lead to a performance improvement.

[2020-09-23 22:18] #433 closed

[2020-09-23 22:24] #435 closed

[2020-09-23 22:24] #425 closed

[2020-09-23 22:27] alanmcruickshank commented on #392
I've started work on this one. Should have something soon.

[2020-09-24 12:35] #392 closed

[2020-09-24 12:48] alanmcruickshank commented on #421
@aydumoulin - would you mind reviewing my PR? https://github.com/alanmcruickshank/sqlfluff/pull/442

Anything else you would add from the work that you did?

[2020-09-24 12:56] alanmcruickshank commented on #387
@ericxiao251 - would you mind reviewing the pull request to fix this? https://github.com/alanmcruickshank/sqlfluff/pull/443

[2020-09-24 12:59] aydumoulin commented on #421
Well it looks like you added `QUALIFY` in `ANSI` too I am not sure about the effect on MYSQL or POSTGRES

My approach was doing this work in snowflake dialect file but it did mess up with the very clean and nice heritage structure you crafted

[2020-09-24 13:01] alanmcruickshank commented on #368
@barrywhart - merged my most recent changes in #413 . It's faster, but not quite as fast as I think we would hope yet.

I think like @aaronsteers says, part of the reason that this query takes so long to fix is that there are so many issues found in it, so if it was fully compliant, then it would parse much faster. I'm all ears to more suggestions on this though! All my gambits on this for now are

[2020-09-24 13:02] #387 closed

[2020-09-24 13:02] #426 closed

[2020-09-24 13:07] alanmcruickshank commented on #421
Yeah - it's a good point.

At the moment this *shouldn't* have an impacy on MySQL or POSTGRES, but there is an edge case where the word `qualify` is used as a variable name in those dialects. To be robust against that we'll need to come up with a better solution for adding the `QUALIFY` terminator to the previous clauses.

[2020-09-24 13:07] #421 closed

[2020-09-24 13:49] aydumoulin commented on #421
Here was my [implementation](https://gist.github.com/aydumoulin/718f1467d60ad9b981cb27214d133ac4)

[2020-09-24 14:42] barrywhart commented on #368
Thanks! Yes, this may be good enough. I'm still working on freeing up time in my schedule. We've used SQLFluff successfully on several projects. The next steps I'm considering will include:
* Enabling it as a linter for all new projects
* Running the "fix" command as a guy pre-commit hook

[2020-09-25 09:34] alanmcruickshank opened #444 "sqlfluff github org"
@NiallRees had an excellent suggestion. Rather than sqlfluff just living on my private github account, maybe the time has come for it to have it's own github org (https://github.com/sqlfluff)

This is a callout for two things:
1. Feedback on how having `sqlfluff/sqlfluff` would impact people's contributions to sqlfluff (rather than `alanmcruickshank/sqlfluff`, as it is now).
2. If we do migrate th

[2020-09-25 10:35] dmateusp commented on #444
1. I think creating the org would allow org members to share responsibilities and ownership beyond just committing code, it would be nice to have more "meta" discussions around roadmap, priorities, brainstorm solutions etc

2. No experience on that! I'm reading the docs [here](https://help.github.jp/enterprise/2.11/user/articles/transferring-a-repository-owned-by-your-personal-account/), not sure

[2020-09-25 12:57] barrywhart commented on #444
I'd be happy to participate in the organization! I agree moving the repo could encourage more contributions.

About point 2. I'm leaning against a major release, but another thought... do any folks here blog, either independently or for your employer? My employer, Mailchimp, recently started a tech blog. It could be cool to create some publicity for the project by blogging or otherwise publicizing

[2020-09-25 13:20] nolanbconaway commented on #444
Yeah this makes sense to me. I don't think anyone has broached the issue of text editor integrations yet, but these would almost certainly require additional repos. Creating an org would be a great way to collect these repos together.

[2020-09-25 14:13] alanmcruickshank commented on #444
I've got both a personal blog (which has a few sqlfluff articles, but nothing very meaty http://designingoverload.com/tag/sqlfluff/ ) and an employer blog ( https://lifeat.tails.com/author/alanmcruickshank/ ) but I've not posted anything explicitly on the latter about sqlfluff (which I probably should). I'd love some additional content out there about how people use it though! Very happy to assist

[2020-09-26 00:07] robertdefilippi opened #445 "Exit Code 65 Meaning [Question]"
Hello,

I'm trying to understand an exit codes generated by sqlfluff.

[code]

What does the 65 mean? I know if sqlfluff runs with no errors I get an exit code of 0.

Are there additional exit codes beyond 0 and 65 generated by sqlfluff, and what do they mean?

Any information would be helpful :)

Cheers,

[2020-09-26 06:24] flpezet commented on #376
After re-installing sqlfluff it worked fine. I'm closing this issue.

[2020-09-26 06:24] #376 closed

[2020-09-26 08:17] flpezet commented on #444
Hello ! I feel honored to be potentialy included in the team!
For now, I prefer to not join the team. I don't think I will be able to give somewhat consistent contributions in the coming months.
But thank you for thinking of me! :)

[2020-09-26 15:00] pwildenhain commented on #444
I think moving to an org is a great idea, and I'm in to be on the team 💪

@nolanbconaway:

Check this out: https://github.com/dorzey/vscode-sqlfluff I've started using it and it works like a charm 🥇 (though it is only for VSCode)

@alanmcruickshank :

I would be interested to hear what milestone's you would like to achieve before releasing 0.4.0. I see your milestone here: https://github.com/alanm

[2020-09-26 15:27] robertdefilippi commented on #445
I found the answer in the docs:

https://docs.sqlfluff.com/en/latest/production.html?highlight=integration#using-sqlfluff-on-a-whole-sql-codebase

[code]

[2020-09-26 15:27] #445 closed

[2020-09-26 15:37] nolanbconaway commented on #444
_Excellent, just what i was looking for!~

[2020-09-26 19:00] robertdefilippi opened #446 "Found unparsable section: 'CASE WHEN"
Hello,

I'm getting an `Found unparsable section: 'CASE WHEN ((year_number % 400` error but I'm not sure what the reason why this section cannot be parsed. I think it might be the modulo inside the CASE, but I'm not sure.

Here is the section of SQL it does not like:
[code]

And here are the full error codes for that section.

[code]

Does this seem like an error with the linter, or something I'm

[2020-09-26 19:33] robertdefilippi commented on #446
I seem to have fixed the error by changing the mod symbol to the mod function

[code]

Does this mean `%` is not supported as a mod operator?

[2020-09-27 14:54] alanmcruickshank commented on #446
Yep. Good catch. Modulo currently not supported.

I've just added in now. PR coming shortly. 👍 Thanks for raising this @robertdefilippi

[2020-09-27 15:24] #446 closed

[2020-09-29 01:50] pwildenhain commented on #156
Adding my two cents in 💰:

I would love the to be able to lint the macros themselves, since people will need to read that if they want to know what your macro is doing

I would also like to be able to flip a switch 💡 and ignore 🙈 lints in any rendered templated SQL sections of the query for two reasons:
1. I _think_ people should generally be reading the templated SQL to understand the query
2. Fo

[2020-09-30 12:59] alanmcruickshank commented on #444
So.... it's done!

We now have:
- https://github.com/sqlfluff
- https://github.com/sqlfluff/sqlfluff

You can still go to https://github.com/alanmcruickshank/sqlfluff, and github will safely redirect. I've checked issue assignments and it looks like everything has survived the transition. Can the people on this thread do a quick sanity check that everything seems to still work on their side?

I've

[2020-09-30 13:04] nolanbconaway commented on #444
@alanmcruickshank , I'd be happy to move [sqlfluff-online](https://github.com/nolanbconaway/sqlfluff-online) to the new org if desired! Also pls add me if it is low cost (my contribution will be low volume for a good but but i do love this project <3)

[2020-09-30 13:15] pwildenhain commented on #444
I've found that milestones are great for tracking what will go into a specific _release_ while projects are good for prioritizing/showing the status of issues. I use both at my work, and I would recommend the same 👍

[2020-09-30 13:33] alanmcruickshank commented on #444
If you're happy to then that would be awesome - I've sent you an org invite. Would you mind either adding a "contributing" section or a "contributing.md" file in the repo so that it's clear how you want people to interact with the repo going forward? Similar to https://opensource.creativecommons.org/contributing-code/github-repo-guidelines/.

If you're happy to, that would be great. I think that w

[2020-09-30 21:22] alanmcruickshank commented on #434
@gajus - this is live now in the most recent release.

https://github.com/sqlfluff/sqlfluff/releases/tag/0.3.6

I'm going to close this issue.

[2020-09-30 21:22] #434 closed

[2020-09-30 23:04] alanmcruickshank commented on #444
Project for 0.4.0 is live: https://github.com/sqlfluff/sqlfluff/projects/2

There's a column on the far left called "shortlist". If people have got particular issues or features they think should be in the next major release can they drop them in there. Let's see what floats to the top and then we can hash out what makes it through to the next phase.

Aim for this phase is to get some rough agreem

[2020-10-01 00:15] nolanbconaway commented on #444
@alanmcruickshank contributing is now there for sqlfluff-online, and i moved it over. Await access your 👍  for heroku deploys, but i also had some configuring to do so can i also get some admin privs to that repo?

[2020-10-01 02:05] pwildenhain commented on #444
@alanmcruickshank I don't think I have the permissions to add cards

![image](https://user-images.githubusercontent.com/35195136/94757690-ff525500-0368-11eb-8c2e-053029b79403.png)

Or to tag issues

![image](https://user-images.githubusercontent.com/35195136/94757711-1002cb00-0369-11eb-9177-63599fffbfe3.png)

[2020-10-01 02:24] pwildenhain commented on #398
I verified that this isn't an issue anymore. Maybe something else fixed it 🔧 or maybe I'm crazy 😵

[2020-10-01 02:24] #398 closed

[2020-10-01 09:06] alanmcruickshank commented on #444
I've updated permissions.

- I've created a `sqlfluff-maintainers` team, with everyone that a previously added to the org.
- On sqlfluff/sqlfluff, the maintainers have *triage* access which means people can managing issues and PRs. Eventually I'd like to up this to write and maintain access, but I wonder whether it's worth doing this one step at a time for now.
- On sqlfluff/sqlfluff-online, @nola

[2020-10-01 12:56] nolanbconaway commented on #444
Did you get this notify @alanmcruickshank ? This is what we're waiting on.

![image](https://user-images.githubusercontent.com/1770896/94811795-db702d00-03c3-11eb-8ea7-111cf91a8c86.png)

Besides that, we might consider making a sqlfluff heroku account (as right now online is deployed via my personal account).

[2020-10-01 13:04] NiallRees opened #449 "L013 and L025 bug"
[code]

results in
[code]

[2020-10-01 13:17] NiallRees opened #450 "Sqlfluff treats qualify as an alias not a keyword"
https://docs.snowflake.com/en/sql-reference/constructs/qualify.html

Using qualify results in:
[code]

[2020-10-01 14:36] NiallRees opened #451 "'Unable to lex characters: ''$1 as' in snowflake"
[code]

Results in
[code]

[2020-10-01 15:50] alanmcruickshank commented on #444
Thanks @nolanbconaway : Is that sorted now? I think I've clicked the right button. As for a sqlfluff heroku account, I'm open to that - it could be a good idea. If we do go down that road, I'd love to have as much of the infrastructure setup in configuration rather than manually set up so that we could migrate it if we wanted. I've got the sqlfluff website on AWS right now, and I probably need to

[2020-10-01 17:39] #423 closed

[2020-10-02 14:17] alanmcruickshank commented on #451
I know this is valid snowflake syntax for referring to columns by their index, but I can't find a reference to this syntax in the mysql or the postgres docs.

@barrywhart - do you know if BigQuery supports a similar syntax?

[2020-10-02 14:19] alanmcruickshank commented on #450
This looks like an issue with `QUALIFY` not being a reserved keyword in the snowflake dialect. Can you post a minimal query that generates this error?

I suspect the fix will be to remove `QUALIFY` from the `unreserved_keywords` set in the snowflake dialect and move it to the  `reserved_keywords` set. Similar to what we do with the `FOR` keyword in the bigquery dialect.

[2020-10-02 14:29] alanmcruickshank commented on #449
I totally thought that would have got fixed as part of https://github.com/sqlfluff/sqlfluff/issues/399, but evidently not. 🤦

I think this is two unrelated bugs, but both need fixing. I'll take a look later.

[2020-10-02 15:50] NiallRees commented on #450
I have no idea why this is now passing, but it is. Closing!

[2020-10-02 15:50] #450 closed

[2020-10-02 16:55] pwildenhain opened #453 "Make comma placement (L019) a fixable lint"
This _seems_ like it should be a pretty straightforward implementation -- place the commas before of after depending on the config?

Let me know if it's trickier than that -- if not, I'd be willing to take a stab at it. I think this would be a nice feature in a 0.4.0 release

Current behavior:

experiment.sql
[code]

Lint ✔️
[code]

Fix 🙅‍♂️
[code]

[2020-10-02 16:58] barrywhart commented on #451
I'm no expert, but I haven't seen anything like that.

I did see this code from someone, which seems to achieve a similar outcome with different syntax. (This syntax confused me, and we ended up reworking it for unrelated reasons.) If you'd like me to research this area further, please let me know.

[code]

[2020-10-02 17:57] #449 closed

[2020-10-03 11:01] alanmcruickshank commented on #451
@NiallRees want to have a go at this one? Assuming it's just a snowflake feature we should only need to add it to the snowflake dialect.

It should just involve adding the `$123` syntax to the lexer, probably as a regex and using `snowflake_dialect.insert_lexer_struct()`, and then adding an appropriate segment to the dialect. I think it should be parsed as a kind of identifier rather than a type o

[2020-10-03 11:08] alanmcruickshank commented on #453
I think this should be doable yes. The key parts to make sure we deal with correctly are:
- trailing vs leading comma configuration.
- appropriate whitespace and indentation around the code that you edit.
- you may occasionally have to flow commas around comments, so it may be several lines later. I've included a test case below which I think should cover one of the tricky cases.

This query:
[cod

[2020-10-03 11:17] alanmcruickshank commented on #331
In addition, logging is done in different ways across the tool.

The following sections need rework:

- [x] Add a rules logger and set it to handle and the logging in `sqlfluff.rules`.
- [ ] Add a parser logger to handle logging within `sqlfluff.parser`.
- [ ] Add a linter logger to handle logging within `sqlfluff.linter`.
- [ ] Remove the `verbosity_logger` method and use of it.
- [ ] Allow confi

[2020-10-03 15:57] NiallRees opened #456 "Support for all major syntactical opinions of the dbt coding conventions, a comprehensive breakdown."
### Why?

I'd be really interested to conduct a survey of current sqlfluff users to find out where they are applying sqlfluff linting. Anecdotally everyone I know who uses sqlfluff applies it to a dbt project, and I'm confident that supporting their style guide would dramatically increase uptake, especially by Fishtown and their consultants.

https://github.com/fishtown-analytics/corp/blob/master/

[2020-10-03 17:38] pwildenhain commented on #381
I'm 💯 in agreement with this. If people are using `dbt` _anyway_ with this project, then I think we should just use `dbt` to compile the queries, and eliminate the need to double document macros

Could this be added as a config option? Should this be a separate plugin (like `sqlfluff-dbt`)?

[2020-10-03 20:47] pwildenhain commented on #378
This definitely interests me as well. I've also heard a lot of good things about [`pydantic`](https://pydantic-docs.helpmanual.io/) which appears to have a `mypy` plugin.

@alanmcruickshank Do you have a preference?

[2020-10-03 20:52] pwildenhain commented on #371
I think we should consider letting `dbt` do the compiling: https://github.com/sqlfluff/sqlfluff/issues/381#issuecomment-703138462

[2020-10-03 20:53] pwildenhain commented on #381
Also, possible duplicate of #371

[2020-10-03 21:17] pwildenhain commented on #362
@aaronsteers as someone who has recently contributed, I would say the most helpful thing to wrap my head around first, was how the parsing breaks up the sql. For example

test.sql
[code]

parse it
[code]

I would approach this by determining if there is a `comma_KeywordSegment` _after_ the last `SelectTargetElementSegment`, _within_ the `SelectClauseSegment`.

A helpful rule to look at might be [`

[2020-10-03 21:25] pwildenhain commented on #360
I like this rule too (once I wrapped my head around what it was checking for 💫 )

For anyone else reading this, and having a brainfart, this rule would help turn this:
🙅
[code]
into this 🙌
[code]

`sqlfluff` currently *does not* complain about the former.

@ericxiao251 I might be interested in tackling this too, though I will defer to you if you already started working on something

[2020-10-03 21:33] pwildenhain commented on #357
Should this be added to the changes made in #424 or #443? Or is this separate from that?

Linting this query no longer triggers `L028` but does violate `L027`
test.sql
[code]

[code]

[2020-10-03 21:40] pwildenhain commented on #335
See also #371 and #381, not sure if this is a duplicate of either of those

[2020-10-03 21:59] pwildenhain commented on #456
My thoughts:

I ❤️ 9, 10

I _think_ this has been requested in #380

This is enforced in [`L022`](https://docs.sqlfluff.com/en/latest/rules.html#sqlfluff.rules.std.Rule_L022)

This is enforced in [`L027`](https://docs.sqlfluff.com/en/latest/rules.html#sqlfluff.rules.std.Rule_L027)

[2020-10-03 22:09] pwildenhain commented on #334
I would also _love_ to automatically apply a lot of rules. I think that `fix` has proven trustworthy for me, though I also see the value in a `fmt` command. Either way, I would love to have something like this.

[2020-10-03 22:19] pwildenhain commented on #428
FYI this is a duplicate of #352

[2020-10-03 22:31] pwildenhain commented on #299
Another option here would be to add `--noqa: L016` to ignore the long line

[2020-10-03 22:34] pwildenhain commented on #290
FYI there is a good (beta) extension for VSCode: https://github.com/dorzey/vscode-sqlfluff

[2020-10-03 23:41] ericxiao251 commented on #360
go for it, I haven't started yet!

[2020-10-04 02:54] pwildenhain commented on #156
It seems like this is also possibly related to #381, #371, and #335 as far as "getting `sqlfluff` to work with `dbt` macros goes"

[2020-10-04 03:01] pwildenhain commented on #37
It's been a month, and no objections -- I say we close 🤝

[2020-10-04 03:01] #37 closed

[2020-10-04 03:10] pwildenhain commented on #3
@alanmcruickshank I think that the `.sqlfluff` config file should meet any needs for organization specific style. At my work, I implemented `sqlfluff` in CI in part of our codebase. During this we first reconsidered our style when it wasn't line with the `.sqlfluff` defaults. Then, if we decided to deviate, simply customized the `.sqlfluff` to match our organization specific style.

If people have

[2020-10-04 03:40] pwildenhain commented on #444
🎉 Yay for project management (it shouldn't be this fun to add labels to things)

Right off the bat, I realize that I might be  deviating from the original purpose of this issue. I definitely don't want to spam people, so please speak up 🗣️ if you think this discussion should happen elsewhere 🚚

I combed through the backlog today, trying to familiarize myself with the current state of the project,

[2020-10-04 13:00] NiallRees commented on #456
@pwildenhain Thanks a lot have updated the description.

[2020-10-04 13:10] NiallRees commented on #380
What would you think about a warning on an entire query being indeterminate in number of columns produced, as opposed to just one CTE referencing another table with a select *? DBT coding conventions prefer an initial select * from external table CTE, followed by another CTE which specific all columns to capture and any other logic. The motivation is that at a quick glance it is immediately appare

[2020-10-04 13:17] barrywhart commented on #444
We don't use dbt, but we do use templating. We might be in the minority here. What does "depending on dbt" look like? Is it as simple as creating a dbt configuration file, or something heavier? I think we can adapt if it's not too onerous.

[2020-10-04 13:25] barrywhart commented on #444
About bug fixes, 366 is an actual crash, so I'd say that's high priority. Ideally, I'd like to address all parsing issues, or if not, in priority order based on how many people will encounter them.

[2020-10-04 14:03] barrywhart commented on #380
That sounds good too. That's what I want to avoid -- creating an output that may break downstream consumers if an input changes.

It'd be a bit more complex to implement, perhaps, but I'm probably thinking too far ahead.

[2020-10-04 14:39] pwildenhain commented on #444
This is a really good question. I was thinking that `dbt` would more "enhance" the `sqlfluff` experience. Maybe a good solution look like keeping all the `jinja` functionality we have now, and _adding_ `dbt` specific support for macros and dbt packages. That you don't _need_ `dbt` for `sqlfluff` templating to work **unless**  you want tighter integration with your existing `dbt` project. 🤔 Don't k

[2020-10-04 15:28] NiallRees commented on #451
Thanks for the pointers @alanmcruickshank!

[2020-10-04 15:42] NiallRees commented on #380
Definitely more complex, it would take on some query planner like logic. I think that the ground work could be really valuable for other rules though, e.g. it would also allow identification of unused CTE's.

I wonder if for now to keep things simpler, the logic could just check that out of the final select statement and upstream CTE's, at least one select statement contained no `*`s. That _should

[2020-10-04 16:52] barrywhart commented on #380
That would be fine. I really like the idea that over time, SQLFluff will do more sophisticated graph/flow analysis of SQL to flag potential issues, something a bit like global optimizing compilers in traditional programming languages.

[2020-10-04 22:23] alanmcruickshank commented on #331
As I work through this - I realise it's going to be necessary for this to be complete before we can effectively expose sqlfluff as a library and not just a cli util. At the moment a lot of the logging and cli output routines are just print statements or using the root logger.

New structure is going to be much better (with separate loggers for each of the bits of sqlfluff), but also will involve a

[2020-10-05 18:21] pwildenhain commented on #360
Great! Here is another good test case:

[code]

[2020-10-05 18:37] pwildenhain opened #461 "Drop support for python 3.5 and use python 3.9 stable relase in CI"
Now that there is a stable release: https://realpython.com/python39-new-features/ I assume we want to use that in the CI rather than the pre-release candidate

[2020-10-05 18:57] #351 closed

[2020-10-05 18:57] #397 closed

[2020-10-05 18:59] alanmcruickshank commented on #273
I'd love to add this to the roadmap for 0.4.0, but I'm a bit out of ideas on how to achieve it reliably. Any ideas?

[2020-10-05 19:11] alanmcruickshank commented on #3
@pwildenhain - I like that approach. For someone coming to to the tool do you think that the documentation on how to actually do this is clear enough? If so I might close this issue for now, otherwise we should make sure that the guidance is at least in the right place and then close it.

[2020-10-05 19:36] alanmcruickshank commented on #456
I'm up for the general idea of this. I think there will be some tricky corners in this, but it's probably sensible to deal with them case by case.

- Some are going to be tricky because we line *after* templating and not before, so we might need to work out a way to get some metadata out from the templater to work with. This covers 1 & 2.
- Some are tricky because I know some people have strong vi

[2020-10-05 19:59] alanmcruickshank commented on #461
Yep - great shout. 👍

[2020-10-05 20:07] NiallRees commented on #456
Cool @alanmcruickshank. I'll split those up as you've suggested. In terms of the opinions/views - obviously the rules can be applied at the discretion of the user, I'm not strongly opinionated on most but think they should all be included for the purpose of completion.

[2020-10-05 20:18] alanmcruickshank commented on #456
@NiallRees - I've just also been reminded it's currently Hacktoberfest. Might be worth tagging all the issues you create with the `Hacktoberfest` tag as it might increase uptake of people contributing to them.

[2020-10-05 20:28] #451 closed

[2020-10-05 20:41] pwildenhain commented on #3
I think it's pretty clear in the ["Getting Started"](https://docs.sqlfluff.com/en/latest/gettingstarted.html#custom-usage) section that people can customize according their organization's needs.

I submitted a PR which adds a link to the default configuration section which should be the cherry on top 🍒 🍨

[2020-10-05 20:45] pwildenhain opened #463 "Make updating the `CHANGELOG.md` a part of the `CONTRIBUTING.md` guidelines?"
_Originally posted by @pwildenhain in https://github.com/sqlfluff/sqlfluff/pull/460#discussion_r499797553_

[2020-10-05 21:10] NiallRees commented on #456
Ah yes indeed, excellent idea @alanmcruickshank

[2020-10-05 22:22] NiallRees opened #464 "Select must be * from {{ ref() }}, and must be at top of file"
Taken from the (dbt coding conventions)[https://github.com/fishtown-analytics/corp/blob/master/dbt_coding_conventions.md#ctes]

Per (this example)[https://github.com/fishtown-analytics/corp/blob/master/dbt_coding_conventions.md#example-sql] CTE's using {{ ref() }} should be select * statements at the top of the file. While the {{ ref() }} function can only be explicitly identified pre-templating,

[2020-10-05 22:26] NiallRees opened #465 "CTE indentation and newlines"
1. Expression block should be indented four spaces
2. One new line after a CTE declaration (
3. One new line after a CTE enclosed query

Taken from the [dbt coding conventions](https://github.com/fishtown-analytics/corp/blob/master/dbt_coding_conventions.md#ctes)

Per [this example](https://github.com/fishtown-analytics/corp/blob/master/dbt_coding_conventions.md#example-sql):

[code]

[2020-10-05 22:29] NiallRees opened #466 "Fields should be stated before aggregates / window functions"
Taken from the [dbt coding conventions](https://github.com/fishtown-analytics/corp/blob/master/dbt_coding_conventions.md#ctes)

eg:

[code]

[2020-10-05 22:31] NiallRees opened #467 "Specify join keys - do not use using"
'Certain warehouses have inconsistencies in using results (specifically Snowflake).'

Taken from the [dbt coding conventions](https://github.com/fishtown-analytics/corp/blob/master/dbt_coding_conventions.md#ctes)

[2020-10-05 22:31] NiallRees opened #468 "Prefer union all to union *"
Taken from the [dbt coding conventions](https://github.com/fishtown-analytics/corp/blob/master/dbt_coding_conventions.md#ctes)

[2020-10-05 22:32] NiallRees opened #469 "Avoid table aliases in join conditions (especially initialisms)"
'Avoid table aliases in join conditions (especially initialisms) – it's harder to understand what the table called "c" is compared to "customers".'

Taken from the [dbt coding conventions](https://github.com/fishtown-analytics/corp/blob/master/dbt_coding_conventions.md#ctes)

[2020-10-05 22:34] NiallRees commented on #456
https://github.com/sqlfluff/sqlfluff/issues/464
https://github.com/sqlfluff/sqlfluff/issues/465
https://github.com/sqlfluff/sqlfluff/issues/466
https://github.com/sqlfluff/sqlfluff/issues/467
https://github.com/sqlfluff/sqlfluff/issues/468
https://github.com/sqlfluff/sqlfluff/issues/469

[2020-10-05 22:34] NiallRees commented on #456
Closing this issue as all rules now exist in their own issues linked above.

[2020-10-06 09:37] mrshu commented on #3
@alanmcruickshank To me a `.sqlfluff` is all that's necessary, at least for the usecase I had in mind when I first opened this issue (nearly two years ago no less!).

[2020-10-06 09:38] mrshu commented on #3
@alanmcruickshank To me a `.sqlfluff` is all that's necessary, at least for the usecase I had in mind when I first opened this issue (nearly two years ago no less!).

[2020-10-06 16:54] dorzey commented on #273
Does this issue also explain the mismatch I see on my DBT files?

Could we build a sourcemap?

[2020-10-06 17:15] aaronsteers commented on #428
@pwildenhain - Indeed. Thank you for linking the two. Where the two differ, as far as I can tell, is just the [comment](https://github.com/sqlfluff/sqlfluff/issues/352#issuecomment-631744328) from Alan on #352 related to multiple first line columns being okay, whereas here I've suggested only allowing when a single expression is named.

Taking the safe assumption that line length is already enforc

[2020-10-06 21:31] alanmcruickshank commented on #273
Almost certainly.

Could you elaborate? I'm open to all ideas here so if the idea works then I'm game.

[2020-10-06 22:21] alanmcruickshank opened #470 "Release timeline for 0.4.0."
I'm putting in place some basic project process at the moment. As part of that I think we should have a place for the discussion around which features will and won't go into the 0.4.0 release.

The current project board is here: https://github.com/sqlfluff/sqlfluff/projects/2

As of 6th October, the shortlist looks pretty well populated. I think there are lots of excellent suggestions in there. Be

[2020-10-06 22:48] alanmcruickshank commented on #444
I think we should probably close this issue and have a place specific for 0.4.0. I've just set that up here: https://github.com/sqlfluff/sqlfluff/issues/470

@pwildenhain , would you mind reposting your excellent summary there? I totally agree that the discussion that we're having about the dbt and macro dependency is the biggie that we need to hash out. In particular whether we should try and sup

[2020-10-06 22:50] alanmcruickshank commented on #444
To close out this specific issue, I've put together a brief PR together for how I think the current process is looking: #471.

If we can get broad agreement on the process in that PR, then I'm tempted to close out this issue and we can crack on with the more detailed conversation for 0.4.0 above. Unless there are other project governance things that people think it's worth putting in place at this

[2020-10-06 22:53] alanmcruickshank commented on #366
@barrywhart brought this up in the discussion around the 0.4.0 release. Given I've got the queries, I'll pick up narrowing down exactly where this issue is coming from so that we've got the clarity we need to fix this.

[2020-10-07 00:16] zuliatowoade commented on #468
I will like to work on this issue. Do you mind assigning it to me?

Thanks

[2020-10-07 02:20] pwildenhain commented on #470
Reposted from: https://github.com/sqlfluff/sqlfluff/issues/444#issuecomment-703196892

I combed through the backlog today, trying to familiarize myself with the current state of the project, and organize for the upcoming release. Here's what I did:

### Add issues to the project shortlist

My criteria were:
- Issues that we in the old `0.4.0` milestone
- Bugs that seem like they have a fix in mind

[2020-10-07 02:21] pwildenhain commented on #444
agree, let's close this with #470 and move on to planning 0.4.0 specifically

[2020-10-07 02:23] pwildenhain commented on #468
Have at it!

[2020-10-07 13:08] barrywhart commented on #470
I would prefer that `sqlfluff` not require `dbt`. Given the number of subdependencies, it's a pretty heavyweight package. I just installed `dbt` into a new, empty virtualenv, and this is what I got:
[code]

Whew!

Someone mentioned that `dbt` support could be implemented as a plugin. That is definitely possible. Another possibility that _may_ be simpler is to use `extras_require` (more info [here]

[2020-10-07 14:08] #331 closed

[2020-10-07 14:11] alanmcruickshank commented on #368
@barrywhart - As an added benefit of #460 , we've also had reasonable bonus in the runtime of of big `fix` commands. I've just merged that change, so I'm curious on how it now feels if you're running from `master` and on some of the past use cases we've talked about.

[2020-10-07 14:25] pwildenhain commented on #470
Totally agree @barrywhart I think it should be an `extra_requires` or plugin.
@alanmcruickshank which of these ideas make more sense to you with the current package architecture?

[2020-10-07 18:56] barrywhart commented on #368
Oh nice! I'll try and look at this tomorrow. I'm excited about the progress and the new organization. Great moves!

[2020-10-07 19:18] alanmcruickshank commented on #366
Ok this was an excellent test case. Thanks @codigo-ergo-sum , and sorry it's taken this long to get to them.

This has flushed out:
- Another parsing issue with the bigquery `EXCEPT` clause, which is now fixed ✔️
- Fixing the above required a parsing improvement which I expect will also lead to a speed increase ✔️
- It's also led to an extra feature on the `OneOf` grammar where we can exclude cert

[2020-10-07 19:38] alanmcruickshank commented on #366
The issue with L022 is that if a query is parsed with leading commas before CTEs, but the config is set to expect trailing commas on CTEs there is an infinite loop. I think the solution is that L022 needs to detect the comma style from the query in front of it and act accordingly rather than blindly assuming the config is correct.

I'm actually going to put together a PR for my changes so far and

[2020-10-07 21:34] dorzey commented on #273
Sourcemaps allow you to map compressed/minified code back to it's original position in the source file; so for example I can debug JavaScript in the browser even on compressed/minified files.

This feels like the inverse problem.

I should caveat that I'm not sure how to implement one or if such an approach would fit into the sqlfluff architecture.

[2020-10-07 22:34] pwildenhain commented on #469
thinking more about this -- sometimes aliasing it required, because you need to self-join.

Ex:
[code]
In that case you **have** to alias.

Could we make the rule smart enough to not trigger if joining to a previously declared table?

FYI @piotrgredowski for #473

[2020-10-07 23:07] piotrgredowski commented on #469
I guess it should be possible. I'll think about it tomorrow :)

[2020-10-08 06:45] mrshu opened #474 "Linter very slow on large (SQL) codebases"
First of, huge props for pushing `sqlfluff` forward @alanmcruickshank! It's been quite a bit since I saw the new developments last time and it seems like it's a whole different (and likely way more powerful) thing now.

We've been using a very old but stable version `0.0.7` in our CI at Slido.com for the better part of the year and it has served us very well. I'll create a PR to describe that at h

[2020-10-08 07:30] alanmcruickshank commented on #474
Heya @mrshu - thanks for checking out the most recent version!

Yes it is slower. There was a big change in approach since the version which you're on - the old version didn't parse everything and just looked for things that _looked a bit like sql_. That meant it could only pick up a subset of the things I wanted it to.

The newer parser *actually parses the sql*, right down to the individual expr

[2020-10-08 10:03] NiallRees opened #475 "L001 fix error: `NotImplementedError: Unexpected scenario during insert opcode!`"
Query which generates the error:

[code]
[code]
[code]

I think the issue here isn't actually with the linter, but that the rule is being incorrectly triggered as there isn't any trailing whitespace in the query.

[2020-10-08 10:27] NiallRees commented on #475
More debugging:

[code]

[2020-10-08 13:52] NiallRees commented on #475
This is the kind of problem where linting post templating becomes difficult, because as a user you'd never see the templated code and so don't care what it looks like, but sqlfluff does. The goal is to make the pre-templated code readable, which in this case I think it is. I imagine this won't be the only case where this crops up

[2020-10-08 14:57] pwildenhain commented on #474
Also @mrshu see #368 for more discussion about performance improvements

[2020-10-08 15:57] NiallRees opened #476 "NotImplementedError: A equal template block remains with no more diff_fix_codes left"
Fixing
[code]

with rule L010, config `capitalisation_policy = lower` results in:

`NotImplementedError: A equal template block remains with no more diff_fix_codes left`

[2020-10-08 18:28] piotrgredowski commented on #469
@pwildenhain now it should allow for self-joins too.

[2020-10-08 18:30] barrywhart commented on #368
@alanmcruickshank: Hmm, I tested it on the same file (or the latest version of it), and now it takes over 10 minutes, twice as long as before. Partial output below.

[code]

[2020-10-09 18:42] pwildenhain opened #478 "Can't parse complex 'between' statement"
test.sql
[code]

lint result
[code]

This also happens if the complex `between` statement is in a `join` statement. The issue goes away if simplify  `my_other_table.field_2 - 10 ` to just `my_other_table.field_2`

[2020-10-10 16:31] #476 closed

[2020-10-10 16:47] alanmcruickshank opened #479 "Rule for initialisms within FROM clauses."
This is prompted by the excellent work of @piotrgredowski on #473 for #469.

The fishtown sql guide says:

Which we have implemented a rule for which corrects:

[code]
to
[code]

This is definitely in line with the _letter of the law_. What I'm wondering is whether initialisms in a FROM clause are also part of the same antipattern 🤔 . Should there be an additional rule to avoid initialisms in the

[2020-10-10 16:54] alanmcruickshank commented on #479
We may get feedback for this on the dbt slack channel where I've posted a link to this question. I'm posting a link here in case anyone wants to follow the conversation there: https://getdbt.slack.com/archives/CV2KM39KR/p1602348700008400

[2020-10-10 16:54] #469 closed

[2020-10-10 16:55] #444 closed

[2020-10-10 17:06] NiallRees commented on #479
I couldn't possibly comment 😛

Good idea, let's definitely get this in. We'll just have to be mindful of the logic which allows aliases for self-joins. What do you think @piotrgredowski? Fancy doing this one too?

[2020-10-10 17:18] alanmcruickshank opened #480 "Identify other performance improvements from using Checkpoint."
#472 introduced the `Checkpoint` feature which has the potential to improve performance in several place. As of posting, it is only used in the `WithCompoundStatementSegment` to identify selectable grammars.

From the conversation around that PR, @pwildenhain asks:

Answer:

This issue is to identify other areas where this feature would be useful across the dialects and implement in places that it

[2020-10-10 17:29] alanmcruickshank commented on #478
The `between` expression is currently defined in `Expression_A_Grammar` and *should* support more complex expressions within it. Evidently something is going wrong with that. If you run `sqlfluff parse` on the query you posted what does it return?

From the error message it looks like it's consuming `where my_table.field_1` as the where clause and cutting off the `between ...`. If we can find out

[2020-10-10 17:36] alanmcruickshank commented on #475
@NiallRees , I think this whole class of issues arises from there being whitespace introduced into the _template_ so that the raw code looks good, but that isn't intended to have an impact on the end result.

Crazy idea: What if we _pre-process_ the raw code _before_ it hits the jinja templater. The raw code is this:
[code]

What if we pre-process this, by removing whitespace and newlines which ar

[2020-10-10 17:40] piotrgredowski commented on #479
@NiallRees of course I can do this :) to be honest - it was working that way (this rule was reporting issue for initialism for table from `FROM` clause too). I've just added condition to avoid including that table's alias in lint results. Why? Because I read issue name again and realised that it's saying that only aliases for `JOIN` tables should be reported. ;)
So it should be super easy to imple

[2020-10-10 20:35] emilieschario commented on #479
I'm pretty confident that the answer here is aliases shouldn't be used for the same reason as you don't want it in join clauses.

[2020-10-10 22:27] NiallRees commented on #479
@piotrgredowski ha sorry about that, I copied the issue spec directly from the dbt coding conventions. Thanks for weighing in @emilieschario, it sounds like we're all agreed that it would make sense for this rule to apply to `FROM` clauses as well as joins. Go ahead @piotrgredowski!

[2020-10-11 07:13] piotrgredowski commented on #479
@NiallRees so my last question for now is: should it be included in the same rule or should I create new rule to cover only aliases in 'FROM' clause?

[2020-10-11 09:03] NiallRees commented on #479
@piotrgredowski good question. Let's keep it in the same rule, and if there is demand to distinguish between `from` and `join` aliasing we can add a configuration parameter later.

[2020-10-11 10:34] piotrgredowski commented on #479
I agree that motivation is the same - so I'll just modify existing rule and reflect this modification in rule documentation.

[2020-10-11 13:37] NiallRees commented on #479
From what I've read I'm meant to add it to the pull request now but I'll add to both to make sure! Thanks!

[2020-10-11 16:35] pwildenhain commented on #475
I would love ❤️ it if, when it comes to templated code, we only focus on linting the raw result

[2020-10-11 20:08] pwildenhain opened #481 "Adopt black coding style"
Especially as this project continues to attract new contributors, I think as unified coding style will be helpful.

I've quite enjoyed `black` for the most part, and there is a `flake8` plugin for `black` https://pypi.org/project/flake8-black/
And there is also a `pytest` plugin for black https://pypi.org/project/pytest-black/

Whichever coding style you prefer, I would be up for implementing it.

[2020-10-12 12:52] dmateusp opened #483 "Ignore file even when passed as CLI argument"
Currently sqlfluff ignores files that match patterns in `.sqlfluffignore` but only if a file is not specified by name directly.

**For example**

.sqlfluffignore:
[code]

test.sql:
[code]

Result of `sqlfluff lint .` is empty while result of `sqlfluff lint test.sql` is :
[code]

### Why is it a problem?

I'm currently using sqlfluff with `pre-commit`, which passes a list of changed files to the pr

[2020-10-12 18:05] alanmcruickshank commented on #483
Sounds like a good idea. Great clear issue description, and a pragmatic solution.

I like the idea of a warning if the file is specified exactly but still skipped.

The only bit I'm not sure about is exactly what the name of the `--force` flag should be. There are a couple of things that could be _forced_ at the moment, and so I think we should be more specific in what the file name is that is bei

[2020-10-12 20:54] alanmcruickshank commented on #481
I've had a reasonable subset of the flake8 default set for some time, so that I know what we're dealing with, how much does `black` change if we enabled it.

I'm up for adding it, but like you said, I think we should manage how & when it gets implemented based on how drastic the changes are. If we're actually _pretty close_ then I don't think we need to wait for the end of a release. The python ve

[2020-10-12 20:55] alanmcruickshank commented on #480
I might actually pick this one up. I have some places in mind already...

[2020-10-13 08:35] dmateusp commented on #483
you're right, `--force` is probably not great naming! maybe a `--not-ignore-file` argument that could be repeated?

I'll try to spend some time on that issue

[2020-10-13 11:01] pwildenhain commented on #478
Here's the parse output of the query:
[code]

And here is the parse of the query **without** the complex between. This one actually catches the `between` while the other fails at that section
[code]

[2020-10-13 11:13] pwildenhain commented on #481
Great point, I'll submit a draft PR to demonstrate the noisiness of the change, and then we can decide it it's worth pursuing from there

[2020-10-14 11:37] dmateusp commented on #467
Interesting! Do you know what the inconsistencies are in Snowflake ? I wasn't able to find more information

[2020-10-14 11:53] NiallRees commented on #467
Good question, I found this:

https://community.snowflake.com/s/question/0D50Z00008WRZBBSA5/bug-with-join-using-

and

https://docs.snowflake.com/en/sql-reference/constructs/join.html

specifically 'The following example shows non-standard usage' section. It seems like it can be dangerous to use 'using' in particular situations, and I imagine an unexpected outcome as a result would be really hard

[2020-10-14 16:04] pwildenhain opened #488 "Improve code coverage"
Since I'm trying to make sure I don't decrease code coverage with my PRs, I've been checking out the coverage report by running `coverage html`

I noticed that most of the untested lines have to do with error handling (both for the user and developer) which, while not the most important feature, is still worth being tested.

I'm up for doing this ✅ since it will help me familarize myself more with

[2020-10-16 17:16] #461 closed

[2020-10-17 03:15] #3 closed

[2020-10-17 16:01] NiallRees commented on #475
Thanks for the ideas both.

I think we have two options:

### Pre-process templated code

I think this could work but:
1. We still produce several lint errors for potentially only one in this case
2. We have to build another parser with its own set of rules for templated code, which makes me feel uncomfortable!
3. Speed implications, more stuff to maintain and bugfix

### Introduce an understandin

[2020-10-19 11:41] alanmcruickshank commented on #475
I think this *could* work, at least in some scenarios:

1. The trivial scenario: no templating. Easy 👍
2. The easy scenario, templating only for identifiers. This is probably possible if we only allow a subset of rules, and providing we work out how to interpret the tags properly.
3. The harder scenario: As scenario 2, but with loops and other flow control statements. I can see a route to this wor

[2020-10-19 13:10] Ofir-Purple opened #493 "`extract_macros_from_config` after `extract_macros_from_path` instead of before"
### High level summary

Suggestion: Change the loading order of macros so that macros defined in the config file will be loaded after macros defined in path (`load_macros_from_path`). That way, macros defined in the config will take precedence and will allow the user to override macros defined in the path.

To illustrate the point, let's consider the following `.sqlfluff` config:

[code]

Now let'

[2020-10-20 14:59] pwildenhain commented on #475
The idea I've had stuck in my head for this is an extra switch in regards to **ignoring** templated SQL. I imagine an additional CLI argument/`.sqlfluff` config like `ignore_templated_code` which defaults to `True`, and the user can switch off.

Would it be possible for the parser to tag certain segments as being "templated" i.e inside the `{{}}`? Then by the time it gets passed to the linter, we

[2020-10-20 15:26] pwildenhain commented on #334
@alanmcruickshank Do you think we're in a good spot to disable the safeties on `fix`? I can't imagine it's that complex to turn this off -- I'm willing to give it a go if you still think this is a good idea

[2020-10-20 15:54] NiallRees commented on #475
@pwildenhain My concern with ignoring templated code altogether is that we remove the current ability to verify executability of the code (within the constraints of knowing nothing about the underlying data). Applying templating and parsing is something we can do 'for free', the only additional code required is that to apply the templating, we don't need to parse the jinja.

I think we could ignor

[2020-10-20 15:59] pwildenhain commented on #475
Great point, I think that would have to be an acceptable tradeoff if a user wanted to implement this

Yup, I get what you're saying -- I was imaging this would work similar to if you added `--noqa` to each of the templated lines. Not removing the sql, just not caring about it. idk what what that actually looks like though 🤷‍♂️

[2020-10-20 18:55] #481 closed

[2020-10-20 23:27] pwildenhain commented on #10
Closing this in light of the work done in #487

[2020-10-20 23:27] #10 closed

[2020-10-20 23:39] pwildenhain commented on #201
What config section(s) do you imagine adding? I think you could get away with a single section, which would live in the `default_config.cfg`

[code]

With the thought being that by default only parsing errors are "errors" and _all_ rules are "warnings" -- does that make sense?

[2020-10-21 19:07] pwildenhain opened #496 "Add requirements_dev.txt for formatting/linting checks"
@pwildenhain fyi I just hit a minor issue with black, where my outdated version wasn't formatting all the files the same way that the `tox` environment did

what do you think about either having a `requirements_dev.txt` which specifies the version of black to use, or adding `pre-commit` ?

_Originally posted by @dmateusp in https://github.com/sqlfluff/sqlfluff/pull/486#issuecomment-713629122_

[2020-10-22 07:39] alanmcruickshank commented on #496
I think I'd prefer `requirements_dev.txt` rather than a pre-commit. I've found pre-commits to be harder to maintain in the past. 👍

[2020-10-22 15:09] alanmcruickshank commented on #478
@pwildenhain - in debugging this further I actually fixed this. I hope you've not invested a ton of time into trying to fix it. PR coming shortly. Take a look at the PR I'm about to put up.

[2020-10-22 15:25] pwildenhain commented on #478
Oh fabulous 👯‍♂️ nope I hadn't started working on it yet

[2020-10-22 15:25] alanmcruickshank opened #499 "Refactor and test case for runaway limit"
As mentioned in #494 :

At the moment the limit on looping in fixes is implemented in two places, both in the linter and in the rules test suite. Neither is effectively tested.

This issue aims to:
1. Refactor the rules test suite to use the looping logic found in the linter rather than re-implementing it.
2. Make a test case which includes a runaway rule (which will have to be crafted specially -

[2020-10-22 15:26] #366 closed

[2020-10-22 16:09] alanmcruickshank commented on #480
I'm going to close this for now. I think we've got the major ones.

[2020-10-22 16:09] #480 closed

[2020-10-22 18:18] pwildenhain commented on #496
sure thing 👍

[2020-10-23 15:09] pwildenhain commented on #470
How are we feeling about our original deadline of tomorrow 😁 ?
Love that we got started on the public API with #501 I bet it'll make the online formatter and vscode plugin more robust. This seems like a good one to get a handle on before a major release.

I haven't seen/heard about any progress on the compatibility with `dbt` issues. This seems like a larger problem, that might need it's own relea

[2020-10-23 15:50] alanmcruickshank commented on #470
Thanks for the reminder @pwildenhain !

I think given the level of clarity we've got on the dbt compatibility issues that for 0.4.0 we consider:
1. Implementing the plugin structure (I can't remember exactly which issue this was suggested in, but as a way to decouple anything we do for dbt from other parts of the codebase).
2. Using the plugin above (as one packaged automatically with sqlfluff for

[2020-10-23 16:18] pwildenhain commented on #470
🚀 Sounds good to me! I think plugin architectures are super cool 😎 and I can see how they'll level up ⬆️ this package

[2020-10-23 18:19] alanmcruickshank opened #502 "Unnecessary whitespace"
As picked up in #501

Currently the fix for `"SeLEct  *, 1, blah as  fOO  from myTable"` is `"SELECT  *, 1, blah AS  foo  FROM mytable\n"`, which is odd because there's a lot of unnecessary white-space in there.

We already have rules to detect inappropriate indent, and also rules to check _trailing_ whitespace.

This would be a new rule to fix inappropriate whitespace in a query, with the followi

[2020-10-23 18:23] #478 closed

[2020-10-23 19:49] alanmcruickshank commented on #361
For the purposes of this issue I think we should focus just on the _datatype_ issue, but follow the thinking of what @aaronsteers suggests.

...however...

I'm trying to enumerate the actual changes we would enforce, so far I've got:
- `BOOL` -> `BOOLEAN`
- On snowflake, `REAL`, `DOUBLE`, `DOUBLE PRECISION` -> `FLOAT`
- On snowflake, `INT`, `INTEGER`, `BIGINT`, `SMALLINT`, `DECIMAL`, `NUMERIC` ->

[2020-10-23 23:01] alanmcruickshank commented on #389
I've tested this on `0.3.4` and can confirm it fails, and I've tested it on `0.3.5` and `0.3.6` and can confirm it's fixed. 👍

I'm going to close this issue.

[2020-10-23 23:01] #389 closed

[2020-10-23 23:05] alanmcruickshank opened #503 "CLI output has more newlines than it should."
I was testing a query to debug #389 and realised that the output of sqlfluff has changed unexpectedly.

# 0.3.5
[code]

# 0.3.6
[code]

Note the additional blank lines, which have found their way in.

This issue is to chase down where they're coming from and a) remove them and b) put in place a test case which catches this kind of thing in future.

[2020-10-24 11:31] #496 closed

[2020-10-24 16:37] alanmcruickshank commented on #289
I think the combination of #501 and #504 gets us about as far as I intended to take this for 0.4.0.

Can I do a quick poll on whether we've covered the functionality that people expected, or whether there's anything else major that we'd like to target for 0.4.0? @barrywhart @pwildenhain @nolanbconaway @kgpayne

I'm also option to suggestions for *future* features which might not go into 0.4.0 but

[2020-10-24 16:42] nolanbconaway commented on #289
The public api has realized all that I could dream of!

[2020-10-24 20:02] barrywhart commented on #289
Maybe not 4.0, but my two top wishlist items are still:
* Address slow performance on files with lots of issues (there had been some progress, but it has regressed)
* We had a tricky parsing issue a few months back trying to add UDF support to BigQuery.

These issues have caused me to hold off including SQLFluff as a standard part of every data science project at my employer.

Think we could addre

[2020-10-24 23:16] #468 closed

[2020-10-25 08:46] #503 closed

[2020-10-25 08:50] alanmcruickshank commented on #289
I've got ideas to address both, I'll see if I can put together prototypes to demonstrate over the next few weeks.

When I posed the question, I was thinking specifically about the API being exposed. Any more feedback on that in particular?

[2020-10-25 14:16] barrywhart commented on #289
Not much to add, except to +1 your idea about making it easy to distinguish various kinds of object names. In BigQuery, I'm aware of:
* project
* dataset
* column
* BigQuery ML model

I wonder what this looks like for other data stores, and if we may need custom logic for some data stores to extract and identify the pieces, based on things like delimiters, separators, etc.

[2020-10-25 22:49] dmateusp opened #507 "Support ignoring specific rules in specific files"
## Problem

I have a case where stakeholders ask us to name columns using some reserved keywords, which has us breaking a specific rule in a View.

There might be a few cases where this feature can be useful:
- the rule hits an edge case in a file but works fine on the rest of the project
- you explicitly want to break a rule in a specific file, maybe fixing the rule would require a big refactorin

[2020-10-25 23:36] pwildenhain commented on #507
Do you know about `--noqa:` comments? That would be the current workaround
for your use case

On Sun, Oct 25, 2020, 6:49 PM Daniel Mateus Pires <notifications@github.com>
wrote:

[2020-10-26 00:47] dmateusp commented on #507
Didn't realize it was supported already! I'll close that issue then thanks

[2020-10-26 00:47] #507 closed

[2020-10-26 01:41] pwildenhain commented on #507
Is this feature in the documentation anywhere @alanmcruickshank ? I also remember learning about it in an issue I filed...

[2020-10-26 17:56] noahbruegmann commented on #381
Big +1 to this. Same problem occurs with some other functionality like snapshots.

[2020-10-28 20:11] a-litvinov opened #511 "Rules page in documentation is broken."
I've got an impression that this page was supposed to list all implemented lint rules, but it is empty: https://docs.sqlfluff.com/en/latest/rules.html#ruleref

If my impression is incorrect, is there a page where I can see all rules description besides looking directly into the code?

[2020-10-28 23:17] alanmcruickshank commented on #511
@a-litvinov - thanks for raising. Your assumption is correct and you have found a bug with that docs page. I'm looking at why it's happening now...

[2020-10-29 00:09] #511 closed

[2020-10-29 00:10] alanmcruickshank commented on #511
@a-litvinov  - this is fixed! Check out the same link now.

[2020-10-29 08:44] alanmcruickshank commented on #499
I'm going to close this as done - the second version of the PR addressed both points.

[2020-10-29 08:44] #499 closed

[2020-10-29 09:01] a-litvinov commented on #511
Thanks for the quick reaction! :+1:

[2020-10-29 15:24] valerii-vorobiov commented on #164
Totally agree.
Plugins are a great feature for this kind of project. Because every organization has an additional set of checks.
Do you have a timeline for when are you going to release it?

[2020-10-29 17:14] sethwoodworth opened #516 "built-in dbt config macro doesn't support config.get()"
The dbt `config` macro allows you to use the config object in your model and provides a `get` function like this: `{{ config.get('materialization', default='incremental') }}`.  If I use `config.get` in a dbt model and run sqlfluff I get the error:

[code]

[2020-10-29 17:34] sethwoodworth commented on #405
The matching PR was merged, do you want to close this issue, or keep it open until tests are provided?

[2020-10-29 18:18] sethwoodworth commented on #516
Like many of the issues with sqlfluff and dbt, this is very likely solved by #371 & #508.

[2020-10-29 20:00] pwildenhain commented on #164
@valerii-vorobiov In theory the _beta_ version of organization rules is now possible. Check out #514 which added functionality for users to add their own custom rules, using the `sqlfluff` crawler.

Do you think something like this meets your needs?

[2020-10-29 23:58] alanmcruickshank opened #518 "SQLFluff at Coalesce 2020"
I've got a [slot at the online dbt conference](https://www.getdbt.com/coalesce/agenda/presenting-sqlfluff) in December to do a bit of a launch presentation for SQLFluff. I think it's important to:
a) raise the profile of the project and maybe get a few more users.
b) to start getting a bank of video content about sqlfluff out on the public internet (I think the talks are recorded).

I've attached

[2020-10-30 15:22] pwildenhain opened #519 "Break up standard rules into separate files"
I like this.

I also agree that this is totally the tricky part. I'm not sure either. Very open to suggestions! Want to make a new issue for this if you're merging this PR?

_Originally posted by @alanmcruickshank in https://github.com/sqlfluff/sqlfluff/pull/515#issuecomment-719502293_

[2020-11-01 18:47] NiallRees commented on #519
Yes please. And also let's get the tests for each rule in the same file as the rule itself. I don't think importing the std_rule_set into each file is a big deal to be honest. Happy to work on this one if no one else does before me

[2020-11-01 21:20] nolanbconaway opened #522 "Silence warnings / safety for when fixing from stdin"
Another classic stdin fix issue from me! Fixing sql from stdin should probably have these rules:

1. _Only_ the fixed SQL is printed to stdout.
2. Safety not needed because files are not mutated in place

However, on current master:

[code]
This would enable CLI users to assume that if there is stdout, it is fixed sql and not fixed sql mixed with other garbage. In this case we need to skip the saf

[2020-11-01 21:25] nolanbconaway opened #523 "Two addtl repos to fold into the new org?"
Less of an issue, more of a discussion topic!

I did a [github search](https://github.com/search?q=sqlfluff) to see what kinds of projects are using sqlfluff, and it turned up two additional paths to including sqlfluff in CICD

1. pre-commit (https://github.com/dmateusp/pre-commit-mirror-sqlfluff, https://github.com/badboy99tw/pre-commit-sqlfluff)
2. docker (https://github.com/wesley-dean-flexion/

[2020-11-01 22:15] nolanbconaway commented on #404
@alanmcruickshank are you thinking about this ticket much these days? I noticed you did some tagging, etc, recently. I am looking at it now and am not confident that _I_ will implement for 0.4.0 😬

Perhaps a separate issue- but the main blocker for me (and perhaps other contributors new to the internals?) is that the the example simple rule you referenced (L022) is 150 lines and involves working w

[2020-11-01 23:58] #522 closed

[2020-11-02 15:51] pwildenhain commented on #523
👍 For me!

[2020-11-02 15:53] pwildenhain commented on #519
Oh getting the test with it sounds cool! I'm excited to see how this turns out -- I say go for it @NiallRees

[2020-11-02 16:00] pwildenhain commented on #334
I didn't know about the `--no-safety` flag until today! Should we consider this issue closed if all it takes is adding `--no-safety` to apply all the fixes? I figure if it's good enough for #434 then it's good enough for here.

Or do we really believe that the default should be fixing all the rules?

[2020-11-02 16:19] aaronsteers opened #525 "Support native "format" capability to apply fixes in VS Code"
I wanted to cross-post my ticket on the VS Code extension, in case there is ability here to support that project. The [SQLFLuff extension](https://marketplace.visualstudio.com/items?itemName=dorzey.vscode-sqlfluff) in VS Code by @dorsey is _fantastic_ for adding linting support but doesn't yet support the "format" option. Getting both linting and also auto-formatting working in VS Code goes a long

[2020-11-02 16:31] aaronsteers commented on #518
I love this - I've taken a quick pass and I'll spend a little time reviewing. Also, I'm happy to talk through anything if in-person discussion/feedback is helpful. I've been coding SQL professionally since around 2004 - and for at least the last ten years, I've been wishing for and wanting someone to create something like SQLFluff. Emphasized with the release of Black, the rise of Python and "pyth

[2020-11-02 20:15] alanmcruickshank commented on #523
- Definitely up for the docker one.
- On the pre-commit ones, we should probably only bring in one. I would err toward the one by @dmateusp , because he's already involved with the project. 😄

@nolanbconaway , feel like asking them?

[2020-11-02 20:23] alanmcruickshank commented on #525
@aaronsteers - I think we should keep the discussion on the outcome on the original issue, but once we've got clarity on what kind of api would need to be exposed by sqlfluff to support that feature, let's update this issue to track that.

There's a *VERY* simple example of how fixing can work with the public api at the moment here: https://github.com/sqlfluff/sqlfluff/blob/master/examples/basic_a

[2020-11-02 20:48] alanmcruickshank commented on #519
@NiallRees I'm not sure about this last bit. I'm up for splitting test files out and somehow being more accessible, but at the moment the tests aren't included with the packaged library when shipped, and if we're going to move the tests into the main codebase, then we will need to revisit which files are included and which not.

If we can find a tidy way of doing it, then I'm open to suggestions,

[2020-11-02 21:03] aaronsteers commented on #525
Sounds great! Thanks, Alan!

[2020-11-03 00:32] nolanbconaway commented on #523
I'm on it!

[2020-11-03 09:59] dmateusp commented on #523
On the pre-commit, you'll see my repo copies https://github.com/pre-commit/mirrors-pylint, which automates the release process through a GitHub workflow that runs daily.
I think we could remove some things when bringing it over, since we'll want to release the pre-commit during the release process (we'll need to add the steps to the release process)

Also, I think we should merge https://github.co

[2020-11-03 15:13] nolanbconaway commented on #523
@dmateusp 👍 , it sounds like you've thought a little about this? I also think automating the release when we tag a new version is a good idea.

I've contacted the author of the docker repo, we will see if they're interested!

[2020-11-03 17:33] theianrobertson opened #527 "Support GENERATE_DATE_ARRAY/GENERATE_TIMESTAMP_ARRAY in BigQuery"
Both of these calls to [GENERATE_DATE_ARRAY](https://cloud.google.com/bigquery/docs/reference/standard-sql/functions-and-operators#generate_date_array) throw a "Found unparsable section" when calling `sqlfluff lint file.sql --dialect bigquery`:

[code]

[code]

[GENERATE_TIMESTAMP_ARRAY](https://cloud.google.com/bigquery/docs/reference/standard-sql/functions-and-operators#generate_timestamp_array)

[2020-11-03 19:08] theianrobertson opened #528 "DAY/YEAR triggers L014 in DATE_DIFF, LAST_DAY in BigQuery"
SQL that I don't expect to throw any capitalization rules:

[code]

Running lint with BigQuery dialect gives me:

[code]

`YEAR` and `DAY` are OK in the `EXTRACT` and `DATE_ADD` functions (line 4/5), but not OK in the `LAST_DAY` and `DATE_DIFF` functions (line 2/3).  I'd expect them to be treated the same way (my preference is capitalize all)

[2020-11-04 00:47] nolanbconaway commented on #523
@alanmcruickshank , wesley-dean-flexion appears [interested](https://github.com/wesley-dean-flexion/dockerized_sqlfluff/issues/1) in folding the dockerized sqlfluff into this org! What are the next steps?

[2020-11-04 15:57] pwildenhain commented on #518
Looking forward to catching the recording of this talk (9am EST is a _little_ early for me!).

I think what you've got so far is really good stuff, especially plugs for how it's already being used.

Some things I would consider adding (dependent on how the next month goes)
- Figuring out tighter integration with `dbt` while keeping dependencies manageable
    - Maybe a brief highlight of common is

[2020-11-04 19:43] #466 closed

[2020-11-04 20:13] NiallRees commented on #467
Resolved by #487

[2020-11-04 20:13] #467 closed

[2020-11-05 14:04] dmateusp opened #531 "Redundant boolean CASE WHEN"
I'm sure you have all seen these as I see them often!

[code]

I would like to add a rule to prefer

[code]

A case when statement is redundant if it uses only one `when` which is turned into `true` or `false`

However, to add a "fix" the rule should also take in account the following:
[code]

which should be turned into

[code]

[2020-11-05 15:54] pwildenhain commented on #531
I actually haven't seen this 😓 but the rule definitely makes sense to me!

[2020-11-05 16:35] dmateusp commented on #523
I'm actually focusing on https://github.com/sqlfluff/sqlfluff/pull/508 but I'm happy to draft a PR once that's done

[2020-11-05 20:50] pwildenhain opened #532 "CLI is broken in master branch?"
The simplest query
test.sql
[code]

Can't lint (or parse) it 😱
[code]

Can someone else verify this?

[2020-11-05 21:28] pwildenhain commented on #532
Did a little more debugging, and I don't _think_ I'm crazy (at least in this issue 😝 )

The **current** error seems to go back to f38b6fb6b0069a3483861fda07d3bcfd565dfcb5 merged in #513
[code]

From there, another merge seems to be broken in a _different_ way:
Commit: be885072abac897a72bd98af567bfe01a04caa65 merged in #501
[code]

The last commit that works when I install from GitHub is: 66e8d5335

[2020-11-05 22:08] alanmcruickshank commented on #532
Wierd, I thought I fixed that issue in this commit: https://github.com/sqlfluff/sqlfluff/commit/0057eb17d56660e53856c4c3d844a4e8716e90ca

My current dev branch is working, which last merged with master on 0c1d9e0e6596feed23791069b198b7204d55f457, that being said, my dev env is cluttered with all kinds of testing files which could be masking any issues.

@pwildenhain , can you check which modules a

[2020-11-05 23:01] pwildenhain commented on #532
How do I inspect the `setup.py`  of an installed package? The commit I referenced is the merge commit with those changes you mentioned 🤷‍♂️

@alanmcruickshank Can you recreate this by installing from GitHub in a fresh env?

[2020-11-06 08:57] dmateusp commented on #475
The templating problem is an interesting one! My thoughts on this is that the solution should revolve around tagging templated **segments**.

It would allow us to:
- Return line numbers pre-templating and post-templating for issues that arise
- Know if errors were raised in templated segments and (optionally) ignore them, in the same vein as what @pwildenhain said. Like @NiallRees I don't think re

[2020-11-06 14:51] wesley-dean-flexion commented on #523
@nolanbconaway proposal about dockerization: I'll submit a PR with an updated `README.md` and the `Dockerfile`.  I recommend configuring the automated build process on Docker Hub so that users may pull `sqlfluff/sqlfluff:latest` (or whatever..) which would be (re-)built upon updates to a branch (typically `master`).

Also, it may be worthwhile to consider [applying for "Open Source status"](https:

[2020-11-06 15:00] wesley-dean-flexion commented on #523
For what it's worth, we use sqlfluff with a pre-commit hook on our analytics repos and it's worked extremely well.

(by "well," I'm speaking from the perspective of an ops person who doesn't like it when bad code makes it anywhere for which an alert would wake me in the middle of the night; the analysts, on the other hand, have a love/hate relationship with it)

[2020-11-07 07:36] #479 closed

[2020-11-08 09:15] alanmcruickshank commented on #273
Heads up team that I'm working on this one at the moment. I've sunk quite a lot of time into this so don't want anyone else to pick it up in the mean time. Should have sometime to review in the next few days.

[2020-11-09 16:31] mhaley-miovision opened #533 "[snowflake] support use <type> <name>"
Please create the USE <type> schema for snowflake: https://docs.snowflake.com/en/sql-reference/sql/use.html

Simple failing example:
[code]

Statements like the above are used in every single one of our SQL scripts to ensure we have the right context setup for the script.

[2020-11-09 16:57] NiallRees opened #535 "Create versioned documentation website that updates with releases"
Currently our docs reflect the latest push to the master branch vs the latest pypi release, and there is no versioning. Here's an example of what to replicate: https://docs.greatexpectations.io/en/latest/

[2020-11-09 18:36] dmateusp opened #536 "Redundant ELSE NULL in CASE WHEN"
Came across

[code]

"else NULL" is redundant

[2020-11-09 19:31] mhaley-miovision opened #538 "[snowflake] support grant/revoke statements"
Please update the grant/revoke support for snowflake: https://docs.snowflake.com/en/sql-reference/sql/grant-privilege.html

Simple failing statement:
[code]
The snowflake grant and revoke statements vary slightly from the ansi-sql grants statements in that they include the object type (ie. ROLE, USER etc) in the TO statement.

[2020-11-09 19:45] mhaley-miovision opened #539 "[snowflake] support create statements"
Please update the create statement support for snowflake: https://docs.snowflake.com/en/sql-reference/sql/create.html

Simple failing statement:
[code]

[2020-11-09 19:49] mhaley-miovision opened #540 "[snowflake] support SHOW <object> statements"
Please update the SHOW <object> support for snowflake: https://docs.snowflake.com/en/sql-reference/sql/show.html

Simple failing statement:
[code]

[2020-11-09 22:51] alanmcruickshank commented on #470
I think I'm going to close the 0.4.0 release pipeline now. I've opened up a project for 0.5.0 to track any changes we want to put into that release. I'd like to aim to get the completed 0.4.0 out before Christmas now that most of the major pieces are at least in development.

I'll make a new issue for the major release schedule for 0.5.0 and we direct any discussion about future big changes there.

[2020-11-09 22:52] alanmcruickshank opened #542 "Release timeline for 0.5.0"
Following on from #470 , this tracks the release schedule for 0.5.0.

As at writing, there are no major items planned for this release, but I'm sure they'll filter through. Project for that are here: https://github.com/sqlfluff/sqlfluff/projects/3.

If there are any big features we'd like to target, then let the discussion begin!

[2020-11-09 22:57] pwildenhain commented on #470
Great, should we close this issue then?

[2020-11-10 13:16] #533 closed

[2020-11-10 16:41] NiallRees commented on #535
Fixed thanks @alanmcruickshank https://docs.sqlfluff.com/en/stable/rules.html

[2020-11-10 16:41] #535 closed

[2020-11-10 21:47] gnilrets opened #543 "Unqualified reference rule L028 prevents reuse of calculations"
Hi, I'm using sqlfluff v 0.3.6.  I've found that rule L028 is preventing SQL from being DRY by raising an issue where it thinks a calculated field in group by statement is an unqualified field.  For example, this failes:
[code]

The really strange thing is that if I have a join, I don't get an issue.  This passes:
[code]

[2020-11-10 21:50] pwildenhain commented on #543
This was addressed in #420, can you try installing the latest version from `master` and seeing if that resolves this issue?

[2020-11-10 21:58] gnilrets commented on #543
Ah cool.  No problem, I'll just wait for the next release.

[2020-11-10 21:59] pwildenhain commented on #543
Great, we're hoping to release 0.4.0 some time in December 🚀

[2020-11-10 21:59] #543 closed

[2020-11-11 14:34] NiallRees opened #545 "Prefer CTE's over subqueries"
https://discourse.getdbt.com/t/why-the-fishtown-sql-style-guide-uses-so-many-ctes/1091

[2020-11-11 14:39] NiallRees opened #546 "Last select statement in a file should be select * from"
https://github.com/fishtown-analytics/corp/blob/master/dbt_coding_conventions.md#example-sql

Also from ['Why the Fishtown SQL style guide uses so many CTEs'](https://discourse.getdbt.com/t/why-the-fishtown-sql-style-guide-uses-so-many-ctes/1091):

[code]

[code]

[2020-11-11 15:53] pwildenhain commented on #545
This resonates with me, I could definitely see implementing this as a lower-level lint (shout out to #201)

[2020-11-11 15:55] pwildenhain commented on #546
When I first saw the title of this issue, I thought I would disagree, but this actually make a lot more sense after reading about why `dbt` does this. Again, I would think this should be a low severity lint violation (#201)

[2020-11-11 17:10] nolanbconaway commented on #523
Sounds good to me! Tho we should check with @alanmcruickshank about the automated build process, as linking builds to this repo has also been suggested elsewhere

[2020-11-11 18:53] huntdm07 opened #547 "Snowflake `sample` keyword flagged as unparseable"
[The Snowflake `sample` keyword](https://docs.snowflake.com/en/sql-reference/constructs/sample.html) can be used to sample data. This command isn't currently recognised as valid by sqlfluff, but should be.

Example query:
[code]

... will currently fail with:
[code]

[2020-11-11 22:35] pwildenhain opened #548 "Add lint rule for no whitespace around shorthand cast"
This is just to fix the parsing error that's all 👍 it should probably have a lint rule associated at some point though as you say.

_Originally posted by @NiallRees in https://github.com/sqlfluff/sqlfluff/pull/544#issuecomment-725655566_

[2020-11-12 19:08] huntdm07 commented on #371
I'm also hitting this issue - I'd say it's the one roadblock preventing me from rolling this out to our team, since we use `dbt_utils.surrogate_key` or `dbt_utils.group_by` in almost every model. Hoping that a fix might mean we don't need to duplicate the macros across to our project (although it's not the worst fallback for just a few functions).

[2020-11-12 19:12] pwildenhain commented on #371
Yup, we think we might have a fix with the work being done in #508, keep an eye on that conversation 👀 to stay in the loop

[2020-11-12 19:28] huntdm07 commented on #335
I've hit an edge case similar but I think subtly different to what @ericxiao251 is describing. If a user-defined macro calls another user-defined macro, the nested macro doesn't seem to be parsed correctly.

I have this macro `demo_data_clause` being called from a model:
[code]

... and running sqlfluff with the `-vvv` flag leads to this error:
[code]

It seems to be trying to parse this as variab

[2020-11-13 18:29] NiallRees opened #549 "Document which rules are 'fixable' and which aren't"
Some rules have fixing logic, some don't. Let's make it clear in the documentation for each rule.

In response to https://getdbt.slack.com/archives/CV2KM39KR/p1605288485054600

[2020-11-13 18:30] NiallRees opened #550 "Add fixing logic for L004"
https://github.com/sqlfluff/sqlfluff/blob/master/src/sqlfluff/core/rules/std.py#L659

Needs a LintFix adding to the LintResult returned by the rule.

[2020-11-14 18:42] #549 closed

[2020-11-15 13:22] NiallRees opened #554 "Deprecate built-in dbt macros"
Once #508 is released and stable, remove the build-in stub dbt macros from the codebase. This is a breaking change so communication and documentation should be part of the pull request and release.

[2020-11-15 15:59] #483 closed

[2020-11-15 19:04] NiallRees opened #555 "Lex error on 'Spec\'s%'"
Trying to lint
[code]

results in

[code]

Not sure if bug or just not supported yet.

[2020-11-15 19:10] alanmcruickshank commented on #554
I'm not sure we should **remove** them. I agree that they're not as important once the dbt templater is in place, but I think they should be moved to a separate plugin. They definitely shouldn't be part of the standard install, but I suspect that the JinjaTemplater will always be faster than the DBTTemplater, so some users may prefer to use it.

Thoughts @NiallRees, @dmateusp  ?

[2020-11-15 21:58] alanmcruickshank commented on #470
Not yet, I think. I reckon we close it when we actually release 0.4.0 😄 .

@sqlfluff/sqlfluff-maintainers  It looks like everything is in progress. I had assumed that the plugin feature was originally planned for 0.4.0 but I can't see it in there. Do we want to attempt plugins for 0.4.0 or shall we get the current feature list out and then aim to target plugins as part of 0.5.0? It will be quite a

[2020-11-15 23:22] dorzey opened #556 "Configuration from current working path not being loaded when path provided."
I have the following directory structure.
[code]
And the following ignore file

[code]

When I run the following I get the expected result. Sqlfluff only lints the one file that is not ignored.
[code]

However when I run the lint explicitly on one of the two directories then ignored files are also linted.

[code]

If this is the expected behaviour then it might be worthwhile to add an example to t

[2020-11-16 09:04] alanmcruickshank commented on #556
This is currently functioning as expected in that it only looks for `.sqlfluffignore` files within the directories you specify. So if you point sqlfluff at `/path_b`, it would only looks for a `.sqlfluffignore` file at `/path_b/.sqlfluffignore` and any child directories of that. It won't check in parents of the given file.

I think that's the expected behavior consistent with `.dockerignore` and `

[2020-11-16 09:20] dmateusp commented on #556
I think the behavior described in this issue is desirable.

For CI with pre-commit for example, right now I would need to add a `.sqlfluffignore` to each sub-directory containing sql files I want to ignore. That's because pre-commit will give the full path pointing to each file that changed before commit.

I'm not sure the behavior is consistent with `.gitignore` because the "project root" stays t

[2020-11-16 13:39] pwildenhain commented on #554
So are you suggesting that the `JinjaTemplater` should also be spun out to a plugin, and that it would come pre-packaged with a few key built-in `dbt` macros?

[2020-11-16 13:43] pwildenhain commented on #470
I say push the plugins to `0.5.0` -- there are a bunch if improvements and bug fixes in here that I would like
- Users to try in the wild 🦁
- Users to submit new bug reports on any new features we developed

[2020-11-16 13:51] alanmcruickshank commented on #556
I've just hit this issue myself (but for configuration file) and I agree with @dmateusp on this one.

I think this is more than a documentation issue.

From putting together the initial configuration code, the config loader, *should* check the current working directory for config loading, but it feels like that isn't working right now.

[2020-11-16 13:59] alanmcruickshank commented on #555
Looks like the regex for lexing string literals isn't dealing with escape characters properly. We should also have a test case in pace to draw out this issue.

[2020-11-16 19:18] pwildenhain commented on #532
`pip install -e git+https://github.com/sqlfluff/sqlfluff#egg=sqlfluff` worked 🤷‍♂️ so maybe it was `pip install --upgrade https://github.com/sqlfluff/sqlfluff/archive/master.zip` that was the issue? either way, this isn't an issue

[2020-11-16 19:18] #532 closed

[2020-11-16 19:33] sethwoodworth opened #558 "Misconfiguration error message mentions the wrong default_config"
When the error message in `core/rules/base.py` [link](https://github.com/sqlfluff/sqlfluff/blob/e58b546d87165155094daaf59d0da3d3a7a5c6e3/src/sqlfluff/core/rules/base.py#L198) is shown, it states that new rules should be added to `default_config.ini` but the rest of the code specifies that the file is named `default_config.cfg`

[2020-11-16 22:22] #558 closed

[2020-11-16 23:54] emily-hawkins opened #561 "Rule L012: Bug with parsing WITHIN GROUP and OVER (snowflake dialect)"
possible bug with window functions that use `OVER` or `WITHIN GROUP`
The rule that makes sure AS is used to qualify a column seems to get confused (L012).
for example this line
[code]
was getting “fixed” to
[code]
where it added an `AS` before the `OVER` keyword

this is snowflake dialect

[2020-11-17 14:58] NiallRees opened #562 "Enhance L004 to enforce one indentation style across all files"
Currently L004 throws an error if there is inconsistent indentation in a file (mixed spaces and tabs).

[code]

How would we feel about changing this to just enforce either tabs or spaces across all files? I personally would much prefer it as an anti-tabber, the logic would be simpler and a fix would be easy to implement. The indentation preference could just be set in the config.

[2020-11-17 18:16] #555 closed

[2020-11-17 18:40] dmateusp opened #563 "Allow downgrading errors coming from templated code to "warnings""
Raised in #363 by @azhard

The work in #541 would allow us to know if an error comes from a templated block. From there we could introduce another "class" of issues which do not cause the `sqlfluff lint` command to fail, but are still returned (for libraries interacting with sqlfluff directly) and displays them (for the CLI)

[2020-11-17 19:37] gnilrets opened #564 "Escape is unparseable"
Hi, I'm  using SQLFluff 0.3.6 with the Snowflake dialect and found that when I use ESCAPE, I get an unparsable error:
[code]

gives:
[code]

[2020-11-17 19:53] pwildenhain commented on #562
I think that makes sense. It doesn't sit right with me if one file has tabs, and another has spaces and I think `sqlfulff` should complain about it.

💡 What about adding an additional config option (e.g. `tabs_or_spaces`) under `sqlfluff:indentation`, and having it default to `spaces`? Then modifying `L004` to ensure that only that type of indentation exists in all files?

[2020-11-17 20:04] gnilrets opened #565 "EPOCH not recognized as a keyword"
Hi, I'm using SQLFluff 0.3.6 with the Snowflake dialect and found that when I try to extract the epoch from a timestamp, I get an error about an unqualified reference, which leads me to believe that it's not recognizing the `EPOCH` keyword:

[code]

gives:
[code]

[2020-11-17 20:04] pwildenhain commented on #564
Strange: looks like it exists in the [`ansi_keywords.py`](https://github.com/sqlfluff/sqlfluff/blob/master/src/sqlfluff/core/dialects/ansi_keywords.py#L244) module as an "unreserved" keyword so I'm not sure why it would have trouble recognizing it

[2020-11-17 21:32] bdelamotte commented on #419
Hello! I'd like to try to take a stab at this. I really like sqlfluff. Niall said this would be a good first issue for me. I am hoping to carve out time this weekend to start on it if that's okay.

[2020-11-18 06:18] dmateusp opened #567 "Update to the "About""
The about isn't very descriptive ^^, what about

[2020-11-18 23:09] #564 closed

[2020-11-18 23:11] NiallRees opened #568 "Document ansi dialect grammars"
Currently we have `Expression_A_Grammar` `Expression_B_Grammar` etc in the ansi dialect with little to document what they mean. Alan has linked to https://www.cockroachlabs.com/docs/v20.2/sql-grammar.html#a_expr as the source of the grammars, it would be good to include that reference and a summary of the purpose of each grammar.

[2020-11-19 13:31] dmateusp opened #569 "Simple API raises the first parsing violation instead of "all of the violations""
This came up in https://github.com/sqlfluff/sqlfluff/pull/541/files#r526472027

Where the "simple api" `parse(` function only raises the first violation thrown by the function.

To avoid throwing information away, we could define an Exception which takes a list of violations so the API consumer can use the validation errors.

As a reference, in Scala cats there is this structure called "Validated"

[2020-11-19 18:27] NiallRees commented on #567
I like this

[2020-11-20 13:36] dmateusp opened #571 "Query on non-table expression throws exception in L031"
This query:
[code]

Does not select from a table but the generator function

In this case rule L031 throws an exception
[code]

This is not Snowflake specific as this simple query:
[code]

Returns the same error

[2020-11-21 19:13] dmateusp commented on #201
I would rather have `warnings = ...` :)

I think all sqlfluff rules by default should fail a CI check (or pre-commit) and it'd be more work to have to specify which rules should trigger an error

[2020-11-21 19:27] dmateusp opened #572 "Default config is not included on pip install from master"
This issue was raised a few times:

Some of us are seeing config errors when testing PRs to master (by installing with `pip install` and running the project).

The `default_config.cfg` is missing on master releases, it is present in `v0.3.6` under `venv/lib/python3.8/site-packages/sqlfluff/default_config.cfg`. <- This might be the issue

[2020-11-21 22:04] #572 closed

[2020-11-21 22:51] pwildenhain commented on #201
Got it, so you could use `warnings = ` to downgrade a lint from an error to a warning?

[2020-11-22 02:15] pwildenhain opened #574 "Add better test case names to these old std rules tests"
Right now the standard rules test cases have names like `test_1`, `test_2`, etc. These names should be updated to be more descriptive, and potentially adding a longer test case description with the `desc:` yaml key.

_Originally posted by @pwildenhain in https://github.com/sqlfluff/sqlfluff/pull/553#discussion_r528269346_

[2020-11-23 17:03] pwildenhain opened #578 "Do we need both the --force and --no-safety option in sqlfluff fix"
This seem like things that were developed iteratively, and from what I understand we might not need both of them? Or am I missing something?

[2020-11-23 17:06] pwildenhain commented on #565
I'm not sure if this is a snowflake specific issue, I use netezza at work, a postgre fork, which also has the `epoch` keyword.

[2020-11-24 14:46] #453 closed

[2020-11-24 14:52] pwildenhain commented on #463
@sqlfluff/sqlfluff-maintainers Does anyone else feel strongly about it? I like it in theory, but then I never get around to it when I'm actually submitting a PR 😆

🤔 Curious to hear what other think. I would like to keep the burden for contributing as low as possible, and maybe with a project for each new release, we can just look there to see what was accomplished?

[2020-11-24 16:42] pwildenhain commented on #571
This might need to be escalated since I'm the same error on a much simpler query

`test_bug.sql`
[code]

[code]

The issue goes away if I remove the alias (`a`) OR if I `select` a single field instead of `*` 😕

[2020-11-24 19:56] alanmcruickshank commented on #578
They have different functions, but they were developed separately, so it's likely that they might need a rethink in combination. Right now:

- `--no-safety` allows you to apply all rules without a rules filter. This would go away with #334.
- `--force` disables the user prompt when fixing so that there's no opportunity to review the fixes found before applying.

I think the intent would be that wi

[2020-11-25 00:03] pwildenhain commented on #578
I'm in favor of removing `--no-safety` and and applying all the rules by default, especially if we keep the `--force` flag

If others agree, I could tackle #334

[2020-11-25 22:15] NiallRees commented on #571
Oh jeez what a mess. I'll volunteer for this one having fixed a couple of bugs already, will have a crack when I get the chance.

[2020-11-26 09:36] #273 closed

[2020-11-26 10:42] NiallRees opened #582 "Maintainers pre 0.4.0 get together"
Hey everyone, it would be great to get a chance to meet and chat about the 0.4.0 release now that we're almost there. Thanks to some big contributions in the last week, we now have full dbt templating support thanks to @dmateusp, and @alanmcruickshank's improvement of lintfix application means fixes are now 'instant' vs the old 2 mins+ for some files.

From what I can see we're all either GMT or E

[2020-11-26 10:48] #571 closed

[2020-11-26 10:52] #368 closed

[2020-11-26 10:52] NiallRees commented on #368
Resolved by #541

[2020-11-26 11:18] dmateusp commented on #582
Sounds good! I might arrive a few minutes late depending on the meeting I have right before

 dmateusp@gmail.com

[2020-11-26 12:34] #578 closed

[2020-11-26 13:36] #334 closed

[2020-11-26 13:41] alanmcruickshank commented on #361
I'm not sure we've got enough clarity on what we want to do here to target this for the 0.4.0 release. I'm going to move this to the pipeline for 0.5.0

[2020-11-26 13:54] alanmcruickshank commented on #381
I'm going to suggest that this is best achieved with the new `dbt` templater built into sqlfluff.

For people watching this issue (@noahbruegmann , @dmateusp , @KimchaC , @olhmr ), there is now an alpha release of sqlfluff 0.4.0 available on pypi (https://pypi.org/project/sqlfluff/0.4.0a1/).

I would be very grateful for feedback on the work that @dmateusp has done to get us this far as part of #5

[2020-11-26 13:55] alanmcruickshank commented on #156
I'm going to suggest that this is best achieved with the new `dbt` templater built into sqlfluff.

For people watching this issue (@noahbruegmann , @dmateusp , @KimchaC , @olhmr ), there is now an alpha release of sqlfluff 0.4.0 available on pypi (https://pypi.org/project/sqlfluff/0.4.0a1/).

I would be very grateful for feedback on the work that @dmateusp has done to get us this far as part of #5

[2020-11-26 13:59] alanmcruickshank commented on #371
I'm going to suggest that this is best achieved with the new `dbt` templater built into sqlfluff.

For people watching this issue (@KimchaC , @cosoare , @aburgel , @justinstern , @huntdm07 , @jimmyocto , @tnightengale, @danielsepulvedab ), there is now an alpha release of sqlfluff 0.4.0 available on pypi (https://pypi.org/project/sqlfluff/0.4.0a1/).

I would be very grateful for feedback on the wo

[2020-11-26 14:07] alanmcruickshank commented on #470
Heads up team: 0.4.0a1 is out for testing on pypi (https://pypi.org/project/sqlfluff/0.4.0a1/).

I'm sure I don't need to prompt people - but there are **a lot** of changes in here since 0.3.6, so I'd love to get some battle testing of this before we actually release it. If you do find issues, then please raise them in the usual way, but also make sure to mention that you're testing on 0.4.0a1 in

[2020-11-26 14:09] alanmcruickshank commented on #164
This is not going to be part of the 0.4.0 release which should happen in the next few weeks.

This *is* however going to be one of the next big features I'd like to tackle. If people are happy to share, I'd love to have some examples here of the kinds of things that we'd like to do with plugins so that we have some easy targets to start with.

[2020-11-26 14:18] alanmcruickshank opened #585 "Document in-code sqlfluff directives better"
As part of #541 I introduced sqlfluff config directives as a feature.

An example of this is: https://github.com/sqlfluff/sqlfluff/blob/master/test/fixtures/linter/autofix/bigquery/003_templating/before.sql

Any directive must start with `-- sqlfluff:` after which the commands map directly to config object paths.

This feature is very undocumented right now, and should be better documented. Ideall

[2020-11-26 14:20] alanmcruickshank commented on #464
#541 opens the door to actually doing this, but we'll probably need to iterate the feature a little more to actually get it to work. From inspecting the `pos_marker` of a given segment it's possible to interpret whether it's a templated or literal section.

[2020-11-26 14:24] alanmcruickshank opened #586 "New rule. Jinja tag content should be surrounded by whitespace."
The basic machinery for doing this is now in place with #541, however some structural changes will probably still be required.

This would be a rule which lints jinja tags (`{{ }}`, `{# #}` & `{% %}`) in templated queries and ensures that there is at least a single whitespace between the delimiters of the tag and the content.

Bad: `{{ref()}}`, `{{my_variable}}`, `{{1+2}}`, `{%else%}`

Good: `{{ r

[2020-11-26 14:39] NiallRees opened #587 "0.4.0a1 fails with empty file"
[code]

[2020-11-26 14:40] NiallRees commented on #587
Think we're unsafely trying to iterate through `token` without checking if there are any.

[2020-11-26 16:45] alanmcruickshank commented on #286
@NiallRees - I realise that you've actually been closest to this recently at tails. Want to take a stab at writing down some of the process we've been through?

[2020-11-26 17:41] NiallRees commented on #286
Sure

[2020-11-26 17:48] barrywhart commented on #582
barrywhart@yahoo.com

[2020-11-26 21:51] #475 closed

[2020-11-27 12:25] NiallRees commented on #562
Do we still think we need `L002` with this fix?

We now just enforce the indent style across all files so I think it's redundant. If we agree it's unneeded I will remove

[2020-11-27 15:30] pwildenhain opened #593 "Test the API examples as a part of test suite"
Originally recommended by @alanmcruickshank  in https://github.com/sqlfluff/sqlfluff/pull/580#pullrequestreview-539203726

[2020-11-27 15:57] pwildenhain commented on #470
Just tested the pre release on one of my project and it is BANGIN 💥
⚡ Lightning fast fixing
🧠 Understands my `dbt` project

🙌 Great work y'all!

[2020-11-27 16:01] pwildenhain commented on #582
I might have to leave early (dentist 🦷 ) but I can be on at 12!

pwildenhain@gmail.com

[2020-11-27 17:26] pwildenhain commented on #562
I agree we can remove, just need to make sure that we document that
breaking change right? What do you think is the best way to remove a rule?

On Fri, Nov 27, 2020, 7:25 AM NiallRees <notifications@github.com> wrote:

[2020-11-28 12:32] pwildenhain commented on #378
We got a good bit of `mypy` in this release, and we can add more as the project continues -- @sqlfluff/sqlfluff-maintainers I'll close this issue for now, but feel free to reopen it if you think we should add more type hints before we close it.

[2020-11-28 12:32] #378 closed

[2020-11-28 12:32] #568 closed

[2020-11-28 12:33] #587 closed

[2020-11-28 13:35] pwildenhain commented on #565
confirmed that this is just for the postgres dialect (which snowflake inherits from). PR incoming 🚀

[2020-11-28 15:33] dmateusp commented on #586
love this! I'm pretty sure my eye twitches every time I don't see the spaces

[2020-11-28 15:36] pwildenhain commented on #463
FYI I flipped flop on this again 😅 I'm gonna add it.

Also, I'm gonna add anything that we missed to the current `CHANGELOG.md`

[2020-11-28 15:57] dmateusp opened #595 "Discussion: using a "parsing" library"
@alanmcruickshank I see that the project implements its own parsing primitives from scratch in `parser/`, I'm curious if you think introducing a dedicated library like [parsy](https://parsy.readthedocs.io/en/latest/index.html) would be beneficial (I picked a parser combinator because it's close to the pattern we're using).

IMO that could mean less code to maintain on our end, and less concepts th

[2020-11-28 19:25] #565 closed

[2020-11-28 21:15] KimchaC commented on #371
Guys, you have done an absolutely amazing job with this. I followed the documentation and was able to get it running in no time and it is working well with my rather large project.

Here are a few things I ran into:

## Difficulty matching line numbers
This is probably a tough problem to solve, but the line numbers sqlfluff spits out are of course the line numbers of the compiled SQL and not of th

[2020-11-29 12:56] NiallRees commented on #562
I wonder if we should just leave it in but mark it as deprecated in favour of L004 in the docs?

[2020-11-29 18:49] NiallRees opened #597 "dbt templater 'File %s was not found in dbt project'"
Just testing out the latest commit on my work dbt project to identify any issues on a real project. This one just sprung up:

[code]

We have a query which is run by our dbt execution script called `deploy_post.sql`. Is the issue here that the dbt templater expects all .sql files to be part of the project?

[2020-11-30 01:46] bdelamotte commented on #419
Alright, I got a solution. It is currently working when I call sqlfluff.lint() on a string like so
[code]
Result:
[code]
I kept some bad formatting in the above code to make sure I saw other lint errors when I used the simple API.

However, I am getting the following when I try to call sqlfluff.fix() on the same code:
[code]

I am unsure why this is happening but it could be how I'm tackling the p

[2020-11-30 09:27] dmateusp commented on #597
Yes, that is what's happening.

What do you think would be a good fix? Does it work if you have a `.sqlfluff` file inside the directory that contains `deploy_post.sql` and pick the `jinja` templater there?

[2020-11-30 14:35] barrywhart commented on #470
I'm testing 0.4.0a1.

[2020-11-30 14:36] barrywhart commented on #470
I'm seeing an exception trace for one file:
[code]

[2020-11-30 14:41] NiallRees commented on #470
This one should be fixed by https://github.com/sqlfluff/sqlfluff/pull/581. Could you trying the latest master commit?

[2020-11-30 14:46] barrywhart commented on #595
This question arose in the context of PR #325. As it turns out, BigQuery UDF syntax cannot be parsed using the current parser. @alanmcruickshank made some experimental changes which didn't work, but with some additional tweaks, it _may_ work.

The particular challenge arose because BigQuery UDFs use angle brackets (`<`, `>`) to define composite types like structures and arrays. The parser cannot d

[2020-11-30 15:54] barrywhart commented on #470
Overall, 0.4.0a1 worked well, just the one problem noted above. I ran `sqlfluff fix` on an entire project with about 5,000 lines of SQL. It took about 20 minutes the first time. The second run (i.e once the code was already clean) took 2 minutes.

I wonder if anyone has tried running SQLFluff using PyPy (much faster alternative to CPython). I'll see if I can get that working and report back.

[2020-11-30 17:15] dmateusp commented on #595
@barrywhart thanks for the context! so I was waiting on some job to run, and I wrote this small snippet of code using `parsy` taking the example from the PR you linked:

[code]

Would you include `parsy` in your list of parsers ? :D I'm just a big fan of parser combinators over generators. I'd be happy to help on creating a POC or rewriting parts of our parsing logic

[2020-11-30 17:39] barrywhart commented on #164
Possible use cases for our organization:
* On BigQuery, we prefer `USING` over `JOIN` for brevity and readability reasons, in spite of the general recommendation adopted for SQLFluff core, so we'd flag places where it could be used.
* For privacy reasons, queries should avoid using certain of our internal tables, preferring related views that have been "cleaned" of users who have "opted out" from

[2020-11-30 19:05] barrywhart commented on #470
I tested with PyPy in Docker on my Mac. It's a little faster, but not enough to really matter. 2:21 using CPython, 2:10 using PyPy. Typically I've seen much bigger speedups. At least it works!

[2020-11-30 19:16] alanmcruickshank commented on #595
In principle I'm very supportive of using an external parser, like you say, it's a lot less code to maintain, and it makes contribution easier.

My requirements list would be:
- Explicit whitespace parsing (for probably obvious reasons).
- A way of mapping the position in the parsed tree to the position in the original file (so we can apply fixes).
- Some level of recursion, so if multiple parts o

[2020-11-30 20:01] barrywhart opened #598 ""sqlfluff fix" loses comments in an IF()"
This occurs with SQLFluff 0.4.0a1.

The following SQL, after fixing, loses the comment text:

[code]

The result is:
[code]

[2020-11-30 20:01] barrywhart commented on #470
I found a bug where a comment is deleted when `sqlfluff fix` reformats an `IF()`. I created an issue for it: https://github.com/sqlfluff/sqlfluff/issues/598.

[2020-11-30 20:40] NiallRees commented on #597
Just tried - doesn't work unfortunately. I think for now let's just document it as most people won't have this issue, and then revisit in the future if we decide to. I'll just sqlfluffignore the two scripts for now.

[2020-11-30 20:47] NiallRees opened #599 "Add more information to "WARNING Indent balance test failed for 'file.sql'. Template indents will not be linted for this file.""
I'm getting this a lot in my work codebase when testing the latest changes. It would be helpful if this warning gave some actionable feedback or at least a link to the docs to explain what this means.

[2020-11-30 21:08] NiallRees opened #600 "Linting some files results in IndexError: list index out of range slicing error"
Using dbt templater and 0.4.0a3. Full stacktrace:

[code]

[2020-11-30 22:15] NiallRees commented on #600
Also getting:
[code]

on another file. Interestingly, both are test sql files, as in dbt data tests, defined in the project with `test-paths`.

[2020-11-30 22:18] NiallRees commented on #600
Progress!

A file `failing.sql` with the contents `select * from a` results in the `IndexError: list index out of range` error when defined as a data test in the `test-paths`, however the same file defined in a model directory passes. Same file, just different directory.

@dmateusp did you try the dbt templater with dbt tests? Tomorrow I'll see if I can reproduce this bug in a test in the sqlfluff

[2020-11-30 22:44] NiallRees commented on #404
I'd love to see this!

[2020-11-30 22:54] NiallRees commented on #597
Let's also document that the directory `sqlfluff` is called from must be the root directory of the dbt project for dbt templating to work.

[2020-11-30 23:55] barrywhart commented on #595
@dmateusp: Your example looks promising. Are we sure it'll handle complex, real-world SQL that may mix both usages, etc., etc.

I don't have a strong position on the technology we use, just the requirement that it handle this tricky parsing situation.

I'd be happy to help if further evaluation is required, or with transitioning to whatever we choose. 💯💯

[2020-12-01 00:04] barrywhart commented on #470
@NiallRees: I just saw your note. I'll test this tomorrow.

[2020-12-01 03:43] nolanbconaway commented on #582
I'll pop in! nolanbconaway@gmail.com

[2020-12-01 04:17] pwildenhain commented on #582
I haven't gotten an invite -- did you send something out @NiallRees ?

[2020-12-01 07:52] NiallRees commented on #582
Just sent the invites!

[2020-12-01 08:30] dmateusp commented on #600
Ah good catch! we actually don't use data tests at Earnest because our dbt project is quite new and we also use Great Expectations. (we use the out of the box schema tests)
So I completely forgot to test data tests :(

[2020-12-01 08:36] dmateusp opened #601 "Dbt project must be in the current working directory"
Related #597

The current implementation of the dbt templater assumes that the project root is the current working directory. It would be good to have a config to support:

* Having the project in another directory
* Having multiple dbt projects

for example:
[code]

This is actually quite painful right now with pre-commit, I tried on our project at Earnest which is in a sub-directory and had to w

[2020-12-01 08:48] dmateusp commented on #595
So I will take your requirements list @alanmcruickshank and your concerns @barrywhart and try to implement a POC that satisfies both, or at least illustrates what's not working!

We (at Earnest) use a parsing library often which follows the same principles as `parsy` (but in Haskell) to validate CLI inputs, the most complex use of it we have (that I'm aware of) is translating Glue API responses in

[2020-12-01 08:56] Fokko opened #602 "Issue with Databricks absolute path tables"
We're using DBT with Databricks and tried to implement sqlfluff for linting. However, we're seeing that the following syntax is unsupported:

[code]

Is this something that we want to support in sqlfluff? If so, I can try to come up with a PR.

[2020-12-01 10:07] dmateusp commented on #602
hi @Fokko, glad to see you here!

sqlfluff has a modular approach to dialects, you should be able to see all the dialects here: https://github.com/sqlfluff/sqlfluff/tree/master/src/sqlfluff/core/dialects

I'm thinking you would need to implement a Spark SQL dialect (which would be awesome to have)

Related #417

[2020-12-01 11:39] NiallRees commented on #600
No worries! Great expectations is arguably a lot more useful imo. I managed to reproduce the exact error in the PR after a bit of wrestling 😅

[2020-12-01 13:49] NiallRees commented on #582
@dorzey ?

[2020-12-01 14:49] barrywhart commented on #470
@NiallRees: Confirmed, that issue is fixed now.

[2020-12-01 16:36] dorzey commented on #582
Yep. I can make it dorzey@gmail.com

[2020-12-01 16:57] NiallRees commented on #582
invite sent @dorzey

[2020-12-01 17:36] alanmcruickshank commented on #598
Great catch - I'd not thought of people putting comments in between function names and the brackets.

I'm tempted to catch this case a make it so no fix is generated because I'm not sure we could always reliably put the comment somewhere better. Do you have a better idea about how we should handle this?

[2020-12-01 17:36] nolanbconaway opened #604 "Automate pypi release on gh tag?"
Per maintainer meetup, here is a [workflow](https://github.com/nolanbconaway/shabadoo/blob/7fbc5bdfea5ff3e0d0357d788d5c3b09a1168dc7/.github/workflows/push_release_to_pypi.yml) i use to push a new releases to pypi whenever a GH tag is created. I'm never sure if i got the `on:` section just right but it seems to work for me!

[code]

[2020-12-01 18:26] barrywhart commented on #598
I like the idea of treating parenthesized expressions similar to regular SQL constructs like SELECT, JOIN, etc. where things that don't fit on a line are split across lines. Is SQLFluff already doing something similar for some functions? (I'm thinking I've seen this happen somewhere -- I can track that down if it'd be helpful.)

Leaving it alone is also a viable option.

[2020-12-01 18:29] barrywhart commented on #598
Oh, I just realized what you said -- it's interesting they put the comment *between* IF and (. I expected (and misread it) as:

IF(
    -- Comment

So I'm okay doing nothing or moving/combining the comment to *after* the (. Doing nothing is probably the right thing unless and until we find that this is a common pattern with users.

[2020-12-02 09:51] dmateusp commented on #604
Automating this would be great! If we had this automated, I don't think we would need permissions to be shared on the PyPi account as I originally suggested

[2020-12-02 12:35] #523 closed

[2020-12-02 14:28] NiallRees opened #605 "Select targets should be on a new line unless there is only one select target"
I imagine the logic being something like

If number of select targets == 1, ensure no newline between `select` and select target.
If number of select target > 1, ensure newline before select target and whitespace segment.
The fix would need to introduce the required whitespace according to tab_space_size and indent_unit.

Pass
[code]

[code]

Fail
[code]

Pass
[code]

Fail
[code]

[2020-12-02 14:52] nolanbconaway commented on #604
I'm happy to set up a PR if there is agreement on this!

[2020-12-02 19:14] dorzey commented on #604
This looks much simpler than the [workflow](https://github.com/sqlfluff/vscode-sqlfluff/blob/master/.github/workflows/ci.yml) I created for the VSCode extension!

[2020-12-02 19:25] dorzey commented on #605
I'll take this one and attempt to make it my first contribution to the main project.

[2020-12-03 11:54] Sherm4nLC opened #607 "Double quote table name followed by `ON` clause without space results in error even with ignore parsing"
One of the lines I have been linting has the following statement (note missing space between table name and `ON`

`INNER JOIN "my_dababase"."my_schema"."my_table"ON [...]`

This runs on Redshift, possibly also on postgres, however when linting with the command

`sqlfluff lint myfile.sql --ignore parsing --dialect postgres`

...I get the following error

[code]

Adding the space prior to the `ON` c

[2020-12-03 21:06] barrywhart opened #609 ""sqlfluff fix" incorrectly removes capitalization for BigQuery date parts, e.g. in DATE_DIFF()"
Given this (BigQuery) SQL code as input:
[code]

`sqlfluff fix` changes it to:
[code]
 I.e. `DAY` is changed to `day`. This is a benign change, but that third parameter is not a column name -- essentially it's a SQL built-in, similar to function names, etc., and therefore should (I think) be capitalized.

For reference, here's the BigQuery [documentation](https://cloud.google.com/bigquery/docs/ref

[2020-12-03 22:28] OJFord opened #610 "Fix causes duplicate table aliases by simply removing them when table appears twice in join"
Since after applying `sqlfluff fix` on for example:
[code]
becomes:
[code]

Workaround I think is to move part of the join to a `with` CTE, e.g. in this case:
[code]

[2020-12-04 12:14] gozes opened #612 "AWS Redshift Dialect support"
I know that its only a matter of time before sqlfluff has specific support for AWS Redshift support but I'm putting it here on issues so that it doesn’t get forgotten 😄

[2020-12-04 12:43] NiallRees opened #613 "Rule L011 does not check capitalisation_policy config, always inserts 'AS'"
[code]

always gets fixed to

[code]

It should check the capitalisation_policy to decide whether to insert an `AS` or `as`.

[2020-12-04 13:17] NiallRees opened #614 "Failing database connection results in 'NoneType' object has no attribute 'cursor'"
[code]

Is returned when the dbt templater cannot connect to the database. We should return a clearer error!

[2020-12-05 12:15] #463 closed

[2020-12-05 12:43] #605 closed

[2020-12-05 13:20] #582 closed

[2020-12-05 14:19] #604 closed

[2020-12-05 14:21] pwildenhain opened #620 "Fix test__linter__get_violations_filter_rules test for when new rules are added"
Imo - no! 😂

There are a few cases where we have to do that whenever we add new rules anywhere though, so I don't have strong feelings. Either way, if we decide to do that can we do that in a separate PR to unblock master?

_Originally posted by @NiallRees in https://github.com/sqlfluff/sqlfluff/issues/617#issuecomment-739256792_

[2020-12-05 14:33] NiallRees opened #621 "Improve architecture docs"
In particular I find the parser section really hard to understand. It is the most complicated part by nature, and I think providing some examples of the difference between match grammar and parse grammar would be helpful. An example parse tree too I think could help. As a contributor this was (and still is) a really scary part of the codebase, and I think it could help us improve the frequency of

[2020-12-05 14:37] NiallRees commented on #474
Going to close this for now as I'm not sure it is specifically actionable. We have an existing issue for investigating different parsing options which is pretty much what this existing issue boils down to as the bottleneck: https://github.com/sqlfluff/sqlfluff/issues/595

@sqlfluff/sqlfluff-maintainers please feel free to re-open if you disagree!

[2020-12-05 14:37] #474 closed

[2020-12-05 19:10] alanmcruickshank commented on #620
I'm ok with some of the broader tests needing to be updated as we bring in more features. In some ways I think it's a *good* thing rather than a problem. It's a case of refining what we see as best practice.

[2020-12-05 19:26] alanmcruickshank commented on #621
I assume I should pick this one up? 🤣

[2020-12-05 19:30] NiallRees commented on #621
I was actually going to suggest I do! As someone who didn't write it I thought it might be easier to know what the subtler parts are. Also no better way of learning something than explaining to someone else - if I have a go I'll get you to check what I've said is right? Might take a couple of goes.

[2020-12-05 22:21] #561 closed

[2020-12-06 17:18] NiallRees opened #624 "L004 enhancement - fix indent after text"
From https://github.com/sqlfluff/sqlfluff/pull/590#issuecomment-739248310 and https://github.com/sqlfluff/sqlfluff/pull/590#issuecomment-739484190.

[2020-12-06 17:48] NiallRees commented on #609
Would you be able to confirm which rule is causing this change?

[2020-12-06 17:55] #554 closed

[2020-12-06 17:57] NiallRees commented on #550
Will be resolved mostly by #590, will be fully resolved with #624

[2020-12-06 18:03] NiallRees commented on #528
Relates to #443

[2020-12-06 18:03] NiallRees commented on #609
I believe this to be a duplicate of #528, will add your comments in there.

[2020-12-06 18:04] #609 closed

[2020-12-06 18:07] NiallRees commented on #516
Resolved by #508 to be fixed in 0.4.0

[2020-12-06 18:07] #516 closed

[2020-12-06 18:09] NiallRees commented on #493
I believe this to be resolved by #508, even though the solution is different to the one proposed here. This will be fixed in release 0.4.0

[2020-12-06 18:09] #493 closed

[2020-12-06 18:13] NiallRees commented on #428
Resolved by #606 I believe

[2020-12-06 18:13] #428 closed

[2020-12-06 18:13] NiallRees commented on #352
Resolved by #606

[2020-12-06 18:13] #352 closed

[2020-12-06 18:16] NiallRees commented on #427
I believe this to be indirectly solved by #541, so closing!

[2020-12-06 18:16] #427 closed

[2020-12-06 18:24] NiallRees commented on #405
Let's close for now as the initial issue is resolved. If there's a need for a new issue let's do that though.

[2020-12-06 18:24] #405 closed

[2020-12-06 18:29] NiallRees commented on #371
Hey @KimchaC thank you so so much for the testing on this! 🙇‍♂️

I'm going to close this original issue as it has been resolved by #508, but please raise any issues you've encountered separately, where they'll be far more visible too.

[2020-12-06 18:29] #371 closed

[2020-12-06 18:34] NiallRees commented on #367
I've just tested this and believe it to be fixed by #438.

[2020-12-06 18:34] #367 closed

[2020-12-06 18:37] NiallRees commented on #362
I'm actually not convinced that this should be a linting error. I wish all dialects supported this (Python allows this in lists!). But the benefit of configurable rules is that I don't have to be 😄

[2020-12-06 18:41] NiallRees commented on #360
I think this relates to #607 if we can crack two in one!

[2020-12-06 18:44] NiallRees commented on #335
I believe this to be resolved by #508!

[2020-12-06 18:44] #335 closed

[2020-12-06 18:45] NiallRees commented on #322
I'm going to close this issue as i believe the original question has been answered! But let's create a new issue if needed

[2020-12-06 18:45] #322 closed

[2020-12-06 22:02] #550 closed

[2020-12-06 22:02] #562 closed

[2020-12-06 22:38] barrywhart commented on #609
Ah, yes, sorry about the duplicate!

[2020-12-06 23:36] pwildenhain commented on #362
I can see your point, I do like that Python allows this. One potential argument against this is cross database compatibility, but BigQuery seems so different anyway, that I'm not sure that argument holds water.

Anyone else want to chime in on why this should be a linting error?

[2020-12-07 00:09] aaronsteers commented on #362
On platforms where this would fall compilation, the linter could be a help to prevent/detect later failure. In my opinion, this is less of a style guide issue and more of straight-up syntax check - which is just as valid, I think, for linters in general.

I'd agree that for platforms (dialects) which support it, definitely the best practice will be to keep the trailing comma. (Except in cases wher

[2020-12-07 12:36] sdepablos commented on #599
:+1:

[2020-12-08 19:49] barrywhart opened #627 ""SQLFluff fix" reports error "Some operations failed""
When I ran `sqlfluff fix` on this query and I omit the trailing newline from the file:
[code]

I get this result:
[code]

And the file is left unchanged.

NOTE: The above query assumes `.sqlfluff` contains the following config:
[code]

[2020-12-09 06:38] sziolko opened #629 "dbt_utils.union_relation generates unparsable section error"
The current (0.6.2) dbt_utils package has a union_relations macro.

When used with the dbt templater in sqlfluff the following error is displayed (0.4.0a3 sqlfluff build).

== [models/staging/test/union_test.sql] FAIL
L:   7 | P:   9 |  PRS | Found unparsable section: '(\n select\n\n ca...'

The toy example setup in this case was three files:
test_a.sql
[code]

test_b.sql
[code]

union_test.sql
[c

[2020-12-09 10:37] dmateusp commented on #629
Thanks for reporting the issue @sziolko would you mind pasting the SQL that was compiled by dbt? You can find it under `target/compiled/`

[2020-12-09 10:38] dmateusp commented on #629
Could you also share which dialect you are using ?

[2020-12-09 13:02] NiallRees opened #630 "UnboundLocalError: local variable 'sub_section' referenced before assignment"
From slack:

[code]

Scott Ziolko  1 day ago
the simplest logic in one of these instances that errors is basically:
[code]

I (Niall) also just ran into the same bug.

[2020-12-09 17:30] sziolko commented on #629
`dialect: postgres`

generated sql
[code]

[2020-12-10 15:25] NiallRees opened #631 "Create SQLFluff Github Marketplace Action"
We should make it really easy for teams who aren't super-clued up in CI tools to add SQLFluff to their workflow, or those who use a tool like dbt Cloud to run all their CI jobs, which won't support SQLFluff (https://getdbt.slack.com/archives/C01FN7U0KDJ/p1607613690166000?thread_ts=1607610702.131200&cid=C01FN7U0KDJ). I think a Github app would be the best way to do this.

[2020-12-11 14:34] NiallRees commented on #600
New error on a non-test file, but likely the same issue:

[code]

[2020-12-11 14:50] NiallRees commented on #600
Hope you don't mind me assigning this to you @alanmcruickshank, there's an open PR which recreates the first issue here https://github.com/sqlfluff/sqlfluff/pull/603

[2020-12-11 15:54] NiallRees opened #633 "Fix L004 error message if tab found at end of line"
We currently report `No fix available as number of spaces in indent is not a multiple of tab_space_size.` if there is a tab at the end of the line which is wrong.

[2020-12-11 20:57] emekdahl opened #634 "Parsing error when using Snowflake single or double-colon syntax for semi-structured data traversal and casting"
When linting queries like the following using Snowflake's double-colon casting syntax:

`SELECT
  ID :: VARCHAR as id,
  OBJ : userId :: VARCHAR as user_id,
  OBJ : offerId :: VARCHAR as offer_id,
  redemptions.value : awardedReceiptId :: VARCHAR as awarded_receipt_id, `

There is the following error: `L:   7 | P:  20 |  PRS | Found unparsable section: ' : awardedReceiptId ::

[2020-12-11 21:22] emekdahl commented on #634
Thanks to the help of a colleague, I realized this issue can be resolved by removing the white space around the colons. I am closing it out, however, it may help someone else troubleshoot their sqlfluff implementation. Happy linting! :)

[2020-12-11 21:22] #634 closed

[2020-12-11 21:39] emekdahl opened #635 "Applying rule L031 threw an Exception: 'NoneType' object has no attribute 'raw'"
Rule L031 throws an exception:

The offending line 3:
`SELECT ID::VARCHAR as id,`

[code]

.sqlfluff

[code]

.sqlfluffignore

[code]

[2020-12-11 22:34] pwildenhain commented on #634
@NiallRees you added this functionality recently right? Should we support the whitespace in a shorthand cast?

[2020-12-11 22:35] pwildenhain commented on #635
Thanks for submitting this -- can you post the first like 5-10 lines of your query for testing purposes?

[2020-12-12 17:21] NiallRees commented on #635
What @pwildenhain said, but please include the `from` clause and any joins as there's something in there which is throwing things off!

[2020-12-12 20:42] emekdahl commented on #635
Thanks! @pwildenhain @NiallRees ! Here's the query you requested.
[code]

[2020-12-12 22:26] NiallRees commented on #635
Thanks @emekdahl - I'll try and reproduce the error and work out what's going on! Out of curiosity, how come you're casting value:awardedDate to a timestamp twice? Is that deliberate?

[2020-12-13 11:46] NiallRees commented on #156
Going to close this issue as I believe it is resolved by 0.4.0. Great to see you here @Torvaney!

[2020-12-13 11:46] #156 closed

[2020-12-13 11:53] m-kuhn opened #638 "Interactive console for "Running fixes" usability improvements"
Running sqlfluff with fixes activated gives an interactive prompt if you want to attempt to fix.
The prompt suggests a default selection of Yes by capitalizing the `Y` in `[Y/n]`. However after hitting "enter", the default is not respected and an invalid input is reported.

[code]

The message itself "Invalid input" can also be misleading and raise the assumption that it's the input file and not t

[2020-12-13 15:51] #638 closed

[2020-12-13 17:13] #633 closed

[2020-12-13 22:04] jars opened #641 "RecursionError: maximum recursion depth exceeded while calling a Python object"
Hello sqlfluff devs! :sheep:

Even with `recurse = 0` config setting (no limit), we are getting the following error on `sqlfluff lint -vvvv .`

[code]

[2020-12-13 22:32] jars opened #642 "--threads argument for sqlfluff lint"
Hey sqfluff devs! :sheep:

Are all files linted in isolation? I suspect they have no dependencies on each other. Seems ripe for concurrency?

The `dbt` bin supports a `--threads` argument for this. Could be a huge optimization tweak?

For context, we are using sqlfluff with dbt and we have hundreds of models.
I don't have an accurate runtime estimate for our entire project because of #641, but I s

[2020-12-13 22:46] aaronsteers commented on #525
@alanmcruickshank (et al):  @dorzey has been does amazing work over here (https://github.com/sqlfluff/vscode-sqlfluff/pull/9) on the auto-formatting feature in VS Code. Once this releases, it'll bring first-class IDE programming support to the SQL language into VS Code. Linting has been in place for a while but this now adds "document format" capabilities, including on-demand formatting from the V

[2020-12-14 12:42] emekdahl commented on #635
@NiallRees I wondered the same myself. I recently because responsible for maintaining and extending this code as one of my teammates transitioned off the team. I don't know the answer right now but I can ask a teammate for clarification.

[2020-12-14 20:33] seancron opened #643 "L003 behavior different between 0.3.6 and 0.4.0a3"
I have a dbt model that looks like the following:

[code]

Using `sqlfluff==0.3.6` (with `jinja` templater) I get the following lint output:
[code]

Using `sqlfluff==0.4.0a3` (with `jinja` templater) I get the following lint output:
[code]

When I run `sqlfluff fix` on the file with `0.4.0a3` it tries to fix it to be:

[code]

This seems like unexpected behavior to me. The fix suggests that sqlflu

[2020-12-14 20:56] barrywhart commented on #643
(Please don't consider this comment an official response to the issue, just trying to get some background, especially in case this was a deliberate change.)

@alanmcruickshank: I have a vague memory that at some point, we tweaked the indentation behavior for things like `ON` under `JOIN`. Did we do something similar here? I can't recall the context or the reasons, although I think part of the reas

[2020-12-15 15:31] optroodt commented on #630
Running into this issue too. I need to reduce the 350 line sql file to the simplest form in which the error occurs. Will report back!

[2020-12-16 00:20] pwildenhain commented on #164
Another use case: https://github.com/sqlfluff/sqlfluff/pull/514#issuecomment-745636097

[2020-12-16 03:12] ciejer opened #644 "dbt templater error when enabled: false"
When running across a dbt_ project using dbt templater, sqlfluff looks for the compiled version of every model in the repository.
If one of the models has been disabled in dbt_project.yml, there is no copy of it in the compilation folder; causing sqlfluff to error.

Steps to recreate:

1. Install sqlfluff in a dbt repository
2. Set `templater = dbt` in .sqlfluff
3. Add `enabled = false` in dbt_pro

[2020-12-17 01:35] pwildenhain commented on #470
Hey team 👋

What do we think about re-grouping in January to discuss:
1. When to release 0.4
2. Plan out major features/timeline for 0.5?

[2020-12-17 01:40] pwildenhain commented on #518
Great work alan! 🎉

[2020-12-17 01:40] #518 closed

[2020-12-17 01:41] pwildenhain commented on #333
@alanmcruickshank do you still think we should do this? Or just direct people to use the new `dbt` templater?

[2020-12-17 01:42] pwildenhain commented on #315
@alanmcruickshank or @barrywhart Can we close this issue? Or at least rename/create a different issue, since it seems like the original problem has been resolved

[2020-12-17 01:46] pwildenhain commented on #542
The biggest feature request that I've seen on GitHub and slack is skipping linting for templated sql. I think this should be the default behavior, with the option to turn it back on.

From what I understand this could get pretty hairy with the current state of the linting infrastructure 😬 but I'm looking forward to us figuring it out 🧠 ⚡

Another big feature that I'm excited for is #201 to add sev

[2020-12-17 12:19] pwildenhain commented on #644
Wow, great find! We should either fix this before 0.4.0, or quickly include it in a minor release 👌

[2020-12-17 20:45] barrywhart commented on #315
I'll try and look at this tomorrow. It's entirely believable this might've been fixed but the ticket is still open. 💯

[2020-12-18 14:45] barrywhart commented on #315
@pwildenhain: I just tested against the `master` branch (most recent commit Dec 14), and I still see the same messages. Can you double check your results?
[code]

[code]

[2020-12-22 20:06] dclong opened #645 "Showing progress of `sqlfluff lint` and `sqlfluff fix`"
It helps since `sqlfluff fix` runs slowly.

[2020-12-23 05:35] joellabes commented on #365
I just ran into a very similar issue. I have a line:
[code]
which `sqlfluff fix` changed to
[code]

If I was fixing this manually, I would have changed it to
[code]
but that then falls afoul of `L003 Indentation not consistent with line #12`. (If you'd like, I can also create a separate issue for that)

[2020-12-23 05:55] joellabes opened #646 "L036 includes whitespace as a select target which should be on a new line"
In the sql
[code]
, there is a space after `select`. This triggers two linting rules:
[code]

Whitespace is covered by L001, so I'd say it shouldn't also trigger L036.

`python --version`
Python 3.8.3 (Windows)

`sqlfluff --version`
sqlfluff, version 0.4.0a3

[2020-12-23 07:25] joellabes opened #647 "Fix L001 adds too many newlines and duplicates from clause"
When using the dbt compiler with sqlfluff 0.4.0a3 (Python 3.8.3 Windows), this model:

[code]

returns this warning
[code]

Running `sqlfluff fix` causes this to be generated:

[code]

The newlines could be a matter of opinion _I guess_, but it looks like a bug to me. It's certainly not what I'd expect from an automated fix to a problem that was decscribed as "an unnecessary space character at the

[2020-12-23 07:29] joellabes commented on #647
When using the standard Jinja templater, this fix applies correctly - the only thing that changes is the redundant space at the end of line 7 is removed.

[2020-12-29 14:11] SUNNUWORKS opened #649 "Unable to parse query with table name as CASE"
The 0.3.6 dbt_utils package has a join_macro.

When used with the dbt templater in sqlfluff through cmdline the following error is displayed.

[code]

The SQL example setup, in this case, was as follows with one file:
vw_self_service_dm.sql.sql

[code]

[2020-12-29 17:43] NiallRees opened #650 "Are we optionally bracketing where we should be, and should we add an OptionallyBracketed segment?"
From https://github.com/sqlfluff/sqlfluff/pull/648#discussion_r549768093:

[2020-12-29 22:36] joellabes opened #651 "`sqlfluff lint` for a single file performs 10x slower with dbt templater than Jinja"
Running `sqlfluff lint  models/staging/classes/classes__academic_years.sql` takes >20 seconds when using the dbt templater, versus <2 seconds when using the Jinja templater. The model's code is:
[code]

[2020-12-29 22:38] joellabes commented on #645
I agree with this, but would also say it makes sense for other commands as well, especially when linting using the dbt compiler is so slow (#651)

[2020-12-29 23:06] barrywhart commented on #595
@dmateusp and I had a brief discussion on this topic in the context of #325, which surfaced a tricky parsing ambiguity with angle brackets and relational operators. I think we are converging on a conclusion that we have a workable approach for now, so using a parsing library is not needed, at least for the foreseeable future. Should we close this ticket?

[2020-12-29 23:10] barrywhart commented on #538
Implementation thought: This is a simple enough variant, it may be simpler to implement it by updating the ANSI dialect to take an optional object type, rather than "subclassing" the rule specifically for Snowflake. AFAIK, this is the typical approach we've used for other minor variants. It's less "accurate" but keeps the code smaller and easier to maintain, which is probably a good tradeoff while

[2020-12-30 00:04] NiallRees commented on #651
Hey @joellabes. I understand that this is annoyingly slow - unfortunately it's not something we can improve on, as the bottleneck is the dbt compilation time. Investigations are taking place over in https://github.com/fishtown-analytics/dbt/issues/2862 to speed this up in future dbt releases. Until then, the only alternative is to use the jinja templater with stub macro definitions in the .sqlfluf

[2020-12-30 00:50] joellabes commented on #651
No worries - @pwildenhain just asked for a copy of it in the [dbt slack](https://getdbt.slack.com/archives/CV2KM39KR/p1609277674169700?thread_ts=1608708938.159900&channel=CV2KM39KR&message_ts=1609277674.169700) and figured I should write up the context instead of randomly dumping a query

[2020-12-30 00:59] pwildenhain commented on #315
Ah my bad, I was thinking of a _different_ violation that this used to flag -- cary on!

[2020-12-30 16:37] pwildenhain commented on #522
FYI @nolanbconaway I acutally just had a use case where I needed to fix from stdin, so you're not alone! Thanks for pioneering this 💯

[2020-12-30 16:52] dmateusp commented on #315
What about changing the name of the issue (since it doesn't have to do with the Extract function), and specifying that we're now trying to add flexibility to L029?

I'd be ok with a rule specific config to allow some keyword to be used as identifiers:
[code]

or something of the sort

[2020-12-30 19:28] jars commented on #651
@NiallRees, I'm currently having issues using your alternative. Are you able to shed some light on https://sqlfluff.slack.com/archives/C01GX4L213J/p1608169058075100 ?

[2020-12-30 19:33] barrywhart commented on #315
I see your point about configuration, but I'm wondering if this could (should) be something "built in" to each dialect rather than being an end-user configuration setting.

I just noticed [this code](https://github.com/sqlfluff/sqlfluff/blob/master/src/sqlfluff/core/dialects/dialect_bigquery.py#L56), where it looks like SQLFluff already knows about the various date-time units for BigQuery. This su

[2020-12-30 19:44] barrywhart commented on #315
I'm going to spend some time exploring in this area -- I'm hoping to clarify and narrow down our options. We have discussed a few different options here, all potentially valid, with varying degrees of generality. From an effort point of view, we might prefer to only do one of these, but there's a possibility doing more than one may result in a better overall parse tree and lint/fix quality. I'm to

[2020-12-30 20:06] barrywhart commented on #315
After thinking about it a bit more, I think for my own use case, I'm content to explicitly exclude rule L029 in my projects. Either of the options suggested above sounds potentially appealing. Do we currently know of other rules that users may want disabled by default? If so, the second option may be good. If not, the user configuration option seems better. I have no strong preference.

[2020-12-30 21:25] barrywhart commented on #613
I ran `sqlfluff fix` on the above file. I got 3 linting violations, and the third one caused the alias to be removed.
[code]

This seems like a bug, since the query does not actually use `JOIN`. Perhaps this should be a new issue. Just noting it here for now.

[2020-12-30 21:54] barrywhart commented on #613
I did some further investigation of this behavior...

As an experiment, I tried changing L011 to insert `"as"` rather than `"AS"`. This had no impact whatsoever on the output (it was capitalized regardless).

I believe what's happening is that L010 "wins", i.e. it sees the output of L01 and applies its own `capitalisation_policy` setting. In other words, the resulting `AS` will be upper or lower c

[2020-12-30 22:04] barrywhart commented on #627
I am no longer able to reproduce this issue, even by going back to the code as of early December.

@AdityaSidharta, I see you added a "thumbs up" emoji to this issue. Are you still seeing this behavior?

[2020-12-30 23:01] barrywhart commented on #646
I have a PR #652 which I believe fixes the issue.

[2020-12-31 07:17] satish-ravi commented on #417
Hi, I tried running this with Hive, here are few example queries that failed with parsing:

[code]

Here are a couple of complex queries:
https://gist.github.com/satish-ravi/d2b4b7d6401961f03fd8d7087c74cfd7
https://gist.github.com/satish-ravi/4a169ed27c1ef6127f2e85133848b727

Here's the full language specification: https://cwiki.apache.org/confluence/display/Hive/LanguageManual

I am happy to cont

[2020-12-31 09:33] dmateusp commented on #417
hi @satish-ravi you can join us on Slack https://join.slack.com/t/sqlfluff/shared_invite/zt-js0wsnvo-78gEI0phW9_LiItXAiJcqQ for more synchronous communication if you'd wish, to get you started implementing a new Dialect :)

Here's some pointers:
* Platform specific dialects are all derived from a base dialect: the ANSI dialect: https://github.com/sqlfluff/sqlfluff/blob/master/src/sqlfluff/core/dia

[2020-12-31 17:48] barrywhart commented on #641
Can you provide a `file.sql` that reproduces this issue?

[2020-12-31 18:05] barrywhart commented on #610
I tested with:
* the latest code in `master` as of [today](https://github.com/sqlfluff/sqlfluff/pull/596/commits/ce673c5c7731c3c7e0fff76f77d49bc8e362d7f2)
* the code as of [December 3](https://github.com/sqlfluff/sqlfluff/pull/596/commits/2b7bc9db611cd5df893826f98fad61d289081d8a)

I ran `sqlfluff fix test.sql`. In both cases, the resulting SQL file was the same, and it didn't remove the alias on t

[2020-12-31 18:15] barrywhart commented on #347
PR #325 took a while to get working, but it is ready for review now. @ancoron, would you like to test or review the PR to see if it meets your needs? I think it is close, i.e. this works okay:

[code]

But I think we'll need some additional Postgres-specific dialect enhancements to support the additional syntax:
[code]

[2020-12-31 18:31] barrywhart commented on #345
Apparently, optional column lists in a CTE are part of the ANSI-99 specification, so they are not specific to Postgres.

* Wikipedia article which I believe is documenting the ANSI-99 standard: https://en.wikipedia.org/wiki/Hierarchical_and_recursive_queries_in_SQL#Common_table_expression
* SQL Server docs: https://docs.microsoft.com/en-us/sql/t-sql/queries/with-common-table-expression-transact-sq

[2020-12-31 18:49] barrywhart commented on #343
AFAICT, it is not supported by:
* [MySQL](https://dev.mysql.com/doc/refman/8.0/en/create-table.html): See `column_definition`
* [BigQuery](https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language#column_name_and_column_schema)
* [Snowflake](https://docs.snowflake.com/en/sql-reference/sql/create-table.html)

[2020-12-31 18:52] barrywhart commented on #299
+1 for providing a way to ignore overly long comment lines. It's not unusual for comments to involve formatting such as:
* Paragraph breaks
* `-` or `*` or similar characters for bullet or number lists

[2020-12-31 19:11] barrywhart commented on #357
This seems _slightly_ related to #315, where date part keywords are being flagged as bad column aliases.

I wonder... would it be reasonable for L027, before producing a lint warning, to see if the word is a keyword, and if so, do not emit a warning?

Pros:
* Avoids hardcoding function signatures into SQLFluff
* Could, if needed, handle keywords to vary per dialect-specific

Cons:
* Will allow use

[2020-12-31 19:13] barrywhart opened #653 "Parser crash using test query from issue #356"
Today I tested the first query in #356 using the latest code in `master`:
[code]

The parse crashed with:

[code]

[2020-12-31 19:26] barrywhart commented on #528
This issue is closely related to #357, in that both involve SQLFluff being "confused" by BigQuery's occasional use of certain keywords as function parameters. See that issue for some discussion of potential designs for addressing this.

[2020-12-31 19:37] barrywhart commented on #527
This issue is not specific to the two functions mentioned. BigQuery supports [Literal Coercion](https://cloud.google.com/bigquery/docs/reference/standard-sql/conversion_rules#literal_coercion), where string literals can be explicitly coerced to one of the following 4 types:
* `DATE`
* `DATETIME`
* `TIME`
* `TIMESTAMP`

This is a bit similar to Postgres `::` [casts](https://www.postgresql.org/docs/

[2020-12-31 19:52] barrywhart commented on #465
I think L003 already addresses bullet 1. L022 partly addresses bullet 3 -- it adds a blank line between CTEs, but _not_ after the CTE _inside_ the parentheses. Should we consider adding options to L022 so it can support either the current or the dbt convention? (FWIW, I'm _slightly_ opposed to requiring blank lines inside the parentheses, since SQLFluff already adds blank lines outside them. More

[2020-12-31 19:53] barrywhart commented on #430
Is this potentially related to #357? The keywords being discussed there are not exactly bare functions, but they do function similarly in some ways.

[2020-12-31 19:54] barrywhart commented on #357
Is this potentially related to #430? The keywords we're discussing here behave a _bit_ like bare functions.

[2020-12-31 19:55] barrywhart commented on #419
@bdelamotte: I just saw your note. Yes, please push up your branch. I will try and help with the issues you're seeing, and we can get others involved if necessary.

[2021-01-01 06:29] satish-ravi commented on #417
Thanks @dmateusp, I'll check these out and get started. Re HiveQL and spark SQL, I think it should be possible to derive one from the other. I plan to get started on HiveQL.

[2021-01-02 01:26] sti0 opened #654 "Add a command-line option for file encoding (was: File encoding is not respected)"
When fixing a file the encoding is maybe not respected and the fixed code is written with default system encoding. This leads in losing special chars etc.

E.g. the original file is a UTF-8 file, with the fix the code is written in CP1252 on Windows.

This happens because prior Python 3.9 `open()` uses the system default codepage, e.g. windows = cp1252. With Python 3.9 it's opened with UTF-8 encod

[2021-01-04 05:08] SunainaL commented on #649
@dorzey @sethwoodworth @rkm3 @Dandandan

[2021-01-04 15:21] MinchoG commented on #376
I am currently using latest stable version and I have this error. After reinstalling it is not working for me. After I run:
`sqlfluff lint models/5_WAREHOUSE/F_MIXPANEL_EVENTS.sql `
I get the following errors:
[code]

[2021-01-05 14:28] Juzov opened #656 "Update slack link"
The current link is currently not active

[2021-01-05 15:26] NiallRees commented on #656
Thank you @Juzov I'll update that, in the mean time here's one you can use! https://join.slack.com/t/sqlfluff/shared_invite/zt-knvv2a10-oZIKqGBFhldMcIkokaiv_w

[2021-01-05 15:46] #656 closed

[2021-01-05 23:42] #646 closed

[2021-01-05 23:45] barrywhart commented on #419
Assigned to myself. I'll begin by trying Brian's code.

[2021-01-05 23:51] barrywhart commented on #419
I confirm the behavior Brian saw, where it's adding `ASC` multiple times. Next, I added some simple logging and verified that the `LintFix` / `ASC` is being applied multiple times. I'll see if I can determine why.

[2021-01-06 00:20] barrywhart commented on #419
I found a bug in the fixing logic that causes `_eval()` to append `ASC` even if the column already specifies an order. Since SQLFluff has an outer loop that keeps running the rules on the output of the prior pass until no changes are produced or it hits a limit, this causes `ASC` to be appended several times. I tweaked the "reset" logic, and I think it's working correctly now. (Note: This is not f

[2021-01-06 12:47] barrywhart commented on #419
Correction -- I suggest one change to the "fix" -- I propose adding `ASC` to unspecified columns **if and only if** some columns **do** specify `ASC` or `DESC`. If **no** column explicitly specifies the sort order, do not make any changes. The intent is to correct ambiguities, and in my opinion, it's only ambiguous when there's a mix of specified and unspecified columns.

[2021-01-06 18:28] alanmcruickshank opened #658 "Document the intent of the ANSI dialect."
I think we should have it somewhere in the docs, maybe for contributors or inside Architecture, specified that the ANSI dialect is our base dialect and it hosts logic that is common across multiple languages, so it does not strictly represent the ANSI specification

_Originally posted by @dmateusp in https://github.com/sqlfluff/sqlfluff/pull/325#r550441316_

[2021-01-06 19:36] alanmcruickshank commented on #600
I think the comment I added to #603 about slicing and the missing bits is probably spot on in what's causing this issue. The templating code wasn't designed to deal with query *wrapping* like this because the bits aren't in the source at all.

@NiallRees - want me to pick this up or are those pointers enough for you to have a go?

[2021-01-07 05:11] davidwales opened #660 "T-SQL dialect (Microsoft SQL Server Transact-SQL)"
T-SQL support would be great for those of us stuck in MS Land! 😄

[2021-01-07 07:36] KimchaC commented on #660
+1 for me.

Is there a guide on how this could be implemented?

[2021-01-07 19:44] barrywhart commented on #660
I don't know about a guide, but if you look at existing files like dialect_bigquery.py or dialect_postgres.py, it'd be pretty similar. Essentially, each dialect is a Python module that specializes an existing"base" dialect module. In most cases, the base dialect is dialect_ansi.py, which is sort of the ANSI SQL standard with a few db-specific bits that may someday be moved to other dialects if nee

[2021-01-08 03:34] justinwagg opened #661 "Unexpected exception: tuple index out of range (L019)"
## Expected Behaviour

Including configuration
[code]
does not lead to critical exception.

## Observed Behaviour

Running `sqlfluff lint models/dwh/best_model.sql` with the config below causes exception.

[code]

Removing

[code]

fixes the issue.

## Steps to Reproduce

Model:
[code]

[code]

## Version
Include the output of `sqlfluff --version` along with your Python version
[code]

## Configur

[2021-01-09 01:08] Elliot2718 opened #662 "Rule L014 does not recognize capitalisation_policy = capitalise"
## Expected Behaviour
The [documentation ](https://docs.sqlfluff.com/en/stable/rules.html#sqlfluff.rules.std.Rule_L014) states that rule L014 should allow 'capitalise' as a parameter.

## Observed Behaviour
Using 'capitalise' as a parameter results in a ValueError, while using any one of ‘consistent’, ‘upper’, or ‘lower’ is successful.

## Steps to Reproduce

Create a file called `test.sql` contai

[2021-01-09 16:14] joaoheron commented on #376
I'm facing this same issue.

[2021-01-09 17:58] joaoheron commented on #376
I'm facing this same issue, but only on Bitbucket Pipelines environment. Local execution works fine.

[2021-01-09 18:18] joaoheron commented on #376
Just find a workaround. Install sqlfluff without aiming for a specific version. Simply `pip install  sqlfluff ` and it will do.

[2021-01-09 23:59] philipherrmann opened #667 "array_agg(x IGNORE NULLS) is unparseable - dialect bigquery"
With the following piece of test sql for BigQuery, one can produce an unparsable section error:
[code]
## Expected Behaviour

Expected test SQL to be parseable, as "IGNORE NULL" appears to be valid according to https://cloud.google.com/bigquery/docs/reference/standard-sql/aggregate_functions#array_agg and is understood from BQ.

## Observed Behaviour

== [test.sql] FAIL
L:   3 | P:   5 |  PRS | Fo

[2021-01-10 16:52] MinchoG commented on #376
I disagree, it does not work with me, I will open an issue

[2021-01-10 17:23] MinchoG opened #668 "IndexError: tuple index out of range"
When trying to fix a 758 rows (another file is of 40 rows, so I doubt it is the length) of sql model that has both jinja and sql I get the quoted error below. I have an .sqlfile that has some macros defined and max_lline_lengthh = 160.
File starts like:
[code]

[code]

## Expected Behaviour
To lint .sql file
## Observed Behaviour
Throws error as quoted.
## Steps to Reproduce
I have 3.9.1 python re

[2021-01-10 17:47] joaoheron commented on #376
@MinchoG also you must be sure that your pip version is up to date.
`pip install -U pip`

[2021-01-10 19:26] MinchoG commented on #376
pip install -U pip
Requirement already satisfied: pip in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (20.3.3)

[2021-01-10 19:27] MinchoG commented on #376
https://github.com/sqlfluff/sqlfluff/issues/668

[2021-01-10 22:30] barrywhart opened #669 "RecursionError parsing a query with lots of relational operators"
-- If this is a parsing or linting issue, please include a minimal SQL example which reproduces the issue, along with the `sqlfluff parse` output, `sqlfluff lint` output and `sqlfluff fix` output when relevant. Finally, please add any labels that are related to the issue before submitting so that it can be addressed easily! --

NOTEs:
* I discovered this issue when testing #325. It's not a real-wo

[2021-01-11 13:55] alanmcruickshank commented on #669
I'm not suprised that it's possible to reach a recursion limit with very complicated queries, **however** I am suprised that _this_ query triggered that. If it was lots of nested brackets then fine, but this shouldn't be a recursive statement. In my head this should be parsed as either one long expression, or potentially a two layer nested structure.

Thanks for posting this as an issue, while I d

[2021-01-11 14:52] barrywhart commented on #669
@alanmcruickshank: Exactly! I see this as kind of a "tech debt"/low-priority bug. Addressing this if and when convenient may avoid some future actual issues, and could surface some good opportunities to improve the design.

[2021-01-11 14:55] barrywhart commented on #669
I also want to note that I didn't write this query by hand. I used a tool called Hypothesis that generates test data **randomly**, but once it finds a problem, it narrows down the problem to find a minimal test case. So it was actually Hypothesis that chose to use all `<` and `AND`, and it was Hypothesis that found the limit: 33 works, 34 doesn't. It could turn out to be a pretty valuable tool for

[2021-01-11 15:53] barrywhart commented on #430
Closed via #665

[2021-01-11 15:53] #430 closed

[2021-01-11 16:48] drewmcdonald commented on #661
I came across this, as well -- I think this is an interaction between the `comma_style = leading` configuration and the presence of whitespace at the head of a file.

This applies when the whitespace is hard coded and when it's left behind by templating (as in @justinwagg's example), but not when jinja whitespace removal is used.

### Statements

#### Fails:
[code]

#### Fails:
[code]

#### Succee

[2021-01-11 16:50] drewmcdonald commented on #668
I've added a more tightly scoped example to #661. Hope that helps!

[2021-01-11 16:50] drewmcdonald commented on #376
Also #661.

[2021-01-11 17:12] alanmcruickshank opened #674 "Master is failing tests due to dbt_utils upgrade"
While debugging #673 I ran into this issue. Due to upgraded dbt utils from `0.6.3` to `0.6.4` some of the test cases are failing. I'm not sure why this should be the case however as their changelog suggests no breaking changes (https://github.com/fishtown-analytics/dbt-utils/releases).

## Expected Behaviour
All tests pass

## Observed Behaviour
The test case `dbt017-py38` is failing.

## Version

[2021-01-11 17:20] NiallRees commented on #600
@alanmcruickshank Happy to have a go myself, though it won't be for a few days likely. If you get there first I'm happy with that too :)

[2021-01-11 17:49] NiallRees commented on #600
Having just looked a bit further into the code - I think it will take me so long to get my head around it it might not be worth it as you wrote it relatively recently. I'll keep my efforts focused where I can contribute more effectively for now - you ok to pick this one up?

[2021-01-11 18:37] pwildenhain commented on #662
Can you try upgrading to the latest pre-release `pip install --pre sqlfluff` and see if the issue perisits?

[2021-01-11 23:48] #246 closed

[2021-01-11 23:48] #337 closed

[2021-01-12 17:16] Elliot2718 commented on #662
@pwildenhain thanks for looking at this. Yes, that solves the issue.

I upgraded to the pre-release: `pip install --upgrade sqlfluff --pre`

and it ran:

[code]

[2021-01-12 17:36] pwildenhain commented on #662
Great, glad it's working for you -- feel free to close it out 👍

[2021-01-12 18:06] Elliot2718 commented on #662
Closing this based on above conversation.

[2021-01-12 18:06] #662 closed

[2021-01-12 19:07] MinchoG commented on #661
@drewmcdonald I have removed all whitespaces and continue to receive such an error. I would like to share with you the code snipet in slack and reconsider options to see what the issue is.

[2021-01-12 19:08] MinchoG commented on #668
I have removed all whitespaces on macros and continue to receive such an error, can we discuss it privately to show code snippet and consider options to solve this, please?

[2021-01-12 21:40] pwildenhain opened #677 "L036 false positive when "select distinct" is used"
## Expected Behaviour

L036 (Select targets should be on a new line unless there is only one select target) allows the `distinct` clause on the same line as the `select` clause since it's not a select target

## Observed Behaviour

test.sql
[code]

[code]

🤔 I would wager it's a problem with the rule itself, since it seems to parse correctly
[code]

## Version
sqlfluff, version 0.4.0a3
Python 3.8.

[2021-01-13 22:43] dmateusp opened #680 "Separate rules into individual files"
I've hit an issue with my contribution on https://github.com/sqlfluff/sqlfluff/pull/577 (L035) where git was mixing up my issue with a newer issue (L036) when rebasing my branch.

Another issue that came up is that another rule https://github.com/sqlfluff/sqlfluff/pull/678 was started with the identifier L035 which is technically free since my PR was not merged yet.
One of those contributions will

[2021-01-13 23:04] barrywhart commented on #680
I agree -- `std.py` has become way too large: about 3,500 lines and counting. I'm happy to rename "my" L035 if needed.

[2021-01-13 23:21] alanmcruickshank commented on #680
yes yes yes yes. I totally agree.

I *think* @NiallRees might have started this, or did we just talk about it?

[2021-01-13 23:22] #539 closed

[2021-01-13 23:26] alanmcruickshank commented on #680
And as for numbering, given @barrywhart has volunteered, lets have:

Rule 37: https://github.com/sqlfluff/sqlfluff/pull/678
Rule 35: https://github.com/sqlfluff/sqlfluff/pull/577

[2021-01-13 23:50] #536 closed

[2021-01-13 23:51] #674 closed

[2021-01-14 00:35] barrywhart commented on #680
Is there a plan for what things look like after the breakup? I'm wondering if:
* We plan to have the rule numbers as part of the file/module names or not.
* Will the individual rule modules need to be import-ed by some higher-level `.py` file, or will they be auto-discovered somehow.

If we can do it well, I'm inclined towards "not" and "auto-discover".

[2021-01-14 01:04] alanmcruickshank commented on #680
Yes. I have no idea *how* we do this, but that would also be my preference too. My only caveat to that is that we should ensure that once a rule has a code, that it's static, because users will build configurations around those codes, and if the auto-discovery keeps reordering them somehow, that would be a real pain.

The next best thing to this would be to make sure the rule code is only defined

[2021-01-14 01:12] barrywhart commented on #680
100% agree with this. Earlier, I neglected to mention that I suggest the rule numbers be represented somehow in the code, e.g. get the rule number from the rule's class name, a module-level constant, or something like that.

As for auto-discovery, we can probably adapt whatever techniques are used by automated testing frameworks. I did something years ago, and IIRC, essentially it's something like